:host {
  display: flex;
}

.handle {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  padding: var(--calcite-spacing-three-quarters) var(--calcite-spacing-quarter);
  background-color: var(--calcite-ui-foreground-3);
  background-color: transparent;
  border: none;
  color: var(--calcite-ui-border-3);
  line-height: 0;
  cursor: move;
  &:hover {
    background-color: var(--calcite-ui-foreground-2);
    color: var(--calcite-app-foreground);
  }
  @include focus-style-base();
  &:focus {
    color: var(--calcite-ui-text-1);
    @include focus-style-inset();
  }
  &--activated {
    background-color: var(--calcite-ui-foreground-3);
    color: var(--calcite-ui-text-1);
  }
}
