:host {
  @extend %component-host;

  @apply flex
  flex-col
  py-2
  px-0;

  --column-count: 3;
}

:host([column-count="1"]) {
  --column-count: 1;
}
:host([column-count="2"]) {
  --column-count: 2;
}
:host([column-count="3"]) {
  --column-count: 3;
}
:host([column-count="4"]) {
  --column-count: 4;
}
:host([column-count="5"]) {
  --column-count: 5;
}
:host([column-count="6"]) {
  --column-count: 6;
}

:host(:first-child) {
  @apply pt-0;
}

:host([layout="grid"]) {
  @apply bg-background
  grid
  gap-px
  place-content-stretch
  p-px;
  
  grid-template-columns: repeat(var(--column-count), auto);
  
}

::slotted(calcite-action) {
  @apply flex w-full;
}
