@include floatingUIHost();
@include floatingUIArrow();

:host {
  @apply pointer-events-none;
}

:host([open]) {
  pointer-events: initial;
}

.calcite-floating-ui-anim {
  @apply bg-foreground-1
    border-color-3
    rounded
    border
    border-solid;
}

.arrow::before {
  outline: 1px solid var(--calcite-ui-border-3);
}

.header {
  @apply border-b-color-3
    bg-foreground-1
    flex
    flex-auto
    items-stretch
    justify-start
    border-0
    border-b
    border-solid;
}

.heading {
  @apply text-color-1
  text-0-wrap
  word-break
  m-0
  block
  flex-auto
  self-center
  whitespace-normal
  px-4
  py-3
  font-medium;
}

.container {
  @apply bg-foreground-1
    text-color-1
    relative
    flex
    h-full
    flex-row
    flex-nowrap
    rounded;
  &.has-header {
    @apply flex-col;
  }
}

.content {
  @apply word-break
  flex
  h-full
  w-full
  flex-col
  flex-nowrap
  self-center;
}

.close-button-container {
  @apply flex overflow-hidden;
  flex: 0 0 auto;
  border-start-end-radius: theme("borderRadius.DEFAULT");
  border-end-end-radius: theme("borderRadius.DEFAULT");
}

::slotted(calcite-panel),
::slotted(calcite-flow) {
  @apply h-full;
}
