:host {
  @extend %component-host;
  position: relative;
  display: flex;
  flex-flow: column;
  background-color: transparent;

  --tip-content-only-width: 100%;
  --tip-content-width: 70%;
  --tip-image-frame-width: 25%;
  --tip-image-max-width: 100%;
}

.container {
  background-color: var(--calcite-ui-foreground-1);
  padding: var(--calcite-spacing-half) var(--calcite-spacing) var(--calcite-spacing);
  margin: var(--calcite-spacing) var(--calcite-spacing);
  border: solid 1px var(--calcite-ui-border-2);
  border-radius: var(--calcite-border-radius);
}

:host([selected]) .container {
  border: none;
  margin: 0;
  padding: 0;
}

@import "../../assets/styles/header";

.header {
  justify-content: flex-end;
}

.header .heading {
  padding-left: 0;
  padding-right: 0;
}

.container[hidden] {
  display: none;
}

.content {
  display: flex;
  padding-top: var(--calcite-spacing-half);
}

.info {
  padding: 0 var(--calcite-spacing);
  width: var(--tip-content-width);
  &:only-child {
    width: var(--tip-content-only-width);
    padding-left: 0;
    padding-right: 0;
  }
}

::slotted(p) {
  margin-top: 0;
}

::slotted(a) {
  color: var(--calcite-ui-blue-1);
  @include focus-style-base();
}

::slotted(a:focus) {
  @include focus-style-outset();
}

.image-frame {
  width: var(--tip-image-frame-width);
  img {
    max-width: var(--tip-image-max-width);
  }
}

::slotted(img) {
  max-width: var(--tip-image-max-width);
}
