:host {
  @extend %component-host;
  @extend %component-spacing;
  position: relative;
  display: flex;
  flex-flow: row;
  margin: var(--calcite-spacing) var(--calcite-spacing);
  border: solid 1px var(--calcite-ui-border-2);

  --tip-content-only-width: 100%;
  --tip-content-width: 70%;
  --tip-image-frame-width: 25%;
  --tip-image-max-width: 100%;
}

.container {
  padding: var(--calcite-spacing);
}

:host([selected]) .container {
  border: none;
  margin: 0;
  padding: 0;
}

@import "../../assets/styles/header";

.header {
  margin-bottom: var(--calcite-spacing-half);
}
.header .heading {
  color: var(--calcite-ui-text-2);
  padding: 0;
}

.container[hidden] {
  display: none;
}

.content {
  display: flex;
}

.info {
  padding: 0 var(--calcite-spacing);
  width: var(--tip-content-width);
  &:only-child {
    width: var(--tip-content-only-width);
    padding-left: 0;
    padding-right: 0;
  }
}

::slotted(p) {
  margin-top: 0;
}

::slotted(a) {
  color: var(--calcite-ui-brand);
  @include focus-style-base();
}

::slotted(a:focus) {
  @include focus-style-outset();
}

.image-frame {
  width: var(--tip-image-frame-width);
  img {
    max-width: var(--tip-image-max-width);
  }
}

::slotted(img) {
  max-width: var(--tip-image-max-width);
}
