:host {
  position: relative;
  justify-content: center;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 100;
  width: 50em;
  max-width: 90%;
  border-radius: 2px;
  background-color: black;
  box-shadow: 0 0 12px 0 rgba(black, 0.15);
  height: 0;
  opacity: 0;
  overflow: visible;
  display: flex;
  border-top: 3px solid;
  transition: visibility 0ms linear 300ms, opacity 300ms $easing-function,
    all 0.15s ease-in-out;
  transform: translate3d(0, $baseline, 0);
  pointer-events: none;
  border-width: 0px;
}

:host slot[name="alert-title"]::slotted(div) {
  display: block;
  font-weight: 500;
  font-size: 16px;
}

:host slot[name="alert-link"]::slotted(a) {
  display: inline-block;
  font-size: 15px;
  color: black;
}

:host slot[name="alert-message"]::slotted(div) {
  font-size: 15px;
  color: black;
  display: inline;
  margin-inline-end: $baseline/2;
}

:host([theme="dark"]) {
  background-color: $darkest-gray;
}

:host([theme="dark"]) slot[name="alert-title"]::slotted(div) {
  color: black;
}

:host([theme="dark"]) slot[name="alert-message"]::slotted(div) {
  color: black;
}
