@use "../../styles/includes";

:host {
  @extend %component-host;
  @apply align-top inline-block overflow-visible w-full border-solid border;
  border-color: var(--calcite-date-picker-border-color, var(--calcite-color-border-3));
  border-radius: var(--calcite-date-picker-corner-radius, var(--calcite-corner-radius));
}

:host([scale="s"]) {
  inline-size: 236px;
  min-inline-size: 216px;
  max-inline-size: 380px;
}

:host([scale="s"][range][layout="horizontal"][calendars="2"]) {
  inline-size: 480px;
  min-inline-size: 432px;
  max-inline-size: 772px;
}

:host([scale="m"]) {
  inline-size: 298px;
  min-inline-size: 272px;
  max-inline-size: 480px;
}

:host([scale="m"][layout="horizontal"][range][calendars="2"]) {
  inline-size: 608px;
  min-inline-size: 544px;
  max-inline-size: 972px;
}

:host([scale="l"]) {
  inline-size: 334px;
  min-inline-size: 320px;
  max-inline-size: 600px;
}

:host([scale="l"][layout="horizontal"][range][calendars="2"]) {
  inline-size: 684px;
  min-inline-size: 640px;
  max-inline-size: 1212px;
}

// prevents focus ring from showing when Shift key press succeed click on non-interactive area
.container {
  @apply outline-none;
}

@include includes.base-component();
