/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-action-menu-action-background-color: defines the background color of an action sub-component inside the component.
 * @prop --calcite-action-menu-action-indicator-color: defines the indicator color of an action sub-component inside the component.
 * @prop --calcite-action-menu-action-text-color: defines the text color of an action sub-component inside the component.
 * @prop --calcite-action-menu-action-background-color-hover: defines the background color of an action sub-component when hovered or focused inside the component.
 * @prop --calcite-action-menu-action-indicator-color-hover: defines the indicator color of an action sub-component when hovered or focused inside the component.
 * @prop --calcite-action-menu-action-text-color-hover: defines the text color of an action sub-component when hovered or focused inside the component.
 * @prop --calcite-action-menu-action-background-color-active: defines the background color of an action sub-component when active inside the component.
 * @prop --calcite-action-menu-action-indicator-color-active: defines the indicator color of an action sub-component when active inside the component.
 * @prop --calcite-action-menu-action-text-color-active: defines the text color of an action sub-component when active inside the component.
 * @prop --calcite-action-menu-group-separator-border-color: The border color of the sub-component.
 * @prop --calcite-action-menu-popover-background-color: defines the background color of the sub-component.
 * @prop --calcite-action-menu-popover-border-color: defines the border color of the sub-component.
 * @prop --calcite-action-menu-popover-corner-radius: defines the corner radius of the sub-component.
 * @prop --calcite-action-menu-popover-shadow: defines the shadow of the component.
 * @prop --calcite-action-menu-popover-text-color: defines the text color of the sub-component.
 */

:host {
  @apply text-1
  box-border
  flex
  flex-col;
}

::slotted(calcite-action-group) {
  border-block-end-style: solid;
  border-block-end-width: var(--calcite-border-width-sm);
  border-block-end-color: var(--calcite-action-menu-group-separator-border-color, var(--calcite-color-border-3));
}

::slotted(calcite-action-group:last-child) {
  border-block-end: var(--calcite-border-width-none);
}

.default-trigger {
  @apply relative
  flex-initial
  self-stretch;
  block-size: var(--calcite-container-size-content-fluid);
}

@include slotted("trigger", "calcite-action") {
  @apply relative
  flex-initial
  self-stretch;
  block-size: var(--calcite-container-size-content-fluid);
}

.menu {
  @apply flex-col
  flex-nowrap
  outline-none
  overflow-y-auto
  overflow-x-hidden
  max-h-menu;
}

calcite-action {
  --calcite-action-indicator-color: var(--calcite-action-menu-action-indicator-color);
  --calcite-action-background-color: var(--calcite-action-menu-action-background-color);
  --calcite-action-text-color: var(--calcite-action-menu-action-text-color);

  &:hover,
  &:focus {
    --calcite-action-indicator-color: var(--calcite-action-menu-action-indicator-color-hover);
    --calcite-action-background-color: var(--calcite-action-menu-action-background-color-hover);
    --calcite-action-text-color: var(--calcite-action-menu-action-text-color-hover);
  }

  &:active {
    --calcite-action-indicator-color: var(--calcite-action-menu-action-indicator-color-active);
    --calcite-action-background-color: var(--calcite-action-menu-action-background-color-active);
    --calcite-action-text-color: var(--calcite-action-menu-action-text-color-active);
  }
}

calcite-popover {
  --calcite-popover-background-color: var(--calcite-action-menu-popover-background-color);
  --calcite-popover-border-color: var(--calcite-action-menu-popover-border-color);
  --calcite-popover-corner-radius: var(--calcite-action-menu-popover-corner-radius);
  --calcite-popover-shadow: var(--calcite-action-menu-popover-shadow);
  --calcite-popover-text-color: var(--calcite-action-menu-popover-text-color);
}

@include base-component();
