/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-action-menu-close-background-color-active: Specifies the background color of an action sub-component when active inside the component.
 * @prop --calcite-action-menu-close-background-color-hover: Specifies the background color of an action sub-component when hovered or focused inside the component.
 * @prop --calcite-action-menu-close-background-color: Specifies the background color of an action sub-component inside the component.
 * @prop --calcite-action-menu-close-icon-color-active: Specifies the component's close icon color when active.
 * @prop --calcite-action-menu-close-icon-color-hover: Specifies the component's close icon color on hover.
 * @prop --calcite-action-menu-close-icon-color: Specifies the component's close icon color.
 * @prop --calcite-action-menu-close-text-color-active: Specifies the text color of an action sub-component when active inside the component.
 * @prop --calcite-action-menu-close-text-color-hover: Specifies the text color of an action sub-component when hovered or focused inside the component.
 * @prop --calcite-action-menu-close-text-color: Specifies the text color of an action sub-component inside the component.
 * @prop --calcite-action-menu-popover-background-color: Specifies the background color of the component.
 * @prop --calcite-action-menu-popover-border-color: Specifies the border color of the component.
 * @prop --calcite-action-menu-popover-corner-radius: Specifies the corner radius of the component.
 * @prop --calcite-action-menu-popover-shadow: Specifies the shadow of the component.
 * @prop --calcite-action-menu-popover-text-color: Specifies the text color of the component.
 * @prop --calcite-action-menu-trigger-background-color-active: Specifies the background color of the component's default trigger when active.
 * @prop --calcite-action-menu-trigger-background-color-focus: Specifies the background color of the component's default trigger when focused.
 * @prop --calcite-action-menu-trigger-background-color-hover: Specifies the background color of the component's default trigger when hovered.
 * @prop --calcite-action-menu-trigger-background-color: Specifies the background color of the component.
 * @prop --calcite-action-menu-trigger-icon-color-active: Specifies the background color of the component's default trigger when active.
 * @prop --calcite-action-menu-trigger-icon-color-focus: Specifies the background color of the component's default trigger when focused.
 * @prop --calcite-action-menu-trigger-icon-color-hover: Specifies the background color of the component's default trigger when hovered.
 * @prop --calcite-action-menu-trigger-icon-color: Specifies the color of the component's icon.
 * @prop --calcite-action-menu-trigger-indicator-color: Specifies the color of the component's indicator.
 * @prop --calcite-action-menu-trigger-loader-color: Specifies the color of the component's loader.
 * @prop --calcite-action-menu-trigger-shadow: Specifies the shadow of the component.
 * @prop --calcite-action-menu-trigger-text-color-active: Specifies the background color of the component's default trigger when active.
 * @prop --calcite-action-menu-trigger-text-color-focus: Specifies the background color of the component's default trigger when focused.
 * @prop --calcite-action-menu-trigger-text-color-hover: Specifies the background color of the component's default trigger when hovered.
 * @prop --calcite-action-menu-trigger-text-color: Specifies the text color of the component.
 *
 */

:host {
  @apply text-1
  box-border
  flex
  flex-col;
}

calcite-action {
  --calcite-action-background-color: var(--calcite-action-menu-trigger-background-color);
  --calcite-action-text-color: var(--calcite-action-menu-trigger-text-color);
  --calcite-action-icon-color: var(--calcite-action-menu-trigger-icon-color);
  --calcite-action-shadow: var(--calcite-action-menu-trigger-shadow);
  --calcite-action-indicator-color: var(--calcite-action-menu-trigger-indicator-color);
  --calcite-action-loader-color: var(--calcite-action-menu-trigger-loader-color);

  &:hover {
    --calcite-action-background-color: var(--calcite-action-menu-trigger-background-color-hover);
    --calcite-action-text-color: var(--calcite-action-menu-trigger-text-color-hover);
    --calcite-action-icon-color: var(--calcite-action-menu-trigger-icon-color-hover);
  }
  &:focus {
    --calcite-action-background-color: var(--calcite-action-menu-trigger-background-color-focus);
    --calcite-action-text-color: var(--calcite-action-menu-trigger-text-color-focus);
    --calcite-action-icon-color: var(--calcite-action-menu-trigger-icon-color-focus);
  }
  &:active {
    --calcite-action-background-color: var(--calcite-action-menu-trigger-background-color-active);
    --calcite-action-text-color: var(--calcite-action-menu-trigger-text-color-active);
    --calcite-action-icon-color: var(--calcite-action-menu-trigger-icon-color-active);
  }
}

calcite-popover {
  --calcite-popover-background-color: var(--calcite-action-menu-popover-background-color);
  --calcite-popover-border-color: var(--calcite-action-menu-popover-border-color);
  --calcite-popover-close-background-color-active: var(
    --calcite-action-menu-close-background-color-active,
    var(--calcite-action-menu-trigger-background-color-active)
  );
  --calcite-popover-close-background-color-hover: var(
    --calcite-action-menu-close-background-color-hover,
    var(--calcite-action-menu-trigger-background-color-hover)
  );
  --calcite-popover-close-background-color: var(
    --calcite-action-menu-close-background-color,
    var(--calcite-action-menu-trigger-background-color)
  );
  --calcite-popover-close-icon-color-active: var(--calcite-action-menu-close-icon-color-active);
  --calcite-popover-close-icon-color-hover: var(--calcite-action-menu-close-icon-color-hover);
  --calcite-popover-close-icon-color: var(--calcite-action-menu-close-icon-color);
  --calcite-popover-close-text-color-active: var(
    --calcite-action-menu-close-text-color-active,
    var(--calcite-action-menu-trigger-text-color-active)
  );
  --calcite-popover-close-text-color-hover: var(
    --calcite-action-menu-close-text-color-hover,
    var(--calcite-action-menu-trigger-text-color-hover)
  );
  --calcite-popover-close-text-color: var(
    --calcite-action-menu-close-text-color,
    var(--calcite-action-menu-trigger-text-color)
  );
  --calcite-popover-corner-radius: var(--calcite-action-menu-popover-corner-radius);
  --calcite-popover-shadow: var(--calcite-action-menu-popover-shadow);
  --calcite-popover-text-color: var(
    --calcite-action-menu-popover-text-color,
    var(--calcite-action-menu-trigger-text-color)
  );
}

.default-trigger {
  @apply relative
  flex-initial
  self-stretch;
  block-size: var(--calcite-container-size-content-fluid);
}

.menu {
  @apply flex-col
  flex-nowrap
  outline-none
  overflow-y-auto
  overflow-x-hidden
  max-h-menu;
}

@include slotted("trigger", "calcite-action") {
  @apply relative
  flex-initial
  self-stretch;

  block-size: var(--calcite-container-size-content-fluid);
}

@include base-component();
