$font-weight--medium: 500;
$section-label-bottom-padding: 2px;
$inline-button-size: 24px;
$color-mode-selected-border-height: 3px;
$channel-input-offset: 30%;

:host {
  border: 1px solid var(--calcite-ui-border-1);
  display: inline-block;
  background-color: var(--calcite-ui-foreground-1);
}

:host([scale="s"]) {
  width: 170px;
}

:host([scale="m"]) {
  width: 240px;
}

:host([scale="l"]) {
  width: 370px;

  .control-section {
    flex-wrap: nowrap;
  }

  .color-hex-options {
    flex-basis: 33%;
    flex-grow: 0;
  }

  .color-mode-container {
    margin-top: 0;
    flex-grow: 0.5;
    width: 60%;
  }
}

.color-field-and-slider {
  margin-bottom: -40px;

  &--interactive {
    cursor: pointer;
  }
}

.control-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  padding: 16px 10px 0;
}

.control-section {
  display: flex;
  justify-content: space-between;
}

.saved-colors-section {
  padding-bottom: 16px;
}

.color-hex-options {
  flex-grow: 1;
}

.section--split {
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--calcite-ui-text-3);
  font-weight: $font-weight--medium;
  @include font-size(-2);

  &.header--underlined {
    border-bottom: 1px solid var(--calcite-ui-border-1);
  }
}

.header--hex {
  line-height: 1.5;
  font-size: 0.875rem;
  padding: 0.75rem 0;
  padding-bottom: 15px;
  //padding-bottom: $section-label-bottom-padding + $color-mode-selected-border-height - 1px;
}

.control {
  margin-top: 8px;
}

.channels {
  display: flex;
  justify-content: space-between;
}

.channel {
  width: 30%;
  display: inline-block;
}

.saved-colors {
  display: flex;
  flex-wrap: wrap;
}

calcite-color-swatch {
  @include focus-style-base();

  cursor: pointer;
  margin: 4px 8px 0 0;

  &:focus {
    @include focus-style-outset();
  }

  &:hover {
    transition: outline-color 100ms ease-in-out;
    outline: 2px solid var(--calcite-ui-border-2);
    outline-offset: 2px;
  }
}

.delete-color {
  margin: 0 8px;
}

.save-color,
.delete-color {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include focus-style-base();

  height: $inline-button-size;
  width: $inline-button-size;

  &:active,
  &:focus,
  &:hover {
    background-color: #ddd;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    @include focus-style-outset();
  }
}
