/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-table-header-background: [Deprecated] in v3.3.0, removal target v6.0.0 - Use `--calcite-table-header-background-color` instead. Specifies the component's background color.
 * @prop --calcite-table-header-background-color: Specifies the component's background color.
 * @prop --calcite-table-header-border-color: Specifies the component's border color.
 * @prop --calcite-table-header-heading-text-color: Specifies the component's `heading` text color.
 * @prop --calcite-table-header-description-text-color: Specifies the component's `description` text color.
 */

@use "../../styles/includes";

:host {
  display: contents;
}

:host([alignment="center"]) th {
  text-align: center;
}

:host([alignment="end"]) th {
  text-align: end;
}

.assistive-text {
  position: absolute;
  inline-size: var(--calcite-space-px);
  block-size: var(--calcite-space-px);
  padding: 0;
  margin: calc(-1 * var(--calcite-space-px));
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: var(--calcite-border-width-none);
}

th {
  text-align: start;
  font-weight: var(--calcite-font-weight-medium);
  vertical-align: top;
  white-space: normal;
  border-block-end: var(--calcite-border-width-sm) solid
    var(--calcite-table-header-border-color, var(--calcite-table-border-color, var(--calcite-color-border-2)));
  padding-block: calc(var(--calcite-internal-table-cell-padding) * 1.5);
  padding-inline: var(--calcite-internal-table-cell-padding);
  background-color: var(
    --calcite-table-header-background-color,
    var(--calcite-table-header-background, var(--calcite-color-foreground-2))
  );
  font-size: var(--calcite-internal-table-cell-font-size);
  border-inline-end: var(--calcite-border-width-sm) solid
    var(--calcite-table-cell-border-color, var(--calcite-table-border-color, var(--calcite-color-border-2)));
  &:not(.static-cell) {
    outline-color: transparent;
    &:not(.static-cell):focus-within {
      outline: var(--calcite-border-width-md) solid
        var(--calcite-color-focus, var(--calcite-ui-focus-color, var(--calcite-color-brand)));
      outline-offset: calc(
        calc(-1 * var(--calcite-spacing-base)) * calc(1 - 2 * clamp(0, var(--calcite-offset-invert-focus), 1))
      );
    }
  }
}

th:not(.body-row):not(.footer-row) {
  border-block-end-width: var(--calcite-internal-table-header-border-block-end-width, var(--calcite-border-width-sm));
  box-shadow: var(--calcite-internal-table-sticky-header-border-shadow, 0 0 0 0 transparent);
}

th:not(.center):not(.end).content-cell {
  vertical-align: top;
}

th.center {
  vertical-align: middle;
}

th.end.content-cell {
  vertical-align: bottom;
}

th.body-row,
th.footer-row {
  padding-block: var(--calcite-internal-table-cell-padding);
  border-block-end: 0;
}

th.footer-row {
  border-block-start: var(--calcite-border-width-sm) solid
    var(--calcite-table-header-border-color, var(--calcite-table-border-color, var(--calcite-color-border-2)));
}

th.last-cell {
  border-inline-end: 0;
}

.cell--multiple-selection {
  cursor: pointer;
  vertical-align: middle;
  color: var(--calcite-table-selection-cell-icon-color, var(--calcite-color-text-3));
  background-color: var(--calcite-table-selection-cell-background-color, var(--calcite-color-foreground-2));
  &.selected-cell {
    background-color: var(--calcite-table-selection-cell-background-color-selected, var(--calcite-color-foreground-2));
  }
  &:not(.end) {
    vertical-align: middle;
  }
}

.number-cell {
  background-color: var(
    --calcite-table-number-cell-background-color,
    var(--calcite-table-cell-background-color, var(--calcite-color-foreground-2))
  );
}

.number-cell,
.selection-cell {
  inline-size: 2rem;
  min-inline-size: 2rem;
}

.selection-cell calcite-icon.active {
  color: var(--calcite-table-selection-cell-icon-color-selected, var(--calcite-color-brand));
}
.number-cell calcite-icon,
.selection-cell calcite-icon {
  margin-inline-start: auto;
  margin-inline-end: auto;
  vertical-align: middle;
}

.heading {
  color: var(--calcite-table-header-heading-text-color, var(--calcite-color-text-1));
}

.description {
  color: var(--calcite-table-header-description-text-color, var(--calcite-color-text-3));
  font-size: var(--calcite-internal-table-cell-font-size-secondary);
}
