:host([alignment="start"]),
:host([alignment="end"]) .calcite--rtl {
  @apply text-left;
}

:host([alignment="end"]),
:host([alignment="start"]) .calcite--rtl {
  @apply text-right;
}

:host([alignment="center"]) {
  @apply text-center;
}

:host([scale="s"]) {
  label {
    @apply text--2h mb-2;
  }
}
:host([scale="m"]) {
  label {
    @apply text--1h mb-3;
  }
}
:host([scale="l"]) {
  label {
    @apply text-0h mb-4;
  }
}

:host label {
  @apply cursor-pointer
    w-full
    mt-0
    mr-0
    ml-0
    leading-snug;
}

:host([layout="default"]) {
  label {
    @apply flex flex-col gap-1;
  }
}

:host([layout="inline"]),
:host([layout="inline-space-between"]) {
  label {
    @apply flex items-center flex-row gap-2;
  }
}
:host([layout="inline"][scale="l"]) {
  label {
    @apply gap-3;
  }
}

:host([layout="inline-space-between"]) {
  label {
    @apply justify-between;
  }
}

// disabled styles
:host([disabled]) {
  & > label {
    @apply pointer-events-none opacity-disabled;
  }
  ::slotted(*) {
    @apply pointer-events-none;
  }
  // prevent opacity stacking with already disabled child elements
  ::slotted(*[disabled]),
  ::slotted(*[disabled] *) {
    @apply bg-opacity-100;
  }
  ::slotted(calcite-input-message:not([active])) {
    @apply bg-opacity-0;
  }
}

// status
$inputStatusColors: "invalid" var(--calcite-ui-danger), "valid" var(--calcite-ui-text-2),
  "idle" var(--calcite-ui-text-2);

@each $statusColor in $inputStatusColors {
  $name: nth($statusColor, 1);
  $color: nth($statusColor, 2);

  :host([status="#{$name}"]) label {
    color: $color;
  }
}

:host([disable-spacing]) {
  label {
    @apply gap-0 m-0;
  }
}
