.month-year {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem 0 1rem 0;
  text-align: center;

  input {
    font-family: inherit;
    margin-left: 0.25rem;
  }

  .right-icon,
  .left-icon {
    fill: $blk-060;
    position: relative;
    top: 0.3rem;
    width: 4rem;
    &:hover {
      fill: $blk-240;
      cursor: pointer;
      transition: all $transition;
    }
  }

  .month,
  .year {
    font-size: 1.25rem;
    color: $blk-240;
    font-weight: 400;
  }

  .year {
    border: none;
  }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}