:host-context([theme="dark"]) {
  @include calcite-theme-dark();
}

.month-year {
  display: flex;
}

.right-icon,
.left-icon {
  color: var(--calcite-ui-text-3);
  flex-grow: 1;
  outline: none;
  padding: 0;
  border: none;
  color: inherit;
  background-color: var(--calcite-ui-foreground-1);
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover,
  &:focus {
    fill: var(--calcite-ui-text-1);
    background-color: var(--calcite-ui-foreground-2);
  }

  &:active {
    background-color: var(--calcite-ui-foreground-3);
  }
}

.month-year-text {
  padding: 0.5rem;
  display: inline-flex;
  flex-grow: 1;
  width: 50%;
  justify-content: center;
}

.month,
.year {
  color: var(--calcite-ui-text-1);
  background: var(--calcite-ui-foreground-1);
  @include font-size(0);
  font-weight: 500;
}

.year {
  font-family: inherit;
  text-align: center;
  border: none;
  width: 3em;
  padding: 0;
  margin: 0 8px;
  // todo: replace with upcoming focus styles
  outline-offset: 0;
  outline-color: rgba(0, 0, 0, 0);
  transition: outline-offset 100ms ease-in-out, outline-color 100ms ease-in-out;
  &:focus {
    outline: 2px solid var(--calcite-ui-blue-1);
    outline-offset: 2px;
  }
}
