:host {
  display: inline-block;
}

@include disabled();
@include hidden-form-input();

@function get-trailing-text-input-padding($chevron-spacing) {
  @return calc(var(--calcite-toggle-spacing) + $chevron-spacing);
}
.container {
  --calcite-icon-color: var(--calcite-color-text-3);
  align-items: center;
  background-color: var(--calcite-color-foreground-1);
  border: 1px solid var(--calcite-color-border-input);
  box-sizing: border-box;
  display: flex;
  color: var(--calcite-color-text-1);
  flex-wrap: nowrap;
  font-weight: var(--calcite-font-weight-normal);
  inline-size: 100%;
  padding-block: var(--calcite-spacing-base);
  user-select: none;

  &:focus-within {
    border-color: var(--calcite-color-brand);
    @apply focus-inset;
  }

  &.read-only {
    background-color: var(--calcite-color-background);
    font-weight: var(--calcite-font-weight-medium);
  }
}

.input-container {
  display: flex;
  flex-grow: 1;
}

.input {
  align-items: center;
  display: flex;
  block-size: 100%;
  justify-content: center;
  min-inline-size: max-content;
  &.empty {
    inline-size: var(--calcite-spacing-xl);
  }
  &:focus,
  &:hover:focus {
    background-color: Highlight;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}

.toggle-icon {
  align-items: center;
  block-size: 24px;
  cursor: pointer;
  display: flex;
  inline-size: 24px;
  justify-content: center;
  &:hover {
    --calcite-icon-color: var(--calcite-color-text-1);
  }
}

.meridiem--start {
  margin-inline-end: var(--calcite-spacing-xxs);
}
.meridiem--end {
  margin-inline-start: var(--calcite-spacing-xxs);
}

:host([scale="s"]) {
  .container {
    block-size: 1.5rem;
    font-size: var(--calcite-font-size-sm);
    gap: var(--calcite-spacing-sm);
    padding-inline: var(--calcite-spacing-sm);
  }
  .input-container {
    line-height: 1rem;
  }
}

:host([scale="m"]) {
  .container {
    block-size: 2rem;
    font-size: var(--calcite-font-size);
    gap: var(--calcite-spacing-md);
    padding-inline: var(--calcite-spacing-md);
  }
  .input-container {
    line-height: 1.5rem;
  }
}

:host([scale="l"]) {
  .container {
    block-size: 2.75rem;
    font-size: var(--calcite-font-size-md);
    gap: var(--calcite-spacing-xl);
    padding-inline: var(--calcite-spacing-xl);
  }
  .input-container {
    line-height: 2.25rem;
  }
}

@include form-validation-message();
@include base-component();
