/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-input-time-picker-icon-color: Specifies the component's icon color.
 * @prop --calcite-input-time-picker-icon-color-hover: Specifies the component's icon color when hovered or focused.
 */

:host {
  @apply inline-block
    select-none;
}

@include disabled();
@include hidden-form-input();

@function get-trailing-text-input-padding($chevron-spacing) {
  @return calc(var(--calcite-internal-input-time-picker-toggle-spacing) + $chevron-spacing);
}

:host([scale="s"]) {
  --calcite-internal-input-time-picker-toggle-spacing: var(--calcite-spacing-sm);
  --calcite-internal-input-text-input-padding-inline-end: #{get-trailing-text-input-padding(var(--calcite-spacing-lg))};
}

:host([scale="m"]) {
  --calcite-internal-input-time-picker-toggle-spacing: var(--calcite-spacing-md);
  --calcite-internal-input-text-input-padding-inline-end: #{get-trailing-text-input-padding(var(--calcite-spacing-xxl))};
}

:host([scale="l"]) {
  --calcite-internal-input-time-picker-toggle-spacing: var(--calcite-spacing-lg);
  --calcite-internal-input-text-input-padding-inline-end: #{get-trailing-text-input-padding(
      var(--calcite-spacing-xxxl)
    )};
}

.input-wrapper {
  @apply relative;
}

.toggle-icon {
  @apply absolute flex cursor-pointer items-center;
  inset-inline-end: 0;
  inset-block: 0;
  padding-inline: var(--calcite-internal-input-time-picker-toggle-spacing);
  --calcite-icon-color: var(--calcite-input-time-picker-icon-color, var(--calcite-color-text-3));
}

.input-wrapper:hover .toggle-icon,
calcite-input-text:focus + .toggle-icon {
  --calcite-icon-color: var(--calcite-input-time-picker-icon-color, var(--calcite-color-text-1));
}

@include form-validation-message();
@include base-component();
