:host {
  @apply inline-block
    select-none;
}

@include disabled();
@include hidden-form-input();

:host([scale="s"]) {
  --calcite-toggle-spacing: theme("spacing.2");
}

:host([scale="m"]) {
  --calcite-toggle-spacing: theme("spacing.3");
}

:host([scale="l"]) {
  --calcite-toggle-spacing: theme("spacing.4");
}

.input-wrapper {
  @apply relative;
}

.toggle-icon {
  @apply absolute flex cursor-pointer items-center;
  inset-inline-end: 0;
  inset-block: 0;
  padding-inline: var(--calcite-toggle-spacing);
}

@include base-component();
