/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-card-background-color: Specifies the background color of the component.
 * @prop --calcite-card-border-color: Specifies the border color of the component.
 * @prop --calcite-card-shadow: Specifies the shadow of the component.
 * @prop --calcite-card-corner-radius: Specifies the corner radius of the component.
 * @prop --calcite-card-accent-color-selected: Specifies the accent color of the component when `selected`.
 * @prop --calcite-card-selection-background-color: Specifies the background color of the component's selection element.
 * @prop --calcite-card-selection-background-color-hover: Specifies the background color of the component's selection element when hovered.
 * @prop --calcite-card-selection-background-color-active: Specifies the background color of the component's selection element when active.
 * @prop --calcite-card-selection-background-color-selected: Specifies the icon color of the component's selection element when `selected`.
 * @prop --calcite-card-selection-icon-color: Specifies the icon color of the component's selection element.
 * @prop --calcite-card-selection-icon-color-hover: Specifies the icon color of the component's selection element when hovered.
 * @prop --calcite-card-selection-icon-color-selected: Specifies the icon color of the component's selection element when `selected`.
 *
 */

:host {
  @apply block max-w-full;
  --calcite-card-corner-radius: var(--calcite-corner-radius-sharp);
  --calcite-card-background-color: var(--calcite-color-foreground-1);
  --calcite-card-border-color: var(--calcite-color-border-3);
  --calcite-card-shadow: var(--calcite-shadow-none);
  --calcite-card-accent-color-selected: var(--calcite-color-brand);
  --calcite-card-selection-background-color: transparent;
  --calcite-card-selection-background-color-hover: var(--calcite-color-transparent-hover);
  --calcite-card-selection-background-color-active: var(--calcite-color-transparent-press);
  --calcite-card-selection-background-color-selected: transparent;
  --calcite-card-selection-icon-color: var(--calcite-color-text-3);
  --calcite-card-selection-icon-color-hover: var(--calcite-color-text-2);
  --calcite-card-selection-icon-color-selected: var(--calcite-color-brand);
}

.content-wrapper {
  @apply relative
    flex
    h-full
    flex-col
    justify-between
    overflow-hidden;
  border: var(--calcite-border-width-sm) solid var(--calcite-card-border-color);
  border-radius: var(--calcite-card-corner-radius);
  background-color: var(--calcite-card-background-color);
  box-shadow: var(--calcite-card-shadow);
  pointer-events: none;
}

::slotted(*) {
  @apply pointer-events-auto;
}

:host(:not([selectable])) {
  .content-wrapper {
    &:not(.non-interactive) {
      @apply focus-base;
    }
    &:not(.non-interactive):focus {
      @apply focus-outset;
    }
  }
}

.container {
  @apply relative flex flex-auto flex-col;
}

:host([loading]) .content-wrapper *:not(calcite-loader):not(.calcite-card-loader-container) {
  @apply pointer-events-none;
  opacity: $calcite-opacity-0;
}

:host([loading]) .calcite-card-loader-container {
  @apply absolute inset-0 flex items-center;
}

.header {
  @apply flex flex-row items-start;
}

.footer {
  @apply flex mt-auto flex-row content-between justify-between;
  padding-inline: var(--calcite-spacing-md);
  padding-block-start: var(--calcite-spacing-xxs);
  padding-block-end: var(--calcite-spacing-md);
}

.header-text-container {
  @apply flex flex-col px-3 py-2 w-full justify-center;
  &:not(:only-child) {
    @apply pr-0.5;
  }
}

.footer {
  @apply mt-auto flex-row content-between
    justify-between
    px-3
    pt-1
    pb-3;
}

.card-content {
  @apply h-auto text-n2-wrap;
}

.has-slotted-content {
  @apply p-3;
}

:host([selected]) .content-wrapper {
  box-shadow: inset 0 -4px 0 0 var(--calcite-card-accent-color-selected);
}

:host([selectable]) .header {
  padding-inline-end: var(--calcite-spacing-xxxl);
}

@include slotted("title", "*") {
  @apply text-color-1
    text-n1-wrap
    m-0
    font-medium;
}

@include slotted("subtitle", "*") {
  @apply text-color-2
    text-n2-wrap
    m-0 mt-0.5
    font-normal;
}

@include slotted("heading", "*") {
  @apply text-color-1
    text-n1-wrap
    m-0
    font-medium;
}

@include slotted("description", "*") {
  @apply text-color-2
    text-n2-wrap
    m-0 mt-0.5
    font-normal;
}

@include slotted("thumbnail", "img") {
  @apply min-w-full max-w-full;
}

@include slotted("footer-start", "*") {
  @apply text-n2-wrap self-center;
  margin-inline-end: auto;
}

@include slotted("footer-end", "*") {
  @apply text-n2-wrap self-center;
}

.checkbox-wrapper-deprecated {
  @apply absolute pointer-events-auto;
  inset-block-start: var(--calcite-spacing-sm);
  inset-inline-end: var(--calcite-spacing-sm);
  margin: 0;
  padding: 0;
}

.checkbox-wrapper {
  @apply m-2 p-2 focus-base cursor-pointer pointer-events-auto;
  background-color: var(--calcite-card-selection-background-color);
  display: flex;
  align-items: center;
  justify-items: center;
  --calcite-ui-icon-color: var(--calcite-card-selection-icon-color);
  &:hover {
    background-color: var(--calcite-card-selection-background-color-hover);
    --calcite-ui-icon-color: var(--calcite-card-selection-icon-color-hover);
  }
  &:active {
    background-color: var(--calcite-card-selection-background-color-active);
  }
  & calcite-icon {
    pointer-events: none;
  }
}

:host([selected]) .checkbox-wrapper {
  --calcite-ui-icon-color: var(--calcite-card-selection-icon-color-selected);
  background-color: var(--calcite-card-selection-background-color-selected);
  &:hover {
    background-color: var(--calcite-card-selection-background-color-hover);
  }
  &:active {
    background-color: var(--calcite-card-selection-background-color-active);
  }
}

:host(:not([selectable])) .content-wrapper:not(.non-interactive):focus .checkbox-wrapper {
  background-color: var(--calcite-card-selection-background-color-hover);
  --calcite-ui-icon-color: var(--calcite-card-selection-icon-color-hover);
}

:host([selected]:not([selectable])) .content-wrapper:not(.non-interactive):focus .checkbox-wrapper {
  background-color: var(--calcite-card-selection-background-color-active);
  --calcite-ui-icon-color: var(--calcite-card-selection-icon-color-selected);
}

.thumbnail-wrapper {
  @apply flex;
}

.content-wrapper.inline {
  @apply flex-row;

  & > .container {
    @apply w-3/5;
  }
  & > .thumbnail-wrapper {
    @apply items-start w-2/5;
  }

  @include slotted("thumbnail", "img") {
    @apply w-full;
  }
}

slot[name="footer-start"]::slotted(*),
slot[name="footer-end"]::slotted(*) {
  @apply flex gap-1;
}

@include base-component();
@include disabled();
