:host {
  @apply block max-w-full h-full;
}

.content-wrapper {
  @apply bg-foreground-1
    border-color-2  
    text-color-3
    relative
    flex
    h-full
    flex-col
    justify-between
    border
    border-solid
    shadow-none
    overflow-hidden;
  border-radius: var(--calcite-border-radius-base);
  pointer-events: none;
}

::slotted(*) {
  @apply pointer-events-auto;
}

:host(:not([selectable])) {
  .content-wrapper {
    &:not(.non-interactive) {
      @apply focus-base;
    }
    &:not(.non-interactive):focus {
      @apply focus-outset;
    }
  }
}

.container {
  @apply relative flex flex-auto flex-col;
}

:host([loading]) .content-wrapper *:not(calcite-loader):not(.calcite-card-loader-container) {
  @apply pointer-events-none opacity-0;
}

:host([loading]) .calcite-card-loader-container {
  @apply absolute
    inset-0
    flex
    items-center;
}

.footer {
  @apply flex px-3 pt-3 pb-1 mt-auto;
}

.header {
  @apply flex flex-row items-start;
}

.header-text-container {
  @apply flex flex-col px-3 py-2 w-full justify-center;
  &:not(:only-child) {
    @apply pr-0.5;
  }
}

.footer {
  @apply mt-auto flex-row content-between
    justify-between
    px-3
    pt-1
    pb-3;
}

.card-content {
  @apply h-auto text-n2-wrap;
}

.has-slotted-content {
  @apply p-3;
}

:host([selected]) .content-wrapper {
  box-shadow: inset 0 -4px 0 0 var(--calcite-ui-brand);
}

// to be removed in future release
:host([selectable]) .header {
  padding-inline-end: var(--calcite-spacing-xxxl);
}

// to be removed in future release
@include slotted("title", "*") {
  @apply text-color-1
    text-n1-wrap
    m-0
    font-medium;
}

@include slotted("subtitle", "*") {
  @apply text-color-2
    text-n2-wrap
    m-0 mt-0.5
    font-normal;
}

@include slotted("", "*") {
  @apply pointer-events-auto;
}

@include slotted("heading", "*") {
  @apply text-color-1
    text-n1-wrap
    m-0
    font-medium;
}

@include slotted("description", "*") {
  @apply text-color-2
    text-n2-wrap
    m-0 mt-0.5
    font-normal;
}

@include slotted("thumbnail", "img") {
  @apply min-w-full max-w-full;
}

@include slotted("footer-start", "*") {
  @apply text-n2-wrap self-center;
  margin-inline-end: auto;
}

@include slotted("footer-end", "*") {
  @apply text-n2-wrap self-center;
}

// to be removed in future release
.checkbox-wrapper-deprecated {
  @apply absolute m-0 p-0 pointer-events-auto;
  inset-block-start: theme("spacing.2");
  inset-inline-end: theme("spacing.2");
}

.checkbox-wrapper {
  @apply m-2 p-2 focus-base cursor-pointer pointer-events-auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-items: center;
  color: var(--calcite-color-text-2);
  &:focus,
  &:hover {
    background-color: var(--calcite-color-transparent-hover);
    color: var(--calcite-color-brand);
  }
  &:active {
    background-color: var(--calcite-color-transparent-press);
  }
  & calcite-icon {
    pointer-events: none;
  }
}

:host([selected]) .checkbox-wrapper {
  --calcite-ui-icon-color: var(--calcite-ui-brand);
  --calcite-ui-border-3: var(--calcite-ui-brand);
}

.thumbnail-wrapper {
  @apply flex;
}

.content-wrapper.inline {
  @apply flex-row;

  & > .container {
    @apply w-3/5;
  }
  & > .thumbnail-wrapper {
    @apply items-start w-2/5;
  }

  @include slotted("thumbnail", "img") {
    @apply w-full;
  }
}

slot[name="footer-start"]::slotted(*),
slot[name="footer-end"]::slotted(*) {
  @apply flex gap-1;
}

@include base-component();
@include disabled();
