@import "~@esri/calcite-design-tokens/dist/scss/core";
@import "~@esri/calcite-design-tokens/dist/scss/global";

/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-card-background-color: Specifies the background color of the component.
 * @prop --calcite-card-box-shadow: Specifies the box shadow of the component.
 * @prop --calcite-card-corner-radius: Specifies the corner radius of the component.
 * @prop --calcite-card-subtitle-color: Specifies the color of the component's `"subtitle"` slot.
 * @prop --calcite-card-title-color: Specifies the color of the component's `"title"` slot.
 *
 */

/*
  * Internal Properties
  *
  * These properties are intended for internal component use only. It is not recommended that these properties be overwritten.
  *
  * --calcite-internal-card-background-color
  * --calcite-internal-card-border-color
  * --calcite-internal-card-box-shadow
  * --calcite-internal-card-corner-radius
  * --calcite-internal-card-subtitle-color
  * --calcite-internal-card-title-color
*/

:host {
  @apply block max-w-full;
  --calcite-internal-card-background-color: var(--calcite-card-background-color, var(--calcite-color-foreground-1));
  --calcite-internal-card-border-color: var(--calcite-card-border-color, var(--calcite-color-border-3));
  --calcite-internal-card-box-shadow: var(--calcite-card-box-shadow, var(--calcite-shadow-none));
  --calcite-internal-card-corner-radius: var(--calcite-card-corner-radius, var(--calcite-corner-radius-sharp));
  --calcite-internal-card-subtitle-color: var(--calcite-card-subtitle-color, var(--calcite-color-text-2));
  --calcite-internal-card-title-color: var(--calcite-card-title-color, var(--calcite-color-text-1));
}

.calcite-card-container {
  @apply relative
    flex
    h-full
    flex-col
    justify-between
    duration-150
    ease-in-out
    overflow-hidden;
  border: 1px solid var(--calcite-internal-card-border-color);
  border-radius: var(--calcite-internal-card-corner-radius);
  background-color: var(--calcite-internal-card-background-color);
  box-shadow: var(--calcite-internal-card-box-shadow);
}

.container {
  @apply relative flex flex-auto flex-col;
}

:host([loading]) .calcite-card-container *:not(calcite-loader):not(.calcite-card-loader-container) {
  @apply pointer-events-none;
  opacity: $calcite-opacity-0;
}

:host([loading]) .calcite-card-loader-container {
  @apply absolute inset-0 flex items-center;
}

.header {
  @apply flex flex-col;
  padding-inline: $calcite-spacing-md;
  padding-block-start: $calcite-spacing-md;
  padding-block-end: $calcite-spacing-xxs;
}

.footer {
  @apply flex mt-auto flex-row content-between justify-between;
  padding-inline: $calcite-spacing-md;
  padding-block-start: $calcite-spacing-xxs;
  padding-block-end: $calcite-spacing-md;
}

.card-content {
  @apply text-n2-wrap;
  color: var(--calcite-color-text-3);
  padding: $calcite-spacing-md;
}

:host([selected]) .calcite-card-container {
  border-color: var(--calcite-color-brand);
}

// slotted content
@include slotted("title", "*") {
  @apply text-n1-wrap;
  margin: 0;
  font-weight: $calcite-font-weight-medium;
  color: var(--calcite-internal-card-title-color);
}

:host([selectable]) {
  .header {
    // prevents overlap with checkbox (default header padding + no-overlap spacing)
    padding-inline-end: $calcite-spacing-xxxl;
  }
}

@include slotted("subtitle", "*") {
  @apply text-n2-wrap font-normal;
  margin: 0;
  margin-block-start: $calcite-spacing-sm;
  color: var(--calcite-internal-card-subtitle-color);
}

@include slotted("thumbnail", "img") {
  @apply min-w-full max-w-full;
}

@include slotted("footer-start", "*") {
  @apply text-n2-wrap self-center;
  margin-inline-end: auto;
}
@include slotted("footer-end", "*") {
  @apply text-n2-wrap self-center;
}

.checkbox-wrapper {
  @apply absolute;
  inset-block-start: $calcite-spacing-sm;
  inset-inline-end: $calcite-spacing-sm;
  margin: 0;
  padding: 0;
}

.thumbnail-wrapper {
  @apply flex;
}

.calcite-card-container.inline {
  @apply flex-row;

  & > .container {
    @apply w-3/5;
  }
  & > .thumbnail-wrapper {
    @apply items-start w-2/5;
  }

  @include slotted("thumbnail", "img") {
    @apply w-full;
  }
}

slot[name="footer-start"]::slotted(*),
slot[name="footer-end"]::slotted(*) {
  @apply flex gap-1;
}

@include base-component();
