%component-host {
  /* Base ":host" styles for the component */
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  color: var(--calcite-app-foreground);
  font-family: var(--calcite-app-font-family);
  font-size: var(--calcite-app-font-size-0);
  line-height: var(--calcite-app-line-height);
  background-color: var(--calcite-app-background);
}
