/**
* CSS Custom Properties
*
* These properties can be overridden using the component's tag as selector.
*
* @prop --calcite-block-section-icon-end-color: defines the icon-end color of the component.
* @prop --calcite-block-section-icon-end-color-hover: defines the icon-end color of the component when hovered.
* @prop --calcite-block-section-icon-start-color: defines the icon-start color of the component.
* @prop --calcite-block-section-icon-start-color-hover: defines the icon-start color of the component when hovered.
*/

:host {
  @apply bg-foreground-1
    text-color-2
    text-n1
    box-border
    block;
}

:host([open]) {
  @apply border-b-color-3
    border-0
    border-b
    border-solid;
}

:host(:last-child) {
  @apply border-b-0;
}

.toggle {
  @apply text-color-2
    w-full
    border-0
    bg-transparent
    font-sans
    font-medium;

  gap: theme("margin.3");
}

.toggle--switch,
.section-header {
  @apply text-n1
    focus-base
    mx-0
    my-1
    flex
    cursor-pointer
    select-none
    items-center
    px-0
    py-2;

  &:focus {
    @apply focus-outset;
  }
  &:hover {
    @apply text-color-1;
  }

  .label {
    @apply flex items-center justify-center;
  }
}

.section-header__text {
  @apply my-0
    flex-auto;

  margin-inline-end: theme("margin.3");
  text-align: initial;
  word-wrap: anywhere;
}

.toggle-container {
  @apply flex items-center relative bg-transparent;
  word-break: break-word;

  .toggle--switch__content {
    @apply flex flex-auto items-center;
  }

  .icon--end {
    @apply flex items-center;

    color: var(--calcite-block-section-icon-end-color, var(--calcite-color-text-3));

    &:hover {
      color: var(--calcite-block-section-icon-end-color-hover, var(--calcite-color-text-1));
    }
  }

  .switch {
    @apply flex items-center;
  }

  .switch {
    inset-block-start: 50%;
    transform: translate(0, 50%);
  }
}

.status-icon {
  @apply flex items-center;
}

.icon--start {
  @apply flex items-center;
}

.icon--start {
  color: var(--calcite-block-section-icon-start-color, var(--calcite-color-text-3));

  &:hover {
    color: var(--calcite-block-section-icon-start-color-hover, var(--calcite-color-text-1));
  }
}

.status-icon.valid {
  color: theme("colors.success");
}

.status-icon.invalid {
  color: theme("colors.danger");
}

.chevron-icon {
  @apply flex items-center;
}

@include base-component();
