/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-block-section-background-color: Specifies the background color of the component.
 * @prop --calcite-block-section-border-color: Specifies the border color of the component. Applicable on bottom border when open.
 * @prop --calcite-block-section-heading-text-color-hover: Specifies the component's heading text color on hover.
 * @prop --calcite-block-section-heading-text-color: Specifies the component's heading text color.
 * @prop --calcite-block-section-switch-corner-radius: Specifies the border radius of the switch.
 * @prop --calcite-block-section-switch-handle-background-color: Specifies the background color of the switch handle.
 * @prop --calcite-block-section-switch-handle-border-color-hover: Specifies the border color of the switch handle on hover.
 * @prop --calcite-block-section-switch-handle-border-color: Specifies the border color of the switch handle.
 * @prop --calcite-block-section-switch-handle-shadow-hover: Specifies the shadow of the switch handle on hover.
 * @prop --calcite-block-section-switch-handle-shadow: Specifies the shadow of the switch handle.
 * @prop --calcite-block-section-switch-track-background-color-checked: Specifies the background color of the switch track when checked.
 * @prop --calcite-block-section-switch-track-background-color: Specifies the background color of the switch track.
 * @prop --calcite-block-section-switch-track-border-color-checked: Specifies the border color of the switch track when checked.
 * @prop --calcite-block-section-switch-track-border-color: Specifies the border color of the switch track.
 */

:host {
  @apply block
    box-border
    text-n1;

  background-color: var(--calcite-block-section-background-color, var(--calcite-color-foreground-1));
}

:host([open]) {
  border-color: var(--calcite-block-section-border-color, var(--calcite-color-border-3));

  @apply border-0
    border-b
    border-solid;
}

:host(:last-child) {
  @apply border-b-0;
}

.toggle {
  @apply border-0
    font-medium
    font-sans
    w-full;

  background-color: var(--calcite-color-transparent);
}

.status-icon {
  color: var(--calcite-internal-block-section-icon-color);
}

.status-icon.valid {
  --calcite-internal-block-section-icon-color: var(--calcite-color-status-success);
}

.status-icon.invalid {
  --calcite-internal-block-section-icon-color: var(--calcite-color-status-danger);
}

.toggle--switch {
  .status-icon {
    margin-inline-start: theme("margin.2");
  }
}

.toggle--switch,
.section-header {
  @apply cursor-pointer
    flex
    focus-base
    items-center
    mx-0
    my-1
    px-0
    py-2
    select-none
    text-n1;

  color: var(--calcite-block-section-heading-text-color, var(--calcite-color-text-2));

  &:focus {
    @apply focus-outset;
  }
  &:hover {
    color: var(--calcite-block-section-heading-text-color, var(--calcite-color-text-1));
  }
}

.section-header .status-icon {
  @apply self-end;
}

.section-header__text {
  @apply mx-3
    my-0
    flex-auto;

  text-align: initial;
  word-wrap: anywhere;
}

.toggle--switch-container {
  @apply flex items-center relative w-full;
  word-break: break-word;

  .focus-guard {
    --calcite-label-margin-bottom: 0;
    @apply absolute pointer-events-none;
    inset-inline-end: 0;
    margin-inline-start: theme("margin.1");
  }
}

.toggle--switch__content {
  @apply flex flex-auto items-center;
}

:host([toggle-display="switch"]) .toggle {
  .toggle--switch__content {
    @apply me-7;
  }
}

calcite-icon {
  // TODO: add sub-component tokens
}

calcite-switch {
  --calcite-switch-corner-radius: var(--calcite-block-section-switch-corner-radius);
  --calcite-switch-handle-background-color: var(--calcite-block-section-switch-handle-background-color);
  --calcite-switch-handle-border-color: var(--calcite-block-section-switch-handle-border-color);
  --calcite-switch-handle-shadow: var(--calcite-block-section-switch-handle-shadow);
  --calcite-switch-track-background-color: var(--calcite-block-section-switch-track-background-color);
  --calcite-switch-track-border-color: var(--calcite-block-section-switch-track-border-color);

  &:focus,
  &:hover {
    --calcite-switch-handle-border-color: var(--calcite-block-section-switch-handle-border-color-hover);
    --calcite-switch-handle-shadow: var(--calcite-block-section-switch-handle-shadow-hover);
  }

  &[checked] {
    --calcite-switch-track-background-color: var(--calcite-block-section-switch-track-background-color-checked);
    --calcite-switch-track-border-color: var(--calcite-block-section-switch-track-border-color-checked);
  }
}

@include base-component();
