// scale variables
:host([scale="s"]) {
  --calcite-alert-width: 40em;
  --calcite-alert-spacing-token-small: #{$baseline/2};
  --calcite-alert-spacing-token-large: #{$baseline/1.5};
  @include slotted("title", "*") {
    @include font-size(-2);
  }
  @include slotted("message", "*") {
    @include font-size(-3);
  }
  ::slotted(calcite-link) {
    @include font-size(-3);
  }
}

:host([scale="m"]) {
  --calcite-alert-width: 50em;
  --calcite-alert-spacing-token-small: #{$baseline/1.5};
  --calcite-alert-spacing-token-large: #{$baseline};
  @include slotted("title", "*") {
    @include font-size(-1);
  }
  @include slotted("message", "*") {
    @include font-size(-2);
  }
  ::slotted(calcite-link) {
    @include font-size(-2);
  }
}

:host([scale="l"]) {
  --calcite-alert-width: 60em;
  --calcite-alert-spacing-token-small: #{$baseline/1.25};
  --calcite-alert-spacing-token-large: #{$baseline * 1.25};
  @include slotted("title", "*") {
    @include font-size(0);
  }
  @include slotted("message", "*") {
    @include font-size(-1);
  }
  ::slotted(calcite-link) {
    @include font-size(-1);
  }
}

:host {
  .container {
    @apply shadow-2;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    margin: 0 auto;
    width: var(--calcite-alert-width);
    max-width: 90%;
    max-height: 0;
    background-color: var(--calcite-ui-foreground-1);
    border-radius: var(--calcite-border-radius);
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 101;
    transform: translate3d(0, $baseline, 0);
    transition: 300ms $easing-function, opacity 300ms $easing-function, all 0.15s ease-in-out;
    border-top: 0px solid transparent;
    @media only screen and (max-width: $viewport-medium) {
      width: 100%;
      max-width: 100%;
      border-radius: var(--calcite-border-radius) var(--calcite-border-radius) 0 0;
    }
  }
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

// focus styles
.alert-close {
  @include focus-style-base();
  &:focus {
    @include focus-style-inset();
  }
}

:host([active]) {
  .container:not(.queued) {
    opacity: 1;
    max-height: 100%;
    transform: translate3d(0, -$baseline, 0);
    pointer-events: initial;
    border-top-width: 3px;

    @media only screen and (max-width: $viewport-medium) {
      transform: translate3d(0, 0, 0);
    }
  }
}

@include slotted("title", "*") {
  @include font-size(0);
  color: var(--calcite-ui-text-1);
  margin: 0;
  font-weight: 500;
}

@include slotted("message", "*") {
  display: inline;
  margin: 0;
  margin-right: $baseline/2;
  font-weight: 400;
  @include font-size(-1);
  color: var(--calcite-ui-text-2);
}

.calcite--rtl {
  @include slotted("message", "*") {
    margin-right: unset;
    margin-left: $baseline/2;
  }
}

@mixin alert-element-base() {
  padding: var(--calcite-alert-spacing-token-small) var(--calcite-alert-spacing-token-large);
  flex: 0 0 auto;
  transition: all 0.15s ease-in-out;

  @media only screen and (max-width: $viewport-medium) {
    padding: $baseline;
  }
}

.alert-content {
  @include alert-element-base;
  flex: 1 1 auto;
  min-width: 0;
  word-wrap: break-word;
  padding: var(--calcite-alert-spacing-token-small) var(--calcite-alert-spacing-token-small)
    var(--calcite-alert-spacing-token-small) 0;

  &:first-of-type:not(:only-child) {
    padding-left: var(--calcite-alert-spacing-token-large);
  }
  &:only-child {
    padding: var(--calcite-alert-spacing-token-small);
  }

  @media only screen and (max-width: $viewport-medium) {
    padding: var(--calcite-alert-spacing-token-large) var(--calcite-alert-spacing-token-small)
      var(--calcite-alert-spacing-token-large) 0;
  }
}

.calcite--rtl {
  .alert-content {
    padding: var(--calcite-alert-spacing-token-small) 0 var(--calcite-alert-spacing-token-small)
      var(--calcite-alert-spacing-token-small);

    &:first-of-type:not(:only-child) {
      padding-right: var(--calcite-alert-spacing-token-large);
    }
    @media only screen and (max-width: $viewport-medium) {
      padding: var(--calcite-alert-spacing-token-large) 0 var(--calcite-alert-spacing-token-large)
        var(--calcite-alert-spacing-token-small);
    }
  }
}
.alert-icon {
  @include alert-element-base;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-self: stretch;
  align-items: center;
}

.alert-close {
  @include alert-element-base;
  padding-top: 0;
  padding-bottom: 0;
  align-self: stretch;
  background-color: transparent;
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--calcite-ui-text-3);
  overflow: hidden;
  border-radius: 0 0 var(--calcite-border-radius) 0;

  &:hover,
  &:focus {
    background-color: var(--calcite-ui-foreground-2);
  }

  &:active {
    background-color: var(--calcite-ui-foreground-3);
  }
  @media only screen and (max-width: $viewport-medium) {
    border-radius: 0;
  }
}
.calcite--rtl {
  .alert-close {
    border-radius: 0 0 0 var(--calcite-border-radius);
  }
}
.alert-queue-count {
  @include font-size(-2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: stretch;
  overflow: hidden;
  width: 0;
  visibility: hidden;
  font-weight: 500;
  text-align: center;
  color: var(--calcite-ui-text-2);
  opacity: 0;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  cursor: default;
  transition: all 0.15s ease-in-out;
  overflow: hidden;

  &.active {
    visibility: visible;
    opacity: 1;
    padding: 0 $baseline/4;
    width: $baseline * 2;
    border-left: 1px solid var(--calcite-ui-border-3);
    border-right: 1px solid var(--calcite-ui-border-3);
  }

  @media only screen and (max-width: $viewport-medium) {
    border-radius: 0;
  }
}

:host([auto-dismiss]) > .alert-queue-count {
  border-right: 0px solid transparent;
}

:host([auto-dismiss]) .calcite--rtl > .alert-queue-count {
  border-left: 0px solid transparent;
}

.alert-dismiss-progress {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: -3px;
  width: 100%;
  height: 3px;
  z-index: 103;
  overflow: hidden;
  border-radius: var(--calcite-border-radius) var(--calcite-border-radius) 0 0;
  &:after {
    height: 3px;
    top: 0;
    right: 0;
    display: block;
    position: absolute;
    content: "";
    background-color: var(--calcite-alert-dismiss-progress-background);
    z-index: 104;
  }
}

.calcite--rtl .alert-dismiss-progress:after {
  left: 0;
  right: initial;
}

$alertColors: "blue" var(--calcite-ui-brand), "red" var(--calcite-ui-danger), "yellow" var(--calcite-ui-warning),
  "green" var(--calcite-ui-success);

@each $alertColor in $alertColors {
  $name: nth($alertColor, 1);
  $color: nth($alertColor, 2);

  :host([color="#{$name}"]) {
    .container {
      border-top-color: $color;

      & .alert-icon {
        color: $color;
      }
    }
  }
}

$alertDurations: "fast" 6000ms, "medium" 10000ms, "slow" 14000ms;

@each $alertDuration in $alertDurations {
  $name: nth($alertDuration, 1);
  $duration: nth($alertDuration, 2);

  :host([auto-dismiss-duration="#{$name}"]) .alert-dismiss-progress:after {
    animation: dismissProgress $duration ease-out;
  }
}

@keyframes dismissProgress {
  0% {
    width: 0;
    opacity: 0.8;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
