// theme variables
// light theme
:host {
  --calcite-alert-icon-fill: #{$blk-220};
  --calcite-alert-count-border: #{$blk-010};
  --calcite-alert-dismiss-background: #{rgba($blk-000, 0.8)};
}

// dark theme
:host([theme="dark"]) {
  --calcite-alert-icon-fill: #{$blk-040};
  --calcite-alert-count-border: #{$blk-210};
  --calcite-alert-dismiss-background: #{rgba($blk-200, 0.8)};
}

:host {
  display: flex;
  position: relative;
  justify-content: center;
  pointer-events: none;
  z-index: 102;
  margin: 0 auto;
  width: 50em;
  max-width: 90%;
  max-height: 0;
  background-color: var(--calcite-global-ui-foreground);
  box-shadow: $shadow-2;
  border-radius: 2px;
  opacity: 0;
  transform: translate3d(0, $baseline, 0);
  transition: 300ms $easing-function, opacity 300ms $easing-function,
    all 0.15s ease-in-out;
  border-top: 0px solid transparent;
  @media only screen and (max-width: $viewport-medium) {
    width: 100%;
    max-width: 100%;
    border-radius: 2px 2px 0 0;
    box-shadow: 0 -8px 16px 0 rgba($blk-240, 0.15);
  }

  &:host(.hydrated) {
    visibility: hidden !important;
  }
}

:host([active]) {
  opacity: 1;
  max-height: 100%;
  transform: translate3d(0, -$baseline, 0);
  pointer-events: initial;
  border-top-width: 3px;

  &:host(.hydrated) {
    visibility: visible !important;
  }

  @media only screen and (max-width: $viewport-medium) {
    transform: translate3d(0, 0, 0);
  }
}

@include slotted("alert-title", "div") {
  @include font-size(0);
  color: var(--calcite-global-ui-text-1);
  font-weight: 500;
}

::slotted(calcite-button) {
  @include font-size(-1);
}

@include slotted("alert-message", "div") {
  display: inline;
  margin-right: $baseline/2;
  @include font-size(-1);
  color: var(--calcite-global-ui-text-2);
}

:host([dir="rtl"]) {
  @include slotted("alert-message", "div") {
    margin-right: unset;
    margin-left: $baseline/2;
  }
}

@mixin alert-element-base() {
  padding: $baseline/2 $baseline;
  flex: 0 0 auto;
  transition: all 0.15s ease-in-out;

  & svg {
    height: 16px;
    width: 16px;
    vertical-align: top;
  }

  @media only screen and (max-width: $viewport-medium) {
    padding: $baseline;
  }
}

.alert-content {
  @include alert-element-base;
  flex: 1 1 auto;
  min-width: 0;
  word-wrap: break-word;
  padding: $baseline/2 $baseline/2 $baseline/2 0;

  &:first-of-type {
    padding-left: $baseline;
  }

  @media only screen and (max-width: $viewport-medium) {
    padding: $baseline $baseline/2 $baseline 0;
  }
}

:host([dir="rtl"]) {
  .alert-content {
    &:first-of-type {
      padding-right: $baseline;
      padding-left: none;
    }
    @media only screen and (max-width: $viewport-medium) {
      padding: $baseline 0 $baseline $baseline/2;
    }
  }
}
.alert-icon {
  @include alert-element-base;
  display: flex;
  align-items: center;
}

.alert-close {
  @include alert-element-base;
  background-color: transparent;
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0 0 2px 0;

  & svg {
    fill: var(--calcite-alert-icon-fill);
  }

  &:hover,
  &:focus {
    background-color: var(--calcite-global-ui-foreground-hover);
  }

  &:active {
    background-color: var(--calcite-global-ui-foreground-pressed);
  }
}

:host([dir="rtl"]) {
  .alert-close {
    border-radius: 0 0 0 2px;
    @media only screen and (max-width: $viewport-medium) {
      border-radius: 0;
    }
  }
}

.alert-count {
  @include font-size(-2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  width: 0;
  visibility: hidden;
  font-weight: 500;
  text-align: center;
  color: var(--calcite-global-ui-text-2);
  opacity: 0;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  cursor: default;
  transition: all 0.15s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
    padding: 0 $baseline/4;
    width: $baseline * 2;
    border-left: 1px solid var(--calcite-alert-count-border);
    border-right: 1px solid var(--calcite-alert-count-border);

    &:last-child {
      border-right: 0px solid transparent;
    }
  }

  @media only screen and (max-width: $viewport-medium) {
    border-radius: 0;
  }
}
:host([dir="rtl"]) {
  &.active:last-child {
    border-left: 1px solid var(--calcite-alert-count-border);
    border-right: 0px solid transparent;
  }
}
.alert-dismiss {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 3px;
  z-index: 103;

  &:after {
    height: 3px;
    top: -3px;
    right: 0;
    display: block;
    position: absolute;
    border-radius: 2px 2px 0 0;
    content: "";
    background-color: var(--calcite-alert-dismiss-background);
    z-index: 104;
  }
}

$alertColors: "blue" var(--calcite-global-ui-blue),
  "red" var(--calcite-global-ui-red),
  "yellow" var(--calcite-global-ui-yellow),
  "green" var(--calcite-global-ui-green);

@each $alertColor in $alertColors {
  $name: nth($alertColor, 1);
  $color: nth($alertColor, 2);

  :host([color="#{$name}"]) {
    border-top-color: $color;

    & .alert-icon svg {
      fill: $color;
    }
  }
}

$alertDurations: "fast" 6000ms, "medium" 10000ms, "slow" 14000ms;

@each $alertDuration in $alertDurations {
  $name: nth($alertDuration, 1);
  $duration: nth($alertDuration, 2);

  :host([duration="#{$name}"]) .alert-dismiss:after {
    animation: dismissProgress $duration ease-out;
  }
}

// should be handled by auto prefixer
@keyframes dismissProgress {
  0% {
    width: 0;
    opacity: 0.8;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
