/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-navigation-user-avatar-corner-radius: Specifies the corner radius of avatar of the component.
 * @prop --calcite-navigation-user-avatar-text-color: Specifies the text color of avatar of the component.
 * @prop --calcite-navigation-user-background-color: Specifies the background color of the component.
 * @prop --calcite-navigation-user-border-color: Specifies the border color of the component.
 * @prop --calcite-navigation-user-full-name-text-color: Specifies the text color of full name of the component.
 * @prop --calcite-navigation-user-name-text-color: Specifies the text color of user name of the component.
 *
 */

:host {
  @apply inline-flex outline-none;
  & .button {
    @apply flex
      m-0
      items-center
      justify-center
      cursor-pointer
      transition-default
      focus-base
      font-sans;
    background-color: var(
      --calcite-navigation-user-background-color,
      var(--calcite-internal-navigation-user-background-color, transparent)
    );
    border: none;
    border-block-end: var(--calcite-spacing-base) solid
      var(--calcite-navigation-user-border-color, var(--calcite-internal-navigation-user-border-color, transparent));
    font-size: var(--calcite-font-size-md);
    line-height: var(--calcite-font-line-height-fixed-lg);
  }
}

:host(:hover) .button,
:host(:focus) .button {
  --calcite-internal-navigation-user-background-color: var(--calcite-color-foreground-2);
}

:host(:focus) .button {
  @apply focus-inset;
}

:host(:active) .button {
  --calcite-internal-navigation-user-background-color: var(--calcite-color-foreground-3);
}

calcite-avatar {
  padding-inline: var(--calcite-spacing-xl);
}

calcite-avatar ~ .text-container {
  @apply ps-0;
}

:host([active]) .button {
  --calcite-ui-icon-color: var(--calcite-color-brand);
  --calcite-internal-navigation-user-border-color: var(--calcite-color-brand);
}

.text-container {
  @apply flex
  flex-col
  text-start;
  padding-inline: var(--calcite-spacing-xl);
  margin-block-start: var(--calcite-spacing-base);
}

.full-name {
  @apply ms-0;
  font-size: var(--calcite-font-size-md);
  font-weight: var(--calcite-font-weight-medium);
  color: var(--calcite-navigation-user-full-name-text-color, var(--calcite-color-text-1));
}

.username {
  font-size: var(--calcite-font-size);
  color: var(--calcite-navigation-user-name-text-color, var(--calcite-color-text-2));
}

calcite-avatar {
  --calcite-avatar-corner-radius: var(--calcite-navigation-user-avatar-corner-radius);
  --calcite-avatar-text-color: var(--calcite-navigation-user-avatar-text-color);
}

@include base-component();
