@use "sass:string";

:host {
  display: block;
  white-space: nowrap;
  overflow-wrap: break-word;
  overflow: hidden;
}

:host([truncate-position="end"]) {
  text-overflow: ellipsis;
}

:host([wrap]) {
  white-space: wrap;
}

:host([max-lines]) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--calcite-internal-text-max-lines, none);
  white-space: normal;
}
