/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-combobox-item-group-border-color: defines the border color of a combobox item.
 * @prop --calcite-combobox-item-group-text-color: defines the text color of a combobox item.
 */

/*
 * Internal
 *
 * --calcite-internal-combobox-item-group-space-large: defines the block spacing of the combobox-item. Set via the [scale] prop on a combobox-item.
 * --calcite-internal-combobox-item-group-space-small: defines the inline spacing of the combobox-item. Set via the [scale] prop on a combobox-item.
 * --calcite-internal-combobox-item-group-depth: defines the depth of the combobox-item in a combobox dropdown list. This is used as a multiplier to determine the inline-start padding of a combobox item.
 */

.scale--s {
  @apply text-n2h;
  --calcite-internal-combobox-item-group-space-large: theme("spacing.2");
  --calcite-internal-combobox-item-group-space-small: theme("spacing.1");
}

.scale--m {
  @apply text-n1h;
  --calcite-internal-combobox-item-group-space-large: theme("spacing.3");
  --calcite-internal-combobox-item-group-space-small: theme("spacing.2");
}

.scale--l {
  @apply text-0h;
  --calcite-internal-combobox-item-group-space-large: theme("spacing.4");
  --calcite-internal-combobox-item-group-space-small: theme("spacing.3");
}

:host,
.list {
  @apply m-0 flex flex-col p-0;
}

:host(:focus),
.list:focus {
  @apply outline-none;
}

.label {
  @apply box-border flex w-full min-w-0 max-w-full;
}

.title {
  --calcite-internal-combobox-item-group-space-x: calc(
    var(--calcite-internal-combobox-item-group-space-large) * var(--calcite-internal-combobox-item-group-depth)
  );
  border: 0 solid;
  @apply word-break
    block
    flex-1
    font-bold;
  border-block-end-width: var(--calcite-border-width-sm);
  border-block-end-color: var(--calcite-combobox-item-group-border-color, var(--calcite-color-border-3));
  color: var(--calcite-combobox-item-group-text-color, var(--calcite-color-text-2));
  padding-block: var(--calcite-internal-combobox-item-group-space-large);
  padding-inline: var(--calcite-internal-combobox-item-group-space-small);
  margin-inline-start: var(--calcite-internal-combobox-item-group-space-x);
}

::slotted(calcite-combobox-item-group:not([after-empty-group])) {
  padding-block-start: var(--calcite-internal-combobox-item-group-space-large);
}

@include base-component();
