/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-combobox-item-group-text-color: Specifies the text color of the component.
 * @prop --calcite-combobox-item-group-border-color: Specifies the border color of the component.
 */

.scale--s {
  @apply text-n2h;
  --calcite-combobox-item-spacing-unit: theme("spacing.2");
}

.scale--m {
  @apply text-n1h;
  --calcite-combobox-item-spacing-unit: theme("spacing.3");
}

.scale--l {
  @apply text-0h;
  --calcite-combobox-item-spacing-unit: theme("spacing.4");
}

:host,
.list {
  @apply m-0 flex flex-col p-0;
}

:host(:focus),
.list:focus {
  @apply outline-none;
}

.label {
  @apply box-border flex w-full min-w-0 max-w-full;
}

.title {
  --calcite-combobox-item-indent-value: calc(
    var(--calcite-combobox-item-spacing-unit) * var(--calcite-combobox-item-spacing-indent-multiplier)
  );
  border: 0 solid;
  @apply word-break
    block
    flex-1
    border-b
    font-bold;
  padding: var(--calcite-combobox-item-spacing-unit);
  margin-inline-start: var(--calcite-combobox-item-indent-value);
  color: var(--calcite-combobox-item-group-text-color, var(--calcite-color-text-2));
  border-block-end-color: var(--calcite-combobox-item-group-border-color, var(--calcite-color-border-3));
}

::slotted(calcite-combobox-item-group:not([after-empty-group])) {
  padding-block-start: var(--calcite-combobox-item-spacing-unit);
}

@include base-component();
@include item-hidden();
