/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-ui-icon-color: The component's color. Defaults to `currentColor`.
 */

:host {
  @apply text-color-icon inline-flex;
}

:host([scale="s"]) {
  @apply h-4 w-4;
  min-inline-size: theme("spacing.4");
  min-block-size: theme("spacing.4");
}

:host([scale="m"]) {
  @apply h-6 w-6;
  min-inline-size: theme("spacing.6");
  min-block-size: theme("spacing.6");
}

:host([scale="l"]) {
  @apply h-8 w-8;
  min-inline-size: theme("spacing.8");
  min-block-size: theme("spacing.8");
}

.flip-rtl {
  transform: scaleX(-1);
}

.svg {
  @apply block;
}

@include base-component();
