/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-ui-icon-color: *deprecated* in favor of `--calcite-icon-color`. The component's color. Defaults to `currentColor`.
 * @props --calcite-icon-color: defines the color of the component. Defaults to `currentColor`.
 * @props --calcite-icon-size: defines the size of the component.
 */

:host {
  --calcite-icon-color: var(--calcite-ui-icon-color, currentcolor);

  @apply inline-flex;
  color: var(--calcite-icon-color);
  inline-size: var(--calcite-icon-size);
  block-size: var(--calcite-icon-size);
  min-inline-size: var(--calcite-icon-size);
  min-block-size: var(--calcite-icon-size);
}

:host([scale="s"]) {
  --calcite-icon-size: var(--calcite-size-lg);
}

:host([scale="m"]) {
  --calcite-icon-size: var(--calcite-size-xxl);
}

:host([scale="l"]) {
  --calcite-icon-size: var(--calcite-size-xxxl);
}

.flip-rtl {
  transform: scaleX(-1);
}

.svg {
  @apply block;
}

@include base-component();
