:host {
  @apply flex;
}

.handle {
  @apply cursor-move;
  --calcite-internal-action-padding-inline: var(--calcite-spacing-xxs);
  --calcite-action-text-color: var(--calcite-color-border-input);
}

.dropdown {
  block-size: 100%;
}

@include disabled();

@include base-component();
