$size-s: 20px;
$size-m: 24px;
$size-l: 28px;

:host {
  display: inline-flex;
  position: relative;
}

:host([scale="s"]) {
  height: $size-s;
  width: $size-s;
}

:host([scale="m"]) {
  height: $size-m;
  width: $size-m;
}

:host([scale="l"]) {
  height: $size-l;
  width: $size-l;
}

.swatch {
  height: inherit;
  width: inherit;
  overflow: visible;

  rect {
    transition: all 150ms ease-in-out;
  }
}

.no-color-icon {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
