$size-s: 1.25rem;
$size-m: 1.5rem;
$size-l: 1.75rem;

:host {
  @apply relative inline-flex;
}

:host([scale="s"]) {
  @apply h-5 w-5;
}

:host([scale="m"]) {
  @apply h-6 w-6;
}

:host([scale="l"]) {
  @apply h-8 w-8;
}

.swatch {
  @apply overflow-visible;
  block-size: inherit;
  inline-size: inherit;

  rect {
    @apply transition-all duration-150 ease-in-out;
  }
}

.no-color-icon {
  @apply absolute
    inset-0
    h-full
    w-full;
}
