/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-rating-spacing-unit: The amount of left and right margin spacing between each rating star.
 */

:host {
  @apply relative flex items-center;
  inline-size: fit-content;
}

@include disabled();

:host([scale="s"]) {
  @apply h-6;
  --calcite-rating-spacing-unit: theme("spacing.1");
}

:host([scale="m"]) {
  @apply h-8;
  --calcite-rating-spacing-unit: theme("spacing.2");
}

:host([scale="l"]) {
  @apply h-11;
  --calcite-rating-spacing-unit: theme("spacing.3");
}

:host([read-only]) {
  @apply pointer-events-none;
}

.fieldset {
  @apply m-0 flex border-0 p-0;
}

.wrapper {
  @apply inline-block;
  margin-inline-end: var(--calcite-rating-spacing-unit);
}

.star {
  @apply focus-base
  relative
  flex
  cursor-pointer
  transition-default;
  color: theme("borderColor.color.input");
}

.focused {
  @apply focus-outset;
}

.average,
.fraction {
  color: theme("colors.warning");
}

.hovered,
.selected,
:host([read-only]) .average,
:host([read-only]) .fraction {
  color: theme("colors.brand");
}

:host .fraction {
  @apply pointer-events-none
    absolute
    top-0
    overflow-hidden
    transition-default;
  inset-inline-start: 0;
}

// rating count
calcite-chip {
  @apply pointer-events-none cursor-default;
}

.number--average {
  @apply font-bold;
}

.number--count {
  @apply text-color-2;
  font-style: italic;
  &:not(:first-child) {
    margin-inline-start: var(--calcite-rating-spacing-unit);
  }
}

.visually-hidden {
  @apply sr-only;
}

@include hidden-form-input();
