:host {
  @apply flex flex-col;
}

@include disabled();

.container {
  @apply bg-foreground-1
  box-border
  flex
  flex-1 font-sans;
  * {
    @apply box-border;
  }
}

.nested-container {
  @apply bg-foreground-1 flex flex-col;
}

.nested-container--hidden {
  @apply hidden;
}

.content-container {
  @apply text-color-2
    flex
    flex-auto
    font-sans
    font-normal
    items-stretch
    p-0;
}

tr,
td {
  @apply focus-base;
}

tr:focus,
td:focus {
  @apply focus-inset;
}

.content {
  @apply text-n2-wrap
    flex
    flex-auto
    flex-col
    justify-center
    px-3
    py-2;
}

.label,
.description {
  @apply text-n2 word-break font-sans font-normal;
  &:only-child {
    @apply m-0 py-1;
  }
}

.label {
  @apply text-color-1;
}

.description {
  @apply text-color-3 mt-0.5;
}

.content-start {
  @apply justify-start;
}

.content-end {
  @apply justify-end;
}

.content-start,
.content-end {
  @apply flex-auto;
}

.has-center-content .content-start,
.has-center-content .content-end {
  @apply flex-initial;
}

.actions-start,
.actions-end,
.content-start,
.content-end,
.expand-container {
  @apply flex items-center;
}

.expand-container {
  @apply cursor-pointer;
}

.content-start,
.content-end {
  ::slotted(calcite-icon) {
    @apply self-center px-3;
  }
}

.actions-start,
.actions-end {
  ::slotted(calcite-action) {
    @apply self-stretch;

    color: inherit;
  }
}

::slotted(calcite-list-item-group),
::slotted(calcite-list-item) {
  padding-inline-start: theme("spacing.2");
}
