:host {
  @apply relative
    flex
    w-full
    min-w-fit
    flex-row
    flex-wrap
    items-stretch
    justify-between;
}

:host([layout="vertical"]) {
  @apply flex-auto flex-col;
}

:host([layout="horizontal"]) {
  display: grid;
  // grid-templates-columns are dynamically generated
  // grid-templates-rows are dynamically generated
  grid-template-areas:
    "items"
    "content";
  row-gap: theme("spacing.2");
  column-gap: theme("margin.2");
}

:host([layout="horizontal"][scale="s"]) {
  gap: theme("spacing.1") theme("margin.1");
}

:host([layout="horizontal"][scale="l"]) {
  row-gap: theme("spacing.3");
  column-gap: theme("margin.3");
}

.step-bar--inactive {
  fill: var(--light-ui-border-3, #dfdfdf);
  stroke-width: 5;
  fill-opacity: 1;
  stroke-opacity: 1;
  block-size: 100%;
  inline-size: 100%;
}

.step-bar--active {
  fill: var(--calcite-ui-brand);
}

.step-bar--complete {
  fill: var(--calcite-ui-brand);
  fill-opacity: 0.5;
}

.step-bar--error {
  fill: var(--calcite-ui-danger);
}

.step-bar {
  block-size: 100%;
}

.step-bar-container {
  @apply flex gap-2 absolute justify-between items-start;
  block-size: 0.125rem;
  inline-size: 100%;
}

.action-icon {
  @apply relative flex;
  --calcite-action-internal-padding-inline-m: 0.75rem;
  --calcite-action-internal-padding-inline-l: 0.875rem;
  --calcite-action-internal-padding-block-s: 0.875rem;
  --calcite-action-internal-padding-block-m: 1.125rem;
  --calcite-action-internal-padding-block-l: 1.5rem;
}

.action-icon--start {
  @apply pe-2;
  order: -1;
}

.action-icon-end {
  @apply ps-2;
  order: 100;
}

@include base-component();
