:host([scale="s"]) {
  --calcite-internal-stepper-item-spacing-unit-s: theme("spacing.1");
  --calcite-internal-stepper-action-block-size: theme("spacing.11");
  --calcite-internal-stepper-action-inline-size: theme("spacing.8");
}

:host([scale="m"]) {
  --calcite-internal-stepper-item-spacing-unit-s: theme("spacing.2");
  --calcite-internal-stepper-action-block-size: theme("spacing.13");
  --calcite-internal-stepper-action-inline-size: theme("spacing.10");
}

:host([scale="l"]) {
  --calcite-internal-stepper-item-spacing-unit-s: theme("spacing.3");
  --calcite-internal-stepper-action-block-size: theme("spacing.16");
  --calcite-internal-stepper-action-inline-size: theme("spacing.12");
}

:host {
  @apply relative
    flex
    w-full
    min-w-fit
    flex-row
    flex-wrap
    items-stretch
    justify-between;
}

:host([layout="vertical"]) {
  @apply flex-auto flex-col;
}

:host([layout="horizontal"]) {
  display: grid;
  // grid-templates-columns are dynamically generated
  // grid-templates-rows are dynamically generated
  grid-template-areas:
    "items"
    "content";
  gap: theme("spacing.2") var(--calcite-internal-stepper-item-spacing-unit-s);
}

:host([layout="horizontal"][scale="s"]) {
  gap: theme("spacing.1") var(--calcite-internal-stepper-item-spacing-unit-s);
}

:host([layout="horizontal"][scale="l"]) {
  gap: theme("spacing.3") var(--calcite-internal-stepper-item-spacing-unit-s);
}

.step-bar {
  @apply flex;
  block-size: 100%;
  inline-size: 100%;
}

.step-bar-container {
  @apply flex gap-2 absolute justify-between items-start;
  block-size: 0.125rem;
  inline-size: 100%;
}

.step-bar--inactive {
  fill: var(--light-ui-border-3, #dfdfdf);
  fill-opacity: 1;
  block-size: 100%;
}

.step-bar--active {
  fill: var(--calcite-ui-brand);
}

.step-bar--complete {
  fill: var(--calcite-ui-brand);
  fill-opacity: 0.5;
}

.step-bar--error {
  fill: var(--calcite-ui-danger);
}

.step-bar--disabled {
  opacity: 0.5;
}

.action-icon {
  @apply flex relative grow-0;
  block-size: var(--calcite-internal-stepper-action-block-size);
  inline-size: var(--calcite-internal-stepper-action-inline-size);
}

.action-container {
  @apply absolute flex justify-between;
  padding-block: 0.25rem;
  inline-size: 100%;
}

@include base-component();
