.month-year {
  display: flex;
  justify-content: space-around;
  margin: .50rem 0 1rem 0;
  text-align: center;

  input {
    font-family: inherit;
    margin-left: .25rem;
  }

  .right-icon,
  .left-icon {
    fill: $light-gray;
    position: relative;
    top: .3rem;
    width: 4rem;
    &:hover {
      fill: $black;
      cursor: pointer;
      transition: all $transition;
    }
  }

  .month,
  .year {
    font-size: 1.25rem;
    color: $black;
    font-weight: 400;
  }

  .year {
    border: none;
  }
}