/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-rating-spacing-unit: The amount of left and right margin spacing between each rating star.
 * @prop --calcite-rating-hover-selected-color: Specifies the component's color when hovered and selected.
 * @prop --calcite-rating-idle-unselected-color: Specifies the component's color when idle and unselected.
 * @prop --calcite-rating-average-color: Specifies the component's color when average is set.
 * @prop --calcite-rating-average-text-color: Specifies the component's average text color.
 * @prop --calcite-rating-count-text-color: Specifies the component's count text color.
 */

:host {
  @apply relative flex items-center;
  inline-size: fit-content;
}

@include disabled();

:host([scale="s"]) {
  @apply h-6;
  --spacing: theme("spacing.1");
}

:host([scale="m"]) {
  @apply h-8;
  --spacing: theme("spacing.2");
}

:host([scale="l"]) {
  @apply h-11;
  --spacing: theme("spacing.3");
}

:host([read-only]) {
  @extend %non-interactive-host-contents;
}

.fieldset {
  margin: 0;
  display: flex;
  border-width: 0;
  padding: 0;
  align-items: center;
  gap: var(--calcite-rating-spacing-unit, var(--spacing));
}

.wrapper {
  display: inline-block;
}

.star {
  @apply transition-default;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: var(--calcite-rating-idle-unselected-color, theme("borderColor.color.input"));
  &:focus {
    @apply focus-outset;
  }
}

.average,
.fraction {
  color: var(--calcite-rating-average-color, theme("colors.warning"));
}

.hovered,
.selected {
  color: var(--calcite-rating-hover-selected-color, theme("colors.brand"));
}

.fraction {
  @apply transition-default;
  position: absolute;
  pointer-events: none;
  inset-block-start: 0;
  overflow: hidden;
  inset-inline-start: 0;
}

// rating count
calcite-chip {
  pointer-events: none;
  cursor: default;
}

.number--average {
  font-weight: bold;
  color: var(--calcite-rating-average-text-color);
}

.number--count {
  color: var(--calcite-rating-count-text-color, var(--calcite-color-text-2));
  font-style: italic;
  &:not(:first-child) {
    margin-inline-start: var(--calcite-rating-spacing-unit, var(--spacing));
  }
}

.visually-hidden {
  @apply sr-only;
}

@include form-validation-message();
@include hidden-form-input();
@include base-component();
