/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-rating-spacing-unit: The amount spacing between rating items.
 * @prop --calcite-rating-outline-color: Specifies the outline color for a rating item.
 * @prop --calcite-rating-outline-color-hover: Specifies the outline color for a rating item while hovered.
 * @prop --calcite-rating-value-fill-color: Specifies the fill color for a rating item with value.
 * @prop --calcite-rating-average-fill-color: Specifies the fill color for a rating item with average.
 * @prop --calcite-rating-chip-background-color: Specifies the background color of the component's `show-chip` display.
 * @prop --calcite-rating-chip-border-color: Specifies the border color of the component's `show-chip` display.
 * @prop --calcite-rating-chip-shadow: Specifies the box shadow of the component's `show-chip` display.
 * @prop --calcite-rating-chip-corner-radius: Specifies the corner radius of the component's `show-chip` display.
 * @prop --calcite-rating-chip-text-color: Specifies the color of the component's `show-chip` display.
 *
 */

:host {
  @apply relative flex items-center;
  inline-size: fit-content;
  --calcite-rating-outline-color: var(--calcite-color-border-input);
  --calcite-rating-outline-color-hover: var(--calcite-color-brand);
  --calcite-rating-value-fill-color: var(--calcite-color-brand);
  --calcite-rating-average-fill-color: var(--calcite-color-status-warning);
  --calcite-rating-chip-background-color: var(--calcite-color-foreground-2);
  --calcite-rating-chip-border-color: var(--calcite-color-foreground-2);
  --calcite-rating-chip-shadow: var(--calcite-shadow-none);
  --calcite-rating-chip-corner-radius: 9999px;
  --calcite-rating-chip-text-color: var(--calcite-color-text-3);
}

@include disabled();

:host([scale="s"]) {
  @apply h-6;
  --calcite-rating-spacing-unit: theme("spacing.1");
}

:host([scale="m"]) {
  @apply h-8;
  --calcite-rating-spacing-unit: theme("spacing.2");
}

:host([scale="l"]) {
  @apply h-11;
  --calcite-rating-spacing-unit: theme("spacing.3");
}

:host([read-only]) {
  @extend %non-interactive-host-contents;
}

.fieldset {
  margin: 0;
  display: flex;
  border-width: 0;
  padding: 0;
  aligns: center;
  gap: var(--calcite-rating-spacing-unit);
}

.wrapper {
  display: inline-block;
}

.star {
  @apply transition-default;
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  cursor: pointer;
  box-shadow: var(--calcite-rating-shadow);
  color: var(--calcite-rating-outline-color);
  &:focus {
    @apply focus-outset;
  }
}

.average,
.fraction {
  color: var(--calcite-rating-average-fill-color);
}

.hovered,
.selected {
  color: var(--calcite-rating-value-fill-color);
}

.fraction {
  @apply transition-default;
  position: absolute;
  pointer-events: none;
  inset-block-start: 0;
  overflow: hidden;
  inset-inline-start: 0;
}

// rating count
calcite-chip {
  pointer-events: none;
  cursor: default;
  --calcite-chip-background-color: var(--calcite-rating-chip-background-color);
  --calcite-chip-border-color: var(--calcite-rating-chip-border-color);
  --calcite-chip-shadow: var(--calcite-rating-chip-shadow);
  --calcite-chip-corner-radius: var(--calcite-rating-chip-corner-radius);
  --calcite-chip-text-color: var(--calcite-rating-chip-text-color);
}

.number--average {
  font-weight: bold;
  color: var(--calcite-rating-chip-text-color, var(--calcite-color-text-1));
}

.number--count {
  font-style: italic;
  &:not(:first-child) {
    margin-inline-start: var(--calcite-rating-spacing-unit);
  }
}

.visually-hidden {
  @apply sr-only;
}

@include hidden-form-input();
@include base-component();
