# The files matching the globs will be assigned to the @usernames that follow
.*                                         @benelan @jcfranco
*.json                                     @benelan @jcfranco
CHANGELOG.md                               @benelan @jcfranco @geospatialem
.github/                                   @benelan @jcfranco @geospatialem
support/                                   @benelan @jcfranco
/packages/calcite-components-react         @benelan @jcfranco
/packages/eslint-plugin-calcite-components @jcfranco
