# The files matching the globs will be assigned to the @usernames that follow
*                                           # no catch-all code owner to reduce notifications
.*                                          @jcfranco
*.json                                      @jcfranco
CHANGELOG.md                                @isaacbraun @jcfranco @geospatialem
.github/                                    @isaacbraun @jcfranco @geospatialem
support/                                    @jcfranco
/packages/components-react                  @jcfranco
/packages/eslint-plugin-components          @jcfranco
/packages/design-tokens                     @matgalla
