/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-field-row-column-gap: When `layout` is `"columns"`, specifies the component's column gap.
 * @prop --calcite-field-row-gap: Specifies the gap between the component's slotted elements.
 */

@use "../../styles/includes";

:host {
  display: block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--calcite-field-row-gap, var(--calcite-field-set-input-gap, var(--calcite-space-md)));

  &--vertical {
    flex-direction: column;
  }

  &--horizontal {
    flex-direction: row;
  }

  &--columns {
    display: grid;
    place-content: stretch;
    align-items: start;
    column-gap: var(
      --calcite-field-row-column-gap,
      var(--calcite-field-set-column-gap, var(--calcite-field-set-input-gap, var(--calcite-space-md)))
    );
    grid-template-columns: repeat(var(--calcite-internal-field-row-columns, 1), minmax(0, 1fr));
  }
}

@include includes.base-component();
