/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-tab-text-color: Specifies the component's text color.
 * @prop --calcite-tab-border-color: Specifies the component's border color.
 * @prop --calcite-tab-background-color: Specifies the component's background color.
 * @prop --calcite-tab-background-color-hover: When `calcite-tabs` is `bordered`, specifies the component's background color when hovered.
 * @prop --calcite-tab-accent-color: Specifies the component's accent color.
 * @prop --calcite-tab-accent-color-hover: Specifies the component's accent color when hovered.
 * @prop --calcite-tab-accent-color-press: Specifies the component's accent color when selected or active.
 * @prop --calcite-tab-icon-color-end: Specifies the component's `iconEnd` color. Fallback to `--calcite-icon-color`.
 * @prop --calcite-tab-icon-color-start: Specifies the component's `iconStart` color. Fallback to `--calcite-icon-color`.
 * @prop --calcite-tab-close-icon-color: Specifies the component's close element icon color.
 * @prop --calcite-tab-close-icon-color-press: Specifies the component's close element icon color when hovered, focused, and active.
 * @prop --calcite-tab-close-icon-background-color: Specifies the component's close element icon background color.
 * @prop --calcite-tab-close-icon-background-color-press: Specifies the component's close element icon background color when hovered, focused, and active.
 */

:host {
  @apply block outline-none;
  margin-inline-start: theme("margin.0");
}

:host([layout="inline"]) {
  @apply flex-initial;
}

:host([layout="center"]) {
  @apply flex-auto;
}

.content {
  @apply flex items-center justify-center h-full mb-0.5 relative box-border;
}

.scale-s {
  .content {
    @apply text-n2h py-1;
  }
  .x-button {
    @apply w-5;
  }
}

.scale-m {
  .content {
    @apply text-n1h py-2;
  }
  .x-button {
    @apply w-7;
  }
}

.scale-l {
  .content {
    @apply text-0h py-2.5;
  }
  .x-button {
    @apply w-8;
  }
}

:host([closable]) .content {
  @apply border-b-color-transparent;
}

:host([layout="inline"]),
:host([layout="center"]) {
  .content {
    @apply px-1;
  }
}

:host([layout="center"]) .scale-s,
:host([layout="center"]) .scale-m,
:host([layout="center"]) .scale-l {
  @apply justify-center my-0 text-center;

  .content {
    @apply flex-auto flex-grow;
  }
}

.container {
  @apply relative
  box-border
  content-center
  cursor-pointer
  flex
  focus-base
  h-full
  justify-between
  px-0
  text-n1h
  transition-default
  w-full;

  color: var(--calcite-tab-text-color, var(--calcite-color-text-3));
  background-color: var(--calcite-tab-background-color, transparent);
}

.selected-indicator {
  @apply absolute
    block
    w-full
    h-0.5
    transition-default;
  inset-block-end: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inline-size: 100%;
  background-color: var(--calcite-tab-accent-color, var(--calcite-color-transparent));
}

.container--bottom .selected-indicator {
  inset-block-end: unset;
  inset-block-start: 0;
}

:host(:not([bordered])) .container {
  &:hover,
  &:active {
    @apply text-color-1;
  }
}

:host([selected]:focus) {
  .selected-indicator {
    block-size: 4px;
  }
}

.calcite-tab-title--icon {
  @apply relative
    m-0
    inline-flex
    self-center;
  & svg {
    @apply transition-default;
  }
}

.content--has-text {
  .icon-start {
    color: var(--calcite-tab-icon-color-start, var(--calcite-icon-color));
  }
}

.content--has-text .calcite-tab-title--icon.icon-start {
  color: var(--calcite-tab-icon-color-start, var(--calcite-icon-color));
  .icon-end {
    color: var(--calcite-tab-icon-color-end, var(--calcite-icon-color));
  }
}

.content--has-text .calcite-tab-title--icon.icon-end {
  color: var(--calcite-tab-icon-color-end, var(--calcite-icon-color));
}

.content--has-text {
  @apply p-1;

  .calcite-tab-title--icon {
    &.icon-start {
      margin-inline-end: var(--calcite-spacing-sm);
    }

    &.icon-end {
      margin-inline-start: var(--calcite-spacing-sm);
    }
  }
}

.x-button {
  @apply appearance-none
  bg-transparent
  border-none
  content-center
  cursor-pointer
  flex
  focus-base
  items-center
  justify-center
  h-full
  self-center
  transition-default;
  margin-inline-start: var(--calcite-spacing-sm);
  margin-inline-end: var(--calcite-spacing-px);
  block-size: calc(100% - var(--calcite-spacing-xxs));
  color: var(--calcite-tab-close-icon-color, var(--calcite-color-text-3));
  background-color: var(--calcite-tab-close-icon-background-color, var(--calcite-color-transparent));

  &:focus {
    @apply focus-normal;
  }

  &:focus,
  &:hover,
  &:active {
    color: var(--calcite-tab-close-icon-color-press, var(--calcite-color-text-1));
    background-color: var(--calcite-tab-close-icon-background-color-press, var(--calcite-color-foreground-3));
  }
}

// bordered styles
:host([bordered]) .container {
  border-color: transparent;
  border-inline-width: var(--calcite-spacing-px);
  border-inline-style: solid;

  &:hover,
  &:active {
    @apply text-color-1;
  }

  .x-button {
    & calcite-icon {
      margin-block-start: var(--calcite-spacing-px);
    }

    &:focus,
    &:hover,
    &:active {
      box-shadow: 0 2px 0 0 var(--calcite-tab-close-icon-background-color-press, var(--calcite-color-foreground-3));
    }
  }

  &.container--bottom {
    border-block-start-style: solid;
    border-block-start-width: 1px;

    .selected-indicator {
      inset-block-start: unset;
      inset-block-end: 0;
    }

    .x-button {
      box-shadow: 0 -2px 0 0 var(--calcite-tab-close-icon-background-color, var(--calcite-color-transparent));

      &:focus,
      &:hover,
      &:active {
        box-shadow: 0 -2px 0 0 var(--calcite-tab-close-icon-background-color-press, var(--calcite-color-foreground-3));
      }

      calcite-icon {
        margin-block-end: var(--calcite-spacing-px);
      }
    }
  }

  &:not(.container--bottom) {
    border-block-end-style: solid;
    border-block-end-width: 1px;

    .x-button {
      block-size: calc(100% - var(--calcite-spacing-px));
      margin-block-start: -1px;
    }
  }

  .selected-indicator {
    inset-block-start: 0;
    inset-block-end: unset;
    inset-inline-start: -1px;
    inset-inline-end: 0;
    inline-size: calc(100% + var(--calcite-spacing-base));
  }

  &:host([selected]) {
    &::after {
      @apply absolute
          block
          w-full
          h-0.5
          transition-default;
      inset-block-end: -1px;
      inset-inline-start: 0;
      inset-inline-end: 0;
      inline-size: 100%;
      content: "";
    }

    &.container--bottom::after {
      inset-block-start: -1px;
    }

    &:host(:hover) .container::after {
      background-color: var(--calcite-tab-background-color-hover, var(--calcite-color-foreground-2));
    }

    &:host(:focus) .container::after {
      background: transparent;
    }
  }

  &:host(:not([selected])) {
    .container .x-button {
      box-shadow: 0 2px 0 0 transparent;
    }

    &:host(:hover) {
      .container:not(.container--bottom) {
        border-block-end-color: var(--calcite-tab-border-color, var(--calcite-color-border-1));
      }

      &:host(:not(:focus)) {
        .selected-indicator {
          background-color: var(--calcite-tab-accent-color-hover, var(--calcite-color-border-3));
          box-shadow: inset 0 var(--calcite-internal-tab-shadow-length)
            var(--calcite-tab-border-color, var(--calcite-color-border-1));
        }
        :not(.container--bottom) {
          --calcite-internal-tab-shadow-length: 1px;
        }
        .container--bottom {
          --calcite-internal-tab-shadow-length: -1px;
        }
      }
    }
  }

  &:hover {
    background-color: var(--calcite-tab-background-color-hover, var(--calcite-color-foreground-2));
  }
}

:host(:hover) .selected-indicator {
  background-color: var(--calcite-tab-accent-color-hover, var(--calcite-color-border-3));
}

:host([selected]) .selected-indicator,
:host([selected]:hover) .selected-indicator,
:host(:focus) .selected-indicator,
:host(:active) .selected-indicator {
  background-color: var(--calcite-tab-accent-color-press, var(--calcite-color-brand));
}

:host([closed]) {
  @apply hidden;
}

:host([selected]) .container {
  @apply border-color-transparent;
  border-block-end-color: white;
  color: var(--calcite-tab-text-color, var(--calcite-color-text-1));
}

:host([selected][bordered]) .container {
  border-inline-color: var(--calcite-tab-border-color, var(--calcite-color-border-1));

  &::after {
    background-color: var(--calcite-tab-background-color, var(--calcite-color-foreground-1));
  }

  &:hover,
  &:active {
    background: transparent;
  }
}

:host(:focus) .container {
  @apply focus-inset;

  &:focus-within {
    @apply focus-base;
  }
}

// compensate for spacing when no hastext and two icons
:host([icon-start][icon-end]) {
  .calcite-tab-title--icon:first-child {
    margin-inline-end: var(--calcite-spacing-sm);
  }
}

:host([layout="inline"][bordered]),
:host([layout="center"][bordered]) {
  .scale-m {
    .content {
      @apply px-3;
    }
  }

  .scale-s {
    .content {
      @apply px-2;
    }
  }

  .scale-l {
    .content {
      @apply px-4;
    }
  }
}

:host([layout="inline"][closable]) {
  .scale-s,
  .scale-m,
  .scale-l {
    .content {
      padding-inline-end: 0;
    }
  }
}

@media (forced-colors: active) {
  :host {
    outline-width: 0;
    outline-offset: 0;
  }

  :host(:focus) .container {
    outline-color: highlight;
  }

  :host([bordered][selected]) .container {
    border-block-end-style: none;
  }

  :host([bordered][selected]) .container--bottom {
    border-block-start-style: none;
  }

  .x-button {
    /* in high contrast the tab title outline covers the close button outline without a z-index */
    @apply z-default;
  }

  .selected-indicator {
    background-color: highlight;
  }
}

@include base-component();
@include disabled() {
  .container {
    @apply pointer-events-none opacity-50;
  }
}
