/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-checkbox-size: defines the checkbox's size vertically and horizontally.
 * @prop --calcite-checkbox-background-color: defines the background color of the checkbox.
 * @prop --calcite-checkbox-shadow: defines the box shadow of the checkbox.
 * @prop --calcite-checkbox-icon-color: defines the icon color of the checkbox.
 */

:host {
  --calcite-checkbox-background-color: var(--calcite-color-foreground-1);
  --calcite-checkbox-shadow: inset 0 0 0 1px var(--calcite-color-border-input);
  --calcite-checkbox-icon-color: var(--calcite-color-background);
}

:host([scale="s"]) {
  --calcite-checkbox-size: theme("spacing.3");
}
:host([scale="m"]) {
  --calcite-checkbox-size: theme("fontSize.n1");
}
:host([scale="l"]) {
  --calcite-checkbox-size: theme("spacing.4");
}

:host {
  @apply relative
    inline-flex
    cursor-pointer
    select-none;
  -webkit-tap-highlight-color: transparent;

  .check-svg,
  .toggle {
    inline-size: var(--calcite-checkbox-size);
    block-size: var(--calcite-checkbox-size);
  }

  .check-svg {
    @apply pointer-events-none
      box-border
      block
      overflow-hidden
      fill-current
      stroke-current
      stroke-1
      transition-default;
    background-color: var(--calcite-checkbox-background-color);
    box-shadow: var(--calcite-checkbox-shadow);
    color: var(--calcite-checkbox-icon-color);
  }
}

:host([status="invalid"]:not([checked])) {
  --calcite-checkbox-shadow: inset 0 0 0 1px var(--calcite-color-status-danger);

  .toggle:focus {
    @apply focus-outset-danger;
  }
}

:host([checked]),
:host([indeterminate]) {
  --calcite-checkbox-shadow: inset 0 0 0 1px var(--calcite-color-brand);
  --calcite-checkbox-background-color: var(--calcite-color-brand);
}
:host([hovered]) .toggle,
:host .toggle:hover {
  --calcite-checkbox-shadow: inset 0 0 0 2px var(--calcite-color-brand);
}

.toggle {
  @apply focus-base relative;

  &:active,
  &:focus,
  &:focus-visible {
    @apply focus-outset;
  }

  &::after {
    content: "";
    inset-block-start: 50%;
    inset-inline-start: 50%;
    min-block-size: theme("width.6");
    min-inline-size: theme("width.6");
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
  }
}

@include disabled();
@include hidden-form-input();
@include base-component();
