# Directories
dist/
www/
hydrate/
node_modules/

# Compiled files
support/output-targets/custom-elements/bundles/
src/**/components.d.ts
src/**/*.js
__docs-temp__/*

# User Settings, Caches & Temp Files
*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
*.bak
*.orig
.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
.DS_Store
.env
$RECYCLE.BIN/
Thumbs.db
UserInterfaceState.xcuserstate
log.txt
src/components.d.ts
src/components/calcite-icon/assets
