# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# macOS metadata
.DS_Store

# Pre-Build Folders
sd-example
tokens
sd-transform

# Documentation
CONTRIBUTING.md

# Configurations
.editorconfig
.gitignore
config.bak.json
config.json

