**/*.d.ts
**/package-lock.json

# prevents modifying licenses
**/THIRD-PARTY-NOTICES.md

# calcite-design-tokens

## source tokens are managed by the Tokens Studio plugin, which syncs directly to GitHub
packages/design-tokens/src/tokens/**/*.json
