/**
* CSS Custom Properties  
*
* These properties can be overridden using the component's tag as selector.
*
* @prop --calcite-handle-icon-color: Specifies the icon color of the component.
* @prop --calcite-handle-icon-color-hover: Specifies the icon color of the component when in hover state.
* @prop --calcite-handle-icon-color-focus: Specifies the icon color of the component when in focus state.
* @prop --calcite-handle-icon-color-selected: Specifies the icon color of the component when selected.

* @prop --calcite-handle-background-color: Specifies the background color of the component.
* @prop --calcite-handle-background-color-hover: Specifies the background color of the component when in hover state.
* @prop --calcite-handle-background-color-focus: Specifies the background color of the component when in focus state.
* @prop --calcite-handle-background-color-selected: Specifies the background color of the component when selected.
*/

:host {
  @apply flex;
}

.handle {
  @apply focus-base
    flex
    items-center
    justify-center
    self-stretch
    border-none;

  padding-block: theme("spacing.3");
  padding-inline: theme("spacing.1");
  line-height: 0;
  cursor: move;

  background-color: var(--calcite-handle-background-color, transparent);
  color: var(--calcite-handle-icon-color, var(--calcite-color-border-input));

  calcite-icon {
    color: inherit;
  }
}

:host(:not([disabled])) .handle {
  @apply cursor-move;
  &:hover {
    color: var(--calcite-handle-icon-color-hover, var(--calcite-color-text-1));
    background-color: var(--calcite-handle-background-color-hover, var(--calcite-color-foreground-2));
  }
  &:focus {
    @apply focus-inset;
    color: var(--calcite-handle-icon-color-focus, var(--calcite-color-text-1));
  }
  &--selected {
    color: var(--calcite-handle-icon-color-selected, var(--calcite-color-text-1));
    background-color: var(--calcite-handle-background-color-selected, var(--calcite-color-foreground-3));
  }
}

:host([disabled]) {
  cursor: pointer;
}

@include disabled();

@include base-component();
