/**
* CSS Custom Properties  
*
* These properties can be overridden using the component's tag as selector.
*
* @prop --calcite-handle-text-color: The text color of the component.
* @prop --calcite-handle-background-color: The background color of the component.
*/

:host {
  @apply flex;

  --calcite-handle-text-color: var(--calcite-color-text-1);
  --calcite-handle-background-color: var(--calcite-color-foreground-2);
}

.handle {
  @apply focus-base
    flex
    items-center
    justify-center
    self-stretch
    border-none
    bg-transparent;
  color: var(--calcite-color-border-input);
  padding-block: theme("spacing.3");
  padding-inline: theme("spacing.1");
  line-height: 0;

  calcite-icon {
    color: inherit;
  }
}

:host(:not([disabled])) .handle {
  @apply cursor-move;
  &:hover {
    background-color: var(--calcite-handle-background-color);
    color: var(--calcite-handle-text-color);
  }
  &:focus {
    @apply focus-inset;

    color: var(--calcite-handle-text-color);
  }
  &--selected {
    background-color: var(--calcite-color-foreground-3);
    color: var(--calcite-handle-text-color);
  }
}

@include disabled();

@include base-component();
