@use "../../styles/shared";

:host {
  display: block;
}

.container {
  position: relative;
}

@include shared.base-component();

@include shared.disabled();

:host([slot="children"]) {
  slot::slotted(calcite-block) {
    border-block-end-width: 0;
  }
}
