@use "../../styles/includes";

:host {
  display: block;
}

.container {
  position: relative;
}

.assistive-text {
  position: absolute;
  inline-size: var(--calcite-border-width-sm);
  block-size: var(--calcite-border-width-sm);
  padding: 0;
  margin: calc(-1 * var(--calcite-border-width-sm));
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: var(--calcite-border-width-none);
}

@include includes.base-component();

@include includes.disabled();

:host([slot="children"]) {
  slot::slotted(calcite-block) {
    border-block-end-width: 0;
  }
}
