<h1>Hello, Ember 4!</h1>

<calcite-button
  icon-end='banana'
  {{on 'click' (fn (mut this.showModal) true)}}
>Open Modal</calcite-button>

<calcite-modal
  aria-labelledby='modal-title'
  close-button-disabled
  open={{this.showModal}}
  {{ on 'calciteModalClose' (fn (mut this.showModal) undefined)}}
>
  <h3 slot='header' id='modal-title'>Are you happy?</h3>
  <div slot='content'>
    Because it works!
  </div>
  <calcite-button
    slot='secondary'
    width='full'
    appearance='outline'
    {{on 'click' (fn (mut this.showModal) undefined)}}
  >
    Cancel
  </calcite-button>
</calcite-modal>