:host-context([theme="light"]) {
  --calcite-ui-border-4: $blk-100;
}
:host-context([theme="dark"]) {
  @include calcite-theme-dark();
}
:host([scale="s"]) {
  --calcite-checkbox-size: 12px;
}
:host([scale="m"]) {
  --calcite-checkbox-size: 16px;
}
:host([scale="l"]) {
  --calcite-checkbox-size: 20px;
}
::slotted(input) {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
:host {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  .check-svg {
    width: var(--calcite-checkbox-size);
    height: var(--calcite-checkbox-size);
    overflow: hidden;
    display: inline-block;
    background-color: var(--calcite-ui-foreground-1);
    box-shadow: inset 0 0 0 1px var(--calcite-ui-border-4);
    fill: var(--calcite-ui-background);
    pointer-events: none;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;
  }
  .hasLabel {
    display: grid;
    grid-gap: 12px;
    align-items: center;
    --calcite-label-margin-bottom: 0;
  }
}
:host(:hover),
:host([hovered]) {
  .check-svg {
    box-shadow: inset 0 0 0 2px var(--calcite-ui-blue-1);
  }
}
:host([checked]),
:host([indeterminate]) {
  .check-svg {
    background-color: var(--calcite-ui-blue-1);
    box-shadow: inset 0 0 0 1px var(--calcite-ui-blue-1);
  }
}
:host(:focus),
:host([focused]) {
  .check-svg {
    @include focus-box-shadow(inset 0 0 0 1px var(--calcite-ui-blue-1));
  }
}
:host([disabled]) {
  cursor: default;
  opacity: 0.4;
  pointer-events: none;
}
:host([scale="s"]) {
  .hasLabel {
    grid-template-columns: 12px 1fr 4px;
    grid-template-rows: 16px 1fr;
  }
}
:host([scale="m"]) {
  .hasLabel {
    grid-template-columns: 16px 1fr 4px;
    grid-template-rows: 20px 1fr;
  }
}
:host([scale="l"]) {
  .hasLabel {
    grid-template-columns: 20px 1fr 4px;
    grid-template-rows: 24px 1fr;
  }
}
