::slotted(input) {
  display: none;
}

:host {
  display: inline-block;
  
  .calendar-picker-wrapper {
    padding: .5rem 1.25rem;
  }

  .date-input-wrapper {
    padding: 1.10rem 1rem;
    border: 1px solid $light-gray;
  
    &.expanded {
      border: none;
      border-bottom: 1px solid $light-gray;
    }
  
    &:active,
    &:focus,
    &.open {
      border: none;
      border-bottom: 1px solid $light-gray;
    }
  
    .calendar-icon {
      fill: $darkest-gray;
      position: relative;
      top: 2px;
    }
  
    .date-input {
      color: $darkest-gray;
      border: none;
      font-weight: 400;
      font-size: inherit;
      font-family: inherit;
      margin-left: .75rem;
  
      &:active,
      &:focus {
        outline: none;
      }
    }
  }
}

:host([expanded]) {
  background-color: $white;
  border: 1px solid $light-gray;
  box-shadow: $shadow-2;
}