::slotted(input) {
  display: none;
}

:host {
  display: inline-block;
  
  .date-input-wrapper {
    padding: 12px;
    border: 1px solid $light-gray;
  
    &.expanded {
      border: none;
      border-bottom: 1px solid $light-gray;
    }
  
    &:active,
    &:focus,
    &.open {
      border: none;
      border-bottom: 1px solid $light-gray;
    }
  
    .calendar-icon {
      fill: $darkest-gray;
    }
  
    .date-input {
      color: $darkest-gray;
      border: none;
      font-weight: 400;
      font-size: inherit;
      margin-left: 12px;
  
      &:active,
      &:focus {
        outline: none;
      }
    }
  }
}

:host([expanded]) {
  background-color: $white;
  border: 1px solid $light-gray;
  box-shadow: 16px 16px 40px 8px rgba($blk-240, 0.15);
}