:host {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  position: relative;
  overflow: visible;
}

:host-context([theme="dark"]) {
  @include calcite-theme-dark();
}

:host([scale="s"]) {
  max-width: 216px;
}

:host([scale="m"]) {
  max-width: 286px;
}

:host([scale="l"]) {
  max-width: 398px;
}

.calendar-icon {
  color: var(--calcite-ui-text-3);
  position: absolute;
  top: 50%;
  margin: -8px $baseline * 0.5;
  pointer-events: none;
}

:host(:not([no-calendar-input])) .menu-container {
  @include popperContainer();
  visibility: hidden;
  pointer-events: none;
  width: 100%;
}
:host(:not([no-calendar-input])[active]) .menu-container {
  pointer-events: initial;
  visibility: visible;
}

:host(:not([no-calendar-input])) {
  @include popperElemAnim(".menu-container");
}

.calendar-picker-wrapper {
  background-color: var(--calcite-ui-foreground-1);
  width: 100%;
  line-height: 0; // fixes height in ie11
}

.input .calcite-input-wrapper {
  margin-top: 0;
}

:host([active]) {
  .date-input-wrapper {
    border: 1px solid var(--calcite-ui-foreground-1);
    border-bottom: 1px solid var(--calcite-ui-border-3);
  }
}

:host([no-calendar-input]) {
  @apply shadow-none;
  .calendar-picker-wrapper {
    @apply shadow-none;
    position: static;
    transform: translate3d(0, 0, 0);
    border-radius: none;
    border: 1px solid var(--calcite-ui-border-2);
  }
}
