::slotted(input) {
  display: none;
}

:host {
  display: inline-block;
  vertical-align: top;

  .date-input-wrapper {
    border: 1px solid var(--calcite-ui-border-1);
    position: relative;

    &.expanded {
      border: none;
      border-bottom: 1px solid var(--calcite-ui-border-1);
    }

    &:active,
    &:focus,
    &.open {
      border-color: transparent;
      border-bottom: 1px solid var(--calcite-ui-border-1);
    }

    .calendar-icon {
      fill: var(--calcite-ui-text-3);
      position: absolute;
      top: $baseline/1.8;
      left: $baseline/1.15;
    }

    .date-input {
      color: var(--calcite-ui-text-3);
      background: var(--calcite-ui-foreground);
      box-sizing: border-box;
      border: none;
      font-weight: 400;
      font-size: 16px;
      font-family: inherit;
      padding: .75rem;
      width: 100%;
      margin: 0;
      padding-left: $baseline*2;
      &:active,
      &:focus {
        outline: none;
      }

      &::-webkit-inner-spin-button,
      &::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
      }
    }
  }
}

:host([expanded]) {
  background-color: var(--calcite-ui-foreground);
  border-radius: var(--calcite-border-radius);
  border: 1px solid var(--calcite-ui-border-2);
  box-shadow: $shadow-2;
  overflow: hidden;
}
