:host {
  @extend %component-host;
  @include borderShadow();
  align-items: center;
  background-color: transparent;
  display: flex;
  margin: 0;
  color: var(--calcite-ui-text-1);
  transition: background-color var(--calcite-app-animation-time-fast) var(--calcite-app-easing-function);
  animation: calcite-app-fade-in var(--calcite-app-animation-time) var(--calcite-app-easing-function);
}

:host(:hover),
:host(:focus) {
  background-color: var(--calcite-ui-foreground-2);
}

.icon {
  color: var(--calcite-ui-blue-1);
  flex: 0 0 0%;
  line-height: 0;
  width: var(--calcite-icon-size);
  margin: 0 var(--calcite-spacing-quarter);
  opacity: 0;
}

:host([selected]) .icon {
  transition: opacity $transition;
  opacity: 1;
}

.label {
  display: flex;
  flex: 1 1 auto;
  padding: var(--calcite-spacing-half) var(--calcite-spacing-quarter);
  align-items: center;
  cursor: pointer;
  @include focus-style-base();
  &:focus {
    @include focus-style-inset();
  }
}

.text-container {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  pointer-events: none;
  padding: 0 var(--calcite-spacing-quarter);
}

.title {
  @include font-size(-4);
  word-wrap: break-word;
  word-break: break-word;
}

.description {
  color: var(--calcite-ui-text-3);
  font-family: var(--calcite-code-family);
  @include font-size(-4);
  margin-top: var(--calcite-spacing-quarter);
  word-wrap: break-word;
  word-break: break-word;
}

.action {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-self: flex-end;
  margin: var(--calcite-spacing-quarter) var(--calcite-spacing-half);
}
