/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-input-time-zone-corner-radius: Specifies the component's corner radius.
 */

@use "../../styles/includes";

:host {
  display: block;
  --calcite-combobox-corner-radius: var(--calcite-input-time-zone-corner-radius, var(--calcite-corner-radius));
}

.offset {
  white-space: nowrap;
}

@include includes.base-component();
@include includes.base-component-sizing();
@include includes.disabled();
@include includes.hidden-form-input();
