@use "../../styles/includes";

:host {
  display: block;
  --calcite-combobox-corner-radius: var(--calcite-input-time-zone-corner-radius, var(--calcite-corner-radius));
}

.offset {
  white-space: nowrap;
}

@include includes.base-component();
@include includes.disabled();
