:host {
  @extend %component-host;
  @extend %component-spacing;
  display: flex;
  align-items: stretch;
  background-color: transparent;
  pointer-events: none;

  --calcite-shell-panel-detached-max-height: unset;
}

::slotted(calcite-panel),
::slotted(calcite-flow) {
  height: 100%;
  max-height: unset;
  max-width: unset;
  width: 100%;
}

.content {
  align-items: stretch;
  align-self: stretch;
  background-color: var(--calcite-ui-background);
  flex-flow: column nowrap;
  display: flex;
  padding: 0;
  pointer-events: auto;
  width: var(--calcite-shell-panel-width);
  max-width: var(--calcite-shell-panel-max-width);
  min-width: var(--calcite-shell-panel-min-width);
  transition: max-height $transition, max-width $transition;
}

:host([width-scale="s"]) .content {
  --calcite-shell-panel-width: 12vw;
  --calcite-shell-panel-max-width: 300px;
  --calcite-shell-panel-min-width: 150px;
}

:host([width-scale="m"]) .content {
  --calcite-shell-panel-width: 20vw;
  --calcite-shell-panel-max-width: 420px;
  --calcite-shell-panel-min-width: 240px;
}

:host([width-scale="l"]) .content {
  --calcite-shell-panel-width: 45vw;
  --calcite-shell-panel-max-width: 680px;
  --calcite-shell-panel-min-width: 340px;
}

:host([detached-height-scale="s"]) .content--detached {
  --calcite-shell-panel-detached-max-height: 40vh;
}

:host([detached-height-scale="m"]) .content--detached {
  --calcite-shell-panel-detached-max-height: 60vh;
}

:host([detached-height-scale="l"]) .content--detached {
  --calcite-shell-panel-detached-max-height: 80vh;
}

.content--detached {
  @apply
  rounded
  shadow-0
  h-auto
  overflow-hidden
  mt-2 mb-auto mx-2;

  max-height: var(--calcite-shell-panel-detached-max-height);

  ::slotted(calcite-panel),
  ::slotted(calcite-flow) {
    max-height: unset;
  }
}

.content[hidden] {
  display: none;
}

:host([position="start"]) slot[name="action-bar"]::slotted(calcite-action-bar) {
  border-right: 1px solid var(--calcite-ui-border-3);
}

:host([position="end"]) slot[name="action-bar"]::slotted(calcite-action-bar) {
  border-left: 1px solid var(--calcite-ui-border-3);
}
