:host {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  position: relative;
  overflow: visible;
  border-radius: none;
  border: 1px solid var(--calcite-ui-border-2);
  background-color: var(--calcite-ui-foreground-1);
}

:host([scale="s"]) {
  max-width: 216px;
}

:host([scale="m"]) {
  max-width: 286px;
}

:host([scale="l"]) {
  max-width: 398px;
}
