/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-block-action-menu-border-color: The border color of the sub-component.
 * @prop --calcite-block-action-menu-text-color: The text color of the sub-component.
 * @prop --calcite-block-handle-background-color-focus: Specifies the background color of the sub-component when in focus state.
 * @prop --calcite-block-handle-background-color-hover: Specifies the background color of the sub-component when in hover state.
 * @prop --calcite-block-handle-background-color-selected: Specifies the background color of the sub-component when selected.
 * @prop --calcite-block-handle-background-color: Specifies the background color of the sub-component.
 * @prop --calcite-block-handle-icon-color-focus: Specifies the icon color of the sub-component when in focus state.
 * @prop --calcite-block-handle-icon-color-hover: Specifies the icon color of the sub-component when in hover state.
 * @prop --calcite-block-handle-icon-color-selected: Specifies the icon color of the sub-component when selected.
 * @prop --calcite-block-handle-icon-color: Specifies the icon color of the sub-component.
 * @prop --calcite-block-loader-color-one-third: Specifies the starting color of the loader
 * @prop --calcite-block-loader-color-start: Specifies the starting color of the loader
 * @prop --calcite-block-loader-color-two-thirds: Specifies the starting color of the loader
 * @prop --calcite-block-padding: Specifies the padding of the block `default` slot.
 *
 */

:host {
  @extend %component-host;
  @apply transition-margin ease-cubic border-color-3 flex flex-shrink-0 flex-grow-0
    flex-col border-0 border-b border-solid p-0 duration-150;
  flex-basis: auto;
}

@include disabled();
@include header();

.header {
  @apply justify-start p-0;
}

.header,
.toggle {
  grid-area: header;
}

.header-container {
  @apply grid items-stretch;
  grid-template: auto / auto 1fr auto auto;
  grid-template-areas: "handle header control menu";
  grid-column: header-start / menu-end;
  grid-row: 1 / 2;
}

.toggle {
  @apply font-inherit
    focus-base
    m-0
    flex
    cursor-pointer
    flex-nowrap
    items-center
    justify-between
    border-none
    p-0;
  text-align: initial;

  background-color: transparent;
  &:hover {
    @apply bg-foreground-2;
  }
  &:focus {
    @apply focus-inset;
  }
}

calcite-loader[inline] {
  grid-area: control;
  @apply self-center;
}

calcite-handle {
  grid-area: handle;
}

.title {
  @apply m-0;
  padding: theme("spacing.3");
}

.header .title .heading {
  @apply text-n1
    text-color-2
    word-break
    transition-color
    p-0
    font-medium
    leading-tight
    duration-150
    ease-in-out;
}

.description {
  @apply text-n2-wrap
    text-color-3
    word-break
    mt-0.5
    p-0;
}

.icon {
  display: flex;
  margin-inline-start: theme("spacing.3");
  margin-inline-end: 0px;
}

.status-icon.valid {
  color: theme("colors.success");
}

.status-icon.invalid {
  color: theme("colors.danger");
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.toggle-icon {
  @apply text-color-3
  transition-color
  my-3
  self-center
  justify-self-end
  duration-150
  ease-in-out;
  margin-inline-end: theme("spacing.3");
  margin-inline-start: auto;
}

.toggle:hover .toggle-icon {
  @apply text-color-1;
}

.container {
  @apply flex flex-col h-full relative;
}

.content {
  @apply animate-in flex-1 relative min-h-0;
  padding-block: var(--calcite-block-padding, theme("spacing.2"));
  padding-inline: var(--calcite-block-padding, theme("spacing[2.5]"));
}

.control-container {
  @apply m-0 flex;
  grid-area: control;
}

calcite-action-menu {
  grid-area: menu;
}

:host([open]) {
  @apply my-2;

  .header .title .heading {
    @apply text-color-1;
  }
}

calcite-action-menu {
  --calcite-action-menu-border-color: var(--calcite-block-action-menu-border-color);
  --calcite-action-menu-text-color: var(--calcite-block-action-menu-text-color);
}

calcite-handle {
  --calcite-handle-icon-color: var(--calcite-block-handle-icon-color);
  --calcite-handle-background-color: var(--calcite-block-handle-background-color);

  --calcite-handle-icon-color-hover: var(--calcite-block-handle-icon-color-hover);
  --calcite-handle-background-color-hover: var(--calcite-block-handle-background-color-hover);

  --calcite-handle-icon-color-focus: var(--calcite-block-handle-icon-color-focus);
  --calcite-handle-background-color-focus: var(--calcite-block-handle-background-color-focus);

  --calcite-handle-icon-color-selected: var(--calcite-block-handle-icon-color-selected);
  --calcite-handle-background-color-selected: var(--calcite-block-handle-background-color-selected);
}

calcite-loader {
  --calcite-loader-color-one-third: var(--calcite-block-loader-color-one-third);
  --calcite-loader-color-start: var(--calcite-block-loader-color-start);
  --calcite-loader-color-two-thirds: var(--calcite-block-loader-color-two-thirds);
}

@include base-component();
