/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-block-action-menu-border-color: The border color of the sub-component.
 * @prop --calcite-block-action-menu-text-color: The text color of the sub-component.
 * @prop --calcite-block-background-color: Specifies the background color of the component.
 * @prop --calcite-block-border-color: Specifies the border color of the component.
 * @prop --calcite-block-content-space: Specifies the space of the component's `default` slot.
 * @prop --calcite-block-description-text-color: Specifies the text color of the component's description.
 * @prop --calcite-block-handle-background-color-focus: Specifies the background color of the sub-component when in focus state.
 * @prop --calcite-block-handle-background-color-hover: Specifies the background color of the sub-component when in hover state.
 * @prop --calcite-block-handle-background-color-selected: Specifies the background color of the sub-component when selected.
 * @prop --calcite-block-handle-background-color: Specifies the background color of the sub-component.
 * @prop --calcite-block-handle-icon-color-focus: Specifies the icon color of the sub-component when in focus state.
 * @prop --calcite-block-handle-icon-color-hover: Specifies the icon color of the sub-component when in hover state.
 * @prop --calcite-block-handle-icon-color-selected: Specifies the icon color of the sub-component when selected.
 * @prop --calcite-block-handle-icon-color: Specifies the icon color of the sub-component.
 * @prop --calcite-block-header-background-color-hover: Specifies the background color of the component's header when hovered.
 * @prop --calcite-block-header-background-color: Specifies the background color of the component's header.
 * @prop --calcite-block-heading-text-color-open: Specifies the text color of the component's heading when open.
 * @prop --calcite-block-heading-text-color: Specifies the text color of the component's heading.
 * @prop --calcite-block-loader-color-one-third: Specifies the starting color of the loader
 * @prop --calcite-block-loader-color-start: Specifies the starting color of the loader
 * @prop --calcite-block-loader-color-two-thirds: Specifies the starting color of the loader
 * @prop --calcite-block-padding: [Deprecated] use `--calcite-block-content-space` instead - Specifies the padding of the component's `default` slot.
 * @prop --calcite-block-text-color: Specifies the text color of the component.
 * @prop --calcite-block-toggle-icon-color: Specifies the color of the component's toggle icon.
 */

:host {
  --calcite-internal-block-padding-inline: var(
    --calcite-block-padding,
    var(--calcite-block-content-space, theme("spacing[2.5]"))
  );
  --calcite-internal-block-padding-block: var(
    --calcite-block-padding,
    var(--calcite-block-content-space, theme("spacing.2"))
  );

  @include base-host();
  @apply border-0 border-b border-solid duration-150 ease-cubic
    flex flex-col flex-grow-0 flex-shrink-0 p-0 transition-margin;
  flex-basis: auto;

  background-color: var(--calcite-block-background-color, var(--calcite-color-foreground-1));
  border-color: var(--calcite-block-border-color, var(--calcite-color-border-3));
  color: var(--calcite-block-text-color, var(--calcite-color-text-2));
  font-size: var(--calcite-font-size--1);

  --calcite-internal-block-no-space: 0;
}

.header,
.toggle {
  grid-area: header;
}

.header-container {
  @apply grid items-stretch;
  grid-template: auto / auto 1fr auto auto;
  grid-template-areas: "handle header control menu";
  grid-column: header-start / menu-end;
  grid-row: 1 / 2;
}

.toggle {
  @apply font-inherit
    focus-base
    m-0
    flex
    cursor-pointer
    flex-nowrap
    items-center
    justify-between
    border-none
    p-0;
  text-align: initial;
  background-color: var(--calcite-block-header-background-color, transparent);

  .toggle-icon {
    color: var(--calcite-block-toggle-icon-color, var(--calcite-color-text-3));
  }

  &:hover {
    background-color: var(--calcite-block-header-background-color-hover, var(--calcite-color-foreground-2));

    .toggle-icon {
      color: var(--calcite-block-toggle-icon-color, var(--calcite-color-text-1));
    }
  }
  &:focus {
    @apply focus-inset;
  }
}

calcite-loader[inline] {
  grid-area: control;
  @apply self-center;
}

calcite-handle {
  grid-area: handle;
}

.title {
  @apply m-0;
  padding: theme("spacing.3");
}

.heading {
  @apply text-n1
    word-break
    transition-color
    p-0
    font-medium
    leading-tight
    duration-150
    ease-in-out;
}

.description {
  @apply text-n2-wrap
    word-break
    mt-0.5
    p-0;

  color: var(--calcite-block-description-text-color, var(--calcite-color-text-3));
}

.icon {
  display: flex;
  margin-inline-start: theme("spacing.3");
  margin-inline-end: 0;
}

.status-icon {
  &.valid {
    color: var(--calcite-color-status-success);
  }

  &.invalid {
    color: var(--calcite-color-status-danger);
  }
}

.toggle-icon {
  @apply duration-150
  ease-in-out
  justify-self-end
  my-3
  self-center
  transition-color;
  margin-inline-end: theme("spacing.3");
  margin-inline-start: auto;
}

.container {
  @apply flex flex-col h-full relative;
}

.content {
  @apply animate-in flex-1 relative min-h-0;
  padding-block: var(--calcite-internal-block-padding-block);
  padding-inline: var(--calcite-internal-block-padding-inline);
}

.control-container {
  @apply m-0 flex;
  grid-area: control;
}

:host([open]) {
  .heading {
    color: var(--calcite-block-heading-text-color-open, var(--calcite-color-text-1));
  }

  @apply my-2;
}

calcite-action-menu {
  --calcite-action-menu-border-color: var(--calcite-block-action-menu-border-color);
  --calcite-action-menu-text-color: var(--calcite-block-action-menu-text-color);

  grid-area: menu;
}

calcite-handle {
  --calcite-handle-icon-color: var(--calcite-block-handle-icon-color);
  --calcite-handle-background-color: var(--calcite-block-handle-background-color);

  --calcite-handle-icon-color-hover: var(--calcite-block-handle-icon-color-hover);
  --calcite-handle-background-color-hover: var(--calcite-block-handle-background-color-hover);

  --calcite-handle-icon-color-focus: var(--calcite-block-handle-icon-color-focus);
  --calcite-handle-background-color-focus: var(--calcite-block-handle-background-color-focus);

  --calcite-handle-icon-color-selected: var(--calcite-block-handle-icon-color-selected);
  --calcite-handle-background-color-selected: var(--calcite-block-handle-background-color-selected);
}

calcite-icon {
  // TODO: add sub-component tokens
}

calcite-loader {
  --calcite-loader-color-middle: var(--calcite-block-loader-color-one-third);
  --calcite-loader-color-start: var(--calcite-block-loader-color-start);
  --calcite-loader-color-end: var(--calcite-block-loader-color-two-thirds);
}

calcite-scrim {
  // TODO: add sub-component tokens
}

@include base-component();
@include disabled();
@include header($textColor: --calcite-block-heading-text-color, $spacing: --calcite-internal-block-no-space);
