/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-tip-manager-height: the maximum height of the tip-manager
 * @prop --calcite-tip-max-width: the maximum width of a slotted tip within tip-manager
 */

:host {
  @apply block;
  --calcite-tip-manager-height: 19vh;
  //--calcite-tip-max-width: 600px;
  * {
    @apply box-border;
  }
  background-color: var(--calcite-ui-foreground-1);
  color: var(--calcite-ui-text-2);
  font-size: var(--calcite-font-size--1);
}

:host([closed]) {
  @apply hidden;
}

@import "../../assets/styles/header";

.header .heading {

}
.header.header {
  @apply pl-4 pr-0 py-0;
  box-shadow: 0px 1px 0px 0px rgba(212,212,212,1);
}

h2.heading {
  @apply font-bold text-color-1;
  font-size: var(--calcite-font-size-1);
}

.container {
  @apply overflow-hidden
    relative
    focus-base;
  min-height: 150px;
  &:focus {
    @apply focus-outset;
  }
}

.tip-container {
  @apply mt-0
    overflow-auto
    flex
    justify-center
    items-start
    focus-base;
  animation-name: none;
  animation-duration: 150ms;
  // animation-timing-function: $easing-function;
  height: var(--calcite-tip-manager-height);
  margin-top: 1px;
  &:focus {
    @apply focus-outset;
  }
}

::slotted(calcite-tip) {
  @apply border-none p-3;
  max-width: var(--calcite-tip-max-width);
}

.tip-container--advancing {
  animation-name: tip-advance;
}

.tip-container--retreating {
  animation-name: tip-retreat;
}

/* Pagination Styles*/
.pagination {
  @apply flex items-center justify-center pt-3 pb-2 px-0;
}

.page-position {
  @apply text--2h my-0 mx-2;
}

/* RTL */
:host-context([dir="rtl"]) {
  .header.header {
    @apply pr-4 pl-0 py-0;
  }
}

/* @keyframes*/
@keyframes tip-advance {
  0% {
    @apply opacity-0;
    transform: translate3d(50px, 0, 0) scale(0.99);
  }
  100% {
    @apply opacity-100;
    transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes tip-retreat {
  0% {
    @apply opacity-0;
    transform: translate3d(-50px, 0, 0) scale(0.99);
  }
  100% {
    @apply opacity-100;
    transform: translate3d(0, 0, 0) scale(1);
  }
}
