:host {
  @extend %component-host;
  @apply block;
  --calcite-tip-manager-height: 18vh;
  --calcite-tip-max-width: 540px;
}

:host([closed]) {
  @apply hidden;
}

@import "../../assets/styles/header";

.header .heading {
  @apply px-2;
}

.container {
  @apply overflow-hidden
    relative
    pt-2
    px-2
    pb-0
    focus-base;
  min-height: 150px;
  &:focus {
    @apply focus-outset;
  }
}

.tip-container {
  @apply mt-1
    overflow-auto
    flex
    justify-center
    items-start
    focus-base;
  animation-name: none;
  animation-duration: 150ms;
  animation-timing-function: $easing-function;
  height: var(--calcite-tip-manager-height);
  &:focus {
    @apply focus-outset;
  }
}

::slotted(calcite-tip) {
  @apply border-none;
  max-width: var(--calcite-tip-max-width);
}

.tip-container--advancing {
  animation-name: tip-advance;
}

.tip-container--retreating {
  animation-name: tip-retreat;
}

/* Pagination Styles*/
.pagination {
  @apply flex items-center justify-center py-1 px-0;
}

.page-position {
  @apply text--2h my-0 mx-2;
}

/* @keyframes*/
@keyframes tip-advance {
  0% {
    @apply opacity-0;
    transform: translate3d(50px, 0, 0) scale(0.99);
  }
  100% {
    @apply opacity-100;
    transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes tip-retreat {
  0% {
    @apply opacity-0;
    transform: translate3d(-50px, 0, 0) scale(0.99);
  }
  100% {
    @apply opacity-100;
    transform: translate3d(0, 0, 0) scale(1);
  }
}
