.calender {
  @apply mb-1;
}

.week-headers {
  @apply flex
    border-0
    border-t
    border-solid
    border-color-3
    py-0
    px-1;
}

.week-header {
  @apply text-color-3
    text-center
    font-bold;
  width: calc(100% / 7);
}

:host([scale="s"]) .week-header {
  @apply text--2h py-4 px-0;
}

:host([scale="m"]) .week-header {
  @apply text--2h py-6 px-0;
}

:host([scale="l"]) .week-header {
  @apply text--1h pt-8 pb-6 px-0;
}

.week-days {
  @apply outline-none
    flex
    flex-row
    py-0;
  padding-left: 6px;
  padding-right: 6px;
}
