// explicit px values until we add a spacing unit and new font scale to base
:host([scale="s"]) {
  --calcite-pagination-spacing: 4px 8px;
  & .previous,
  & .next,
  & .page {
    font-size: 12px;
  }
}

:host([scale="m"]) {
  --calcite-pagination-spacing: 8px 12px;
  & .previous,
  & .next,
  & .page {
    font-size: 16px;
  }
}

:host([scale="l"]) {
  --calcite-pagination-spacing: 12px 16px;
  & .previous,
  & .next,
  & .page {
    font-size: 20px;
  }
}

:host {
  display: inline-flex;
  writing-mode: horizontal-tb;
}

// focus styles
:host button {
  @include focus-style-base();
  &:focus {
    @include focus-style-inset();
  }
}

.previous,
.next,
.page {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  font-family: inherit;
  @include font-size(0);
  color: var(--calcite-ui-text-3);
  cursor: pointer;
  &:hover {
    color: var(--calcite-ui-text-1);
    transition: all $transition;
  }
}
.page {
  &:hover {
    border-bottom-color: var(--calcite-ui-border-2);
  }
  &.is-selected {
    font-weight: 500;
    color: var(--calcite-ui-text-1);
    border-bottom-color: var(--calcite-ui-brand);
  }
}
.previous,
.next {
  padding: var(--calcite-pagination-spacing);
  &:hover {
    color: var(--calcite-ui-brand);
    background-color: var(--calcite-ui-foreground-2);
  }
  &:active {
    background-color: var(--calcite-ui-foreground-3);
  }
  &.is-disabled {
    background-color: transparent;
    pointer-events: none;
    & > calcite-icon {
      opacity: var(--calcite-ui-opacity-disabled);
    }
  }
}
.next {
  margin-right: 0;
}
.page,
.ellipsis {
  padding: var(--calcite-pagination-spacing);
}
.ellipsis {
  display: flex;
  align-items: flex-end;
  color: var(--calcite-ui-text-3);
}
