:host {
  display: flex;
}

:host ul {
  @apply inline-flex items-center h-full;
  block-size: 100%;
  margin: 0px;
  padding: 0px;
}

:host([layout="vertical"]) ul {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}
