/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-link-text-color: Specifies the text color of the component.
 * @prop --calcite-link-background-color: Specifies the background color of the component.
 * @prop --calcite-link-icon-start-color: Specifies the color of the component's start position icon.
 * @prop --calcite-link-icon-end-color: Specifies the color of the component's end position icon.
 * @prop --calcite-link-underline-color-start: Specifies the starting color of the underline of the component.
 * @prop --calcite-link-underline-color-end: Specifies the ending color of the underline of the component.
 */

:host {
  --calcite-link-background-color: transparent;
  --calcite-link-text-color: var(--calcite-color-text-link);
  --calcite-link-icon-start-color: currentColor;
  --calcite-link-icon-end-color: currentColor;
  --calcite-link-underline-color-start: var(--calcite-color-brand-underline);
  --calcite-link-underline-color-end: var(--calcite-color-brand-underline);

  display: inline;
}

span,
a {
  @apply bg-transparent
    border-none
    cursor-pointer
    font-inherit
    items-center
    justify-center
    p-0
    relative
    rounded-none
    transition-default
    inline;

  -webkit-appearance: none;
  background-color: var(--calcite-link-background-color);
  background-image: linear-gradient(currentColor, currentColor),
    linear-gradient(var(--calcite-link-underline-color-start), var(--calcite-link-underline-color-end));
  background-position-x: 0%, 100%;
  background-position-y: min(1.5em, 100%);
  background-repeat: no-repeat, no-repeat;
  background-size:
    0% 1px,
    100% 1px;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  white-space: initial;
  color: var(--calcite-link-text-color);

  &:hover,
  &:focus {
    background-size:
      100% 1px,
      100% 1px;
  }
  &:hover {
    text-decoration: none;
  }

  // focus styles
  @apply focus-base;
  &:focus {
    @apply focus-outset;
  }
  &:active {
    background-size:
      100% 2px,
      100% 2px;
  }
  &.calcite--rtl {
    background-position:
      100% 100%,
      100% 100%;
  }
}

calcite-icon {
  @apply transition-default align-middle;

  inline-size: 1em;
  block-size: 1em;
  min-inline-size: unset;
  min-block-size: unset;
  margin-block-start: -0.25em;

  // icon positioning and styles
  &.icon-start {
    margin-inline-end: theme("margin.2");
    color: var(--calcite-link-icon-start-color);
  }
  &.icon-end {
    margin-inline-start: theme("margin.2");
    color: var(--calcite-link-icon-end-color);
  }
}

@include disabled();
@include base-component();
