:host {
  @apply relative block w-full;
}

.track,
.bar {
  @apply absolute top-0;
  height: 2px;
}

.track {
  @apply z-0 w-full overflow-hidden;
  background: theme("borderColor.color.3");
}

.bar {
  @apply bg-brand z-0;
}

.indeterminate {
  @apply w-1/5;
  animation: looping-progress-bar-ani 2200ms linear infinite;
}

.reversed {
  animation-direction: reverse;
}

.text {
  @apply pt-4 pb-0 px-0 text-center text--2h font-medium;
}

@keyframes looping-progress-bar-ani {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  50% {
    width: 40%;
  }
  100% {
    transform: translate3d(600%, 0, 0);
  }
}
