/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-flow-item-background: Specifies the background of the component.
 * @prop --calcite-flow-item-color: Specifies the color of the component.
 * @prop --calcite-flow-item-footer-padding: Specifies the padding of the component's footer.
 * @prop --calcite-flow-item-header-border-block-end: Specifies the component header's block end border.
 */

:host {
  @include base-host();

  --calcite-flow-item-background: var(--calcite-color-foreground-1);
  --calcite-flow-item-color: var(--calcite-color-text-2);
  --calcite-internal-flow-item-back-border-inline-end-width: var(--calcite-border-width-sm);
  --calcite-internal-flow-item-back-border-color: var(--calcite-color-border-3);

  background: var(--calcite-flow-item-background);
  color: var(--calcite-flow-item-color);
  font-size: var(--calcite-font-size--1);
  position: relative;
  display: flex;
  inline-size: 100%;
  flex: 1 1 auto;
}

@include disabled();

.back-button {
  border-color: var(--calcite-internal-flow-item-back-border-color);
  border-width: 0px;
  border-style: solid;
  border-inline-end-width: var(--calcite-internal-flow-item-back-border-inline-end-width);
}

calcite-panel {
  --calcite-panel-footer-padding: var(--calcite-flow-item-footer-padding);
  --calcite-panel-header-border-block-end: var(--calcite-flow-item-header-border-block-end);
}

@include base-component();
