/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-flow-item-background-color: Specifies the background color of the component.
 * @prop --calcite-flow-item-border-color: Specifies the border color of the component.
 * @prop --calcite-flow-item-description-text-color: Specifies the text color of the component's description.
 * @prop --calcite-flow-item-fab-z-index: Specifies the component fab's z-index.
 * @prop --calcite-flow-item-footer-background-color: Specifies the background color of the component's footer.
 * @prop --calcite-flow-item-footer-padding: [Deprecated] Use `--calcite-flow-item-footer-space` instead. Specifies the padding of the component's footer.
 * @prop --calcite-flow-item-footer-space: Specifies the spacing of the component's footer.
 * @prop --calcite-flow-item-header-background-color: Specifies the component header's background color.
 * @prop --calcite-flow-item-header-border-block-end: [Deprecated] No longer necessary. Specifies the component header's block end border.
 * @prop --calcite-flow-item-heading-text-color: Specifies the component's heading text color.
 * @prop --calcite-flow-item-header-z-index: Specifies the component header's z-index.
 */

:host {
  @include base-host();
  background-color: var(--calcite-flow-item-background-color, var(--calcite-color-background));
  font-size: var(--calcite-font-size--1);
  position: relative;
  display: flex;
  inline-size: var(--calcite-container-size-content-fluid);
  flex: 1 1 auto;
  overflow: hidden;
}

@include disabled();

.back-button {
  border-color: var(--calcite-flow-item-border-color, var(--calcite-color-border-3));
  border-width: 0px;
  border-style: solid;
  border-inline-end-width: var(--calcite-border-width-sm);
}

calcite-panel {
  --calcite-panel-background-color: var(--calcite-flow-item-background-color);
  --calcite-panel-border-color: var(--calcite-flow-item-border-color);
  --calcite-panel-description-text-color: var(--calcite-flow-item-description-text-color);
  --calcite-panel-fab-z-index: var(--calcite-flow-item-fab-z-index);
  --calcite-panel-footer-background-color: var(--calcite-flow-item-footer-background-color);
  --calcite-panel-footer-space: var(--calcite-flow-item-footer-space, var(--calcite-flow-item-footer-padding));
  --calcite-panel-heading-text-color: var(--calcite-flow-item-heading-text-color);
  --calcite-panel-header-background-color: var(--calcite-flow-item-header-background-color);
  --calcite-panel-header-z-index: var(--calcite-flow-item-header-z-index);
  --calcite-panel-header-border-width: var(--calcite-flow-item-header-border-width);
  --calcite-panel-header-border-block-end: var(--calcite-flow-item-header-border-block-end);
}

@include base-component();
