:host {
  display: block;

  --calcite-tabs-border: #{$blk-020};
  --calcite-tabs-border-hover: #{$blk-030};
  --calcite-tabs-color-active: #{$blk-220};
  --calcite-tabs-layout: flex-start;
  --calcite-tabs-tab-basis: auto;
  --calcite-tabs-tab-text-align: start;
  --calcite-tabs-tab-margin-start: 1.25rem;
  --calcite-tabs-tab-margin-end: 0;
}

:host([theme="dark"]) {
  --calcite-tabs-border: #{$blk-180};
  --calcite-tabs-border-hover: #{$blk-170};
  --calcite-tabs-color-active: #{$blk-005};
}

:host([dir="rtl"]) {
  --calcite-tabs-tab-margin-start: 0;
  --calcite-tabs-tab-margin-end: 1.25rem;
}

:host([layout="center"]) {
  --calcite-tabs-layout: center;
  --calcite-tabs-tab-basis: 200px;
  --calcite-tabs-tab-text-align: center;
  --calcite-tabs-tab-margin-start: 1.25rem;
  --calcite-tabs-tab-margin-end: 1.25rem;
}

section {
  border-top: 1px solid var(--calcite-tabs-border);
}
