:host {
  display: flex;
  flex-direction: column;
}

:host([position="below"]) {
  flex-direction: column-reverse;
}

section {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  border-top: 1px solid var(--calcite-ui-border-1);
}

:host([position="below"]) section {
  flex-direction: column-reverse;
  border-top: 0;
  border-bottom: 1px solid var(--calcite-ui-border-1);
}
