/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-day-background-color-hover: Specifies the background color of component when hovered.
 * @prop --calcite-day-background-color-selected: Specifies the background color of component when selected.
 * @prop --calcite-day-background-color: Specifies the background color of component.
 * @prop --calcite-day-corner-radius: Specifies the border radius of component.
 * @prop --calcite-day-range-background-color-hovered: Specifies the background color of day range when hovered.
 * @prop --calcite-day-range-background-color-selected: Specifies the background color of day range when selected.
 * @prop --calcite-day-text-color-hover: Specifies the text color of component when hovered.
 * @prop --calcite-day-text-color-selected: Specifies the text color of component when selected.
 * @prop --calcite-day-text-color: Specifies the text color of component.
*/

:host {
  @apply cursor-pointer flex relative;
  color: var(--calcite-day-text-color, var(--calcite-color-text-3));
}

@include disabled();

@mixin range-part-base() {
  &:before,
  &:after {
    @apply absolute pointer-events-none;
    inset-block: 0;
    content: "";
    block-size: var(--calcite-internal-day-size);
    inline-size: var(--calcite-internal-day-size);
  }
}

@mixin range-part-edge-end() {
  &:before {
    inset-inline-end: 50%;
  }
  &:after {
    inset-inline-start: 50%;
    border-start-end-radius: var(--calcite-internal-day-size);
    border-end-end-radius: var(--calcite-internal-day-size);
    inline-size: calc(var(--calcite-internal-day-size) / 2);
  }
}

@mixin range-part-edge-start() {
  &:before {
    inset-inline-end: 50%;
    border-start-start-radius: var(--calcite-internal-day-size);
    border-end-start-radius: var(--calcite-internal-day-size);
    inline-size: calc(var(--calcite-internal-day-size) / 2);
  }
  &:after {
    inset-inline-start: 50%;
  }
}

@mixin range-part-middle() {
  &:before {
    inset-inline-end: 50%;
    border-radius: var(--calcite-corner-radius);
  }
  &:after {
    inset-inline-start: 50%;
    border-radius: var(--calcite-corner-radius);
  }
}

.day-v-wrapper {
  @apply flex-auto;
}

.day-wrapper {
  @apply flex
    flex-col
    items-center
    relative;
}

:host([range]),
:host([range-hover]) {
  .day-wrapper {
    @include range-part-base();
  }
}

.day {
  @apply flex
    focus-base
    items-center
    justify-center
    leading-none
    transition-default;
  border-radius: var(--calcite-day-corner-radius, 9999px);
  color: var(--calcite-day-text-color);
  font-size: var(--calcite-internal-day-font-size, var(--calcite-font-size));
  z-index: var(--calcite-z-index);
  background: none;
  background-color: var(--calcite-day-background-color, var(--calcite-color-background-none));
  box-shadow: 0 0 0 2px transparent;
  block-size: var(--calcite-internal-day-size);
  inline-size: var(--calcite-internal-day-size);
}

.text {
  @apply mb-0;
  margin-block-start: var(--calcite-spacing-px);
}

:host([scale="s"]) {
  --calcite-internal-day-size: 27px;

  .day-v-wrapper {
    padding-block: var(--calcite-spacing-base);
  }
  .day-wrapper {
    @apply p-0;
  }
  .day {
    --calcite-internal-day-font-size: var(--calcite-font-size-sm);
  }
}

:host([scale="m"]) {
  --calcite-internal-day-size: 33px;

  .day-v-wrapper {
    padding-block: var(--calcite-spacing-xxs);
  }
  .day-wrapper {
    @apply p-0;
  }
  .day {
    --calcite-internal-day-font-size: var(--calcite-font-size);
  }
}

:host([scale="l"]) {
  --calcite-internal-day-size: 43px;

  .day-v-wrapper {
    padding-block: var(--calcite-spacing-xxs);
  }
  .day-wrapper {
    padding-inline: var(--calcite-spacing-xxs);
  }
  .day {
    --calcite-internal-day-font-size: var(--calcite-font-size-md);
  }
}

:host(:not([current-month])) .day {
  opacity: var(--calcite-opacity-disabled);
}

:host(:hover:not([disabled]):not([selected])),
:host([active]:not([range]):not([selected])) {
  & .day {
    background-color: var(--calcite-day-background-color-hover, var(--calcite-color-foreground-2));
    color: var(--calcite-day-text-color-hover, var(--calcite-color-text-1));
  }
}

:host(:focus),
:host([active]) {
  @apply outline-none;
}

:host(:focus:not([disabled])) .day {
  @apply focus-outset;
}

:host([selected]) .day {
  font-weight: var(--calcite-font-weight-medium);
  color: var(--calcite-day-text-color-selected, var(--calcite-color-text-inverse));
  background-color: var(--calcite-day-background-color-selected, var(--calcite-color-brand));
}

:host(:focus:not([disabled])),
:host([start-of-range]:not(:focus)),
:host([end-of-range]:not(:focus)) {
  .day {
    box-shadow: 0 0 0 2px var(--calcite-color-foreground-1);
  }
}

:host([range-hover]:not([selected])),
:host([highlighted]:not([selected])) {
  .day-wrapper {
    @include range-part-middle();
  }
  .day {
    color: var(--calcite-day-text-color-hover, var(--calcite-color-text-1));
  }
}

:host([highlighted]),
:host([selected]:not(.hover--outside-range)) {
  .day-wrapper {
    &:before,
    &:after {
      background-color: var(--calcite-day-range-background-color-selected, var(--calcite-color-foreground-current));
    }
  }
}

:host([range-hover]:not([selected])) {
  .day-wrapper {
    &:before,
    &:after {
      background-color: var(--calcite-day-range-background-color-hovered, var(--calcite-color-foreground-2));
    }
  }
}

:host(:hover[range-hover]:not([selected]).focused--end),
:host([highlighted][end-of-range]),
:host([highlighted][range-edge="end"]),
:host([range-hover][range-edge="end"]),
:host(:hover[range-hover].focused--end.hover--outside-range) {
  .day-wrapper {
    @include range-part-edge-end();
  }
}

:host([highlighted][start-of-range]),
:host([highlighted][range-edge="start"]),
:host([range-hover][range-edge="start"]),
:host(:hover[range-hover]:not([selected]).focused--start),
:host([start-of-range].hover--inside-range),
:host(:hover[range-hover].focused--start.hover--outside-range) {
  .day-wrapper {
    @include range-part-edge-start();
  }
}

:host([range-hover][start-of-range][range-edge="end"]),
:host([range-hover][end-of-range][range-edge="start"]),
:host([start-of-range][range-edge="end"].hover--inside-range),
:host([end-of-range]) {
  .day-wrapper {
    &:after,
    &:before {
      content: unset;
    }
  }
}

:host(:hover[range-hover]:not([selected]).focused--start),
:host(:hover[range-hover]:not([selected]).focused--end),
:host(:hover[range-hover]:not([selected]).focused--start.hover--outside-range),
:host(:hover[range-hover]:not([selected]).focused--end.hover--outside-range) {
  .day {
    box-shadow: 0 0 0 2px var(--calcite-color-foreground-1);
  }
}

@media (forced-colors: active) {
  .day {
    border-radius: var(--calcite-corner-radius);
  }

  :host([selected]) {
    outline: 2px solid canvasText;
  }

  :host(:hover:not([selected])) {
    .day {
      border-radius: 50%;
    }
  }

  :host([range][selected]),
  :host([highlighted]),
  :host([range-hover]:not([selected])) {
    .day-wrapper {
      &:before,
      &:after {
        background-color: highlight;
      }
    }
  }

  :host([range-hover]),
  :host([range][selected][start-of-range]),
  :host([range][selected][end-of-range]) {
    .day-wrapper {
      &:before,
      &:after {
        background-color: canvas;
      }
    }
  }
}

@include base-component();
