:host {
  @apply flex relative pointer-events-none;
  --calcite-scrim-background: #{rgba($blk-000, 0.75)};
}

// dark theme
:host([theme="dark"]) {
  --calcite-scrim-background: #{rgba($blk-240, 0.75)};
}

@keyframes calcite-scrim-fade-in {
  0% {
    @apply bg-opacity-0;
  }
  100% {
    @apply text-opacity-100;
  }
}

.scrim {
  @apply flex content-center items-center absolute bottom-0 left-0 right-0 top-0 select-none;
  animation: calcite-scrim-fade-in 250ms ease-in-out;
  background-color: var(--calcite-scrim-background);
  z-index: 2;
}

.content {
  @apply relative text-color-2;
  z-index: 1;
}
