:host {
  @apply flex
  absolute
  z-50
  flex-col
  items-stretch
  w-full
  h-full
  inset-0;
  --calcite-scrim-background: #{rgba($blk-000, 0.75)};
}

// dark theme
:host([theme="dark"]) {
  --calcite-scrim-background: #{rgba($blk-240, 0.75)};
}

@keyframes calcite-scrim-fade-in {
  0% {
    @apply bg-opacity-0;
  }
  100% {
    @apply text-opacity-100;
  }
}

.scrim {
  @apply flex
  absolute
  select-none
  overflow-hidden
  inset-0
  content-center
  items-center;
  animation: calcite-scrim-fade-in 250ms ease-in-out;
  background-color: var(--calcite-scrim-background);
}
