:host {
  display: flex;
  position: relative;
  pointer-events: none;
  --calcite-scrim-background: #{rgba($blk-000, 0.75)};
}

// dark theme
:host([theme="dark"]) {
  --calcite-scrim-background: #{rgba($blk-240, 0.75)};
}

@keyframes calcite-scrim-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scrim {
  align-items: center;
  background-color: transparent;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
  pointer-events: none;
  z-index: -1;
}

:host([active]) .scrim {
  background-color: var(--calcite-scrim-background);
  animation: calcite-scrim-fade-in 250ms ease-in-out;
  z-index: 2;
}

.content {
  position: relative;
  pointer-events: none;
  z-index: 1;
  color: var(--calcite-ui-text-2);
}
