$section-padding-inline--small: 8px;
$section-padding-inline--medium: 12px;
$section-padding-inline--large: 16px;
$section-padding-block--small: 8px;
$section-padding-block--medium: 12px;
$section-padding-block--large: 16px;
$gap: 8px;
$gap--small: 4px;
$gap--large: 12px;
$inline-input-width: 31%;

:host {
  @apply text-n2h inline-block font-normal;
}

@include disabled();

:host([scale="s"]) {
  --calcite-color-picker-section-padding-inline: 8px;
  --calcite-color-picker-section-padding-block: 8px;

  .container {
    inline-size: 160px;
  }

  .saved-colors {
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  }

  .opacity-input {
    inline-size: $inline-input-width + 20%;
  }
}

:host([scale="m"]) {
  --calcite-color-picker-section-padding-inline: 12px;
  --calcite-color-picker-section-padding-block: 12px;

  .container {
    inline-size: 272px;
  }

  .opacity-input {
    inline-size: $inline-input-width;
  }
}

:host([scale="l"]) {
  .header {
    @apply pb-0;
  }
}

:host([scale="l"]) {
  --calcite-color-picker-section-padding-inline: 16px;
  --calcite-color-picker-section-padding-block: 16px;

  @apply text-n1h;

  .container {
    inline-size: 464px;
  }

  .section {
    &:first-of-type {
      padding-block-start: $section-padding-inline--large;
    }
  }

  .saved-colors {
    grid-template-columns: repeat(auto-fill, minmax(28px, 1fr));
    grid-gap: $gap--large;
    padding-block-start: $section-padding-inline--large;
  }

  .control-section {
    @apply flex-nowrap items-baseline;

    > :nth-child(2) {
      margin-inline-start: $gap--large;
    }
  }

  .control-section {
    @apply flex-wrap;
  }

  .opacity-input {
    inline-size: 25%;
  }

  .color-hex-options {
    @apply flex
      flex-shrink
      flex-col
      justify-around;
  }

  .color-mode-container {
    flex-shrink: 3;
  }
}

.container {
  @apply bg-foreground-1;
  display: inline-block;
  border: 1px solid var(--calcite-ui-border-1);
}

.control-and-scope {
  @apply flex relative cursor-pointer touch-none;
}

.scope {
  @apply text-n1
    focus-base
    absolute
    z-default;

  &:focus {
    @apply focus-outset;
    outline-offset: 16px;
  }
}

.opacity-control-group,
.hex-and-channels-group {
  @apply w-full;
}

.hex-and-channels-group,
.control-section {
  @apply flex flex-row flex-wrap;
}

.section {
  padding-block: 0 var(--calcite-color-picker-section-padding-block);
  padding-inline: var(--calcite-color-picker-section-padding-inline);

  &:first-of-type {
    padding-block-start: var(--calcite-color-picker-section-padding-block);
  }
}

.slider {
  margin-inline-start: var(--calcite-color-picker-section-padding-inline);
}

.sliders {
  @apply flex flex-col justify-between;
}

.preview-and-sliders {
  @apply flex items-center;
  padding: var(--calcite-color-picker-section-padding-inline);
}

.color-hex-options,
.section--split {
  flex-grow: 1;
}

.header {
  @apply text-color-1
    flex
    items-center
    justify-between
    pb-1;
}

.color-mode-container {
  padding-block-start: var(--calcite-color-picker-section-padding-block);
}

.channels {
  @apply flex gap-y-0.5;
}

.channel {
  &:nth-child(n + 2) {
    margin-inline-start: -1px;
  }

  &[data-channel-index="3"] {
    inline-size: 154px;
  }
}

:host([scale="s"]) {
  .channels {
    @apply flex-wrap;
  }

  .channel {
    flex-basis: 30%;
    flex-grow: 1;

    &[data-channel-index="3"] {
      inline-size: unset;
      flex-basis: 100%;
      margin-inline-start: unset;
    }
  }
}

:host([scale="l"]) {
  .channel {
    &[data-channel-index="3"] {
      inline-size: 126px;
    }
  }
}

.saved-colors {
  padding-block-start: $section-padding-inline--small;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24px, 1fr));
  grid-gap: $gap;
  inline-size: 100%;
}

.saved-colors-buttons {
  display: flex;
}

.saved-color {
  @include focus-style-base();

  cursor: pointer;

  &:focus {
    @include focus-style-outset();
  }

  &:hover {
    transition: outline-color var(--calcite-internal-animation-timing-fast) ease-in-out;
    outline: 2px solid var(--calcite-ui-border-2);
    outline-offset: 2px;
  }
}
