$section-padding: 0.75rem;
$section-padding--large: 1rem;
$gap: 0.5rem;
$gap--small: 0.25rem;
$gap--large: 0.75rem;

:host {
  @apply text-n2h inline-block font-normal;
}

@include disabled();

:host([scale="s"]) {
  .container {
    inline-size: 10rem;
  }

  .saved-colors {
    grid-template-columns: repeat(auto-fill, minmax(1.25rem, 1fr));
  }

  .channels {
    flex-direction: column;
  }

  .channel {
    inline-size: 100%;
    margin-block-end: $gap--small;

    &:last-child {
      margin-block-end: 0;
    }
  }
}

:host([scale="m"]) {
  .container {
    inline-size: 17rem;
  }
}

:host([scale="l"]) {
  .header {
    @apply pb-0;
  }
}

:host([scale="l"]) {
  @apply text-n1h;

  .container {
    inline-size: 29rem;
  }

  .color-field-and-slider {
    margin-block-end: -1.25rem;
  }

  .section {
    padding-block: 0 $section-padding--large;
    padding-inline: $section-padding--large;

    &:first-of-type {
      padding-block-start: $section-padding--large;
    }
  }

  .saved-colors {
    grid-template-columns: repeat(auto-fill, minmax(1.75rem, 1fr));
    grid-gap: $gap--large;
    padding-block-start: $section-padding--large;
  }

  .control-section {
    @apply flex-nowrap items-baseline;

    > :nth-child(2) {
      margin-inline-start: $gap--large;
    }
  }

  .color-hex-options {
    @apply flex
      flex-shrink
      flex-col
      justify-around;
    min-block-size: 6.125rem;
    inline-size: 10rem;
  }

  .color-mode-container {
    flex-shrink: 3;
  }
}

.container {
  @apply bg-foreground-1;
  display: inline-block;
  border: 1px solid var(--calcite-ui-border-1);
}

.color-field-and-slider-wrap {
  position: relative;
}

.scope {
  @apply text-n1
    focus-base
    pointer-events-none
    absolute;

  outline-offset: 0.875rem;

  &:focus {
    @apply focus-outset;
    outline-offset: 1rem;
  }
}

.color-field-and-slider {
  margin-block-end: -1rem;
  touch-action: none;

  &--interactive {
    cursor: pointer;
  }
}

.control-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  padding-block: 0 $section-padding;
  padding-inline: $section-padding;

  &:first-of-type {
    padding-block-start: $section-padding;
  }
}

.color-hex-options,
.section--split {
  flex-grow: 1;
}

.header {
  @apply text-color-1
    flex
    items-center
    justify-between
    pb-1;
}

.header--hex,
.color-mode-container {
  padding-block-start: $section-padding;
}

.channels {
  display: flex;
  justify-content: space-between;
}

.channel {
  inline-size: 31%;
}

.saved-colors {
  padding-block-start: $section-padding;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1.5rem, 1fr));
  grid-gap: $gap;
  inline-size: 100%;
}

.saved-colors-buttons {
  display: flex;
}

.saved-color {
  @include focus-style-base();

  cursor: pointer;

  &:focus {
    @include focus-style-outset();
  }

  &:hover {
    transition: outline-color var(--calcite-internal-animation-timing-fast) ease-in-out;
    outline: 0.125rem solid var(--calcite-ui-border-2);
    outline-offset: 0.125rem;
  }
}
