$section-padding: 12px;
$section-padding--large: 16px;
$gap: 8px;
$gap--small: 4px;
$gap--large: 12px;
$inline-input-width: 31%;

:host {
  @apply text-n2h inline-block font-normal;
}

@include disabled();

:host([scale="s"]) {
  .container {
    inline-size: 160px;
  }

  .saved-colors {
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  }

  .channels {
    flex-direction: column;
  }

  .channel {
    inline-size: 100%;
    margin-block-end: $gap--small;

    &:last-child {
      margin-block-end: 0;
    }
  }

  .opacity-input {
    inline-size: $inline-input-width + 20%;
  }
}

:host([scale="m"]) {
  .container {
    inline-size: 272px;
  }

  .opacity-input {
    inline-size: $inline-input-width;
  }
}

:host([scale="l"]) {
  .header {
    @apply pb-0;
  }
}

:host([scale="l"]) {
  @apply text-n1h;

  .container {
    inline-size: 464px;
  }

  .color-field-and-slider {
    margin-block-end: -20px;
  }

  .section {
    padding-block: 0 $section-padding--large;
    padding-inline: $section-padding--large;

    &:first-of-type {
      padding-block-start: $section-padding--large;
    }
  }

  .saved-colors {
    grid-template-columns: repeat(auto-fill, minmax(28px, 1fr));
    grid-gap: $gap--large;
    padding-block-start: $section-padding--large;
  }

  .control-section {
    @apply flex-nowrap items-baseline;

    > :nth-child(2) {
      margin-inline-start: $gap--large;
    }
  }

  .control-section {
    @apply flex-wrap;
  }

  .opacity-input {
    inline-size: 25%;
  }

  .color-hex-options {
    @apply flex
      flex-shrink
      flex-col
      justify-around;
    min-block-size: 98px;
    inline-size: 160px;
  }

  .color-mode-container {
    flex-shrink: 3;
  }
}

:host([appearance="minimal"]) {
  .container {
    border: none;
  }
}

.container {
  @apply bg-foreground-1;
  display: inline-block;
  border: 1px solid var(--calcite-ui-border-1);
}

.color-field-and-slider-wrap {
  position: relative;
}

.scope {
  @apply text-n1
    focus-base
    pointer-events-none
    absolute;

  outline-offset: 14px;

  &:focus {
    @apply focus-outset;
    outline-offset: 16px;
  }
}

.color-field-and-slider {
  margin-block-end: -16px;
  touch-action: none;

  &--interactive {
    cursor: pointer;
  }
}

.opacity-control-group,
.hex-and-channels-group {
  @apply w-full;
}

.hex-and-channels-group,
.control-section {
  @apply flex flex-row flex-wrap;
}

.section {
  padding-block: 0 $section-padding;
  padding-inline: $section-padding;

  &:first-of-type {
    padding-block-start: $section-padding;
  }
}

.color-hex-options,
.section--split {
  flex-grow: 1;
}

.opacity-control-group {
  @apply flex
  items-center
  gap-4;
}

.opacity-slider {
  @apply flex-grow;
}

.header {
  @apply text-color-1
    flex
    items-center
    justify-between
    pb-1;
}

.header--spaced,
.color-mode-container {
  padding-block-start: $section-padding;
}

.channels {
  display: flex;
  justify-content: space-between;
}

.channel {
  inline-size: $inline-input-width;
}

.saved-colors {
  padding-block-start: $section-padding;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24px, 1fr));
  grid-gap: $gap;
  inline-size: 100%;
}

.saved-colors-buttons {
  display: flex;
}

.saved-color {
  @include focus-style-base();

  cursor: pointer;

  &:focus {
    @include focus-style-outset();
  }

  &:hover {
    transition: outline-color var(--calcite-internal-animation-timing-fast) ease-in-out;
    outline: 2px solid var(--calcite-ui-border-2);
    outline-offset: 2px;
  }
}
