:host {
  @extend %component-host;
  @apply flex 
    flex-auto
    items-stretch 
    bg-transparent 
    w-full
    overflow-hidden 
    relative;

  .frame {
    @apply flex
      flex-auto
      items-stretch 
      w-full 
      p-0 
      m-0 
      flex-col 
      relative;
  }

  ::slotted(calcite-panel) {
    @apply h-full;
  }

  .frame--advancing {
    animation: calcite-frame-advance $transition;
  }

  .frame--retreating {
    animation: calcite-frame-retreat $transition;
  }

  @keyframes calcite-frame-advance {
    0% {
      @apply bg-opacity-50;
      transform: translate3d(50px, 0, 0);
    }
    100% {
      @apply bg-opacity-100;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes calcite-frame-retreat {
    0% {
      @apply bg-opacity-50;
      transform: translate3d(-50px, 0, 0);
    }
    100% {
      @apply bg-opacity-100;
      transform: translate3d(0, 0, 0);
    }
  }
}
