:host {
  @apply relative inline-flex;

  block-size: var(--calcite-internal-color-picker-swatch-size);
  inline-size: var(--calcite-internal-color-picker-swatch-size);
}

:host([scale="s"]) {
  --calcite-internal-color-picker-swatch-size: var(--calcite-size-xl);
}

:host([scale="m"]) {
  --calcite-internal-color-picker-swatch-size: var(--calcite-size-xxl);
}

:host([scale="l"]) {
  --calcite-internal-color-picker-swatch-size: #{$calcite-size-28};
}

.swatch {
  @apply overflow-hidden;
  block-size: inherit;
  inline-size: inherit;

  rect {
    @apply transition-all duration-150 ease-in-out;
  }
}

.swatch--no-color {
  rect {
    fill: var(--calcite-color-foreground-1);
  }

  line {
    stroke: var(--calcite-color-status-danger);
  }
}

.checker {
  fill: #{$calcite-color-neutral-blk-050};
}

@include base-component();
