/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-color-picker-background-color: Specifies the color of the empty swatch.
 * @prop --calcite-color-picker-border-invalid: Specifies the border color of the swatch when invalid.
 * @prop --calcite-color-picker-border-color: Specifies the border color of the swatch.
 */

$size-s: 20px;
$size-m: 24px;
$size-l: 28px;

:host {
  @apply relative inline-flex;
}

:host([scale="s"]) {
  @apply h-5 w-5;
}

:host([scale="m"]) {
  @apply h-6 w-6;
}

:host([scale="l"]) {
  @apply h-8 w-8;
}

.swatch {
  @apply overflow-hidden;
  block-size: inherit;
  inline-size: inherit;

  rect {
    @apply transition-all duration-150 ease-in-out;
  }
}

.swatch--no-color {
  rect {
    fill: var(--calcite-color-picker-background-color, var(--calcite-color-foreground-1));
  }

  line {
    stroke: var(--calcite-color-picker-border-invalid, var(--calcite-color-status-danger));
  }
}

.checker {
  fill: var(--calcite-color-picker-border-color, var(--calcite-color-border-1));
}

@include base-component();
