:host {
  @extend %component-host;
  @apply w-full 
    h-full 
    absolute 
    top-0 
    bottom-0 
    left-0 
    right-0 
    flex 
    flex-col 
    overflow-hidden;
  --calcite-shell-tip-spacing: 26vw;
}

.main {
  @apply h-full 
    w-full 
    flex-auto 
    flex 
    flex-row 
    relative 
    border-t
    border-t-color-3 
    border-b
    border-b-color-3 
    border-solid
    justify-between 
    overflow-hidden;
}

.main--reversed {
  @apply flex-row-reverse;
}

.content {
  @apply h-full 
    overflow-auto 
    w-full 
    border-l 
    border-l-color-3 
    border-r 
    border-r-color-3
    border-solid;
  flex-flow: column nowrap;
}

.content ::slotted(calcite-shell-center-row),
.content ::slotted(calcite-panel),
.content ::slotted(calcite-flow) {
  @apply self-stretch flex-auto;
  max-height: unset;
}

.content--behind {
  @apply border-0 
    absolute 
    left-0 
    right-0 
    bottom-0 
    top-0 
    z-0;
  display: initial;
}

::slotted(calcite-shell-center-row) {
  width: unset;
}

::slotted(.header .heading) {
  @apply font-normal text--2-wrap;
}

::slotted(calcite-shell-panel),
::slotted(calcite-shell-center-row) {
  @apply relative;
  z-index: 1;
}

slot[name="center-row"]::slotted(calcite-shell-center-row:not([detached])) {
  border-left: 1px solid;
  border-right: 1px solid;
  @apply border-l-color-3 border-r-color-3;
}

::slotted(calcite-tip-manager) {
  @apply rounded
  shadow-2
  absolute
  animate-in-up
  box-border;
  bottom: theme("spacing.2");
  left: var(--calcite-shell-tip-spacing);
  right: var(--calcite-shell-tip-spacing);
  z-index: 2;
}
