$height: 28px;
$input-side-offset--small: 16px;
$input-side-offset: 18px;

:host {
  display: block;
}

:host([scale="s"]) {
  .input {
    padding: 0 0 0 $input-side-offset--small;
  }
}

:host([scale="s"][dir="rtl"]) {
  .input {
    padding: 0 $input-side-offset--small 0 0;
  }
}

:host([dir="rtl"]) {
  .input {
    padding: 0 $input-side-offset 0 0;
  }
}

.container {
  width: 100%;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 1ch 1fr auto;
  grid-template-columns: 1ch 1fr auto;
  align-items: center;
  height: $height;
  @include avenir-regular();
}

.preview {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.hash {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  color: var(--calcite-ui-text-3);
}

.preview,
.hash {
  display: flex;
  align-items: center;
  pointer-events: none;
  margin: 0 6px;
}

.preview,
.hash,
.input {
  -ms-grid-row: 1;
  grid-row: 1;
}

.input {
  @include avenir-regular();
  @include focus-style-base();

  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;

  padding: 0 0 0 $input-side-offset;
  text-transform: uppercase;
  height: inherit;
  background-color: var(--calcite-ui-foreground-1);
  border: solid 1px var(--calcite-ui-border-2);
  color: var(--calcite-ui-text-1);
  font-family: $avenir-family;

  &:focus {
    @include focus-style-inset();
  }
}
