@include base-component();

.calendar {
  margin-block-end: var(--calcite-spacing-xxs);
}

.week-headers {
  @apply flex border-solid py-0;
  border-width: var(--calcite-border-width-none);
  border-block-start-width: var(--calcite-border-width-sm);
  border-color: var(--calcite-internal-date-picker-month-week-headers-border-color, var(--calcite-color-border-3));
  padding-inline: var(--calcite-spacing-xxs);
}

.week-header {
  @apply text-center px-0;
  color: var(--calcite-internal-date-picker-month-week-headers-text-color, var(--calcite-color-text-3));
  font-weight: var(--calcite-font-weight-semibold);
  inline-size: calc(100% / 7);
  line-height: var(--calcite-font-line-height-fixed-base);
}

.day {
  @apply flex
  min-w-0
  justify-center;
  inline-size: calc(100% / 7);

  calcite-date-picker-day {
    @apply w-full;
  }
}

:host([scale="s"]) .week-header {
  font-size: var(--calcite-font-size-sm);
  padding-block-start: var(--calcite-spacing-sm);
  padding-block-end: var(--calcite-spacing-md);
}

:host([scale="m"]) .week-header {
  font-size: var(--calcite-font-size-sm);
  padding-block-start: var(--calcite-spacing-md);
  padding-block-end: var(--calcite-spacing-xl);
}

:host([scale="l"]) .week-header {
  font-size: var(--calcite-font-size);
  padding-block-start: var(--calcite-spacing-xl);
  padding-block-end: var(--calcite-spacing-xxl);
}

.week-days {
  @apply flex
    flex-row
    py-0;
  padding-inline: var(--calcite-spacing-xs);
  &:focus {
    @apply outline-none;
  }
}

calcite-date-picker-day {
  --calcite-internal-day-text-color: var(--calcite-internal-date-picker-month-day-text-color);
  --calcite-internal-day-text-color-hover: var(--calcite-internal-date-picker-month-day-text-color-hover);
  --calcite-internal-day-text-color-selected: var(--calcite-internal-date-picker-month-day-text-selected);
  --calcite-internal-day-font-size: var(--calcite-internal-date-picker-month-day-font-size);
  --calcite-internal-day-background-color: var(--calcite-internal-date-picker-month-day-background-color);
  --calcite-internal-day-background-color-hover: var(--calcite-internal-date-picker-month-day-background-color-hover);
  --calcite-internal-day-background-color-selected: var(
    --calcite-internal-date-picker-month-day-background-color-selected
  );
  --calcite-internal-day-corner-radius: var(--calcite-internal-date-picker-month-day-corner-radius);
  --calcite-internal-day-range-background-color-selected: var(
    --calcite-internal-date-picker-month-day-range-background-color-selected
  );
  --calcite-internal-day-range-background-color-hovered: var(
    --calcite-internal-date-picker-month-day-range-background-color-hovered
  );
}
