@include base-component();

.calendar {
  @apply mb-1 flex w-full;
}

:host([range]) .calendar {
  gap: 12px;
}

.week-headers {
  @apply border-color-3
    flex
    border-0
    border-solid
    py-0
    px-1;
}

.week-header {
  @apply text-color-3
    text-center
    font-bold 
    flex 
    px-0
    text-n2h 
    justify-center;
  inline-size: calc(100% / 7);
}

.day {
  @apply flex
  min-w-0
  justify-center;
  inline-size: 100%;
  calcite-date-picker-day {
    @apply w-full;
  }
}

:host([scale="s"]) .week-header {
  @apply pt-2 pb-3;
}

:host([scale="m"]) .week-header {
  @apply pt-3 pb-4;
}

:host([scale="l"]) .week-header {
  @apply text-n1h pt-4 pb-5;
}

:host([scale="s"]) .week-days {
  padding-inline: 6px;
}

:host([scale="l"]) .week-days {
  padding-inline: 12px;
}

.week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  padding-block: 0;
  padding-inline: 8px;
  &:focus {
    @apply outline-none;
  }
}

.month-header {
  @apply flex w-full justify-between;
}

.month {
  @apply flex w-full justify-between flex-col;
}
