:host {
  display: block;
}

.textarea {
  outline-width: 1px;
  inline-size: 25rem;
  block-size: 15rem;
  @apply text-color-1 border-color-input bg-foreground-1;
}

.character-limit {
  display: flex;
  justify-content: right;
}

.resize-disabled {
  resize: none;
}

.footer {
  @apply flex flex-row;
}

@include hidden-form-input();
