:host {
  @apply block;
  max-inline-size: 20rem;
  block-size: 10rem;
}

:host.container {
  @apply max-w-full max-h-full;
}

textarea {
  @apply block text-color-1 border-color-input  border min-w-full bg-foreground-1 box-border;
  block-size: 8rem;
}

:host([footer]) .textarea {
  border-block-end: 0;
}

textarea:focus {
  @apply border-2 rounded-none;
  //figure tailwind util usage for brand color
  border-color: var(--calcite-ui-brand);
}

// :host([invalid]) .textarea {
// }

.resize-disabled {
  resize: none;
}

.footer {
  @apply flex flex-row bg-foreground-1 box-border border-color-input  border  border-solid border-t;
  border-block-start: solid var(--calcite-ui-border-3);
  justify-content: space-between;
  block-size: 2rem;
}

:host([scale="s"]) .footer {
  @apply py-1 px-2;
}

:host([scale="m"]) .footer {
  @apply py-2 px-3;
}

@include slotted("title", "*") {
  @apply text-color-1
    text-n1-wrap
    m-0
    font-medium;
}

.character-limit {
  @apply flex justify-end text-color-2 grow;
  font-size: 14px;
}

:host([scale="m"]) .character-limit {
  @apply px-2;
}

// slot[name="footer-leading"]::slotted(*),
// slot[name="footer-trailing"]::slotted(*) {
//   @apply flex gap-1;
// }

// @include slotted("footer-leading", "*") {
//   @apply text-n2-wrap self-center;
// }
// @include slotted("footer-trailing", "*") {
//   @apply text-n2-wrap self-center;
// }

@include hidden-form-input();
