/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-card-group-gap: Specifies the gap between slotted Card components.
 */

:host {
  --calcite-card-group-gap: var(--calcite-size-sm);
  display: block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--calcite-card-group-gap);
}

@include disabled();
@include base-component();
