/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-dropdown-item-background-color: specifies the background color of the component.
 * @prop --calcite-dropdown-item-icon-color: specifies the color of an icon in the component.
 * @prop --calcite-dropdown-item-text-color: specifies the text color of the component.
 *
 */

.container--s {
  @apply text-n2h py-1;
  padding-inline-end: theme("padding.2");
  padding-inline-start: theme("padding.6");
}

.container--m {
  @apply text-n1h py-2;
  padding-inline-end: theme("padding.3");
  padding-inline-start: theme("padding.8");
}

.container--l {
  @apply text-0h py-2.5;
  padding-inline-end: theme("padding.4");
  padding-inline-start: theme("padding.10");
}

// none-selection mode
.container--s.container--none-selection {
  padding-inline-start: theme("padding.1");
  & .dropdown-link {
    padding-inline-start: theme("padding.0");
  }
}

.container--m.container--none-selection {
  padding-inline-start: theme("padding.2");
  & .dropdown-link {
    padding-inline-start: theme("padding.0");
  }
}

.container--l.container--none-selection {
  padding-inline-start: theme("padding.3");
  & .dropdown-link {
    padding-inline-start: theme("padding.0");
  }
}

@mixin itemStyling {
  @apply relative
    flex
    flex-grow
    cursor-pointer
    items-center
    no-underline
    duration-150
    ease-in-out;
  color: var(--calcite-dropdown-item-text-color, var(--calcite-color-text-3));
}

:host {
  @apply relative
    flex
    flex-grow
    items-center;
}

.container {
  @include itemStyling;
  text-align: start;
}

.dropdown-item-content {
  @apply flex-auto py-0.5;
  padding-inline-end: theme("margin.auto");
  padding-inline-start: theme("margin.1");
}

//focus
:host,
.container--link a {
  @apply focus-base;
}
:host(:focus) {
  @apply focus-inset outline-none;
}

// when used as link move styling anchor
.container--link {
  @apply p-0;
  & a {
    @include itemStyling;
  }
}

.container--s .dropdown-link {
  @apply text-n2h py-1;
  padding-inline-end: theme("padding.2");
  padding-inline-start: theme("padding.6");
}

.container--m .dropdown-link {
  @apply text-n1h py-2;
  padding-inline-end: theme("padding.3");
  padding-inline-start: theme("padding.8");
}

.container--l .dropdown-link {
  @apply text-0h py-3;
  padding-inline-end: theme("padding.4");
  padding-inline-start: theme("padding.10");
}

:host(:hover:not([disabled])),
:host(:active:not([disabled])) {
  .container {
    @apply no-underline;
    background-color: var(--calcite-dropdown-item-background-color, var(--calcite-color-foreground-2));
    color: var(--calcite-dropdown-item-text-color, var(--calcite-color-text-1));
  }

  .container--link .dropdown-link {
    color: var(--calcite-dropdown-item-text-color, var(--calcite-color-text-1));
  }
}

:host(:active:not([disabled])) .container {
  background-color: var(--calcite-dropdown-item-background-color, var(--calcite-color-foreground-3));
}

:host(:focus) .container {
  @apply no-underline;
  color: var(--calcite-dropdown-item-text-color, var(--calcite-color-text-1));
}

:host([selected]) .container:not(.container--none-selection),
:host([selected]) .container--link .dropdown-link {
  @apply font-medium;
  color: var(--calcite-dropdown-item-text-color, var(--calcite-color-text-1));

  & calcite-icon {
    --calcite-icon-color: var(--calcite-dropdown-item-icon-color, var(--calcite-color-brand));
  }
}

// item icon
.dropdown-item-icon {
  @apply absolute
    opacity-0
    duration-150
    ease-in-out;
  transform: scale(0.9);
}

.container--s .dropdown-item-icon {
  inset-inline-start: theme("spacing.1");
}

.container--m .dropdown-item-icon {
  inset-inline-start: theme("spacing.2");
}

.container--l .dropdown-item-icon {
  inset-inline-start: theme("spacing.3");
}

:host(:hover:not([disabled])) .dropdown-item-icon {
  --calcite-icon-color: var(--calcite-dropdown-item-icon-color, var(--calcite-color-border-1));
  @apply opacity-100;
}

:host([selected]) .dropdown-item-icon {
  --calcite-icon-color: var(--calcite-dropdown-item-icon-color, var(--calcite-color-brand));
  @apply opacity-100;
}

// icon start & end
.container--s {
  .dropdown-item-icon-start {
    margin-inline-end: theme("margin.2");
    margin-inline-start: theme("margin.1");
  }
  .dropdown-item-icon-end {
    margin-inline-start: theme("margin.2");
  }
}

.container--m {
  .dropdown-item-icon-start {
    margin-inline-end: theme("margin.3");
    margin-inline-start: theme("margin.1");
  }
  .dropdown-item-icon-end {
    margin-inline-start: theme("margin.3");
  }
}

.container--l {
  .dropdown-item-icon-start {
    margin-inline-end: theme("margin.4");
    margin-inline-start: theme("margin.1");
  }
  .dropdown-item-icon-end {
    margin-inline-start: theme("margin.4");
  }
}

@include base-component();
@include disabled();
