:host {
  @apply bg-foreground-1
    box-border
    text-color-3
    inline-block
    duration-150 
    ease-in-out
    select-none;
}
:host(:not([embed])) {
  @apply p-3;
  box-shadow: 0 0 0 1px var(--calcite-ui-border-2);
  max-width: 20rem;
}
:host(:not([embed])[href]:hover) {
  @apply cursor-pointer;
  box-shadow: 0 0 0 2px var(--calcite-ui-brand);
}
:host(:not([embed])[href]:active) {
  box-shadow: 0 0 0 3px var(--calcite-ui-brand);
}
:host([icon][heading]:not([description]):not([embed])) {
  @apply p-0;
}
.tile {
  @apply grid 
    grid-cols-1 
    gap-2 
    pointer-events-none;
}
.heading {
  @apply text--1-wrap
    text-color-2
    duration-150
    ease-in-out
    font-medium
    pointer-events-none;
}
.large-visual {
  @apply items-center;
  min-height: theme("spacing.48");
  .icon {
    @apply self-end;
  }
  .heading {
    @apply self-center;
  }
}
.description {
  @apply text--2-wrap
    text-color-3
    duration-150
    ease-in-out
    pointer-events-none;
}

:host(:hover),
:host([active]) {
  .heading {
    @apply text-color-1;
  }
  .description {
    @apply text-color-2;
  }
}
