/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-table-cell-background: [Deprecated] Use `--calcite-table-cell-background-color` instead. Specifies the background color of the component.
 * @prop --calcite-table-cell-background-color: Specifies the background color of the component.
 * @prop --calcite-table-cell-background-color-selected: Specifies the background color of the component in a selected row.
 * @prop --calcite-table-cell-border-color: Specifies the border color of the component.
 * @prop --calcite-table-cell-text-color: Specifies the text color of the component.
 * @prop --calcite-table-cell-number-background-color: Specifies the background color of the number cell when "numbered" is set on the parent table. 
 * @prop --calcite-table-cell-footer-background-color: Specifies the background color of the footer cell.
 * @prop --calcite-table-cell-text-color-selected: Specifies the text color of the component in a selected row.
 * @prop --calcite-table-cell-indicator-color-highlight: Specifies the selection indicator color when selection-mode is set on the parent table.
 * @prop --calcite-table-cell-indicator-color-selected: Specifies the selection indicator color of the component in a selected row.
 */

/**
  * Local props
  * These properties are intended for internal component use only. It is not recommended that these properties be overwritten.
  *
  * --calcite-internal-table-cell-background-color
*/

/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-table-cell-background: [Deprecated] Use `--calcite-table-cell-background-color` instead. Specifies the background color of the component.
 */

:host {
  @apply contents;
}

:host([alignment="center"]) td:not(.selection-cell):not(.number-cell) {
  @apply text-center;
}

:host([alignment="end"]) td:not(.selection-cell):not(.number-cell) {
  @apply text-end;
}

.assistive-text {
  @apply sr-only;
}

td {
  --calcite-internal-table-cell-background-color: var(
    --calcite-table-cell-background-color,
    var(--calcite-table-cell-background, transparent)
  );
  --calcite-internal-table-cell-text-color: var(--calcite-table-cell-text-color, var(--calcite-color-text-1));

  @apply text-start align-middle whitespace-normal;
  background-color: var(--calcite-internal-table-cell-background-color);
  font-size: var(--calcite-internal-table-cell-font-size);
  border-color: var(
    --calcite-table-cell-border-color,
    var(--calcite-table-row-border-color, var(--calcite-table-border-color, var(--calcite-color-border-3)))
  );
  border-style: solid;
  border-inline-end-width: var(--calcite-border-width-sm);
  padding: var(--calcite-internal-table-cell-padding);
  color: var(--calcite-internal-table-cell-text-color);

  &:not(.static-cell) {
    @apply focus-base;
    &:focus {
      @apply focus-inset;
    }
  }
}

td.start.content-cell {
  @apply align-top;
}

td.end.content-cell {
  @apply align-bottom;
}

td.last-cell {
  border-inline-end: 0;
}

.number-cell {
  --calcite-internal-table-cell-background-color: var(
    --calcite-table-cell-number-background-color,
    var(--calcite-color-foreground-2)
  );
}

.footer-cell {
  --calcite-internal-table-cell-background-color: var(
    --calcite-table-cell-footer-background-color,
    var(--calcite-color-background)
  );

  @apply font-medium;
  border-block-start-width: var(--calcite-border-width-sm);
}

.number-cell,
.selection-cell {
  @apply text-center;

  inline-size: 2rem;
  min-inline-size: 2rem;
}

.selection-cell {
  @apply align-middle;
  inset-inline-start: 2rem;

  &:not(.footer-cell) {
    @apply cursor-pointer;
  }

  calcite-icon,
  ::slotted(calcite-icon) {
    --calcite-icon-color: var(--calcite-table-cell-indicator-color-highlight, var(--calcite-color-text-3));
  }

  ::slotted(calcite-icon) {
    @apply pointer-events-none mt-1;
  }
}

.selected-cell:not(.number-cell):not(.footer-cell) {
  --calcite-internal-table-cell-background-color: var(
    --calcite-table-cell-background-color-selected,
    var(--calcite-color-foreground-current)
  );
}

.selection-cell.selected-cell {
  box-shadow: inset 0.25rem 0 0 0 var(--calcite-table-cell-indicator-color-selected, var(--calcite-color-brand));

  calcite-icon {
    --calcite-icon-color: var(--calcite-table-cell-indicator-color-selected, var(--calcite-color-brand));
  }
}

.calcite--rtl.selection-cell.selected-cell {
  box-shadow: inset -0.25rem 0 0 0 var(--calcite-table-cell-indicator-color-selected, var(--calcite-color-brand));
}

@include disabled();
