/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-table-cell-background: [Deprecated] Use `--calcite-table-cell-background-color` instead. Specifies the background color of the component.
 * @prop --calcite-table-cell-background-color: Specifies the background color of the component. Will fallback to `--calcite-table-row-background-color` if not set.
 * @prop --calcite-table-cell-border-color: Specifies the border color of the component.
 * @prop --calcite-table-cell-text-color: Specifies the text color of the component.
 * @prop --calcite-table-cell-number-background-color: Specifies the background color of the number cell. 
 * @prop --calcite-table-cell-footer-background-color: Specifies the background color of the footer cell.
 * @prop --calcite-table-cell-text-color-selected: Specifies the text color of the selected cell.
 * @prop --calcite-table-cell-shadow: Specifies the shadow of the component.
 * @prop --calcite-table-cell-shadow-selected: Specifies the shadow of the selected cell.
 */

/**
  * Local props
  * These properties are intended for internal component use only. It is not recommended that these properties be overwritten.
  *
  * --calcite-internal-table-cell-background-color
*/

/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-table-cell-background: [Deprecated] Use `--calcite-table-cell-background-color` instead. Specifies the background color of the component.
 */

:host {
  --calcite-internal-table-cell-background: var(--calcite-table-cell-background, transparent);
  @apply contents;
}

:host([alignment="center"]) td:not(.selection-cell):not(.number-cell) {
  @apply text-center;
}

:host([alignment="end"]) td:not(.selection-cell):not(.number-cell) {
  @apply text-end;
}

.assistive-text {
  @apply sr-only;
}

td {
  @apply text-start align-middle whitespace-normal;
  background-color: var(--calcite-internal-table-cell-background);
  font-size: var(--calcite-internal-table-cell-font-size);
  border-inline-end: 1px solid
    var(
      --calcite-table-cell-border-color,
      var(--calcite-table-row-border-color, var(--calcite-table-border-color, var(--calcite-color-border-3)))
    );
  padding: var(--calcite-internal-table-cell-padding);
  color: var(--calcite-table-cell-text-color, var(--calcite-color-text-1));

  &:not(.static-cell) {
    @apply focus-base;
    &:focus {
      @apply focus-inset;
    }
  }
}

td.start.content-cell {
  @apply align-top;
}

td.end.content-cell {
  @apply align-bottom;
}

td.last-cell {
  border-inline-end: 0;
}

.number-cell {
  background-color: var(
    --calcite-table-cell-number-background-color,
    var(--calcite-table-cell-background-color, var(--calcite-color-foreground-2))
  );
}

.footer-cell {
  @apply font-medium text-color-1;
  border-block-start: 1px solid
    var(
      --calcite-table-cell-border-color,
      var(--calcite-table-row-border-color, var(--calcite-table-border-color, var(--calcite-color-border-3)))
    );
  background-color: var(--calcite-table-cell-footer-background-color, var(--calcite-color-background));
}

.number-cell,
.selection-cell {
  @apply text-center;
  border-inline-end: 1px solid
    var(
      --calcite-table-cell-border-color,
      var(--calcite-table-row-border-color, var(--calcite-table-border-color, var(--calcite-color-border-3)))
    );
  inline-size: 2rem;
  min-inline-size: 2rem;
}

.selection-cell {
  inset-inline-start: 2rem;
  color: var(--calcite-table-cell-text-color-selected, var(--calcite-color-text-3));

  &:not(.footer-cell) {
    @apply cursor-pointer;
  }
}

.selected-cell:not(.number-cell):not(.footer-cell) {
  --calcite-internal-table-cell-background: var(--calcite-color-foreground-current);
}

.selection-cell.selected-cell {
  box-shadow: var(--calcite-table-cell-shadow, inset 0.25rem 0 0 0 var(--calcite-color-brand));
  color: var(--calcite-table-cell-text-color-selected, var(--calcite-color-brand));
  & calcite-icon {
    --calcite-icon-color: var(--calcite-table-cell-text-color-selected, var(--calcite-color-brand));
  }
}

.calcite--rtl.selection-cell.selected-cell {
  box-shadow: var(--calcite-table-cell-shadow-selected, inset -0.25rem 0 0 0 var(--calcite-color-brand));
}

.selection-cell {
  @apply align-middle;
  & ::slotted(calcite-icon) {
    @apply pointer-events-none mt-1;
  }
}

@include disabled();
