:host {
  @extend %component-host;
  @extend %component-spacing;
  display: block;
}

:host([open]) {
  border-bottom: 1px solid var(--calcite-ui-border-3);
}

:host(:last-child) {
  border-bottom: none;
}

.toggle {
  background-color: transparent;
  border: none;
  color: var(--calcite-ui-text-2);
  font-family: theme("fontFamily.sans");
  font-weight: theme("fontWeight.normal");
  width: 100%;
}

.toggle--switch,
.section-header {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin: var(--calcite-spacing-quarter) 0;
  padding: var(--calcite-spacing-half) 0;
  user-select: none;
  font-size: theme("fontSize.-1");
  @include focus-style-base();
  &:focus {
    @include focus-style-outset();
  }
  &:hover {
    color: var(--calcite-ui-text-1);
  }
}

.section-header__text {
  @apply mx-3 my-0;
}

.toggle--switch {
  justify-content: space-between;
  calcite-switch {
    pointer-events: none;
    margin: 0 0 0 var(--calcite-spacing-half);
  }
}

.calcite--rtl .toggle--switch calcite-switch {
  margin-left: 0;
  margin-right: var(--calcite-spacing-half);
}
