:host {
  @extend %component-host;
  border-bottom: 1px solid var(--calcite-app-border);
  display: block;
}

@import "../../scss/includes/_component";

:host(:last-child) {
  border-bottom: none;
}

.toggle--switch {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: var(--calcite-app-cap-spacing-quarter) 0;
  padding: var(--calcite-app-cap-spacing-half) 0;
  user-select: none;

  calcite-switch {
    pointer-events: none;
    margin: 0 0 0 var(--calcite-app-side-spacing-half);
  }
}

.calcite--rtl .toggle--switch calcite-switch {
  margin-left: 0;
  margin-right: var(--calcite-app-side-spacing-half);
}
