/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-chip-background-color-active: Specifies the background color of the chip when active.
 * @prop --calcite-chip-background-color-highlight: Specifies the background color of the chip when hovered.
 * @prop --calcite-chip-background-color: Specifies the background color of the chip.
 * @prop --calcite-chip-border-color: Specifies the border color of the chip.
 * @prop --calcite-chip-corner-radius: Specifies the border radius of the chip.
 * @prop --calcite-chip-icon-color: Specifies the icon color of the chip.
 * @prop --calcite-chip-text-color: Specifies the text color of the chip.
 */

/**
  * Local props
  * These properties are intended for internal component use only. It is not recommended that these properties be overwritten.
  *
  * --calcite-internal-chip-spacing-s
  * --calcite-internal-chip-spacing-l
*/

.container,
.select-icon,
.title {
  padding-inline-start: var(--calcite-internal-chip-padding-start);
  padding-inline-end: var(--calcite-internal-chip-padding-end);
}

.select-icon:not(.select-icon--active) {
  padding-inline: 0;
}

:host([scale="s"]) {
  @apply text-n2 h-6;

  --calcite-internal-chip-spacing-s: theme("spacing[1]");
  --calcite-internal-chip-spacing-l: theme("spacing[2]");

  .close,
  .select-icon--active {
    @apply h-4 w-4;
  }

  .image-container {
    @apply h-5 w-5;
  }

  .container.is-circle,
  .container.is-circle.image--slotted {
    .container.is-circle,
    .container.is-circle.image--slotted {
      @apply w-6 h-6;

      --calcite-internal-chip-padding-start: var(--calcite-spacing-px);
      --calcite-internal-chip-padding-end: var(--calcite-spacing-px);
    }

    .multiple {
      .select-icon {
        --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
        --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);
      }

      &.image--slotted {
        .select-icon {
          --calcite-internal-chip-padding-start: var(--calcite-spacing-xs);
          --calcite-internal-chip-padding-end: var(--calcite-spacing-sm);
        }

        &.text--slotted {
          --calcite-internal-chip-padding-start: var(--calcite-spacing-px);
          --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);
        }
      }
    }

    .container {
      --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
      --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);

      &.image--slotted {
        --calcite-internal-chip-padding-start: var(--calcite-spacing-px);
        --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);

        &.closable {
          --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);
        }
      }
    }

    .container:not(.is-circle):not(.multiple) {
      &:not(.image-slotted) .select-icon.select-icon--active {
        padding-inline-start: 0;
        padding-inline-end: var(--calcite-spacing-xs);
      }

      &.image--slotted .select-icon.select-icon--active {
        padding-inline-start: var(--calcite-spacing-base);
        padding-inline-end: var(--calcite-spacing-sm);
      }
    }
  }

  :host([scale="s"][closable]) .container {
    --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
    --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);

    --calcite-internal-chip-padding-start: var(--calcite-spacing-px);
    --calcite-internal-chip-padding-end: var(--calcite-spacing-px);
  }

  .multiple {
    .select-icon {
      --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
      --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);
    }

    &.image--slotted {
      .select-icon {
        --calcite-internal-chip-padding-start: var(--calcite-spacing-xs);
        --calcite-internal-chip-padding-end: var(--calcite-spacing-sm);
      }

      &.text--slotted {
        --calcite-internal-chip-padding-start: var(--calcite-spacing-px);
        --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);
      }
    }
  }

  .container {
    --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
    --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);

    &.image--slotted {
      --calcite-internal-chip-padding-start: var(--calcite-spacing-px);
      --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);

      &.closable {
        --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);
      }
    }
  }

  .container:not(.is-circle):not(.multiple) {
    &:not(.image-slotted) .select-icon.select-icon--active {
      padding-inline-start: 0;
      padding-inline-end: var(--calcite-spacing-xs);
    }

    &.image--slotted .select-icon.select-icon--active {
      padding-inline-start: var(--calcite-spacing-base);
      padding-inline-end: var(--calcite-spacing-sm);
    }
  }
}

:host([scale="s"][closable]) .container {
  --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
  --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);
}

:host([scale="m"]) {
  @apply text-n1 h-8;
  --calcite-internal-chip-spacing-s: theme("spacing[1.5]");
  --calcite-internal-chip-spacing-l: theme("spacing[2]");

  .close,
  .image-container,
  .select-icon--active {
    @apply h-6 w-6;

    --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
    --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);

    --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
    --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);
  }

  .container.is-circle,
  .container.is-circle.image--slotted {
    .container.is-circle,
    .container.is-circle.image--slotted {
      @apply w-8 h-8;

      --calcite-internal-chip-padding-start: var(--calcite-spacing-px);
      --calcite-internal-chip-padding-end: var(--calcite-spacing-px);
    }

    .multiple {
      .select-icon {
        --calcite-internal-chip-padding-start: var(--calcite-spacing-base);
        --calcite-internal-chip-padding-end: var(--calcite-spacing-base);
      }

      &.image--slotted {
        .select-icon {
          --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
          --calcite-internal-chip-padding-end: var(--calcite-spacing-sm);
        }

        &.text--slotted {
          --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
          --calcite-internal-chip-padding-end: var(--calcite-spacing-xs);
        }
      }
    }

    .container {
      --calcite-internal-chip-padding-start: var(--calcite-spacing-xs);
      --calcite-internal-chip-padding-end: var(--calcite-spacing-xs);

      &.image--slotted {
        --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
        --calcite-internal-chip-padding-end: var(--calcite-spacing-xs);

        &.closable {
          --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
          --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);
        }
      }
    }

    .container:not(.is-circle):not(.multiple) {
      &:not(.image-slotted) .select-icon.select-icon--active {
        padding-inline-start: 0;
        padding-inline-end: var(--calcite-spacing-px);
      }

      &.image--slotted .select-icon.select-icon--active {
        padding-inline-start: 0;
        padding-inline-end: var(--calcite-spacing-sm);
      }
    }
  }

  :host([scale="m"][closable]) .container {
    --calcite-internal-chip-padding-start: var(--calcite-spacing-xs);
    --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);

    --calcite-internal-chip-padding-start: var(--calcite-spacing-px);
    --calcite-internal-chip-padding-end: var(--calcite-spacing-px);
  }

  .multiple {
    .select-icon {
      --calcite-internal-chip-padding-start: var(--calcite-spacing-base);
      --calcite-internal-chip-padding-end: var(--calcite-spacing-base);
    }

    &.image--slotted {
      .select-icon {
        --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
        --calcite-internal-chip-padding-end: var(--calcite-spacing-sm);
      }

      &.text--slotted {
        --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
        --calcite-internal-chip-padding-end: var(--calcite-spacing-xs);
      }
    }
  }

  .container {
    --calcite-internal-chip-padding-start: var(--calcite-spacing-xs);
    --calcite-internal-chip-padding-end: var(--calcite-spacing-xs);

    &.image--slotted {
      --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
      --calcite-internal-chip-padding-end: var(--calcite-spacing-xs);

      &.closable {
        --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
        --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);
      }
    }
  }

  .container:not(.is-circle):not(.multiple) {
    &:not(.image-slotted) .select-icon.select-icon--active {
      padding-inline-start: 0;
      padding-inline-end: var(--calcite-spacing-px);
    }

    &.image--slotted .select-icon.select-icon--active {
      padding-inline-start: 0;
      padding-inline-end: var(--calcite-spacing-sm);
    }
  }
}

:host([scale="m"][closable]) .container {
  --calcite-internal-chip-padding-start: var(--calcite-spacing-xs);
  --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);
}

:host([scale="l"]) {
  @apply text-0 h-11;

  --calcite-internal-chip-spacing-s: theme("spacing[2]");
  --calcite-internal-chip-spacing-l: theme("spacing[3]");

  .image-container,
  .close,
  .select-icon--active {
    @apply h-8 w-8;

    --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
    --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);

    --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
    --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);
  }

  .container.is-circle,
  .container.is-circle.image--slotted {
    .container.is-circle,
    .container.is-circle.image--slotted {
      @apply w-11 h-11;

      --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
      --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);
    }

    .multiple {
      .select-icon {
        --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
        --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);
      }

      &.image--slotted {
        .select-icon {
          --calcite-internal-chip-padding-start: var(--calcite-spacing-xs);
          --calcite-internal-chip-padding-end: var(--calcite-spacing-md);
        }
      }
    }

    .container {
      --calcite-internal-chip-padding-start: var(--calcite-spacing-sm);
      --calcite-internal-chip-padding-end: var(--calcite-spacing-sm);

      &.image--slotted {
        --calcite-internal-chip-padding-start: var(--calcite-spacing-xs);
        --calcite-internal-chip-padding-end: var(--calcite-spacing-sm);

        &.closable {
          --calcite-internal-chip-padding-start: var(--calcite-spacing-xs);
          --calcite-internal-chip-padding-end: var(--calcite-spacing-xs);
        }
      }
    }

    .container:not(.is-circle):not(.multiple) {
      &:not(.image-slotted) .select-icon.select-icon--active {
        padding-inline-start: 0;
        padding-inline-end: var(--calcite-spacing-xxs);
      }

      &.image--slotted .select-icon.select-icon--active {
        padding-inline-start: 0;
        padding-inline-end: var(--calcite-spacing-md);
      }
    }
  }

  :host([scale="l"][closable]) .container {
    --calcite-internal-chip-padding-start: var(--calcite-spacing-sm);
    --calcite-internal-chip-padding-end: var(--calcite-spacing-xs);

    --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
    --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);
  }

  .multiple {
    .select-icon {
      --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
      --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);
    }

    &.image--slotted {
      .select-icon {
        --calcite-internal-chip-padding-start: var(--calcite-spacing-xs);
        --calcite-internal-chip-padding-end: var(--calcite-spacing-md);
      }
    }
  }

  .container {
    --calcite-internal-chip-padding-start: var(--calcite-spacing-sm);
    --calcite-internal-chip-padding-end: var(--calcite-spacing-sm);

    &.image--slotted {
      --calcite-internal-chip-padding-start: var(--calcite-spacing-xs);
      --calcite-internal-chip-padding-end: var(--calcite-spacing-sm);

      &.closable {
        --calcite-internal-chip-padding-start: var(--calcite-spacing-xs);
        --calcite-internal-chip-padding-end: var(--calcite-spacing-xs);
      }
    }
  }

  .container:not(.is-circle):not(.multiple) {
    &:not(.image-slotted) .select-icon.select-icon--active {
      padding-inline-start: 0;
      padding-inline-end: var(--calcite-spacing-xxs);
    }

    &.image--slotted .select-icon.select-icon--active {
      padding-inline-start: 0;
      padding-inline-end: var(--calcite-spacing-md);
    }
  }
}

:host([scale="l"][closable]) .container {
  --calcite-internal-chip-padding-start: var(--calcite-spacing-sm);
  --calcite-internal-chip-padding-end: var(--calcite-spacing-xs);
}

:host {
  @apply inline-flex
    cursor-default;
  border-radius: var(--calcite-chip-corner-radius, 9999px);
}

.container {
  @apply inline-flex
  h-full
  max-w-full
  items-center
  focus-base
  justify-center
  border
  border-solid
  box-border
  font-medium;

  border-color: var(--calcite-chip-border-color, var(--calcite-color-border-1));
  border-radius: var(--calcite-chip-corner-radius, 9999px);

  &.selectable {
    @apply cursor-pointer;
  }
  &:not(.non-interactive):focus {
    @apply focus-outset;
  }
}

:host([scale="s"]) .container.selectable.single.image--slotted {
  --calcite-internal-chip-padding-end: calc(theme("spacing[0.5]") / 2);
}

:host([scale="s"]) .container:not(.selected):not(.multiple).image--slotted {
  --calcite-internal-chip-padding-start: calc(theme("spacing[0.5]") / 2);
}

.container.text--slotted .title {
  @apply truncate;

  --calcite-internal-chip-padding-start: var(--calcite-internal-chip-spacing-s);
  --calcite-internal-chip-padding-end: var(--calcite-internal-chip-spacing-s);
}

.container:not(.text--slotted) .title {
  display: none;
}

.container:not(.image--slotted) .image-container {
  display: none;
}

.container:not(.is-circle) {
  &.image--slotted .image-container {
    margin-inline-end: var(--calcite-internal-chip-spacing-s);
  }

  &.image--slotted .image-container ~ .chip-icon {
    margin-inline-start: var(--calcite-internal-chip-spacing-s);
  }

  &.selectable:not(.text--slotted) .chip-icon {
    margin-inline-end: var(--calcite-internal-chip-spacing-s);
  }

  &:not(.selectable):not(.text--slotted) .chip-icon {
    margin-inline-start: var(--calcite-internal-chip-spacing-s);
  }

  &:not(.text--slotted) .chip-icon {
    margin-inline-end: var(--calcite-internal-chip-spacing-s);
  }

  &:not(.text-slotted).image--slotted .image-container {
    margin-inline-end: var(--calcite-internal-chip-spacing-s);
  }

  &:not(.closable):not(.text--slotted).image--slotted.selectable .image-container {
    margin-inline-end: 0;
    ~ .chip-icon {
      margin-inline-start: calc(var(--calcite-internal-chip-spacing-s) * 2);
    }
  }
}

.chip-icon {
  @apply relative my-0 inline-flex duration-150 ease-in-out;
  margin-inline: var(--calcite-internal-chip-spacing-s);
}

.image-container {
  @apply inline-flex overflow-hidden;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.close {
  --calcite-internal-chip-padding-start: var(--calcite-spacing-xxs);
  --calcite-internal-chip-padding-end: var(--calcite-spacing-xxs);

  @apply focus-base
    transition-default
    m-0
    cursor-pointer
    items-center
    border-none;
  color: var(--calcite-chip-icon-color, var(--calcite-color-text-1));
  -webkit-appearance: none;
  display: flex;
  border-radius: var(--calcite-chip-corner-radius, 9999px);
  align-content: center;
  justify-content: center;
  background-color: var(--calcite-chip-background-color, var(--calcite-color-transparent));

  &:hover {
    background-color: var(--calcite-chip-background-color-highlight, var(--calcite-color-transparent-hover));
  }
  &:focus {
    background-color: var(--calcite-chip-background-color-highlight, var(--calcite-color-transparent-hover));
    @apply focus-inset;
  }
  &:active {
    background-color: var(--calcite-chip-background-color-active, var(--calcite-color-transparent-press));
  }
  & calcite-icon {
    color: inherit;
  }
}

.select-icon {
  align-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
  inset-block-start: -1px;
  position: relative;
  visibility: hidden;
  inline-size: 0;
  opacity: 0;
  transition:
    opacity 0.15s ease-in-out,
    inline-size 0.15s ease-in-out;
  &.select-icon--active {
    visibility: visible;
    opacity: 0.5;
  }
}

:host([selected]) .select-icon {
  opacity: 1;
}

.container:hover .select-icon--active {
  opacity: 1;
}

.multiple .select-icon {
  @apply flex justify-center items-center;
}

.multiple .select-icon {
  @apply flex justify-center items-center;
}

slot[name="image"]::slotted(*) {
  @apply flex h-full w-full overflow-hidden;
  border-radius: var(--calcite-chip-corner-radius, 9999px);
}

:host([kind="neutral"]) {
  background-color: var(--calcite-chip-background-color, var(--calcite-color-foreground-2));
  color: var(--calcite-chip-text-color, var(--calcite-color-text-1));

  .container {
    border-color: transparent;
  }
  .close {
    color: var(--calcite-chip-icon-color, var(--calcite-color-text-3));
  }
  .chip-icon {
    color: var(--calcite-chip-icon-color, var(--calcite-color-text-3));
  }
}

:host([kind="inverse"]) {
  background-color: var(--calcite-chip-background-color, var(--calcite-color-inverse));
  color: var(--calcite-chip-text-color, var(--calcite-color-text-inverse));

  .container {
    border-color: transparent;
  }
  .close {
    color: var(--calcite-chip-icon-color, var(--calcite-color-text-inverse));
  }
  .chip-icon {
    color: var(--calcite-chip-icon-color, var(--calcite-color-text-inverse));
  }
}

:host([kind="brand"]) {
  background-color: var(--calcite-chip-background-color, var(--calcite-color-brand));
  color: var(--calcite-chip-text-color, var(--calcite-color-text-inverse));
  .container {
    border-color: transparent;
  }
  .close {
    color: var(--calcite-chip-icon-color, var(--calcite-color-text-inverse));
  }
  .chip-icon {
    color: var(--calcite-chip-icon-color, var(--calcite-color-text-inverse));
  }
}

:host([appearance="outline-fill"]),
:host([appearance="outline"]) {
  color: var(--calcite-chip-text-color, var(--calcite-color-text-1));

  .close {
    color: var(--calcite-chip-icon-color, var(--calcite-color-text-3));
  }
  .chip-icon {
    color: var(--calcite-chip-icon-color, var(--calcite-color-text-3));
  }
}

:host([appearance="outline-fill"]) {
  background-color: var(--calcite-chip-background-color, var(--calcite-color-foreground-1));
}

:host([appearance="outline"]) {
  background-color: var(--calcite-chip-background-color, var(--calcite-color-transparent));
}

:host([kind="neutral"][appearance="outline-fill"]) .container,
:host([kind="neutral"][appearance="outline"]) .container {
  border-color: var(--calcite-chip-border-color, var(--calcite-color-border-1));
}

:host([kind="inverse"][appearance="outline-fill"]) .container,
:host([kind="inverse"][appearance="outline"]) .container {
  border-color: var(--calcite-chip-border-color, var(--calcite-color-border-inverse));
}

:host([kind="brand"][appearance="outline-fill"]) .container,
:host([kind="brand"][appearance="outline"]) .container {
  border-color: var(--calcite-chip-border-color, var(--calcite-color-brand));
}

:host([kind="brand"][appearance="solid"]),
:host([kind="inverse"][appearance="solid"]) {
  button {
    outline-color: var(--calcite-color-text-inverse);
  }
}

:host([closed]) {
  display: none;
}

@include disabled();
@include base-component();
