/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-chip-background-color: Specifies the background color of the component.
 * @prop --calcite-chip-border-color: Specifies the border color of the component.
 * @prop --calcite-chip-box-shadow: Specifies the box shadow of the component.
 * @prop --calcite-chip-corner-radius: Specifies the corner radius of the component.
 * @prop --calcite-chip-icon-color: Specifies the color of the component's icon property.
 * @prop --calcite-chip-close-icon-color: Specifies the color of the component's `closable` button, when requested.
 * @prop --calcite-chip-text-color: Specifies the color of the component's `"default"` slot.
 *
 */

/**
  * Local props
  * These properties are intended for internal component use only. It is not recommended that these properties be overwritten.
  *
  * --calcite-internal-chip-spacing-s
  * --calcite-internal-chip-spacing-l
  * --calcite-internal-chip-icon-size
  * --calcite-internal-chip-image-size
  * --calcite-internal-chip-container-size
*/

:host {
  @apply inline-flex;
}

:host([scale="s"]) {
  @apply text-n2;
  --calcite-internal-chip-spacing-s: var(--calcite-spacing-xxs);
  --calcite-internal-chip-spacing-l: var(--calcite-spacing-sm);
  --calcite-internal-chip-icon-size: var(--calcite-size-lg);
  --calcite-internal-chip-image-size: var(--calcite-size-xl);
  --calcite-internal-chip-container-size: var(--calcite-size-xxl);
}

:host([scale="m"]) {
  @apply text-n1;
  --calcite-internal-chip-spacing-s: var(--calcite-spacing-xs);
  --calcite-internal-chip-spacing-l: var(--calcite-spacing-sm);
  --calcite-internal-chip-icon-size: var(--calcite-size-xxl);
  --calcite-internal-chip-image-size: var(--calcite-size-xxl);
  --calcite-internal-chip-container-size: var(--calcite-size-xxxl);
}

:host([scale="l"]) {
  @apply text-0;
  --calcite-internal-chip-spacing-s: var(--calcite-spacing-sm);
  --calcite-internal-chip-spacing-l: var(--calcite-spacing-md);
  --calcite-internal-chip-icon-size: var(--calcite-size-xxxl);
  --calcite-internal-chip-image-size: var(--calcite-size-xxxl);
  --calcite-internal-chip-container-size: 44px;
}

.container {
  @apply inline-flex
  h-full
  max-w-full
  items-center
  focus-base
  justify-center
  cursor-default
  box-border
  font-medium;
  border: var(--calcite-border-width-sm) solid var(--calcite-chip-border-color, var(--calcite-color-border-3));
  border-radius: var(--calcite-chip-corner-radius, 9999px);
  background-color: var(--calcite-chip-background-color, var(--calcite-color-foreground-1));
  box-shadow: var(--calcite-chip-box-shadow, var(--calcite-shadow-none));
  block-size: var(--calcite-internal-chip-container-size);

  &.is-circle {
    inline-size: var(--calcite-internal-chip-container-size);
  }
  &:not(.is-circle) {
    padding-inline: var(--calcite-internal-chip-spacing-s);
  }
  &.selectable {
    @apply cursor-pointer;
  }
  &:not(.non-interactive):focus {
    @apply focus-outset;
  }
}

:host([scale="s"]) .container.image--slotted {
  padding-inline-start: calc(var(--calcite-internal-chip-spacing-s) / 2);
}

:host([scale="s"]) .container.is-circle {
  padding-inline: 0;
}

.container.text--slotted .title {
  @apply truncate;
  padding-inline: var(--calcite-internal-chip-spacing-s);
}

.container:not(.text--slotted) .title {
  display: none;
}

.container:not(.image--slotted) .image-container {
  display: none;
}

.container.closable {
  padding-inline-end: calc(var(--calcite-internal-chip-spacing-l) / 2);
}

.container:not(.is-circle) {
  &.image--slotted {
    padding-inline-start: calc(var(--calcite-internal-chip-spacing-l) / 2);
  }

  &.image--slotted .image-container {
    margin-inline-end: var(--calcite-internal-chip-spacing-s);
  }

  &.image--slotted .image-container ~ .chip-icon {
    margin-inline-start: var(--calcite-internal-chip-spacing-s);
  }

  &.selectable:not(.text--slotted) .chip-icon {
    margin-inline-end: var(--calcite-internal-chip-spacing-s);
  }

  &:not(.selectable):not(.text--slotted) .chip-icon {
    margin-inline-start: var(--calcite-internal-chip-spacing-s);
  }

  &:not(.text--slotted) .chip-icon {
    margin-inline-end: var(--calcite-internal-chip-spacing-s);
  }

  &:not(.text-slotted).image--slotted .image-container {
    margin-inline-end: var(--calcite-internal-chip-spacing-s);
  }

  &:not(.closable):not(.text--slotted).image--slotted.selectable .image-container {
    margin-inline-end: 0;
    ~ .chip-icon {
      margin-inline-start: calc(var(--calcite-internal-chip-spacing-s) * 2);
    }
  }
}

.chip-icon {
  @apply relative my-0 inline-flex duration-150 ease-in-out;
  margin-inline: var(--calcite-internal-chip-spacing-s);
}

.image-container {
  @apply inline-flex overflow-hidden;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  block-size: var(--calcite-internal-chip-image-size);
  inline-size: var(--calcite-internal-chip-image-size);
}

.close {
  @apply focus-base
    transition-default
    cursor-pointer
    items-center
    border-none
    bg-transparent;
  -webkit-appearance: none;
  display: flex;
  border-radius: var(--calcite-chip-corner-radius, 9999px);
  align-content: center;
  justify-content: center;
  margin: 0;
  color: var(--calcite-chip-close-icon-color, var(--calcite-color-text-1));
  block-size: var(--calcite-internal-chip-icon-size);
  inline-size: var(--calcite-internal-chip-icon-size);
  &:hover {
    background-color: var(--calcite-color-transparent-hover);
  }
  &:focus {
    background-color: var(--calcite-color-transparent-hover);
    @apply focus-inset;
  }
  &:active {
    background-color: var(--calcite-color-transparent-press);
  }
  & calcite-icon {
    color: inherit;
  }
}

.select-icon {
  align-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
  inset-block-start: -1px;
  position: relative;
  visibility: hidden;
  inline-size: 0;
  opacity: 0;
  transition:
    opacity 0.15s ease-in-out,
    inline-size 0.15s ease-in-out;
  &.select-icon--active {
    block-size: var(--calcite-internal-chip-icon-size);
    inline-size: var(--calcite-internal-chip-icon-size);
    visibility: visible;
    opacity: 0.5;
  }
}
.container:not(.is-circle).image--slotted .select-icon.select-icon--active {
  margin-inline-end: var(--calcite-internal-chip-spacing-s);
}

:host([selected]) .select-icon {
  opacity: 1;
}

.container:hover .select-icon--active {
  opacity: 1;
}

slot[name="image"]::slotted(*) {
  @apply rounded-half flex h-full w-full overflow-hidden;
}

:host([kind="neutral"]) {
  .container {
    background-color: var(--calcite-chip-background-color, var(--calcite-color-foreground-2));
    color: var(--calcite-chip-text-color, var(--calcite-color-text-1));
    border-color: var(--calcite-chip-border-color, transparent);
  }
  .close {
    color: var(--calcite-chip-close-icon-color, var(--calcite-color-text-3));
  }
  .chip-icon {
    color: var(--calcite-chip-icon-color, var(--calcite-color-text-1));
  }
}
:host([kind="inverse"]) {
  .container {
    background-color: var(--calcite-chip-background-color, var(--calcite-color-inverse));
    color: var(--calcite-chip-text-color, var(--calcite-color-text-inverse));
    border-color: var(--calcite-chip-border-color, transparent);
  }
  .close {
    color: var(--calcite-chip-close-icon-color, var(--calcite-color-text-inverse));
  }
  .chip-icon {
    color: var(--calcite-chip-icon-color, var(--calcite-color-text-inverse));
  }
}

:host([kind="brand"]) {
  .container {
    background-color: var(--calcite-chip-background-color, var(--calcite-color-brand));
    color: var(--calcite-chip-text-color, var(--calcite-color-text-inverse));
    border-color: var(--calcite-chip-border-color, transparent);
  }
  .close {
    color: var(--calcite-chip-close-icon-color, var(--calcite-color-text-inverse));
  }
  .chip-icon {
    color: var(--calcite-chip-icon-color, var(--calcite-color-text-inverse));
  }
}

:host([appearance="outline-fill"]),
:host([appearance="outline"]) {
  .container {
    background-color: var(--calcite-chip-background-color, var(--calcite-color-foreground-1));
    color: var(--calcite-chip-text-color, var(--calcite-color-text-1));
  }
  .close {
    color: var(--calcite-chip-close-icon-color, var(--calcite-color-text-3));
  }
  .chip-icon {
    color: var(--calcite-chip-icon-color, var(--calcite-color-text-1));
  }
}

:host([appearance="outline-fill"]) {
  .container {
    background-color: var(--calcite-chip-background-color, var(--calcite-color-foreground-1));
  }
}

:host([appearance="outline"]) {
  .container {
    background-color: var(--calcite-chip-background-color, transparent);
  }
}

:host([kind="neutral"][appearance="outline-fill"]) .container,
:host([kind="neutral"][appearance="outline"]) .container {
  border-color: var(--calcite-chip-border-color, var(--calcite-color-border-1));
}

:host([kind="inverse"][appearance="outline-fill"]) .container,
:host([kind="inverse"][appearance="outline"]) .container {
  border-color: var(--calcite-chip-border-color, var(--calcite-color-border-inverse));
}

:host([kind="brand"][appearance="outline-fill"]) .container,
:host([kind="brand"][appearance="outline"]) .container {
  border-color: var(--calcite-chip-border-color, var(--calcite-color-brand));
}

:host([kind="brand"][appearance="solid"]),
:host([kind="inverse"][appearance="solid"]) {
  button {
    outline-color: var(--calcite-color-text-inverse);
  }
}

:host([closed]) {
  display: none;
}

@include disabled();
@include base-component();
