@use "sass:meta";
@use "@esri/calcite-design-tokens/dist/scss/mixins";

@each $mixin-name, $mixin in meta.module-mixins(mixins) {
  .typography-story__mixin--#{$mixin-name} {
    @include meta.apply($mixin);
  }
}

.typography-story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2rem;
}

.typography-story__headings {
  display: contents;
}

.typography-story__row {
  display: contents;

  p {
    margin: 0;
  }
}
