:host {
  @apply block flex-initial outline-none;
  margin-inline-start: theme("margin.0");
  margin-inline-end: theme("margin.5");
}

:host([layout="center"]) {
  @apply my-0 mx-5 text-center;
  flex-basis: theme("spacing.48");
  margin: auto;
}

:host([position="bottom"]) .container {
  @apply border-t-color-transparent
    border-b-0
    border-t-2;
  border-block-start-style: solid;
}

:host([closed]) {
  @apply hidden;
}

// focus styles
.tab-title-close,
.container {
  @apply focus-base;
  &:focus {
    @apply focus-inset;
  }
}
.content:focus {
  outline: none;
}

:host(:active),
:host(:focus),
:host(:hover) {
  a {
    @apply text-color-1 border-color-2 no-underline;
  }
}

@include disabled() {
  .container {
    @apply pointer-events-none opacity-50;
  }
}

:host([scale="s"]) {
  margin-inline-end: 1rem;
  .content,
  .tab-title-close {
    @apply text-n2h py-1;
  }
}

:host([scale="m"]) {
  .content,
  .tab-title-close {
    @apply text-n1h py-2;
  }
}

:host([scale="l"]) {
  margin-inline-end: 1.5rem;
  .content,
  .tab-title-close {
    @apply text-0h py-2.5;
  }
}

.container {
  @apply flex justify-between;
  border-block-end-style: solid;
  border-block-end-color: transparent;
  padding-inline-end: 0;
}

.content {
  @apply text-color-3
    text-n1h
    transition-default
    box-border
    flex-1
    w-full
    cursor-pointer
    appearance-none
    justify-center
    items-center
    truncate
    px-0;
}
.container {
  @apply border-b-color-transparent;
  border-block-end-style: solid;
}

.calcite-tab-title--icon {
  @apply relative
    m-0
    inline-flex
    self-center;
  & svg {
    @apply transition-default;
  }
}

.content--has-text {
  @apply p-1;
}

.content--has-text .calcite-tab-title--icon.icon-start {
  margin-inline-end: theme("margin.2");
}

.content--has-text .calcite-tab-title--icon.icon-end {
  margin-inline-start: theme("margin.2");
}

@mixin tab-title-element-base() {
  @apply transition-default 
      text-color-3 
      box-border
      flex
      cursor-pointer 
      self-stretch
      h-full
      appearance-none
      overflow-hidden
      border-none
      justify-center
      items-center;
}

.tab-title-close {
  @include tab-title-element-base;
  @apply bg-foreground-1 text-color-1;
  margin-inline-start: auto;
  background-color: var(--calcite-button-transparent-1);
}

// compensate for spacing when no hastext and two icons
:host([icon-start][icon-end]) {
  .calcite-tab-title--icon:first-child {
    margin-inline-end: theme("margin.2");
  }
}

// bordered styles
:host([bordered]) {
  margin-inline-end: 0;
  .content {
    @apply mb-0;
  }
}

:host([bordered][selected]) {
  box-shadow: inset 0px -2px var(--calcite-ui-foreground-1);
}

:host([bordered][selected][position="bottom"]) {
  box-shadow: inset 0 2px 0 var(--calcite-ui-foreground-1);
}

:host([bordered]:hover),
:host([bordered]:focus),
:host([bordered]:active) {
  .container {
    @apply relative;
  }
}

:host([bordered]:hover) {
  .container {
    background-color: var(--calcite-button-transparent-hover);
  }
}

:host([bordered]) .container {
  border-block-end-style: unset;
  border-inline-start: 1px solid transparent;
  border-inline-end: 1px solid transparent;
}

:host([bordered][position="bottom"]) .container {
  border-block-start-style: unset;
}

:host([selected][bordered]) .container {
  border-inline-start-color: var(--calcite-ui-border-1);
  border-inline-end-color: var(--calcite-ui-border-1);
}

:host([bordered]) {
  .container {
    @apply relative;
  }
}

:host([bordered][scale="l"]) {
  .icon-present {
    padding-block: 11px;
  }
}

:host([bordered]) {
  .tab-title-close:hover,
  .container:hover {
    @apply text-color-1;
    background-color: var(--calcite-button-transparent-hover);
  }
}

@media (forced-colors: active) {
  :host {
    outline-width: 0;
    outline-offset: 0;
  }

  :host(:focus) .container {
    outline-color: highlight;
  }

  :host([bordered]) .container {
    border-block-end-style: solid;
  }

  :host([bordered][position="bottom"]) .container {
    border-block-start-style: solid;
  }

  :host([bordered][selected]) .container {
    border-block-end-style: none;
  }

  :host([bordered][position="bottom"][selected]) .container {
    border-block-start-style: none;
  }
}
