:host {
  @apply block flex-initial outline-none;
  margin-inline-start: theme("margin.0");
  margin-inline-end: theme("margin.5");
}

:host([layout="center"]) {
  @apply my-0 mx-5 text-center;
  flex-basis: theme("spacing.48");
  margin: auto;
}

:host([position="bottom"]) .container {
  @apply border-t-color-transparent
    border-b-0
    border-t-2;
  border-block-start-style: solid;
}

:host .container {
  @apply focus-base;
}

:host(:focus) .container {
  @apply focus-inset;
}

:host(:active),
:host(:focus),
:host(:hover) {
  a {
    @apply text-color-1 border-color-2 no-underline;
  }
}

:host([selected]) .container {
  @apply text-color-1 border-color-transparent;
}

@include disabled() {
  .container {
    @apply pointer-events-none opacity-50;
  }
}

:host([scale="s"]) {
  margin-inline-end: 1rem;
  .container {
    @apply text-n2h py-1;
  }
}

:host([scale="m"]) {
  .container {
    @apply text-n1h py-2;
  }
}

:host([scale="l"]) {
  margin-inline-end: 1.5rem;
  .container {
    @apply text-0h py-2.5;
  }
}

.container {
  @apply border-b-color-transparent
    text-color-3
    text-n1h
    transition-default
    box-border
    flex
    h-full
    w-full
    cursor-pointer
    appearance-none
    justify-center
    truncate
    border-b-2
    px-0;
  border-block-end-style: solid;
}

.calcite-tab-title--icon {
  @apply relative
    m-0
    inline-flex
    self-center;
  & svg {
    @apply transition-default;
  }
}

.container--has-text {
  @apply p-1;
}

.container--has-text .calcite-tab-title--icon.icon-start {
  margin-inline-end: theme("margin.2");
}

.container--has-text .calcite-tab-title--icon.icon-end {
  margin-inline-start: theme("margin.2");
}

// compensate for spacing when no hastext and two icons
:host([icon-start][icon-end]) {
  .calcite-tab-title--icon:first-child {
    margin-inline-end: theme("margin.2");
  }
}

// bordered styles
:host([bordered]) {
  margin-inline-end: 0;
}

:host([bordered][selected]) {
  box-shadow: inset 0rem -0.125rem var(--calcite-ui-foreground-1);
}

:host([bordered][selected][position="bottom"]) {
  box-shadow: inset 0 0.125rem 0 var(--calcite-ui-foreground-1);
}

:host([bordered]:hover),
:host([bordered]:focus),
:host([bordered]:active) {
  .container {
    @apply relative;
  }
}

:host([bordered]:hover) {
  .container {
    background-color: var(--calcite-button-transparent-hover);
  }
}

:host([bordered]) .container {
  border-block-end-style: unset;
  border-inline-start: 1px solid transparent;
  border-inline-end: 1px solid transparent;
}

:host([bordered][position="bottom"]) .container {
  border-block-start-style: unset;
}

:host([selected][bordered]) .container {
  border-inline-start-color: var(--calcite-ui-border-1);
  border-inline-end-color: var(--calcite-ui-border-1);
}

:host([bordered]) {
  .container {
    @apply px-3;
  }
}

:host([bordered][scale="s"]) {
  .container {
    @apply px-2;
  }
}

:host([bordered][scale="l"]) {
  .container {
    @apply px-4;
  }
  .icon-present {
    padding-block: 0.6875rem;
  }
}

@media (forced-colors: active) {
  :host {
    outline-width: 0;
    outline-offset: 0;
  }

  :host(:focus) .container {
    outline-color: highlight;
  }

  :host([bordered]) .container {
    border-block-end-style: solid;
  }

  :host([bordered][position="bottom"]) .container {
    border-block-start-style: solid;
  }

  :host([bordered][selected]) .container {
    border-block-end-style: none;
  }

  :host([bordered][position="bottom"][selected]) .container {
    border-block-start-style: none;
  }
}
