.header {
  display: flex;
  justify-content: space-between;
  padding: 0 3px;
}

:host([scale="s"]) {
  .text {
    font-size: 14px;
  }
  .chevron {
    height: 38px;
  }
}

:host([scale="m"]) {
  .text {
    font-size: 16px;
  }
  .chevron {
    height: 48px;
  }
}

:host([scale="l"]) {
  .text {
    font-size: 18px;
  }
  .chevron {
    height: 64px;
  }
}

.chevron {
  color: var(--calcite-ui-text-2);
  flex-grow: 0;
  width: calc(100% / 7);
  box-sizing: content-box;
  outline: none;
  padding: 0 4px;
  margin: 0 -3px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--calcite-ui-foreground-1);
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  @include focus-style-base();

  &:focus {
    @include focus-style-inset();
  }

  &:hover,
  &:focus {
    fill: var(--calcite-ui-text-1);
    background-color: var(--calcite-ui-foreground-2);
  }

  &:active {
    background-color: var(--calcite-ui-foreground-3);
  }

  &[aria-disabled="true"] {
    pointer-events: none;
    opacity: 0;
  }
}

.text {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  line-height: 1;
  margin: auto 0;
  text-align: center;
}

.text--reverse {
  flex-direction: row-reverse;
}

.month,
.year,
.suffix {
  color: var(--calcite-ui-text-1);
  background: var(--calcite-ui-foreground-1);
  font-size: inherit;
  font-weight: 500;
  line-height: 1.25;
  margin: 0 4px;
  display: inline-block;
}

.year {
  font-family: inherit;
  text-align: center;
  border: none;
  width: 3em;
  padding: 0;
  background-color: transparent;
  position: relative;
  z-index: 2;
  @include focus-style-base();
  &:hover {
    transition: outline-color 100ms ease-in-out;
    outline: 2px solid var(--calcite-ui-border-2);
    outline-offset: 2px;
  }
  &:focus {
    @include focus-style-outset();
  }
}

.year--suffix {
  width: 4rem;
  text-align: left;
}

.year-wrap {
  position: relative;
}

.suffix {
  position: absolute;
  width: 4rem;
  white-space: nowrap;
  text-align: left;
  top: 0;
  left: 0;
}

.suffix__invisible {
  visibility: hidden;
}
