:host {
  @apply max-w-full;
  & .calcite-card-container {
    @apply flex
      h-full
      flex-col
      justify-between
      bg-foreground-1
      duration-150
      ease-in-out
      relative
      border
      border-solid
      border-color-2
      text-color-3
      shadow-none;
    &:hover {
      @apply shadow-1-lg;
      z-index: 1;
    }
    &:active {
      @apply shadow-1-sm duration-75;
      z-index: 1;
    }
  }
}

.container {
  @apply flex-auto flex flex-col;
}

:host([loading]) .calcite-card-container *:not(calcite-loader):not(.calcite-card-loader-container) {
  @apply opacity-0 pointer-events-none;
}

:host([loading]) .calcite-card-loader-container {
  @apply flex
    items-center
    absolute
    inset-0;
}

.header,
.footer {
  @apply pt-3 pb-1 px-3 flex;
}

.header {
  @apply flex-col;
}

.footer {
  @apply pt-1 pb-3 px-3
    flex-row
    content-between
    justify-between
    mt-auto;
}

.card-content {
  @apply p-3
    text-color-3
    text--2-wrap;
}

// selectable and selected styles
:host([selectable]) .calcite-card-container:active {
  @apply shadow-1-sm;
}

:host([selected]) .calcite-card-container {
  @apply border-color-brand;
}

// slotted content
@include slotted("title", "*") {
  @apply font-medium
    text-color-1
    m-0
    text--1-wrap;
}

@include slotted("subtitle", "*") {
  @apply font-normal
    text-color-2
    m-0
    mt-2
    text--2-wrap;
}

@include slotted("thumbnail", "img") {
  @apply max-w-full min-w-full;
}

@include slotted("footer-leading", "*") {
  @apply self-center text--2-wrap;
  margin-inline-end: auto;
}
@include slotted("footer-trailing", "*") {
  @apply self-center text--2-wrap;
}

.thumbnail-wrapper {
  @apply text-0-wrap;
}

.checkbox-wrapper {
  @apply absolute m-0 p-0;
  top: theme("spacing.2");
  right: theme("spacing.2");
}

.calcite--rtl .checkbox-wrapper {
  @apply right-auto;
  left: theme("spacing.2");
}
