@mixin header(
  $textColor: "--calcite-color-text-2",
  $fontWeight: "--calcite-font-weight-medium",
  $spacing: "--calcite-spacing-xxs"
) {
  /* Shared styles for header elements */
  .header {
    color: var(#{$textColor}, var(--calcite-color-text-2));
    fill: var(#{$textColor}, var(--calcite-color-text-2));
    margin: 0px;
    display: flex;
    align-content: space-between;
    align-items: center;
  }

  .heading {
    margin: 0px;
    padding: 0px;
    font-weight: var(#{$fontWeight}, var(--calcite-font-weight-medium));
  }

  .header .heading {
    flex: 1 1 auto;
    padding: var(#{$spacing}, var(--calcite-spacing-xxs));
  }
}
