%component-host {
  /* Base ":host" styles for the component */
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  background-color: var(--calcite-color-foreground-1);
  color: var(--calcite-color-text-2);
  font-size: var(--calcite-font-size--1);
}

@mixin base-host() {
  /* Base ":host" styles for the component */
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}
