@mixin sortable-helper-classes() {
  .calcite-sortable--ghost {
    position: relative;
    overflow: hidden;
  }

  .calcite-sortable--ghost::before {
    content: "";
    @apply bg-brand
      box-border
      absolute
      top-0
      start-0
      bottom-0
      end-0
      z-default;
    block-size: var(--calcite-border-width-md);
  }

  .calcite-sortable--drag {
    @apply shadow-2;
  }
}
