@mixin sortable-helper-classes() {
  .calcite-sortable--chosen {
    @apply border border-dashed;
    border-color: var(--calcite-ui-success);
  }
  .calcite-sortable--drag {
    @apply border border-solid;
    border-color: var(--calcite-ui-brand-press);
  }
  .calcite-sortable--ghost {
    @apply border border-dashed;
    border-color: var(--calcite-ui-brand-hover);
  }
}
