@mixin xButton(
  $textColor: "--calcite-color-text-3",
  $backgroundColor: "--calcite-color-foreground-2",
  $hoverTextColor: "--calcite-color-text-1",
  $hoverBackgroundColor: "--calcite-color-foreground-3",
  $activeBorderColor: "--calcite-color-brand",
  $borderWidth: "--calcite-border-width-md"
) {
  .x-button {
    appearance: none;
    align-content: center;
    cursor: pointer;
    display: flex;
    outline-color: transparent;
    align-items: center;
    justify-content: center;
    margin: 0px;
    align-self: center;
    color: var(#{$textColor});
    transition:
      all var(--calcite-animation-timing) ease-in-out 0s,
      outline 0s,
      outline-offset 0s;
    border-width: var(#{$borderWidth});
    border-radius: 50%;
    border-color: transparent;
    background-color: var(#{$backgroundColor});

    &:active,
    &:hover {
      color: var(#{$hoverTextColor});
      background-color: var(#{$hoverBackgroundColor});
    }

    &:active {
      border-style: solid;
      border-color: var(#{$activeBorderColor});
    }

    & calcite-icon {
      color: inherit;
    }
  }

  :host([scale="s"]) {
    inline-size: var(--calcite-spacing-sm);
    block-size: var(--calcite-spacing-sm);
  }

  :host([scale="m"]) {
    inline-size: var(--calcite-spacing-lg);
    block-size: var(--calcite-spacing-lg);
  }

  :host([scale="l"]) {
    inline-size: var(--calcite-spacing-xxl);
    block-size: var(--calcite-spacing-xxl);
  }
}
