@import "../../node_modules/@esri/calcite-base/dist/index";

/* CSS vars (@include in global) */
@import "type";

@mixin calcite-mode-light-extended {
  --calcite-alert-dismiss-progress-background: #{rgba($blk-000, 0.8)};
  --calcite-button-transparent-hover: #{rgba($blk-240, 0.05)};
  --calcite-button-transparent-press: #{rgba($blk-240, 0.08)};
  --calcite-link-blue-underline: #{rgba($h-bb-070, 0.4)};
  --calcite-scrim-background-internal: #{rgba($blk-000, 0.85)};
}

@mixin calcite-mode-dark-extended {
  --calcite-alert-dismiss-progress-background: #{rgba($blk-200, 0.8)};
  --calcite-button-transparent-hover: #{rgba($blk-000, 0.05)};
  --calcite-button-transparent-press: #{rgba($blk-000, 0.08)};
  --calcite-link-blue-underline: #{rgba($d-bb-420, 0.4)};
  --calcite-scrim-background-internal: #{rgba($blk-240, 0.85)};
}

:root {
  @extend %type-vars;
  @include floating-ui-base();
  @include animation-base();

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --calcite-popover-z-index: var(--calcite-app-z-index-popup);
  --calcite-border-radius: var(--calcite-semantic-border-border-radius-round, 4px);
  --calcite-border-radius-base: 0;
  --calcite-panel-width-multiplier: 1;
  --calcite-ui-focus-offset-invert: 0; // should be 0 or 1
  --calcite-ui-icon-color: currentColor;
  --calcite-ui-opacity-disabled: var(--calcite-core-opacity-50, 0.5);

  @apply font-sans;
}

.calcite-mode-dark {
  @include calcite-mode-dark-extended();
}

.calcite-mode-light {
  @include calcite-mode-light-extended();
}

.calcite-mode-auto {
  @media (prefers-color-scheme: dark) {
    @include calcite-mode-dark();
  }

  @media (prefers-color-scheme: light) {
    @include calcite-mode-light();
  }
}

@include animation-reduced-motion();

@include animation-helper-classes();

@include sortable-helper-classes();
