@import "../../node_modules/@esri/calcite-colors/dist/colors";
@import "../../node_modules/@esri/calcite-base/dist/_index";
@import "../../node_modules/@esri/calcite-design-tokens/dist/scss/headless";

/* mixins & extensions */
@import "animation";
@import "focus";
@import "host";
@import "spacing";
@import "floating-ui";
@import "sortable";

@mixin slotted($selector, $tag, $scope: "") {
  #{$scope} slot[name="#{$selector}"]::slotted(#{$tag}),
  #{$scope} #{$tag}::slotted([slot="#{$selector}"]) {
    @content;
  }
}

@mixin word-break() {
  word-wrap: break-word;
  word-break: break-word;
}

// mixin to hide inputs from form-associated components
@mixin hidden-form-input() {
  ::slotted(input[slot="hidden-form-input"]) {
    margin: 0 !important;
    opacity: 0 !important;
    outline: none !important;
    padding: 0 !important;
    position: absolute !important;
    inset: 0 !important;
    transform: none !important;
    -webkit-appearance: none !important;
    z-index: -1 !important;
  }
}

// mixin to provide base disabled styles for interactive components
// additional styling can be passed via @content
@mixin disabled() {
  :host([disabled]) {
    @extend %disabled-host-only;
    @content;

    ::slotted([calcite-hydrated][disabled]),
    [calcite-hydrated][disabled] {
      /* prevent opacity stacking */
      @apply opacity-100;
    }
  }
}

// used for host-specific styling when the `disabled` mixin cannot be applied on the host (e.g., `display: contents`)
%disabled-host-only {
  @apply opacity-disabled cursor-default select-none;
  @extend %non-interactive-host-contents;
}

%non-interactive-host-contents {
  *,
  ::slotted(*) {
    @apply pointer-events-none;
  }
}

// mixin to provide default invisibility and disabling of pointer events for components.
@mixin calciteHydratedHidden() {
  :host([calcite-hydrated-hidden]) {
    visibility: hidden !important; // 'important' is being used here to temporarily handle precendence of visibility set with calcite-hydrated. Do not follow this pattern. See #991.
    pointer-events: none;
  }
}

@mixin base-component() {
  :host([hidden]) {
    @apply hidden;
  }

  [hidden] {
    @apply hidden;
  }
}

@mixin xButton() {
  :host([scale="s"]) {
    .x-button {
      inline-size: theme("spacing.4");
      block-size: theme("spacing.4");
    }
  }

  :host([scale="m"]) {
    .x-button {
      inline-size: theme("spacing.6");
      block-size: theme("spacing.6");
    }
  }

  :host([scale="l"]) {
    .x-button {
      inline-size: theme("spacing.8");
      block-size: theme("spacing.8");
    }
  }

  .x-button {
    @apply appearance-none
    bg-transparent
    border-2
    content-center
    cursor-pointer
    flex
    focus-base
    items-center
    justify-center
    m-0
    self-center
    text-color-3
    transition-default;

    border-radius: 50%;
    border-color: transparent;
    background-color: var(--calcite-ui-foreground-2);

    &:active,
    &:hover {
      @apply text-color-1;
      background-color: var(--calcite-ui-foreground-3);
    }

    &:active {
      @apply border-solid;
      border-color: theme("borderColor.color-brand");
    }

    & calcite-icon {
      color: inherit;
    }
  }
}
