:host {
  display: flex;
}

.container {
  display: flex;
  inline-size: 100%;
  flex-wrap: wrap;
  gap: var(--calcite-spacing-sm);
}

::slotted(calcite-chip) {
  flex: none;
}

:host([scale="s"]) .container {
  gap: var(--calcite-spacing-xs);
}

:host([scale="l"]) .container {
  gap: var(--calcite-spacing-md);
}

@include disabled();
@include base-component();
