/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-radio-button-background-color: Specifies the component's background color.
 * @prop --calcite-radio-button-border-color: Specifies the component's border color.
 * @prop --calcite-radio-button-corner-radius: Specifies the component's corner radius.
 * @prop --calcite-radio-button-size: Specifies the component's size.
 * @prop --calcite-radio-size: [Deprecated] Use `--calcite-radio-button-size`. Specifies the component's size.
 *
 */

:host {
  @apply block
  cursor-pointer;

  .container {
    @apply relative
    outline-none;
  }

  .radio {
    @apply cursor-pointer
    focus-base
    transition-default;
    border-radius: var(--calcite-radio-button-corner-radius, var(--calcite-corner-radius-pill));
    background-color: var(--calcite-radio-button-background-color, var(--calcite-color-foreground-1));
    box-shadow: inset 0 0 0 var(--calcite-border-width-sm)
      var(--calcite-radio-button-border-color, var(--calcite-color-border-input));
  }
}

:host([hovered]),
:host(:not([checked])[focused]:not([disabled])) {
  .radio {
    box-shadow: inset 0 0 0 var(--calcite-border-width-md)
      var(--calcite-radio-button-border-color, var(--calcite-color-brand-hover));

    &:active {
      box-shadow: inset 0 0 0 var(--calcite-border-width-md) var(--calcite-color-brand-press);
    }
  }
}

:host([focused]) {
  .radio {
    @apply focus-outset;
  }
}

@include disabled() {
  .radio {
    @apply opacity-disabled
    cursor-default;
  }
}

:host([hovered][disabled]) {
  .radio {
    box-shadow: inset 0 0 0 var(--calcite-border-width-sm)
      var(--calcite-radio-button-border-color, var(--calcite-color-border-input));
  }
}

:host([scale="s"]) {
  --calcite-internal-radio-size: var(
    --calcite-radio-button-size,
    var(--calcite-radio-size, var(--calcite-size-fixed-md))
  );
}
:host([scale="m"]) {
  --calcite-internal-radio-size: var(
    --calcite-radio-button-size,
    var(--calcite-radio-size, var(--calcite-size-fixed-md-plus))
  );
}
:host([scale="l"]) {
  --calcite-internal-radio-size: var(
    --calcite-radio-button-size,
    var(--calcite-radio-size, var(--calcite-size-fixed-lg))
  );
}

.radio {
  block-size: var(--calcite-internal-radio-size);
  inline-size: var(--calcite-internal-radio-size);
  size: var(--calcite-internal-radio-size);
}

:host([scale="s"][checked]),
:host([hovered][scale="s"][checked][disabled]) {
  .radio {
    box-shadow: inset 0 0 0 var(--calcite-border-width-lg)
      var(--calcite-radio-button-border-color, var(--calcite-color-brand));
  }
}
:host([scale="s"][focused][checked]:not([disabled])) {
  .radio {
    box-shadow:
      inset 0 0 0 var(--calcite-border-width-lg) var(--calcite-radio-button-border-color, var(--calcite-color-brand)),
      0 0 0 2px var(--calcite-radio-button-background-color, var(--calcite-color-foreground-1));
  }
}
:host([scale="m"][checked]),
:host([hovered][scale="m"][checked][disabled]) {
  .radio {
    box-shadow: inset 0 0 0 5px var(--calcite-radio-button-border-color, var(--calcite-color-brand));
  }
}
:host([scale="m"][focused][checked]:not([disabled])) {
  .radio {
    box-shadow:
      inset 0 0 0 5px var(--calcite-radio-button-border-color, var(--calcite-color-brand)),
      0 0 0 2px var(--calcite-radio-button-background-color, var(--calcite-color-foreground-1));
  }
}
:host([scale="l"][checked]),
:host([hovered][scale="l"][checked][disabled]) {
  .radio {
    box-shadow: inset 0 0 0 6px var(--calcite-radio-button-border-color, var(--calcite-color-brand));
  }
}
:host([scale="l"][focused][checked]:not([disabled])) {
  .radio {
    box-shadow:
      inset 0 0 0 6px var(--calcite-radio-button-border-color, var(--calcite-color-brand)),
      0 0 0 2px var(--calcite-radio-button-background-color, var(--calcite-color-foreground-1));
  }
}

@media (forced-colors: active) {
  :host([checked]),
  :host([checked][disabled]) {
    .radio::after {
      content: "";
      inline-size: var(--calcite-internal-radio-size);
      block-size: var(--calcite-internal-radio-size);
      background-color: CanvasText;
      display: block;
    }
  }
}

@include hidden-form-input();
@include base-component();
