:host-context([theme="dark"]) {
  @include calcite-theme-dark();
}

:host {
  display: inline-block;
  input {
    @include focus-style-base();
    border: none;
    &:focus {
      @include focus-style-inset();
    }
    &[type="number"] {
      -moz-appearance: textfield;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        margin: 0;
      }
    }
  }
}
:host([scale="s"]) {
  input {
    font-size: 12px;
    padding: 8px;
  }
}
:host([scale="m"]) {
  input {
    font-size: 16px;
    padding: 12px;
  }
}
:host([scale="l"]) {
  input {
    font-size: 20px;
    padding: 16px;
  }
}
.time-picker {
  align-items: center;
  display: flex;
}
.column {
  align-items: center;
  display: flex;
  flex-direction: column;
  input {
    width: 1.1em;
  }
}
