:host-context([theme="dark"]) {
  @include calcite-theme-dark();
}

:host {
  display: inline-block;
}
:host([scale="s"]) {
  font-size: 12px;
}
:host([scale="m"]) {
  font-size: 16px;
}
:host([scale="l"]) {
  font-size: 20px;
}
::slotted(calcite-input) {
  position: relative;
  z-index: 200;
}
.time-picker {
  align-items: center;
  border-radius: var(--calcite-border-radius);
  box-shadow: var(--calcite-shadow-2);
  display: flex;
  padding: 0.25em 0;
  position: relative;
  z-index: 200;
}
.column {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
span {
  display: inline-block;
  font-weight: var(--calcite-ui-text-weight-medium);
  text-align: center;
  &:focus {
    background: #b5d5ff;
    outline: none;
  }
}
calcite-icon {
  color: var(--calcite-ui-border-5);
}
