:host {
  @apply inline-block;
}

.time-picker {
  @apply bg-foreground-1 // todo
    shadow-2 // todo
    text-color-1 // todo
    flex
    select-none
    items-center
    font-medium;

  border-radius: var(--calcite-border-radius); // todo

  .column {
    @apply flex
      flex-col;
  }

  .meridiem--start {
    order: -1;
  }

  .button {
    @apply bg-foreground-1 // todo
      inline-flex
      cursor-pointer
      items-center
      justify-center;
    &:hover,
    &:focus {
      @apply bg-foreground-2 // todo
        outline-none;
      z-index: theme("zIndex.header"); // todo
      outline-offset: 0;
    }
    &:active {
      @apply bg-foreground-3; // todo
    }
    &.top-left {
      border-start-start-radius: var(--calcite-border-radius); // todo
    }
    &.bottom-left {
      border-end-start-radius: var(--calcite-border-radius); // todo
    }
    &.top-right {
      border-start-end-radius: var(--calcite-border-radius); // todo
    }
    &.bottom-right {
      border-end-end-radius: var(--calcite-border-radius); // todo
    }
    calcite-icon {
      @apply text-color-3; // todo
    }
  }

  .input {
    @apply bg-foreground-1 // todo
      inline-flex
      cursor-pointer
      items-center
      justify-center
      font-medium; // todo
    &:hover {
      box-shadow: inset 0 0 0 2px var(--calcite-color-foreground-2); // todo
      z-index: theme("zIndex.header"); // todo
    }
    &:focus,
    &:hover:focus {
      @apply outline-none;
      outline-offset: 0;
    }
    &.inputFocus,
    &:hover.inputFocus {
      box-shadow: inset 0 0 0 2px var(--calcite-color-brand); // todo
      z-index: theme("zIndex.header"); // todo
    }
  }

  &.scale-s {
    @apply text-n1;
    .button,
    .input {
      @apply px-3 // todo
        py-1; // todo
    }
    &:not(.show-meridiem) {
      .delimiter:last-child {
        padding-inline-end: theme("spacing.3"); // todo
      }
    }
  }

  &.scale-m {
    @apply text-0;
    .button,
    .input {
      @apply px-4 // todo
        py-2; // todo
    }
    &:not(.show-meridiem) {
      .delimiter:last-child {
        padding-inline-end: theme("spacing.4"); // todo
      }
    }
  }

  &.scale-l {
    @apply text-1;
    .button,
    .input {
      @apply px-5 // todo
        py-3; // todo
    }
    &:not(.show-meridiem) {
      .delimiter:last-child {
        padding-inline-end: theme("spacing.5"); // todo
      }
    }
  }
}

@include base-component();
