:host-context([theme="dark"]) {
  @include calcite-theme-dark();
}

// scale variants for child
:host([scale="s"]) {
  --calcite-accordion-item-spacing-unit: theme("spacing.2");
  --calcite-accordion-item-padding: var(--calcite-accordion-item-spacing-unit)
    var(--calcite-accordion-item-spacing-unit);
  @apply text--2h;
}

:host([scale="m"]) {
  --calcite-accordion-item-spacing-unit: theme("spacing.3");
  --calcite-accordion-item-padding: var(--calcite-accordion-item-spacing-unit)
    var(--calcite-accordion-item-spacing-unit);
  @apply text--1h;
}

:host([scale="l"]) {
  --calcite-accordion-item-spacing-unit: theme("spacing.6");
  --calcite-accordion-item-padding: var(--calcite-accordion-item-spacing-unit)
    var(--calcite-accordion-item-spacing-unit);
  @apply text-1h;
}

:host {
  @apply block
    border
    border-b-0
    border-color-2
    max-w-full
    relative;
  --calcite-accordion-item-border: theme("borderColor.color.2");
  --calcite-accordion-item-background: theme("backgroundColor.foreground.1");
}

:host([appearance="minimal"]) {
  --calcite-accordion-item-padding: var(--calcite-accordion-item-spacing-unit) 0;
  border-color: transparent;
}

:host([appearance="transparent"]) {
  border-color: transparent;
  --calcite-accordion-item-border: transparent;
  --calcite-accordion-item-background: transparent;
}
