/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-dropdown-width: Specifies the width of the component's wrapper.
 */

:host {
  @apply flex;
}

@include disabled();

calcite-input {
  flex: 1;
}

.floating-ui-container {
  --calcite-floating-ui-z-index: theme("zIndex.dropdown");
  @include floating-ui-container();
  @include floating-ui-wrapper();
}

@include floating-ui-elem-anim(".floating-ui-container");

.floating-ui-container--active {
  @include floating-ui-wrapper-active();
}

@media (forced-colors: active) {
  .floating-ui-container--active {
    border: 1px solid canvasText;
  }
}

@include base-component();
