/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-autocomplete-width: Specifies the width of the component's wrapper.
 */

:host {
  @apply block relative;
}

.container {
  @apply relative flex flex-auto;
}

.input {
  @apply w-full;
}

@include disabled();

.content-container {
  @apply bg-foreground-1
    text-color-1
    w-full;
}

.floating-ui-container {
  --calcite-floating-ui-z-index: theme("zIndex.dropdown");
  @include floating-ui-container();
}

@include floating-ui-elem-anim(".floating-ui-container");

.calcite-floating-ui-anim {
  @apply bg-foreground-1
    max-h-menu
    overflow-y-auto;
  inline-size: var(--calcite-autocomplete-width, 100%);
}

.content--hidden {
  display: none;
}

@media (forced-colors: active) {
  .floating-ui-container--active {
    border: 1px solid canvasText;
  }
}

.screen-readers-only {
  @apply sr-only;
}

@include form-validation-message();
@include hidden-form-input();
@include base-component();
