/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-autocomplete-background-color: Specifies the background color of the component.
 * @prop --calcite-autocomplete-text-color: Specifies the text color of the component.
 * @prop --calcite-autocomplete-width: Specifies the width of the component's wrapper.
 */

:host {
  @apply block
    relative;
}

.input-container {
  @apply relative
    flex
    flex-auto;
}

.input {
  @apply w-full;
}

@include disabled();

.content-container {
  @apply w-full;
  color: var(--calcite-autocomplete-text-color, var(--calcite-color-text-1));
  background-color: var(--calcite-autocomplete-background-color, var(--calcite-color-foreground-1));
}

.floating-ui-container {
  --calcite-floating-ui-z-index: theme("zIndex.dropdown");
  @include floating-ui-container();
}

@include floating-ui-elem-anim(".floating-ui-container");

.calcite-floating-ui-anim {
  @apply max-h-menu
    overflow-y-auto;
  background-color: var(--calcite-autocomplete-background-color, var(--calcite-color-foreground-1));
  inline-size: var(--calcite-autocomplete-width, 100%);
}

.content--hidden {
  display: none;
}

@media (forced-colors: active) {
  .floating-ui-container--active {
    border: 1px solid canvasText;
  }
}

.screen-readers-only {
  @apply sr-only;
}

@include form-validation-message();
@include hidden-form-input();
@include base-component();
