/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-shell-panel-background-color: Specifies the background color of the component.
 * @prop --calcite-shell-panel-border-color: When `displayMode` is `"float-all"`, specifies the component's border color.
 * @prop --calcite-shell-panel-corner-radius: When `displayMode` is `"float-all"`, specifies the component's corner radius.
 * @prop --calcite-shell-panel-height: When `layout` is `horizontal`, or `layout` is `vertical` and `displayMode` is `float-content` or `float`, specifies the height of the component.
 * @prop --calcite-shell-panel-max-height: When `layout` is `horizontal`, or `layout` is `vertical` and `displayMode` is `float-content` or `float`, specifies the maximum height of the component.
 * @prop --calcite-shell-panel-max-width: Specifies the maximum width of the component.
 * @prop --calcite-shell-panel-min-height: When `layout` is `horizontal`, or `layout` is `vertical` and `displayMode` is `float-content` or `float`, specifies the minimum height of the component.
 * @prop --calcite-shell-panel-min-width: Specifies the minimum width of the component.
 * @prop --calcite-shell-panel-resize-background-color: Specifies the background color of the resize handle.
 * @prop --calcite-shell-panel-resize-icon-color: Specifies the text color of the resize handle.
 * @prop --calcite-shell-panel-shadow: When `displayMode` is `"float-all"`, specifies the component's shadow.
 * @prop --calcite-shell-panel-text-color: Specifies the text color of the component.
 * @prop --calcite-shell-panel-width: Specifies the width of the component.
 * @prop --calcite-shell-panel-z-index: Specifies the z-index value for the component.
 *
 */

:host {
  @apply relative
    pointer-events-none
    flex
    flex-initial
    items-stretch;
  z-index: var(--calcite-shell-panel-z-index, theme("zIndex.default"));
  --calcite-shell-panel-max-height: unset;
  --calcite-internal-shell-panel-shadow-block-start:
    0 4px 8px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.04);
  --calcite-internal-shell-panel-shadow-block-end:
    0 -4px 8px -1px rgba(0, 0, 0, 0.08), 0 -2px 4px -1px rgba(0, 0, 0, 0.04);
  --calcite-internal-shell-panel-shadow-inline-start:
    4px 0 8px -1px rgba(0, 0, 0, 0.08), 2px 0 4px -1px rgba(0, 0, 0, 0.04);
  --calcite-internal-shell-panel-shadow-inline-end:
    -4px 0 8px -1px rgba(0, 0, 0, 0.08), -2px 0 4px -1px rgba(0, 0, 0, 0.04);
}

.calcite--rtl.content--overlay {
  --calcite-internal-shell-panel-shadow-inline-start:
    -4px 0 8px -1px rgba(0, 0, 0, 0.08), -2px 0 4px -1px rgba(0, 0, 0, 0.04);
  --calcite-internal-shell-panel-shadow-inline-end:
    4px 0 8px -1px rgba(0, 0, 0, 0.08), 2px 0 4px -1px rgba(0, 0, 0, 0.04);
}

:host([layout="vertical"]) {
  z-index: var(--calcite-shell-panel-z-index, calc(theme("zIndex.default") + 1));
}

:host([layout="vertical"][display-mode="overlay"]) {
  z-index: var(--calcite-shell-panel-z-index, calc(theme("zIndex.header") + 1));
}

:host([layout="vertical"][display-mode="float-all"]) .content {
  flex: 2;
}

:host([layout="vertical"]:not([display-mode="float-all"])) .width-s {
  --calcite-internal-shell-panel-width: var(--calcite-shell-panel-width, 12vw);
  --calcite-internal-shell-panel-max-width: var(--calcite-shell-panel-max-width, 300px);
  --calcite-internal-shell-panel-min-width: var(--calcite-shell-panel-min-width, 150px);
}

:host([layout="vertical"][display-mode="float-all"]) .width-s {
  --calcite-internal-shell-panel-width: var(--calcite-shell-panel-width, 12vw);
  --calcite-internal-shell-panel-min-width: var(--calcite-shell-panel-min-width, 150px);
}

:host([layout="vertical"]:not([display-mode="float-all"])) .width-m {
  --calcite-internal-shell-panel-width: var(--calcite-shell-panel-width, 20vw);
  --calcite-internal-shell-panel-max-width: var(--calcite-shell-panel-max-width, 420px);
  --calcite-internal-shell-panel-min-width: var(--calcite-shell-panel-min-width, 240px);
}

:host([layout="vertical"][display-mode="float-all"]) .width-m {
  --calcite-internal-shell-panel-width: var(--calcite-shell-panel-width, 20vw);
  --calcite-internal-shell-panel-min-width: var(--calcite-shell-panel-min-width, 240px);
}

:host([layout="vertical"]:not([display-mode="float-all"])) .width-l {
  --calcite-internal-shell-panel-width: var(--calcite-shell-panel-width, 45vw);
  --calcite-internal-shell-panel-max-width: var(--calcite-shell-panel-max-width, 680px);
  --calcite-internal-shell-panel-min-width: var(--calcite-shell-panel-min-width, 340px);
}

:host([layout="vertical"][display-mode="float-all"]) .width-l {
  --calcite-internal-shell-panel-width: var(--calcite-shell-panel-width, 45vw);
  --calcite-internal-shell-panel-min-width: var(--calcite-shell-panel-min-width, 340px);
}

:host([layout="horizontal"]) .height-s {
  --calcite-internal-shell-panel-max-height: var(
    --calcite-shell-panel-max-height,
    var(--calcite-shell-panel-detached-max-height, 20vh)
  );
}

:host([layout="horizontal"]) .content {
  --calcite-internal-shell-panel-min-height: var(--calcite-shell-panel-min-height, 5vh);
  --calcite-internal-shell-panel-max-height: var(--calcite-shell-panel-max-height, 30vh);
}

:host([layout="horizontal"]) .height-l {
  --calcite-internal-shell-panel-max-height: var(
    --calcite-shell-panel-max-height,
    var(--calcite-shell-panel-detached-max-height, 40vh)
  );
}

.container {
  @apply text-n1
  pointer-events-none
  box-border
  flex
  flex-auto
  items-stretch
  bg-transparent
  h-full;

  color: var(--calcite-shell-panel-text-color, var(--calcite-color-text-2));

  * {
    @apply box-border;
  }

  &.float-all {
    margin-block: var(--calcite-spacing-sm);
    margin-inline: var(--calcite-spacing-sm);
  }
}

.float-all {
  max-block-size: var(--calcite-internal-shell-panel-max-height, calc(100% - 1rem));
  box-shadow: var(--calcite-shell-panel-shadow, var(--calcite-shadow-sm));
  border-radius: var(--calcite-shell-panel-corner-radius, var(--calcite-corner-radius-round));
  overflow: hidden;
}

:host([layout="vertical"][position="start"]) .float-all {
  border-inline-start: var(--calcite-border-width-sm) solid
    var(--calcite-shell-panel-border-color, var(--calcite-color-border-3));
}

:host([layout="vertical"][position="end"]) .float-all {
  border-inline-end: var(--calcite-border-width-sm) solid
    var(--calcite-shell-border-color, var(--calcite-shell-panel-border-color, var(--calcite-color-border-3)));
}

:host([layout="horizontal"]) .float-all {
  border-inline: var(--calcite-border-width-sm) solid
    var(--calcite-shell-border-color, var(--calcite-shell-panel-border-color, var(--calcite-color-border-3)));
}

:host([layout="horizontal"]) .container {
  @apply w-full h-auto;
  flex-direction: column;
}

.resize-handle {
  @apply absolute flex justify-center items-center select-none box-border outline-none;
  --calcite-internal-shell-panel-resize-handle-offset: calc(
    (var(--calcite-size-fixed-xxl) - var(--calcite-size-fixed-sm-plus)) / 2 * -1
  );
  z-index: var(--calcite-z-index-header);
}

.resize-handle:active,
.resize-handle:hover {
  .resize-handle-bar {
    color: var(--calcite-shell-panel-resize-icon-color, var(--calcite-color-text-1));
    background-color: var(--calcite-shell-panel-resize-background-color, var(--calcite-color-foreground-3));
  }
}

.resize-handle-bar {
  @apply flex justify-center items-center pointer-events-none;
  color: var(--calcite-shell-panel-resize-icon-color, var(--calcite-color-border-input));
  background-color: var(--calcite-shell-panel-resize-background-color, var(--calcite-color-background));
}

.resize-handle:focus .resize-handle-bar {
  @apply focus-base focus-normal;
}

:host([position="start"][layout="vertical"]) {
  .resize-handle {
    inline-size: var(--calcite-size-fixed-xxl);
    inset-inline-end: var(--calcite-internal-shell-panel-resize-handle-offset);
    block-size: 100%;
  }

  .resize-handle-bar {
    block-size: 100%;
    inline-size: var(--calcite-size-fixed-sm-plus);
    border-inline-start: var(--calcite-border-width-sm) solid
      var(--calcite-shell-border-color, var(--calcite-color-border-3));
  }

  &:host([display-mode^="float"]) .resize-handle-bar {
    border-start-end-radius: var(--calcite-shell-panel-corner-radius, var(--calcite-corner-radius-round));
    border-end-end-radius: var(--calcite-shell-panel-corner-radius, var(--calcite-corner-radius-round));
  }
}

:host([position="end"][layout="vertical"]) {
  .resize-handle {
    inline-size: var(--calcite-size-fixed-xxl);
    inset-inline-start: var(--calcite-internal-shell-panel-resize-handle-offset);
    block-size: 100%;
  }

  .resize-handle-bar {
    block-size: 100%;
    inline-size: var(--calcite-size-fixed-sm-plus);
    border-inline-end: var(--calcite-border-width-sm) solid
      var(--calcite-shell-border-color, var(--calcite-color-border-3));
  }

  &:host([display-mode^="float"]) .resize-handle-bar {
    border-start-start-radius: var(--calcite-shell-panel-corner-radius, var(--calcite-corner-radius-round));
    border-end-start-radius: var(--calcite-shell-panel-corner-radius, var(--calcite-corner-radius-round));
  }
}

:host([position="start"][layout="horizontal"]) {
  .resize-handle {
    block-size: var(--calcite-size-fixed-xxl);
    inline-size: 100%;
    inset-block-end: var(--calcite-internal-shell-panel-resize-handle-offset);
  }

  .resize-handle-bar {
    inline-size: 100%;
    block-size: var(--calcite-size-fixed-sm-plus);
    border-block-start: var(--calcite-border-width-sm) solid
      var(--calcite-shell-border-color, var(--calcite-color-border-3));
  }

  &:host([display-mode^="float"]) .resize-handle-bar {
    border-end-end-radius: var(--calcite-shell-panel-corner-radius, var(--calcite-corner-radius-round));
    border-end-start-radius: var(--calcite-shell-panel-corner-radius, var(--calcite-corner-radius-round));
  }
}

:host([position="end"][layout="horizontal"]) {
  .resize-handle {
    block-size: var(--calcite-size-fixed-xxl);
    inline-size: 100%;
    inset-block-start: var(--calcite-internal-shell-panel-resize-handle-offset);
  }

  .resize-handle-bar {
    inline-size: 100%;
    block-size: var(--calcite-size-fixed-sm-plus);
    border-block-end: var(--calcite-border-width-sm) solid
      var(--calcite-shell-border-color, var(--calcite-color-border-3));
  }

  &:host([display-mode^="float"]) .resize-handle-bar {
    border-start-start-radius: var(--calcite-shell-panel-corner-radius, var(--calcite-corner-radius-round));
    border-start-end-radius: var(--calcite-shell-panel-corner-radius, var(--calcite-corner-radius-round));
  }
}

::slotted(calcite-panel),
::slotted(calcite-flow) {
  @apply h-full w-full flex-auto;
  max-block-size: unset;
  max-inline-size: unset;
}

::slotted(.calcite-match-height) {
  @apply flex flex-auto overflow-hidden;
}

.action-bar-container {
  @apply pointer-events-auto
  flex
  flex-auto
  box-border;
}

.content-container {
  @apply flex
  flex-auto
  items-stretch
  self-stretch
  relative
  box-border
  w-full
  h-full;
}

:host([layout="horizontal"]) .action-bar-container,
:host([layout="horizontal"]) .content-container {
  flex-direction: column;
}

.content {
  @apply pointer-events-auto
  flex
  flex-col
  flex-nowrap
  items-stretch
  self-stretch
  p-0
  relative
  box-border;
  background-color: var(--calcite-shell-panel-background-color, var(--calcite-color-background));
  transition:
    max-block-size var(--calcite-animation-timing),
    max-inline-size var(--calcite-animation-timing);
}

:host([layout="vertical"]:not([display-mode="float-all"])) .content {
  inline-size: var(--calcite-internal-shell-panel-width);
  max-inline-size: var(--calcite-internal-shell-panel-max-width);
  min-inline-size: var(--calcite-internal-shell-panel-min-width);
}

:host([layout="vertical"][display-mode="float-all"]) .content {
  inline-size: var(--calcite-internal-shell-panel-width);
  min-inline-size: var(--calcite-internal-shell-panel-min-width);
}

:host([layout="horizontal"]) .content {
  block-size: var(--calcite-internal-shell-panel-height);
  max-block-size: var(--calcite-internal-shell-panel-max-height);
  min-block-size: var(--calcite-internal-shell-panel-min-height);
}

:host([resizable][layout="vertical"][position="start"]) {
  .content {
    padding-inline-end: var(--calcite-size-fixed-sm-plus);
  }
}

:host([resizable][layout="vertical"][position="end"]) {
  .content {
    padding-inline-start: var(--calcite-size-fixed-sm-plus);
  }
}

:host([resizable][layout="horizontal"][position="start"]) {
  .content {
    padding-block-end: var(--calcite-size-fixed-sm-plus);
  }
}

:host([resizable][layout="horizontal"][position="end"]) {
  .content {
    padding-block-start: var(--calcite-size-fixed-sm-plus);
  }
}

.content__header {
  @apply flex
  flex-initial
  flex-col
  flex-nowrap
  items-stretch;
}

.content__body {
  @apply flex
  flex-auto
  flex-col
  overflow-hidden;
}

.content--overlay {
  @apply absolute;
  --tw-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.04);
  --tw-shadow-colored: 0 4px 8px -1px var(--tw-shadow-color), 0 2px 4px -1px var(--tw-shadow-color);
  box-shadow: var(
    --calcite-shell-panel-shadow,
    var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow)
  );
}

:host([layout="vertical"]) .content--overlay {
  @apply top-0 h-full;
}

:host([layout="horizontal"]) .content--overlay {
  @apply start-0 w-full;
}

:host([layout="vertical"][position="start"]) .content--overlay {
  inset-inline-start: 100%;
  box-shadow: var(--calcite-internal-shell-panel-shadow-inline-start);
}

:host([layout="vertical"][position="end"]) .content--overlay {
  inset-inline-end: 100%;
  box-shadow: var(--calcite-internal-shell-panel-shadow-inline-end);
}

:host([layout="horizontal"][position="start"]) .content--overlay {
  inset-block-start: 100%;
  box-shadow: var(--calcite-internal-shell-panel-shadow-block-start);
}

:host([layout="horizontal"][position="end"]) .content--overlay {
  inset-block-end: 100%;
  box-shadow: var(--calcite-internal-shell-panel-shadow-block-end);
}

.float--content {
  @apply mb-auto
  h-auto
  overflow-hidden;

  --tw-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.04);
  --tw-shadow-colored: 0 4px 8px -1px var(--tw-shadow-color), 0 2px 4px -1px var(--tw-shadow-color);
  box-shadow: var(
    --calcite-shell-panel-shadow,
    var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow)
  );

  border-radius: var(--calcite-shell-panel-corner-radius, var(--calcite-corner-radius-round));
  margin-inline: var(--calcite-spacing-sm);
  margin-block-start: var(--calcite-spacing-sm);
  max-block-size: var(--calcite-internal-shell-panel-max-height, calc(100% - 1rem));
  ::slotted(calcite-panel),
  ::slotted(calcite-flow) {
    max-block-size: unset;
  }
}

:host([layout="horizontal"]) .float--content {
  margin-block: var(--calcite-spacing-sm);
}

:host([position="start"]) .float--content,
:host([position="end"]) .float--content {
  ::slotted(calcite-panel),
  ::slotted(calcite-flow) {
    @apply border-none;
  }
}

.content[hidden] {
  @apply hidden;
}

slot[name="action-bar"]::slotted(calcite-action-bar),
.content ::slotted(calcite-flow),
.content ::slotted(calcite-panel:not([closed])) {
  border: var(--calcite-border-width-sm) solid var(--calcite-shell-border-color, var(--calcite-color-border-3));
}

:host([position="start"]:not([slot="panel-end"])),
:host([position="end"][slot="panel-start"]) {
  slot[name="action-bar"]::slotted(calcite-action-bar),
  .content ::slotted(calcite-flow),
  .content ::slotted(calcite-panel) {
    border-inline-start: none;
  }
}

:host([resizable][layout="vertical"]) {
  .content ::slotted(calcite-flow),
  .content ::slotted(calcite-panel) {
    border-inline-start: none;
    border-inline-end: none;
  }
}

:host([resizable][layout="horizontal"]) {
  .content ::slotted(calcite-flow),
  .content ::slotted(calcite-panel) {
    border-block-start: none;
    border-block-end: none;
  }
}

:host([position="end"]:not([slot="panel-start"])),
:host([position="start"][slot="panel-end"]) {
  slot[name="action-bar"]::slotted(calcite-action-bar),
  .content ::slotted(calcite-flow),
  .content ::slotted(calcite-panel) {
    border-inline-end: none;
  }
}

:host([layout="horizontal"]) slot[name="action-bar"]::slotted(calcite-action-bar) {
  border-inline: 0;
}

:host([layout="horizontal"][position="start"]) .content ::slotted(calcite-flow),
:host([layout="horizontal"][position="start"]) .content ::slotted(calcite-panel) {
  border-inline: 0;
  border-block-start: 0;
}

:host([layout="horizontal"][position="end"]) .content ::slotted(calcite-flow),
:host([layout="horizontal"][position="end"]) .content ::slotted(calcite-panel) {
  border-inline: 0;
  border-block-end: 0;
}

@include base-component();
