<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <title>Flow</title>
    <script type="module" src="../../node_modules/@esri/calcite-components/dist/calcite/calcite.esm.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../node_modules/@esri/calcite-components/dist/calcite/calcite.css"
    />

    <style>
      body,
      html,
      * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
      }

      #first-flow-item-block {
        --calcite-block-padding: 0px;
      }

      .home-link {
        text-decoration: none;
      }

      .title {
        display: flex;
        justify-content: center;
      }

      .title > h1 {
        font-size: 1rem;
        font-weight: 500;
        color: white;
      }
    </style>
  </head>

  <body>
    <calcite-navigation slot="header">
      <a href="../index.html" class="home-link" slot="logo">
        <calcite-action scale="l" icon="arrow-left" alignment="center"> </calcite-action>
      </a>
      <calcite-navigation-logo slot="logo" heading="Flow"> </calcite-navigation-logo>
    </calcite-navigation>
    <calcite-flow id="example-flow">
      <calcite-flow-item heading="Places of Education">
        <calcite-block id="first-flow-item-block" heading="Recommended for you" description="4 results" open>
          <calcite-list>
            <calcite-list-item label="Harvard University" description="Cambridge, MA"></calcite-list-item>
            <calcite-list-item label="Stanford University" description="Stanford, CA"></calcite-list-item>
            <calcite-list-item
              label="Massachusetts Institute of Technology (MIT)"
              description="Cambridge, MA"
            ></calcite-list-item>
            <calcite-list-item
              label="University of California, Berkeley"
              description="Berkeley, CA"
            ></calcite-list-item>
          </calcite-list>
        </calcite-block>
      </calcite-flow-item>
    </calcite-flow>
  </body>
  <script>
    const flow = document.getElementById("example-flow");
    const items = document.querySelectorAll("calcite-list-item");

    items?.forEach((item) => {
      item.addEventListener("calciteListItemSelect", (event) => {
        createFlowItem(event, event.target.label, event.target.description, false);
      });
    });

    function createFlowItem(event, title, description, isLastLevel) {
      const newFlowItem = document.createElement("calcite-flow-item");
      newFlowItem.heading = !isLastLevel ? title : "Even more details";
      newFlowItem.description = !isLastLevel ? description : title;

      const block = document.createElement("calcite-block");
      block.open = true;
      block.heading = "Details";
      newFlowItem.append(block);

      const notice = document.createElement("calcite-notice");
      notice.open = true;
      notice.width = "full";
      block.append(notice);

      const noticeMessage = document.createElement("span");
      noticeMessage.slot = "message";
      noticeMessage.innerText = !isLastLevel ? `A new Flow Item for ${title}.` : "You've reached the end of the line.";
      notice.append(noticeMessage);

      if (!isLastLevel) {
        const button = document.createElement("calcite-button");
        button.slot = "footer";
        button.width = "full";
        button.innerText = "Move to a third Flow Item";
        button.addEventListener("click", (event) => createFlowItem(event, title, description, true));
        if (!isLastLevel) newFlowItem.append(button);
      }

      flow.append(newFlowItem);
    }
  </script>
</html>
