<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <title>Slider</title>
    <script type="module" src="../../node_modules/@esri/calcite-components/dist/calcite/calcite.esm.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../node_modules/@esri/calcite-components/dist/calcite/calcite.css"
    />
    <style>
      body,
      html,
      * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
      }

      .parent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 75px 0;
      }

      .child {
        width: 100%;
        padding: 0 20px;
      }
    </style>
  </head>

  <body>
    <calcite-navigation slot="header">
      <a href="../index.html" class="home-link" slot="logo">
        <calcite-action scale="l" icon="arrow-left" alignment="center"> </calcite-action>
      </a>
      <calcite-navigation-logo slot="logo" heading="Slider"> </calcite-navigation-logo>
    </calcite-navigation>
    <div class="parent">
      <div class="child">Slider with histogram and color stops:</div>

      <div class="child">
        <calcite-slider min="0" max="100" value="60" step="1" class="js-histogram js-histogram-colors" scale="m">
        </calcite-slider>
      </div>
    </div>
    <div class="parent">
      <div class="child">Slider with histogram, color stops, and precise range:</div>

      <div class="child">
        <calcite-slider
          min="0"
          max="100"
          value="50"
          min-value="50"
          max-value="80"
          step="10"
          ticks="10"
          label-ticks
          class="js-histogram js-histogram-colors"
          id="histogram-with-colors-and-range"
          scale="m"
        >
        </calcite-slider>
      </div>
    </div>
  </body>

  <!-- Slider with histogram and color stops. -->
  <script>
    const histogram = [
      [0, 0],
      [20, 12],
      [40, 25],
      [60, 55],
      [80, 10],
      [100, 0],
    ];
    [].slice.call(document.querySelectorAll(".js-histogram")).forEach(function (graphElement) {
      graphElement.histogram = histogram;
    });

    const rainbow = ["violet", "blue", "cyan", "green", "yellow", "orange", "red"];
    const colorStops = rainbow.map((color, i) => ({
      offset: (1 / (rainbow.length - 1)) * i,
      color,
    }));
    document.querySelectorAll(".js-histogram-colors").forEach(function (graphElement) {
      graphElement.histogramStops = colorStops;
    });
  </script>

  <!-- Slider with histogram, color stops, and precise range -->
  <script>
    const histogramWithColorsAndRange = document.getElementById("histogram-with-colors-and-range");
    const temperatureValue = document.getElementById("temperatureValue");

    const histogramTwo = [
      [0, 0],
      [10, 10],
      [20, 20],
      [30, 30],
      [40, 40],
      [50, 50],
      [60, 60],
      [70, 70],
      [80, 80],
      [90, 90],
      [100, 100],
    ];

    const rainbowTwo = ["blue", "blue", "cyan", "yellow", "orange", "orange", "red"];

    const colorStopsTwo = rainbowTwo.map((color, i) => ({
      offset: (1 / (rainbow.length - 1)) * i,
      color,
    }));

    histogramWithColorsAndRange.histogram = histogramTwo;
    histogramWithColorsAndRange.histogramStops = colorStopsTwo;
  </script>
</html>
