@import "../../assets/styles/header";

/**
* CSS Custom Properties  
*
* These properties can be overridden using the component's tag as selector.
*
* @prop --calcite-tip-border-color: The border color of the component.
* @prop --calcite-tip-background-color: The background color of the component.
* @prop --calcite-tip-text-color: The text color of the component.
* @prop --calcite-tip-heading-text-color: The heading text color of the component.
*/

:host {
  @apply text-n1h
    relative
    box-border
    flex
    flex-row
    border
    border-solid
    m-4;

  --calcite-tip-border-color: var(--calcite-color-border-2);
  --calcite-tip-background-color: var(--calcite-color-foreground-1);
  --calcite-tip-text-color: var(--calcite-color-text-2);
  --calcite-tip-heading-text-color: var(--calcite-color-text-1);

  color: var(--calcite-tip-text-color);

  * {
    @apply box-border;
  }
}

.container {
  @apply p-4;

  inline-size: var(--calcite-container-size-content-fluid);
}

:host([closed]),
:host([closed]) .container {
  @apply hidden;
}

:host([selected]) .container {
  @apply m-0 border-none p-0;
}

.header {
  @apply mb-2;
}

.header .heading {
  @apply text-0h p-0;

  color: var(--calcite-tip-heading-text-color);
}

.container[hidden] {
  @apply hidden;
}

.content {
  @apply flex;
}

.info {
  @apply py-0 px-4;
  inline-size: 70%;

  &:only-child {
    @apply px-0;

    inline-size: var(--calcite-container-size-content-fluid);
  }
}

::slotted(p) {
  @apply mt-0;
}

::slotted(a) {
  @apply focus-base;

  --calcite-tip-background-color: var(--calcite-color-brand);
}

::slotted(a:focus) {
  @apply focus-outset;
}

.image-frame {
  inline-size: theme("width[1/4]");
  img {
    @apply max-w-full;
  }
}

::slotted(img) {
  @apply max-w-full;
}

@include base-component();
