/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-list-background-color-hover: Specifies the component's background color when hovered.
 * @prop --calcite-list-background-color-press: Specifies the component's background color when pressed.
 * @prop --calcite-list-background-color: Specifies the component's background color.
 * @prop --calcite-list-border-color: Specifies the component's border color.
 * @prop --calcite-list-content-text-color: Specifies the content color.
 * @prop --calcite-list-description-text-color: Specifies the `description` color.
 * @prop --calcite-list-icon-color: Specifies the component's icon color.
 * @prop --calcite-list-label-text-color: Specifies the `label` color.
 * @prop --calcite-list-selection-border-color: Specifies the component's selection border color.
 */

:host {
  @apply flex flex-col;
}

:host([filter-hidden]),
:host([closed]) {
  @apply hidden;
}

.wrapper--bordered {
  border-block-end: 1px solid var(--calcite-list-border-color, var(--calcite-color-border-3));
}

@include disabled();

.container {
  @apply box-border
  flex
  flex-1
  overflow-hidden;
  background-color: var(--calcite-list-background-color, var(--calcite-color-foreground-1));
  * {
    @apply box-border;
  }
}

.container--hover:hover {
  @apply cursor-pointer;
  background-color: var(--calcite-list-background-color-hover, var(--calcite-color-foreground-2));
}

.container:active {
  background-color: var(--calcite-list-background-color-press, var(--calcite-color-foreground-3));
}

.container--border {
  &::before {
    position: absolute;
    inline-size: var(--calcite-border-width-lg);
    inset-block: 0;
    inset-inline-start: 0;
    background-color: transparent;
    content: "";
  }
}

.container--border-selected {
  &::before {
    background-color: var(--calcite-list-selection-border-color, var(--calcite-color-brand));
  }

  &:focus {
    box-shadow: inset var(--calcite-border-width-lg) 0 0 0
      var(--calcite-list-selection-border-color, var(--calcite-color-brand));
  }
}

.nested-container {
  @apply hidden flex-col
    border-solid
    border-0;
  border-color: 1px solid var(--calcite-list-border-color, var(--calcite-color-border-3));
  margin-inline-start: var(--calcite-list-spacing-indent, theme("spacing.6"));
}

.nested-container--expanded {
  @apply flex;
}

.selection-container {
  @apply flex py-0;
  color: var(--calcite-list-icon-color, var(--calcite-color-border-input));
}

:host(:not([disabled]):not([selected])) .container:hover .selection-container--single {
  color: var(--calcite-list-icon-color, var(--calcite-color-border-input));
}

:host([selected]:hover) .selection-container,
:host([selected]:hover) .selection-container--single,
:host([selected]) .selection-container {
  color: var(--calcite-list-icon-color, var(--calcite-color-brand));
}

.content-container-wrapper {
  display: flex;
  flex: 1 1 auto;
}
.content-container-wrapper--bordered {
  border-block-end: 1px solid var(--calcite-list-border-color, var(--calcite-color-border-3));
}

.content-container {
  @apply select-none
    flex
    flex-auto
    font-normal
    items-stretch;
  color: var(--calcite-list-content-text-color, var(--calcite-color-text-2));
}

.content-container--unavailable {
  @apply opacity-disabled;
}

.row,
.grid-cell {
  @apply focus-base;
}

.row {
  @apply relative;
}

.row:focus,
.grid-cell:focus {
  @apply focus-inset;
}

.content,
.custom-content {
  @apply flex
    flex-auto
    flex-col
    justify-center;
  line-height: var(--calcite-font-line-height-relative-snug);
}

.label {
  color: var(--calcite-list-label-text-color, var(--calcite-color-text-1));
}

.description {
  color: var(--calcite-list-description-text-color, var(--calcite-color-text-3));
}

.icon {
  align-self: center;
  color: var(--calcite-list-icon-color, var(--calcite-color-text-3));

  &:hover,
  &:active {
    color: var(--calcite-color-text-1);
  }
}

:host([display-mode="flat"][drag-handle]:is([selection-mode="none"], [selection-appearance="border"])) {
  .drag-container {
    padding-inline-end: var(--calcite-spacing-xxs);
  }
}
:host([scale="s"]) {
  .actions-start {
    padding-inline-end: var(--calcite-spacing-sm);
  }
  .content-container {
    gap: var(--calcite-spacing-sm);
    min-block-size: 32px;
    padding-block: var(--calcite-spacing-xxs);
    padding-inline-end: var(--calcite-spacing-sm);
  }
  .content,
  .custom-content,
  .label {
    font-size: var(--calcite-font-size--2);
  }
  .description {
    font-size: var(--calcite-font-size--3);
  }
}
:host([scale="s"][display-mode="flat"]:not([drag-handle])) {
  .container {
    padding-inline-start: var(--calcite-spacing-sm);
  }
  .selection-container {
    padding-inline-end: var(--calcite-spacing-sm);
  }
}
:host([scale="s"][display-mode="flat"][drag-handle]) {
  .selection-container {
    padding-inline: var(--calcite-spacing-xxs) var(--calcite-spacing-sm);
  }
}
:host([scale="s"][display-mode="nested"]) {
  .selection-container {
    padding-inline-end: var(--calcite-spacing-xxs);
  }
}
:host([scale="s"][display-mode="nested"][selection-appearance="icon"]:not([selection-mode="none"]):not([drag-handle])) {
  .container {
    padding-inline-start: var(--calcite-spacing-sm);
  }
  .selection-container {
    padding-inline-end: var(--calcite-spacing-xxs);
  }
}
:host([scale="s"][display-mode="nested"][drag-handle]) {
  .selection-container {
    padding-inline: var(--calcite-spacing-xxs);
  }
}
:host([scale="m"]) {
  .actions-start {
    padding-inline-end: var(--calcite-spacing-sm);
  }
  .content-container {
    gap: var(--calcite-spacing-sm);
    min-block-size: 40px;
    padding-block: var(--calcite-spacing-sm);
    padding-inline-end: var(--calcite-spacing-md);
  }
  .content,
  .custom-content {
    font-size: var(--calcite-font-size--2);
  }
  .label {
    font-size: var(--calcite-font-size--1);
  }
  .description {
    font-size: var(--calcite-font-size--2);
  }
}
:host([scale="m"][display-mode="flat"]) {
  .container {
    padding-inline-start: var(--calcite-spacing-md);
  }
  .selection-container {
    padding-inline-end: var(--calcite-spacing-sm);
  }
}
:host([scale="m"][display-mode="flat"][drag-handle]) {
  .container {
    padding-inline-start: 0;
  }
  .selection-container {
    padding-inline: var(--calcite-spacing-xxs) var(--calcite-spacing-sm);
  }
}
:host([scale="m"][display-mode="nested"]) {
  .container {
    padding-inline-start: var(--calcite-spacing-xxs);
  }
  .selection-container {
    padding-inline-end: var(--calcite-spacing-xxs);
  }
}
:host([scale="m"][display-mode="nested"][selection-appearance="icon"]:not([selection-mode="none"]):not([drag-handle])) {
  .container {
    padding-inline-start: var(--calcite-spacing-md);
  }
}
:host([scale="m"][display-mode="nested"][drag-handle]) {
  .container {
    padding-inline-start: 0;
  }
  .selection-container {
    padding-inline: var(--calcite-spacing-xxs);
  }
}
:host([scale="l"]) {
  .actions-start {
    padding-inline-end: var(--calcite-spacing-md);
  }
  .content-container {
    gap: var(--calcite-spacing-md);
    min-block-size: 56px;
    padding-block: theme("spacing[2.5]");
    padding-inline-end: var(--calcite-spacing-lg);
  }
  .content,
  .custom-content,
  .label {
    font-size: var(--calcite-font-size-0);
  }
  .description {
    font-size: var(--calcite-font-size--1);
  }
  .nested-container {
    margin-inline-start: 1.75rem;
  }
}
:host([scale="l"][display-mode="flat"]) {
  .container {
    padding-inline-start: var(--calcite-spacing-lg);
  }
  .selection-container {
    padding-inline-end: var(--calcite-spacing-md);
  }
}
:host([scale="l"][display-mode="flat"][drag-handle]) {
  .container {
    padding-inline-start: 0;
  }
  .selection-container {
    padding-inline-end: var(--calcite-spacing-md);
  }
}
:host([scale="l"][display-mode="nested"]) {
  .container {
    padding-inline-start: var(--calcite-spacing-xxs);
  }
}
:host([scale="l"][display-mode="nested"][drag-handle]) {
  .container {
    padding-inline-start: 0;
  }
}
:host([scale="l"][display-mode="nested"][selection-appearance="icon"]:not([selection-mode="none"]):not([drag-handle])) {
  .container {
    padding-inline-start: var(--calcite-spacing-lg);
  }
}

.label,
.description,
.content-bottom {
  @apply word-break font-sans font-normal;
}

:host([selected]) {
  .label {
    @apply font-medium;
  }

  .icon {
    color: var(--calcite-list-icon-color, var(--calcite-color-text-1));
  }
}

:host([selected]) .description {
  color: var(--calcite-list-description-text-color, var(--calcite-color-text-2));
}

.content-start {
  @apply justify-start;
}

.content-end {
  @apply justify-end;
}

.content-start,
.content-end {
  @apply flex-auto;

  ::slotted(calcite-icon) {
    @apply self-center;
  }
}

.content-bottom {
  @apply flex flex-col;
}

.content-container--has-center-content .content-start,
.content-container--has-center-content .content-end {
  @apply flex-initial;
}

.expanded-container {
  color: var(--calcite-list-icon-color, var(--calcite-color-text-3));
  padding-inline: var(--calcite-spacing-xxs);
}

:host(:not([disabled])) .expanded-container:hover {
  color: var(--calcite-list-icon-color, var(--calcite-color-text-1));
}

.actions-start,
.actions-end,
.content-start,
.content-end,
.selection-container,
.drag-container,
.expanded-container {
  @apply flex items-center;

  calcite-action,
  calcite-sort-handle {
    @apply self-stretch;
  }
}

.drag-container,
.selection-container,
.expanded-container {
  padding-block-end: var(--calcite-spacing-px);
}

.expanded-container,
.selection-container {
  @apply cursor-pointer;
}

.actions-start,
.actions-end {
  @apply p-0;
  ::slotted(calcite-action),
  ::slotted(calcite-action-menu),
  ::slotted(calcite-sort-handle),
  ::slotted(calcite-dropdown) {
    @apply self-stretch;

    color: inherit;
  }
}

.row:focus {
  .actions-start,
  .actions-end {
    inset-block: theme("spacing[0.5]");
    .close,
    ::slotted(calcite-action),
    ::slotted(calcite-action-menu),
    ::slotted(calcite-sort-handle),
    ::slotted(calcite-dropdown) {
      block-size: calc(100% - theme("spacing[1]"));
    }
  }

  &::after,
  &::before {
    @apply absolute;
    content: "";
    inline-size: theme("spacing[0.5]");
    z-index: theme("zIndex.header");
    background-color: var(--calcite-color-focus, var(--calcite-ui-focus-color, var(--calcite-color-brand)));
    inset-block: 0;
  }
  &::before {
    inset-inline-start: 0;
  }
  &::after {
    inset-inline-end: 0;
  }
}

.container--border:focus::before {
  display: none;
}

::slotted(calcite-list:empty) {
  @apply border-t-0;
}

@include base-component();
