// theme variables
// light theme
:host {
  display: inline;
  --calcite-blue-accessible: #{$h-bb-070};
  --calcite-link-blue-underline: #{rgba($h-bb-070, 0.4)};
}

// dark theme
:host([theme="dark"]) {
  --calcite-blue-accessible: #{$d-bb-420};
  --calcite-link-blue-underline: #{rgba($d-bb-420, 0.4)};
}

// link base
:host a,
:host span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 0;
  border: none;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  -webkit-appearance: none;
  cursor: pointer;
  transition: $transition;
  &:hover {
    text-decoration: none;
  }
}

// focus styles
:host a,
:host span {
  @include focus-style-base();
  &:focus {
    @include focus-style-inset();
  }
}

.calcite-link--icon {
  transition: $transition;
}

// disabled styles
:host([disabled]) {
  pointer-events: none;
  span,
  a {
    pointer-events: none;
    opacity: var(--calcite-ui-opacity-disabled);
  }
}
// icon positioning and styles
:host .calcite-link--icon.icon-start {
  margin-right: $baseline/3;
}

:host([dir="rtl"]) .calcite-link--icon.icon-start {
  margin-right: 0;
  margin-left: $baseline/3;
}

:host .calcite-link--icon.icon-end {
  margin-left: $baseline/3;
}

:host([dir="rtl"]) .calcite-link--icon.icon-end {
  margin-left: 0;
  margin-right: $baseline/3;
}

// inline
@mixin link-style($color, $color-hover, $border-color) {
  display: inline;
  padding: 0;
  border: none;
  color: $color;
  line-height: inherit;
  white-space: initial;
  background-color: transparent;
  position: relative;
  background-image: linear-gradient(currentColor, currentColor), linear-gradient($border-color, $border-color);
  background-position: 0% 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-size: 0% 1px, 100% 1px;
  transition: all 0.15s ease-in-out, background-size 0.3s ease-in-out;

  &:hover,
  &:focus {
    color: $color-hover;
    background-size: 100% 1px, 100% 1px;
    & .calcite-link--icon {
      fill: $color-hover;
    }
  }
  &:active {
    color: $color;
    background-size: 100% 2px, 100% 2px;
  }
}

:host([user-select]) {
  span,
  a {
    user-select: text;
  }
}

:host {
  span,
  a {
    @include link-style(var(--calcite-blue-accessible), var(--calcite-ui-blue-1), var(--calcite-link-blue-underline));
  }
}

:host([dir="rtl"]) {
  span,
  a {
    background-position: 100% 100%, 100% 100%;
  }
}
