// link base
:host a,
:host span {
  @apply flex
    relative
    items-center
    justify-center
    rounded-none
    border-none
    font-inherit
    cursor-pointer;
  text-decoration: none;
  line-height: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  transition: $transition;
  &:hover {
    text-decoration: none;
  }
}

// focus styles
:host a,
:host span {
  @apply focus-base;
  &:focus {
    @apply focus-inset;
  }
}

.calcite-link--icon {
  transition: $transition;
}

// disabled styles
:host([disabled]) {
  @apply pointer-events-none;
  span,
  a {
    @apply pointer-events-none;
    opacity: var(--calcite-ui-opacity-disabled);
  }
}
// icon positioning and styles
:host .calcite-link--icon.icon-start {
  @apply mr-2;
}

.calcite--rtl .calcite-link--icon.icon-start {
  @apply mr-0 ml-2;
}

:host .calcite-link--icon.icon-end {
  @apply ml-2;
}

.calcite--rtl .calcite-link--icon.icon-end {
  @apply ml-0 mr-2;
}

:host {
  span,
  a {
    @apply inline
      p-0
      border-none
      bg-transparent
      relative
      text-color-link;
    line-height: inherit;
    white-space: initial;
    background-image: linear-gradient(currentColor, currentColor),
      linear-gradient(var(--calcite-link-blue-underline), var(--calcite-link-blue-underline));
    background-position: 0% 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: 0% 1px, 100% 1px;
    transition: all 0.15s ease-in-out, background-size 0.3s ease-in-out;
  }
  &:hover,
  &:focus {
    //FIXME: Should these 2 also use text-color-link?
    color: var(--calcite-ui-brand);
    background-size: 100% 1px, 100% 1px;
    & .calcite-link--icon {
      fill: var(--calcite-ui-brand);
    }
  }
  &:active {
    @apply text-color-link;
    background-size: 100% 2px, 100% 2px;
  }
}

span.calcite--rtl,
a.calcite--rtl {
  background-position: 100% 100%, 100% 100%;
}
