:host {
  @extend %component-host;
  @apply flex bg-transparent;
}

:host([disabled]) {
  @apply pointer-events-none;
}

.button {
  @apply bg-foreground-1
    border-none
    cursor-pointer
    fill-color-3
    flex
    focus-base
    items-center
    justify-start
    m-0
    relative
    text--2h
    text-color-3;
  font-family: inherit;
  width: auto;
  text-align: unset;
  &:hover {
    @apply bg-foreground-2 text-color-1 fill-color-1;
  }

  &:focus {
    @apply bg-foreground-2 text-color-1 fill-color-1 focus-inset;
  }

  &:active {
    @apply bg-foreground-3;
  }

  .icon-container {
    @apply flex
      items-center
      justify-center
      m-0
      pointer-events-none;
    min-width: theme("spacing.4");
    min-height: theme("spacing.4");
  }

  .text-container {
    @apply leading-4
      truncate
      m-0
      w-0
      opacity-0
      ease-in-out
      duration-150
      transition-opacity;
    transition-property: margin;
    transition-property: width;
  }

  .text-container--visible {
    @apply flex-auto opacity-100;
    width: auto;
  }
}

:host([scale="s"]) .button {
  @apply p-2;
}

:host([scale="m"]) .button {
  @apply p-4;
}

:host([scale="l"]) .button {
  @apply p-5 text--1h;
}

:host([alignment="center"]) .button {
  @apply justify-center w-full;
}

:host([alignment="end"]) .button {
  @apply justify-end;
}

:host([alignment="end"]) .button .text-container--visible {
  @apply flex-initial;
}

// Compact
:host([scale="s"][compact]) .button,
:host([scale="m"][compact]) .button,
:host([scale="l"][compact]) .button {
  @apply px-0;
}

.slot-container {
  @apply flex;
}

.slot-container--hidden {
  @apply hidden;
}

.button--text-visible {
  @apply w-full;

  .icon-container {
    @apply m-0 mr-2;
  }
  .text-container--visible {
    @apply m-0 mr-2;
  }
}

.button--text-visible.calcite--rtl {
  .icon-container {
    @apply m-0 ml-2;
  }
  .text-container--visible {
    @apply m-0 ml-2;
  }
}

:host([active]) .button,
:host([active]) .button:hover,
:host([active]) .button:focus,
:host([active][loading]) .button {
  @apply text-color-1 fill-color-1 bg-foreground-3;
}

:host([appearance="clear"]) .button {
  @apply bg-transparent
    transition-shadow
    duration-150
    ease-in-out;
}

:host([appearance="clear"]) .button:hover,
:host([appearance="clear"]) .button:focus {
  @apply bg-transparent;
  box-shadow: 0 0 0 2px theme("borderColor.color.1") inset;
}

:host([active][appearance="clear"]) .button,
:host([active][appearance="clear"]) .button:hover,
:host([active][appearance="clear"]) .button:focus {
  @apply text-color-1 fill-color-1 bg-foreground-3;
}

:host([appearance="clear"][loading]) .button,
:host([appearance="clear"][disabled]) .button {
  @apply bg-transparent;
}

:host([loading]) .button,
:host([loading]) .button:hover,
:host([loading]) .button:focus {
  @apply bg-foreground-1;
  .text-container {
    @apply opacity-disabled;
  }
}

:host([loading]) calcite-loader[inline] {
  @apply mr-0 text-color-3;
}

:host([disabled]) .button,
:host([disabled]) .button:hover,
:host([disabled]) .button:focus {
  @apply cursor-default opacity-disabled bg-foreground-1;
}

:host([disabled][active]) .button,
:host([disabled][active]) .button:hover,
:host([disabled][active]) .button:focus {
  @apply opacity-disabled bg-foreground-3;
}

:host([indicator]) .button--text-visible,
:host([indicator][scale="s"]) .button--text-visible,
:host([indicator][scale="l"]) .button--text-visible {
  @apply pr-4;
}

:host([indicator]) .button::after {
  content: "";
  @apply absolute
    border-2
    bg-brand
    rounded-full
    h-2
    w-2
    z-10;
  border-color: theme("colors.background.foreground.1");
  bottom: theme("spacing.2");
  right: theme("spacing.2");
}

:host([indicator][scale="s"]) .button::after {
  bottom: theme("spacing.1");
  right: theme("spacing.1");
}

:host([indicator][scale="l"]) .button::after {
  bottom: theme("spacing.2");
  right: theme("spacing.2");
}

:host([indicator]) .calcite--rtl::after {
  @apply right-auto;
  left: theme("spacing.1");
}

:host([indicator]) .button--text-visible.calcite--rtl {
  @apply pr-3 pl-4;
}

:host([indicator]) .button:hover::after,
:host([indicator]) .button:focus::after {
  border-color: theme("colors.background.foreground.1");
}

:host([indicator][active]) .button::after {
  border-color: theme("colors.background.foreground.3");
}

:host([indicator]) .button--text-visible::after,
:host([indicator][scale="s"]) .button--text-visible::after,
:host([indicator][scale="l"]) .button--text-visible::after {
  @apply bottom-auto;
  right: theme("spacing.2");
}

:host([indicator]) .button--text-visible.calcite--rtl::after,
:host([indicator][scale="s"]) .button--text-visible.calcite--rtl::after,
:host([indicator][scale="l"]) .button--text-visible.calcite--rtl::after {
  @apply right-auto;
  left: theme("spacing.2");
}
