@use "../../styles/shared";

:host {
  display: block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--calcite-card-group-space, var(--calcite-card-group-gap, var(--calcite-spacing-md)));
}

@include shared.base-component();
@include shared.disabled();
