@include popperHost();
@include popperArrow();

:host {
  @apply pointer-events-none;
}

:host([open]) {
  pointer-events: initial;
}

.calcite-popper-anim {
  @apply bg-foreground-1
    border
    border-solid
    border-color-3
    rounded;
}

.arrow::before {
  outline: 1px solid var(--calcite-ui-border-3);
}

.header {
  @apply border-0
    border-b-px
    border-b-color-3
    border-solid
    flex
    flex-auto
    items-stretch
    bg-foreground-1
    justify-start;
}

.heading {
  @apply block
  flex-auto
  font-medium
  m-0
  px-4
  py-3
  self-center
  text-color-1
  text-0-wrap
  whitespace-normal
  word-break;
}

.container {
  @apply bg-foreground-1 
    relative 
    flex 
    overflow-hidden 
    flex-no-wrap 
    flex-row 
    h-full
    text-color-1
    rounded;
  &.has-header {
    @apply flex-col;
  }
}

.content {
  @apply flex
  flex-col
  flex-no-wrap
  self-center
  h-full;
}

.calcite--rtl {
  .close-button {
    border-radius: 0.25rem 0 0 0.25rem;
  }
}

::slotted(calcite-panel),
::slotted(calcite-flow) {
  @apply h-full;
}
