@include popperHost();
@include popperArrow();

:host {
  @apply pointer-events-none;
}

:host([open]) {
  pointer-events: initial;
}

.calcite-popper-anim {
  @apply bg-foreground-1
    border
    border-solid
    border-color-3
    rounded;
}

.arrow::before {
  outline: 1px solid var(--calcite-ui-border-3);
}

.container {
  @apply bg-foreground-1 
    relative 
    flex 
    overflow-hidden 
    flex-no-wrap 
    flex-row 
    h-full
    text-color-1
    rounded;
}

.content {
  @apply flex
  flex-col
  flex-no-wrap
  h-full;
}

// focus styles
.close-button {
  @apply focus-base;
  &:focus {
    @apply focus-inset
      border-2
      border-solid
      border-color-brand;
    border-radius: 0 0.25rem 0.25rem 0;
  }
}

.close-button {
  @apply flex
    items-center
    p-3
    text-color-1 
    cursor-pointer
    bg-foreground-1
    border-2
    border-solid
    border-color-transparent;
  z-index: 1;
  &:hover {
    @apply bg-foreground-2;
  }
  &:active {
    @apply bg-foreground-3;
  }
}

.calcite--rtl {
  .close-button {
    border-radius: 0.25rem 0 0 0.25rem;
  }
}

::slotted(calcite-panel),
::slotted(calcite-flow) {
  @apply h-full;
}
