$image_max_height: 200px;

:host {
  --calcite-popover-background: #{$ui-foreground};
  --calcite-popper-background: #{$ui-foreground};
  --calcite-popover-primary-text: #{$ui-text-1};
  display: block;
  position: absolute;
  z-index: 999;
  top: -999999px;
  left: -999999px;
}

:host([theme="dark"]) {
  --calcite-popover-background: #{$ui-foreground-dark};
  --calcite-popper-background: #{$ui-foreground-dark};
  --calcite-popover-primary-text: #{$ui-text-1-dark};
}

.container {
  visibility: hidden;
  box-shadow: $shadow-2;
  background: var(--calcite-popover-background);
  color: var(--calcite-popover-primary-text);
}

.container--open {
  visibility: visible;
}

.close-button {
  width: 40px;
  height: 45px;
  z-index: 1;
  background: var(--calcite-tooltip-background);
  color: var(--calcite-tooltip-primary-text);
  padding: 12px;
  border: none;
  display: block;
  cursor: pointer;
  border-radius: 2px;
  &:hover {
    background: var(--calcite-tooltip-close-hover);
  }
  &:active {
    background: var(--calcite-tooltip-close-pressed);
  }
}

.image-container {
  overflow: hidden;
  max-height: $image_max_height;
  margin: 5px;
}

slot[name="image"]::slotted(img) {
  height: auto;
  width: 100%;
  max-height: $image_max_height;
  object-position: 50% 50%;
  object-fit: cover;
}

@include popperPointer();
