.scale--s {
  @apply text-n2h;
  --calcite-autocomplete-item-spacing-unit-l: theme("spacing.2");
  --calcite-autocomplete-item-spacing-unit-s: theme("spacing.1");
  --calcite-internal-autocomplete-item-description-font-size: var(--calcite-font-size-xs);
}

.scale--m {
  @apply text-n1h;
  --calcite-autocomplete-item-spacing-unit-l: theme("spacing.3");
  --calcite-autocomplete-item-spacing-unit-s: theme("spacing[1.5]");
  --calcite-internal-autocomplete-item-description-font-size: var(--calcite-font-size-sm);
}

.scale--l {
  @apply text-0h;
  --calcite-autocomplete-item-spacing-unit-l: theme("spacing.4");
  --calcite-autocomplete-item-spacing-unit-s: theme("spacing[2.5]");
  --calcite-internal-autocomplete-item-description-font-size: var(--calcite-font-size);
}

:host {
  @apply flex;
}

.container {
  @apply flex
    w-full
    min-w-full
    cursor-pointer
    focus-base
    text-color-3
    relative
    box-border
    items-center;
  gap: var(--calcite-autocomplete-item-spacing-unit-l);
  padding-inline: var(--calcite-autocomplete-item-spacing-unit-l);
  padding-block: var(--calcite-autocomplete-item-spacing-unit-s);
  @include word-break();
  justify-content: space-around;
}

.description {
  font-size: var(--calcite-internal-autocomplete-item-description-font-size);
}

.heading {
  color: var(--calcite-color-text-1);
}

.heading,
.description {
  line-height: var(--calcite-font-line-height-relative-snug);
}

.container:hover {
  @apply bg-foreground-2;

  .description {
    color: var(--calcite-color-text-2);
  }
}

.container--active {
  @apply bg-foreground-2
    focus-inset;
}

.content-center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-block: 0;
}

@include base-component();
@include disabled();
