/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-list-item-group-background-color: Specifies the background color of the component.
 * @prop --calcite-list-item-group-border-color: Specifies the border color of the component.
 * @prop --calcite-list-item-heading-text-color: Specifies the text color of the component's heading.
 */

:host {
  display: flex;
  flex-direction: column;
}

:host([filter-hidden]) {
  display: none;
}

@include disabled();

.container {
  background-color: var(--calcite-list-item-group-background-color, var(--calcite-color-foreground-1));
  font-size: var(--calcite-font-size--1);
  color: var(--calcite-list-item-group-heading-text-color, var(--calcite-color-text-2));
  margin: 0;
  display: flex;
  flex: 1 1 0%;
  padding: var(--calcite-spacing-sm);
  font-family: var(--calcite-sans-family);
  font-weight: var(--calcite-font-weight-bold);
}

.heading {
  padding-inline-start: calc(
    var(--calcite-internal-list-item-spacing-indent, var(--calcite-size-sm-plus)) *
      var(--calcite-internal-list-item-spacing-indent-multiplier)
  );
}

::slotted(calcite-list-item) {
  border-block-start: var(--calcite-border-width-sm) solid
    var(--calcite-list-item-group-border-color, var(--calcite-list-border-color));
}

// removes shadow for the first item of the group for both filtered and unfiltered items.
::slotted(calcite-list-item:nth-child(1 of :not([hidden]))) {
  border: none;
}

@include base-component();
