:host {
  @apply flex flex-col bg-foreground-1;
  --calcite-list-item-spacing-indent: theme("spacing.4");
}

@include disabled();

.container {
  @apply bg-foreground-2 text-n1 text-color-2 m-0 flex flex-1 p-3 font-sans font-bold;
}

.heading {
  padding-inline-start: calc(
    var(--calcite-list-item-spacing-indent) * var(--calcite-list-item-spacing-indent-multiplier)
  );
}

::slotted(calcite-list-item) {
  @apply shadow-border-top;
  margin-block-start: 1px;
}

// removes shadow for the first item of the group for both filtered and unfiltered items.
::slotted(calcite-list-item:nth-child(1 of :not([hidden]))) {
  @apply shadow-none;
}

@include base-component();
