:host {
  @extend %component-spacing;

  @apply flex
    items-stretch
    relative;
  width: var(--select-width);
}

:host([scale="s"]) {
  --calcite-select-font-size: theme("fontSize.-2h");
  --calcite-select-spacing: theme("spacing.1") theme("spacing.2");
}

:host([scale="m"]) {
  //TODO: Can't figure out why the total hight for this is 35px and not 32px
  --calcite-select-font-size: theme("fontSize.-1h");
  --calcite-select-spacing: theme("spacing.2") theme("spacing.3");
}

:host([scale="l"]) {
  --calcite-select-font-size: theme("fontSize.1h");
  --calcite-select-spacing: theme("spacing.3") theme("spacing.4");
}

:host([width="auto"]) {
  @apply w-auto;
}

:host([width="half"]) {
  @apply w-1/2;
}

:host([width="full"]) {
  @apply w-full;
}

.select {
  @apply appearance-none
    border
    border-solid
    border-r-0
    bg-foreground-1
    border-color-1
    rounded-none
    text-color-2
    cursor-pointer
    font-inherit
    m-0
    w-full
    focus-base;
  font-size: var(--calcite-select-font-size);
  padding: var(--calcite-select-spacing);

  &:focus {
    @apply focus-inset;
  }

  &:hover {
    @apply bg-foreground-2;
  }
}

.select.calcite--rtl {
  @apply border-r border-color-1;
  border-right-style: solid;
}

// override user agent stylesheet disabled styling
select:disabled {
  @apply border-color-1 bg-opacity-100;
}

:host([disabled]) {
  @apply pointer-events-none select-none opacity-disabled;
}

.icon-container {
  @apply items-center
    bg-transparent
    border
    border-solid
    border-color-1
    border-l-0
    text-color-2
    flex
    pointer-events-none
    absolute
    right-0
    inset-y-0
    px-2;
}

:host([dir="rtl"]) .icon-container {
  @apply border-color-1
    border-r-0
    left-0;
  right: unset;
  border-left-style: solid;
}

.select:focus ~ .icon-container {
  @apply border-color-transparent;
}
