:host {
  align-items: stretch;
  display: flex;
  position: relative;
  width: var(--select-width);
  --calcite-select-spacing-end: 2rem;
}

:host([scale="s"]) {
  --calcite-select-font-size: theme("fontSize.-2");
  --calcite-select-spacing: 0.5rem;
}

:host([scale="m"]) {
  --calcite-select-font-size: theme("fontSize.-1");
  --calcite-select-spacing: 0.75rem;
}

:host([scale="l"]) {
  --calcite-select-font-size: theme("fontSize.1");
  --calcite-select-spacing: 1rem;
}

:host([width="auto"]) {
  --select-width: auto;
}

:host([width="half"]) {
  --select-width: 50%;
}

:host([width="full"]) {
  --select-width: 100%;
}

.select {
  appearance: none;
  background-color: var(--calcite-ui-foreground-1);
  border: solid 1px var(--calcite-ui-border-1);
  border-right: none;
  border-radius: 0;
  color: var(--calcite-ui-text-2);
  cursor: pointer;
  font-family: inherit;
  font-size: var(--calcite-select-font-size);
  margin: 0;
  padding: var(--calcite-select-spacing);
  padding-right: var(--calcite-select-spacing-end);
  width: 100%;

  @include focus-style-base();

  &:focus {
    @include focus-style-inset();
  }

  &:hover {
    background-color: var(--calcite-ui-foreground-2);
  }
}

:host([dir="rtl"]) .select {
  padding-left: var(--calcite-select-spacing-end);
  padding-right: var(--calcite-select-spacing);
  border-right: solid 1px var(--calcite-ui-border-1);
  border-left: none;
}

// override user agent stylesheet disabled styling
select:disabled {
  border-color: var(--calcite-ui-border-1);
  opacity: 1;
}

:host([disabled]) {
  @apply pointer-events-none select-none;
  opacity: var(--calcite-ui-opacity-disabled);
}

.icon-container {
  align-items: center;
  background-color: transparent;
  border: solid 1px var(--calcite-ui-border-1);
  border-left: none;
  color: var(--calcite-ui-text-2);
  display: flex;
  padding: 0 var(--calcite-spacing-half);
  pointer-events: none;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}

:host([dir="rtl"]) .icon-container {
  border-left: solid 1px var(--calcite-ui-border-1);
  border-right: none;
  right: unset;
  left: 0;
}

.select:focus ~ .icon-container {
  border-color: transparent;
}
