:host {
  @apply flex
  items-center
  relative
  box-border;
  flex-shrink: 0;
  & .container,
  & .item-content,
  & .content {
    min-block-size: theme("spacing.12");
  }
}

:host([layout="vertical"]) {
  @apply w-full;
}

:host(:not([layout="vertical"])) {
  @apply h-full;
}

.container,
.item-content {
  @apply flex flex-row w-full h-full items-stretch;
}

.content {
  @apply flex
  items-center
  relative
  justify-center
  cursor-pointer
  outline-none
  text-0
  text-color-2
  box-border
  bg-foreground-1
  px-4
  h-full
  w-full;
  text-decoration: none;
  border-block-end: theme("spacing[0.5]") solid transparent;
  padding-block-start: theme("spacing[0.5]");
  &:hover {
    @apply bg-foreground-2 text-color-2;
  }
  &:focus {
    @apply bg-foreground-2 text-color-2 focus-inset;
  }
  &:active {
    @apply bg-foreground-3 text-color-1;
  }
  & span {
    display: inline-flex;
  }
  &.layout--vertical {
    @apply flex w-full justify-start;
    padding-block: 1rem;
    border-block-end: 0;
    border-inline-end: theme("spacing.1") solid transparent;
  }
}

:host([active]) .content {
  @apply text-color-1;
  border-color: var(--calcite-color-brand);
  .icon {
    --calcite-ui-icon-color: var(--calcite-color-brand);
  }
}
:host([layout="vertical"]) .content {
  @apply px-3;
}

.icon--start {
  @apply me-3;
}

.icon--end {
  @apply ms-3;
}

:host([layout="vertical"]) .icon--end {
  @apply ms-auto ps-3;
}

.icon--dropdown {
  @apply ms-auto me-0 ps-2 relative;
  --calcite-ui-icon-color: var(--calcite-color-text-3);
}

:host([layout="vertical"]) .icon--end ~ .icon--dropdown {
  @apply ms-3;
}

:host([layout="vertical"]) .hover-href-icon {
  @apply ps-2;
}
:host([layout="vertical"]) .hover-href-icon ~ .icon--end {
  @apply ms-2;
}

:host([layout="vertical"]) .hover-href-icon ~ .icon--breadcrumb {
  @apply ms-3;
}

.icon--breadcrumb {
  @apply ps-2 me-0;
  --calcite-ui-icon-color: var(--calcite-color-text-3);
}

:host([layout="vertical"]) .icon--breadcrumb {
  @apply ms-auto;
}

:host([layout="vertical"]) .icon--breadcrumb ~ .icon--dropdown {
  @apply ms-2;
}

:host([layout="vertical"]) .icon--end ~ .icon--breadcrumb {
  @apply ms-2;
}

:host([breadcrumb]) .content {
  @apply pe-3;
}

calcite-action {
  @apply relative h-auto;
  border-inline-start: 1px solid var(--calcite-color-foreground-1);
  &:after {
    @apply block w-px  absolute -start-px;
    content: "";
    inset-block: theme("spacing.3");
    background-color: var(--calcite-color-border-3);
  }
  &:hover:after {
    @apply h-full;
    inset-block: 0;
  }
}

.content:focus ~ calcite-action,
.content:hover ~ calcite-action {
  @apply text-color-1;
  border-inline-start: 1px solid var(--calcite-color-border-3);
}

.container:hover .dropdown-action {
  @apply bg-foreground-2;
}

.dropdown-menu-items {
  @apply absolute h-auto flex-col hidden overflow-visible min-w-full;
  border: 1px solid var(--calcite-color-border-3);
  background: var(--calcite-color-foreground-1);
  inset-block-start: 100%;
  z-index: theme("zIndex.dropdown");
  &.open {
    @apply block;
  }
  &.nested {
    @apply absolute;
    inset-block-start: -1px;
    transform: translateX(calc(100% - 2px));
  }
}

.parent--vertical {
  @apply flex-col;
}

.dropdown--vertical.dropdown-menu-items {
  @apply relative rounded-none;
  box-shadow: none;
  inset-block-start: 0;
  transform: none;
  &:last-of-type {
    border-inline: 0;
  }
}

:host([layout="vertical"]:last-of-type) .dropdown-menu-items {
  border-block-end: 0;
}

:host([slot="submenu-item"]) .parent--vertical {
  @apply ps-6;
}

.dropdown-menu-items.nested.calcite--rtl {
  transform: translateX(calc(-100% + 2px));
}

.dropdown--vertical.dropdown-menu-items.nested.calcite--rtl {
  transform: none;
}

.hover-href-icon {
  @apply ms-auto relative end-1 opacity-0;
  transition: all var(--calcite-internal-animation-timing-medium) ease-in-out;
}

.content:focus .hover-href-icon,
.content:hover .hover-href-icon {
  @apply opacity-100 -end-1;
}

@include base-component();
