@import "../../assets/styles/animation";

/**
* CSS Custom Properties  
*
* These properties can be overridden using the component's tag as selector.
*
* @prop --calcite-progress-background-color: Defines the background color of the component.
* @prop --calcite-progress-fill-color: Defines the background color of the progress bar.
* @prop --calcite-progress-text-color: Defines the text color of the component.
*/

:host {
  --calcite-progress-background-color: var(--calcite-color-border-3);
  --calcite-progress-fill-color: var(--calcite-color-brand);
  --calcite-progress-text-color: var(--calcite-color-text-2);

  @apply relative block;
  inline-size: var(--calcite-container-size-content-fluid);
}

.track,
.bar {
  @apply absolute top-0 z-default;

  block-size: var(--calcite-size-xxxs);
}

.track {
  @apply overflow-hidden;

  inline-size: var(--calcite-container-size-content-fluid);
  background-color: var(--calcite-progress-background-color);
}

.bar {
  background-color: var(--calcite-progress-fill-color);
}

@media (forced-colors: active) {
  .track {
    background-color: highlightText;
  }
  .bar {
    background-color: linkText;
  }
}

.indeterminate {
  @apply w-1/5;

  animation: looping-progress-bar-ani scaleDuration(--calcite-internal-animation-timing-medium, 11) linear infinite;
  &.calcite--rtl {
    animation-name: looping-progress-bar-ani-rtl;
  }
}

.reversed {
  animation-direction: reverse;
}

.text {
  @apply text-n2h px-0 pt-4 pb-0 text-center font-medium;

  font-size: theme("fontSize.n2h");
  color: var(--calcite-progress-text-color);
}

@keyframes looping-progress-bar-ani {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  50% {
    inline-size: 40%;
  }
  100% {
    transform: translate3d(600%, 0, 0);
  }
}

@keyframes looping-progress-bar-ani-rtl {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  50% {
    inline-size: 40%;
  }
  100% {
    transform: translate3d(-600%, 0, 0);
  }
}

@include base-component();
