@import "../../assets/styles/animation";

/**
* CSS Custom Properties  
*
* These properties can be overridden using the component's tag as selector.
*
* @prop --calcite-progress-background-color: The background color of the component.
* @prop --calcite-progress-font-size: The font size of the component.
* @prop --calcite-progress-color: The font color of the component.
*/

:host {
  @apply relative block;
  inline-size: var(--calcite-container-size-content-fluid);
  --calcite-progress-background-color: var(--calcite-color-brand);
}

.track,
.bar {
  @apply absolute top-0;

  block-size: --calcite-size-xxxs;
  z-index: var(--calcite-z-index);
}

.track {
  @apply overflow-hidden;

  inline-size: var(--calcite-container-size-content-fluid);
  --calcite-progress-background-color: var(--calcite-color-border-3);
}

@media (forced-colors: active) {
  .track {
    --calcite-progress-background-color: highlightText;
  }
  .bar {
    --calcite-progress-background-color: linkText;
  }
}

.indeterminate {
  --calcite-container-size-content-fluid: 20%;
  animation: looping-progress-bar-ani scaleDuration(--calcite-internal-animation-timing-medium, 11) linear infinite;
  &.calcite--rtl {
    animation-name: looping-progress-bar-ani-rtl;
  }
}

.reversed {
  animation-direction: reverse;
}

.text {
  @apply px-0 pt-4 pb-0 text-center font-medium;
  --calcite-progress-font-size: theme("fontSize.n2h");
  --calcite-progress-color: var(--calcite-color-text-2);
}

@keyframes looping-progress-bar-ani {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  50% {
    inline-size: 40%;
  }
  100% {
    transform: translate3d(600%, 0, 0);
  }
}

@keyframes looping-progress-bar-ani-rtl {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  50% {
    inline-size: 40%;
  }
  100% {
    transform: translate3d(-600%, 0, 0);
  }
}

@include base-component();
