:host {
  @apply relative block w-full;
}

.track,
.bar {
  @apply absolute top-0;
  block-size: 2px;
}

.track {
  @apply z-0 w-full overflow-hidden;
  background: theme("borderColor.color.3");
}

.bar {
  @apply bg-brand z-0;
}

@media (forced-colors: active) {
  .track {
    background-color: highlightText;
  }
  .bar {
    background-color: linkText;
  }
}

.indeterminate {
  @apply w-1/5;
  animation: looping-progress-bar-ani 2200ms linear infinite;
}

.reversed {
  animation-direction: reverse;
}

.text {
  @apply text-n2h px-0 pt-4 pb-0 text-center font-medium;
}

@keyframes looping-progress-bar-ani {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  50% {
    inline-size: 40%;
  }
  100% {
    transform: translate3d(600%, 0, 0);
  }
}
