@import "../../assets/styles/header";

/**
* CSS Custom Properties
*
* These properties can be overridden using the component's tag as selector.
*
* @prop --calcite-tip-max-width: [Deprecated] No longer necessary. 
* @prop --calcite-tip-manager-height: [Deprecated] No longer necessary. 
* @prop --calcite-tip-manager-background-color: The background color of the component.
* @prop --calcite-tip-manager-heading-text-color: The heading text color of the component.
* @prop --calcite-tip-manager-text-color: The text color of the component.
* @prop --calcite-tip-manager-border-color: The border color of the component.
* 
* @prop --calcite-tip-manager-tip-border-color: The border color of the sub-component.
* @prop --calcite-tip-manager-tip-background-color: The background color of the sub-component.
* @prop --calcite-tip-manager-tip-text-color: The text color of the sub-component.
* @prop --calcite-tip-manager-tip-heading-text-color: The heading text color of the sub-component.
* @prop --calcite-tip-manager-tip-slotted-link-text-color: The text color of the sub-component's slotted link.
*/

:host {
  @apply text-n1h
  box-border
  block;

  * {
    @apply box-border;
  }

  background-color: var(--calcite-tip-manager-background-color, var(--calcite-color-foreground-1));
  color: var(--calcite-tip-manager-text-color, var(--calcite-color-text-2));
}

:host([closed]) {
  @apply hidden;
}

@include header();

.header {
  @apply border-0
    border-b
    border-solid
    py-0;

  padding-inline-end: theme("padding.0");
  padding-inline-start: theme("padding.4");
  border-color: var(--calcite-tip-manager-border-color, var(--calcite-color-border-3));

  .heading {
    @apply text-1h
      p-0
      font-bold;

    color: var(--calcite-tip-manager-heading-text-color, var(--calcite-color-text-1));
  }
}

.container {
  @apply focus-base
    relative
    overflow-hidden;
  min-block-size: 150px;
  &:focus {
    @apply focus-outset;
  }
}

.tip-container {
  @apply focus-base
    mt-px
    flex
    items-start
    justify-center
    overflow-auto
    p-4;
  animation-name: none;
  animation-duration: var(--calcite-animation-timing);
  block-size: var(--calcite-internal-tip-manager-block-size, 19vh);
  &:focus {
    @apply focus-outset;
  }
}

::slotted(calcite-tip) {
  @apply m-0 border-none;
}

.tip-container--advancing {
  animation-name: tip-advance;
}

.tip-container--retreating {
  animation-name: tip-retreat;
}

/* Pagination Styles*/
.pagination {
  @apply flex
  items-center
  justify-center
  px-0
  pt-3
  pb-2;
}

.page-position {
  @apply text-n2h my-0 mx-2;
}

/* @keyframes*/
@keyframes tip-advance {
  0% {
    @apply opacity-0;
    transform: translate3d(50px, 0, 0) scale(0.99);
  }
  100% {
    @apply opacity-100;
    transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes tip-retreat {
  0% {
    @apply opacity-0;
    transform: translate3d(-50px, 0, 0) scale(0.99);
  }
  100% {
    @apply opacity-100;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

calcite-tip {
  --calcite-tip-border-color: var(--calcite-tip-manager-tip-border-color);
  --calcite-tip-background-color: var(--calcite-tip-manager-tip-background-color);
  --calcite-tip-text-color: var(--calcite-tip-manager-tip-text-color);
  --calcite-tip-heading-text-color: var(--calcite-tip-manager-tip-heading-text-color);
  --calcite-tip-slotted-link-text-color: var(--calcite-tip-manager-tip-slotted-link-text-color);
}

@include base-component();
