@import "../../assets/styles/header";

/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-tip-max-width: The maximum width of a slotted `calcite-tip` within the component.
 * @prop --calcite-tip-manager-height: The maximum height of the component.
 * @prop --calcite-tip-manager-background-color: The background color of the component.
 * @prop --calcite-tip-manager-text-color: The text color of the component.
 * @prop --calcite-tip-manager-border-color: The border color of the component.
 */

:host {
  @apply text-n1h
  box-border
  block;

  * {
    @apply box-border;
  }

  --calcite-tip-manager-height: 19vh;
  --calcite-tip-background-color: var(--calcite-color-foreground-1);
  --calcite-tip-manager-text-color: var(--calcite-color-text-2);
  --calcite-tip-manager-border-color: var(--calcite-color-border-3);

  background-color: var(--calcite-tip-background-color);
  color: var(--calcite-tip-manager-text-color);
}

:host([closed]) {
  @apply hidden;
}

.header {
  @apply border-0
    border-b
    border-solid
    py-0;

  padding-inline-end: theme("padding.0");
  padding-inline-start: theme("padding.4");
  border-color: var(--calcite-tip-manager-border-color);

  .heading {
    @apply text-1h
      p-0
      font-bold;

    --calcite-tip-manager-text-color: var(--calcite-color-text-1);
  }
}

.container {
  @apply focus-base
    relative
    overflow-hidden;
  min-block-size: 150px;
  &:focus {
    @apply focus-outset;
  }
}

.tip-container {
  @apply focus-base
    mt-px
    flex
    items-start
    justify-center
    overflow-auto
    p-4;
  animation-name: none;
  animation-duration: var(--calcite-animation-timing);
  block-size: var(--calcite-tip-manager-height);
  &:focus {
    @apply focus-outset;
  }
}

::slotted(calcite-tip) {
  @apply m-0 border-none;
  max-inline-size: var(--calcite-tip-max-width);
}

.tip-container--advancing {
  animation-name: tip-advance;
}

.tip-container--retreating {
  animation-name: tip-retreat;
}

/* Pagination Styles*/
.pagination {
  @apply flex
  items-center
  justify-center
  px-0
  pt-3
  pb-2;
}

.page-position {
  @apply text-n2h my-0 mx-2;
}

/* @keyframes*/
@keyframes tip-advance {
  0% {
    @apply opacity-0;
    transform: translate3d(50px, 0, 0) scale(0.99);
  }
  100% {
    @apply opacity-100;
    transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes tip-retreat {
  0% {
    @apply opacity-0;
    transform: translate3d(-50px, 0, 0) scale(0.99);
  }
  100% {
    @apply opacity-100;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@include base-component();
