@use "../../styles/includes";
@use "../../styles/shared/floating-ui";

:host {
  @apply relative
    block;
}

.input-container {
  @apply relative
    flex
    flex-auto
    flex-nowrap;
}

.input {
  @apply w-full;

  --calcite-input-prefix-size: var(--calcite-autocomplete-input-prefix-size);
  --calcite-input-suffix-size: var(--calcite-autocomplete-input-suffix-size);

  --calcite-input-background-color: var(--calcite-autocomplete-input-background-color);
  --calcite-input-border-color: var(--calcite-autocomplete-input-border-color);
  --calcite-input-corner-radius: var(--calcite-autocomplete-input-corner-radius);
  --calcite-input-shadow: var(--calcite-autocomplete-input-shadow);

  --calcite-input-icon-color: var(--calcite-autocomplete-input-icon-color);
  --calcite-input-text-color: var(--calcite-autocomplete-input-text-color);
  --calcite-input-placeholder-text-color: var(--calcite-autocomplete-input-placeholder-text-color);

  --calcite-input-actions-background-color: var(--calcite-autocomplete-input-actions-background-color);
  --calcite-input-actions-background-color-hover: var(--calcite-autocomplete-input-actions-background-color-hover);
  --calcite-input-actions-background-color-press: var(--calcite-autocomplete-input-actions-background-color-press);
  --calcite-input-actions-icon-color: var(--calcite-autocomplete-input-actions-icon-color);
  --calcite-input-actions-icon-color-hover: var(--calcite-autocomplete-input-actions-icon-color-hover);
  --calcite-input-actions-icon-color-press: var(--calcite-autocomplete-input-actions-icon-color-press);

  --calcite-input-loading-background-color: var(--calcite-autocomplete-input-loading-background-color);
  --calcite-input-loading-fill-color: var(--calcite-autocomplete-input-loading-fill-color);

  --calcite-input-prefix-text-color: var(--calcite-autocomplete-input-prefix-text-color);

  --calcite-input-suffix-text-color: var(--calcite-autocomplete-input-suffix-text-color);
}

@include includes.disabled();

.content-container {
  @apply w-full
    box-border;
}

.floating-ui-container {
  @include floating-ui.floating-ui-container();
}

:host([top-layer-disabled]) .floating-ui-container {
  --calcite-floating-ui-z-index: var(--calcite-z-index-dropdown);
}

@include floating-ui.floating-ui-elem-anim(".floating-ui-container");

.content-container .calcite-floating-ui-anim {
  @apply overflow-y-auto
    w-full;
  box-shadow: var(--calcite-shadow-md);
  max-block-size: var(--calcite-autocomplete-menu-max-size-y, theme("maxHeight.menu"));
  color: var(--calcite-autocomplete-text-color, var(--calcite-color-text-1));
  background-color: var(--calcite-autocomplete-background-color, var(--calcite-color-foreground-1));
  border-radius: var(--calcite-autocomplete-corner-radius, var(--calcite-corner-radius-round));
}

.content--hidden {
  display: none;
}

@media (forced-colors: active) {
  .floating-ui-container--active {
    border: 1px solid canvasText;
  }
}

.screen-readers-only {
  @apply sr-only;
}

@include includes.form-internal-label();
@include includes.form-validation-message();
@include includes.base-component();
