:host {
  .split-button__container {
    @apply flex items-stretch;
    > calcite-dropdown > calcite-button {
      @apply h-full align-top;
    }
  }
}

:host([appearance="solid"]) {
  &:host([color="blue"]) {
    --calcite-split-button-background: theme("colors.brand");
    --calcite-split-button-divider: theme("colors.background.foreground.1");
  }
  &:host([color="red"]) {
    --calcite-split-button-background: theme("colors.danger");
    --calcite-split-button-divider: theme("colors.background.foreground.1");
  }
  &:host([color="neutral"]) {
    --calcite-split-button-background: theme("colors.background.foreground.3");
    --calcite-split-button-divider: theme("colors.text.1");
  }
  &:host([color="inverse"]) {
    --calcite-split-button-background: var(--calcite-ui-inverse);
    --calcite-split-button-divider: theme("colors.background.foreground.1");
  }
}

:host([appearance="transparent"]) {
  &:host([color="blue"]) {
    --calcite-split-button-divider: theme("colors.brand");
  }
  &:host([color="red"]) {
    --calcite-split-button-divider: theme("colors.danger");
  }
  &:host([color="neutral"]) {
    --calcite-split-button-divider: theme("colors.text.1");
  }
  &:host([color="inverse"]) {
    --calcite-split-button-divider: theme("colors.background.foreground.1");
  }
}

:host([appearance="clear"]),
:host([appearance="transparent"]) {
  --calcite-split-button-background: transparent;
}

:host([appearance="outline"]) {
  --calcite-split-button-background: theme("colors.background.foreground.1");
}

:host([appearance="clear"]),
:host([appearance="outline"]) {
  &:host([color="blue"]) {
    --calcite-split-button-divider: theme("colors.brand");
  }
  &:host([color="red"]) {
    --calcite-split-button-divider: theme("colors.danger");
  }
  &:host([color="neutral"]) {
    --calcite-split-button-divider: theme("colors.background.foreground.3");
  }
  &:host([color="inverse"]) {
    --calcite-split-button-divider: var(--calcite-ui-inverse);
  }
}

.width-auto {
  @apply w-auto;
}

.width-half {
  @apply w-1/2;
}

.width-full {
  @apply w-full;
}

.split-button__divider-container {
  @apply w-px flex items-stretch;
  transition: 0.15s ease-in-out;
  background-color: var(--calcite-split-button-background);
}

.split-button__divider {
  @apply w-px my-1 inline-block;
  background-color: var(--calcite-split-button-divider);
}

:host([appearance="outline"]),
:host([appearance="clear"]) {
  .split-button__divider-container {
    border-top: 1px solid var(--calcite-split-button-divider);
    border-bottom: 1px solid var(--calcite-split-button-divider);
  }
  &:hover .split-button__divider-container {
    background-color: var(--calcite-split-button-divider);
  }
}

:host([appearance="outline"]:hover),
:host([appearance="clear"]:hover) {
  .split-button__divider-container {
    background-color: var(--calcite-split-button-divider);
  }
}

:host([appearance="outline"]:focus-within),
:host([appearance="clear"]:focus-within) {
  &:host([color="blue"]) {
    --calcite-split-button-divider: theme("colors.brand-press");
  }
  &:host([color="red"]) {
    --calcite-split-button-divider: theme("colors.danger-press");
  }
  .split-button__divider-container {
    background-color: var(--calcite-split-button-divider);
  }
}

:host([disabled]) {
  .split-button__divider-container {
    @apply opacity-disabled;
  }

  calcite-dropdown > calcite-button {
    @apply pointer-events-none;
  }
}
