:host {
  .split-button__container {
    display: flex;

    > calcite-dropdown > calcite-button {
      height: 100%;
    }
  }

  --calcite-button-light: #{$blk-020};
  --calcite-button-light-text: #{$blk-220};
  --calcite-button-dark: #{$blk-180};
  --calcite-button-dark-text: #{$blk-230};
}

:host([color="blue"]) {
  .split-button__divider-container {
    background-color: var(--calcite-ui-blue-1);
  }
  &:host([appearance="outline"]) .split-button__divider-container {
    background-color: var(--calcite-ui-foreground-1);
  }
  &:host([appearance="outline"]),
  &:host([appearance="clear"]) {
    .split-button__divider-container {
      border-color: var(--calcite-ui-blue-3);
    }
    .split-button__divider,
    &:host(:hover) .split-button__divider-container,
    &:host([theme="dark"]) .split-button__divider {
      background-color: var(--calcite-ui-blue-3);
    }
  }
  &:host([appearance="transparent"]) {
    .split-button__divider {
      background-color: var(--calcite-ui-blue-3);
    }
    &:host([appearance="transparent"]) .split-button__divider {
      background-color: var(--calcite-ui-blue-3);
    }
  }
  &:host([theme="dark"]) {
    .split-button__divider {
      background-color: var(--calcite-button-dark-text);
    }
  }
}

:host([color="red"]) {
  .split-button__divider-container {
    background-color: var(--calcite-ui-red-1);
  }
  &:host([appearance="outline"]) .split-button__divider-container {
    background-color: var(--calcite-ui-foreground-1);
  }
  &:host([appearance="outline"]),
  &:host([appearance="clear"]) {
    .split-button__divider-container {
      border-color: var(--calcite-ui-red-3);
    }
    .split-button__divider,
    &:host(:hover) .split-button__divider-container {
      background-color: var(--calcite-ui-red-3);
    }
  }
  &:host([appearance="transparent"]) .split-button__divider {
    background-color: var(--calcite-ui-red-3);
  }
  &:host([theme="dark"]) {
    .split-button__divider {
      background-color: var(--calcite-button-dark-text);
    }
  }
}

:host([color="light"]) {
  .split-button__divider-container {
    background-color: var(--calcite-button-light);
  }
  &:host([appearance="outline"]) {
    .split-button__divider {
      background-color: var(--calcite-button-light-text);
    }
    .split-button__divider-container {
      background-color: var(--calcite-ui-foreground-1);
      border-color: var(--calcite-button-light);
    }
    &:host(:hover) .split-button__divider-container {
      background-color: var(--calcite-button-light);
    }
  }
  &:host([appearance="clear"]) {
    .split-button__divider-container {
      border-color: var(--calcite-button-light);
    }
    .split-button__divider,
    &:host(:hover) .split-button__divider-container {
      background-color: var(--calcite-button-light);
    }
  }
  &:host([theme="dark"]) {
    .split-button__divider-container {
      background-color: var(--calcite-button-dark);
    }
  }
  &:host([appearance="transparent"]) .split-button__divider {
    background-color: var(--calcite-button-light);
  }

  .split-button__divider {
    background-color: var(--calcite-button-light-text);
  }
}

:host([color="dark"]) {
  .split-button__divider-container {
    background-color: var(--calcite-button-dark);
  }
  &:host([appearance="outline"]) .split-button__divider-container {
    background-color: var(--calcite-ui-foreground-1);
  }
  &:host([appearance="outline"]),
  &:host([appearance="clear"]) {
    .split-button__divider-container {
      border-color: var(--calcite-button-dark);
    }
    .split-button__divider,
    &:host(:hover) .split-button__divider-container {
      background-color: var(--calcite-button-dark);
    }
  }
  &:host([appearance="transparent"]) .split-button__divider {
    background-color: var(--calcite-button-dark);
  }
}

:host([disabled]) {
  .split-button__divider-container {
    opacity: 0.4;
  }

  calcite-dropdown > calcite-button {
    pointer-events: none;
  }
}

.split-button__divider-container {
  width: 1px;
  display: flex;
  align-items: center;
  transition: all 0.15s ease-in-out;
}

.split-button__divider {
  width: 1px;
  height: 66.666%;
  display: inline-block;
  background-color: white;
}

:host([appearance="outline"]) .split-button__divider-container,
:host([appearance="clear"]) .split-button__divider-container {
  border-width: 1px;
  border-left: 0;
  border-right: 0;
  border-style: solid;
}

:host([appearance="clear"]) .split-button__divider-container {
  background-color: transparent;
}

:host([appearance="transparent"]) .split-button__divider-container {
  background-color: transparent;
  border-width: 0;
}
