/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-tile-background-color: Specifies the background color of the component.
 * @prop --calcite-tile-border-color: Specifies the border color of the component.
 * @prop --calcite-tile-border-color-active: Specifies the border color of the component when in an active state.
 * @prop --calcite-tile-border-color-hover: Specifies the border color of the component when in a hover state.
 * @prop --calcite-tile-description-text-color: Specifies the description text color of the component.
 * @prop --calcite-tile-description-text-color-hover: Specifies the description text color of the component when in an active or hover state.
 * @prop --calcite-tile-heading-text-color: Specifies the heading text color of the component.
 * @prop --calcite-tile-heading-text-color-hover: Specifies the heading text color of the component when in an active or hover state.
 * @prop --calcite-tile-icon-color: Specifies the icon color of the component.
 */

:host {
  --calcite-tile-background-color: var(--calcite-color-foreground-1);
  --calcite-tile-border-color: var(--calcite-color-border-2);
  --calcite-tile-border-color-active: var(--calcite-color-brand);
  --calcite-tile-border-color-hover: var(--calcite-color-brand);
  --calcite-tile-description-text-color: var(--calcite-color-text-3);
  --calcite-tile-description-text-color-hover: var(--calcite-color-text-2);
  --calcite-tile-heading-text-color: var(--calcite-color-text-2);
  --calcite-tile-heading-text-color-hover: var(--calcite-color-text-1);
  --calcite-tile-icon-color: var(--calcite-color-text-3);

  box-sizing: border-box;
  display: inline-block;
  max-inline-size: 460px;
  min-inline-size: 140px;

  .tile {
    background-color: var(--calcite-tile-background-color);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--calcite-spacing-md);
    inline-size: 100%;
    pointer-events: none;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
  }

  .content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    inline-size: 10%;
  }

  .content-container {
    align-items: stretch;
    display: flex;
    outline-color: transparent;
    padding: 0px;
    inline-size: 100%;
  }

  .content-slot-container {
    align-items: center;
    display: flex;

    &:first-child {
      padding-inline: 0 0.75rem;
    }

    &:last-child {
      padding-inline: 0.75rem 0;
    }
  }

  .heading {
    color: var(--calcite-tile-heading-text-color);
    font-size: var(--calcite-font-size--1);
    font-weight: 500;
    line-height: 1.20313rem;
    overflow-wrap: break-word;
  }
  .large-visual {
    align-items: center;
    min-block-size: 12rem;
    text-align: center;

    calcite-icon {
      align-self: self-end;
      block-size: 64px;
      inline-size: 64px;
      justify-self: center;
    }
    .content-container {
      align-self: center;
    }
  }
  .description {
    color: var(--calcite-tile-description-text-color);
    font-size: var(--calcite-font-size--2);
    font-weight: 400;
    line-height: 1.03125rem;
    overflow-wrap: break-word;
  }
}

:host([alignment="center"]) {
  .tile {
    justify-items: center;
    text-align: center;
  }
}

:host([scale="s"]) {
  max-inline-size: 400px;
  min-inline-size: 100px;
  .tile {
    gap: var(--calcite-spacing-sm);
  }
  .heading {
    font-size: var(--calcite-font-size--2);
    line-height: 1.03125rem;
  }
  .description {
    font-size: var(--calcite-font-size--3);
    line-height: 0.85938rem;
  }
}

:host([scale="l"]) {
  max-inline-size: 520px;
  min-inline-size: 160px;
  .tile {
    gap: var(--calcite-spacing-xl);
  }
  .heading {
    font-size: var(--calcite-font-size-0);
    line-height: 1.375rem;
  }
  .description {
    font-size: var(--calcite-font-size--1);
    line-height: 1.20313rem;
  }
}

:host(:not([href])) {
  calcite-icon {
    color: var(--calcite-tile-icon-color);
  }
}

:host([href]),
:host([href]:hover) {
  .heading {
    color: var(--calcite-color-text-link);
    text-decoration-line: underline;
  }
}
:host(:not([embed])) {
  .tile {
    box-shadow: 0 0 0 1px var(--calcite-tile-border-color);
    padding: var(--calcite-spacing-md);
  }
}
:host(:not([embed])[scale="s"]) {
  .tile {
    padding: var(--calcite-spacing-sm);
  }
}
:host(:not([embed])[scale="l"]) {
  .tile {
    padding: var(--calcite-spacing-xl);
  }
}
:host(:not([embed])[href]:hover) {
  .tile {
    box-shadow: 0 0 0 2px var(--calcite-tile-border-color-hover);
    cursor: pointer;
  }
}
:host(:not([embed])[href]:active) {
  .tile {
    box-shadow: 0 0 0 3px var(--calcite-tile-border-color-active);
  }
}

@include disabled();

:host(:hover),
:host([active]) {
  .heading {
    color: var(--calcite-tile-heading-text-color-hover);
  }
  .description {
    color: var(--calcite-tile-description-text-color-hover);
  }
}

@include base-component();
