* {
  box-sizing: border-box;
}

:host {
  display: block;
}

:host(:focus-within) .list {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  max-height: 100vh;
  visibility: visible;
  pointer-events: initial;
}
.focus-within {
  border: 1px solid var(--calcite-ui-border-1);
}
.focus-within .list {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  max-height: 100vh;
  visibility: visible;
  pointer-events: initial;
}

[role="combobox"] {
  display: flex;
}

input {
  flex-grow: 1;
}

.chip {
  background-color: #ccc;
  border-radius: 12px;
  padding: 3px 6px;
}

.list {
  margin: 0;
  padding: 0;
  transform: translate3d(0, -$baseline, 0);
  transition: all 0.15s ease-in-out;
  visibility: hidden;
  opacity: 0;
  display: block;
  background: var(--calcite-ui-foreground);
  border-radius: var(--calcite-border-radius);
  box-shadow: $shadow-2;
  pointer-events: none;
}

.item {
  display: block;
}
