:host {
  display: grid;
  grid-gap: 15px;
}
:host([layout="horizontal"]) {
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
}
:host([layout="vertical"]) {
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
