:host {
  @extend %component-host;
  @extend %component-spacing;
  @apply flex w-full;
  //FIXME: Should all of the CSS vars be repalced with tailwind? There are a lot of them.
  padding: var(--calcite-spacing-half) var(--calcite-spacing-half);
}

label {
  @apply flex 
    items-center 
    overflow-hidden 
    relative w-full;
  margin: 0 var(--calcite-spacing-quarter);
}

input[type="text"] {
  @apply bg-transparent 
    border-none
    font-inherit 
    text--2h 
    mb-1 
    w-full;
  padding: var(--calcite-spacing-quarter) var(--calcite-spacing-quarter) var(--calcite-spacing-quarter)
    var(--calcite-spacing-plus-half);
  transition: padding $transition, box-shadow $transition;
  &::-ms-clear {
    @apply hidden;
  }
}

.search-icon {
  @apply flex 
    left-0 
    absolute 
    text-color-2;
  transition: left $transition, right $transition, opacity $transition;
}

.calcite--rtl .search-icon {
  @apply right-0;
}

input[type="text"]:focus {
  @apply border-color-brand outline-none;
  box-shadow: 0 2px 0 var(--calcite-ui-brand);
  padding-left: var(--calcite-spacing-quarter);
  padding-right: var(--calcite-spacing-quarter);
  & ~ .search-icon {
    left: calc(var(--calcite-icon-size) * -1);
    opacity: 0;
  }
}

.calcite--rtl {
  input[type="text"] {
    padding-left: var(--calcite-spacing-quarter);
    padding-right: var(--calcite-spacing-plus-half);
    &:focus {
      padding-right: var(--calcite-spacing-plus-quarter);
      & ~ .search-icon {
        right: calc(var(--calcite-icon-size) * -1);
      }
    }
  }
}

.clear-button {
  color: var(--calcite-ui-text-2);
  background: none;
  border: 0;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--calcite-ui-text-1);
  }
}
