:host {
  @extend %component-host;
  @extend %component-spacing;
  @apply flex w-full;
  padding: theme("spacing.2");
}

label {
  @apply flex 
    items-center 
    overflow-hidden 
    relative w-full;
  margin: 0 theme("spacing.1");
}

input[type="text"] {
  @apply bg-transparent 
    border-none
    font-inherit 
    text--2h 
    mb-1 
    w-full;
  padding: theme("spacing.1") theme("spacing.1") theme("spacing.1") theme("spacing.6");
  transition: padding $transition, box-shadow $transition;
  &::-ms-clear {
    @apply hidden;
  }
}

.search-icon {
  @apply flex 
    left-0 
    absolute 
    text-color-2;
  transition: left $transition, right $transition, opacity $transition;
}

.calcite--rtl .search-icon {
  @apply right-0;
}

input[type="text"]:focus {
  @apply border-color-brand outline-none;
  box-shadow: 0 2px 0 var(--calcite-ui-brand);
  padding-left: theme("spacing.1");
  padding-right: theme("spacing.1");
  & ~ .search-icon {
    left: calc(var(--calcite-icon-size) * -1);
    @apply opacity-0;
  }
}

.calcite--rtl {
  input[type="text"] {
    padding-left: theme("spacing.1");
    padding-right: theme("spacing.6");
    &:focus {
      padding-right: theme("spacing.5");
      & ~ .search-icon {
        right: calc(var(--calcite-icon-size) * -1);
      }
    }
  }
}

.clear-button {
  @apply text-color-2 
    bg-none 
    border-0 
    cursor-pointer;
  &:hover,
  &:focus {
    @apply text-color-1;
  }
}
