:host .dropdown-title {
  display: block;
  margin: 0 $baseline/1.5 -1px $baseline/1.5;
  padding: var(--calcite-dropdown-group-padding);
  border-bottom: 1px solid var(--calcite-ui-border-3);
  color: var(--calcite-ui-text-2);
  font-weight: 600;
  word-wrap: break-word;
  cursor: default;
  @include font-size(-2);
}
