:host([scale="s"]) {
  @apply text--2;
  .dropdown-title {
    @apply py-3 mt-0 mx-3;
  }
}

:host([scale="m"]) {
  @apply text--1;
  .dropdown-title {
    @apply py-4 mt-0 mx-4;
  }
}

:host([scale="l"]) {
  @apply text-1;
  .dropdown-title {
    @apply py-5 mt-0 mx-5;
  }
}

.dropdown-title {
  display: block;
  margin-bottom: -1px;
  border-bottom: 1px solid var(--calcite-ui-border-3);
  color: var(--calcite-ui-text-2);
  font-weight: 600;
  word-wrap: break-word;
  cursor: default;
}

.dropdown-separator {
  display: block;
  height: 1px;
  background-color: var(--calcite-ui-border-3);
}
