:host([scale="s"]) {
  @apply text--2 pr-3 pl-6 py-2;
}

:host([scale="m"]) {
  @apply text--1 pr-4 pl-8 py-3;
}

:host([scale="l"]) {
  @apply text-1 pr-5 pl-10 py-4;
}

// RTL
:host([dir="rtl"][scale="s"]) {
  @apply pr-6 pl-3;
}

:host([dir="rtl"][scale="m"]) {
  @apply pr-8 pl-4;
}

:host([dir="rtl"][scale="l"]) {
  @apply pr-10 pl-5;
}

@mixin itemStyling {
  @apply flex
    flex-grow
    items-center
    text-color-3
    duration-150
    ease-in-out
    cursor-pointer
    no-underline
    outline-none
    relative;
  &:before {
    content: "\2022";
    @apply absolute
      opacity-0
      duration-150
      ease-in-out;
    color: theme("borderColor.1");
  }
}

:host {
  @include itemStyling;
}

.dropdown-item-content {
  @apply mr-auto;
}

:host([dir="rtl"]) .dropdown-item-content {
  @apply ml-auto mr-0;
}

//focus
:host,
:host([islink]) a {
  @apply focus-base;
}
:host(:focus),
:host([islink]) a:focus {
  @apply focus-inset;
}

// when used as link move styling anchor
:host([islink]) {
  @apply p-0;
  & a {
    @include itemStyling;
  }
}

:host([scale="s"]) .dropdown-link {
  @apply px-3 py-2;
}

:host([scale="m"]) .dropdown-link {
  @apply px-4 py-3;
}

:host([scale="l"]) .dropdown-link {
  @apply px-5 py-4;
}

:host(:hover),
:host(:active) {
  @apply bg-foreground-2 text-color-1 no-underline;
}

:host(:focus) {
  @apply text-color-1 no-underline;
}

:host(:active) {
  @apply bg-foreground-3;
}

:host(:hover):before,
:host(:active):before,
:host(:focus):before {
  @apply opacity-100;
}

:host([dir="rtl"]) {
  &:before {
    left: unset;
    right: theme("spacing.4");
  }
}

:host([active]:not([selection-mode="none"])) {
  @apply text-color-1 font-normal;
  &:before {
    @apply opacity-100;
    color: theme("backgroundColor.brand");
  }
  & calcite-icon {
    color: theme("backgroundColor.brand");
  }
}

// no dot for none and multi modes
:host([selection-mode="multi"]):before,
:host([selection-mode="none"]):before {
  @apply hidden;
}

// single select "icon"
:host([scale="s"]):before {
  left: theme("spacing.2");
}
:host([scale="m"]):before {
  left: theme("spacing.3");
}
:host([scale="l"]):before {
  left: theme("spacing.4");
}

// single select "icon" RTL
:host([dir="rtl"]):before {
  left: unset;
}

:host([dir="rtl"][scale="s"]):before {
  right: theme("spacing.2");
}
:host([dir="rtl"][scale="m"]):before {
  right: theme("spacing.3");
}
:host([dir="rtl"][scale="l"]):before {
  right: theme("spacing.4");
}

// multi select check icon
:host .dropdown-item-check-icon {
  @apply absolute
    opacity-0
    duration-150
    ease-in-out;
  transform: scale(0.9);
}

:host([scale="s"]) .dropdown-item-check-icon {
  left: theme("spacing.1");
}

:host([scale="m"]) .dropdown-item-check-icon {
  left: theme("spacing.2");
}

:host([scale="l"]) .dropdown-item-check-icon {
  left: theme("spacing.3");
}

// multi select check icon RTL
:host([dir="rtl"]) .dropdown-item-check-icon {
  left: unset;
  @apply ml-0;
}

:host([dir="rtl"][scale="s"]) .dropdown-item-check-icon {
  right: theme("spacing.1");
}

:host([dir="rtl"][scale="m"]) .dropdown-item-check-icon {
  right: theme("spacing.2");
}

:host([dir="rtl"][scale="l"]) .dropdown-item-check-icon {
  right: theme("spacing.3");
}

:host(:hover) .dropdown-item-check-icon {
  color: theme("borderColor.1");
  @apply opacity-100;
}

:host([active]) .dropdown-item-check-icon {
  color: theme("backgroundColor.brand");
  @apply opacity-100;
}

// icon start & end
:host([scale="s"]) {
  .dropdown-item-icon-start {
    @apply mr-2;
  }
  .dropdown-item-icon-end {
    @apply ml-2;
  }
}

:host([scale="m"]) {
  .dropdown-item-icon-start {
    @apply mr-3;
  }
  .dropdown-item-icon-end {
    @apply ml-3;
  }
}

:host([scale="l"]) {
  .dropdown-item-icon-start {
    @apply mr-4;
  }
  .dropdown-item-icon-end {
    @apply ml-4;
  }
}

// icon start & end RTL
:host([dir="rtl"]) {
  .dropdown-item-icon-start {
    @apply mr-0;
  }
  .dropdown-item-icon-end {
    @apply ml-0;
  }
}

:host([dir="rtl"][scale="s"]) {
  .dropdown-item-icon-start {
    @apply ml-2;
  }
  .dropdown-item-icon-end {
    @apply mr-2;
  }
}

:host([dir="rtl"][scale="m"]) {
  .dropdown-item-icon-start {
    @apply ml-3;
  }
  .dropdown-item-icon-end {
    @apply mr-3;
  }
}

:host([dir="rtl"][scale="l"]) {
  .dropdown-item-icon-start {
    @apply ml-4;
  }
  .dropdown-item-icon-end {
    @apply mr-4;
  }
}

:host([dir="rtl"]) calcite-icon {
  @apply mr-0 ml-3;
}
