// scale: s
:host([scale="s"]) {
  --calcite-dropdown-item-padding: #{$baseline/5 $baseline/1.5 $baseline/5
    $baseline * 1.5};
}

:host([scale="m"]) {
  --calcite-dropdown-item-padding: #{$baseline/3 $baseline/1.5 $baseline/3
    $baseline * 1.5};
}

:host([scale="l"]) {
  --calcite-dropdown-item-padding: #{$baseline/2 $baseline/1.5 $baseline/2
    $baseline * 1.5};
}

:host([dir="rtl"][scale="s"]) {
  --calcite-dropdown-item-padding: #{$baseline/5 $baseline * 1.5 $baseline/5
    $baseline/1.5};
}

:host([dir="rtl"][scale="m"]) {
  --calcite-dropdown-item-padding: #{$baseline/3 $baseline * 1.5 $baseline/3
    $baseline / 1.5};
}

:host([dir="rtl"][scale="l"]) {
  --calcite-dropdown-item-padding: #{$baseline/2 $baseline * 1.5 $baseline/2
    $baseline / 1.5};
}

@mixin itemStyling {
  display: flex;
  flex-grow: 1;
  align-items: center;
  @include font-size(-2);
  color: var(--calcite-ui-text-3);
  transition: $transition;
  padding: var(--calcite-dropdown-item-padding);
  cursor: pointer;
  text-decoration: none;
  outline: none;
  position: relative;
  &:before {
    content: "\2022";
    position: absolute;
    left: 1rem;
    opacity: 0;
    color: $blk-120;
    transition: $transition;
  }
}

:host {
  @include itemStyling;
}

:host(:hover),
:host(:focus),
:host(:active) {
  background-color: var(--calcite-ui-foreground-hover);
  color: var(--calcite-ui-text-1);
  text-decoration: none;
}

:host(:active) {
  background-color: var(--calcite-ui-foreground-press);
}

:host(:hover):before,
:host(:active):before,
:host(:focus):before {
  opacity: 1;
}

:host([dir="rtl"]) {
  &:before {
    left: unset;
    right: 1rem;
  }
}

:host([active]) {
  color: var(--calcite-ui-text-1);
  font-weight: 500;
  &:before {
    opacity: 1;
    color: var(--calcite-ui-blue);
  }
  & calcite-icon {
    color: var(--calcite-ui-blue);
  }
}

// when used as link move styling anchor
:host([islink]) {
  padding: 0;
  &:before {
    display: none;
  }
  & a {
    @include itemStyling;
  }
}

:host([islink]) a:hover,
:host([islink]) a:focus,
:host([islink]) a:active {
  background-color: var(--calcite-ui-foreground-hover);
  text-decoration: none;
  &:before {
    opacity: 1;
  }
}

:host([islink]) a:active {
  background-color: var(--calcite-ui-foreground-press);
}

:host([islink][active]) a {
  color: var(--calcite-ui-text-1);
  font-weight: 500;
  &:before {
    opacity: 1;
    color: var(--calcite-ui-blue);
  }
}

:host([islink][dir="rtl"]) a {
  padding: var(--calcite-dropdown-item-padding);
  &:before {
    left: unset;
    right: 1rem;
  }
}

//icons

:host .dropdown-item-icon-start {
  margin-right: $baseline / 1.5;
}
:host .dropdown-item-icon-end {
  margin-left: auto;
  padding-left: $baseline / 1.5;
}

:host([dir="rtl"]) calcite-icon {
  margin-right: 0;
  margin-left: $baseline / 1.5;
}

:host([dir="rtl"]) .dropdown-item-icon-start {
  margin-left: $baseline / 1.5;
  margin-right: 0;
}
:host([dir="rtl"]) .dropdown-item-icon-end {
  margin-right: auto;
  padding-right: $baseline / 1.5;
  margin-left: 0;
  padding-left: 0;
}
