:host([scale="s"]) {
  @apply text--2 pr-3 pl-6 py-2;
}

:host([scale="m"]) {
  @apply text--1 pr-4 pl-8 py-3;
}

:host([scale="l"]) {
  @apply text-1 pr-5 pl-10 py-4;
}

// RTL
:host([dir="rtl"][scale="s"]) {
  @apply pr-6 pl-3;
}

:host([dir="rtl"][scale="m"]) {
  @apply pr-8 pl-4;
}

:host([dir="rtl"][scale="l"]) {
  @apply pr-10 pl-5;
}

@mixin itemStyling {
  display: flex;
  flex-grow: 1;
  align-items: center;
  color: var(--calcite-ui-text-3);
  transition: $transition;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  position: relative;
  &:before {
    content: "\2022";
    position: absolute;
    opacity: 0;
    color: var(--calcite-ui-border-1);
    transition: $transition;
  }
}

:host {
  @include itemStyling;
}

.dropdown-item-content {
  @apply mr-auto;
}

:host([dir="rtl"]) .dropdown-item-content {
  margin-right: unset;
  @apply ml-auto;
}

//focus
:host,
:host([islink]) a {
  @include focus-style-base();
}
:host(:focus),
:host([islink]) a:focus {
  @include focus-style-inset();
}

// when used as link move styling anchor
:host([islink]) {
  @apply p-0;
  & a {
    @include itemStyling;
  }
}

:host([scale="s"]) .dropdown-link {
  @apply px-3 py-2;
}

:host([scale="m"]) .dropdown-link {
  @apply px-4 py-3;
}

:host([scale="l"]) .dropdown-link {
  @apply px-5 py-4;
}

:host(:hover),
:host(:active) {
  background-color: var(--calcite-ui-foreground-2);
  color: var(--calcite-ui-text-1);
  text-decoration: none;
}

:host(:focus) {
  color: var(--calcite-ui-text-1);
  text-decoration: none;
}

:host(:active) {
  background-color: var(--calcite-ui-foreground-3);
}

:host(:hover):before,
:host(:active):before,
:host(:focus):before {
  opacity: 1;
}

:host([dir="rtl"]) {
  &:before {
    left: unset;
    right: 1rem;
  }
}

:host([active]:not([selection-mode="none"])) {
  color: var(--calcite-ui-text-1);
  font-weight: 500;
  &:before {
    opacity: 1;
    color: var(--calcite-ui-brand);
  }
  & calcite-icon {
    color: var(--calcite-ui-brand);
  }
}

// no dot for none and multi modes
:host([selection-mode="multi"]):before,
:host([selection-mode="none"]):before {
  display: none;
}

// single select "icon"
:host([scale="s"]):before {
  left: theme("spacing.2");
}
:host([scale="m"]):before {
  left: theme("spacing.3");
}
:host([scale="l"]):before {
  left: theme("spacing.4");
}

// single select "icon" RTL
:host([dir="rtl"]):before {
  left: unset;
}

:host([dir="rtl"][scale="s"]):before {
  right: theme("spacing.2");
}
:host([dir="rtl"][scale="m"]):before {
  right: theme("spacing.3");
}
:host([dir="rtl"][scale="l"]):before {
  right: theme("spacing.4");
}

// multi select check icon
:host .dropdown-item-check-icon {
  position: absolute;
  opacity: 0;
  transform: scale(0.9);
  transition: $transition;
}

:host([scale="s"]) .dropdown-item-check-icon {
  left: theme("spacing.1");
}

:host([scale="m"]) .dropdown-item-check-icon {
  left: theme("spacing.2");
}

:host([scale="l"]) .dropdown-item-check-icon {
  left: theme("spacing.3");
}

// multi select check icon RTL
:host([dir="rtl"]) .dropdown-item-check-icon {
  left: unset;
  @apply ml-0;
}

:host([dir="rtl"][scale="s"]) .dropdown-item-check-icon {
  right: theme("spacing.1");
}

:host([dir="rtl"][scale="m"]) .dropdown-item-check-icon {
  right: theme("spacing.2");
}

:host([dir="rtl"][scale="l"]) .dropdown-item-check-icon {
  right: theme("spacing.3");
}

:host(:hover) .dropdown-item-check-icon {
  color: var(--calcite-ui-border-1);
  opacity: 1;
}

:host([active]) .dropdown-item-check-icon {
  color: var(--calcite-ui-brand);
  opacity: 1;
}

// icon start & end
:host([scale="s"]) {
  .dropdown-item-icon-start {
    @apply mr-2;
  }
  .dropdown-item-icon-end {
    @apply ml-2;
  }
}

:host([scale="m"]) {
  .dropdown-item-icon-start {
    @apply mr-3;
  }
  .dropdown-item-icon-end {
    @apply ml-3;
  }
}

:host([scale="l"]) {
  .dropdown-item-icon-start {
    @apply mr-4;
  }
  .dropdown-item-icon-end {
    @apply ml-4;
  }
}

// icon start & end RTL
:host([dir="rtl"]) {
  .dropdown-item-icon-start {
    @apply mr-0;
  }
  .dropdown-item-icon-end {
    @apply ml-0;
  }
}

:host([dir="rtl"][scale="s"]) {
  .dropdown-item-icon-start {
    @apply ml-2;
  }
  .dropdown-item-icon-end {
    @apply mr-2;
  }
}

:host([dir="rtl"][scale="m"]) {
  .dropdown-item-icon-start {
    @apply ml-3;
  }
  .dropdown-item-icon-end {
    @apply mr-3;
  }
}

:host([dir="rtl"][scale="l"]) {
  .dropdown-item-icon-start {
    @apply ml-4;
  }
  .dropdown-item-icon-end {
    @apply mr-4;
  }
}

:host([dir="rtl"]) calcite-icon {
  margin-right: 0;
  margin-left: $baseline / 1.5;
}
