:host {
  @extend %component-host;
  display: flex;
  position: relative;

  --calcite-panel-max-height-small: 40vh;
  --calcite-panel-max-height-medium: 60vh;
  --calcite-panel-max-height-large: 80vh;
  --calcite-min-header-height: calc(var(--calcite-icon-size) * 3);
}

@import "../../assets/styles/header";

.container {
  align-items: stretch;
  transition: max-height $transition;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
}

calcite-scrim {
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  pointer-events: none;
}

:host([height-scale="s"]) .container {
  max-height: var(--calcite-panel-max-height-small);
}

:host([height-scale="m"]) .container {
  max-height: var(--calcite-panel-max-height-medium);
}

:host([height-scale="l"]) .container {
  max-height: var(--calcite-panel-max-height-large);
}

.container[hidden] {
  display: none;
}

:host([loading]) .container,
:host([disabled]) .container {
  position: relative;
  z-index: 1;
}

.header {
  align-items: stretch;
  flex: 0 0 auto;
  justify-content: flex-start;
  min-height: var(--calcite-header-min-height);
  position: relative;
  z-index: 2;
  border-bottom: 1px solid var(--calcite-ui-border-3);
  width: 100%;
}

.header-content {
  overflow: hidden;
  padding: var(--calcite-spacing) var(--calcite-spacing);
}

.header-leading-content,
.header-trailing-content {
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
}

.header-trailing-content {
  margin-left: auto;
}

.header-leading-content + .header-content {
  padding-left: var(--calcite-spacing-half);
}

.content-container {
  align-items: stretch;
  background-color: var(--calcite-ui-background);
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  overflow: auto;
}

.footer {
  border-top: 1px solid var(--calcite-ui-border-3);
  display: flex;
  flex: 0 0 auto;
  justify-content: space-evenly;
  min-height: var(--calcite-footer-min-height);
  padding: var(--calcite-spacing-half) var(--calcite-spacing-half);
}

.calcite--rtl {
  .header-leading-content + .header-content {
    padding-right: var(--calcite-spacing-half);
  }
  .header-trailing-content {
    margin-left: 0;
    margin-right: auto;
  }
}

.fab-container {
  position: sticky;
  z-index: 1;
  bottom: 0;
  display: inline-block;
  margin: 0 auto;
  padding: var(--calcite-spacing-half) var(--calcite-spacing-half);
  left: 0;
  right: 0;
}
