:host {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: $baseline;
  height: 0;
  z-index: 101;
  pointer-events: none;
  transition: all .15s ease-in-out;
  transition-delay: 300ms;

  @media only screen and (max-width: 600px) {
    bottom: 0px;
  }
}

:host([is-active]) {
  height: auto;
  visibility: visible;
  opacity: 1;
}
