$tip-max-width: 540px;

:host {
  @extend %component-host;
}

@import "../../scss/includes/_component";

::slotted(calcite-tip) {
  max-width: $tip-max-width;
  padding: 0 var(--calcite-app-side-spacing-half);
}
