// theme variables
// light theme
// todo add these transparent overlays to calcite-base
:host {
  --calcite-chip-transparent-hover: rgba(0, 0, 0, 0.05);
  --calcite-chip-transparent-press: rgba(0, 0, 0, 0.08);
}

// dark theme
:host([theme="dark"]) {
  --calcite-chip-transparent-hover: rgba(255, 255, 255, 0.05);
  --calcite-chip-transparent-press: rgba(255, 255, 255, 0.08);
}

// scale
// todo update when new spacing modifiers are introduced to calcite-base
:host([scale="s"]) {
  @apply h-5 text--3;
  --calcite-chip-spacing-unit-l: theme("spacing.2");
  --calcite-chip-spacing-unit-s: theme("spacing.1");
  .chip-image-container {
    @apply h-5 w-5;
  }
}
:host([scale="m"]) {
  @apply h-8 text--2;
  --calcite-chip-spacing-unit-l: theme("spacing.3");
  --calcite-chip-spacing-unit-s: 6px;
  .chip-image-container {
    @apply h-6 w-6 pl-1;
  }
}

:host([scale="l"]) {
  @apply h-10 text--1;
  --calcite-chip-spacing-unit-l: theme("spacing.4");
  --calcite-chip-spacing-unit-s: theme("spacing.2");
  .chip-image-container {
    @apply h-8 w-8 pl-1;
  }
}

:host([scale="m"]) .calcite--rtl .chip-image-container {
  @apply pl-0 pr-1;
}

:host([scale="l"]) .calcite--rtl .chip-image-container {
  @apply pl-0 pr-1;
}

:host {
  @apply inline-flex
    items-center
    bg-foreground-2
    border
    border-solid
    border-color-1
    text-color-1
    font-medium
    cursor-default
    rounded-full;
  --calcite-chip-button-border-radius: 0 50px 50px 0;
}

.container {
  @apply inline-flex items-center h-full;
}

//focus
:host button {
  @apply focus-base;
  &:focus {
    @apply focus-inset;
  }
}

.calcite--rtl {
  @apply text-right;
  --calcite-chip-button-border-radius: 50px 0 0 50px;
}

:host span {
  padding: var(--calcite-chip-spacing-unit-s) var(--calcite-chip-spacing-unit-l);
}

:host([dismissible]) span {
  padding: var(--calcite-chip-spacing-unit-s) var(--calcite-chip-spacing-unit-s) var(--calcite-chip-spacing-unit-s)
    var(--calcite-chip-spacing-unit-l);
}

:host([dismissible]) .calcite--rtl span {
  padding: var(--calcite-chip-spacing-unit-s) var(--calcite-chip-spacing-unit-l) var(--calcite-chip-spacing-unit-s)
    var(--calcite-chip-spacing-unit-s);
}

:host([icon]:not([dismissible])) span {
  padding: var(--calcite-chip-spacing-unit-s) var(--calcite-chip-spacing-unit-l) var(--calcite-chip-spacing-unit-s)
    var(--calcite-chip-spacing-unit-s);
}

:host([icon]:not([dismissible])) .calcite--rtl span {
  padding: var(--calcite-chip-spacing-unit-s) var(--calcite-chip-spacing-unit-s) var(--calcite-chip-spacing-unit-s)
    var(--calcite-chip-spacing-unit-l);
}

:host button {
  @apply m-0
    inline-flex
    min-h-full
    max-h-full
    self-stretch
    items-center
    border-none
    cursor-pointer
    bg-transparent
    duration-150
    ease-in-out
    text-color-1;
  -webkit-appearance: none;
  border-radius: var(--calcite-chip-button-border-radius);
  padding: var(--calcite-chip-spacing-unit-s);
  &:hover,
  &:focus {
    @apply bg-foreground-2 border-color-2;
  }
  &:active {
    @apply bg-foreground-3;
  }
}

//slotted image
.chip-image-container {
  @apply rounded-half overflow-hidden inline-flex;
}

:host slot[name="image"]::slotted(*) {
  @apply flex h-full w-full rounded-half overflow-hidden;
}

//icon
.calcite-chip--icon {
  @apply inline-flex
    relative
    my-0
    mr-0
    duration-150
    ease-in-out;
  margin-left: var(--calcite-chip-spacing-unit-l);
  border-radius: var(--calcite-chip-button-border-radius);
}

.calcite--rtl .calcite-chip--icon {
  @apply my-0 ml-0;
  margin-right: var(--calcite-chip-spacing-unit-l);
}

$chipColors: "blue" var(--calcite-ui-brand) var(--calcite-ui-brand-press) var(--calcite-ui-brand-hover)
    var(--calcite-ui-foreground-1) var(--calcite-ui-brand-press),
  "red" var(--calcite-ui-danger) var(--calcite-ui-danger-press) var(--calcite-ui-danger-hover)
    var(--calcite-ui-foreground-1) var(--calcite-ui-danger-press),
  "yellow" var(--calcite-ui-warning) var(--calcite-ui-warning) var(--calcite-ui-warning) var(--calcite-ui-text-1)
    var(--calcite-ui-warning),
  "green" var(--calcite-ui-success) var(--calcite-ui-success) var(--calcite-ui-success) var(--calcite-ui-text-1)
    var(--calcite-ui-success),
  "grey" var(--calcite-ui-foreground-2) var(--calcite-ui-border-1) var(--calcite-ui-text-3-dark)
    var(--calcite-ui-text-1) var(--calcite-ui-text-1);

@each $chipColor in $chipColors {
  $name: nth($chipColor, 1);
  $bgColor: nth($chipColor, 2);
  $bgColorClearAppearance: nth($chipColor, 3);
  $bgColorClearAppearanceDark: nth($chipColor, 4);
  $color: nth($chipColor, 5);
  $iconColor: nth($chipColor, 6);

  :host([color="#{$name}"][appearance="solid"]),
  :host([color="#{$name}"][appearance="solid"]) button {
    border-color: $bgColor;
    background-color: $bgColor;
    color: $color;
  }

  :host([appearance="solid"]) button {
    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  // handle dark theme text accessibility for solid
  :host([theme="dark"][color="#{$name}"][appearance="solid"]:not([color="grey"])),
  :host([theme="dark"][color="#{$name}"][appearance="solid"]:not([color="grey"])) button {
    color: theme("backgroundColor.background");
  }

  :host([color="#{$name}"][appearance="clear"]) {
    @apply text-color-1 bg-transparent;
    border-color: $bgColorClearAppearance;
    & .calcite-chip--icon {
      color: $iconColor;
    }
  }

  :host([theme="dark"][color="#{$name}"][appearance="clear"]) {
    border-color: $bgColorClearAppearanceDark;
  }

  :host([color="#{$name}"][appearance="clear"]) button {
    &:hover,
    &:focus {
      background-color: var(--calcite-chip-transparent-hover);
    }
    &:active {
      background-color: var(--calcite-chip-transparent-press);
    }
  }
}
