// scale
// todo update when new spacing modifiers are introduced to calcite-base
:host([scale="s"]) {
  @apply h-6 text--2;
  --calcite-chip-spacing-unit-l: theme("spacing.2");
  --calcite-chip-spacing-unit-s: theme("spacing.1");
  .chip-image-container {
    @apply h-5 w-5;
  }
}
:host([scale="m"]) {
  @apply h-8 text--1;
  --calcite-chip-spacing-unit-l: theme("spacing.3");
  --calcite-chip-spacing-unit-s: 6px;
  .chip-image-container {
    @apply h-6 w-6 pl-1;
  }
}

:host([scale="l"]) {
  @apply h-11 text-0;
  --calcite-chip-spacing-unit-l: theme("spacing.4");
  --calcite-chip-spacing-unit-s: theme("spacing.2");
  .chip-image-container {
    @apply h-8 w-8 pl-1;
  }
}

:host([scale="m"]) .calcite--rtl .chip-image-container {
  @apply pl-0 pr-1;
}

:host([scale="l"]) .calcite--rtl .chip-image-container {
  @apply pl-0 pr-1;
}

:host {
  @apply inline-flex
    items-center
    border
    border-solid
    border-color-1
    text-color-1
    font-medium
    cursor-default
    rounded-full
    box-border;
  --calcite-chip-button-border-radius: 0 50px 50px 0;
}

.container {
  @apply inline-flex items-center h-full;
}

.calcite--rtl {
  @apply text-right;
  --calcite-chip-button-border-radius: 50px 0 0 50px;
}

:host span {
  padding: 0 var(--calcite-chip-spacing-unit-l);
}

:host([dismissible]) span {
  padding: 0 var(--calcite-chip-spacing-unit-s) 0 var(--calcite-chip-spacing-unit-l);
}

:host([dismissible]) .calcite--rtl span {
  padding: 0 var(--calcite-chip-spacing-unit-l) 0 var(--calcite-chip-spacing-unit-s);
}

:host([icon]:not([dismissible])) span {
  padding: 0 var(--calcite-chip-spacing-unit-l);
}

:host([icon]:not([dismissible])) .calcite--rtl span {
  padding: 0 var(--calcite-chip-spacing-unit-l);
}

:host button {
  @apply m-0
    bg-transparent
    focus-base
    inline-flex
    min-h-full
    max-h-full
    self-stretch
    items-center
    border-none
    cursor-pointer
    transition-default    
    text-color-1;
  -webkit-appearance: none;
  border-radius: var(--calcite-chip-button-border-radius);
  padding: 0 var(--calcite-chip-spacing-unit-s);
  color: inherit;

  // close button focus styles
  --calcite-chip-transparent-hover: var(--calcite-button-transparent-hover);
  --calcite-chip-transparent-press: var(--calcite-button-transparent-press);
  &:hover {
    background-color: var(--calcite-chip-transparent-hover);
  }
  &:focus {
    background-color: var(--calcite-chip-transparent-hover);
    @apply focus-inset;
  }
  &:active {
    background-color: var(--calcite-chip-transparent-press);
  }
}

//slotted image
.chip-image-container {
  @apply rounded-half overflow-hidden inline-flex;
}

:host slot[name="image"]::slotted(*) {
  @apply flex h-full w-full rounded-half overflow-hidden;
}

//icon
.calcite-chip--icon {
  @apply inline-flex
    relative
    my-0
    mr-0
    duration-150
    ease-in-out;
  margin-left: var(--calcite-chip-spacing-unit-l);
  border-radius: var(--calcite-chip-button-border-radius);
}

.calcite--rtl .calcite-chip--icon {
  @apply my-0 ml-0;
  margin-right: var(--calcite-chip-spacing-unit-l);
}

// solid
:host([color="blue"][appearance="solid"]) {
  border-color: transparent;
  background-color: var(--calcite-ui-info);
  color: var(--calcite-ui-text-inverse);
}

:host([color="red"][appearance="solid"]) {
  border-color: transparent;
  background-color: var(--calcite-ui-danger);
  color: var(--calcite-ui-text-inverse);
}

:host([color="yellow"][appearance="solid"]) {
  border-color: transparent;
  background-color: var(--calcite-ui-warning);
  color: $blk-220;
}

:host([color="green"][appearance="solid"]) {
  border-color: transparent;
  background-color: var(--calcite-ui-success);
  color: $blk-220;
}

:host([color="grey"][appearance="solid"]) {
  border-color: transparent;
  background-color: var(--calcite-ui-foreground-2);
  color: var(--calcite-ui-text-1);
  button,
  calcite-icon {
    color: var(--calcite-ui-text-3);
  }
}

// clear
:host([color="blue"][appearance="clear"]) {
  border-color: var(--calcite-ui-info);
  .calcite-chip--icon {
    color: var(--calcite-ui-info);
  }
}

:host([color="red"][appearance="clear"]) {
  border-color: var(--calcite-ui-danger);
  .calcite-chip--icon {
    color: var(--calcite-ui-danger);
  }
}

:host([color="yellow"][appearance="clear"]) {
  border-color: var(--calcite-ui-warning);
  .calcite-chip--icon {
    color: var(--calcite-ui-warning);
  }
}

:host([color="green"][appearance="clear"]) {
  border-color: var(--calcite-ui-success);
  .calcite-chip--icon {
    color: var(--calcite-ui-success);
  }
}

:host([color="grey"][appearance="clear"]) {
  border-color: var(--calcite-ui-border-1);
  .calcite-chip--icon {
    color: var(--calcite-ui-text-3);
  }
}
