:host {
  --calcite-rating-spacing-unit: theme("spacing.2");
  @apply flex items-center relative;
  width: fit-content;
}

:host([scale="s"]) {
  --calcite-rating-spacing-unit: theme("spacing.1");
}

:host([scale="l"]) {
  --calcite-rating-spacing-unit: theme("spacing.3");
}

:host([disabled]) {
  @apply pointer-events-none opacity-50;
}

:host([read-only]) {
  @apply pointer-events-none;
}

.fieldset {
  @apply p-0 m-0 border-0 inline-block;
}

.wrapper {
  display: inline-block;
  margin-right: var(--calcite-rating-spacing-unit);
}

.calcite--rtl .wrapper {
  @apply mr-0;
  margin-left: var(--calcite-rating-spacing-unit);
}

.star {
  @include focus-style-base();
  @apply relative inline-block cursor-pointer;
  color: theme("borderColor.color.1");
  transition: $transition;
  transform: scale(1);
  &:active {
    transform: scale(1.1);
  }
}

.focused {
  @include focus-style-outset();
}

.average,
.fraction {
  color: theme("colors.warning");
}

.hovered,
.selected,
:host([read-only]) .average,
:host([read-only]) .fraction {
  color: theme("colors.brand");
}

.hovered:not(.selected) {
  transform: scale(0.9);
}

:host .fraction {
  @apply absolute overflow-hidden pointer-events-none top-0 left-0;
  transition: $transition;
}

.calcite--rtl .fraction {
  @apply right-0 left-auto;
}

// rating count
calcite-chip {
  @apply cursor-default pointer-events-none;
}

.number--average {
  @apply font-bold;
}

.number--count {
  @apply text-color-2;
  font-style: italic;
  &:not(:first-child) {
    margin-left: var(--calcite-rating-spacing-unit);
  }
}

.calcite--rtl .number--count:not(:first-child) {
  @apply ml-0;
  margin-right: var(--calcite-rating-spacing-unit);
}

.visually-hidden {
  @apply sr-only;
}
