@mixin sr-only() {
  position: absolute;
  inline-size: var(--calcite-border-width-sm);
  block-size: var(--calcite-border-width-sm);
  padding: 0;
  margin: calc(-1 * var(--calcite-border-width-sm));
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
