:host {
  @extend %component-host;
  background-color: var(--calcite-ui-background);
  display: flex;
  height: 100%;
  width: 100%;
}

calcite-panel {
  width: 100%;
  height: 100%;
}

.leading-actions {
  display: flex;
}

.header-content {
  display: block;
  .heading,
  .summary {
    padding: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  .heading {
    color: var(--calcite-ui-text-3);
    font-weight: var(--calcite-ui-text-weight-demi);
    margin: 0 0 var(--calcite-spacing-quarter);
    @include font-size(-2);
    &:only-child {
      margin-bottom: 0;
    }
  }
  .summary {
    color: var(--calcite-ui-text-3);
    @include font-size(-4);
  }
}

.menu-button {
  align-self: stretch;
  flex: 0 1 auto;
  height: 100%;
  position: relative;
}

.header-actions,
.single-action-container {
  display: flex;
}

.menu {
  min-width: var(--calcite-menu-min-width);
  flex-flow: column nowrap;
}

.footer-actions {
  display: flex;
  width: 100%;
}

.fab-container {
  display: inline-block;
}
