/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *

 * @prop --calcite-pagination-background-color-active: Specifies the background color of the pagination items while active.
 * @prop --calcite-pagination-background-color-hover: Specifies the background color of the pagination items while hovered.
 * @prop --calcite-pagination-background-color: Specifies the background color of the pagination items.
 * @prop --calcite-pagination-border-color-hover: Specifies the border color the pagination items while hovered.
 * @prop --calcite-pagination-border-color-selected: Specifies the border color of the pagination items when selected.
 * @prop --calcite-pagination-text-color-hover: Specifies the text color of the pagination items items while hovered.
 * @prop --calcite-pagination-text-color-selected: Specifies the text color of the pagination items when selected.
 * @prop --calcite-pagination-text-color: Specifies the text color of the pagination items.
 * @prop --calcite-pagination-arrow-background-color-active: Specifies the background color of the arrow items while active.
 * @prop --calcite-pagination-arrow-background-color-hover: Specifies the background color of the arrow items while hovered.
 * @prop --calcite-pagination-arrow-background-color: Specifies the background color of the arrow items.
 * @prop --calcite-pagination-arrow-text-color-hover: Specifies the text color of the arrow items while hovered.
 * @prop --calcite-pagination-arrow-text-color: Specifies the text color of the arrow items.
 *
 */

/**
  * Local props
  * These properties are intended for internal component use only. It is not recommended that these properties be overwritten.
  *
  * --calcite-internal-pagination-item-size
  * --calcite-internal-pagination-item-space
*/

:host {
  @apply flex;
  writing-mode: horizontal-tb;
  --calcite-pagination-background-color-active: transparent;
  --calcite-pagination-background-color-hover: transparent;
  --calcite-pagination-background-color: transparent;
  --calcite-pagination-border-color-hover: var(--calcite-color-border-2);
  --calcite-pagination-border-color-selected: var(--calcite-color-brand);
  --calcite-pagination-text-color-hover: var(--calcite-color-text-1);
  --calcite-pagination-text-color-selected: var(--calcite-color-text-1);
  --calcite-pagination-text-color: var(--calcite-color-text-3);
  --calcite-pagination-arrow-background-color-active: var(--calcite-color-foreground-3);
  --calcite-pagination-arrow-background-color-hover: var(--calcite-color-foreground-2);
  --calcite-pagination-arrow-background-color: var(--calcite-pagination-background-color);
  --calcite-pagination-arrow-text-color-hover: var(--calcite-color-brand);
  --calcite-pagination-arrow-text-color: var(--calcite-pagination-text-color);
}

:host([scale="s"]) {
  --calcite-internal-pagination-item-size: theme("width.6");
  --calcite-internal-pagination-item-space: theme("width.1");

  & .chevron,
  & .page,
  & .ellipsis {
    @apply text-n2h;
  }
}

:host([scale="m"]) {
  --calcite-internal-pagination-item-size: theme("width.8");
  --calcite-internal-pagination-item-space: theme("width.2");

  & .chevron,
  & .page,
  & .ellipsis {
    @apply text-n1h;
  }
}

:host([scale="l"]) {
  --calcite-internal-pagination-item-size: theme("width.11");
  --calcite-internal-pagination-item-space: theme("width.3");

  & .chevron,
  & .page,
  & .ellipsis {
    @apply text-0h;
  }

  & .chevron {
    @apply px-2.5;
  }
}
.chevron,
.page,
.ellipsis {
  inline-size: var(--calcite-internal-pagination-item-size);
  block-size: var(--calcite-internal-pagination-item-size);
}

// focus styles
:host button {
  @apply focus-base;
  &:focus {
    @apply focus-inset;
  }
}

.chevron,
.page,
.ellipsis {
  @apply text-0h
    font-inherit
    box-border
    flex
    items-center
    border-none
    border-opacity-0
    justify-center
    align-baseline;
  padding: 0;
  margin: 0;
  padding-inline: var(--calcite-internal-pagination-item-space);
  color: var(--calcite-pagination-text-color);
  background-color: var(--calcite-pagination-background-color);
}

.chevron,
.page {
  @apply cursor-pointer;
  border-block: 2px solid transparent;

  &:hover {
    @apply transition-default;
    color: var(--calcite-pagination-text-color-hover);
    background-color: var(--calcite-pagination-background-color-hover);
  }
  &:active {
    background-color: var(--calcite-pagination-border-color-active);
  }
}

.page {
  &:hover {
    border-block-end-color: var(--calcite-pagination-border-color-hover);
  }
  &.selected {
    font-weight: var(--calcite-font-weight-medium);
    color: var(--calcite-pagination-text-color-selected);
    border-block-end-color: var(--calcite-pagination-border-color-selected);
  }
}

.chevron {
  background-color: var(--calcite-pagination-arrow-background-color);
  &:hover {
    background-color: var(--calcite-pagination-arrow-background-color-hover);
    color: var(--calcite-pagination-arrow-text-color-hover);
  }
  &:active {
    background-color: var(--calcite-pagination-arrow-background-color-active);
    color: var(--calcite-pagination-arrow-text-color-hover);
  }
  &.disabled {
    @apply pointer-events-none;
    & > calcite-icon {
      @apply opacity-disabled;
    }
  }
}

@include base-component();
