:host {
  @apply flex flex-1;
  writing-mode: horizontal-tb;
}

:host([scale="s"]) {
  & .previous,
  & .next,
  & .page,
  & .ellipsis {
    @apply text-n2h h-6 px-1;
    min-inline-size: theme("width.6");
  }
}

:host([scale="m"]) {
  & .previous,
  & .next,
  & .page,
  & .ellipsis {
    @apply text-n1h h-8 px-2;
    min-inline-size: theme("width.8");
  }
}

:host([scale="l"]) {
  & .previous,
  & .next,
  & .page,
  & .ellipsis {
    @apply text-0h h-11 px-3;
    min-inline-size: theme("width.11");
  }
}

// focus styles
:host button {
  @apply focus-base;
  &:focus {
    @apply focus-inset;
  }
}

.previous,
.next,
.page,
.ellipsis {
  @apply text-0h
    text-color-3
    font-inherit
    box-border
    flex
    items-center
    border-none
    border-opacity-0
    justify-center
    align-baseline
    bg-transparent;
}

.previous,
.next,
.page {
  @apply cursor-pointer;
  border-block: 2px solid transparent;

  &:hover {
    @apply text-color-1 transition-default;
  }
}

.page {
  &:hover {
    @apply border-b-color-2;
  }
  &.is-selected {
    @apply text-color-1 border-b-color-brand font-medium;
  }
}

.previous,
.next {
  &:hover {
    @apply bg-foreground-2;
    color: theme("backgroundColor.brand");
  }
  &:active {
    @apply bg-foreground-3;
  }
  &.is-disabled {
    @apply pointer-events-none bg-transparent;
    & > calcite-icon {
      @apply opacity-disabled;
    }
  }
}

@include base-component();
