/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *

 * @prop --calcite-pagination-background-color-active: Specifies the background color of the pagination items while active.
 * @prop --calcite-pagination-background-color-hover: Specifies the background color of the pagination items while hovered.
 * @prop --calcite-pagination-background-color: Specifies the background color of the pagination items.
 * @prop --calcite-pagination-border-color-hover: Specifies the border color the pagination items while hovered.
 * @prop --calcite-pagination-border-color-selected: Specifies the border color of the pagination items when selected.
 * @prop --calcite-pagination-text-color-hover: Specifies the text color of the pagination items items while hovered.
 * @prop --calcite-pagination-text-color-selected: Specifies the text color of the pagination items when selected.
 * @prop --calcite-pagination-text-color: Specifies the text color of the pagination items.
 * @prop --calcite-pagination-arrow-background-color-active: Specifies the background color of the arrow items while active.
 * @prop --calcite-pagination-arrow-background-color-hover: Specifies the background color of the arrow items while hovered.
 * @prop --calcite-pagination-arrow-background-color: Specifies the background color of the arrow items.
 * @prop --calcite-pagination-arrow-icon-color-active: Specifies the icon color of the arrow items while active.
 * @prop --calcite-pagination-arrow-icon-color-hover: Specifies the icon color of the arrow items while hovered.
 * @prop --calcite-pagination-arrow-icon-color: Specifies the icon color of the arrow items.
 *
 */
/**
  * Local props
  * These properties are intended for internal component use only. It is not recommended that these properties be overwritten.
  *
  * --calcite-internal-pagination-item-size
  * --calcite-internal-pagination-item-space
*/
:host {
  @apply flex;
  writing-mode: horizontal-tb;
}

:host([scale="s"]) {
  --calcite-internal-pagination-item-size: var(--calcite-size-xxl);
  --calcite-internal-pagination-item-space: var(--calcite-size-xxs);

  & .chevron,
  & .page,
  & .ellipsis {
    @apply text-n2h;
  }
}

:host([scale="m"]) {
  --calcite-internal-pagination-item-size: var(--calcite-size-xxxl);
  --calcite-internal-pagination-item-space: var(--calcite-size-sm);

  & .chevron,
  & .page,
  & .ellipsis {
    @apply text-n1h;
  }
}

:host([scale="l"]) {
  --calcite-internal-pagination-item-size: #{$calcite-size-44};
  --calcite-internal-pagination-item-space: var(--calcite-size-md);

  & .chevron,
  & .page,
  & .ellipsis {
    @apply text-0h;
  }

  & .chevron {
    @apply px-2.5;
  }
}

// focus styles
:host button {
  @apply focus-base;
  &:focus {
    @apply focus-inset;
  }
}

.chevron,
.page,
.ellipsis {
  @apply text-0h
    font-inherit
    box-border
    flex
    items-center
    border-none
    border-opacity-0
    justify-center
    align-baseline;
  padding: 0;
  margin: 0;
  min-inline-size: var(--calcite-internal-pagination-item-size);
  block-size: var(--calcite-internal-pagination-item-size);
  padding-inline: var(--calcite-internal-pagination-item-space);
  color: var(--calcite-pagination-text-color, var(--calcite-color-text-3));
  background-color: var(--calcite-pagination-background-color, transparent);
}

.chevron,
.page {
  @apply cursor-pointer;
  border-block: 2px solid transparent;

  &:hover {
    @apply transition-default;
    color: var(--calcite-pagination-text-color-hover, var(--calcite-color-text-1));
    background-color: var(--calcite-pagination-background-color-hover, transparent);
  }
  &:active {
    background-color: var(--calcite-pagination-background-color-active, transparent);
  }
}

.page {
  &:hover {
    border-block-end-color: var(--calcite-pagination-border-color-hover, var(--calcite-color-border-2));
  }

  &.selected {
    font-weight: var(--calcite-font-weight-medium);
    color: var(--calcite-pagination-text-color-selected, var(--calcite-color-text-1));
    border-block-end-color: var(--calcite-pagination-border-color-selected, var(--calcite-color-brand));
  }
}

.chevron {
  background-color: var(
    --calcite-pagination-arrow-background-color,
    var(--calcite-pagination-background-color, transparent)
  );
  color: var(--calcite-pagination-text-color, var(--calcite-color-text-3));
  &:hover {
    background-color: var(--calcite-pagination-arrow-background-color-hover);
    color: var(--calcite-pagination-arrow-icon-color-hover, var(--calcite-color-brand));
  }
  &:active {
    background-color: var(--calcite-pagination-arrow-background-color-active, var(--calcite-color-foreground-3));
    color: var(--calcite-pagination-arrow-icon-color-active, var(--calcite-color-brand));
  }
  &.disabled {
    @apply pointer-events-none;
    & > calcite-icon {
      @apply opacity-disabled;
    }
  }
}

@include base-component();
