// theme variables
// light theme
:host {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  --calcite-blue-accessible: #{$h-bb-070};
  --calcite-red-accessible: #{$h-rr-070};
  --calcite-button-light: #{$blk-020};
  --calcite-button-light-hover: #{$blk-010};
  --calcite-button-light-press: #{$blk-030};
  --calcite-button-dark: #{$blk-180};
  --calcite-button-dark-hover: #{$blk-170};
  --calcite-button-dark-press: #{$blk-190};
  --calcite-button-blue-inline-underline: #{rgba($ui-blue, 0.2)};
  --calcite-button-red-inline-underline: #{rgba($ui-red, 0.2)};
  --calcite-button-blue-solid-color: #{$blk-000};
  --calcite-button-red-solid-color: #{$blk-000};
  --calcite-button-outline-color: #{$blk-230};
  --calcite-button-outline-color-press: #{$blk-230};
}

// dark theme
:host-context([theme="dark"]) {
  --calcite-blue-accessible: #{$d-bb-420};
  --calcite-red-accessible: #{$d-rr-420};
  --calcite-button-light: #{$blk-020};
  --calcite-button-light-hover: #{$blk-030};
  --calcite-button-light-press: #{$blk-010};
  --calcite-button-dark: #{$blk-180};
  --calcite-button-dark-hover: #{$blk-190};
  --calcite-button-dark-press: #{$blk-170};
  --calcite-button-blue-inline-underline: #{rgba($ui-blue-dark, 0.2)};
  --calcite-button-red-inline-underline: #{rgba($ui-red-dark, 0.2)};
  --calcite-button-blue-solid-color: #{$blk-230};
  --calcite-button-red-solid-color: #{$blk-230};
  --calcite-button-outline-color: #{$blk-000};
  --calcite-button-outline-color-press: #{$blk-000};
}

// inline parent
:host([appearance="inline"]) {
  display: inline;
}

// fab variants
:host([round]) {
  border-radius: 50px;
  & a,
  & button {
    border-radius: 50px;
  }
}

:host([floating]) {
  & a,
  & button {
    box-shadow: $shadow-2;
    &:hover {
      box-shadow: $shadow-2--hover;
    }
    &:active {
      box-shadow: $shadow-2--press;
    }
  }
}

// button base
:host button,
:host a,
:host span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $baseline/4 1rem;
  text-decoration: none;
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: none;
  user-select: none;
  line-height: inherit;
  font-family: inherit;
  -webkit-appearance: none;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.15s ease-in-out;
  &:hover {
    text-decoration: none;
  }
}

// button scale
@mixin btn-scale($font-size, $padding-y, $padding-x) {
  padding: $padding-y $padding-x;
  @include font-size($font-size);
}

@mixin btn-scale-notext($font-size, $size) {
  height: $size;
  width: $size;
  padding: $baseline/8;
  @include font-size($font-size);
}

// button width
:host([width="auto"]) {
  width: auto;
}

:host([width="half"]) {
  width: 50%;
}

:host([width="full"]) {
  width: 100%;
}

.calcite-button--icon {
  display: inline-flex;
  position: relative;
  margin: 0;
  line-height: inherit;
  transition: $transition;
}

// disabled styles
:host([disabled]) {
  button,
  span,
  a {
    pointer-events: none;
    opacity: 0.4;
  }
}
// icon positioning and styles
:host([hastext][icon-position="start"]) .calcite-button--icon {
  margin-right: $baseline/3;
}

:host([hastext][icon-position="start"][dir="rtl"]) .calcite-button--icon {
  margin-right: 0;
  margin-left: $baseline/3;
}

:host([hastext][icon-position="end"]) .calcite-button--icon {
  margin-left: $baseline/3;
}

:host([hastext][icon-position="end"][dir="rtl"]) .calcite-button--icon {
  margin-left: 0;
  margin-right: $baseline/3;
}

:host([appearance="inline"][icon-position="start"]) .calcite-button--icon {
  margin-right: $baseline/4;
}

:host([appearance="inline"][icon-position="start"][dir="rtl"])
  .calcite-button--icon {
  margin-left: $baseline/4;
  margin-right: 0;
}

:host([appearance="inline"][icon-position="end"]) .calcite-button--icon {
  margin-left: $baseline/4;
}
:host([appearance="inline"][icon-position="end"][dir="rtl"])
  .calcite-button--icon {
  margin-left: 0;
  margin-right: $baseline/4;
}

.calcite-button--loader {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  calcite-loader {
    margin: 0;
  }
}

:host([loading]) {
  button,
  a {
    color: transparent !important;
    pointer-events: none;
    .calcite-button--icon {
      opacity: 0;
    }
  }
}

// button styles
// solid
@mixin btn-solid($bg-color, $bg-color-hover, $bg-color-press, $color) {
  color: $color;
  background-color: $bg-color;
  border: 1px solid transparent;
  &:hover,
  &:focus {
    background-color: $bg-color-hover;
  }
  &:active {
    background-color: $bg-color;
  }
  & .calcite-button--icon {
    fill: $color;
  }
  & calcite-loader {
    color: $color;
  }
}

:host([appearance="solid"][color="blue"]) {
  button,
  a {
    @include btn-solid(
      var(--calcite-ui-blue),
      var(--calcite-ui-blue-hover),
      var(--calcite-ui-blue-press),
      var(--calcite-button-blue-solid-color)
    );
  }
}
:host([appearance="solid"][color="red"]) {
  button,
  a {
    @include btn-solid(
      var(--calcite-ui-red),
      var(--calcite-ui-red-hover),
      var(--calcite-ui-red-press),
      var(--calcite-button-red-solid-color)
    );
  }
}
:host([appearance="solid"][color="light"]) {
  button,
  a {
    @include btn-solid(
      var(--calcite-button-light),
      var(--calcite-button-light-hover),
      var(--calcite-button-light-press),
      $blk-220
    );
  }
}
:host([appearance="solid"][color="dark"]) {
  button,
  a {
    @include btn-solid(
      var(--calcite-button-dark),
      var(--calcite-button-dark-hover),
      var(--calcite-button-dark-press),
      $blk-000
    );
  }
}

// outline and clear
@mixin btn-outline-clear(
  $bg-color,
  $border-color,
  $border-color-hover,
  $border-color-press,
  $color,
  $color-press
) {
  color: $color;
  background-color: $bg-color;
  border: 1px solid $border-color;
  box-shadow: inset 0 0 0 1px transparent;
  &:hover {
    border-color: $border-color;
    box-shadow: inset 0 0 0 1px $border-color;
  }
  &:active,
  &:focus {
    color: $color-press;
    border-color: $border-color-press;
    box-shadow: inset 0 0 0 2px $border-color-press;
    & .calcite-button--icon {
      fill: $color-press;
    }
  }
  & .calcite-button--icon {
    fill: $color;
  }
  & calcite-loader {
    color: $color;
  }
}
// outline and clear floating
@mixin btn-outline-clear-floating(
  $bg-color,
  $border-color,
  $border-color-hover,
  $border-color-press,
  $color,
  $color-press
) {
  color: $color;
  background-color: $bg-color;
  border: 1px solid $border-color;
  box-shadow: inset 0 0 0 1px transparent, $shadow-2;
  &:hover {
    border-color: 1px solid $border-color;
    box-shadow: inset 0 0 0 1px $border-color, $shadow-2--hover;
  }
  &:active,
  &:focus {
    color: $color-press;
    border-color: $border-color-press;
    box-shadow: inset 0 0 0 2px $border-color-press, $shadow-2--press;
    & .calcite-button--icon {
      fill: $color-press;
    }
  }
  & .calcite-button--icon {
    fill: $color;
  }
  & calcite-loader {
    color: $color;
  }
}

:host([appearance="outline"][color="blue"]:not([floating])) {
  button,
  a {
    @include btn-outline-clear(
      var(--calcite-ui-foreground),
      var(--calcite-blue-accessible),
      var(--calcite-ui-blue-hover),
      var(--calcite-ui-blue-press),
      var(--calcite-blue-accessible),
      var(--calcite-ui-blue-press)
    );
  }
}
:host([appearance="outline"][color="red"]:not([floating])) {
  button,
  a {
    @include btn-outline-clear(
      var(--calcite-ui-foreground),
      var(--calcite-red-accessible),
      var(--calcite-ui-red-hover),
      var(--calcite-ui-red-press),
      var(--calcite-red-accessible),
      var(--calcite-ui-red-press)
    );
  }
}
:host([appearance="outline"][color="light"]:not([floating])) {
  button,
  a {
    @include btn-outline-clear(
      var(--calcite-ui-foreground),
      $blk-020,
      $blk-010,
      $blk-030,
      var(--calcite-button-outline-color),
      var(--calcite-button-outline-press)
    );
  }
}
:host([appearance="outline"][color="dark"]:not([floating])) {
  button,
  a {
    @include btn-outline-clear(
      var(--calcite-ui-foreground),
      $blk-190,
      $blk-170,
      $blk-210,
      var(--calcite-button-outline-color),
      var(--calcite-button-outline-press)
    );
  }
}
:host([appearance="clear"][color="blue"]:not([floating])) {
  button,
  a {
    @include btn-outline-clear(
      transparent,
      var(--calcite-blue-accessible),
      var(--calcite-ui-blue-hover),
      var(--calcite-ui-blue-press),
      var(--calcite-blue-accessible),
      var(--calcite-ui-blue-press)
    );
  }
}
:host([appearance="clear"][color="red"]:not([floating])) {
  button,
  a {
    @include btn-outline-clear(
      transparent,
      var(--calcite-red-accessible),
      var(--calcite-ui-red-hover),
      var(--calcite-ui-red-press),
      var(--calcite-red-accessible),
      var(--calcite-ui-red-press)
    );
  }
}
:host([appearance="clear"][color="light"]:not([floating])) {
  button,
  a {
    @include btn-outline-clear(
      transparent,
      $blk-020,
      $blk-010,
      $blk-030,
      $blk-005,
      $blk-000
    );
  }
}
:host([appearance="clear"][color="dark"]:not([floating])) {
  button,
  a {
    @include btn-outline-clear(
      transparent,
      $blk-190,
      $blk-170,
      $blk-210,
      $blk-220,
      $blk-220
    );
  }
}
// floating variants
:host([appearance="outline"][color="blue"]) {
  button,
  a {
    @include btn-outline-clear-floating(
      var(--calcite-ui-foreground),
      var(--calcite-blue-accessible),
      var(--calcite-ui-blue-hover),
      var(--calcite-ui-blue-press),
      var(--calcite-blue-accessible),
      var(--calcite-ui-blue-press)
    );
  }
}
:host([appearance="outline"][color="red"]) {
  button,
  a {
    @include btn-outline-clear-floating(
      var(--calcite-ui-foreground),
      var(--calcite-red-accessible),
      var(--calcite-ui-red-hover),
      var(--calcite-ui-red-press),
      var(--calcite-red-accessible),
      var(--calcite-ui-red-press)
    );
  }
}
:host([appearance="outline"][color="light"]) {
  button,
  a {
    @include btn-outline-clear-floating(
      var(--calcite-ui-foreground),
      $blk-020,
      $blk-010,
      $blk-030,
      var(--calcite-button-outline-color),
      var(--calcite-button-outline-press)
    );
  }
}
:host([appearance="outline"][color="dark"]) {
  button,
  a {
    @include btn-outline-clear-floating(
      var(--calcite-ui-foreground),
      $blk-190,
      $blk-170,
      $blk-210,
      var(--calcite-button-outline-color),
      var(--calcite-button-outline-press)
    );
  }
}
:host([appearance="clear"][color="blue"]) {
  button,
  a {
    @include btn-outline-clear-floating(
      transparent,
      var(--calcite-blue-accessible),
      var(--calcite-ui-blue-hover),
      var(--calcite-ui-blue-press),
      var(--calcite-blue-accessible),
      var(--calcite-ui-blue-press)
    );
  }
}
:host([appearance="clear"][color="red"]) {
  button,
  a {
    @include btn-outline-clear-floating(
      transparent,
      var(--calcite-red-accessible),
      var(--calcite-ui-red-hover),
      var(--calcite-ui-red-press),
      var(--calcite-red-accessible),
      var(--calcite-ui-red-press)
    );
  }
}
:host([appearance="clear"][color="light"]) {
  button,
  a {
    @include btn-outline-clear-floating(
      transparent,
      $blk-020,
      $blk-010,
      $blk-030,
      $blk-005,
      $blk-000
    );
  }
}
:host([appearance="clear"][color="dark"]) {
  button,
  a {
    @include btn-outline-clear-floating(
      transparent,
      $blk-190,
      $blk-170,
      $blk-210,
      $blk-220,
      $blk-220
    );
  }
}

// transparent
@mixin btn-transparent($color, $color-hover, $color-press) {
  color: $color;
  background-color: transparent;
  border: 1px solid transparent;
  &:hover {
    color: $color-hover;
    & .calcite-button--icon {
      fill: $color-hover;
    }
  }
  &:active,
  &:focus {
    color: $color-press;
    & .calcite-button--icon {
      fill: $color-press;
    }
  }
  & .calcite-button--icon {
    fill: $color;
  }
  & calcite-loader {
    color: $color;
  }
}

:host([appearance="transparent"][color="blue"]) {
  button,
  a {
    @include btn-transparent(
      var(--calcite-blue-accessible),
      var(--calcite-ui-blue-hover),
      var(--calcite-ui-blue-press)
    );
  }
}

:host([appearance="transparent"][color="red"]) {
  button,
  a {
    @include btn-transparent(
      var(--calcite-red-accessible),
      var(--calcite-ui-red-hover),
      var(--calcite-ui-red-press)
    );
  }
}
:host([appearance="transparent"][color="light"]) {
  button,
  a {
    @include btn-transparent($blk-010, $blk-000, $blk-020);
  }
}
:host([appearance="transparent"][color="dark"]) {
  button,
  a {
    @include btn-transparent($blk-200, $blk-180, $blk-220);
  }
}

// inline
@mixin btn-inline($color, $color-hover, $border-color) {
  display: inline;
  padding: 0;
  outline: none;
  border: none;
  color: $color;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  white-space: initial;
  user-select: text;
  background-color: transparent;
  position: relative;
  background-image: linear-gradient(currentColor, currentColor),
    linear-gradient($border-color, $border-color);
  background-position: 0% 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-size: 0% 1px, 100% 1px;
  transition: all 0.15s ease-in-out, background-size 0.3s ease-in-out;

  &:hover,
  &:focus {
    color: $color-hover;
    background-size: 100% 1px, 100% 1px;
    & .calcite-button--icon {
      fill: $color-hover;
    }
  }
  &:active {
    color: $color;
    background-size: 100% 1px, 100% 1px;
  }
  & calcite-loader {
    color: $color;
  }
}

:host([appearance="inline"][color="blue"]) {
  span,
  a {
    @include btn-inline(
      var(--calcite-blue-accessible),
      var(--calcite-ui-blue-hover),
      var(--calcite-button-blue-inline-underline)
    );
  }
}

:host([appearance="inline"][color="red"]) {
  span,
  a {
    @include btn-inline(
      var(--calcite-red-accessible),
      var(--calcite-ui-red-hover),
      var(--calcite-button-red-inline-underline)
    );
  }
}
:host([appearance="inline"][color="light"]) {
  span,
  a {
    @include btn-inline($blk-010, $blk-000, rgba($blk-000, 0.2));
  }
}
:host([appearance="inline"][color="dark"]) {
  span,
  a {
    @include btn-inline($blk-200, $blk-180, rgba($blk-180, 0.2));
  }
}
:host([appearance="inline"][dir="rtl"]) {
  span,
  a {
    background-position: 100% 100%, 100% 100%;
  }
}

// generate button scales
$btnScales: "xs" -3 calc(#{$baseline}/ 6) calc(#{$baseline}* 0.3),
  "s" -2 calc(#{$baseline}/ 4) calc(#{$baseline}* 0.5),
  "m" -1 calc(#{$baseline}/ 3) calc(#{$baseline}* 0.75),
  "l" 1 calc(#{$baseline} / 2) calc(#{$baseline}* 1),
  "xl" 2 calc(#{$baseline} / 1.5) calc(#{$baseline}* 1.25);

@each $btnScale in $btnScales {
  $name: nth($btnScale, 1);
  $font-size: nth($btnScale, 2);
  $padding-y: nth($btnScale, 3);
  $padding-x: nth($btnScale, 4);

  :host([hastext][scale="#{$name}"]:not([appearance="inline"])) button,
  :host([hastext][scale="#{$name}"]:not([appearance="inline"])) a {
    @include btn-scale($font-size, $padding-y, $padding-x);
  }
}

// generate fab scales
$btnScales2: "xs" -3 calc(#{$baseline}* 1.5), "s" -2 calc(#{$baseline}* 1.75),
  "m" -1 calc(#{$baseline}* 2), "l" 1 calc(#{$baseline} * 2.25),
  "xl" 2 calc(#{$baseline} * 2.5);

@each $btnScale in $btnScales2 {
  $name: nth($btnScale, 1);
  $font-size: nth($btnScale, 2);
  $size: nth($btnScale, 3);

  :host([scale="#{$name}"]:not([hastext])) button,
  :host([scale="#{$name}"]:not([hastext])) a {
    @include btn-scale-notext($font-size, $size);
  }
}
