:host {
  @extend %component-host;
  align-items: stretch;
  background-color: transparent;
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  padding-bottom: var(--calcite-cap-spacing);
  position: relative;
}

header {
  background-color: var(--calcite-ui-foreground-1);
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  margin-bottom: var(--calcite-spacing-quarter);
  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  @include borderShadow();
}

calcite-filter {
  margin-bottom: 1px;
}

calcite-scrim {
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  pointer-events: none;
}

:host([loading][disabled]) {
  min-height: 2rem;
}
