/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-table-header-background: Specifies the background color of the component.
 * @prop --calcite-table-header-border-color: Specifies the border color of the component.
 */

:host {
  --calcite-table-header-background-internal: var(--calcite-table-header-background, var(--calcite-ui-foreground-2));
  --calcite-table-header-border-color-internal: var(--calcite-table-border-color, var(--calcite-ui-border-3));
  @apply contents;
}

:host([alignment="center"]) th {
  @apply text-center;
}

:host([alignment="end"]) th {
  @apply text-end;
}

.assistive-text {
  @apply sr-only;
}

th {
  @apply text-color-1 focus-base text-start font-medium align-middle;
  font-size: var(--calcite-table-cell-font-size-internal);
  border-inline-end: 1px solid var(--calcite-table-header-border-color-internal);
  border-block-end: 1px solid var(--calcite-table-header-border-color-internal);
  padding-block: calc(var(--calcite-table-cell-padding-internal) * 1.5);
  padding-inline: var(--calcite-table-cell-padding-internal);
  background-color: var(--calcite-table-header-background-internal);
  &:focus-within {
    @apply focus-inset;
  }
}

th.body-row {
  border-block-end: 0;
  border-block-start: 0;
}

.cell--multiple-selection {
  @apply cursor-pointer align-middle text-color-3;
}

.number-cell,
.selection-cell {
  inline-size: 2rem;
  min-inline-size: 2rem;
}

.selection-cell calcite-icon.active {
  color: var(--calcite-ui-brand);
}
.number-cell calcite-icon,
.selection-cell calcite-icon {
  @apply ms-auto me-auto align-middle;
}

.heading {
  @apply text-color-1;
}

.description {
  @apply text-color-3;
  font-size: var(--calcite-table-cell-font-size-secondary-internal);
}
