/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-table-header-background: [Deprecated] Use the `--calcite-table-header-background-color` property instead. Specifies the background color of the component.
 * @prop --calcite-table-header-background-color: Specifies the background color of the component.
 * @prop --calcite-table-header-border-color: Specifies the border color of the component.
 * @prop --calcite-table-header-heading-color: Specifies the heading color of the component.
 * @prop --calcite-table-header-description-color: Specifies the description color of the component.

 */

:host {
  @apply contents;
}

:host([alignment="center"]) th {
  @apply text-center;
}

:host([alignment="end"]) th {
  @apply text-end;
}

.assistive-text {
  @apply sr-only;
}

th {
  @apply text-start font-medium align-top whitespace-normal;
  border-block-end: 1px solid
    var(--calcite-table-header-border-color, var(--calcite-table-border-color, var(--calcite-color-border-3)));
  padding-block: calc(var(--calcite-internal-table-cell-padding) * 1.5);
  padding-inline: var(--calcite-internal-table-cell-padding);
  background-color: var(
    --calcite-table-header-background-color,
    var(--calcite-table-header-background, var(--calcite-color-foreground-2))
  );
  font-size: var(--calcite-internal-table-cell-font-size);
  border-inline-end: 1px solid
    var(--calcite-table-cell-border-color, var(--calcite-table-border-color, var(--calcite-color-border-3)));
  &:not(.static-cell) {
    @apply focus-base;
    &:not(.static-cell):focus-within {
      @apply focus-inset;
    }
  }
}

th.last-cell {
  border-inline-end: 0;
}

th.body-row,
th.footer-row {
  @apply align-middle;
  border-block-end: 0;
}

th.footer-row {
  border-block-start: 1px solid
    var(--calcite-table-header-border-color, var(--calcite-table-border-color, var(--calcite-color-border-3)));
}

.cell--multiple-selection {
  @apply cursor-pointer align-middle;
  color: var(--calcite-table-selection-cell-icon-color, var(--calcite-color-text-3));
  background-color: var(--calcite-table-selection-cell-background-color, var(--calcite-color-foreground-2));
  &.selected-cell {
    background-color: var(--calcite-table-selection-cell-background-color-selected, var(--calcite-color-foreground-2));
  }
}
.number-cell {
  background-color: var(
    --calcite-table-number-cell-background-color,
    var(--calcite-table-cell-background-color, var(--calcite-color-foreground-2))
  );
}

.number-cell,
.selection-cell {
  inline-size: 2rem;
  min-inline-size: 2rem;
}

.selection-cell calcite-icon.active {
  color: var(--calcite-table-selection-cell-icon-color-selected, var(--calcite-color-brand));
}

.number-cell calcite-icon,
.selection-cell calcite-icon {
  @apply ms-auto me-auto align-middle;
}

.heading {
  @apply text-color-1;
  color: var(--calcite-table-header-heading-color, var(--calcite-color-text-1));
}

.description {
  color: var(--calcite-table-header-description-color, var(--calcite-color-text-3));
  font-size: var(--calcite-internal-table-cell-font-size-secondary);
}
