/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-tab-content-space: Specifies the padding of the block `default` slot.
 */

:host([selected]) {
  section,
  .container {
    @apply block;
  }
}

:host {
  @apply hidden h-full w-full;
}

:host([selected]) {
  @apply block h-full w-full overflow-auto;
}

.content {
  @apply box-border;
}

.scale-s .content {
  @apply text-n2h;
  padding-block: var(--calcite-tab-content-space, theme("spacing.1"));
}

.scale-m .content {
  @apply text-n1h;
  padding-block: var(--calcite-tab-content-space, theme("spacing.2"));
}

.scale-l .content {
  @apply text-0h;
  padding-block: var(--calcite-tab-content-space, theme("spacing[2.5]"));
}

section,
.container {
  @apply hidden h-full w-full;
}

@include base-component();
