/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-inline-editable-background-color: Specifies the background color of the component.
 */
:host {
  --calcite-inline-editable-background-color: var(--calcite-ui-foreground-1);

  @apply block;
}

:host([scale="s"]) {
  --calcite-internal-inline-editable-size: 1.5rem;
}

:host([scale="m"]) {
  --calcite-internal-inline-editable-size: 2rem;
}

:host([scale="l"]) {
  --calcite-internal-inline-editable-size: 2.75rem;
}

:host(:not([editing-enabled]):not([disabled]):hover) {
  --calcite-inline-editable-background-color: var(--calcite-color-foreground-2);
}

.wrapper {
  background-color: var(--calcite-inline-editable-background-color);

  @apply transition-default
    box-border
    flex
    justify-between;

  .input-wrapper {
    @apply flex-1;
  }
}

.controls-wrapper {
  @apply flex;
  block-size: var(--calcite-internal-inline-editable-size);
}

@include disabled();
@include base-component();
