/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-inline-editable-background-color: Specifies the background color of the component.
 * @prop --calcite-inline-editable-cancel-button-background-color-active: Specifies the background color of the cancel button when active.
 * @prop --calcite-inline-editable-cancel-button-background-color-focus: Specifies the background color of the cancel button when focused.
 * @prop --calcite-inline-editable-cancel-button-background-color-hover: Specifies the background color of the cancel button when hovered.
 * @prop --calcite-inline-editable-cancel-button-background-color: Specifies the background color of the cancel button.
 * @prop --calcite-inline-editable-cancel-button-border-color-active: Specifies the border color of the cancel button when active.
 * @prop --calcite-inline-editable-cancel-button-border-color-focus: Specifies the border color of the cancel button when focused.
 * @prop --calcite-inline-editable-cancel-button-border-color-hover: Specifies the border color of the cancel button when hovered.
 * @prop --calcite-inline-editable-cancel-button-border-color: Specifies the border color of the cancel button.
 * @prop --calcite-inline-editable-cancel-button-icon-color-active: Specifies the icon color of the cancel button when active.
 * @prop --calcite-inline-editable-cancel-button-icon-color-focus: Specifies the icon color of the cancel button when focused.
 * @prop --calcite-inline-editable-cancel-button-icon-color-hover: Specifies the icon color of the cancel button when hovered.
 * @prop --calcite-inline-editable-cancel-button-icon-color: Specifies the icon color of the cancel button.
 * @prop --calcite-inline-editable-edit-button-background-color: Specifies the background color of the edit button.
 * @prop --calcite-inline-editable-edit-button-background-color-active: Specifies the background color of the edit button when active.
 * @prop --calcite-inline-editable-edit-button-background-color-focus: Specifies the background color of the edit button when focused.
 * @prop --calcite-inline-editable-edit-button-background-color-hover: Specifies the background color of the edit button when hovered.
 * @prop --calcite-inline-editable-edit-button-border-color-active: Specifies the border color of the edit button when active.
 * @prop --calcite-inline-editable-edit-button-border-color-focus: Specifies the border color of the edit button when focused.
 * @prop --calcite-inline-editable-edit-button-border-color-hover: Specifies the border color of the edit button when hovered.
 * @prop --calcite-inline-editable-edit-button-border-color: Specifies the border color of the edit button.
 * @prop --calcite-inline-editable-edit-button-icon-color-active: Specifies the icon color of the edit button when active.
 * @prop --calcite-inline-editable-edit-button-icon-color-focus: Specifies the icon color of the edit button when focused.
 * @prop --calcite-inline-editable-edit-button-icon-color-hover: Specifies the icon color of the edit button when hovered.
 * @prop --calcite-inline-editable-edit-button-icon-color: Specifies the icon color of the edit button.
 * @prop --calcite-inline-editable-ok-button-background-color-active: Specifies the background color of the OK button when active.
 * @prop --calcite-inline-editable-ok-button-background-color-focus: Specifies the background color of the OK button when focused.
 * @prop --calcite-inline-editable-ok-button-background-color-hover: Specifies the background color of the OK button when hovered.
 * @prop --calcite-inline-editable-ok-button-background-color: Specifies the background color of the OK button.
 * @prop --calcite-inline-editable-ok-button-border-color-active: Specifies the border color of the OK button when active.
 * @prop --calcite-inline-editable-ok-button-border-color-focus: Specifies the border color of the OK button when focused.
 * @prop --calcite-inline-editable-ok-button-border-color-hover: Specifies the border color of the OK button when hovered.
 * @prop --calcite-inline-editable-ok-button-border-color: Specifies the border color of the OK button.
 * @prop --calcite-inline-editable-ok-button-icon-color-active: Specifies the icon color of the OK button when active.
 * @prop --calcite-inline-editable-ok-button-icon-color-focus: Specifies the icon color of the OK button when focused.
 * @prop --calcite-inline-editable-ok-button-icon-color-hover: Specifies the icon color of the OK button when hovered.
 * @prop --calcite-inline-editable-ok-button-icon-color: Specifies the icon color of the OK button.
*/

:host {
  @apply block;
}

:host([scale="s"]) {
  --calcite-internal-inline-editable-height: var(--calcite-size-xxl);
}

:host([scale="m"]) {
  --calcite-internal-inline-editable-height: var(--calcite-size-xxxl);
}

:host([scale="l"]) {
  --calcite-internal-inline-editable-height: #{$calcite-size-44};
}

.wrapper {
  @apply box-border
    flex
    justify-between
    transition-default;

  block-size: var(--calcite-internal-inline-editable-height);
  background-color: var(--calcite-inline-editable-background-color, var(--calcite-color-foreground-1));

  .input-wrapper {
    @apply flex-1;
  }
}

:host(:not([editing-enabled]):not([disabled]):hover) {
  .wrapper {
    background-color: var(--calcite-inline-editable-background-color, var(--calcite-color-foreground-2));
  }
}

.controls-wrapper {
  @apply flex;
}

.enable-editing-button {
  --calcite-button-icon-start-color: var(--calcite-inline-editable-edit-icon-color);
  // TODO: add sub-component tokens
}

.cancel-editing-button {
  // TODO: add sub-component tokens
}

.confirm-editing-button {
  // TODO: add sub-component tokens
}

@include disabled();
@include base-component();
