/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-text-area-background-color: Specifies the component's background color.
 * @prop --calcite-text-area-border-color: Specifies the component's text area border color.
 * @prop --calcite-text-area-character-limit-text-color: Specifies the color of the character limit text displayed in the footer of the component.
 * @prop --calcite-text-area-divider-color: Specifies the color of the divider between the text area and footer.
 * @prop --calcite-text-area-font-size: Specifies the font size of the text area and footer.
 * @prop --calcite-text-area-max-height: Specifies the component's text area maximum height.
 * @prop --calcite-text-area-min-height: Specifies the component's text area minimum height.
 * @prop --calcite-text-area-max-width: Specifies the component's text area maximum width.
 * @prop --calcite-text-area-min-width: Specifies the component's text area minimum width.
 * @prop --calcite-text-area-text-color: Specifies the component's text color.
 * @prop --calcite-text-area-footer-border-color: Specifies the footer's border color.
 * @prop --calcite-text-area-corner-radius: Specifies component's corner radius.
 * @prop --calcite-text-area-shadow: Specifies the component's shadow.
 * @prop --calcite-text-area-footer-background-color: Specifies the footer's background color.

 */

:host {
  @apply inline-block relative w-full h-full box-border;
  --calcite-internal-text-area-border-color: var(--calcite-text-area-border-color, var(--calcite-color-border-input));
  --calcite-internal-text-area-footer-border-color: var(
    --calcite-text-area-footer-border-color,
    var(--calcite-internal-text-area-border-color)
  );
  --calcite-internal-text-area-corner-radius: var(
    --calcite-text-area-corner-radius,
    var(--calcite-corner-radius-default)
  );
  --calcite-internal-text-area-shadow: var(--calcite-text-area-shadow, var(--calcite-shadow-none));
  --calcite-internal-text-area-footer-background-color: var(
    --calcite-text-area-footer-background-color,
    var(--calcite-text-area-background-color, var(--calcite-color-foreground-1))
  );

  // avoids host to shrink beyond the textarea
  min-block-size: var(
    --calcite-text-area-min-height,
    calc(calc(2 * var(--calcite-internal-text-area-padding-block)) + calc(2 * var(--calcite-border-width-sm)))
  );
  min-inline-size: var(--calcite-text-area-min-width, theme("spacing.48"));
}

.wrapper {
  @apply h-full w-full box-border;
  box-shadow: var(--calcite-internal-text-area-shadow);
  border-radius: var(--calcite-internal-text-area-corner-radius);
}

.text-area,
.footer {
  font-size: var(--calcite-text-area-font-size, var(--calcite-font-size--1));
  padding-block: var(--calcite-internal-text-area-padding-block);
  padding-inline: var(--calcite-internal-text-area-padding-inline);
}

.footer {
  background-color: var(--calcite-internal-text-area-footer-background-color);
  border-radius: 0 0 var(--calcite-internal-text-area-corner-radius) var(--calcite-internal-text-area-corner-radius);
}

.text-area {
  @apply relative font-sans block box-border w-full m-0;
  --calcite-internal-text-area-border-block-end-color: var(--calcite-internal-text-area-border-color);
  border: var(--calcite-border-width-sm) solid var(--calcite-internal-text-area-border-color);
  border-block-end-color: var(--calcite-internal-text-area-border-block-end-color);
  color: var(--calcite-text-area-text-color, var(--calcite-color-text-1));
  font-family: var(--calcite-sans-family);

  max-block-size: var(--calcite-text-area-max-height);
  min-block-size: calc(
    var(--calcite-text-area-min-height, 0px) - var(--calcite-internal-text-area-footer-min-height, 0px)
  );
  max-inline-size: var(--calcite-text-area-max-width);
  min-inline-size: var(--calcite-text-area-min-width, theme("spacing.48"));
  background-color: var(--calcite-text-area-background-color, var(--calcite-color-foreground-1));
  border-radius: var(--calcite-internal-text-area-corner-radius) var(--calcite-internal-text-area-corner-radius) 0 0;
  &::placeholder {
    @apply font-normal;
  }

  @media screen and (max-width: 480px) {
    @apply resize-none;
  }

  &:focus {
    @apply focus-inset;
  }

  &.text-area--invalid {
    --calcite-internal-text-area-border-color: var(--calcite-color-status-danger);

    &:focus {
      @apply focus-inset-danger;
    }
  }

  &.footer--slotted {
    min-inline-size: theme("spacing.72");
  }

  &.text-area--only {
    border-radius: var(--calcite-internal-text-area-corner-radius);
  }

  &:not(.text-area--only, .text-area--invalid) {
    --calcite-internal-text-area-border-block-end-color: var(
      --calcite-text-area-divider-color,
      var(--calcite-color-border-3)
    );
  }
}

.footer {
  @apply flex box-border items-center;
  border: var(--calcite-border-width-sm) solid var(--calcite-internal-text-area-footer-border-color);
  border-block-start: var(--calcite-border-width-none);
  min-block-size: var(--calcite-internal-text-area-footer-min-height);
}

.character-limit {
  @apply flex justify-end items-center whitespace-nowrap;

  font-size: var(--calcite-text-area-font-size, var(--calcite-font-size--1));
  font-weight: var(--calcite-font-weight-regular);
  color: var(--calcite-text-area-character-limit-text-color, var(--calcite-color-text-2));
  padding-inline-start: var(--calcite-spacing-md);
}

.character--over-limit {
  font-weight: var(--calcite-font-weight-bold);
  color: var(--calcite-color-status-danger);
}

.readonly {
  background-color: var(--calcite-text-area-background-color, var(--calcite-color-background));
  font-weight: var(--calcite-font-weight-medium);
}

.footer.readonly {
  background-color: var(--calcite-internal-text-area-footer-background-color, var(--calcite-color-background));
}

.content,
.hide {
  @apply hidden;
}

.container {
  @apply flex justify-between w-full;
}

.footer--end-only {
  @apply justify-end;
}

.assistive-text {
  @apply sr-only;
}

.text-area.text-area--only {
  @apply h-full;
  min-block-size: var(--calcite-text-area-min-height, 0);
}

:host([resize="none"]) .text-area {
  @apply resize-none;
}

:host([resize="horizontal"]) .text-area {
  @apply resize-x;
}

:host([resize="vertical"]) .text-area {
  @apply resize-y;
}

:host([scale="s"]) {
  --calcite-internal-text-area-padding-block: var(--calcite-spacing-xxs);
  --calcite-internal-text-area-padding-inline: var(--calcite-spacing-sm);
  --calcite-internal-text-area-footer-min-height: 1.75rem;

  .text-area,
  .footer,
  .character-limit {
    font-size: var(--calcite-text-area-font-size, var(--calcite-font-size--2));
  }

  .character-limit {
    padding-inline-start: var(--calcite-spacing-sm);
  }
}

:host([scale="m"]) {
  --calcite-internal-text-area-padding-block: var(--calcite-spacing-sm);
  --calcite-internal-text-area-padding-inline: var(--calcite-spacing-md);
  --calcite-internal-text-area-footer-min-height: 2.25rem;
}

:host([scale="l"]) {
  --calcite-internal-text-area-padding-block: var(--calcite-spacing-md);
  --calcite-internal-text-area-padding-inline: var(--calcite-spacing-lg);
  --calcite-internal-text-area-footer-min-height: 2.75rem;

  .text-area,
  .footer,
  .character-limit {
    font-size: var(--calcite-text-area-font-size, var(--calcite-font-size-0));
  }

  .character-limit {
    padding-inline-start: var(--calcite-spacing-lg);
  }
}

:host([status="invalid"]) {
  --calcite-internal-text-area-border-color: var(--calcite-color-status-danger);

  .text-area:focus {
    @apply focus-inset-danger;
  }
}

:host([disabled]) {
  .text-area,
  .footer {
    opacity: var(--calcite-opacity-half);
  }
}

@include form-internal-label();
@include form-validation-message();
@include hidden-form-input();
@include disabled();
@include base-component();
@include input-placeholder-text();
