/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-action-background-color: Specifies the background color of the component.
 * @prop --calcite-action-text-color: Specifies the text color of the component.
 * @prop --calcite-action-shadow: Specifies the shadow of the component.
 * @prop --calcite-action-icon-color: Specifies the color of the component's icon.
 * @prop --calcite-action-indicator-color: Specifies the color of the component's indicator.
 * @prop --calcite-action-loader-color: Specifies the color of the component's loader.
 */

:host {
  box-sizing: border-box;
  display: flex;
  background-color: var(--calcite-color-transparent);

  * {
    box-sizing: border-box;
  }
}

.button {
  @apply focus-base
    relative
    m-0
    flex
    w-auto
    cursor-pointer
    items-center
    border-none;
  background-color: var(
    --calcite-action-background-color,
    var(--calcite-internal-action-background-color, var(--calcite-color-foreground-1))
  );
  color: var(--calcite-action-text-color, var(--calcite-internal-action-text-color, var(--calcite-color-text-3)));
  flex: 1 0 auto;
  font-size: var(--calcite-internal-action-font-size, var(--calcite-font-size--2));
  justify-content: var(--calcite-internal-action-justify-content, start);
  line-height: var(--calcite-internal-action-line-height, 1rem /* 16px */);
  text-align: unset;
  padding-inline: var(--calcite-internal-action-space-x);
  padding-block: var(--calcite-internal-action-space-y);
  box-shadow: var(--calcite-action-shadow);

  &.button--text-visible {
    inline-size: var(--calcite-container-size-content-fluid);

    .icon-container {
      margin-inline-end: var(--calcite-internal-action-icon-container-space-x-end, theme("spacing.3"));
    }
  }
}

.icon-container {
  @apply pointer-events-none
    m-0
    flex
    items-center
    justify-center;
  min-inline-size: theme("spacing.4");
  min-block-size: theme("spacing.4");
}

.text-container {
  @apply m-0
    w-0
    truncate
    leading-6
    opacity-0
    transition-opacity
    duration-150
    ease-in-out;
  transition-property: margin;
  transition-property: inline-size;
}

.text-container--visible {
  @apply w-auto flex-auto;
  opacity: var(--calcite-opacity-full);
}

.action-indicator {
  position: relative;
  &::after {
    position: absolute;
    block-size: 0.5rem /* 8px */;
    inline-size: 0.5rem /* 8px */;
    content: "";
    @apply rounded-full;
    inset-block-end: -0.275rem;
    inset-inline-end: -0.275rem;
    background-color: var(
      --calcite-action-indicator-color,
      var(--calcite-internal-action-indicator-color, var(--calcite-color-brand))
    );
  }
}

.icon {
  --calcite-icon-color: var(
    --calcite-action-icon-color,
    var(--calcite-internal-action-icon-color, var(--calcite-color-text-3))
  );
}

.indicator-without-icon {
  @apply w-4 mx-1;
}

.indicator-text {
  @apply sr-only;
}

.slot-container {
  @apply flex;

  &.slot-container--hidden {
    @apply hidden;
  }
}

calcite-loader {
  --calcite-loader-color-start: var(--calcite-action-loader-color, var(--calcite-color-text-3));
  margin-inline-end: theme("spacing.0");
}

// States
:host(:hover),
:host(:focus) {
  .button {
    --calcite-internal-action-text-color: var(--calcite-color-text-1);
    --calcite-internal-action-icon-color: var(--calcite-color-text-1);
    --calcite-internal-action-indicator-color: var(--calcite-color-brand-hover);
  }
}
:host(:focus) {
  @apply focus-inset;
}
:host(:active),
:host([active]),
:host([data-active]) {
  .button {
    --calcite-internal-action-icon-color: ar(--calcite-color-text-1);
    --calcite-internal-action-text-color: ar(--calcite-color-text-1);
    --calcite-internal-action-indicator-color: var(--calcite-color-brand-press);
    @apply focus-inset;
  }
}

// Appearance
:host([appearance="solid"]) {
  &:host(:hover),
  &:host(:focus) {
    .button {
      --calcite-internal-action-background-color: var(--calcite-color-foreground-2);
    }
  }
  &:host(:active),
  &:host([active]),
  &:host([data-active]) {
    .button {
      --calcite-internal-action-background-color: var(--calcite-color-foreground-3);
    }
  }

  &:host([loading]) {
    .button {
      --calcite-internal-action-background-color: var(--calcite-color-foreground-1);
    }
    .text-container {
      @apply opacity-disabled;
    }
  }
}
:host([appearance="transparent"]) {
  .button {
    --calcite-internal-action-background-color: var(--calcite-color-transparent);
    @apply transition-shadow
      duration-150
      ease-in-out;
  }

  &:host(:hover),
  &:host(:focus) {
    .button {
      --calcite-internal-action-background-color: var(--calcite-action-color-transparent-hover);
    }
  }
  &:host(:active),
  &:host([active]),
  &:host([data-active]) {
    .button {
      --calcite-internal-action-background-color: var(--calcite-action-color-transparent-press);
    }
  }
}

// Scale
:host([scale="s"]) {
  .button {
    --calcite-internal-action-font-size: var(--calcite-font-size--2);
    --calcite-internal-action-line-height: 1rem /* 16px */;
    --calcite-internal-action-icon-container-space-x-end: theme("spacing.2");
    --calcite-internal-action-space-x: 0.5rem /* 8px */;
    --calcite-internal-action-space-y: 0.25rem /* 4px */;
  }
}
:host([scale="m"]) {
  .button {
    --calcite-internal-action-font-size: var(--calcite-font-size--1);
    --calcite-internal-action-line-height: 1rem /* 16px */;
    --calcite-internal-action-icon-container-space-x-end: theme("spacing.3");
    --calcite-internal-action-space-x: 1rem /* 8px */;
    --calcite-internal-action-space-y: 0.75rem /* 12px */;
  }
}
:host([scale="l"]) {
  .button {
    --calcite-internal-action-font-size: var(--calcite-font-size-0);
    --calcite-internal-action-line-height: 1.25rem /* 20px */;
    --calcite-internal-action-icon-container-space-x-end: theme("spacing.4");
    --calcite-internal-action-space-x: 1.25rem /* 20px */;
    --calcite-internal-action-space-y: 1.25rem /* 20px */;
  }
}
// Compact
:host([scale="s"][compact]),
:host([scale="m"][compact]),
:host([scale="l"][compact]) {
  .button {
    --calcite-internal-action-space-x: 0;
  }
}

// Alignment
:host([alignment="center"]) .button {
  --calcite-internal-action-justify-content: center;
}
:host([alignment="end"]) .button {
  --calcite-internal-action-justify-content: end;
}
:host([alignment="center"]),
:host([alignment="end"]) {
  .text-container--visible {
    @apply flex-initial;
  }
}

@include base-component();
@include disabled() {
  &:host([active]) {
    .button {
      --calcite-internal-action-background-color: var(--calcite-color-foreground-3);
    }
  }
  &:host([appearance="solid"]) .button {
    --calcite-internal-action-background-color: var(--calcite-color-foreground-1);
  }
  &:host([appearance="transparent"]) .button {
    --calcite-internal-action-background-color: var(--calcite-color-transparent);
  }
}
