:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  min-width: 100%;
  --calcite-stepper-item-border: var(--calcite-ui-border-3);
  --calcite-stepper-item-background: var(--calcite-ui-foreground-1);
}

:host([layout="vertical"]) {
  flex-direction: column;
  flex: 1 auto auto;
}


:host .stepper-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:100%;
  min-width: 100%;
}
