%icon-position {
  /* icon rotation variables */
  --calcite-accordion-item-icon-rotation: calc(theme("rotate.90") * -1);
  --calcite-accordion-item-active-icon-rotation: theme("rotate.0");
  --calcite-accordion-item-icon-rotation-rtl: theme("rotate.90");
  --calcite-accordion-item-active-icon-rotation-rtl: theme("rotate.0");
}

// icon position variants for child
.icon-position--start {
  @extend %icon-position;
  --calcite-accordion-item-flex-direction: row-reverse;
  --calcite-accordion-item-icon-spacing-start: 0;
  --calcite-accordion-item-icon-spacing-end: var(--calcite-accordion-icon-margin);
}

.icon-position--end {
  @extend %icon-position;
  --calcite-accordion-item-flex-direction: row;
  --calcite-accordion-item-icon-spacing-start: var(--calcite-accordion-icon-margin);
  --calcite-accordion-item-icon-spacing-end: 0;
}

.icon-position--end:not(.icon-type--plus-minus) {
  --calcite-accordion-item-icon-rotation: theme("rotate.0");
  --calcite-accordion-item-active-icon-rotation: theme("rotate.180");
  --calcite-accordion-item-icon-rotation-rtl: theme("rotate.0");
  --calcite-accordion-item-active-icon-rotation-rtl: calc(theme("rotate.180") * -1);
}

:host {
  @apply text-color-3
    relative
    flex
    flex-col
    no-underline;
  background-color: var(--calcite-accordion-item-background, theme("backgroundColor.foreground.1"));
}

// focus styles
:host .accordion-item-header {
  @apply focus-base;
}

:host(:focus) .accordion-item-header {
  @apply focus-inset
  outline-none;
}

:host([active]),
:host([expanded]) {
  @apply text-color-1;
  & .accordion-item-content {
    @apply text-color-1 block;
  }
  & .accordion-item-header {
    border-bottom-color: transparent;
  }
}

// .accordion-item-header / content
:host .accordion-item-header {
  @apply flex cursor-pointer items-center;
  flex-direction: var(--calcite-accordion-item-flex-direction);
}

:host .accordion-item-icon {
  @apply text-color-3
    relative
    m-0
    inline-flex
    duration-150
    ease-in-out;
  margin-inline-end: var(--calcite-accordion-item-icon-spacing-start);
  margin-inline-start: var(--calcite-accordion-item-icon-spacing-end);
}

:host .accordion-item-content,
:host .accordion-item-header {
  padding: var(--calcite-accordion-item-padding);
  border-bottom: 1px solid var(--calcite-accordion-item-border, theme("borderColor.color.2"));
}

:host .accordion-item-header * {
  @apply inline-flex
    items-center
    duration-150
    ease-in-out;
}

:host .accordion-item-content {
  @apply text-color-3 hidden pt-0;
  text-align: initial;
}

// accordion item icon
:host .accordion-item-expand-icon {
  @apply text-color-3;
  margin-inline-start: var(--calcite-accordion-item-icon-spacing-start);
  margin-inline-end: var(--calcite-accordion-item-icon-spacing-end);
  transform: rotate(var(--calcite-accordion-item-icon-rotation));
}

.calcite--rtl .accordion-item-expand-icon {
  transform: rotate(var(--calcite-accordion-item-icon-rotation-rtl));
}

:host([active]) .accordion-item-expand-icon,
:host([expanded]) .accordion-item-expand-icon {
  @apply text-color-1;
  transform: rotate(var(--calcite-accordion-item-active-icon-rotation));
}
:host([active]) .calcite--rtl .accordion-item-expand-icon,
:host([expanded]) .calcite--rtl .accordion-item-expand-icon {
  transform: rotate(var(--calcite-accordion-item-active-icon-rotation-rtl));
}

// accordion item title
:host .accordion-item-header-text {
  @apply my-0 flex-grow flex-col py-0;
  text-align: initial;
  margin-inline-end: theme("margin.auto");
}

:host .accordion-item-heading,
:host .accordion-item-description {
  @apply flex w-full;
}

:host .accordion-item-heading {
  @apply text-color-2 font-medium;
}
:host .accordion-item-description {
  @apply text-color-3 mt-1;
}

:host(:focus),
:host(:hover) {
  & .accordion-item-heading {
    @apply text-color-1;
  }
  & .accordion-item-icon {
    @apply text-color-1;
  }

  & .accordion-item-expand-icon {
    @apply text-color-1;
  }
  & .accordion-item-description {
    @apply text-color-2;
  }
}

:host(:focus),
:host(:active),
:host([active]),
:host([expanded]) {
  & .accordion-item-heading {
    @apply text-color-1;
  }
  & .accordion-item-icon {
    @apply text-color-1;
  }
  & .accordion-item-expand-icon {
    @apply text-color-1;
  }
  & .accordion-item-description {
    @apply text-color-2;
  }
}

@media (forced-colors: active) {
  :host([expanded]) {
    & .accordion-item-header {
      border-bottom: none;
    }
    & .accordion-item-heading {
      /** give visual indicator of expanded state since subtle color changes can't be done **/
      font-weight: bolder;
    }
  }
  :host(:hover),
  :host(:focus) {
    & .accordion-item-heading {
      /** give visual indicator of expandability/click-ability since subtle color changes can't be done **/
      text-decoration: underline;
    }
  }
}
