:host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  color: var(--calcite-ui-text-2);
  opacity: 0;
  visibility: hidden !important;
  transition: visibility 0ms linear 300ms, opacity 300ms $easing-function;
  z-index: 101;
  --calcite-modal-title-padding: 12px 16px;
  --calcite-modal-title-text: 20px;
  --calcite-modal-content-padding: 16px;
  --calcite-modal-content-text: 16px;
  --calcite-modal-close-padding: 12px;
  --calcite-modal-footer-padding: 12px;
}

:host([scale="s"]) {
  --calcite-modal-title-padding: 8px 12px;
  --calcite-modal-title-text: 18px;
  --calcite-modal-content-padding: 12px;
  --calcite-modal-content-text: 14px;
  --calcite-modal-close-padding: 8px;
  --calcite-modal-footer-padding: 8px;
}

:host([scale="l"]) {
  --calcite-modal-title-padding: 16px 20px;
  --calcite-modal-title-text: 26px;
  --calcite-modal-content-padding: 20px;
  --calcite-modal-content-text: 18px;
  --calcite-modal-close-padding: 16px;
  --calcite-modal-footer-padding: 16px;
}

.scrim {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-y: hidden;
}

.modal {
  box-sizing: border-box;
  z-index: 102;
  float: none;
  text-align: left;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  flex-wrap: row-wrap;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 300ms $easing-function, visibility 0ms linear 300ms, opacity 300ms $easing-function;
  transform: translate3d(0, 20px, 0);
  background-color: var(--calcite-ui-foreground-1);
  box-shadow: $shadow-2--press;
  border-radius: var(--calcite-border-radius);
  margin: $baseline;
  width: 100%;
}

// focus styles
.modal__close {
  @include focus-style-base();
  &.modal__close:focus {
    @include focus-style-inset();
  }
}

:host([is-active]) {
  visibility: visible !important;
  opacity: 1;
  transition-delay: 0ms;
  .modal {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transition-delay: 0ms;
    transform: translate3d(0, 0, 0);
    transition: transform 300ms $easing-function, visibility 0ms linear, opacity 300ms $easing-function,
      max-width 300ms $easing-function, max-height 300ms $easing-function;
  }
}

:host([dir="rtl"]) .modal {
  text-align: right;
}

/**
 * Header
 */
.modal__header {
  background-color: var(--calcite-ui-foreground-1);
  flex: 0 0 auto;
  display: flex;
  max-width: 100%;
  min-width: 0;
  z-index: 2;
  border-bottom: 1px solid var(--calcite-ui-border-3);
  border-radius: var(--calcite-border-radius) var(--calcite-border-radius) 0 0;
}

.modal__close {
  padding: var(--calcite-modal-close-padding);
  margin: 0;
  order: 2;
  flex: 0 0 auto;
  transition-delay: 300ms;
  transition: all 0.15s ease-in-out;
  background-color: transparent;
  -webkit-appearance: none;
  border: none;
  color: var(--calcite-ui-text-1);
  outline: none;
  cursor: pointer;
  border-radius: 0 var(--calcite-border-radius) 0 0;
  calcite-icon {
    pointer-events: none;
    vertical-align: -2px;
  }
  &:hover,
  &:focus {
    background-color: var(--calcite-ui-foreground-2);
  }
  &:active {
    background-color: var(--calcite-ui-foreground-3);
  }
}

:host([dir="rtl"]) .modal__close {
  border-radius: var(--calcite-border-radius) 0 0 0;
}

.modal__title {
  display: flex;
  align-items: center;
  padding: var(--calcite-modal-title-padding);
  flex: 1 1 auto;
  order: 1;
  min-width: 0;
}

@include slotted("header", "*") {
  margin: 0;
  font-weight: 400;
  font-size: var(--calcite-modal-title-text);
  color: var(--calcite-ui-text-1);
}

/**
 * Content area
 */
.modal__content {
  position: relative;
  padding: 0;
  height: 100%;
  overflow: auto;
  max-height: calc(100vh - 12rem);
  overflow-y: auto;
  display: block;
  background-color: var(--calcite-ui-foreground-1);
  box-sizing: border-box;
  z-index: 1;
}

.modal__content--spaced {
  padding: var(--calcite-modal-content-padding);
}

@include slotted("content", "*") {
  font-size: var(--calcite-modal-content-text);
  line-height: 1.5;
}

:host([background-color="grey"]) {
  .modal__content {
    background-color: var(--calcite-ui-background);
  }
}

/**
 * Footer
 */
.modal__footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: var(--calcite-modal-footer-padding);
  margin-top: auto;
  box-sizing: border-box;
  border-radius: 0 0 var(--calcite-border-radius) var(--calcite-border-radius);
  width: 100%;
  background-color: var(--calcite-ui-foreground-1);
  border-top: 1px solid var(--calcite-ui-border-3);
  z-index: 2;
}

.modal__footer--hide-back .modal__back,
.modal__footer--hide-secondary .modal__secondary {
  display: none;
}

.modal__back {
  display: block;
  margin-right: auto;
}

:host([dir="rtl"]) .modal__back {
  margin-left: auto;
  margin-right: unset;
}

.modal__secondary {
  display: block;
  margin: 0 $baseline * 0.25;
}

slot[name="primary"] {
  display: block;
}

/**
 * Sizes
 */
@mixin modal-size($size, $width) {
  :host([width="#{$size}"]) {
    .modal {
      max-width: $width;
    }
  }
  @media screen and (max-width: $width + 2 * $baseline) {
    :host([width="#{$size}"]) {
      .modal {
        height: 100%;
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        margin: 0;
        border-radius: 0;
      }
      .modal__content {
        flex: 1 1 auto;
        max-height: unset;
      }
      .modal__header,
      .modal__footer {
        flex: inherit;
      }
    }
    :host([width="#{$size}"][docked]) {
      align-items: flex-end;
    }
  }
}

:host([width="small"]) .modal {
  width: auto;
}

@include modal-size("s", 32rem);
@include modal-size("m", 48rem);
@include modal-size("l", 94rem);

/**
 * Fullscreen
 */
:host([fullscreen]) {
  background-color: transparent;
  .modal {
    transform: translate3D(0, 20px, 0) scale(0.95);
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .modal__content {
    flex: 1 1 auto;
    max-height: 100%;
  }
  .modal__header,
  .modal__footer {
    flex: inherit;
  }
}

:host([is-active][fullscreen]) {
  .modal {
    transform: translate3D(0, 0, 0) scale(1);
  }
  .modal__header {
    border-radius: 0;
  }
  .modal__footer {
    border-radius: 0;
  }
}

/**
 * Docked
 */
:host([docked]) {
  .modal {
    height: auto !important;
  }
  .modal__content {
    height: auto;
    flex: 1 1 auto;
  }
  @media screen and (max-width: $viewport-medium) {
    .modal {
      border-radius: var(--calcite-border-radius) var(--calcite-border-radius) 0 0;
    }

    .modal__close {
      border-radius: 0 var(--calcite-border-radius) 0 0;
    }
  }
}

@media screen and (max-width: $viewport-medium) {
  :host([docked][dir="rtl"]) .modal__close {
    border-radius: var(--calcite-border-radius) var(--calcite-border-radius) 0 0;
  }
}

/**
 * Colors
 */
:host([color="red"]) {
  .modal {
    border-top: 4px solid var(--calcite-ui-red-1);
  }
}

:host([color="blue"]) {
  .modal {
    border-top: 4px solid var(--calcite-ui-blue-1);
  }
}

:host([color="red"]),
:host([color="blue"]) {
  .modal__header {
    border-radius: var(--calcite-border-radius);
  }
}

/**
 * Tablet
 */
@media screen and (max-width: $viewport-medium) {
  @include slotted("header", "*") {
    @include font-size(1);
  }
  .modal__title {
    padding: $baseline * 0.25 $baseline * 0.675;
  }
  .modal__close {
    padding: 0.75rem;
  }
  .modal__content--spaced {
    padding: $baseline * 0.675;
  }
  .modal__footer {
    position: sticky;
    bottom: 0;
  }
}

/**
 * Mobile
 */
@media screen and (max-width: $viewport-small) {
  .modal__footer {
    flex-direction: column;
  }
  .modal__back,
  .modal__secondary {
    margin: 0;
    margin-bottom: $baseline * 0.25;
  }
}
