:host {
  @apply fixed inset-0 flex justify-center items-center overflow-y-hidden text-color-2 opacity-0;
  visibility: hidden !important;
  transition: visibility 0ms linear 300ms, opacity 300ms $easing-function;
  z-index: 101;
  --calcite-modal-title-padding: theme("spacing.3") theme("spacing.4");
  --calcite-modal-title-text: theme("spacing.5");
  --calcite-modal-content-padding: theme("spacing.4");
  --calcite-modal-content-text: theme("spacing.4");
  --calcite-modal-close-padding: theme("spacing.3");
  --calcite-modal-footer-padding: theme("spacing.3");
}

:host([scale="s"]) {
  --calcite-modal-title-padding: theme("spacing.2") theme("spacing.3");
  --calcite-modal-title-text: 1theme ("spacing.2");
  --calcite-modal-content-padding: theme("spacing.3");
  --calcite-modal-content-text: theme("fontSize.-1");
  --calcite-modal-close-padding: theme("spacing.2");
  --calcite-modal-footer-padding: theme("spacing.2");
}

:host([scale="l"]) {
  --calcite-modal-title-padding: theme("spacing.4") theme("spacing.5");
  --calcite-modal-title-text: theme("fontSize.3");
  --calcite-modal-content-padding: theme("spacing.5");
  --calcite-modal-content-text: theme("fontSize.1");
  --calcite-modal-close-padding: theme("spacing.4");
  --calcite-modal-footer-padding: theme("spacing.4");
}

.scrim {
  @apply inset-0 fixed overflow-y-hidden;
}

.modal {
  @apply shadow-2-sm
  box-border
  float-none
  text-left
  scrolling-touch
  flex
  flex-col
  opacity-0
  pointer-events-none
  bg-foreground-1
  rounded-1
  m-6
  w-full;
  z-index: 102;
  flex-wrap: row-wrap;
  visibility: hidden;
  transition: transform 300ms $easing-function, visibility 0ms linear 300ms, opacity 300ms $easing-function;
  transform: translate3d(0, 20px, 0);
}

// focus styles
.close {
  @include focus-style-base();
  &.close:focus {
    @include focus-style-inset();
  }
}

:host([is-active]) {
  @apply opacity-100;
  visibility: visible !important;
  transition-delay: 0ms;
  .modal {
    @apply pointer-events-auto visible opacity-100;
    transition-delay: 0ms;
    transform: translate3d(0, 0, 0);
    transition: transform 300ms $easing-function, visibility 0ms linear, opacity 300ms $easing-function,
      max-width 300ms $easing-function, max-height 300ms $easing-function;
  }
}

:host([dir="rtl"]) .modal {
  @apply text-right;
}

/**
 * top
 */
.top {
  @apply bg-foreground-1 flex max-w-full min-w-0;
  flex: 0 0 auto;
  z-index: 2;
  border-bottom: 1px solid var(--calcite-ui-border-3);
  border-radius: var(--calcite-border-radius) var(--calcite-border-radius) 0 0;
}

.close {
  @apply m-0 order-2 appearance-none border-none text-color-1 outline-none cursor-pointer;
  padding: var(--calcite-modal-close-padding);
  flex: 0 0 auto;
  transition-delay: 300ms;
  transition: all 0.15s ease-in-out;
  background-color: transparent;
  border-radius: 0 var(--calcite-border-radius) 0 0;
  calcite-icon {
    @apply pointer-events-none;
    vertical-align: -2px;
  }
  &:hover,
  &:focus {
    @apply bg-foreground-2;
  }
  &:active {
    @apply bg-foreground-3;
  }
}

:host([dir="rtl"]) .close {
  border-radius: var(--calcite-border-radius) 0 0 0;
}

.header {
  @apply flex items-center flex-auto order-1 min-w-0;
  padding: var(--calcite-modal-title-padding);
}

.title {
  @apply m-0 font-normal text-color-1;
  font-size: var(--calcite-modal-title-text);
}

/**
 * Content area
 */
.content {
  @apply relative p-0 h-full overflow-auto block bg-foreground-1 box-border;
  max-height: calc(100vh - theme("spacing.48"));
  z-index: 1;
}

.content--spaced {
  padding: var(--calcite-modal-content-padding);
}

@include slotted("content", "*") {
  font-size: var(--calcite-modal-content-text);
  line-height: 1.5;
}

:host([background-color="grey"]) {
  .content {
    @apply bg-background;
  }
}

/**
 * Footer
 */
.footer {
  @apply flex justify-between mt-auto box-border w-full bg-foreground-1;
  flex: 0 0 auto;
  padding: var(--calcite-modal-footer-padding);
  border-radius: 0 0 var(--calcite-border-radius) var(--calcite-border-radius);
  border-top: 1px solid var(--calcite-ui-border-3);
  z-index: 2;
}

.footer--hide-back .back,
.footer--hide-secondary .secondary {
  @apply hidden;
}

.back {
  @apply block mr-auto;
}

:host([dir="rtl"]) .back {
  @apply ml-auto;
  margin-right: unset;
}

.secondary {
  @apply block my-0 mx-1;
}

slot[name="primary"] {
  @apply block;
}

/**
 * Sizes
 */
@mixin modal-size($size, $width) {
  :host([width="#{$size}"]) {
    .modal {
      max-width: $width;
    }
  }
  @media screen and (max-width: $width + 2 * $baseline) {
    :host([width="#{$size}"]) {
      .modal {
        @apply h-full max-h-full w-full max-w-full m-0 rounded-none;
      }
      .content {
        @apply flex-auto;
        max-height: unset;
      }
      .top,
      .footer {
        flex: inherit;
      }
    }
    :host([width="#{$size}"][docked]) {
      @apply items-end;
    }
  }
}

:host([width="small"]) .modal {
  @apply w-auto;
}

@include modal-size("s", 32rem);
@include modal-size("m", 48rem);
@include modal-size("l", 94rem);

/**
 * Fullscreen
 */
:host([fullscreen]) {
  background-color: transparent;
  .modal {
    @apply h-full max-h-full w-full max-w-full m-0;
    transform: translate3D(0, 20px, 0) scale(0.95);
  }
  .content {
    @apply flex-auto max-h-full;
  }
  .top,
  .footer {
    flex: inherit;
  }
}

:host([is-active][fullscreen]) {
  .modal {
    transform: translate3D(0, 0, 0) scale(1);
  }
  .top {
    @apply rounded-none;
  }
  .footer {
    @apply rounded-none;
  }
}

/**
 * Docked
 */
:host([docked]) {
  .modal {
    height: auto !important;
  }
  .content {
    @apply h-auto flex-auto;
  }
  @media screen and (max-width: $viewport-medium) {
    .modal {
      @apply rounded-t-1 rounded-b-none;
    }

    .close {
      border-radius: 0 var(--calcite-border-radius) 0 0;
    }
  }
}

@media screen and (max-width: $viewport-medium) {
  :host([docked][dir="rtl"]) .close {
    border-radius: var(--calcite-border-radius) var(--calcite-border-radius) 0 0;
  }
}

/**
 * Colors
 */
:host([color="red"]) {
  .modal {
    border-top: 4px solid var(--calcite-ui-red-1);
  }
}

:host([color="blue"]) {
  .modal {
    border-top: 4px solid var(--calcite-ui-blue-1);
  }
}

:host([color="red"]),
:host([color="blue"]) {
  .top {
    @apply rounded-1;
  }
}

/**
 * Tablet
 */
@media screen and (max-width: $viewport-medium) {
  .title {
    @apply text-1;
  }
  .header {
    @apply py-1 px-4;
  }
  .close {
    @apply p-3;
  }
  .content--spaced {
    @apply p-4;
  }
  .footer {
    @apply sticky bottom-0;
  }
}

/**
 * Mobile
 */
@media screen and (max-width: $viewport-small) {
  .footer {
    @apply flex-col;
  }
  .back,
  .secondary {
    @apply m-0 mb-1;
  }
}
