.demo-header {
  direction: ltr;
  flex-wrap: nowrap;
  border-bottom: 1px solid var(--calcite-ui-border-3);
  align-items: stretch;
  display: flex;
  margin-bottom: 1em;
  position: sticky;
  top: 0;
  background-color: var(--calcite-ui-background);
  z-index: 999;
}

.demo-header__leading-content,
.demo-header__trailing-content {
  display: flex;
  flex: 0 0 auto;
}

.demo-header__title {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  border-left: 1px solid var(--calcite-ui-border-3);
  border-right: 1px solid var(--calcite-ui-border-3);
}

.demo-heading {
  color: var(--calcite-ui-text-1);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  padding: 0.5rem 2rem;
}

.demo-switches {
  align-items: center;
  column-gap: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1rem 2rem;
  border-right: 1px solid var(--calcite-ui-border-3);
}

.demo-switches__label {
  margin-top: 0.5rem;
}

.demo-close {
  padding: 1rem 2rem;
}
