body {
  margin: 0;
  background-color: var(--calcite-ui-background);
}

main {
  margin: 0;
  padding: 0;
  font-size: var(--calcite-font-size-0);
}

.example-container {
  color: var(--calcite-ui-text-1);
  max-width: 1024px;
  min-width: 280px;
  width: 70vw;
  padding: 0 var(--calcite-spacing-double);
  margin: 0 auto;
  background-color: transparent;
}

.example-container h1,
.example-container h2,
.example-container h3,
.example-container h4,
.example-container h5 {
  font-family: "Courier New", Courier, monospace;
  font-weight: var(--calcite-app-font-weight-demi);
  /* margin: var(--calcite-app-cap-spacing) 0 0; */
}
.example-container h1 {
  font-size: var(--calcite-app-font-size-2);
}
.example-container h2 {
  font-size: var(--calcite-app-font-size-1);
}
.example-container h3 {
  font-weight: var(--calcite-app-font-weight);
  font-size: var(--calcite-app-font-size-1);
}
