/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-form-space: Specifies the gap between slotted form sections.
 */

@use "../../styles/includes";

:host {
  display: block;
  inline-size: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--calcite-form-space, var(--calcite-space-md));
}

.divider {
  border-block-start: 1px solid var(--calcite-color-border-3);
}

::slotted(calcite-notice) {
  inline-size: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: var(--calcite-space-sm);
}

@include includes.base-component();
