/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-form-space: Specifies the gap between slotted form sections.
 */

@use "../../styles/includes";

:host {
  display: block;
  inline-size: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.divider {
  border-block-start: 1px solid var(--calcite-color-border-3);
}

::slotted(calcite-notice) {
  inline-size: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

:host([scale="s"]) {
  .container {
    gap: var(--calcite-form-space, var(--calcite-space-sm));
  }

  .button-container {
    gap: var(--calcite-space-xs);
  }
}

:host([scale="m"]) {
  .container {
    row-gap: var(--calcite-form-gap, var(--calcite-space-md));
  }

  .button-container {
    gap: var(--calcite-space-sm);
  }
}

:host([scale="l"]) {
  .container {
    row-gap: var(--calcite-form-gap, var(--calcite-space-lg));
  }

  .button-container {
    gap: var(--calcite-space-md);
  }
}

@include includes.base-component();
