:host {
  @apply z-20 relative flex;
}

.tab-nav {
  @apply flex
    w-full
    overflow-auto
    justify-start
    scrolling-touch;
  // workaround for outset focus within a scrolling container
  padding: theme("padding.1");
  margin: theme("margin.-1");
}

:host([layout="center"]) .tab-nav {
  @apply justify-center;
}

// prevent indicator overflow in horizontal scrolling situations
.tab-nav-active-indicator-container {
  @apply w-full
    left-0
    right-0
    bottom-0
    absolute
    overflow-hidden;
  height: theme("height[0.5]");
}

.tab-nav-active-indicator {
  @apply absolute
    bottom-0
    block
    transition-all
    ease-out;
  background: theme("colors.brand");
  height: theme("height[0.5]");
}

:host([position="below"]) .tab-nav-active-indicator {
  bottom: unset;
  @apply top-0;
}

:host([position="below"]) .tab-nav-active-indicator-container {
  bottom: unset;
  @apply top-0;
}
