:host {
  z-index: 2;
  position: relative;
  display: flex;
}

.tab-nav {
  display: flex;
  width: 100%;
  overflow: auto;
  justify-content: flex-start;
  -webkit-overflow-scrolling: touch;
  // workaround for outset focus within a scrolling container
  padding: 4px;
  margin: -4px;
}

:host([layout="center"]) .tab-nav {
  justify-content: center;
}

// prevent indicator overflow in horizontal scrolling situations
.tab-nav-active-indicator-container {
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  position: absolute;
  overflow: hidden;
}

.tab-nav-active-indicator {
  position: absolute;
  bottom: 0;
  background: var(--calcite-ui-blue-1);
  display: block;
  height: 3px;
  transition: all ease-out;
}

:host([position="below"]) .tab-nav-active-indicator {
  bottom: unset;
  top: 0;
}

:host([position="below"]) .tab-nav-active-indicator-container {
  bottom: unset;
  top: 0;
}
