/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-button-background-color: Specifies the component's background color when appearance="solid" or appearance="outline-fill".
 * @prop --calcite-button-border-color: Specifies the component's border color when it has appearance="outline" or appearance="outline-fill".
 * @prop --calcite-button-corner-radius: Specifies the component's corner radius.
 * @prop --calcite-button-loader-color: Specifies the component's loader color.
 * @prop --calcite-button-shadow-color: Specifies the component's box-shadow color.
 * @prop --calcite-button-text-color: Specifies the component's text color.
 */

:host {
  @apply inline-block w-auto align-middle;

  border-radius: var(--calcite-button-corner-radius, var(--calcite-internal-button-corner-radius, 0));

  a,
  button {
    --calcite-internal-button-content-margin: theme("margin.2");
    --calcite-internal-button-padding-x: 7px;
    --calcite-internal-button-padding-y-internal: 3px;

    @apply appearance-none
    border-none
    box-border
    cursor-pointer
    flex
    focus-base
    font-inherit
    font-normal
    h-full
    items-center
    justify-center
    no-underline
    relative
    select-none
    text-center
    w-full;

    background-color: var(
      --calcite-button-background-color,
      var(--calcite-internal-button-background-color, var(--calcite-color-transparent))
    );
    border-color: var(
      --calcite-button-border-color,
      var(--calcite-internal-button-border-color, var(--calcite-color-transparent))
    );
    border-radius: var(--calcite-button-corner-radius, var(--calcite-internal-button-corner-radius, 0));
    color: var(--calcite-button-text-color, var(--calcite-internal-button-text-color, currentColor));
    padding-block: var(--calcite-internal-button-padding-y-internal);
    padding-inline: var(--calcite-internal-button-padding-x);

    // include transition from focus
    transition:
      color var(--calcite-animation-timing) ease-in-out,
      background-color var(--calcite-animation-timing) ease-in-out,
      box-shadow var(--calcite-animation-timing) ease-in-out,
      outline-color var(--calcite-internal-animation-timing-fast) ease-in-out;

    &:hover {
      @apply no-underline;
    }

    &:focus {
      @apply focus-outset;
    }

    span {
      @apply truncate;
    }

    calcite-loader {
      color: var(--calcite-button-loader-color, var(--calcite-internal-button-loader-color, currentColor));
    }
  }
}

// fab variants
:host([round]) {
  --calcite-internal-button-corner-radius: 50px;
}

.content {
  margin-inline: var(--calcite-internal-button-content-margin);
}

.icon-start-empty {
  .content {
    margin-inline-start: unset;
  }
}
.icon-end-empty {
  .content {
    margin-inline-end: unset;
  }
}

:host([scale="m"]) {
  button,
  a {
    --calcite-internal-button-content-margin: theme("margin.3");
  }
}
:host([scale="l"]) {
  button,
  a {
    --calcite-internal-button-content-margin: theme("margin.4");
  }
}

// button width
:host([width="auto"]) {
  @apply w-auto;
}

:host([width="half"]) {
  @apply w-2/4;
}

:host([width="full"]) {
  @apply w-full;
}

// alignment
:host([alignment="center"]:not([width="auto"])) {
  a,
  button {
    @apply justify-center;
  }
}
:host([alignment="start"]:not([width="auto"])) {
  a,
  button {
    @apply justify-start;
  }
}
:host([alignment="end"]:not([width="auto"])) {
  a,
  button {
    @apply justify-end;
  }
}
:host([alignment*="space-between"]:not([width="auto"])) {
  a,
  button {
    @apply justify-between;
  }
}
:host([alignment="icon-start-space-between"]:not([width="auto"])) {
  .icon--start {
    margin-inline-end: auto;
  }
  a,
  button {
    text-align: unset;
  }
}
:host([alignment="icon-end-space-between"]:not([width="auto"])) {
  .icon--end {
    margin-inline-start: auto;
  }
  a,
  button {
    text-align: unset;
  }
}

// only two icons
:host([alignment="center"]) {
  a:not(.content--slotted),
  button:not(.content--slotted) {
    .icon--start + .icon--end {
      margin-inline-start: var(--calcite-internal-button-content-margin);
    }
  }
}

.icon {
  @apply relative
    m-0
    inline-flex
    font-normal;
  line-height: inherit;
}

@include disabled();

@keyframes loader-in {
  0% {
    inline-size: 0;
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    inline-size: 1em;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes loader-out {
  0% {
    inline-size: 1em;
    opacity: 1;
    transform: scale(1);
  }
  100% {
    inline-size: 0;
    opacity: 0;
    transform: scale(0.5);
  }
}

.calcite-button--loader {
  @apply flex;
  calcite-loader {
    @apply m-0;
  }
}

:host([loading]) {
  // center loading spinner when button has text
  button.content--slotted,
  a.content--slotted {
    .calcite-button--loader calcite-loader {
      margin-inline-end: var(--calcite-internal-button-content-margin);
    }
  }
  // hide icons when loading with no text
  button:not(.content--slotted),
  a:not(.content--slotted) {
    .icon--start,
    .icon--end {
      @apply hidden;
    }
  }
}

// button styles
:host([appearance]) {
  button,
  a {
    --calcite-internal-button-border-color: var(--calcite-color-transparent);

    @apply border-solid;

    border-width: var(--calcite-button-border-size, 1px);
  }
}

:host([kind="brand"]) {
  button,
  a {
    --calcite-internal-button-text-color: var(--calcite-color-text-inverse);
    --calcite-internal-button-background-color: var(--calcite-color-brand);

    &:hover {
      --calcite-internal-button-background-color: var(--calcite-color-brand-hover);
    }
    &:active {
      --calcite-internal-button-background-color: var(--calcite-color-brand-press);
    }
  }
}
:host([kind="danger"]) {
  button,
  a {
    --calcite-internal-button-text-color: var(--calcite-color-text-inverse);
    --calcite-internal-button-background-color: var(--calcite-color-status-danger);

    &:hover {
      --calcite-internal-button-background-color: var(--calcite-color-status-danger-hover);
    }
    &:active {
      --calcite-internal-button-background-color: var(--calcite-color-status-danger-press);
    }
  }
}
:host([kind="neutral"]) {
  button,
  a {
    --calcite-internal-button-text-color: var(--calcite-color-text-1);
    --calcite-internal-button-background-color: var(--calcite-color-foreground-3);
    &:hover {
      --calcite-internal-button-background-color: var(--calcite-color-foreground-2);
    }
    &:active {
      --calcite-internal-button-background-color: var(--calcite-color-foreground-1);
    }
  }
}
:host([kind="inverse"]) {
  button,
  a {
    --calcite-internal-button-text-color: var(--calcite-color-text-inverse);
    --calcite-internal-button-background-color: var(--calcite-color-inverse);
    &:hover {
      --calcite-internal-button-background-color: var(--calcite-color-inverse-hover);
    }
    &:active {
      --calcite-internal-button-background-color: var(--calcite-color-inverse-press);
    }
  }
}
// outline
:host([appearance="outline-fill"]),
:host([appearance="outline"]) {
  a,
  button {
    box-shadow: inset 0 0 0 1px
      var(--calcite-button-shadow-color, var(--calcite-internal-button-shadow-color, transparent));

    &:hover {
      box-shadow: inset 0 0 0 1px
        var(
          --calcite-button-shadow-color,
          var(--calcite-internal-button-shadow-color, var(--calcite-color-foreground-3))
        );
    }
    &:focus,
    &:active {
      box-shadow: inset 0 0 0 2px
        var(
          --calcite-button-shadow-color,
          var(--calcite-internal-button-shadow-color, var(--calcite-color-foreground-3))
        );
    }
  }
}

:host([appearance="outline-fill"]) {
  button,
  a {
    --calcite-internal-button-background-color: var(--calcite-color-foreground-1);
    @apply border-solid;
    border-width: var(--calcite-button-border-size, 1px);
    &:hover {
      @apply bg-foreground-2;
    }
    &:active {
      @apply bg-foreground-3;
    }
  }
}
:host([appearance="outline-fill"][kind="brand"]) {
  button,
  a {
    --calcite-internal-button-border-color: var(--calcite-color-brand);
    --calcite-internal-button-text-color: theme("colors.brand");
    --calcite-internal-button-background-color: var(--calcite-color-foreground-1);

    &:hover {
      --calcite-internal-button-border-color: var(--calcite-color-brand-hover);
      --calcite-internal-button-text-color: theme("colors.brand-hover");
      --calcite-internal-button-shadow-color: var(--calcite-color-brand-hover);
    }
    &:focus {
      --calcite-internal-button-border-color: var(--calcite-color-brand);
      --calcite-internal-button-text-color: theme("colors.brand");
      --calcite-internal-button-shadow-color: var(--calcite-color-brand);
    }
    &:active {
      --calcite-internal-button-border-color: var(--calcite-color-brand-press);
      --calcite-internal-button-text-color: theme("colors.brand-press");
      --calcite-internal-button-shadow-color: var(--calcite-color-brand-press);
    }
    calcite-loader {
      --calcite-internal-button-loader-color: theme("colors.brand");
    }
  }
}
:host([appearance="outline-fill"][kind="danger"]) {
  button,
  a {
    --calcite-internal-button-border-color: var(--calcite-color-status-danger);
    --calcite-internal-button-background-color: var(--calcite-color-foreground-1);
    --calcite-internal-button-text-color: theme("colors.danger");

    &:hover {
      --calcite-internal-button-border-color: var(--calcite-color-status-danger-hover);
      --calcite-internal-button-text-color: theme("colors.danger-hover");
      --calcite-internal-button-shadow-color: var(--calcite-color-status-danger-hover);
    }
    &:focus {
      --calcite-internal-button-border-color: var(--calcite-color-status-danger);
      --calcite-internal-button-text-color: theme("colors.danger");
      --calcite-internal-button-shadow-color: var(--calcite-color-status-danger);
    }
    &:active {
      --calcite-internal-button-border-color: var(--calcite-color-status-danger-press);
      --calcite-internal-button-text-color: theme("colors.danger-press");
      --calcite-internal-button-shadow-color: var(--calcite-color-status-danger-press);
    }
    calcite-loader {
      --calcite-internal-button-loader-color: theme("colors.danger");
    }
  }
}
:host([appearance="outline-fill"][kind="neutral"]) {
  button,
  a {
    --calcite-internal-button-border-color: theme("borderColor.color.1");
    --calcite-internal-button-text-color: var(--calcite-color-text-1);
    --calcite-internal-button-background-color: var(--calcite-color-foreground-1);

    &:hover {
      --calcite-internal-button-shadow-color: var(--calcite-color-foreground-3);
      stroke: var(--calcite-color-border-input);
    }
    &:focus {
      --calcite-internal-button-shadow-color: var(--calcite-color-foreground-3);
    }
    &:active {
      --calcite-internal-button-shadow-color: var(--calcite-color-foreground-3);
      stroke: var(--calcite-color-text-3);
    }
  }
}
:host([appearance="solid"][kind="neutral"]) {
  button,
  a {
    &:hover {
      background-color: var(--calcite-color-border-3);
    }
    &:active {
      background-color: var(--calcite-color-border-2);
    }
  }
}
:host([appearance="outline-fill"][kind="inverse"]) {
  button,
  a {
    --calcite-internal-button-text-color: var(--calcite-color-text-1);
    --calcite-internal-button-background-color: var(--calcite-color-foreground-1);
    --calcite-internal-button-border-color: var(--calcite-color-inverse);

    &:hover {
      --calcite-internal-button-border-color: var(--calcite-color-inverse-hover);
      --calcite-internal-button-shadow-color: var(--calcite-color-inverse-hover);
    }
    &:focus {
      --calcite-internal-button-border-color: var(--calcite-color-inverse);
      --calcite-internal-button-shadow-color: var(--calcite-color-inverse);
    }
    &:active {
      --calcite-internal-button-border-color: var(--calcite-color-inverse-press);
      --calcite-internal-button-shadow-color: var(--calcite-color-inverse-press);
    }
  }
}
:host([appearance="outline"]) {
  button,
  a {
    --calcite-internal-button-background-color: var(--calcite-color-transparent);

    @apply border-solid;
    border-width: var(--calcite-button-border-size, 1px);

    &:hover {
      background-color: var(--calcite-color-transparent-hover);
    }
    &:active {
      background-color: var(--calcite-color-transparent-press);
    }
  }
}
:host([appearance="outline"][kind="brand"]) {
  button,
  a {
    --calcite-internal-button-border-color: var(--calcite-color-brand);
    --calcite-internal-button-text-color: theme("colors.brand");
    --calcite-internal-button-background-color: var(--calcite-color-transparent);

    &:hover {
      --calcite-internal-button-border-color: var(--calcite-color-brand-hover);
      --calcite-internal-button-text-color: theme("colors.brand-hover");
      --calcite-internal-button-shadow-color: var(--calcite-color-brand-hover);
    }
    &:focus {
      --calcite-internal-button-border-color: var(--calcite-color-brand);
      --calcite-internal-button-text-color: theme("colors.brand");
      --calcite-internal-button-shadow-color: var(--calcite-color-brand);
    }
    &:active {
      --calcite-internal-button-border-color: var(--calcite-color-brand-press);
      --calcite-internal-button-text-color: theme("colors.brand-press");
      --calcite-internal-button-shadow-color: var(--calcite-color-brand-press);
    }
    calcite-loader {
      --calcite-internal-button-loader-color: theme("colors.brand");
    }
  }
}
:host([appearance="outline"][kind="danger"]) {
  button,
  a {
    --calcite-internal-button-border-color: var(--calcite-color-status-danger);
    --calcite-internal-button-text-color: theme("colors.danger");
    --calcite-internal-button-background-color: var(--calcite-color-transparent);

    &:hover {
      --calcite-internal-button-border-color: var(--calcite-color-status-danger-hover);
      --calcite-internal-button-text-color: theme("colors.danger-hover");
      --calcite-internal-button-shadow-color: var(--calcite-color-status-danger-hover);
    }
    &:focus {
      --calcite-internal-button-border-color: var(--calcite-color-status-danger);
      --calcite-internal-button-text-color: theme("colors.danger");
      --calcite-internal-button-shadow-color: var(--calcite-color-status-danger);
    }
    &:active {
      --calcite-internal-button-border-color: var(--calcite-color-status-danger-press);
      --calcite-internal-button-text-color: theme("colors.danger-press");
      --calcite-internal-button-shadow-color: var(--calcite-color-status-danger-press);
    }
    calcite-loader {
      --calcite-internal-button-loader-color: theme("colors.danger");
    }
  }
}
:host([appearance="outline"][kind="neutral"]) {
  button,
  a {
    --calcite-internal-button-text-color: var(--calcite-color-text-1);
    --calcite-internal-button-background-color: var(--calcite-color-transparent);
    --calcite-internal-button-border-color: theme("borderColor.color.1");

    &:hover {
      --calcite-internal-button-shadow-color: var(--calcite-color-foreground-3);
      stroke: var(--calcite-color-border-input);
    }
    &:focus {
      --calcite-internal-button-shadow-color: var(--calcite-color-foreground-3);
    }
    &:active {
      --calcite-internal-button-shadow-color: var(--calcite-color-foreground-3);
      stroke: var(--calcite-color-text-3);
    }
  }
}
:host([appearance="outline"][kind="inverse"]) {
  button,
  a {
    --calcite-internal-button-text-color: var(--calcite-color-text-1);
    --calcite-internal-button-background-color: var(--calcite-color-transparent);
    --calcite-internal-button-border-color: var(--calcite-color-inverse);
    &:hover {
      --calcite-internal-button-border-color: var(--calcite-color-inverse-hover);
      --calcite-internal-button-shadow-color: var(--calcite-color-inverse-hover);
    }
    &:focus {
      --calcite-internal-button-border-color: var(--calcite-color-inverse);
      --calcite-internal-button-shadow-color: var(--calcite-color-inverse);
    }
    &:active {
      --calcite-internal-button-border-color: var(--calcite-color-inverse-press);
      --calcite-internal-button-shadow-color: var(--calcite-color-inverse-press);
    }
  }
}

:host([appearance="outline-fill"][split-child="primary"]) button,
:host([appearance="outline"][split-child="primary"]) button {
  border-inline-end-width: 0;
  border-inline-start-width: theme("borderWidth.DEFAULT");
}

:host([appearance="outline-fill"][split-child="secondary"]) button,
:host([appearance="outline"][split-child="secondary"]) button {
  border-inline-start-width: 0;
  border-inline-end-width: theme("borderWidth.DEFAULT");
}

// transparent
:host([appearance="transparent"]:not(.enable-editing-button)) {
  button,
  a {
    background-color: var(--calcite-color-transparent);
    &:hover {
      background-color: var(--calcite-color-transparent-hover);
    }
    &:active {
      background-color: var(--calcite-color-transparent-press);
    }
  }
}
:host([appearance="transparent"][kind="brand"]) {
  button,
  a {
    --calcite-internal-button-text-color: theme("colors.brand");
    &:hover {
      --calcite-internal-button-text-color: theme("colors.brand-hover");
    }
    &:focus {
      --calcite-internal-button-text-color: theme("colors.brand");
    }
    &:active {
      --calcite-internal-button-text-color: theme("colors.brand-press");
    }
    calcite-loader {
      --calcite-internal-button-loader-color: theme("colors.brand");
    }
  }
}

:host([appearance="transparent"][kind="danger"]) {
  button,
  a {
    --calcite-internal-button-text-color: theme("colors.danger");
    &:hover {
      --calcite-internal-button-text-color: theme("colors.danger-hover");
    }
    &:focus {
      --calcite-internal-button-text-color: theme("colors.danger");
    }
    &:active {
      --calcite-internal-button-text-color: theme("colors.danger-press");
    }
    calcite-loader {
      --calcite-internal-button-loader-color: theme("colors.danger");
    }
  }
}

:host([appearance="transparent"][kind="neutral"]:not(.cancel-editing-button)) {
  button,
  a,
  calcite-loader {
    --calcite-internal-button-text-color: var(--calcite-color-text-1);
  }
}

:host([appearance="transparent"][kind="neutral"].cancel-editing-button) {
  button {
    --calcite-internal-button-text-color: var(--calcite-color-text-3);
    @apply text-color-3
      border-t-color-input
      border-b-color-input
      border-t
      border-b;
    border-block-style: solid;

    &:not(.content--slotted) {
      --calcite-internal-button-padding-y-internal: 0;
    }

    &:hover {
      --calcite-internal-button-text-color: var(--calcite-color-text-1);
    }
  }
}

:host([appearance="transparent"][kind="neutral"].enable-editing-button) {
  button {
    @apply bg-transparent;
  }
}

:host(.confirm-changes-button),
:host(.cancel-editing-button),
:host(.enable-editing-button) {
  button {
    &:focus {
      outline-offset: -2px; // ensure focus outlines work in Safari
    }
  }
}

:host([appearance="transparent"][kind="inverse"]) {
  button,
  a,
  calcite-loader {
    --calcite-internal-button-text-color: var(--calcite-color-text-inverse);
  }
}

// generate button scales (scenario: text exists)
:host([scale="s"]) button.content--slotted,
:host([scale="s"]) a.content--slotted {
  @apply text-n2h;
}

// accommodate for transparent buttons not having borders
:host([scale="s"][appearance="transparent"]) button.content--slotted,
:host([scale="s"][appearance="transparent"]) a.content--slotted {
  --calcite-internal-button-padding-x: theme("padding.2");
}

:host([scale="s"]) button,
:host([scale="s"]) a {
  --calcite-internal-button-padding-y-internal: 3px;
}

:host([scale="m"]) button.content--slotted,
:host([scale="m"]) a.content--slotted {
  --calcite-internal-button-padding-x: 11px;
  @apply text-n1h;
}

:host([scale="m"]) button,
:host([scale="m"]) a {
  --calcite-internal-button-padding-y-internal: 7px;
}
// accommodate for transparent buttons not having borders
:host([scale="m"][appearance="transparent"]) button.content--slotted,
:host([scale="m"][appearance="transparent"]) a.content--slotted {
  --calcite-internal-button-padding-x: theme("padding.3");
}

:host([scale="l"]) button.content--slotted,
:host([scale="l"]) a.content--slotted {
  --calcite-internal-button-padding-x: 15px;
  @apply text-0h;
}

:host([scale="l"]) {
  .button-padding {
    --calcite-internal-button-padding-x: theme("padding.4");
    --calcite-internal-button-padding-y-internal: 11px;
  }
  //shrink the padding if an icon is present to preserve the height
  .button-padding--shrunk {
    --calcite-internal-button-padding-y-internal: 9px;
  }
}

// generate fab scales (scenario: 1 icon, ie., should be square)
:host([scale="s"]) button:not(.content--slotted),
:host([scale="s"]) a:not(.content--slotted) {
  --calcite-internal-button-padding-x: theme("padding[0.5]");
  --calcite-internal-button-padding-y-internal: 3px;
  @apply text-0h w-6;
  min-block-size: theme("height.6");
}

:host([scale="m"]) button:not(.content--slotted),
:host([scale="m"]) a:not(.content--slotted) {
  --calcite-internal-button-padding-x: theme("padding[0.5]");
  --calcite-internal-button-padding-y-internal: 7px;
  @apply text-0h w-8;
  min-block-size: theme("height.8");
}
:host([scale="l"]) button:not(.content--slotted),
:host([scale="l"]) a:not(.content--slotted) {
  --calcite-internal-button-padding-x: theme("padding[0.5]");
  --calcite-internal-button-padding-y-internal: 9px;
  @apply text-0h w-11;
  min-block-size: theme("height.11");
}

:host(:is([scale="s"], [scale="m"], [scale="l"])[width="full"]) {
  a,
  button {
    &:not(.content--slotted) {
      inline-size: var(--calcite-container-size-content-fluid);
    }
  }
}

// accommodate for transparent buttons not having borders
:host([scale="l"][appearance="transparent"]) button:not(.content--slotted),
:host([scale="l"][appearance="transparent"]) a:not(.content--slotted) {
  --calcite-internal-button-padding-y-internal: theme("padding[2.5]");
}

// generate fab scales (scenario: 2 icons, ie., should not be square)
:host([scale="s"][icon-start][icon-end]) button:not(.content--slotted),
:host([scale="s"][icon-start][icon-end]) a:not(.content--slotted) {
  --calcite-internal-button-padding-x: 23px;
  @apply text-0h h-6;
}
// accommodate for transparent buttons not having borders
:host([scale="s"][icon-start][icon-end][appearance="transparent"]) button:not(.content--slotted),
:host([scale="s"][icon-start][icon-end][appearance="transparent"]) a:not(.content--slotted) {
  --calcite-internal-button-padding-x: theme("padding.6");
}
:host([scale="m"][icon-start][icon-end]) button:not(.content--slotted),
:host([scale="m"][icon-start][icon-end]) a:not(.content--slotted) {
  --calcite-internal-button-padding-x: theme("padding.8");
  @apply text-0h h-8;
}
// accommodate for transparent buttons not having borders
:host([scale="m"][icon-start][icon-end][appearance="transparent"]) button:not(.content--slotted),
:host([scale="m"][icon-start][icon-end][appearance="transparent"]) a:not(.content--slotted) {
  --calcite-internal-button-padding-x: 33px;
}
:host([scale="l"][icon-start][icon-end]) button:not(.content--slotted),
:host([scale="l"][icon-start][icon-end]) a:not(.content--slotted) {
  --calcite-internal-button-padding-x: 43px;
  @apply text-0h h-11;
  // add space between when only 2 icons
  .icon--start + .icon--end {
    margin-inline-start: theme("margin.4");
  }
}
// accommodate for transparent buttons not having borders
:host([scale="l"][icon-start][icon-end][appearance="transparent"]) button:not(.content--slotted),
:host([scale="l"][icon-start][icon-end][appearance="transparent"]) a:not(.content--slotted) {
  --calcite-internal-button-padding-x: theme("padding.11");
}

@include base-component();
