/**
 * CSS Custom Properties
 *
 * @prop --calcite-accordion-border-color: The border around an accordion and accordion items.
 * @prop --calcite-accordion-background-color: The background color of the accordion and accordion items.
 */

/*
 * Internal
 *
 * --calcite-internal-accordion-space: defines space around and between accordion item elements. Other spacing is calculated from --calcite-size-xxs.
 * --calcite-internal-accordion-icon-space: space around the accordion icon. Calculated from --calcite-internal-accordion-space
 * --calcite-internal-accordion-padding: space around the accordion. Calculated from --calcite-internal-accordion-space
 * --calcite-internal-accordion-icon-margin: space between the accordion items' icons and other ShadowDom elements. Calculated from --calcite-internal-accordion-space
 * --calcite-internal-accordion-font-size: Inherited from global font-size variables. Set based on the component scale prop.
 * --calcite-internal-accordion-line-height: References global line-height variables. Set based on the component scale prop.
 */

:host {
  @apply relative
    block
    max-w-full;

  --calcite-internal-accordion-space: unset;
  --calcite-internal-accordion-icon-margin: calc(var(--calcite-internal-accordion-space) + var(--calcite-size-xxs));
  --calcite-internal-accordion-padding: var(--calcite-internal-accordion-space)
    calc(var(--calcite-internal-accordion-space) + var(--calcite-size-xxs));

  font-size: var(--calcite-internal-accordion-font-size);
  line-height: var(--calcite-internal-accordion-line-height, var(--calcite-font-size-xxl));
}

// scale variants for child
:host([scale="s"]) {
  --calcite-internal-accordion-space: var(--calcite-spacing-xxs);
  --calcite-internal-accordion-font-size: var(--calcite-font-size-sm);
  --calcite-internal-accordion-line-height: var(--calcite-font-size-md);
}

:host([scale="m"]) {
  --calcite-internal-accordion-space: var(--calcite-spacing-sm);
  --calcite-internal-accordion-font-size: var(--calcite-font-size);
  --calcite-internal-accordion-line-height: var(--calcite-font-size-md);
}

:host([scale="l"]) {
  --calcite-internal-accordion-space: var(--calcite-spacing-md);
  --calcite-internal-accordion-font-size: var(--calcite-font-size-md);
  --calcite-internal-accordion-line-height: var(--calcite-font-line-height-relative-tight);
}

.accordion--transparent {
  --calcite-accordion-border-color: var(--calcite-color-transparent);
  --calcite-accordion-background-color: var(--calcite-color-transparent);
}

.accordion {
  border-width: 1px;
  border-style: solid;
  border-color: var(--calcite-color-border-2);
  border-block-end-width: 0;
}

@include base-component();
