:host {
}

// scale variants for child
:host([scale="s"]) {
  --calcite-accordion-space-block: 0.25rem;
  --calcite-accordion-space-inline: 0.5rem;
  --calcite-accordion-font-size: var(--calcite-font-size-sm);
  --calcite-accordion-line-height: 1rem /* 16px */;
}

:host([scale="m"]) {
  --calcite-accordion-space-block: 0.5rem;
  --calcite-accordion-space-inline: 0.75rem;
  --calcite-accordion-font-size: var(--calcite-font-size);
  --calcite-accordion-line-height: 1rem /* 16px */;
}

:host([scale="l"]) {
  --calcite-accordion-space-block: 0.75rem;
  --calcite-accordion-space-inline: 1rem;
  --calcite-accordion-font-size: var(--calcite-font-size-md);
  --calcite-accordion-line-height: 1.25rem /* 20px */;
}

:host {
  @apply relative
    block
    max-w-full
    leading-6;
  --calcite-accordion-item-border-color: theme("borderColor.color.2");
  --calcite-accordion-item-background: theme("backgroundColor.foreground.1");
  --calcite-accordion-item-header-color: var(--calcite-color-text-3);
  --calcite-accordion-item-description-color: var(--calcite-color-text-3);
  --calcite-accordion-item-content-color: var(--calcite-color-text-3);
  --calcite-accordion-item-icon-color: var(--calcite-color-text-3);
  --calcite-accordion-icon-space: var(var(--calcite-accordion-space-inline));
  font-size: var(--calcite-accordion-font-size);
  line-height: var(--calcite-accordion-line-height);
}

.accordion--transparent {
  --calcite-accordion-item-border-color: transparent;
  --calcite-accordion-item-background: transparent;
}

.accordion {
  @apply border border-solid border-color-2 border-b-0;
}

@include base-component();
