:host {
  @apply block;
}

.container {
  @apply w-full inline-grid items-center;
  grid-template-columns: 1fr auto;
}

.preview {
  grid-column: 2 / 3;

  @apply flex
    items-center
    pointer-events-none
    my-0
    mx-1;
  z-index: 1;
}

.preview,
.input {
  grid-row: 1;
}

.input {
  grid-column: 1 / 3;

  @apply uppercase w-full;
}
