:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  block-size: 250px;
  inline-size: 358px;
  background-color: var(--calcite-color-foreground-1);
  font-size: var(--calcite-font-size--1);
  grid-template-areas: "header header header header";
}

.month-items {
  justify-self: stretch;
  align-self: stretch;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year-picker {
  inline-size: 278px;
}

.next,
.previous {
  inline-size: 40px;
  block-size: 100%;
}

calcite-year-picker {
  // width: 100px;
  --calcite-select-internal-border-width: 0px;
  --calcite-select-internal-icon-border-inline-end-width: 0px;
}
