// theme variables
// light theme
:host {
  --calcite-dropdown-border-color: #{$blk-020};
}

// dark theme
:host([theme="dark"]) {
  --calcite-dropdown-border-color: #{$blk-180};
}

:host {
  position: relative;
  display: inline-block;
}
:host([active]) .calcite-dropdown-wrapper {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}

:host .calcite-dropdown-wrapper {
  transform: translate3d(0, -$baseline, 0);
  transition: 300ms $easing-function, opacity 300ms $easing-function,
    all 0.15s ease-in-out;
  visibility: hidden;
  opacity: 0;
  display: block;
  position: absolute;
  left: 0;
  z-index: 200;
  overflow: auto;
  width: auto;
  width: 12.5rem;
  background: var(--calcite-global-ui-foreground);
  border: 1px solid var(--calcite-dropdown-border-color);
  border-radius: 2px;
  box-shadow: 0 0 12px 0 rgba($blk-240, 0.15);
}

:host([dir="rtl"]) .calcite-dropdown-wrapper {
  right: 0;
  left: unset;
}

:host([alignment="right"]) .calcite-dropdown-wrapper {
  right: 0;
  left: unset;
}

:host([dir="rtl"][alignment="right"]) .calcite-dropdown-wrapper {
  right: unset;
  left: 0;
}

:host([alignment="center"]) .calcite-dropdown-wrapper {
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}
