:host {
  @apply relative inline-flex flex-grow;
}

// disabled styles
:host([disabled]) {
  @apply pointer-events-none opacity-disabled;
}
:host .calcite-dropdown-wrapper {
  @include popperContainer();
  @include popperWrapper();
}
@include popperElemAnim(".calcite-dropdown-wrapper");
:host([active]) .calcite-dropdown-wrapper {
  @include popperWrapperActive();
}
:host .calcite-dropdown-content {
  @apply bg-foreground-1
    overflow-hidden
    overflow-y-auto
    w-auto;
  max-height: 90vh;
  width: var(--calcite-dropdown-width);
}
.calcite-dropdown-trigger-container {
  @apply relative w-full;
}
// width
:host([width="s"]) {
  --calcite-dropdown-width: theme("spacing.48");
}
:host([width="m"]) {
  --calcite-dropdown-width: theme("spacing.56");
}
:host([width="l"]) {
  --calcite-dropdown-width: theme("spacing.64");
}
// scale
:host([scale="s"]) {
  --calcite-dropdown-group-padding: #{theme("spacing.2") 0};
  --calcite-dropdown-item-padding: #{theme("spacing.1") theme("spacing.3") theme("spacing.1") theme("spacing.6")};
}
:host([scale="m"]) {
  --calcite-dropdown-group-padding: #{theme("spacing.2") 0};
  --calcite-dropdown-item-padding: #{theme("spacing.2") theme("spacing.3") theme("spacing.2") theme("spacing.6")};
}
:host([scale="l"]) {
  --calcite-dropdown-group-padding: #{theme("spacing.3") 0};
  --calcite-dropdown-item-padding: #{theme("spacing.2") theme("spacing.3") theme("spacing.2") theme("spacing.6")};
}
:host([scale="s"]) .calcite--rtl {
  --calcite-dropdown-item-padding: #{theme("spacing.1") theme("spacing.6") theme("spacing.1") theme("spacing.3")};
}
:host([scale="m"]) .calcite--rtl {
  --calcite-dropdown-item-padding: #{theme("spacing.2") theme("spacing.6") theme("spacing.2") theme("spacing.3")};
}
:host([scale="l"]) .calcite--rtl {
  --calcite-dropdown-item-padding: #{theme("spacing.2") theme("spacing.6") theme("spacing.2") theme("spacing.3")};
}
