// theme variables
// light theme
:host {
  --calcite-dropdown-background-color: #{$ui-foreground};
  --calcite-dropdown-border-color: #{$blk-020};
}

// dark theme
:host([theme="dark"]) {
  --calcite-dropdown-background-color: #{$ui-foreground-dark};
  --calcite-dropdown-border-color: #{$blk-180};
}

:host {
  position: relative;
  display: inline-block;
}

:host([active]) .calcite-dropdown-wrapper {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  max-height: 100vh;
  visibility: visible;
}

:host .calcite-dropdown-wrapper {
  transform: translate3d(0, -$baseline, 0);
  transition: all 0.15s ease-in-out;
  visibility: hidden;
  opacity: 0;
  display: block;
  position: absolute;
  left: 0;
  z-index: 200;
  overflow: auto;
  max-height: 0;
  width: auto;
  width: 12.5rem;
  overflow: hidden;
  background: var(--calcite-dropdown-background-color);
  border-radius: 2px;
  box-shadow: $shadow-2;
}

:host([dir="rtl"]) .calcite-dropdown-wrapper {
  right: 0;
  left: unset;
}

:host([alignment="right"]) .calcite-dropdown-wrapper {
  right: 0;
  left: unset;
}

:host([dir="rtl"][alignment="right"]) .calcite-dropdown-wrapper {
  right: unset;
  left: 0;
}

:host([alignment="center"]) .calcite-dropdown-wrapper {
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}
