/**
* CSS Custom Properties
*
* These properties can be overridden using the component's tag as selector.
*
* @prop --calcite-popover-background-color: Specifies the background color of the component.
* @prop --calcite-popover-border-color: The border color of the component.
* @prop --calcite-popover-corner-radius: The corner radius of the component.
* @prop --calcite-popover-text-color: The text color of the component.
*/

:host {
  @apply pointer-events-none;
  --calcite-floating-ui-z-index: var(--calcite-popover-z-index, var(--calcite-z-index-popup));
  --calcite-popover-background-color: var(--calcite-color-foreground-1);
  --calcite-popover-border-color: var(--calcite-color-border-3);
  --calcite-popover-text-color: var(--calcite-color-text-1);
  --calcite-popover-corner-radius: var(--calcite-border-radius-round);
}

@include floatingUIHost();
@include floatingUIArrow();

.heading {
  @apply word-break
  m-0
  block
  flex-auto
  self-center
  whitespace-normal
  font-medium;

  color: var(--calcite-popover-text-color);
}

:host([scale="s"]) {
  .heading {
    @apply text-n1-wrap
    px-3
    py-2;
  }
}

:host([scale="m"]) {
  .heading {
    @apply text-0-wrap
    px-4
    py-3;
  }
}

:host([scale="l"]) {
  .heading {
    @apply text-1-wrap
    px-5
    py-4;
  }
}

:host([open]) {
  pointer-events: initial;
}

.calcite-floating-ui-anim {
  @apply border
    border-solid;

  background-color: var(--calcite-popover-background-color);
  border-color: var(--calcite-popover-border-color);
  border-radius: var(--calcite-popover-corner-radius);
}

.arrow::before {
  outline: 1px solid var(--calcite-popover-border-color);
}

.header {
  @apply flex
    flex-auto
    items-stretch
    justify-start
    border-0
    border-b
    border-solid;

  border-block-end-color: var(--calcite-popover-border-color);
}

.container {
  @apply relative
    flex
    h-full
    flex-row
    flex-nowrap;

  color: var(--calcite-popover-text-color);
  border-radius: var(--calcite-popover-corner-radius);

  &.has-header {
    @apply flex-col;
  }
}

.content {
  @apply word-break
  flex
  h-full
  w-full
  flex-col
  flex-nowrap
  self-center;
}

.close-button-container {
  @apply flex overflow-hidden;
  flex: 0 0 auto;
  border-start-end-radius: var(--calcite-popover-corner-radius);
  border-end-end-radius: var(--calcite-popover-corner-radius);
}

::slotted(calcite-panel),
::slotted(calcite-flow) {
  @apply h-full;
}

.calcite-floating-ui-arrow {
  fill: var(--calcite-popover-background-color);
}

.calcite-floating-ui-arrow__stroke {
  stroke: var(--calcite-popover-border-color);
}

@include base-component();
