:host {
  box-sizing: border-box;
  display: inline-block;

  .tile-group {
    display: grid;
    grid-auto-rows: minmax(auto, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }

  ::slotted(calcite-tile) {
    margin-block-end: var(--calcite-spacing-px);
    margin-inline-end: var(--calcite-spacing-px);
  }
}

:host([scale="s"]) {
  .tile-group {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
:host([scale="l"]) {
  .tile-group {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

:host([layout="vertical"]) {
  .tile-group {
    display: flex;
    flex-direction: column;
  }
}

@include disabled();
@include base-component();
