:host {
  display: flex;
  flex-wrap: wrap;
  ::slotted(calcite-tile) {
    margin-block-end: 1px;
    margin-inline-end: 1px;
  }
}

:host([layout="vertical"]) {
  flex-direction: column;
}

@include disabled();
@include base-component();
