@include base-component();

:host {
  @apply w-full flex;
}

:host([scale="m"]) {
  inline-size: 620px;
  min-inline-size: 544px;
  max-inline-size: 972px;
}

:host([scale="s"]) {
  inline-size: 480px;
  min-inline-size: 432px;
  max-inline-size: 772px;
}
:host([scale="l"]) {
  inline-size: 752px;
  min-inline-size: 640px;
  max-inline-size: 1212px;
}

.calendar {
  @apply mb-1 flex  w-full justify-between;
}

.week-headers {
  @apply border-color-3
    flex
    border-0
    border-solid
    py-0
    px-1;
}

.week-header {
  @apply text-color-3
    text-center
    font-bold;
  inline-size: calc(100% / 7);
}

.day {
  @apply flex
  min-w-0
  justify-center;
  inline-size: calc(100% / 7);

  calcite-date-picker-day {
    @apply w-full;
  }
}

:host([scale="s"]) .week-header {
  @apply text-n2h px-0 pt-2 pb-3;
}

:host([scale="m"]) .week-header {
  @apply text-n2h px-0 pt-3 pb-4;
}

:host([scale="l"]) .week-header {
  @apply text-n1h px-0 pt-4 pb-5;
}

.week-days {
  @apply flex
    flex-row
    py-0;
  padding-inline: 6px;
  &:focus {
    @apply outline-none;
  }
}
