@use "../../styles/shared";

:host {
  display: block;
  overflow-wrap: break-word;
  overflow: hidden;
}

:host([truncate-position="end"]) {
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host([truncate-position="middle"]) {
  white-space: nowrap;
}

:host([truncate-position="middle"]:not([max-lines])) slot {
  display: none;
}

:host(:not([truncate-position="middle"])) .middle-truncated-text,
:host([max-lines]) .middle-truncated-text {
  display: none;
}

// Vendor-prefixed -webkit-line-clamp property only works in combination with the display property set to -webkit-box
// or -webkit-inline-box and the -webkit-box-orient property set to vertical.
// https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/line-clamp
:host([max-lines]) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--calcite-internal-text-max-lines, none);
  white-space: normal;
}

@include shared.base-component();
