:host {
  display: block;
  outline: none;
  --calcite-tree-text: #{$blk-180};
  --calcite-tree-text-hover: #{$blk-220};
  --calcite-tree-text-active: #{$blk-230};
  --calcite-tree-chevron: #{$blk-060};
  --calcite-tree-chevron-hover: #{$blk-140};
  --calcite-tree-chevron-active: #{$ui-blue};
  --calcite-tree-vertical-padding: #{$baseline/4};
  --calcite-tree-indicator: #{$blk-060};
  --calcite-tree-indicator-active: #{$ui-blue};
  --calcite-tree-indicator-first-start: 0.1rem;
  --calcite-tree-indicator-first-end: auto;
  --calcite-tree-indicator-distance-start: 0.15rem;
  --calcite-tree-indicator-distance-end: auto;
  --calcite-tree-icon-edge-distance-start: -0.2rem;
  --calcite-tree-icon-edge-distance-end: 0;
  --calcite-tree-icon-content-distance-start: #{$baseline/4};
  --calcite-tree-icon-content-distance-end: 0;
  --calcite-tree-indent-start: 1.4rem;
  --calcite-tree-indent-end: 0;
  --calcite-tree-children-indent-start: 0.25rem;
  --calcite-tree-children-indent-end: 0;
  --calcite-tree-children-padding-start: 1rem;
  --calcite-tree-children-padding-end: 0;
  --calcite-tree-line-position-start: 0.05rem;
  --calcite-tree-line-position-end: 0;
  --calcite-tree-parent-line-position-start: -0.95rem;
  --calcite-tree-parent-line-position-end: 0;
  --calcite-tree-line-width: #{1px};
  --calcite-tree-hover-line-width: #{3px};
}

:host([theme="dark"]) {
  --calcite-tree-text: #{$blk-040};
  --calcite-tree-text-hover: #{$blk-020};
  --calcite-tree-text-active: #{$blk-010};
  --calcite-tree-chevron: #{$blk-160};
  --calcite-tree-chevron-hover: #{$blk-100};
  --calcite-tree-chevron-active: #{$ui-blue-dark};
  --calcite-tree-indicator: #{$blk-160};
  --calcite-tree-indicator-active: #{$ui-blue-dark};
}

:host([lines]) {
  --calcite-tree-line: #{$blk-020};
  --calcite-tree-line-hover: #{$blk-050};
  --calcite-tree-line-active: #{$ui-blue};
}

:host([lines][theme="dark"]) {
  --calcite-tree-line: #{$blk-160};
  --calcite-tree-line-hover: #{$blk-120};
  --calcite-tree-line-active: #{$ui-blue-dark};
}

:host([size="s"]) {
  --calcite-tree-hover-line-width: #{2px};
  --calcite-tree-vertical-padding: #{$baseline/8};
  --calcite-tree-children-indent-start: 0rem;
  --calcite-tree-children-padding-start: 0.8rem;
  --calcite-tree-line-position-start: 0.3rem;
  --calcite-tree-parent-line-position-start: -0.5rem;
}

:host([dir="rtl"]) {
  --calcite-tree-indicator-first-start: 0;
  --calcite-tree-indicator-first-end: 0.1rem;
  --calcite-tree-indicator-distance-start: auto;
  --calcite-tree-indicator-distance-end: 0.15rem;
  --calcite-tree-icon-edge-distance-start: auto;
  --calcite-tree-icon-edge-distance-end: -0.2rem;
  --calcite-tree-icon-content-distance-start: 0;
  --calcite-tree-icon-content-distance-end: #{$baseline/4};
  --calcite-tree-indent-start: 0;
  --calcite-tree-indent-end: 1.4rem;
  --calcite-tree-children-indent-start: 0;
  --calcite-tree-children-indent-end: 0.25rem;
  --calcite-tree-children-padding-start: 0;
  --calcite-tree-children-padding-end: 1rem;
  --calcite-tree-line-position-start: 0;
  --calcite-tree-line-position-end: 0.05rem;
  --calcite-tree-parent-line-position-start: 0;
  --calcite-tree-parent-line-position-end: -0.95rem;
}

:host([dir="rtl"][size="s"]) {
  --calcite-tree-children-indent-end: 0rem;
  --calcite-tree-children-padding-end: 0.8rem;
  --calcite-tree-line-position-end: 0.3rem;
  --calcite-tree-parent-line-position-end: -0.5rem;
}
