/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *

 * @prop --calcite-tooltip-background-color: Specifies the background color of the component.
 * @prop --calcite-tooltip-border-color: The border color of the component.
 * @prop --calcite-tooltip-corner-radius: The corner radius of the component.
 * @prop --calcite-tooltip-text-color: The text color of the component.
 * @prop --calcite-tooltip-z-index: Sets the z-index value for the component.
 */

:host {
  --calcite-tooltip-background-color: var(--calcite-color-foreground-1);
  --calcite-tooltip-border-color: var(--calcite-color-border-3);
  --calcite-tooltip-text-color: var(--calcite-color-text-1);
  --calcite-tooltip-corner-radius: var(--calcite-border-radius-round);
  --calcite-floating-ui-z-index: var(--calcite-tooltip-z-index, var(--calcite-z-index-tooltip));
}

@include floatingUIHost();
@include floatingUIArrow();

.container {
  position: relative;
  overflow: hidden;
  font-weight: var(--calcite-font-weight-medium);
  font-size: var(--calcite-font-size--2);
  line-height: 1.375;
  padding-block: var(--calcite-spacing-md);
  padding-inline: var(--calcite-spacing-sm);
  max-inline-size: 20rem;
  max-block-size: 20rem;
  text-align: start;
  color: var(--calcite-tooltip-text-color);
  border-radius: var(--calcite-tooltip-corner-radius);
}

.calcite-floating-ui-anim {
  border-style: solid;
  border-width: var(--calcite-border-width-sm);
  background-color: var(--calcite-tooltip-background-color);
  border-color: var(--calcite-tooltip-border-color);
  border-radius: var(--calcite-tooltip-corner-radius);
}

.arrow::before {
  outline: var(--calcite-border-width-sm) solid var(--calcite-tooltip-border-color);
}

.calcite-floating-ui-arrow {
  fill: var(--calcite-tooltip-background-color);
}

.calcite-floating-ui-arrow__stroke {
  stroke: var(--calcite-tooltip-border-color);
}

@include base-component();
