/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-link-text-color: Specifies the component's text color.
 */

@use "../../styles/includes";

:host {
  display: inline;
}

:host button {
  @apply rounded-none
    border-none p-0;
  background: transparent;
  text-align: start;
}

:host a {
  @apply no-underline;
}

:host button,
:host a {
  @apply font-inherit
    relative 
    cursor-pointer;
  line-height: inherit;
  font-size: inherit;
  -webkit-appearance: none;
}

:host span {
  @apply focus-base;
  color: var(--calcite-link-text-color, var(--calcite-color-text-link));
  line-height: inherit;
  white-space: initial;
  background-image:
    linear-gradient(currentColor, currentColor),
    linear-gradient(var(--calcite-color-brand-underline), var(--calcite-color-brand-underline));
  background-position-x: 0%, 100%;
  background-position-y: min(1.5em, 100%);
  background-repeat: no-repeat, no-repeat;
  background-size:
    0% 1px,
    100% 1px;

  &.calcite--rtl {
    span {
      background-position:
        100% 100%,
        100% 100%;
    }
  }

  &:hover,
  &:focus {
    background-size:
      100% 1px,
      100% 1px;
  }

  &:focus {
    @apply focus-outset;
  }

  &:active {
    background-size:
      100% 2px,
      100% 2px;
  }

  .calcite--rtl & {
    span {
      background-position:
        100% 100%,
        100% 100%;
    }
  }

  @include includes.transition-default($extra-props: "background-size");
}

calcite-icon {
  inline-size: 1em;
  block-size: 1em;
  min-inline-size: unset;
  min-block-size: unset;
}

.calcite-link--icon {
  @apply align-middle;
  margin-block-start: -0.25em;
}

// icon positioning and styles
:host .calcite-link--icon.icon-start {
  margin-inline-end: theme("margin.2");
}

:host .calcite-link--icon.icon-end {
  margin-inline-start: theme("margin.2");
}

@include includes.disabled();
@include includes.base-component();
