/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-link-text-color: Specifies the component's text color.
 */

@use "../../styles/includes";

:host {
  display: inline;
}

:host a {
  @apply font-inherit
    no-underline 
    cursor-pointer
    focus-base;
  font-size: inherit;
  -webkit-appearance: none;

  color: var(--calcite-link-text-color, var(--calcite-color-text-link));
  line-height: inherit;
  white-space: initial;

  &:focus {
    @apply focus-outset;
  }
}

.calcite-link--text {
  text-decoration-line: var(--calcite-internal-link-text-decoration-line, underline);
  text-decoration-color: color-mix(in srgb, currentColor 40%, transparent);
  text-decoration-thickness: var(--calcite-border-width-sm);
  text-underline-offset: 0.33em;

  @include includes.transition-default($extra-props: "text-decoration-color, text-decoration-thickness");
}

:host a:hover .calcite-link--text,
:host a:focus .calcite-link--text {
  text-decoration-color: currentColor;
}

:host a:active .calcite-link--text {
  text-decoration-color: currentColor;
  text-decoration-thickness: var(--calcite-border-width-md);
}

calcite-icon {
  inline-size: 1em;
  block-size: 1em;
  min-inline-size: unset;
  min-block-size: unset;
}

.calcite-link--icon {
  @apply align-middle;
  margin-block-start: -0.25em;
}

:host .calcite-link--icon.icon-start {
  margin-inline-end: theme("margin.2");
}

:host .calcite-link--icon.icon-end {
  margin-inline-start: theme("margin.2");
}

@include includes.disabled();
@include includes.base-component();
