/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-swatch-group-space: Specifies the space between slotted elements.
 */

:host {
  @apply block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--calcite-swatch-group-space, var(--calcite-spacing-sm));
}

:host([scale="s"]) .container {
  gap: var(--calcite-swatch-group-space, var(--calcite-spacing-xxs));
}
@include base-component();
@include disabled();
