/**
 * CSS Custom Properties
 *
 * These properties can be overridden
 *
 * @prop --calcite-filter-background-color: Specifies the background color of the filter.
 * @prop --calcite-filter-width: Specifies a width used for the filter.
 */

:host {
  @include base-host();
  --calcite-filter-background-color: var(--calcite-color-foreground-1);
  --calcite-filter-width: 100%;

  display: flex;
  background-color: var(--calcite-filter-background-color);
  inline-size: var(--calcite-filter-width);
}

@include disabled();

.container {
  padding: var(--calcite-spacing-sm);
  margin-inline: var(--calcite-spacing-xxs);
  display: flex;
  inline-size: 100%;
  position: relative;
  overflow: hidden;
  align-items: center;
}

calcite-input {
  inline-size: 100%;
}

@include base-component();
