// theme variables
// light theme
:host {
  --calcite-switch-hover-handle-border: var(--calcite-ui-brand);
  --calcite-switch-switched-track-background: var(--calcite-ui-brand);
  --calcite-switch-switched-track-border: var(--calcite-ui-brand);
  --calcite-switch-switched-handle-border: var(--calcite-ui-brand);
  --calcite-switch-switched-hover-track-background: var(--calcite-ui-brand);
  --calcite-switch-switched-hover-track-border: var(--calcite-ui-brand);
  --calcite-switch-switched-hover-handle-border: var(--calcite-ui-brand-hover);
}

// sizes
:host([scale="s"]) {
  --calcite-switch-track-width: 28px;
  --calcite-switch-track-height: 16px;
  --calcite-switch-handle-size: 14px;
}

:host([scale="m"]) {
  --calcite-switch-track-width: 36px;
  --calcite-switch-track-height: 20px;
  --calcite-switch-handle-size: 18px;
}

:host([scale="l"]) {
  --calcite-switch-track-width: 44px;
  --calcite-switch-track-height: 24px;
  --calcite-switch-handle-size: 22px;
}

::slotted(input) {
  display: none;
}

:host {
  display: inline-block;
  position: relative;
  width: auto;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  tap-highlight-color: transparent;
}

:host([disabled]) {
  opacity: var(--calcite-ui-opacity-disabled);
  pointer-events: none;
  cursor: default;
}
// focus styles
:host {
  @include focus-style-base();
  width: auto;
}

:host(:focus) {
  @include focus-style-outset();
}

.track {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: var(--calcite-switch-track-width);
  height: var(--calcite-switch-track-height);
  background-color: var(--calcite-ui-foreground-2);
  border-radius: 30px;
  border: 1px solid var(--calcite-ui-border-2);
  pointer-events: none;
  transition: all $transition;
}

.handle {
  position: absolute;
  display: block;
  width: var(--calcite-switch-handle-size);
  height: var(--calcite-switch-handle-size);
  top: -1px;
  left: -1px;
  right: auto;
  background-color: var(--calcite-ui-foreground-1);
  border-radius: 30px;
  border: 2px solid var(--calcite-ui-border-input);
  pointer-events: none;
  transition: all $transition;
}

:host(:hover),
:host(:focus) {
  .handle {
    border-color: var(--calcite-switch-hover-handle-border);
    box-shadow: inset 0 0 0 1px var(--calcite-switch-hover-handle-border);
    right: auto;
  }
}

:host([switched]) {
  .track {
    background-color: var(--calcite-switch-switched-track-background);
    border-color: var(--calcite-switch-switched-track-border);
  }
  .handle {
    right: -1px;
    left: auto;
    border-color: var(--calcite-switch-switched-handle-border);
  }
}

:host([switched]:hover) {
  .track {
    background-color: var(--calcite-switch-switched-hover-track-background);
    border-color: var(--calcite-switch-switched-hover-track-border);
  }
  .handle {
    border-color: var(--calcite-switch-switched-hover-handle-border);
    box-shadow: inset 0 0 0 1px var(--calcite-switch-switched-hover-handle-border);
  }
}

// rtl
:host([dir="rtl"]) {
  margin-right: 0;
  margin-left: 0.5em;
  & .handle {
    left: auto;
    right: -1px;
  }
}

:host([dir="rtl"][switched]) .handle {
  right: auto;
  left: -1px;
}

:host([dir="rtl"][switched]:active) .handle,
:host([dir="rtl"][switched]:focus) .handle {
  right: auto;
  left: -1px;
}
