// sizes
:host([scale="s"]) {
  .track {
    @apply w-6 h-3;
  }
  .handle {
    @apply w-2 h-2;
  }
}

:host([scale="m"]) {
  .track {
    @apply w-8 h-4;
  }
  .handle {
    @apply w-3 h-3;
  }
}

:host([scale="l"]) {
  .track {
    @apply w-12 h-6;
  }
  .handle {
    @apply w-5 h-5;
  }
}

:host {
  @apply inline-block 
    relative 
    w-auto 
    cursor-pointer 
    select-none 
    align-middle;
  tap-highlight-color: transparent;
}

:host([disabled]) {
  @apply opacity-disabled pointer-events-none cursor-default;
}
// focus styles
:host {
  @apply focus-base w-auto;
}

:host(:focus) {
  @apply focus-outset;
}

.track {
  @apply relative 
    inline-block 
    align-top 
    bg-foreground-2 
    border 
    border-solid 
    border-color-2 
    box-border
    pointer-events-none
    transition-all
    duration-150
    ease-in-out
    rounded-full;
}

.handle {
  @apply absolute 
    block 
    right-auto 
    bg-foreground-1 
    border-2 
    border-solid 
    border-color-input
    transition-all
    duration-150
    ease-in-out
    rounded-full
    pointer-events-none;
  top: -1px;
  left: -1px;
}

:host(:hover),
:host(:focus) {
  .handle {
    @apply border-color-brand shadow-outline-active;
    @apply right-auto;
  }
}

:host([switched]) {
  .track {
    @apply bg-brand border-color-brand;
  }
  .handle {
    @apply left-auto border-color-brand;
    right: -1px;
  }
}

:host([switched]:hover) {
  .track {
    @apply bg-brand border-color-brand;
  }
  .handle {
    @apply border-color-brand shadow-outline-active;
  }
}

// rtl
.calcite--rtl {
  @apply mr-0 ml-2;
  & .handle {
    @apply left-auto;
    right: -1px;
  }
}

:host([switched]) {
  .calcite--rtl {
    & .handle {
      @apply right-auto;
      left: -1px;
    }
  }
}
:host([switched]:active) {
  .calcite--rtl {
    & .handle {
      @apply right-auto;
      left: -1px;
    }
  }
}
:host([switched]:focus) {
  .calcite--rtl {
    & .handle {
      @apply right-auto;
      left: -1px;
    }
  }
}
