/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-navigation-logo-background-color-active: Specifies the background color of the component when active.
 * @prop --calcite-navigation-logo-background-color-hover: Specifies the background color of the component when hovered.
 * @prop --calcite-navigation-logo-border-color-active: Specifies the border color of the component when active.
 * @prop --calcite-navigation-logo-description-text-color: Specifies text color of description of component.
 * @prop --calcite-navigation-logo-heading-text-color: Specifies the text color of heading of component.
 * @prop --calcite-navigation-logo-text-color-active: Specifies the text color of component when active.
 * @prop --calcite-navigation-logo-text-color: Specifies the text color of the component.
 *
 */

:host {
  @apply inline-flex outline-none;
}

.anchor {
  @apply flex
    m-0
    items-center
    justify-center
    cursor-pointer
    transition-default
    focus-base
    no-underline;
  color: var(--calcite-navigation-logo-text-color, inherit);
  font-size: var(--calcite-font-size-md);
  line-height: var(--calcite-font-line-height-fixed-lg);
  border-block-end: 2px solid transparent;
}

.anchor:hover,
.anchor:focus {
  background-color: var(--calcite-navigation-logo-background-color-hover, var(--calcite-color-foreground-2));
}
.anchor:focus {
  @apply focus-inset;
}

.anchor:active {
  background-color: var(--calcite-navigation-logo-background-color-active, var(--calcite-color-foreground-3));
}

.image,
.icon {
  @apply flex h-7 m-0;
  padding-inline: var(--calcite-spacing-xl);
}

.image ~ .icon {
  @apply ps-0;
}

.image ~ .container,
.icon ~ .container {
  @apply ps-0;
}

:host(:active) .anchor {
  color: var(--calcite-navigation-logo-text-color-active, var(--calcite-color-text-1));
}

:host([active]) .anchor {
  color: var(--calcite-navigation-logo-text-color-active, var(--calcite-color-text-1));
  border-color: var(--calcite-navigation-logo-border-color-active, var(--calcite-color-brand));
  --calcite-ui-icon-color: var(--calcite-color-brand);
}

.container {
  @apply flex
  flex-col
  truncate
  text-start;
  padding-inline: var(--calcite-spacing-xl);
  margin-block-start: var(--calcite-spacing-base);
}

.heading {
  @apply ms-0 truncate;
  font-weight: var(--calcite-font-weight-medium);
  color: var(--calcite-navigation-logo-heading-text-color, var(--calcite-color-text-1));
  font-size: var(--calcite-font-size-md);
}

.standalone {
  font-size: var(--calcite-font-size-lg);
}

.description {
  @apply truncate;
  color: var(--calcite-navigation-logo-description-text-color, var(--calcite-color-text-2));
  font-size: var(--calcite-font-size-xl);
}

@include base-component();
