@use "../../assets/styles/includes";
/*
* These properties can be overridden using the component's tag as selector.
*
* @prop --calcite-navigation-accent-color: Specifies the component's border color when `active`.
* @prop --calcite-navigation-background-color: Specifies the component's background color.
* @prop --calcite-navigation-logo-heading-text-color: Specifies the component's default color for heading text.
* @prop --calcite-navigation-logo-text-color: Specifies the component's default color for icon and description text.
*/
:host {
  @apply inline-flex;
}

.container {
  @apply flex
    m-0
    items-center
    justify-center
    text-0h;
  background-color: var(
    --calcite-navigation-background-color,
    var(--calcite-internal-navigation-logo-background-color, var(--calcite-color-foreground-1))
  );
  border-block-end: 2px solid var(--calcite-color-transparent);
  @include includes.transition-default($target-props: "background-color");
}

.container--link {
  @apply focus-base
  cursor-pointer
  no-underline;
}

:host(:focus) {
  .container--link {
    @apply focus-inset;
  }
}

.image,
.icon {
  @apply flex h-7 m-0 px-4;
  color: var(
    --calcite-navigation-logo-text-color,
    var(--calcite-icon-color, var(--calcite-internal-navigation-logo-text-color, inherit))
  );
}

.image ~ .icon {
  @apply ps-0;
}

.image ~ .text-container,
.icon ~ .text-container {
  @apply ps-0;
}

:host([href]:hover),
:host([href]:focus) {
  --calcite-internal-navigation-logo-background-color: var(--calcite-color-foreground-2);
}

:host([href]:active) {
  --calcite-internal-navigation-logo-background-color: var(--calcite-color-foreground-3);
}

:host([active]) .container {
  border-block-end-color: var(--calcite-navigation-accent-color, var(--calcite-color-brand));
}

:host([active]),
:host([href]:active) {
  --calcite-internal-navigation-logo-text-color: var(--calcite-color-brand);
}

.text-container {
  @apply flex
  flex-col
  truncate
  text-start
  px-4
  mt-0.5;
}

.heading {
  @apply text-0
  ms-0
  truncate
  font-medium;
  color: var(--calcite-navigation-logo-heading-text-color, var(--calcite-color-text-1));
}

.standalone {
  @apply text-1;
}

.description {
  @apply text-color-2 truncate;
  color: var(--calcite-navigation-logo-text-color, var(--calcite-color-text-2));
  font-size: var(--calcite-font-size--1);
}

@include includes.base-component();
