/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-avatar-corner-radius: defines the corner radius of the component.
 * @prop --calcite-avatar-text-color: defines the text color of the component.
 *
 */

:host {
  @apply inline-block overflow-hidden;
}

:host,
.background,
.thumbnail {
  border-radius: var(--calcite-avatar-corner-radius, 50%);
}

.background,
.thumbnail {
  block-size: var(--calcite-container-size-content-fluid);
  inline-size: var(--calcite-container-size-content-fluid);
}

.icon,
.background {
  @apply flex;
}

.background {
  @apply items-center justify-center;
}

.initials {
  @apply font-bold uppercase;
  color: var(--calcite-avatar-text-color, var(--calcite-color-text-2));
}

:host([scale="s"]) {
  @apply text-n3 h-6 w-6;
}

:host([scale="m"]) {
  @apply text-n2 h-8 w-8;
}

:host([scale="l"]) {
  @apply text-0 h-11 w-11;
}

calcite-icon {
  // TODO: component tokens
}

@include base-component();
