:host {
  @extend %component-host;
  @apply flex 
    flex-auto 
    overflow-hidden 
    bg-transparent;
}

.content {
  @apply flex 
    h-full 
    m-0 
    overflow-hidden 
    w-full;
  flex: 1 0 0;
}

.action-bar-container {
  @apply flex;
}

:host([detached]) {
  @apply border-0
  rounded
  shadow-0
  mt-2 mb-6 mx-2
  animate-in-up;
}

:host([position="end"]) {
  @apply self-end;
}

:host([position="start"]) {
  @apply self-start;
}

:host([height-scale="s"]) {
  height: theme("width[1/3]");
}

:host([height-scale="m"]) {
  height: 70%;
}

:host([height-scale="l"]) {
  @apply h-full;
}

:host([height-scale="l"][detached]) {
  height: calc(theme("height.full") - theme("spacing.8"));
}

::slotted(calcite-panel) {
  @apply w-full h-full;
}

::slotted(calcite-action-bar) {
  @apply border-r border-solid border-color-3;
}
::slotted(calcite-action-bar[position="end"]) {
  @apply border-r-0 border-r border-solid border-color-3;
}

.calcite--rtl {
  ::slotted(calcite-action-bar) {
    @apply border-r-0 border-l border-solid border-color-3;
  }
  ::slotted(calcite-action-bar[position="end"]) {
    @apply border-l-0 border-r border-solid border-color-3;
  }
}
