:host {
  @extend %component-host;
  @extend %component-spacing;
  display: flex;
  overflow: hidden;
  background-color: transparent;
  border-left: 1px solid var(--calcite-ui-border-3);
  border-right: 1px solid var(--calcite-ui-border-3);

  --calcite-shell-center-row-height-small: 33%;
  --calcite-shell-center-row-height-medium: 70%;
  --calcite-shell-center-row-height-large: 100%;

  --calcite-shell-center-row-border: 1px solid var(--calcite-ui-border-3);
}

.content {
  display: flex;
  flex: 1 0 0;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.action-bar-container {
  display: flex;
}

:host([detached]) {
  @apply border-0
  rounded
  shadow-0
  mt-2 mb-6 mx-2
  animate-in-up;
}

:host([position="end"]) {
  align-self: flex-end;
}

:host([position="start"]) {
  align-self: flex-start;
}

:host([height-scale="s"]) {
  height: var(--calcite-shell-center-row-height-small);
}

:host([height-scale="m"]) {
  height: var(--calcite-shell-center-row-height-medium);
}

:host([height-scale="l"]) {
  height: var(--calcite-shell-center-row-height-large);
}

:host([height-scale="l"][detached]) {
  height: calc(var(--calcite-shell-center-row-height-large) - var(--calcite-spacing-double));
}

::slotted(calcite-panel) {
  width: 100%;
  height: 100%;
}

::slotted(calcite-action-bar) {
  border-right: var(--calcite-shell-center-row-border);
}
::slotted(calcite-action-bar[position="end"]) {
  border-right: none;
  border-left: var(--calcite-shell-center-row-border);
}

.calcite--rtl {
  ::slotted(calcite-action-bar) {
    border-right: none;
    border-left: var(--calcite-shell-center-row-border);
  }
  ::slotted(calcite-action-bar[position="end"]) {
    border-left: none;
    border-right: var(--calcite-shell-center-row-border);
  }
}
