:host {
  @extend %component-host;
  @extend %component-spacing;
  margin-bottom: 1px;
  display: flex;
  transition: background-color $transition, box-shadow $transition;
  @apply shadow-border-bottom;
}

calcite-pick-list-item {
  box-shadow: none;
  flex-grow: 1;
  position: relative;
  margin: 0;
}

:host([active]),
:host([selected]) {
  @apply shadow-outline-active;
}

.handle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--calcite-spacing-quarter);
  background-color: transparent;
  border: none;
  color: var(--calcite-ui-border-1);
  line-height: 0;
  cursor: move;
  &:hover {
    background-color: var(--calcite-ui-foreground-2);
    color: var(--calcite-ui-text-1);
  }
  @include focus-style-base();
  &:focus {
    @include focus-style-inset();
  }
  &--activated {
    background-color: var(--calcite-ui-foreground-3);
    color: var(--calcite-ui-text-1);
  }
}
