@mixin componentTypographyVars() {
  /* Component typography variables */
  --calcite-app-line-height: 1.35;

  --calcite-app-font-family: #{$avenir-family};
  --calcite-app-font-family-monospace: #{$code-family};

  --calcite-app-font-size-2: 1.125rem; // 18
  --calcite-app-font-size-1: 1rem; // 16
  --calcite-app-font-size-0: 0.875rem; // 14
  --calcite-app-font-size--1: 0.75rem; // 12
  --calcite-app-font-size--2: 0.625rem; // 10

  --calcite-app-font-weight: 400;
  --calcite-app-font-weight-demi: 600;
}
