/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-segmented-control-background-color: Specifies the background color of the component.
 * @prop --calcite-segmented-control-border-color: Specifies the border color of the component.
 */

:host {
  display: flex;
  flex-direction: column;
}

.item-wrapper {
  background-color: var(--calcite-segmented-control-background-color, var(--calcite-color-foreground-1));
  display: flex;
  inline-size: fit-content;
  outline: 1px solid var(--calcite-segmented-control-border-color, var(--calcite-color-border-input));
  outline-offset: -1px;
}

:host([appearance="outline"]) > .item-wrapper {
  background-color: transparent;
}

@include disabled();

:host([layout="vertical"]) > .item-wrapper {
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
}

// segmented control width for full
:host([width="full"]) > .item-wrapper {
  inline-size: var(--calcite-container-size-content-fluid);
  min-inline-size: fit-content;

  ::slotted(calcite-segmented-control-item) {
    flex: 1 1 auto;
  }
}

:host([width="full"][layout="vertical"]) > .item-wrapper {
  ::slotted(calcite-segmented-control-item) {
    justify-content: flex-start;
  }
}

@include form-validation-message();
@include hidden-form-input();
@include base-component();
