@mixin focus-inset() {
  outline: var(--calcite-border-width-md) solid
    var(--calcite-color-focus, var(--calcite-ui-focus-color, var(--calcite-color-brand)));
  outline-offset: calc(
    calc(-1 * var(--calcite-space-base)) * calc(1 - 2 * clamp(0, var(--calcite-offset-invert-focus), 1))
  );
}

@mixin focus-normal() {
  outline: var(--calcite-border-width-md) solid
    var(--calcite-color-focus, var(--calcite-ui-focus-color, var(--calcite-color-brand)));
}

@mixin focus-outset() {
  outline: var(--calcite-border-width-md) solid
    var(--calcite-color-focus, var(--calcite-ui-focus-color, var(--calcite-color-brand)));
  outline-offset: calc(var(--calcite-space-base) * calc(1 - 2 * clamp(0, var(--calcite-offset-invert-focus), 1)));
}

@mixin focus-inset-danger() {
  outline: var(--calcite-border-width-md) solid var(--calcite-color-status-danger);
  outline-offset: calc(
    calc(-1 * var(--calcite-spacing-base)) * calc(1 - 2 * clamp(0, var(--calcite-offset-invert-focus), 1))
  );
}

@mixin focus-outset-danger() {
  outline: var(--calcite-border-width-md) solid var(--calcite-color-status-danger);
  outline-offset: calc(var(--calcite-spacing-base) * calc(1 - 2 * clamp(0, var(--calcite-offset-invert-focus), 1)));
}
