// mixin to provide base disabled styles for interactive components
// additional styling can be passed via @content
@mixin disabled() {
  :host([disabled]) {
    @extend %disabled-host-only;
    @content;

    ::slotted([calcite-hydrated][disabled]),
    [calcite-hydrated][disabled] {
      /* prevent opacity stacking */
      @apply opacity-100;
    }
  }

  .interaction-container {
    display: contents;
  }
}

// used for host-specific styling when the `disabled` mixin cannot be applied on the host (e.g., `display: contents`)
%disabled-host-only {
  @apply opacity-disabled cursor-default select-none;
  @extend %non-interactive-host-contents;
}

%non-interactive-host-contents {
  *,
  ::slotted(*) {
    @apply pointer-events-none;
  }
}

// mixin to provide default invisibility and disabling of pointer events for components.
@mixin calcite-hydrated-hidden() {
  :host([calcite-hydrated-hidden]) {
    visibility: hidden !important; // 'important' is being used here to temporarily handle precedence of visibility set with calcite-hydrated. Do not follow this pattern. See #991.
    pointer-events: none;
  }
}
