$font-weight--medium: 500;
$section-label-bottom-padding: 10px;

:host {
  border: 1px solid var(--calcite-ui-border-1);
  display: inline-block;
  background-color: var(--calcite-ui-foreground-1);
}

:host([scale="s"]) {
  width: 170px;

  .header,
  .color-mode-part-label {
    font-size: 12px;
  }

  .color-mode-part {
    width: 48px;
    margin-right: 3px;
  }
}

:host([scale="m"]) {
  width: 240px;
}

:host([scale="l"]) {
  width: 370px;

  .control-section {
    flex-wrap: nowrap;
  }

  .color-hex-options {
    flex-grow: 0;
  }

  .color-mode-container {
    margin-top: 0;
    flex-grow: 0.5;
  }
}

.color-palette,
.hue-slider {
  display: block;
  cursor: pointer;
}

.control-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  padding: 16px 10px 0;

  &:last-child {
    padding-bottom: 16px;
  }
}

.control-section {
  display: flex;
  justify-content: space-between;
}

.color-hex-options {
  flex-grow: 1;
}

.section--split {
  margin-top: 16px;
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--calcite-ui-text-3);
  font-weight: $font-weight--medium;
  font-size: 14px;

  &.header--underlined {
    border-bottom: 1px solid var(--calcite-ui-border-3);
  }
}

.color-mode,
.header--hex {
  @include focus-style-base();

  padding-bottom: $section-label-bottom-padding;

  &:focus {
    @include focus-style-outset();
  }
}

.control {
  margin-top: 8px;
}

.color-mode {
  cursor: pointer;
  margin-bottom: -1px;
  border-bottom: 3px solid transparent;
}

.color-mode-selection {
  justify-content: space-between;

  &::after {
    content: "";
    flex-grow: 0.5;
  }
}

.color-mode-selection,
.color-mode-parts {
  display: flex;
}

.color-mode {
  color: var(--calcite-ui-border-1);
}

.color-mode-part {
  position: relative;
  display: flex;
  align-items: center;
  width: 65px;
  margin-right: 8px;

  &:last-child {
    margin-right: unset;
  }
}

.color-mode-parts {
  display: flex;
  justify-content: space-between;
}

.color-mode-selected {
  cursor: none;
  color: var(--calcite-ui-text-1);
  border-bottom-color: var(--calcite-ui-blue-1);
}

.color-mode-part-input {
  @include focus-style-base();

  padding-left: 18px;
  height: 27px;
  width: 100%;
  border: solid 1px var(--calcite-ui-border-2);
  color: var(--calcite-ui-text-1);
  font-family: $avenir-family;

  &:focus {
    @include focus-style-inset();
  }

  // hide stepper arrows
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.color-mode-part-label {
  @include avenir-demi();

  position: absolute;
  left: 5px;
  font-size: 14px;
  color: var(--calcite-ui-text-3);
}

.saved-colors {
  display: flex;
  flex-wrap: wrap;
}

calcite-color-swatch {
  @include focus-style-base();

  margin: 4px 8px 0 0;

  &:focus {
    @include focus-style-outset();
  }
}

calcite-color-swatch:not([is-active]):hover {
  cursor: pointer;
}

// TODO: rtl
