$font-weight--medium: 500;
$section-label-bottom-padding: 10px;
$inline-button-size: 24px;
$color-mode-selected-border-height: 3px;
$channel-input-offset: 18px;

:host {
  border: 1px solid var(--calcite-ui-border-1);
  display: inline-block;
  background-color: var(--calcite-ui-foreground-1);
}

:host([dir="rtl"]) {
  .channel-input {
    padding: 0 $channel-input-offset 0 0;
  }
}

:host([scale="s"]) {
  width: 170px;

  .header,
  .channel-label {
    font-size: 12px;
  }

  .channel {
    width: 48px;
    margin-right: 3px;
  }
}

:host([scale="m"]) {
  width: 240px;
}

:host([scale="l"]) {
  width: 370px;

  .control-section {
    flex-wrap: nowrap;
  }

  .color-hex-options {
    flex-basis: 33%;
    flex-grow: 0;
  }

  .color-mode-container {
    margin-top: 0;
    flex-grow: 0.5;
  }
}

.color-field-and-slider {
  margin-bottom: -20px;

  &--interactive {
    cursor: pointer;
  }
}

.control-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  padding: 16px 10px 0;

  &:last-child {
    padding-bottom: 16px;
  }
}

.control-section {
  display: flex;
  justify-content: space-between;
}

.color-hex-options {
  flex-grow: 1;
}

.section--split {
  margin-top: 16px;
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--calcite-ui-text-3);
  font-weight: $font-weight--medium;
  font-size: 14px;

  &.header--underlined {
    border-bottom: 1px solid var(--calcite-ui-border-3);
  }
}

.color-mode,
.header--hex {
  @include focus-style-base();

  padding-bottom: $section-label-bottom-padding;

  &:focus {
    @include focus-style-outset();
  }
}

.header--hex {
  padding-bottom: $section-label-bottom-padding + $color-mode-selected-border-height - 1px;
}

.control {
  margin-top: 8px;
}

.color-mode {
  cursor: pointer;
  margin-bottom: -1px;
  border-bottom: $color-mode-selected-border-height solid transparent;
}

.color-mode-selection {
  justify-content: space-between;

  &::after {
    content: "";
    flex-grow: 0.5;
  }
}

.color-mode-selection,
.channels {
  display: flex;
}

.color-mode {
  color: var(--calcite-ui-text-3);
}

.channels {
  display: flex;
  justify-content: space-between;
}

.channel {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  align-items: center;
  width: 65px;
  height: 28px;
  margin-right: 8px;

  &:last-child {
    margin-right: unset;
  }
}

.color-mode-selected {
  cursor: none;
  color: var(--calcite-ui-text-1);
  border-bottom-color: var(--calcite-ui-blue-1);
}

.channel-input {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;

  @include focus-style-base();

  padding: 0 0 0 $channel-input-offset;
  height: inherit;
  border: solid 1px var(--calcite-ui-border-2);
  color: var(--calcite-ui-text-1);
  font-family: $avenir-family;

  &:focus {
    @include focus-style-inset();
  }

  // hide stepper arrows
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.channel-label {
  @include avenir-demi();

  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;

  display: flex;
  align-items: center;
  margin: 0 4px;
  font-size: 14px;
  color: var(--calcite-ui-text-3);
  pointer-events: none;
}

.saved-colors {
  display: flex;
  flex-wrap: wrap;
}

calcite-color-swatch {
  @include focus-style-base();

  margin: 4px 8px 0 0;

  &:focus {
    @include focus-style-outset();
  }

  &:hover {
    transition: outline-color 100ms ease-in-out;
    outline: 2px solid var(--calcite-ui-border-2);
    outline-offset: 2px;
  }
}

calcite-color-swatch:not([is-active]):hover {
  cursor: pointer;
}

.save-color,
.delete-color {
  display: inline-flex;

  @include focus-style-base();

  height: $inline-button-size;
  width: $inline-button-size;

  &:active,
  &:focus,
  &:hover {
    background-color: #ddd;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    @include focus-style-outset();
  }
}
