:host {
  @apply relative flex;
}

.scale-s {
  --calcite-internal-tab-nav-scroller-button-width: #{$calcite-size-32};
  min-block-size: theme("spacing.6");
}

.scale-m {
  --calcite-internal-tab-nav-scroller-button-width: #{$calcite-size-48};
  min-block-size: theme("spacing.8");
}

.scale-l {
  --calcite-internal-tab-nav-scroller-button-width: #{$calcite-size-64};
  min-block-size: theme("spacing.11");
}

.tab-nav--start-overflow {
  .tab-nav-active-indicator-container,
  .tab-titles-slot-wrapper {
    mask-image: linear-gradient(
      to right,
      transparent,
      transparent var(--calcite-internal-tab-nav-scroller-button-width),
      white var(--calcite-internal-tab-nav-scroller-button-width),
      white 50%
    );
  }
}

.tab-nav--end-overflow {
  .tab-nav-active-indicator-container,
  .tab-titles-slot-wrapper {
    mask-image: linear-gradient(
      to left,
      transparent,
      transparent var(--calcite-internal-tab-nav-scroller-button-width),
      white var(--calcite-internal-tab-nav-scroller-button-width),
      white 50%
    );
  }
}

.tab-nav--start-overflow.tab-nav--end-overflow {
  .tab-nav-active-indicator-container,
  .tab-titles-slot-wrapper {
    mask-image: linear-gradient(
        to right,
        transparent,
        transparent var(--calcite-internal-tab-nav-scroller-button-width),
        white var(--calcite-internal-tab-nav-scroller-button-width),
        white 50%,
        transparent 50%
      ),
      linear-gradient(
        to left,
        transparent,
        transparent var(--calcite-internal-tab-nav-scroller-button-width),
        white var(--calcite-internal-tab-nav-scroller-button-width),
        white 50%,
        transparent 50%
      );
  }
}

:host([bordered]) .scroll-button {
  box-shadow: inset 0 1px 0 var(--calcite-ui-border-1);
}

:host([bordered]:not([position="bottom"])) .scroll-button {
  margin-block-end: -1px;
}

:host([bordered][position="bottom"]) .scroll-button {
  box-shadow:
    inset 0 1px 0 var(--calcite-ui-border-1),
    inset 0 -1px 0 var(--calcite-ui-border-1);
}

:host([bordered]) .scroll-button {
  @apply border-color-1 border border-solid;
  border-block-end: none;
}

.tab-nav::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:host([layout="center"]) {
  ::slotted(calcite-tab-title) {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    min-inline-size: auto;
    white-space: nowrap;
  }

  ::slotted(calcite-tab-title[selected]) {
    overflow: unset;
  }
}

:host([layout="center"]:not([bordered])) {
  .scale-l {
    --calcite-internal-tab-nav-gap: var(--calcite-size-lg);
  }
  .scale-m {
    --calcite-internal-tab-nav-gap: var(--calcite-size-xl);
  }
  .scale-s {
    --calcite-internal-tab-nav-gap: var(--calcite-size-xxl);
  }

  .tab-titles-slot-wrapper {
    padding-inline: var(--calcite-spacing-xxl);
    gap: var(--calcite-internal-tab-nav-gap);
  }
}

.tab-nav,
.tab-titles-slot-wrapper {
  @apply flex
    w-full
    justify-start
    whitespace-nowrap
    overflow-hidden;
}

// prevent indicator overflow in horizontal scrolling situations
.tab-nav-active-indicator-container {
  @apply absolute
    inset-x-0
    bottom-0
    h-0.5
    w-full
    overflow-hidden;
}

.tab-nav-active-indicator {
  @apply bg-brand
    absolute
    bottom-0
    block
    h-0.5
    transition-all
    ease-out;
}

.scroll-button-container {
  @apply absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
}

.scroll-button-container:not([hidden]) {
  @apply flex h-full overflow-hidden;
}

.scroll-button-container--forward {
  inset-inline-end: 0;
}

.scroll-button-container--backward {
  inset-inline-start: 0;
}

:host(:not([bordered])) {
  .scroll-button-container--backward,
  .scroll-button-container--forward {
    &::before {
      background-color: var(--calcite-color-border-3);
      content: "";
      inline-size: var(--calcite-border-width-sm);
      inset-block-start: var(--calcite-border-width-md);
      inset-block-end: var(--calcite-border-width-md);
      position: absolute;
    }
  }

  .scroll-button-container--backward::before {
    inset-inline-end: 0;
  }

  .scroll-button-container--forward::before {
    inset-inline-start: 0;
  }
}

:host .position-bottom .tab-nav-active-indicator {
  inset-block-end: unset;
  @apply top-0;
}

:host .position-bottom .tab-nav-active-indicator-container {
  inset-block-end: unset;
  @apply top-0;
}

:host([bordered]) .tab-nav-active-indicator-container {
  inset-block-end: unset; // display active blue line above instead of below
}

:host([bordered]) .position-bottom .tab-nav-active-indicator-container {
  inset-block-end: 0; // display active blue line below instead of above
  inset-block-start: unset;
}

@media (forced-colors: active) {
  .tab-nav-active-indicator {
    background-color: highlight;
  }
}

@include base-component();
