:host {
  @apply relative flex;
}

:host([scale="s"]) {
  min-block-size: theme("spacing.6");
}

:host([scale="m"]) {
  min-block-size: theme("spacing.8");
}

:host([scale="l"]) {
  min-block-size: theme("spacing.11");
}

:host([bordered]) calcite-action {
  box-shadow: inset 0 1px 0 var(--calcite-ui-border-1);
  background-color: var(--calcite-ui-foreground-1);
}

:host([bordered]:not([position="bottom"])) calcite-action {
  margin-block-end: -1px;
}

:host([bordered][position="bottom"]) calcite-action {
  box-shadow: inset 0 1px 0 var(--calcite-ui-border-1), inset 0 -1px 0 var(--calcite-ui-border-1);
}

:host([bordered]) calcite-action {
  @apply border-color-1 border border-solid;
}

.tab-nav::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tab-nav {
  @apply flex
    w-full
    justify-start
    whitespace-nowrap
    overflow-auto;
}

// prevent indicator overflow in horizontal scrolling situations
.tab-nav-active-indicator-container {
  @apply absolute
    inset-x-0
    bottom-0
    h-0.5
    w-full
    overflow-hidden;
}

.tab-nav-active-indicator {
  @apply bg-brand
    absolute
    bottom-0
    block
    h-0.5
    transition-all
    ease-out;
}

calcite-action {
  @apply absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
}

.arrow-end {
  @apply h-full overflow-hidden;
  inset-inline-end: 0;
}

.arrow-start {
  @apply h-full overflow-hidden;
  inset-inline-start: 0;
}

:host([layout="center"]) .tab-nav {
  @apply justify-evenly;
}

:host([position="bottom"]) .tab-nav-active-indicator {
  inset-block-end: unset;
  @apply top-0;
}

:host([position="bottom"]) .tab-nav-active-indicator-container {
  inset-block-end: unset;
  @apply top-0;
}

:host([bordered]) .tab-nav-active-indicator-container {
  inset-block-end: unset; // display active blue line above instead of below
}

:host([bordered][position="bottom"]) .tab-nav-active-indicator-container {
  inset-block-end: 0; // display active blue line below instead of above
  inset-block-start: unset;
}

@media (forced-colors: active) {
  .tab-nav-active-indicator {
    background-color: highlight;
  }
}

@include base-component();
