/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-input-message-spacing-value: the top margin above the input-message.
 */

:host([active][scale="m"]),
:host([active][scale="l"]) {
  --calcite-input-message-spacing-value: theme("spacing.1");
}

:host {
  @apply flex
    items-center
    w-full
    box-border
    text-color-1
    font-medium
    invisible
    h-0
    pointer-events-none
    opacity-0
    transition-default;
}

:host([active]) {
  @apply h-auto
    visible
    opacity-100
    transition-default;
}

:host([active][scale="m"]),
:host([active][scale="l"]) {
  margin-top: var(--calcite-input-message-spacing-value);
}

.calcite-input-message-icon {
  @apply inline-flex
    flex-shrink-0
    pointer-events-none
    mr-2
    transition-default;
}

.calcite-input-message-icon.calcite--rtl {
  @apply ml-2 mr-0;
}

:host([status="invalid"]) .calcite-input-message-icon {
  color: var(--calcite-ui-danger);
}

:host([status="warning"]) .calcite-input-message-icon {
  color: var(--calcite-ui-warning);
}

:host([status="valid"]) .calcite-input-message-icon {
  color: var(--calcite-ui-success);
}

:host([status="idle"]) .calcite-input-message-icon {
  color: var(--calcite-ui-brand);
}

// Validation Text
:host([status][active]) {
  @apply text-color-1 
    font-medium;
}

:host([status][active][scale="s"]) {
  @apply text--3h;
}

:host([status][active][scale="m"]) {
  @apply text--2h
    mt-1;
}

:host([status][active][scale="l"]) {
  @apply text--1h
    mt-1;
}
