:host {
  @apply flex
    items-center
    w-full
    box-border
    text-color-1
    font-medium
    invisible
    h-0
    pointer-events-none
    opacity-0;
}

:host([active]) {
  @apply h-auto
    visible
    opacity-100;
}

:host([active][scale="m"]),
:host([active][scale="l"]) {
  @apply mt-1;
}

.calcite-input-message-icon {
  transition: $transition;
  @apply inline-flex
    flex-shrink-0
    pointer-events-none
    mr-2;
}

.calcite-input-message-icon.calcite--rtl {
  @apply ml-2;
}

:host([status="invalid"]) .calcite-input-message-icon {
  color: var(--calcite-ui-danger);
}

:host([status="warning"]) .calcite-input-message-icon {
  color: var(--calcite-ui-warning);
}

:host([status="valid"]) .calcite-input-message-icon {
  color: var(--calcite-ui-success);
}

:host([status="idle"]) .calcite-input-message-icon {
  color: var(--calcite-ui-brand);
}

// status
// $inputStatusColors:
//   "invalid" var(--calcite-ui-danger) var(--calcite-ui-danger) var(--calcite-input-status-invalid-focus-shadow-color),
//   "valid" var(--calcite-ui-success) var(--calcite-ui-success) var(--calcite-input-status-valid-focus-shadow-color),
//   "idle" var(--calcite-ui-brand) var(--calcite-ui-brand) var(--calcite-input-status-valid-focus-shadow-color);

// @each $statusColor in $inputStatusColors {
//   $name: nth($statusColor, 1);
//   $color: nth($statusColor, 2);
//   $colorHover: nth($statusColor, 3);
//   $shadowColor: nth($statusColor, 4);

//   :host([status="#{$name}"]) {
//     & .calcite-input-message-icon {
//       color: $color;
//     }
//   }
// }

// Floating messages

:host([type="floating"]) {
  transform: translate3d(0, -$baseline, 0);
  background-color: var(--calcite-input-message-floating-background);
  top: 100%;
  // accommodate for spacing of label
  margin-top: -1.5rem;
  padding: var(--calcite-input-message-spacing-value);
  z-index: 101;
  @apply absolute
    w-full
    left-0
    right-0
    h-auto
    rounded-sm
    shadow-2;
}

:host([type="floating"][active]) {
  transform: translate3d(0, 0, 0);
}

:host([type="floating"][active]) {
  animation: floatingMessagePulse 0.5s ease-in-out;
  animation-iteration-count: 1;
}

@keyframes floatingMessagePulse {
  0% {
    top: 100%;
  }
  25% {
    top: 110%;
  }
  50% {
    top: 100%;
  }
  75% {
    top: 105%;
  }
  100% {
    top: 100%;
  }
}
