/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-input-date-picker-icon-color: Specifies the component's icon color.
 * @prop --calcite-input-date-picker-border-color: Specifies the component's border color.
 * @prop --calcite-input-date-picker-background-color: Specifies the component's background color.
 */

:host {
  @extend %component-spacing;
  @include floating-ui-elem-anim(".menu-container");
  @apply relative
    inline-block
    w-full
    overflow-visible
    align-top
    shadow-none;
}

@function get-trailing-text-input-padding($chevron-spacing) {
  @return calc(var(--calcite-toggle-spacing) + $chevron-spacing);
}

:host([scale="s"]) {
  --calcite-toggle-spacing: var(--calcite-spacing-sm);
  --calcite-internal-input-text-input-padding-inline-end: #{get-trailing-text-input-padding(var(--calcite-spacing-lg))};
}

:host([scale="m"]) {
  --calcite-toggle-spacing: var(--calcite-spacing-md);
  --calcite-internal-input-text-input-padding-inline-end: #{get-trailing-text-input-padding(var(--calcite-spacing-xxl))};
}

:host([scale="l"]) {
  --calcite-toggle-spacing: var(--calcite-spacing-lg);
  --calcite-internal-input-text-input-padding-inline-end: #{get-trailing-text-input-padding(
      var(--calcite-spacing-xxxl)
    )};
}

@include disabled();

.calendar-wrapper {
  @apply shadow-none;
  transform: translate3d(0, 0, 0);
}

.input-wrapper {
  @apply relative;

  .chevron-icon {
    color: var(--calcite-input-date-picker-icon-color, var(--calcite-color-text-3));
  }

  &:focus-within,
  &:active,
  &:hover {
    .chevron-icon {
      color: var(--calcite-input-date-picker-icon-color, var(--calcite-color-text-1));
    }
    ~ .input-wrapper .chevron-icon {
      color: var(--calcite-input-date-picker-icon-color, var(--calcite-color-text-1));
    }
  }
}

.toggle-icon {
  @apply absolute flex cursor-pointer items-center;
  inset-inline-end: 0;
  inset-block: 0;
  padding-inline: var(--calcite-toggle-spacing);
}

:host([range]) {
  .container {
    @apply flex;
  }

  .input-container {
    @apply flex flex-auto;
  }

  .input-wrapper {
    @apply flex-auto;
  }
}

.divider-container {
  @apply flex items-stretch
  border
  border-l-0
  border-r-0
  border-solid;
  background-color: var(--calcite-input-date-picker-background-color, var(--calcite-color-foreground-1));
  border-color: var(--calcite-input-date-picker-border-color, var(--calcite-color-border-input));
}

:host([layout="horizontal"]) .divider-container {
  @apply w-px;
}

.divider {
  @apply inline-block w-px;
  margin-block: var(--calcite-spacing-xxs);
  background-color: var(--calcite-input-date-picker-background-color, var(--calcite-color-border-2));
}

:host([layout="vertical"]) .divider-container {
  @apply w-full h-px border-t-0 border-b-0 border-l border-r-0;
  padding-inline: var(--calcite-spacing-md);
  & .divider {
    @apply w-full h-px my-0;
  }
}

:host([range][layout="vertical"]) {
  .input-wrapper {
    @apply w-full;
  }

  .input-container {
    @apply flex-col items-start;
  }
}

.menu-container {
  --calcite-floating-ui-z-index: var(--calcite-z-index-dropdown);
  @include floating-ui-container();
}

@include floating-ui-elem-anim(".menu-container");

.input .calcite-input__wrapper {
  @apply mt-0;
}

.vertical-chevron-container {
  @apply flex items-center border border-solid border-l-0;
  padding-inline: var(--calcite-spacing-md);
  background-color: var(--calcite-input-date-picker-background-color, var(--calcite-color-foreground-1));
  border-color: var(--calcite-input-date-picker-border-color, var(--calcite-color-border-input));
  calcite-icon {
    color: var(--calcite-input-date-picker-icon-color, var(--calcite-color-text-3));

    &:hover {
      color: var(--calcite-input-date-picker-icon-color, var(--calcite-color-text-1));
    }
  }
}

:host([range][layout="vertical"][scale="s"]) {
  .vertical-chevron-container,
  .divider-container {
    padding-inline: var(--calcite-spacing-sm);
  }
}

:host([range][layout="vertical"][scale="l"]) {
  .vertical-chevron-container,
  .divider-container {
    padding-inline: var(--calcite-spacing-lg);
  }
}

.container {
  &:focus-within,
  &:active,
  &:hover {
    .vertical-chevron-container {
      calcite-icon {
        color: var(--calcite-input-date-picker-icon-color, var(--calcite-color-text-1));
      }
    }
  }
}

@include form-validation-message();
@include hidden-form-input();

.assistive-text {
  @apply sr-only;
}

@include base-component();
