:host {
  @apply flex
    justify-center
    outline-none
    text-color-3
    cursor-pointer
    min-w-0;
  width: calc(100% / 7);
}

.day-v-wrapper {
  @apply flex-auto;
}

.day-wrapper {
  @apply flex
    flex-col
    items-center;
}

.day {
  @apply flex
    rounded-full
    text--2h
    justify-center
    items-center
    leading-none
    text-color-3
    transition-all
    opacity-disabled;
  background: none;
  box-shadow: 0 0 0 2px transparent, 0 0 0 0px transparent;
}

.text {
  @apply mt-px mr-0 mb-0 ml-px;
}

:host([scale="s"]) {
  .day-v-wrapper {
    @apply py-0.5;
  }
  .day-wrapper {
    @apply p-0;
  }
  .day {
    height: 27px;
    width: 27px;
    @apply text--2;
  }
}

:host([scale="m"]) {
  .day-v-wrapper {
    @apply py-1;
  }
  .day-wrapper {
    @apply px-1;
  }
  .day {
    height: 33px;
    width: 33px;
    @apply text--1;
  }
}

:host([scale="l"]) {
  .day-v-wrapper {
    @apply py-1;
  }
  .day-wrapper {
    @apply px-1;
  }
  .day {
    height: 43px;
    width: 43px;
    @apply text-0;
  }
}

:host([current-month]) .day {
  @apply opacity-100;
}

:host([disabled]) {
  cursor: default;
  @apply opacity-25;
}

:host(:hover:not([disabled])),
:host([active]:not([range])) {
  & .day {
    @apply bg-foreground-2 text-color-1;
  }
}

:host(:focus),
:host([active]) {
  z-index: 1;
}

:host(:focus:not([disabled])) .day {
  box-shadow: 0 0 0 2px var(--calcite-ui-foreground-1), 0 0 0 4px var(--calcite-ui-brand);
}

:host([selected]) .day {
  @apply font-medium;
  background-color: var(--calcite-ui-brand) !important;
  color: var(--calcite-ui-foreground-1) !important;
  z-index: 1;
}

:host([range][selected]) {
  .day-wrapper {
    background-color: var(--calcite-ui-foreground-current);
  }
}

:host([start-of-range]) :not(.calcite--rtl),
:host([end-of-range]) .calcite--rtl {
  .day-wrapper {
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
    box-shadow: inset 4px 0 var(--calcite-ui-foreground-1);
  }
  .day {
    opacity: 1;
  }
}

:host([start-of-range]:not(:focus)) :not(.calcite--rtl),
:host([end-of-range]:not(:focus)) .calcite--rtl {
  .day {
    box-shadow: 0 0 0 2px var(--calcite-ui-foreground-1);
  }
}

:host([end-of-range]) :not(.calcite--rtl),
:host([start-of-range]) .calcite--rtl {
  .day-wrapper {
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    box-shadow: inset -4px 0 var(--calcite-ui-foreground-1);
  }
  .day {
    opacity: 1;
  }
}

:host([end-of-range]:not(:focus)) :not(.calcite--rtl),
:host([start-of-range]:not(:focus)) .calcite--rtl {
  .day {
    box-shadow: 0 0 0 2px var(--calcite-ui-foreground-1);
  }
}

:host([end-of-range][scale="l"]) :not(.calcite--rtl),
:host([start-of-range][scale="l"]) .calcite--rtl {
  .day-wrapper {
    box-shadow: inset -8px 0 var(--calcite-ui-foreground-1);
  }
}

:host([start-of-range][scale="l"]) :not(.calcite--rtl),
:host([end-of-range][scale="l"]) .calcite--rtl {
  .day-wrapper {
    box-shadow: inset 8px 0 var(--calcite-ui-foreground-1);
  }
}

:host([highlighted]) .day-wrapper {
  background-color: var(--calcite-ui-foreground-current);

  .day {
    @apply text-color-1;
  }
}

:host([highlighted]:not([active]:focus)) .day {
  @apply rounded-none text-color-1;
}

:host([range-hover]:not([selected])) {
  .day-wrapper {
    @apply bg-foreground-2;
  }
  .day {
    @apply rounded-none;
  }
}

:host([end-of-range][range-hover]) :not(.calcite--rtl) .day-wrapper,
:host([start-of-range][range-hover]) .calcite--rtl .day-wrapper {
  background-image: linear-gradient(
    to right,
    var(--calcite-ui-foreground-current),
    var(--calcite-ui-foreground-current),
    var(--calcite-ui-foreground-2),
    var(--calcite-ui-foreground-2)
  );
  @apply rounded-none shadow-none;
}

:host([start-of-range][range-hover]) :not(.calcite--rtl) .day-wrapper,
:host([end-of-range][range-hover]) .calcite--rtl .day-wrapper {
  background-image: linear-gradient(
    to left,
    var(--calcite-ui-foreground-current),
    var(--calcite-ui-foreground-current),
    var(--calcite-ui-foreground-2),
    var(--calcite-ui-foreground-2)
  );
  @apply rounded-none shadow-none;
}

:host(:hover[end-of-range][range-hover]) :not(.calcite--rtl) .day-wrapper,
:host(:hover[start-of-range][range-hover]) .calcite--rtl .day-wrapper {
  background-image: linear-gradient(
    to right,
    var(--calcite-ui-foreground-current),
    var(--calcite-ui-foreground-current),
    var(--calcite-ui-foreground-1),
    var(--calcite-ui-foreground-1)
  );
  @apply rounded-none shadow-none;
}

:host(:hover[start-of-range][range-hover]) :not(.calcite--rtl) .day-wrapper,
:host(:hover[end-of-range][range-hover]) .calcite--rtl .day-wrapper {
  background-image: linear-gradient(
    to left,
    var(--calcite-ui-foreground-current),
    var(--calcite-ui-foreground-current),
    var(--calcite-ui-foreground-1),
    var(--calcite-ui-foreground-1)
  );
  @apply rounded-none shadow-none;
}

:host(:hover[range-hover]:not([selected]).focused--end) :not(.calcite--rtl),
:host(:hover[range-hover]:not([selected]).focused--start) .calcite--rtl {
  .day-wrapper {
    background-image: linear-gradient(
      to right,
      var(--calcite-ui-foreground-2),
      var(--calcite-ui-foreground-2),
      var(--calcite-ui-foreground-current),
      var(--calcite-ui-foreground-current)
    );
  }
  .day {
    @apply rounded-full;
    opacity: 1;
    box-shadow: 0 0 0 2px var(--calcite-ui-foreground-1);
  }
}

:host(:hover[range-hover]:not([selected]).focused--start) :not(.calcite--rtl),
:host(:hover[range-hover]:not([selected]).focused--end) .calcite--rtl {
  .day-wrapper {
    background-image: linear-gradient(
      to right,
      var(--calcite-ui-foreground-current),
      var(--calcite-ui-foreground-current),
      var(--calcite-ui-foreground-2),
      var(--calcite-ui-foreground-2)
    );
  }
  .day {
    @apply rounded-full;
    opacity: 1;
    box-shadow: 0 0 0 2px var(--calcite-ui-foreground-1);
  }
}

:host(:hover[range-hover]:not([selected]).focused--start.hover--outside-range) :not(.calcite--rtl),
:host(:hover[range-hover]:not([selected]).focused--end.hover--outside-range) .calcite--rtl {
  .day-wrapper {
    background-image: linear-gradient(
      to right,
      var(--calcite-ui-foreground-1),
      var(--calcite-ui-foreground-1),
      var(--calcite-ui-foreground-2),
      var(--calcite-ui-foreground-2)
    );
  }
  .day {
    @apply rounded-full;
    opacity: 1;
    box-shadow: 0 0 0 2px var(--calcite-ui-foreground-1);
  }
}

:host(:hover[range-hover]:not([selected]).focused--end.hover--outside-range) :not(.calcite--rtl),
:host(:hover[range-hover]:not([selected]).focused--start.hover--outside-range) .calcite--rtl {
  .day-wrapper {
    background-image: linear-gradient(
      to right,
      var(--calcite-ui-foreground-2),
      var(--calcite-ui-foreground-2),
      var(--calcite-ui-foreground-1),
      var(--calcite-ui-foreground-1)
    );
  }
  .day {
    @apply rounded-full;
    opacity: 1;
    box-shadow: 0 0 0 2px var(--calcite-ui-foreground-1);
  }
}

:host(:hover[start-of-range].hover--inside-range.focused--end),
:host(:hover[end-of-range].hover--inside-range.focused--start) {
  .day-wrapper {
    @apply bg-none;
  }
}

:host([start-of-range].hover--inside-range.focused--end),
:host([end-of-range].hover--inside-range.focused--start) {
  .day-wrapper {
    @apply bg-foreground-2;
  }
}

:host([highlighted]:last-child) :not(.calcite--rtl) .day-wrapper,
:host([range-hover]:last-child) :not(.calcite--rtl) .day-wrapper,
:host([highlighted]:first-child) .calcite--rtl .day-wrapper,
:host([range-hover]:first-child) .calcite--rtl .day-wrapper {
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  box-shadow: inset -4px 0px 0px 0px var(--calcite-ui-foreground-1);
}

:host([highlighted]:first-child) :not(.calcite--rtl) .day-wrapper,
:host([range-hover]:first-child) :not(.calcite--rtl) .day-wrapper,
:host([highlighted]:last-child) .calcite--rtl .day-wrapper,
:host([range-hover]:last-child) .calcite--rtl .day-wrapper {
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
  box-shadow: inset 4px 0px 0px 0px var(--calcite-ui-foreground-1);
}

:host([scale="s"][highlighted]:last-child) :not(.calcite--rtl) .day-wrapper,
:host([scale="s"][range-hover]:last-child) :not(.calcite--rtl) .day-wrapper,
:host([scale="s"][highlighted]:first-child) .calcite--rtl .day-wrapper,
:host([scale="s"][range-hover]:first-child) .calcite--rtl .day-wrapper {
  box-shadow: inset -1px 0px 0px 0px var(--calcite-ui-foreground-1);
}

:host([scale="s"][highlighted]:first-child) :not(.calcite--rtl) .day-wrapper,
:host([scale="s"][range-hover]:first-child) :not(.calcite--rtl) .day-wrapper,
:host([scale="s"][highlighted]:last-child) .calcite--rtl .day-wrapper,
:host([scale="s"][range-hover]:last-child) .calcite--rtl .day-wrapper {
  box-shadow: inset 1px 0px 0px 0px var(--calcite-ui-foreground-1);
}

:host([scale="l"][highlighted]:first-child) :not(.calcite--rtl) .day-wrapper,
:host([scale="l"][range-hover]:first-child) :not(.calcite--rtl) .day-wrapper,
:host([scale="l"][highlighted]:last-child) .calcite--rtl .day-wrapper,
:host([scale="l"][range-hover]:last-child) .calcite--rtl .day-wrapper {
  box-shadow: inset 6px 0px 0px 0px var(--calcite-ui-foreground-1);
}

:host([scale="l"][highlighted]:last-child) :not(.calcite--rtl) .day-wrapper,
:host([scale="l"][range-hover]:last-child) :not(.calcite--rtl) .day-wrapper,
:host([scale="l"][highlighted]:first-child) .calcite--rtl .day-wrapper,
:host([scale="l"][range-hover]:first-child) .calcite--rtl .day-wrapper {
  box-shadow: inset -6px 0px 0px 0px var(--calcite-ui-foreground-1);
}
