:host {
  @apply flex
  items-center 
  relative 
  h-full 
  box-border;
}

:host([layout="vertical"]) {
  @apply w-full;
}
.container,
.item-content {
  inline-size: 100%;
  min-inline-size: 100%;
  display: flex;
  flex-direction: row;
  block-size: 100%;
  align-items: stretch;
}

.layout--vertical {
  display: flex;
  inline-size: 100%;
  @apply py-4 w-full;
  justify-content: flex-start;
  border-block-end: 0;
}

a:focus ~ calcite-action,
a:hover ~ calcite-action {
  @apply text-color-1;
  border-inline-start: 1px solid var(--calcite-ui-border-3);
}

:host([active]) a {
  border-color: var(--calcite-ui-brand);
}

:host a {
  @apply flex
  h-full
  items-center
  relative
  justify-center
  cursor-pointer 
  px-4 
  outline-none
  text-0
  text-color-2 box-border;
  text-decoration: none;
  border-block-end: 2px solid transparent;

  & span {
    display: inline-flex;
  }
}

:host([layout="vertical"]) a {
  @apply justify-start;
  border-block-end: 0;
  border-inline-end: 4px solid transparent;
}

.icon.icon-nested-open {
  margin-inline-start: 1rem;
  color: var(--calcite-ui-border-2);
}

a .icon--start {
  @apply mr-3;
}

a .icon--end {
  @apply ml-3;
}

:host([breadcrumb]) a {
  @apply pr-3;
}
:host([breadcrumb]) a .icon--breadcrumb {
  @apply pl-2 mr-0;
  --calcite-ui-icon-color: var(--calcite-ui-border-input);
}
:host a .icon--dropdown {
  @apply pl-3 mr-0 ml-auto;
  --calcite-ui-icon-color: var(--calcite-ui-text-3);
  // align with action for now
  inset-inline-start: 4px;
  position: relative;
}

:host calcite-action {
  block-size: auto;
}

a {
  @apply bg-foreground-1;
}
:host calcite-action {
  block-size: auto;
  position: relative;
  border-inline-start: 1px solid var(--calcite-ui-foreground-1);
  &:after {
    display: block;
    inline-size: 1px;
    content: "";
    block-size: calc(100% - 24px);
    inset-block: 12px;
    background-color: var(--calcite-ui-border-3);
    position: absolute;
    inset-inline-start: -1px;
    z-index: 9;
  }
  &:hover:after {
    block-size: 100%;
    inset-block: 0;
  }
}

a:hover {
  @apply bg-foreground-2 text-color-2;
}
.container:hover .dropdown-with-href-toggle {
  @apply bg-foreground-2;
}

a:focus {
  @apply bg-foreground-2 text-color-2 focus-inset;
}

a:active {
  @apply text-color-1;
}
:host([active]) a {
  @apply text-color-1;
  border-color: var(--calcite-ui-brand);
  & .icon {
    --calcite-ui-icon-color: var(--calcite-ui-brand);
  }
}

.dropdown-menu-items {
  border-radius: 0 0 4px 4px;
  border: 1px solid var(--calcite-ui-border-3);
  position: absolute;
  background: var(--calcite-ui-foreground-1);
  z-index: 9;
  block-size: auto;
  flex-direction: column;
  min-inline-size: 100%;
  inline-size: max-content;
  display: none;
  transition: all var(--calcite-internal-animation-timing-slow) ease-in-out;
  overflow: visible;
  inset-block-start: 100%;
  &.open {
    display: block;
  }

  &.nested {
    z-index: 9;
    inset-block-start: 0%;
    border-radius: 4px;
    position: absolute;
    transform: translateX(calc(100% - 2px));
  }
}

.nav-item-vertical {
  position: relative;
  inline-size: 100%;
  flex-direction: column;
  border-block-end: 0;
}

.container.nav-item-vertical-parent {
  flex-direction: column;
  block-size: unset;
  display: block;
}
.nav-item-vertical-parent {
  flex-direction: column;
}

.is-vertical-dropdown-type.dropdown-menu-items {
  flex-direction: column;
  position: relative;
  block-size: auto;
  block-size: 100%;

  border-radius: 0;
  box-shadow: none;
  inset-block-start: 0;
  transform: none;

  &.nested {
    transform: none;
    position: relative;
    border-radius: 0;

    box-shadow: none;
    border: none;
    & ::slotted(calcite-menu-item) {
      padding-inline-start: 28px;
      inline-size: 100%;
    }
  }
  &:last-of-type {
    border-block-end: 1px solid var(--calcite-ui-border-3);
    border-block-start: 1px solid var(--calcite-ui-border-3);
  }
}
.dropdown-menu-items.is-rtl.nested {
  transform: translateX(calc(-100% + 2px));
}

.is-vertical-dropdown-type.dropdown-menu-items.is-rtl.nested {
  transform: none;
}

.dropdown-with-href-toggle {
  z-index: 0;
}

.hover-href-icon {
  opacity: 0;
  padding-inline-start: 2rem;
  margin-inline-start: auto;
  transition: opacity var(--calcite-internal-animation-timing-medium) ease-in-out,
    inset-inline-end var(--calcite-internal-animation-timing-slow) ease-in-out;
  inset-inline-end: 0.25rem;
  position: relative;
}
a:focus .hover-href-icon,
a:hover .hover-href-icon {
  opacity: 1;
  inset-inline-end: -0.25rem;
}
