:host-context([theme="dark"]) {
  @include calcite-theme-dark();
}

:host {
  display: flex;
  outline: none;
  color: var(--calcite-ui-text-3);
  padding: 0.3rem 0.4rem;
  cursor: pointer;
  width: calc(100% / 7);
  min-width: 0;
}

:host .day {
  display: flex;
  width: 100%;
  border-radius: 100%;
  @include font-size(-2);
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  color: var(--calcite-ui-text-3);
  transition: all $transition;
  background: none;
  box-shadow: 0 0 0 2px transparent, 0 0 0 0px transparent;
}

:host([current-month]) .day {
  color: var(--calcite-ui-text-1);
}

:host([disabled]) {
  cursor: default;
  pointer-events: none;
  .day {
    color: var(--calcite-ui-border-1);
  }
}

:host(:hover),
:host([active]) {
  & .day {
    background-color: var(--calcite-ui-foreground-2);
    color: var(--calcite-ui-text-1);
  }
}

:host(:focus) .day {
  box-shadow: 0 0 0 2px var(--calcite-ui-foreground-1),
    0 0 0 4px var(--calcite-ui-blue-1);
}

:host([selected]) .day {
  background-color: var(--calcite-ui-blue-1);
  color: var(--calcite-ui-foreground-1);
  font-weight: 500;
}
