/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-slider-fill-color-disabled: Specifies the color of the fill when disabled.
 * @prop --calcite-slider-fill-color: Specifies the color of the fill.
 * @prop --calcite-slider-graph-accent-color: Specifies the accent color of the graph.
 * @prop --calcite-slider-graph-background-color: Specifies the background color of the graph.
 * @prop --calcite-slider-handle-border-color-hover: Specifies the border color of the handle when hovered.
 * @prop --calcite-slider-handle-border-color: Specifies the border color of the handle.
 * @prop --calcite-slider-handle-color-active: Specifies the color of the handle.
 * @prop --calcite-slider-handle-color-hover: Specifies the color of the handle when hovered.
 * @prop --calcite-slider-handle-color: Specifies the color OF the handle.
 * @prop --calcite-slider-handle-extension-color-hover: Specifies the color of the handle extension when hovered.
 * @prop --calcite-slider-handle-extension-color: Specifies the color of the handle extension.
 * @prop --calcite-slider-handle-shadow-hover: Specifies the shadow of the handle when hovered.
 * @prop --calcite-slider-handle-shadow: Specifies the shadow of the handle.
 * @prop --calcite-slider-text-color: Specifies the text color of the component.
 * @prop --calcite-slider-text-size: Specifies the text size of the component.
 * @prop --calcite-slider-tick-border-color: Specifies the border color of the tick.
 * @prop --calcite-slider-tick-color: Specifies the color of the tick.
 * @prop --calcite-slider-track-color: Specifies the color of the track.
 */

.scale--s {
  --calcite-internal-slider-handle-size: theme("spacing[2.5]");
  --calcite-internal-slider-handle-extension-height: 0.4rem;
  --calcite-internal-slider-container-font-size: var(--calcite-font-size--3);

  .handle__label,
  .tick__label {
    @apply leading-3;
  }
}

.scale--m {
  --calcite-internal-slider-handle-size: theme("spacing[3.5]");
  --calcite-internal-slider-handle-extension-height: 0.5rem;
  --calcite-internal-slider-container-font-size: var(--calcite-font-size--2);

  .handle__label,
  .tick__label {
    @apply leading-4;
  }
}

.scale--l {
  --calcite-internal-slider-handle-size: 1rem;
  --calcite-internal-slider-handle-extension-height: 0.65rem;
  --calcite-internal-slider-container-font-size: var(--calcite-font-size--1);

  .handle__label,
  .tick__label {
    @apply leading-4;
  }
}

.handle__label,
.tick__label {
  @apply font-medium;
  font-size: var(--calcite-internal-slider-container-font-size);
  color: var(--calcite-slider-text-color, var(--calcite-color-text-2));
}

:host {
  @apply block;
}

.container {
  --calcite-internal-slider-handle-size-half: calc(var(--calcite-internal-slider-handle-size) * 0.5);
  --calcite-internal-slider-full-handle-height: calc(
    var(--calcite-internal-slider-handle-size) + var(--calcite-internal-slider-handle-extension-height)
  );

  @apply relative block break-normal;
  padding: var(--calcite-internal-slider-handle-size-half);
  margin-block: var(--calcite-internal-slider-handle-size-half);
  margin-inline: 0;
  touch-action: none;
  // disable browser swipe navigation to prevent interference with the slide thumb following a touch gesture
}

@include disabled() {
  .track__range,
  .tick--active {
    background-color: var(--calcite-slider-fill-color-disabled, var(--calcite-color-text-3));
  }
}

.scale--s {
  .thumb:not(.thumb--precise) {
    --calcite-internal-slider-thumb-y-offset: -0.375rem;
  }
}
.scale--m {
  .thumb:not(.thumb--precise) {
    --calcite-internal-slider-thumb-y-offset: -0.5rem;
  }
}
.scale--l {
  .thumb:not(.thumb--precise) {
    --calcite-internal-slider-thumb-y-offset: -0.55rem;
  }
}

:host([precise]:not([has-histogram])) {
  .container .thumb--value {
    --calcite-internal-slider-thumb-y-offset: calc(var(--calcite-internal-slider-full-handle-height) * -1);
  }
}

.thumb-container {
  @apply relative max-w-full;
}

.thumb {
  --calcite-internal-slider-thumb-x-offset: var(--calcite-internal-slider-handle-size-half);

  @apply font-inherit
    absolute
    m-0
    flex
    cursor-pointer
    flex-col
    items-center
    border-none
    p-0
    outline-none;
  transform: translate(var(--calcite-internal-slider-thumb-x-offset), var(--calcite-internal-slider-thumb-y-offset));

  .handle__label {
    &.static,
    &.transformed {
      @apply absolute
        top-0
        bottom-0
        opacity-0;
    }
    &.hyphen::after {
      content: "\2014";
      display: inline-block;
      inline-size: 1em;
    }
    &.hyphen--wrap {
      display: flex;
    }
  }

  .handle {
    @apply focus-base
      box-border
      rounded-full;
    background-color: var(--calcite-slider-handle-color, var(--calcite-color-foreground-1));
    block-size: var(--calcite-internal-slider-handle-size);
    inline-size: var(--calcite-internal-slider-handle-size);
    box-shadow: 0 0 0 2px var(--calcite-slider-handle-border-color, var(--calcite-color-text-3)) inset;
    transition:
      border var(--calcite-internal-animation-timing-medium) ease,
      background-color var(--calcite-internal-animation-timing-medium) ease,
      box-shadow var(--calcite-animation-timing) ease;
  }

  .handle-extension {
    @apply w-0.5;
    block-size: var(--calcite-internal-slider-handle-extension-height);
    background-color: var(--calcite-slider-handle-extension-color, var(--calcite-color-text-3));
  }

  &:focus {
    .handle {
      @apply focus-outset;
    }
  }

  &--active,
  &:focus {
    .handle {
      background-color: var(--calcite-slider-handle-color-active, var(--calcite-color-brand));
      box-shadow: 0 0 0 3px var(--calcite-slider-handle-border-color-hover, var(--calcite-color-brand)) inset;
    }
    .handle-extension {
      background-color: var(--calcite-slider-handle-extension-color-hover, var(--calcite-color-brand));
    }
  }

  &:hover {
    .handle {
      box-shadow: 0 0 0 3px var(--calcite-slider-handle-border-color-hover, var(--calcite-color-brand)) inset;
    }
    .handle-extension {
      background-color: var(--calcite-slider-handle-extension-color-hover, var(--calcite-color-brand));
    }
  }

  &.thumb--minValue {
    transform: translate(
      calc(var(--calcite-internal-slider-thumb-x-offset) * -1),
      var(--calcite-internal-slider-thumb-y-offset)
    );
  }

  &.thumb--precise {
    --calcite-internal-slider-thumb-y-offset: -0.125rem;
  }
}

:host([label-handles]) {
  .thumb {
    --calcite-internal-slider-thumb-x-offset: 50%;
  }
  &:host(:not([has-histogram])) {
    .scale--s {
      .thumb:not(.thumb--precise) {
        --calcite-internal-slider-thumb-y-offset: -1.4375rem;
      }
    }
    .scale--m {
      .thumb:not(.thumb--precise) {
        --calcite-internal-slider-thumb-y-offset: -1.875rem;
      }
    }
    .scale--l {
      .thumb:not(.thumb--precise) {
        --calcite-internal-slider-thumb-y-offset: -2rem;
      }
    }
  }
}

:host([has-histogram][label-handles]),
:host([label-handles]:not([has-histogram])) .thumb--minValue.thumb--precise {
  .handle__label {
    margin-block-start: 0.5em;
  }
}
:host(:not([has-histogram]):not([precise])),
:host([label-handles]:not([has-histogram])) .thumb--value {
  .handle__label {
    margin-block-end: 0.5em;
  }
}

:host([label-handles][precise]) {
  &:host(:not([has-histogram])) .scale--s .thumb--value {
    --calcite-internal-slider-thumb-y-offset: -2.075rem;
  }
  &:host(:not([has-histogram])) .scale--m .thumb--value {
    --calcite-internal-slider-thumb-y-offset: -2.75rem;
  }
  &:host(:not([has-histogram])) .scale--l .thumb--value {
    --calcite-internal-slider-thumb-y-offset: -3.0625rem;
  }
}

.thumb:hover.thumb--precise:after,
.thumb:focus.thumb--precise:after,
.thumb--active.thumb--precise:after {
  background-color: var(--calcite-slider-handle-color-hover, var(--calcite-color-brand));
}

.track {
  @apply h-0.5 relative;
  background-color: var(--calcite-slider-track-color, var(--calcite-color-border-2));
  transition: background-color var(--calcite-internal-animation-timing-medium) ease-in;
}

.track__range {
  @apply absolute
  h-0.5
  top-0;

  background-color: var(--calcite-slider-track-color, var(--calcite-color-brand));
}
.container--range {
  .track__range {
    &:hover {
      cursor: ew-resize;
    }
    &:after {
      @apply absolute w-full;
      content: "";
      inset-block-start: calc(var(--calcite-internal-slider-full-handle-height) * -0.5);
      block-size: calc(
        var(--calcite-internal-slider-handle-size) + var(--calcite-internal-slider-handle-extension-height)
      );
    }
  }
}

@media (forced-colors: active) {
  .thumb {
    outline-width: 0;
    outline-offset: 0;
  }
  .handle {
    @apply outline-none;
  }
  .thumb:focus .handle,
  .thumb .handle-extension,
  .thumb:hover .handle-extension,
  .thumb:focus .handle-extension,
  .thumb:active .handle-extension {
    background-color: canvasText;
  }
  .track {
    background-color: canvasText;
  }
  .track__range {
    background-color: highlight;
  }
}

.tick {
  @apply absolute
    h-1
    w-0.5
    border
    border-solid;
  background-color: var(--calcite-slider-tick-color, var(--calcite-color-border-input));
  border-color: var(--calcite-slider-tick-border-color, var(--calcite-color-foreground-1));
  inset-block-start: -2px;
  pointer-events: none;
  margin-inline-start: calc(-1 * theme("margin[0.5]"));
}

.tick--active {
  background-color: var(--calcite-slider-tick-color-active, var(--calcite-color-brand));
}

.tick__label {
  @apply pointer-events-none
    mt-3.5
    flex
    justify-center;
}

.tick__label--min {
  transition: opacity var(--calcite-animation-timing);
}

.tick__label--max {
  transition: opacity var(--calcite-internal-animation-timing-fast);
}

:host([has-histogram][label-handles]),
:host([has-histogram][precise]) {
  .tick__label--min,
  .tick__label--max {
    @apply font-normal;
    color: var(--calcite-slider-text-color, var(--calcite-color-text-3));
  }
}

.graph {
  block-size: 48px;
}

// Ensure we have enough space on variants with text elements to prevent overlap
:host([label-ticks][ticks]) {
  .container {
    // match tick__label top margin + font-size
    padding-block-end: calc(theme("margin[3.5]") + var(--calcite-internal-slider-container-font-size));
  }
}
:host([has-histogram]) {
  &:host([precise][label-handles]) {
    .container {
      padding-block-end: calc(var(--calcite-internal-slider-full-handle-height) + 1em);
    }
  }
  &:host([label-handles]:not([precise])) {
    .container {
      padding-block-end: calc(var(--calcite-internal-slider-handle-size-half) + 1em);
    }
  }
  &:host([precise]:not([label-handles])) {
    .container {
      padding-block-end: var(--calcite-internal-slider-full-handle-height);
    }
  }
}
:host(:not([has-histogram])) {
  &:host([precise]:not([label-handles])) {
    .container {
      padding-block-start: var(--calcite-internal-slider-full-handle-height);
    }
    .container--range {
      padding-block-end: var(--calcite-internal-slider-full-handle-height);
    }
  }
  &:host([label-handles]:not([precise])) {
    .container {
      padding-block-start: calc(var(--calcite-internal-slider-full-handle-height) + 4px);
    }
  }
  &:host([label-handles][precise]) {
    .container {
      padding-block-start: calc(
        var(--calcite-internal-slider-full-handle-height) + var(--calcite-internal-slider-container-font-size) + 4px
      );
    }
    .container--range {
      padding-block-end: calc(
        var(--calcite-internal-slider-full-handle-height) + var(--calcite-internal-slider-container-font-size) + 4px
      );
    }
  }
}

calcite-graph {
  --calcite-graph-background-color: var(--calcite-slider-graph-background-color, var(--calcite-color-foreground-3));
  --calcite-graph-accent-color: var(--calcite-slider-graph-accent-color);
}

@include hidden-form-input();
@include base-component();
