@mixin componentDarkThemeVars() {
  /* Component "dark" theme variables */
  --calcite-app-background: #{$blk-180};
  --calcite-app-foreground: #{$blk-030};

  --calcite-app-background-hover: #{$blk-200};
  --calcite-app-foreground-hover: #{$blk-010};

  --calcite-app-background-active: #{$blk-220};
  --calcite-app-foreground-active: #{$v-bb-120};

  --calcite-app-foreground-subtle: #{$blk-020};

  --calcite-app-background-content: #{$blk-200};

  --calcite-app-border: #{$blk-200};
  --calcite-app-border-hover: #{$blk-200};
  --calcite-app-border-subtle: #{$blk-200};

  --calcite-app-scrim: #{rgba($blk-180, 0.8)};
}
