<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <script type="module" src="./node_modules/@esri/calcite-components/dist/calcite/calcite.esm.js"></script>
    <link rel="stylesheet" type="text/css" href="./node_modules/@esri/calcite-components/dist/calcite/calcite.css" />
    <link rel="stylesheet" href="./index.css" />
    <title>Calcite common workflow patterns</title>
  </head>

  <body>
    <calcite-navigation slot="header" class="nav">
      <calcite-navigation-logo slot="logo" heading="Calcite" description="Common component pattern examples">
      </calcite-navigation-logo>
    </calcite-navigation>

    <div class="home">
      <div class="component-list">
        <a href="./components/flow.html" class="component-link">
          <calcite-action scale="l" text="Flow" alignment="start" appearance="solid" text-enabled></calcite-action>
        </a>
        <a href="./components/slider.html" class="component-link">
          <calcite-action scale="l" text="Slider" alignment="start" appearance="solid" text-enabled></calcite-action>
        </a>
      </div>
    </div>
  </body>
</html>
