@use "../../styles/includes";

:host {
  display: block;
}

:host(:focus) {
  outline: var(--calcite-border-width-md) solid transparent;
  outline-offset: var(--calcite-border-width-md);
}

@include includes.base-component();
