/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-input-date-picker-actions-icon-color: Specifies the component's actions icon color.
 * @prop --calcite-input-date-picker-actions-icon-color-hover: Specifies the component's actions icon color on hover.
 * @prop --calcite-input-date-picker-background-color: Specifies the component's input background color.
 * @prop --calcite-input-date-picker-border-color: Specifies the component's input border color.
 * @prop --calcite-input-date-picker-calendar-actions-background-color: Specifies the background color of the component's calendar actions.
 * @prop --calcite-input-date-picker-calendar-actions-background-color-hover: Specifies the background color of the component's calendar actions when hovered.
 * @prop --calcite-input-date-picker-calendar-actions-background-color-press: Specifies the background color of the component's calendar actions when pressed.
 * @prop --calcite-input-date-picker-calendar-actions-text-color: Specifies the text color of the component's calendar actions.
 * @prop --calcite-input-date-picker-calendar-actions-text-color-press: Specifies the text color of the component's calendar actions when pressed.
 * @prop --calcite-input-date-picker-calendar-border-color: Specifies the border color of the component's calendar.
 * @prop --calcite-input-date-picker-calendar-corner-radius: Specifies the corner radius of the component's calendar.
 * @prop --calcite-input-date-picker-calendar-current-day-text-color: Specifies the text color of the component's calendar current day element.
 * @prop --calcite-input-date-picker-calendar-day-background-color: Specifies the background color of the component's calendar day elements.
 * @prop --calcite-input-date-picker-calendar-day-background-color-hover: Specifies the background color of the component's calendar day elements when hovered.
 * @prop --calcite-input-date-picker-calendar-day-current-text-color: [Deprecated] in v3.3.1, removal target v6.0.0 - Use `--calcite-input-date-picker-calendar-current-day-text-color` instead. Specifies the text color of current day of the component's date-picker.
 * @prop --calcite-input-date-picker-calendar-day-range-background-color: Specifies the background color of the component's calendar selected day range.
 * @prop --calcite-input-date-picker-calendar-day-range-text-color: Specifies the text color of the component's calendar selected day range.
 * @prop --calcite-input-date-picker-calendar-day-text-color-selected: Specifies the text color of component's calendar selected day.
 * @prop --calcite-input-date-picker-calendar-day-outside-range-background-color-hover: Specifies the background color of the component's calendar day elements outside the current range when hovered.
 * @prop --calcite-input-date-picker-calendar-day-outside-range-text-color-hover: Specifies the text color of the component's calendar day elements outside the current range when hovered.
 * @prop --calcite-input-date-picker-calendar-day-text-color: Specifies the text color of the component's calendar day elements.
 * @prop --calcite-input-date-picker-calendar-day-text-color-hover: Specifies the text color of the component's calendar day elements when hovered.
 * @prop --calcite-input-date-picker-calendar-selected-background-color: Specifies the background color of the component's calendar selected day.
 * @prop --calcite-input-date-picker-calendar-shadow: Specifies the component's calendar shadow.
 * @prop --calcite-input-date-picker-calendar-icon-color: Specifies the component's calendar icon color.
 * @prop --calcite-input-date-picker-calendar-icon-color-hover: Specifies the component's calendar icon color when hovered.
 * @prop --calcite-input-date-picker-calendar-month-select-text-color: Specifies the text color of the component's calendar selected month.
 * @prop --calcite-input-date-picker-calendar-range-divider-color: When `range` is `true`, specifies the divider color between the component's calendars.
 * @prop --calcite-input-date-picker-calendar-text-color: Specifies the text color of the component's calendar week, year & suffix.
 * @prop --calcite-input-date-picker-corner-radius: Specifies the component's input corner radius.
 * @prop --calcite-input-date-picker-divider-color: When `range` is `true`, specifies the component's divider color between two inputs.
 * @prop --calcite-input-date-picker-icon-color: Specifies the component's input icon color.
 * @prop --calcite-input-date-picker-placeholder-text-color: Specifies the component's input placeholder text color.
 * @prop --calcite-input-date-picker-shadow: Specifies the component's input shadow.
 * @prop --calcite-input-date-picker-text-color: Specifies the component's input text color.
 *
 * @prop --calcite-input-date-picker-input-action-background-color: Specifies the background color of the input's `clearable` element.
 * @prop --calcite-input-date-picker-input-action-background-color-hover: Specifies the background color of the input's `clearable` element when hovered.
 * @prop --calcite-input-date-picker-input-action-background-color-press: Specifies the background color of the input's `clearable` element when pressed.
 * @prop --calcite-input-date-picker-input-action-icon-color: Specifies the icon color of the input's `clearable` and toggle elements.
 * @prop --calcite-input-date-picker-input-action-icon-color-hover: Specifies the icon color of the input's `clearable` and toggle elements when hovered.
 * @prop --calcite-input-date-picker-input-action-icon-color-press: Specifies the icon color of the input's `clearable` and toggle elements when pressed.
 */

// AUTO-GENERATED — do not modify. Changes will be overwritten.
//
// Internal CSS custom properties for component use only. Overwriting is not recommended.
//
// --calcite-internal-date-picker-toggle-spacing
// --calcite-internal-input-text-focus-outline-color
// --calcite-internal-input-text-icon-border-block-end-width
// --calcite-internal-input-text-icon-border-block-start-width
// --calcite-internal-input-text-icon-border-inline-start-width
// --calcite-internal-input-text-input-border-block-end-width
// --calcite-internal-input-text-input-border-block-start-width
// --calcite-internal-input-text-input-border-inline-end-width
// --calcite-internal-input-text-input-padding-inline-end

@use "../../styles/includes";
@use "../../styles/shared/floating-ui";

:host {
  @include floating-ui.floating-ui-elem-anim(".menu-container");
  @apply relative
    inline-block
    w-full
    overflow-visible
    align-top;

  box-shadow: var(--calcite-input-date-picker-shadow, var(--calcite-shadow-none));

  .menu-container .calcite-floating-ui-anim {
    box-shadow: var(--calcite-input-date-picker-calendar-shadow, var(--calcite-shadow-md));
  }
}

@function get-trailing-text-input-padding($chevron-spacing) {
  @return calc(var(--calcite-internal-date-picker-toggle-spacing) + $chevron-spacing);
}

:host([scale="s"]) {
  --calcite-internal-date-picker-toggle-spacing: var(--calcite-space-2xs);
  --calcite-internal-input-text-input-padding-inline-end: #{get-trailing-text-input-padding(var(--calcite-spacing-lg))};

  .clear-button {
    block-size: var(--calcite-space-2xl);
  }
}

:host([scale="m"]) {
  --calcite-internal-date-picker-toggle-spacing: var(--calcite-space-sm);
  --calcite-internal-input-text-input-padding-inline-end: #{get-trailing-text-input-padding(var(--calcite-spacing-xxl))};

  .clear-button {
    block-size: var(--calcite-space-3xl);
  }
}

:host([scale="l"]) {
  --calcite-internal-date-picker-toggle-spacing: var(--calcite-space-sm-plus);
  --calcite-internal-input-text-input-padding-inline-end: #{get-trailing-text-input-padding(
      var(--calcite-spacing-xxxl)
    )};

  .clear-button {
    block-size: var(--calcite-space-4xl);
  }
}

@include includes.disabled();

.calendar-wrapper {
  box-shadow: var(--calcite-input-date-picker-calendar-shadow, var(--calcite-shadow-none));
  transform: translate3d(0, 0, 0);
}

.input-container {
  position: relative;
}

.input-wrapper {
  @apply relative;

  .chevron-icon {
    color: var(
      --calcite-input-date-picker-actions-icon-color,
      var(--calcite-input-date-picker-input-action-icon-color, var(--calcite-color-text-3))
    );
  }

  &:is(:focus-within, :hover) {
    .chevron-icon,
    ~ .input-wrapper .chevron-icon {
      color: var(
        --calcite-input-date-picker-actions-icon-color-hover,
        var(--calcite-input-date-picker-input-action-icon-color-hover, var(--calcite-color-text-1))
      );
    }
  }

  &:is(:focus-within, :active) {
    .chevron-icon,
    ~ .input-wrapper .chevron-icon {
      color: var(--calcite-input-date-picker-input-action-icon-color-press, var(--calcite-color-text-1));
    }
  }
}

.horizontal-actions-container {
  position: absolute;
  display: flex;
  align-items: center;
  inset-inline-end: var(--calcite-border-width-sm);
  inset-block: var(--calcite-space-none);

  .toggle-icon {
    position: relative;
    inset: unset;
    block-size: 100%;
  }
}

.vertical-actions-container {
  display: flex;
  align-items: center;
  border-width: var(--calcite-border-width-sm);
  border-style: solid;
  background-color: var(--calcite-input-date-picker-background-color, var(--calcite-color-surface-2));
  border-color: var(--calcite-input-date-picker-border-color, var(--calcite-color-border-input));
  padding-inline: var(--calcite-space-md);
  padding-inline-start: var(--calcite-space-none);
  border-inline-start-width: var(--calcite-border-width-none);

  &:hover {
    cursor: pointer;
  }

  .toggle-icon {
    position: relative;
    inset: unset;
  }
}

.vertical-actions-container .chevron-icon {
  color: var(
    --calcite-input-date-picker-actions-icon-color,
    var(--calcite-input-date-picker-input-action-icon-color, var(--calcite-color-text-3))
  );
}

.clear-button {
  display: flex;
}

.toggle-icon {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  inset-inline-end: var(--calcite-space-none);
  inset-block: var(--calcite-space-none);
  padding-inline: var(--calcite-internal-date-picker-toggle-spacing);
  padding-inline-start: var(--calcite-space-none);
}

:host([range]) {
  .container {
    @apply flex;
  }

  .input-container {
    @apply flex flex-auto;
  }

  .input-wrapper {
    @apply flex-auto;
  }
}

.divider-container {
  @apply flex items-stretch
  border
  border-l-0
  border-r-0
  border-solid;

  background-color: var(--calcite-input-date-picker-background-color, var(--calcite-color-foreground-1));
  border-color: var(--calcite-input-date-picker-border-color, var(--calcite-color-border-input));
}

:host([layout="horizontal"]) .divider-container {
  inline-size: var(--calcite-spacing-px);
}

.divider {
  @apply inline-block;

  margin-block: var(--calcite-spacing-xxs);
  background-color: var(--calcite-input-date-picker-divider-color, var(--calcite-color-border-2));
  inline-size: var(--calcite-spacing-px);
}

:host([layout="vertical"]) .divider-container {
  @apply w-full h-px border-t-0 border-b-0;
  border-inline-start-width: var(--calcite-border-width-sm);
  border-inline-end-width: var(--calcite-border-width-none);
  & .divider {
    @apply w-full h-px my-0;
  }
}

:host([range][layout="vertical"]) {
  .input-wrapper {
    @apply w-full;
  }

  .input-container {
    @apply flex-col items-start;
  }

  .vertical-actions-container {
    padding-inline-end: var(--calcite-space-none);
  }

  .vertical-actions-container .toggle-icon {
    cursor: default;
    pointer-events: none;
  }

  .vertical-actions-container:not(:has(.clear-button)) .toggle-icon {
    padding-inline-start: var(--calcite-space-md);
  }

  .clear-button {
    margin-inline-start: var(--calcite-space-md);
  }
}

.menu-container {
  --calcite-floating-ui-z-index: var(--calcite-z-index-dropdown);
  @include floating-ui.floating-ui-container();
}

@include floating-ui.floating-ui-elem-anim(".menu-container");

.input .calcite-input__wrapper {
  @apply mt-0;
}

:host([range][layout="vertical"][scale="s"]) {
  .vertical-actions-container {
    padding-inline-end: var(--calcite-space-none);
  }

  .vertical-actions-container:not(:has(.clear-button)) .toggle-icon {
    padding-inline-start: var(--calcite-space-sm);
  }

  .clear-button {
    margin-inline-start: var(--calcite-space-sm);
  }
}

:host([range][layout="vertical"][scale="l"]) {
  .vertical-actions-container {
    padding-inline-end: var(--calcite-space-none);
  }

  .vertical-actions-container:not(:has(.clear-button)) .toggle-icon {
    padding-inline-start: var(--calcite-space-lg);
  }

  .clear-button {
    margin-inline-start: var(--calcite-space-lg);
  }
}

:host([range][layout="vertical"])
  .input-container:has(.input-wrapper:focus-within, .input-wrapper:hover)
  + .vertical-actions-container,
:host([range][layout="vertical"]) .vertical-actions-container:hover {
  .chevron-icon {
    color: var(
      --calcite-input-date-picker-actions-icon-color-hover,
      var(--calcite-input-date-picker-input-action-icon-color-hover, var(--calcite-color-text-1))
    );
  }
}

:host([range][layout="vertical"]) .input-container:has(.input-wrapper:active) + .vertical-actions-container,
:host([range][layout="vertical"]) .vertical-actions-container:active {
  .chevron-icon {
    color: var(--calcite-input-date-picker-input-action-icon-color-press, var(--calcite-color-text-1));
  }
}

.input {
  --calcite-input-text-background-color: var(--calcite-input-date-picker-background-color);
  --calcite-input-text-border-color: var(--calcite-input-date-picker-border-color);
  --calcite-input-text-corner-radius: var(--calcite-input-date-picker-corner-radius);
  --calcite-input-text-shadow: var(--calcite-input-date-picker-shadow);
  --calcite-input-text-icon-color: var(--calcite-input-date-picker-icon-color);
  --calcite-input-text-text-color: var(--calcite-input-date-picker-text-color);
  --calcite-input-text-placeholder-text-color: var(--calcite-input-date-picker-placeholder-text-color);
}

:host([range]) .input--start {
  --calcite-internal-input-text-input-border-inline-end-width: var(--calcite-border-width-none);
}

:host([layout="vertical"][range]) .input--start {
  --calcite-internal-input-text-icon-border-block-end-width: var(--calcite-border-width-none);
  --calcite-internal-input-text-input-border-block-end-width: var(--calcite-border-width-none);
}

:host([layout="horizontal"]) .input--end {
  --calcite-internal-input-text-icon-border-inline-start-width: var(--calcite-border-width-none);
}

:host([range][layout="horizontal"])
  .container:has(.input-wrapper[data-position="end"]:focus-within)
  .input-wrapper[data-position="end"] {
  --calcite-input-date-picker-border-color: var(--calcite-color-brand);
  @apply focus-inset;
}

:host([range][layout="horizontal"])
  .container:has(.input-wrapper[data-position="end"]:focus-within)
  .input-wrapper[data-position="start"]
  .input--start {
  --calcite-internal-input-text-focus-outline-color: transparent;
}

:host([status="invalid"][range][layout="horizontal"])
  .container:has(.input-wrapper[data-position="end"]:focus-within)
  .input-wrapper[data-position="end"] {
  --calcite-input-date-picker-border-color: var(--calcite-color-status-danger);
  @apply focus-inset-danger;
}

:host([layout="vertical"]) .input--end {
  --calcite-internal-input-text-input-border-inline-end-width: var(--calcite-border-width-none);
  --calcite-internal-input-text-input-border-block-start-width: var(--calcite-border-width-none);
  --calcite-internal-input-text-icon-border-block-start-width: var(--calcite-border-width-none);
}

calcite-date-picker {
  --calcite-date-picker-border-color: var(--calcite-input-date-picker-calendar-border-color);
  --calcite-date-picker-corner-radius: var(--calcite-input-date-picker-calendar-corner-radius);
  --calcite-date-picker-range-calendar-divider-color: var(--calcite-input-date-picker-calendar-range-divider-color);
  --calcite-date-picker-week-header-text-color: var(--calcite-input-date-picker-calendar-text-color);
  --calcite-date-picker-header-action-background-color: var(
    --calcite-input-date-picker-calendar-actions-background-color
  );
  --calcite-date-picker-header-action-background-color-hover: var(
    --calcite-input-date-picker-calendar-actions-background-color-hover
  );
  --calcite-date-picker-header-action-background-color-press: var(
    --calcite-input-date-picker-calendar-actions-background-color-press
  );
  --calcite-date-picker-header-action-text-color: var(--calcite-input-date-picker-calendar-actions-text-color);
  --calcite-date-picker-header-action-text-color-press: var(
    --calcite-input-date-picker-calendar-actions-text-color-press
  );
  --calcite-date-picker-year-text-color: var(--calcite-input-date-picker-calendar-text-color);
  --calcite-date-picker-month-select-text-color: var(--calcite-input-date-picker-calendar-month-select-text-color);
  --calcite-date-picker-month-select-icon-color: var(--calcite-input-date-picker-calendar-icon-color);
  --calcite-date-picker-month-select-icon-color-hover: var(--calcite-input-date-picker-calendar-icon-color-hover);
  --calcite-date-picker-day-background-color: var(--calcite-input-date-picker-calendar-day-background-color);
  --calcite-date-picker-day-background-color-hover: var(
    --calcite-input-date-picker-calendar-day-background-color-hover
  );
  --calcite-date-picker-day-background-color-selected: var(
    --calcite-input-date-picker-calendar-selected-background-color
  );
  --calcite-date-picker-day-text-color: var(--calcite-input-date-picker-calendar-day-text-color);
  --calcite-date-picker-day-text-color-hover: var(--calcite-input-date-picker-calendar-day-text-color-hover);
  --calcite-date-picker-day-text-color-selected: var(--calcite-input-date-picker-calendar-day-text-color-selected);
  --calcite-date-picker-current-day-text-color: var(
    --calcite-input-date-picker-calendar-current-day-text-color,
    var(--calcite-input-date-picker-calendar-day-current-text-color)
  );
  --calcite-date-picker-day-range-text-color: var(--calcite-input-date-picker-calendar-day-range-text-color);
  --calcite-date-picker-day-range-background-color: var(
    --calcite-input-date-picker-calendar-day-range-background-color
  );
  --calcite-date-picker-day-outside-range-background-color-hover: var(
    --calcite-input-date-picker-calendar-day-outside-range-background-color-hover
  );
  --calcite-date-picker-day-outside-range-text-color-hover: var(
    --calcite-input-date-picker-calendar-day-outside-range-text-color-hover
  );
}

.assistive-text {
  @apply sr-only;
}

@include includes.form-validation-message();
@include includes.hidden-form-input();
@include includes.form-internal-label();
@include includes.base-component();
@include includes.clear-button(
  $background-color: "--calcite-input-date-picker-input-action-background-color",
  $background-color-hover: "--calcite-input-date-picker-input-action-background-color-hover",
  $background-color-press: "--calcite-input-date-picker-input-action-background-color-press",
  $icon-color: "--calcite-input-date-picker-input-action-icon-color",
  $icon-color-hover: "--calcite-input-date-picker-input-action-icon-color-hover",
  $icon-color-press: "--calcite-input-date-picker-input-action-icon-color-press"
);
