<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <title>Calcite Components - Vite</title>
  </head>

  <script type="module" src="/main.js"></script>
  <body>
    <h1>
      Hello, Vite
      <calcite-icon icon="banana"></calcite-icon>
    </h1>

    <calcite-date-picker range></calcite-date-picker>
    <calcite-button>My button</calcite-button>
  </body>
</html>
