// scale variables
:host([scale="s"]) {
  --calcite-notice-spacing-token-small: #{$baseline/2};
  --calcite-notice-spacing-token-large: #{$baseline/1.5};
  @include slotted("notice-title", "*") {
    @include font-size(-2);
  }
  @include slotted("notice-message", "*") {
    @include font-size(-3);
  }
  ::slotted(calcite-link) {
    @include font-size(-3);
  }
}

:host([scale="m"]) {
  --calcite-notice-spacing-token-small: #{$baseline/1.5};
  --calcite-notice-spacing-token-large: #{$baseline};
  @include slotted("notice-title", "*") {
    @include font-size(-1);
  }
  @include slotted("notice-message", "*") {
    @include font-size(-2);
  }
  ::slotted(calcite-link) {
    @include font-size(-2);
  }
}

:host([scale="l"]) {
  --calcite-notice-spacing-token-small: #{$baseline/1.25};
  --calcite-notice-spacing-token-large: #{$baseline * 1.25};
  @include slotted("notice-title", "*") {
    @include font-size(0);
  }
  @include slotted("notice-message", "*") {
    @include font-size(-1);
  }
  ::slotted(calcite-link) {
    @include font-size(-1);
  }
}

:host([width="auto"]) {
  --calcite-notice-width: auto;
}

:host([width="half"]) {
  --calcite-notice-width: 50%;
}

:host([width="full"]) {
  --calcite-notice-width: 100%;
}

:host {
  display: none;
  text-align: left;
  margin: 0 auto;
  box-sizing: border-box;
  width: var(--calcite-notice-width);
  max-width: 100%;
  max-height: 0;
  background-color: var(--calcite-ui-foreground-1);
  opacity: 0;
  pointer-events: none;
  transition: $transition;
  border-left: 0px solid;
  box-shadow: 0 0 0 0 transparent;
}

// focus styles
.notice-close {
  @include focus-style-base();
  &:focus {
    @include focus-style-inset();
  }
}

:host([dir="rtl"]) {
  text-align: right;
  border-left: none;
  border-right: 0px solid;
}

:host([active]) {
  @apply shadow-1;
  display: flex;
  align-items: center;
  opacity: 1;
  max-height: 100%;
  pointer-events: initial;
  border-width: 3px;
}

@include slotted("notice-title", "*") {
  color: var(--calcite-ui-text-1);
  margin: 0;
  font-weight: 500;
}

@include slotted("notice-message", "*") {
  display: inline;
  margin: 0;
  font-weight: 400;
  margin-right: var(--calcite-notice-spacing-token-small);
  color: var(--calcite-ui-text-2);
}

:host([dir="rtl"]) {
  @include slotted("notice-message", "*") {
    margin-right: 0;
    margin-left: var(--calcite-notice-spacing-token-small);
  }
}

@mixin notice-element-base() {
  box-sizing: border-box;
  padding: var(--calcite-notice-spacing-token-small) var(--calcite-notice-spacing-token-large);
  flex: 0 0 auto;
  transition: all 0.15s ease-in-out;
}

.notice-content {
  @include notice-element-base;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-width: 0;
  word-wrap: break-word;
  padding: var(--calcite-notice-spacing-token-small) var(--calcite-notice-spacing-token-small)
    var(--calcite-notice-spacing-token-small) 0;

  &:first-of-type:not(:only-child) {
    padding-left: var(--calcite-notice-spacing-token-large);
  }
  &:only-of-type {
    padding: var(--calcite-notice-spacing-token-small) var(--calcite-notice-spacing-token-large);
  }
}

:host([dir="rtl"]) .notice-content {
  padding: var(--calcite-notice-spacing-token-small) 0 var(--calcite-notice-spacing-token-small)
    var(--calcite-notice-spacing-token-small);

  &:first-of-type:not(:only-child) {
    padding-right: var(--calcite-notice-spacing-token-large);
  }
  &:only-of-type {
    padding: var(--calcite-notice-spacing-token-small) var(--calcite-notice-spacing-token-large);
  }
}
.notice-icon {
  @include notice-element-base;
  display: flex;
  align-items: center;
}

.notice-close {
  @include notice-element-base;
  align-self: stretch;
  background-color: transparent;
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--calcite-ui-text-3);

  &:hover,
  &:focus {
    background-color: var(--calcite-ui-foreground-2);
  }

  &:active {
    background-color: var(--calcite-ui-foreground-3);
  }
}

$noticeColors: "blue" var(--calcite-ui-brand), "red" var(--calcite-ui-danger), "yellow" var(--calcite-ui-warning),
  "green" var(--calcite-ui-success);

@each $noticeColor in $noticeColors {
  $name: nth($noticeColor, 1);
  $color: nth($noticeColor, 2);

  :host([color="#{$name}"]) {
    border-color: $color;
    & .notice-icon {
      color: $color;
    }
  }
}
