/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-carousel-slide-item-background-color-active: Specifies the background color of the component's slide item while active.
 * @prop --calcite-carousel-slide-item-background-color-hover: Specifies the background color of the component's slide item while hovered.
 * @prop --calcite-carousel-slide-item-background-color-selected: Specifies the background color of the component's slide item when selected.
 * @prop --calcite-carousel-slide-item-background-color: Specifies the background color of the component's slide item.
 * @prop --calcite-carousel-slide-item-icon-color-hover: Specifies the icon color of the component's slide item while hovered.
 * @prop --calcite-carousel-slide-item-icon-color-selected: Specifies the icon color of the component's slide item when selected.
 * @prop --calcite-carousel-slide-item-icon-color: Specifies the icon color of the component's slide item.
 * @prop --calcite-carousel-rotation-progress-background-color: Specifies the background color of the component's progress when `rotating`.
 * @prop --calcite-carousel-rotation-progress-fill-color: Specifies the fill color of the component's progress when `rotating`.
 */

:host {
  @apply flex w-full;
  --calcite-internal-carousel-item-space: 1.5rem;
  --calcite-internal-carousel-item-space-wide: 3.5rem;
  --calcite-internal-carousel-item-background-color: var(
    --calcite-carousel-slide-item-background-color,
    var(--calcite-color-foreground-1)
  );
  --calcite-internal-carousel-item-background-color-hover: var(
    --calcite-carousel-slide-item-background-color-hover,
    var(--calcite-color-foreground-2)
  );
  --calcite-internal-carousel-item-background-color-active: var(
    --calcite-carousel-slide-item-background-color-active,
    var(--calcite-color-foreground-2)
  );
  --calcite-internal-carousel-item-background-color-selected: var(
    --calcite-carousel-slide-item-background-color-selected,
    var(--calcite-color-foreground-1)
  );
  --calcite-internal-carousel-item-icon-color-hover: var(
    --calcite-carousel-slide-item-icon-color-hover,
    var(--calcite-action-color-transparent-hover)
  );
  --calcite-internal-carousel-item-icon-color-selected: var(
    --calcite-carousel-slide-item-icon-color-selected,
    var(--calcite-color-brand)
  );
  --calcite-internal-carousel-item-icon-color: var(
    --calcite-carousel-slide-item-icon-color,
    var(--calcite-color-border-1)
  );
  --calcite-internal-carousel-rotation-progress-background-color: var(
    --calcite-carousel-rotation-progress-background-color,
    var(--calcite-color-border-3)
  );
  --calcite-internal-carousel-rotation-progress-fill-color: var(
    --calcite-carousel-rotation-progress-fill-color,
    var(--calcite-color-brand)
  );
}

.container {
  @apply focus-base
   relative
    flex
    flex-col
    overflow-hidden
    text-color-2
    text-n1h
    w-full;
  &:focus {
    @apply focus-inset;
  }
}

.container.edged:not(.overlaid) {
  padding-inline: var(--calcite-internal-carousel-item-space-wide);
  inline-size: calc(100% - var(--calcite-internal-carousel-item-space-wide) * 2);
}

.item-container {
  @apply flex
    items-start
    justify-center
    overflow-auto
    flex-auto
    p-1;
  animation-name: none;
  animation-duration: var(--calcite-animation-timing);
}

.container.overlaid .item-container {
  @apply p-0;
}

.item-container--advancing {
  animation-name: item-advance;
}

.item-container--retreating {
  animation-name: item-retreat;
}

calcite-carousel-item:not([selected]) {
  opacity: 0;
}

/* Pagination Styles*/
.pagination {
  @apply flex
  flex-row
  items-center
  justify-center
  m-3;
  inline-size: auto;
}

.pagination-items {
  @apply flex flex-row items-center;
}

.overlaid .pagination {
  position: absolute;
}

.edged {
  .page-next,
  .page-previous {
    @apply h-12 w-12;
    position: absolute;
    inset-block-start: 50%;
    transform: translateY(-50%);
  }

  .page-next {
    inset-inline-end: 0;
  }

  .page-previous {
    inset-inline-start: 0;
  }
}

.overlaid .pagination {
  inset-block-start: unset;
  inset-block-end: 0;
  inset-inline: 0;
}

.rotation-control {
  position: relative;
  --calcite-color-brand: var(--calcite-internal-carousel-rotation-progress-fill-color);
  --calcite-color-border-3: var(--calcite-internal-carousel-rotation-progress-background-color);
}

.rotation-control:focus .rotating-progress {
  inset-block-end: 4px;
  inset-inline: 2px;
  inline-size: calc(100% - 4px);
}

.rotating-progress {
  position: absolute;
  inset-block-end: 2px;
  inset-inline: 0;
  inline-size: 100%;
}

.pagination-item {
  @apply focus-base
    transition-default
    m-0
    h-8
    w-8
    cursor-pointer
    items-center
    border-none
    bg-transparent;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  --calcite-color-foreground-1: var(--calcite-internal-carousel-item-background-color);
  color: var(--calcite-internal-carousel-item-icon-color);
  &:hover {
    background-color: var(--calcite-internal-carousel-item-background-color-hover);
    color: var(--calcite-internal-carousel-item-icon-color-hover);
  }
  &:focus {
    background-color: var(--calcite-internal-carousel-item-background-color-active);
    @apply focus-inset;
  }
  &:active {
    background-color: var(--calcite-internal-carousel-item-background-color-active);
    color: var(--calcite-internal-carousel-item-icon-color-hover);
  }
  & calcite-icon {
    color: inherit;
    pointer-events: none;
  }
  &.pagination-item--selected {
    --calcite-color-foreground-1: var(--calcite-internal-carousel-item-background-color-selected);
    --calcite-color-foreground-3: var(--calcite-internal-carousel-item-background-color-selected);
    color: var(--calcite-internal-carousel-item-icon-color-selected);
  }
}

.overlaid .pagination-item {
  background-color: var(--calcite-internal-carousel-item-background-color);
  &:hover {
    background-color: var(--calcite-internal-carousel-item-background-color-hover);
  }
  &:focus {
    background-color: var(--calcite-internal-carousel-item-background-color-active);
  }
  &:active {
    background-color: var(--calcite-internal-carousel-item-background-color-active);
  }
}

/* @keyframes*/
@keyframes item-advance {
  0% {
    transform: translate3d(100px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes item-retreat {
  0% {
    transform: translate3d(-100px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@include disabled();

@include base-component();
