:host {
  cursor: pointer;
  display: inline-block;
}
:host([labeled]) {
  --calcite-label-margin-bottom: 0;
  align-items: center;
  display: inline-flex;
  gap: 8px;
}
:host([disabled]) {
  cursor: default;
  & > ::slotted(calcite-label) {
    cursor: default;
  }
}
:host([scale="s"][labeled]) {
  line-height: 1.33;
  margin-bottom: 8px;
  margin-right: 12px;
  @supports not (display: grid) {
    calcite-radio {
      margin-right: 8px;
    }
  }
}
:host([scale="m"][labeled]) {
  line-height: 1.15;
  margin-bottom: 8px;
  margin-right: 16px;
  @supports not (display: grid) {
    calcite-radio {
      margin-right: 8px;
    }
  }
}
:host([scale="l"][labeled]) {
  gap: 12px;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-right: 20px;
  @supports not (display: grid) {
    calcite-radio {
      margin-right: 12px;
    }
  }
}
:host([hidden]) {
  display: none;
}
