:host {
  display: grid;
  grid-gap: 7px;
  align-items: center;
  cursor: pointer;
  #radio {
    border-radius: 100%;
    box-shadow: inset 0 0 0 1px $blk-080;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
  }
  label {
    cursor: pointer;
  }
}
:host(:hover) #radio {
  box-shadow: inset 0 0 0 2px $h-bb-060;
}
:host(:hover[disabled]) #radio {
  box-shadow: inset 0 0 0 1px $blk-080;
}

/* xs */
:host([scale="xs"]) {
  grid-template-columns: 12px 1fr;
  #radio {
    height: 12px;
    min-width: 12px;
    max-width: 12px;
  }
}
:host([scale="xs"][checked]) #radio,
:host(:hover[scale="xs"][checked][disabled]) #radio {
  box-shadow: inset 0 0 0 4px $h-bb-060;
}
:host(:hover[scale="xs"][checked]) #radio,
:host([scale="xs"][focused]) #radio {
  box-shadow: inset 0 0 0 4px $h-bb-060, 0 0 0 1px white, 0 0 0 3px $h-bb-060;
}

/* s */
:host([scale="s"]) {
  grid-template-columns: 14px 1fr;
  #radio {
    height: 14px;
    min-width: 14px;
    max-width: 14px;
  }
}
:host([scale="s"][checked]) #radio,
:host(:hover[scale="s"][checked][disabled]) #radio {
  box-shadow: inset 0 0 0 4px $h-bb-060;
}
:host(:hover[scale="s"][checked]) #radio,
:host([scale="s"][focused]) #radio {
  box-shadow: inset 0 0 0 4px $h-bb-060, 0 0 0 1px white, 0 0 0 3px $h-bb-060;
}

/* m */
:host([scale="m"]) {
  grid-template-columns: 16px 1fr;
  #radio {
    height: 16px;
    min-width: 16px;
    max-width: 16px;
  }
}
:host([scale="m"][checked]) #radio,
:host(:hover[scale="m"][checked][disabled]) #radio {
  box-shadow: inset 0 0 0 5px $h-bb-060;
}
:host(:hover[scale="m"][checked]) #radio,
:host([scale="m"][focused]) #radio {
  box-shadow: inset 0 0 0 5px $h-bb-060, 0 0 0 1px white, 0 0 0 3px $h-bb-060;
}

/* l */
:host([scale="l"]) {
  grid-template-columns: 18px 1fr;
  #radio {
    height: 18px;
    min-width: 18px;
    max-width: 18px;
  }
}
:host([scale="l"][checked]) #radio,
:host(:hover[scale="l"][checked][disabled]) #radio {
  box-shadow: inset 0 0 0 6px $h-bb-060;
}
:host(:hover[scale="l"][checked]) #radio,
:host([scale="l"][focused]) #radio {
  box-shadow: inset 0 0 0 6px $h-bb-060, 0 0 0 1px white, 0 0 0 3px $h-bb-060;
}

/* xl */
:host([scale="xl"]) {
  grid-template-columns: 22px 1fr;
  #radio {
    height: 22px;
    min-width: 22px;
    max-width: 22px;
  }
}
:host([scale="xl"][checked]) #radio,
:host(:hover[scale="xl"][checked][disabled]) #radio {
  box-shadow: inset 0 0 0 7px $h-bb-060;
}
:host(:hover[scale="xl"][checked]) #radio,
:host([scale="xl"][focused]) #radio {
  box-shadow: inset 0 0 0 7px $h-bb-060, 0 0 0 1px white, 0 0 0 3px $h-bb-060;
}

/* Disabled */
:host([disabled]) {
  cursor: default;
  opacity: 0.4;
}
:host([disabled]) #radio,
:host([disabled]) label {
  cursor: default;
}
