:host {
  @apply block;
}

.container {
  @apply inline-grid w-full items-center;
  grid-template-columns: 1fr auto;
}

.preview {
  grid-column: 2 / 3;

  @apply pointer-events-none
    my-0
    mx-1
    flex
    items-center;
}

.preview,
.input {
  grid-row: 1;
}

.input {
  grid-column: 1 / 3;

  @apply w-full uppercase;
}
