/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-input-text-corner-radius: defines the border radius of the component.
 * @prop --calcite-input-text-text-color: defines the text color of the component.
 * @prop --calcite-input-text-border-color: defines the border color of the component.
 * @prop --calcite-input-text-background-color: defines the background color of the component.
 * @prop --calcite-input-text-button-background-color: defines the background color of a button element in the component.
 * @prop --calcite-input-text-button-background-color-hover: defines the background color of a :hover-ed button element in the component.
 * @prop --calcite-input-text-button-background-color-active: defines the background color of an :active button element in the component.
 * @prop --calcite-input-text-icon-color: defines the color of an icon element in the component.
 * @prop --calcite-input-text-button-icon-color-hover: defines the color of an icon element when it's parent is hovered in the component.
 * @prop --calcite-input-text-prefix-text-color: defines the prefix text color in the component.
 * @prop --calcite-input-text-prefix-background-color: defines the prefix background color in the component.
 * @prop --calcite-input-text-suffix-text-color: defines the suffix text color in the component.
 * @prop --calcite-input-text-suffix-background-color: defines the suffix background color in the component.
 * @prop --calcite-input-text-placeholder-text-color: defines the color of placeholder text in the component.
 * @prop --calcite-input-text-shadow: defines the box-shadow of the component.
 *
 */

:host {
  --calcite-input-text-corner-radius: var(--calcite-corner-radius);
  --calcite-input-text-text-color: var(--calcite-color-text-1);
  --calcite-input-text-border-color: var(--calcite-color-border-input);
  --calcite-input-text-background-color: var(--calcite-color-foreground-1);
  --calcite-input-text-shadow: none;
  // Button
  --calcite-input-text-button-background-color: var(--calcite-color-foreground-1);
  --calcite-input-text-button-background-color-hover: var(--calcite-color-foreground-2);
  --calcite-input-text-button-background-color-active: var(--calcite-color-foreground-3);

  // Icon
  --calcite-input-text-icon-color: var(--calcite-color-text-3);
  --calcite-input-text-button-icon-color-hover: var(--calcite-color-text-1);

  // Prefix/Suffix
  --calcite-input-text-prefix-text-color: var(--calcite-color-text-2);
  --calcite-input-text-prefix-background-color: var(--calcite-color-background);
  --calcite-input-text-suffix-text-color: var(--calcite-color-text-2);
  --calcite-input-text-suffix-background-color: var(--calcite-color-background);

  // Placeholder
  --calcite-input-text-placeholder-text-color: var(--calcite-color-text-3);

  // For props that should follow the initial border-color but not change on statechange.
  --calcite-internal-input-text-border-color-base: var(--calcite-color-border-input);

  @apply block;
  box-shadow: var(--calcite-input-text-shadow);
}

// scales
:host([scale="s"]) {
  & input,
  & .prefix,
  & .suffix {
    @apply text-n2h h-6 px-2;
  }
  & .number-button-wrapper,
  & .action-wrapper calcite-button,
  & .action-wrapper calcite-button button {
    @apply h-6;
  }
  & input[type="file"] {
    @apply h-6;
  }
  & .clear-button {
    min-block-size: theme("spacing.6");
    min-inline-size: theme("spacing.6");
  }
}

:host([scale="m"]) {
  & input,
  & .prefix,
  & .suffix {
    @apply text-n1h h-8 px-3;
  }

  & .action-wrapper calcite-button,
  & .action-wrapper calcite-button button {
    @apply h-8;
  }
  & .clear-button {
    min-block-size: theme("spacing.8");
    min-inline-size: theme("spacing.8");
  }
}

:host([scale="l"]) {
  & input,
  & .prefix,
  & .suffix {
    @apply text-0h h-11 px-4;
  }
  & .action-wrapper calcite-button,
  & .action-wrapper calcite-button button {
    @apply h-11;
  }
  & .clear-button {
    min-block-size: theme("spacing.11");
    min-inline-size: theme("spacing.11");
  }
}

input {
  @apply border font-inherit relative m-0
    box-border flex max-h-full w-full max-w-full flex-1 font-normal;

  transition:
    var(--calcite-animation-timing),
    block-size 0,
    outline-offset 0s;
  -webkit-appearance: none;
  border-radius: var(--calcite-input-text-corner-radius);
  color: var(--calcite-input-text-text-color);
  border-color: var(--calcite-input-text-border-color);
  background-color: var(--calcite-input-text-background-color);
}

// states
input {
  @apply border-spacing-1
    border-solid
    text-ellipsis;
  &::placeholder,
  &:-ms-input-text-placeholder,
  &::-ms-input-text-placeholder {
    @apply font-normal;
    color: var(--calcite-input-text-placeholder-text-color);
  }
  &:placeholder-shown {
    @apply text-ellipsis;
  }
}
input[readonly] {
  @apply font-medium;
}
calcite-icon {
  color: var(--calcite-input-text-icon-color);
}
button:hover,
button:active {
  --calcite-input-text-icon-color: var(--calcite-input-text-button-icon-color-hover);
}

//focus
input {
  @apply focus-base;
}
input:focus {
  @apply focus-inset;
}

:host([status="invalid"]) {
  --calcite-input-text-border-color: var(--calcite-color-status-danger);

  & input:focus {
    @apply focus-inset-danger;
  }
}

// ICONS

// position icons

:host([scale="s"]) .icon {
  inset-inline-start: theme("spacing.2");
}

:host([scale="m"]) .icon {
  inset-inline-start: theme("spacing.3");
}

:host([scale="l"]) .icon {
  inset-inline-start: theme("spacing.4");
}

// position placeholder/value text in relation to icons

:host([icon][scale="s"]) input {
  padding-inline-start: theme("padding.8");
}

:host([icon][scale="m"]) input {
  padding-inline-start: theme("padding.10");
}

:host([icon][scale="l"]) input {
  padding-inline-start: theme("padding.14");
}

// positioning wrapper for icon and loader

.element-wrapper {
  @apply relative
    order-3
    inline-flex
    flex-1
    items-center;
}

.icon {
  @apply transition-default
    pointer-events-none
    absolute
    block;
}

.icon,
.resize-icon-wrapper {
  @apply z-default; // needed for firefox to display the icon properly
}

// hide browser default clear

input[type="text"]::-ms-clear,
input[type="text"]::-ms-reveal {
  @apply hidden
    h-0
    w-0;
}

.clear-button {
  pointer-events: initial;
  @apply focus-base
    order-4
    m-0
    box-border
    flex
    min-h-full
    cursor-pointer
    items-center
    justify-center
    self-stretch
    border
    border-solid;

  background-color: var(--calcite-input-text-button-background-color);
  border-color: var(--calcite-internal-input-text-border-color-base);
  border-inline-start-width: theme("borderWidth.0");

  &:hover {
    @apply transition-default;
    --calcite-input-text-button-background-color: var(--calcite-input-text-button-background-color-hover);

    calcite-icon {
      @apply transition-default;
    }
  }
  &:active {
    --calcite-input-text-button-background-color: var(--calcite-input-text-button-background-color-active);
  }
  &:focus {
    @apply focus-inset;
  }
  &:disabled {
    @apply opacity-disabled;
  }
}

// loading
.loader {
  inset-block-start: 1px;
  inset-inline: 1px;
  @apply pointer-events-none
    absolute
    block;
}

// slotted action
.action-wrapper {
  @apply order-7 flex;
}

// prefix and suffix
.prefix,
.suffix {
  @apply box-border
    flex
    h-auto
    min-h-full
    select-none
    content-center
    items-center
    break-words
    border
    border-solid
    font-medium
    leading-none;
  border-color: var(--calcite-internal-input-text-border-color-base);
}
.prefix {
  color: var(--calcite-input-text-prefix-text-color);
  background-color: var(--calcite-input-text-prefix-background-color);
}
.suffix {
  color: var(--calcite-input-text-suffix-text-color);
  background-color: var(--calcite-input-text-suffix-background-color);
}

.prefix {
  @apply order-2;
  border-inline-end-width: theme("borderWidth.0");
}
.suffix {
  @apply order-5;
  border-inline-start-width: theme("borderWidth.0");
}

// alignment type
:host([alignment="start"]) {
  & input {
    text-align: start;
  }
}

:host([alignment="end"]) {
  & input {
    text-align: end;
  }
}

.wrapper {
  @apply relative
    flex
    flex-row
    items-center;
}

:host(.no-bottom-border) input {
  @apply border-b-0;
}

:host(.border-top-color-one) input {
  @apply border-t-color-1;
}

// input needed for higher specificity of these overrides
input {
  &.inline-child {
    @apply transition-default bg-transparent;
    .editing-enabled {
      background-color: inherit;
    }
  }

  &.inline-child:not(.editing-enabled) {
    @apply border-color-transparent
      flex
      cursor-pointer text-ellipsis;
    padding-inline-start: 0;
  }
}

@include form-validation-message();
@include hidden-form-input();
@include base-component();

:host(:focus) {
  --calcite-input-text-border-color: var(--calcite-color-brand);
}

:host([read-only]) {
  --calcite-input-text-background-color: var(--calcite-color-background);
}

:host([prefix-text]) {
  input,
  textarea {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
}
:host([suffix-text]) {
  input,
  textarea {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
}
:host([suffix-text]) {
  .suffix {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
}

:host([scale="l"]) {
  .resize-icon-wrapper {
    block-size: 18px;
    inline-size: 18px;
  }
}
:host(:not([clearable], [suffix-text])) {
  .wrapper:has(+ .validation-container) {
    input {
      border-start-end-radius: var(--calcite-input-text-corner-radius);
      border-end-end-radius: var(--calcite-input-text-corner-radius);
    }
  }
}
:host(:not([suffix-text])) {
  input:has(+ .clear-button) {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
  .clear-button {
    border-start-end-radius: var(--calcite-input-text-corner-radius);
    border-end-end-radius: var(--calcite-input-text-corner-radius);
  }
}

.prefix {
  border-start-start-radius: var(--calcite-input-text-corner-radius);
  border-end-start-radius: var(--calcite-input-text-corner-radius);
}
.suffix {
  border-start-end-radius: var(--calcite-input-text-corner-radius);
  border-end-end-radius: var(--calcite-input-text-corner-radius);
}
:host(:not(:empty)) {
  input,
  .clear-button {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
}
::slotted(*) {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  border-start-end-radius: var(--calcite-input-text-corner-radius);
  border-end-end-radius: var(--calcite-input-text-corner-radius);
}
