/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-input-prefix-size: Specifies the component's prefix width.
 * @prop --calcite-input-suffix-size: Specifies the component's suffix width.
 * @porp --calcite-input-text-height: Specifies the component's height.
 * @prop --calcite-input-text-background-color: Specifies the component's background color.
 * @prop --calcite-input-text-text-color: Specifies the component's text color.
 * @prop --calcite-input-text-corner-radius: Specifies the component's corner radius.
 * @prop --calcite-input-text-border-color: Specifies the component's border color.
 * @prop --calcite-input-text-text-color-focus: Specifies the component's text color when focused.
 * @prop --calcite-input-actions-icon-color : Specifies the color of the icons in the actions.
 * @prop --calcite-input-actions-background-color: Specifies the background color of the actions.
 * @prop --calcite-input-actions-background-color-hover: Specifies the background color of the actions when hovered.
 * @prop --calcite-input-actions-icon-color-hover: Specifies the color of the icons in the actions when hovered.
 * @prop --calcite-input-actions-background-color-press: Specifies the background color of the actions when pressed.
 * @prop --calcite-input-actions-icon-color-press: Specifies the color of the icons in the actions when pressed.
 * @prop --calcite-input-loading-background-color: Specifies the background color of the loading indicator.
 * @prop --calcite-input-loading-fill-color: Specifies the fill color of the loading indicator.
 * @prop --calcite-input-prefix-background-color: Specifies the background color of the prefix.
 * @prop --calcite-input-prefix-text-color: Specifies the text color of the prefix.
 * @prop --calcite-input-suffix-background-color: Specifies the background color of the suffix.
 * @prop --calcite-input-suffix-text-color: Specifies the text color of the suffix.
 */

:host {
  @apply block;
}

// scales
:host([scale="s"]) {
  & input {
    padding-inline-start: theme("spacing.2");
    padding-inline-end: var(--calcite-internal-input-text-input-padding-inline-end, theme("spacing.2"));
  }

  & input,
  & .prefix,
  & .suffix {
    @apply text-n2h;
    block-size: var(--calcite-input-text-height, 1.5rem);
  }

  & .prefix,
  & .suffix {
    @apply px-2;
  }

  & .action-wrapper calcite-button,
  & .action-wrapper calcite-button button {
    block-size: var(--calcite-input-text-height, 1.5rem);
  }

  & .clear-button {
    min-block-size: theme("spacing.6");
    min-inline-size: theme("spacing.6");
  }
}

:host([scale="m"]) {
  & input {
    padding-inline-start: theme("spacing.3");
    padding-inline-end: var(--calcite-internal-input-text-input-padding-inline-end, theme("spacing.3"));
  }

  & input,
  & .prefix,
  & .suffix {
    @apply text-n1h;
    block-size: var(--calcite-input-text-height, 2rem);
  }

  & .prefix,
  & .suffix {
    @apply px-3;
  }

  & .action-wrapper calcite-button,
  & .action-wrapper calcite-button button {
    block-size: var(--calcite-input-text-height, 2rem);
  }

  & .clear-button {
    min-block-size: theme("spacing.8");
    min-inline-size: theme("spacing.8");
  }
}

:host([scale="l"]) {
  & input {
    padding-inline-start: theme("spacing.4");
    padding-inline-end: var(--calcite-internal-input-text-input-padding-inline-end, theme("spacing.4"));
  }

  & input,
  & .prefix,
  & .suffix {
    @apply text-0h;
    block-size: var(--calcite-input-text-height, 2.75rem);
  }

  & .prefix,
  & .suffix {
    @apply px-4;
  }

  & .action-wrapper calcite-button,
  & .action-wrapper calcite-button button {
    block-size: var(--calcite-input-text-height, 2.75rem);
  }

  & .clear-button {
    min-block-size: theme("spacing.11");
    min-inline-size: theme("spacing.11");
  }
}

@include disabled();

input {
  transition:
    var(--calcite-animation-timing),
    block-size 0,
    outline-offset 0s;
  -webkit-appearance: none;
  @apply box-border
    border
    border-solid
    flex
    flex-1
    font-inherit
    font-normal
    m-0
    max-h-full
    max-w-full
    relative
    text-ellipsis
    w-full;
  background-color: var(--calcite-input-text-background-color, var(--calcite-color-foreground-1));
  color: var(--calcite-input-text-text-color, var(--calcite-color-text-1));
  border-radius: var(--calcite-input-text-corner-radius, var(--calcite-corner-radius-sharp));
  border-color: var(--calcite-input-text-border-color, var(--calcite-color-border-input));

  &:placeholder-shown {
    @apply text-ellipsis;
  }
}

// states
input {
  &::placeholder,
  &:-ms-input-placeholder,
  &::-ms-input-placeholder {
    @apply text-color-3 font-normal;
  }
}
input:focus {
  @apply border-color-brand;
  color: var(--calcite-input-text-text-color-focus, var(--calcite-color-text-1));
}
input[readonly] {
  @apply font-medium;
  background-color: var(--calcite-input-text-background-color, var(--calcite-color-background));
}
input[readonly]:focus {
  color: var(--calcite-input-text-text-color-focus, var(--calcite-color-text-1));
}
calcite-icon {
  color: var(--calcite-input-actions-icon-color, var(--calcite-color-text-3));
}

//focus

input {
  @apply focus-base;
}
input:focus {
  @apply focus-inset;
}

:host([status="invalid"]) {
  & input {
    @apply border-color-danger;
  }
  & input:focus {
    @apply focus-inset-danger;
  }
}

// ICONS

// position icons

:host([scale="s"]) .icon {
  inset-inline-start: theme("spacing.2");
}

:host([scale="m"]) .icon {
  inset-inline-start: theme("spacing.3");
}

:host([scale="l"]) .icon {
  inset-inline-start: theme("spacing.4");
}

// position placeholder/value text in relation to icons

:host([icon][scale="s"]) input {
  padding-inline-start: theme("padding.8");
}

:host([icon][scale="m"]) input {
  padding-inline-start: theme("padding.10");
}

:host([icon][scale="l"]) input {
  padding-inline-start: theme("padding.14");
}

// positioning wrapper for icon and loader

.element-wrapper {
  @apply relative
    order-3
    inline-flex
    flex-1
    items-center;
}

.icon {
  @apply transition-default
    pointer-events-none
    absolute
    block
    z-default; // needed for firefox to display the icon properly
}

// hide browser default clear

input[type="text"]::-ms-clear,
input[type="text"]::-ms-reveal {
  @apply hidden
    h-0
    w-0;
}

.clear-button {
  pointer-events: initial;
  @apply focus-base
    order-4
    m-0
    box-border
    flex
    min-h-full
    cursor-pointer
    items-center
    justify-center
    self-stretch
    border
    border-solid;

  border-color: var(--calcite-input-text-border-color, var(--calcite-color-border-input));
  background-color: var(--calcite-input-actions-background-color, var(--calcite-color-foreground-1));
  border-inline-start-width: theme("borderWidth.0");

  &:hover {
    @apply transition-default;
    background-color: var(--calcite-input-actions-background-color-hover, var(--calcite-color-foreground-2));
    calcite-icon {
      @apply transition-default;
      color: var(--calcite-input-actions-icon-color-hover, var(--calcite-color-text-1));
    }
  }
  &:active {
    background-color: var(--calcite-input-actions-background-color-press, var(--calcite-color-foreground-3));
    calcite-icon {
      color: var(--calcite-input-actions-icon-color-press, (--calcite-color-text-1));
    }
  }
  &:focus {
    @apply focus-inset;
  }
  &:disabled {
    @apply opacity-disabled;
  }
}

// loading
.loader {
  inset-block-start: 1px;
  inset-inline: 1px;
  @apply pointer-events-none
    absolute
    block;
  calcite-progress {
    --calcite-progress-background-color: var(--calcite-input-loading-background-color);
    --calcite-progress-fill-color: var(--calcite-input-loading-fill-color);
  }
}

// slotted action
.action-wrapper {
  @apply order-7 flex;
}

// prefix and suffix
.prefix,
.suffix {
  @apply box-border
    flex
    h-auto
    min-h-full
    select-none
    content-center
    items-center
    break-words
    border
    border-solid
    font-medium
    leading-none;
  border-color: var(--calcite-input-text-border-color, var(--calcite-color-border-input));
}

.prefix {
  @apply order-2;
  border-inline-end-width: theme("borderWidth.0");
  inline-size: var(--calcite-input-prefix-size, auto);
  background-color: var(--calcite-input-prefix-background-color, var(--calcite-color-background));
  color: var(--calcite-input-prefix-text-color, var(--calcite-color-text-2));
  border-start-start-radius: var(--calcite-input-text-corner-radius, var(--calcite-corner-radius-sharp));
  border-end-start-radius: var(--calcite-input-text-corner-radius, var(--calcite-corner-radius-sharp));
}
.suffix {
  @apply order-5;
  border-inline-start-width: theme("borderWidth.0");
  inline-size: var(--calcite-input-suffix-size, auto);
  background-color: var(--calcite-input-suffix-background-color, var(--calcite-color-background));
  color: var(--calcite-input-suffix-text-color, var(--calcite-color-text-2));
  border-start-end-radius: var(--calcite-input-text-corner-radius, var(--calcite-corner-radius-sharp));
  border-end-end-radius: var(--calcite-input-text-corner-radius, var(--calcite-corner-radius-sharp));
}

:host([prefix-text]:not([prefix-text=""])) input {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

:host([suffix-text]:not([suffix-text=""])) input,
:host .clearable input {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

:host(:not([suffix-text])) .clear-button,
:host([suffix-text=""]) .clear-button {
  border-start-end-radius: var(--calcite-input-text-corner-radius, var(--calcite-corner-radius-sharp));
  border-end-end-radius: var(--calcite-input-text-corner-radius, var(--calcite-corner-radius-sharp));
}

// alignment type
:host([alignment="start"]) {
  & input {
    text-align: start;
  }
}

:host([alignment="end"]) {
  & input {
    text-align: end;
  }
}

.wrapper {
  @apply relative
    flex
    flex-row
    items-center;
}

:host(.input--no-bottom-border) input {
  @apply border-b-0;
}

:host(.input--no-top-border) input {
  @apply border-t-0;
}

:host(.input--no-right-border) input {
  border-inline-end: 0;
}

:host(.input--no-left-border) input {
  border-inline-start: 0;
}

:host(.border-top-color-one) input {
  @apply border-t-color-1;
}

// input needed for higher specificity of these overrides
input {
  &.inline-child {
    @apply transition-default bg-transparent;
    .editing-enabled {
      background-color: inherit;
    }
  }

  &.inline-child:not(.editing-enabled) {
    @apply border-color-transparent
    flex
    cursor-pointer text-ellipsis;
    padding-inline-start: 0;
  }
}

@include form-validation-message();
@include hidden-form-input();
@include base-component();
@include input-placeholder-text();
