@use "../../styles/includes";

:host {
  display: flex;
}

.container {
  display: none;
  inline-size: var(--calcite-container-size-content-fluid);
}

:host([selected]) .container {
  display: block;
}

@include includes.base-component();
