@use "../../styles/includes";

:host {
  @apply flex;

  background-color: transparent;
}

@include includes.disabled();

calcite-button {
  --calcite-fab-shadow-internal: var(--calcite-shadow-md);
  box-shadow: var(--calcite-fab-shadow, var(--calcite-fab-shadow-internal));

  --calcite-button-background-color: var(--calcite-fab-background-color);
  --calcite-button-border-color: var(--calcite-fab-border-color);
  --calcite-button-corner-radius: var(--calcite-fab-corner-radius);
  --calcite-button-text-color: var(--calcite-fab-text-color);
  --calcite-button-loader-color: var(--calcite-fab-loader-color);
}

@include includes.base-component();
