/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-action-bar-expanded-max-width: Specifies the maximum width of the component when it's `layout` is `"vertical"`.
 * @prop --calcite-action-bar-items-space: Specifies the space between slotted components in the component.
 */

:host {
  @extend %component-host;
  @apply pointer-events-auto
    inline-flex
    self-stretch;

  gap: var(--calcite-action-bar-items-space, 0);
}

:host([layout="vertical"]) {
  @apply flex-col;

  &:host([overflow-actions-disabled]) {
    overflow-y: auto;
  }

  &:host([expanded]) {
    max-inline-size: var(--calcite-action-bar-expanded-max-width, auto);
  }

  .action-group--end {
    margin-block-start: auto;
  }

  ::slotted(calcite-action-group) {
    border-block-end-width: var(--calcite-border-width-sm);
  }
}

:host([layout="horizontal"]) {
  @apply flex-row;

  &:host([overflow-actions-disabled]) {
    overflow-x: auto;
  }

  .action-group--end {
    @apply ms-auto;
  }

  ::slotted(calcite-action-group) {
    border-inline-end-width: var(--calcite-border-width-sm);
  }
}

.action-group--end {
  @apply justify-end;
}

@include base-component();
