:host {
  @apply inline-flex text-color-3;
}

:host([scale="s"]) {
  @apply w-4 h-4;
  min-width: theme("spacing.4");
  min-height: theme("spacing.4");
}

:host([scale="m"]) {
  @apply w-6 h-6;
  min-width: theme("spacing.6");
  min-height: theme("spacing.6");
}

:host([scale="l"]) {
  @apply w-8 h-8;
  min-width: theme("spacing.8");
  min-height: theme("spacing.8");
}

.flip-rtl {
  transform: scaleX(-1);
}

.svg {
  @apply block;
  color: currentColor;
}
