/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-action-bar-expanded-max-width: optionally specify the expanded max width of the action bar when in "vertical" layout.
 */

:host {
  @extend %component-host;
  @apply pointer-events-auto
    inline-flex
    flex-col
    self-stretch;
  --calcite-action-bar-expanded-max-width: auto;
  background: transparent;
}

:host([overflow-actions-disabled]) {
  overflow-y: auto;
}

:host([expanded]) {
  max-inline-size: var(--calcite-action-bar-expanded-max-width);
}

::slotted(calcite-action-group) {
  @apply border-color-3
    border-0
    border-b
    border-solid;
}

::slotted(calcite-action-group:last-child) {
  @apply border-b-0;
}

.action-group--bottom {
  @apply flex-grow justify-end pb-0;
}
