:host {
  @extend %component-host;
  @apply pointer-events-auto
    inline-flex
    flex-col
    self-stretch;
  max-width: 15vw;
  background: transparent;
}

:host([overflow-actions-disabled]) {
  overflow-y: auto;
}

:host([expanded]) {
  max-width: 20vw;
}

::slotted(calcite-action-group) {
  @apply border-color-3
    border-0
    border-b
    border-solid;
}

::slotted(calcite-action-group:last-child) {
  @apply border-b-0;
}

.action-group--bottom {
  @apply flex-grow justify-end pb-0;
}
