:host {
  @apply inline-block
    select-none;

  .container {
    @apply flex
      p-1
      items-center
      text-color-1
      bg-foreground-1
      box-border
      max-h-full
      w-full
      max-w-full
      flex-1
      font-normal
      border-color-input
      border
      border-solid
      relative;

    &.readonly {
      @apply bg-background;
    }

    &:focus-within {
      box-shadow: inset 0 0 0 1px var(--calcite-ui-brand);
    }

    calcite-icon {
      @apply absolute text-color-3;
    }

    .input {
      @apply flex items-center justify-center h-full min-w-max;
      &.empty {
        @apply w-4;
      }
      &:focus,
      &:hover:focus {
        @apply outline-none;
        // background-color: var(--calcite-ui-text-highlight);
        background-color: #bbd5fa;
      }
    }

    .meridiem {
      margin-inline-start: theme("padding.1");
    }

    &.scale-s {
      @apply text-n2h h-6;
      padding-inline-start: theme("padding.8");
      padding-inline-end: theme("padding.2");
      .clock-icon {
        inset-inline-start: theme("spacing.2");
      }
    }
    &.scale-m {
      @apply text-n1h h-8;
      padding-inline-start: theme("padding.10");
      padding-inline-end: theme("padding.3");
      .clock-icon {
        inset-inline-start: theme("spacing.3");
      }
    }
    &.scale-l {
      @apply text-0h h-11;
      padding-inline-start: theme("padding.12");
      padding-inline-end: theme("padding.4");
      .clock-icon {
        inset-inline-start: theme("spacing.4");
      }
    }
  }
}

@include disabled();
@include hidden-form-input();
