/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-stepper-item-border-color: Specifies border color of component.
 * @prop --calcite-stepper-item-description-text-color: Specifies text color of description of component.
 * @prop --calcite-stepper-item-heading-text-color: Specifies text color of heading of component.
 * @prop --calcite-stepper-item-icon-color: Specifies color of icon of component.
 * @prop --calcite-stepper-item-number-text-color: Specifies text color of number of component.
 * @prop --calcite-stepper-item-text-color: Specifies text color of component.
 *
 */

:host([scale="s"]) {
  --calcite-stepper-item-spacing-unit-s: var(--calcite-spacing-xxs);
  --calcite-stepper-item-spacing-unit-m: var(--calcite-spacing-md);
  --calcite-stepper-item-spacing-unit-l: var(--calcite-spacing-xl);
  --calcite-internal-stepper-action-inline-size: var(--calcite-spacing-xxxl);

  font-size: var(--calcite-font-size);
  line-height: var(--calcite-font-line-height-fixed-base);
  margin-inline-end: theme("margin.1");
  .stepper-item-description {
    font-size: var(--calcite-font-size-sm);
    line-height: var(--calcite-font-line-height-fixed-base);
  }
}

:host([scale="m"]) {
  --calcite-stepper-item-spacing-unit-s: var(--calcite-spacing-sm);
  --calcite-stepper-item-spacing-unit-m: var(--calcite-spacing-xl);
  --calcite-stepper-item-spacing-unit-l: var(--calcite-spacing-xxl);
  --calcite-internal-stepper-action-inline-size: theme("spacing.10");

  font-size: var(--calcite-font-size-md);
  line-height: var(--calcite-font-line-height-fixed-xl);
  margin-inline-end: theme("margin.2");
  .stepper-item-description {
    font-size: var(--calcite-font-size);
    line-height: var(--calcite-font-line-height-fixed-base);
  }
}

:host([scale="l"]) {
  --calcite-stepper-item-spacing-unit-s: var(--calcite-spacing-md);
  --calcite-stepper-item-spacing-unit-m: var(--calcite-spacing-xxl);
  --calcite-stepper-item-spacing-unit-l: theme("spacing.6");
  --calcite-internal-stepper-action-inline-size: theme("spacing.12");

  font-size: var(calcite-font-size-lg);
  line-height: var(--calcite-font-line-height-fixed-xl);
  margin-inline-end: theme("margin.3");
  .stepper-item-description {
    font-size: var(--calcite-font-size-md);
    line-height: var(--calcite-font-line-height-fixed-xl);
  }
}

:host {
  @apply relative
  flex
  flex-grow
  flex-col
  self-start;
  margin-block-end: var(--calcite-stepper-item-spacing-unit-s);
}

:host .container {
  @apply relative
    flex
    flex-grow
    cursor-pointer
    flex-col
    border-0
    border-solid
    no-underline
    outline-none
    duration-150
    ease-in-out;
  border-block-start-width: var(--calcite-spacing-base);
  color: var(
    --calcite-stepper-item-text-color,
    var(--calcite-internal-stepper-item-text-color, var(--calcite-color-text-3))
  );
  border-color: var(
    --calcite-stepper-item-border-color,
    var(--calcite-internal-stepper-item-border-color, var(--calcite-color-border-3))
  );
}

// focus styles
:host {
  @apply focus-base;
}
:host(:focus) {
  @apply focus-outset;
}

// .stepper-item-header / content
:host .stepper-item-header {
  @apply flex cursor-pointer items-start;
}

:host .stepper-item-content,
:host .stepper-item-header {
  @apply duration-150 ease-in-out;
  padding-block: var(--calcite-stepper-item-spacing-unit-l);
  padding-inline-end: var(--calcite-stepper-item-spacing-unit-m);
  text-align: start;
}

:host .stepper-item-header * {
  @apply inline-flex
    items-center
    duration-150
    ease-in-out;
}

:host .stepper-item-content {
  @apply hidden
    flex-col;
  inline-size: var(--calcite-container-size-content-fluid);
  font-size: var(--calcite-font-size-sm);
  line-height: var(--calcite-font-line-height-relative-snug);
}

// stepper item icon
:host .stepper-item-icon {
  margin-inline-end: var(--calcite-stepper-item-spacing-unit-m);
  @apply mt-px
    inline-flex
    h-3
    flex-shrink-0
    self-start
    duration-150
    ease-in-out;
  color: var(
    --calcite-stepper-item-icon-color,
    var(--calcite-internal-stepper-item-icon-color, var(--calcite-color-text-3))
  );
  opacity: var(--calcite-opacity-disabled);
}

// stepper item title
:host .stepper-item-header-text {
  @apply flex-col;
  text-align: initial;
  margin-inline-end: auto;
}

:host .stepper-item-heading,
:host .stepper-item-description {
  @apply flex w-full;
}

:host .stepper-item-heading {
  @apply mb-1;

  color: var(
    --calcite-stepper-item-heading-text-color,
    var(--calcite-internal-stepper-item-heading-text-color, var(--calcite-color-text-2))
  );
  font-weight: var(--calcite-font-weight-medium);
}

:host .stepper-item-description {
  color: var(
    --calcite-stepper-item-description-text-color,
    var(--calcite-internal-stepper-item-description-text-color, var(--calcite-color-text-3))
  );
}

:host .stepper-item-number {
  @apply duration-150
    ease-in-out;
  margin-inline-end: var(--calcite-stepper-item-spacing-unit-m);
  color: var(
    --calcite-stepper-item-number-text-color,
    var(--calcite-internal-stepper-item-number-text-color, var(--calcite-color-text-3))
  );
  font-weight: var(--calcite-font-weight-medium);
}

@include disabled();

:host([complete]) .container {
  // todo dark mode
  & .stepper-item-icon {
    --calcite-internal-stepper-item-icon-color: var(--calcite-color-brand);
  }
}

:host([error]) .container {
  & .stepper-item-number {
    --calcite-internal-stepper-item-number-text-color: var(--calcite-color-status-danger);
  }
  & .stepper-item-icon {
    opacity: var(--calcite-opacity-full);
    --calcite-internal-stepper-item-icon-color: var(--calcite-color-status-danger);
  }
}

:host(:hover:not([disabled]):not([selected])) .container,
:host(:focus:not([disabled]):not([selected])) .container {
  border-block-start-color: var(--calcite-color-brand);
  & .stepper-item-heading {
    --calcite-internal-stepper-item-heading-text-color: var(--calcite-color-text-1);
  }
  & .stepper-item-description {
    --calcite-internal-stepper-item-description-text-color: var(--calcite-color-text-2);
  }
}

:host([selected]) .container {
  & .stepper-item-heading {
    --calcite-internal-stepper-item-heading-text-color: var(--calcite-color-text-1);
  }
  & .stepper-item-description {
    --calcite-internal-stepper-item-description-text-color: var(--calcite-color-text-2);
  }
  & .stepper-item-number {
    --calcite-internal-stepper-item-number-text-color: var(--calcite-color-brand);
  }

  & .stepper-item-icon {
    --calcite-internal-stepper-item-icon-color: var(--calcite-color-brand);
    opacity: var(--calcite-opacity-full);
  }
}

:host([selected]) .container {
  & .stepper-item-content {
    @apply flex;
  }
}

:host([layout="vertical"]) .container {
  @apply mx-0
  mt-0
  flex-auto
  border-t-0
  border-solid
  py-0;
  border-color: var(
    --calcite-stepper-item-border-color,
    var(--calcite-internal-stepper-item-border-color, var(--calcite-color-border-3))
  );
  border-inline-start-width: theme("borderWidth.2");
  padding-inline-start: var(--calcite-stepper-item-spacing-unit-l);

  & .stepper-item-icon {
    @apply order-3 mt-px mb-0;
    padding-inline-start: var(--calcite-stepper-item-spacing-unit-s);
    margin-inline-start: theme("margin.auto");
  }
  & .stepper-item-header {
    padding-inline-end: theme("padding.0");
  }
  & .stepper-item-content {
    @apply p-0;
  }
}

:host([layout="vertical"][complete]) .container {
  --calcite-internal-stepper-item-border-color: #007ac280;
}
:host([layout="vertical"][complete]:hover:not([disabled]):not([selected])) .container,
:host([layout="vertical"][complete]:focus:not([disabled]):not([selected])) .container {
  --calcite-internal-stepper-item-border-color: var(--calcite-color-brand);
}
:host([layout="vertical"][error]) .container {
  --calcite-internal-stepper-item-border-color: var(--calcite-color-status-danger);
}
:host([layout="vertical"][selected]) .container {
  --calcite-internal-stepper-item-border-color: var(--calcite-color-brand);

  & .stepper-item-content:not(:empty) {
    margin-block-end: var(--calcite-stepper-item-spacing-unit-l);
  }
}
:host([layout="vertical"]:hover:not([disabled]):not([selected])) .container,
:host([layout="vertical"]:focus:not([disabled]):not([selected])) .container {
  --calcite-internal-stepper-item-border-color: #007ac280;
}
:host([layout="vertical"][error]:hover:not([disabled]):not([selected])) .container,
:host([layout="vertical"][error]:focus:not([disabled]):not([selected])) .container {
  --calcite-internal-stepper-item-border-color: var(--calcite-color-status-danger-hover);
}

:host([layout="horizontal"]),
:host([layout="horizontal-single"]) {
  display: contents;

  .container {
    display: contents;
  }

  .stepper-item-header {
    @apply border-0
    border-solid
    focus-base;
    grid-row: items;
    border-block-start-width: var(--calcite-spacing-base);
    border-color: var(--calcite-color-border-3);
    &:focus {
      @apply focus-outset;
    }
  }

  .stepper-item-content {
    @apply cursor-auto duration-150 ease-in-out;
    padding-block: 0;
    padding-inline-end: var(--calcite-stepper-item-spacing-unit-m);
    text-align: start;
  }
}

:host([layout="horizontal"][disabled]),
:host([layout="horizontal-single"][disabled]) {
  .stepper-item-header {
    @extend %disabled-host-only;
  }
}

:host([layout="horizontal-single"]) {
  .stepper-item-header {
    grid-area: 1 / 1 / 1 / -1;
  }
}

:host([layout="horizontal"]),
:host([layout="horizontal-single"]) {
  .stepper-item-content {
    grid-area: 2 / 1 / 2 / -1;
  }
}

:host([layout="horizontal"]),
:host([layout="horizontal-single"]) {
  .stepper-item-header {
    border-color: var(
      --calcite-stepper-item-border-color,
      var(--calcite-internal-stepper-item-border-color, var(--calcite-color-border-3))
    );
  }
}

:host([layout="horizontal"][complete]),
:host([layout="horizontal-single"][complete]) {
  .stepper-item-header {
    --calcite-internal-stepper-item-border-color: #007ac280;
  }
}

:host([layout="horizontal"][complete]:hover:not([disabled]):not([selected])),
:host([layout="horizontal"][complete]:focus:not([disabled]):not([selected])),
:host([layout="horizontal-single"][complete]:hover:not([disabled]):not([selected])),
:host([layout="horizontal-single"][complete]:focus:not([disabled]):not([selected])) {
  .stepper-item-header {
    --calcite-internal-stepper-item-border-color: var(--calcite-color-brand);
  }
}

:host([layout="horizontal"][error]),
:host([layout="horizontal-single"][error]) {
  .stepper-item-header {
    --calcite-internal-stepper-item-border-color: var(--calcite-color-status-danger);
  }
}

:host([layout="horizontal"][selected]),
:host([layout="horizontal-single"][selected]) {
  .stepper-item-header {
    --calcite-internal-stepper-item-border-color: var(--calcite-color-brand);
  }
}

:host([layout="horizontal"]:hover:not([disabled]):not([selected])),
:host([layout="horizontal"]:focus:not([disabled]):not([selected])),
:host([layout="horizontal-single"]:hover:not([disabled]):not([selected])),
:host([layout="horizontal-single"]:focus:not([disabled]):not([selected])) {
  .stepper-item-header {
    --calcite-internal-stepper-item-border-color: #007ac280;
  }
}

:host([layout="horizontal"][error]:hover:not([disabled]):not([selected])),
:host([layout="horizontal"][error]:focus:not([disabled]):not([selected])),
:host([layout="horizontal-single"][error]:hover:not([disabled]):not([selected])),
:host([layout="horizontal-single"][error]:focus:not([disabled]):not([selected])) {
  .stepper-item-header {
    --calcite-internal-stepper-item-border-color: var(--calcite-color-status-danger-hover);
  }
}

@media (forced-colors: active) {
  :host .container {
    outline-width: 0;
    outline-offset: 0;
  }

  :host(:focus),
  :host(:focus-visible) {
    outline-color: canvasText;
  }

  :host([selected]) .container {
    border-block-start-color: highlight;
    & .stepper-item-number {
      color: highlight;
    }
    & .stepper-item-icon {
      color: highlight;
    }
  }

  :host([layout="vertical"][selected]) .container {
    border-color: highlight;
  }
}

:host([layout="horizontal-single"]) .stepper-item-header {
  @apply border-none box-border
  me-0;
  inline-size: var(--calcite-container-size-content-fluid);
  padding-inline: calc(var(--calcite-internal-stepper-action-inline-size) + 0.5rem);
}

:host([layout="horizontal-single"][error]) .container {
  & .stepper-item-number {
    --calcite-internal-stepper-item-number-text-color: var(--calcite-color-status-danger);
  }
  & .stepper-item-icon {
    opacity: var(--calcite-opacity-full);
    --calcite-internal-stepper-item-icon-color: var(--calcite-color-status-danger);
  }
}

:host([layout="horizontal-single"][error][selected]),
:host([layout="horizontal-single"][complete][selected]) .container {
  --calcite-internal-stepper-item-text-color: var(--calcite-color-text-3);
  & .stepper-item-heading {
    --calcite-internal-stepper-item-heading-text-color: var(--calcite-color-text-2);
  }
}

:host([layout="horizontal-single"][complete][selected]) .container {
  & .stepper-item-icon {
    opacity: var(--calcite-opacity-disabled);
  }
  & .stepper-item-number {
    --calcite-internal-stepper-item-number-text-color: var(--calcite-color-text-3);
  }
}

.visually-hidden {
  @apply sr-only;
}

@include base-component();
