/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-stepper-item-description-text-color: Specifies text color of description of component.
 * @prop --calcite-stepper-item-heading-text-color: Specifies text color of heading of component.
 * @prop --calcite-stepper-item-icon-color: Specifies color of icon of component.
 * @prop --calcite-stepper-item-number-text-color: Specifies text color of number of component.
 * @prop --calcite-stepper-item-text-color: Specifies text color of component.
 *
 */

:host([scale="s"]) {
  --calcite-internal-stepper-action-inline-size: theme("spacing.8");
  --calcite-internal-stepper-item-description-font-size: var(--calcite-font-size-sm);
  --calcite-internal-stepper-item-description-line-height: var(--calcite-font-line-height-fixed-base);
  --calcite-internal-stepper-item-font-size: var(--calcite-font-size);
  --calcite-internal-stepper-item-line-height: var(--calcite-font-line-height-fixed-base);
  --calcite-internal-stepper-item-space-unit-l: theme("spacing.4");
  --calcite-internal-stepper-item-space-unit-m: theme("spacing.3");
  --calcite-internal-stepper-item-space-unit-s: theme("spacing.1");
}

:host([scale="m"]) {
  --calcite-internal-stepper-action-inline-size: theme("spacing.10");
  --calcite-internal-stepper-item-description-font-size: var(--calcite-font-size);
  --calcite-internal-stepper-item-description-line-height: var(--calcite-font-line-height-fixed-base);
  --calcite-internal-stepper-item-font-size: var(--calcite-font-size-md);
  --calcite-internal-stepper-item-line-height: var(--calcite-font-line-height-fixed-lg);
  --calcite-internal-stepper-item-space-unit-l: theme("spacing.5");
  --calcite-internal-stepper-item-space-unit-m: theme("spacing.4");
  --calcite-internal-stepper-item-space-unit-s: theme("spacing.2");
}

:host([scale="l"]) {
  --calcite-internal-stepper-action-inline-size: theme("spacing.12");
  --calcite-internal-stepper-item-description-font-size: var(--calcite-font-size-md);
  --calcite-internal-stepper-item-description-line-height: var(--calcite-font-line-height-fixed-lg);
  --calcite-internal-stepper-item-font-size: var(--calcite-font-size-lg);
  --calcite-internal-stepper-item-line-height: var(--calcite-font-line-height-fixed-xl);
  --calcite-internal-stepper-item-space-unit-l: theme("spacing.6");
  --calcite-internal-stepper-item-space-unit-m: theme("spacing.5");
  --calcite-internal-stepper-item-space-unit-s: theme("spacing.3");
}

:host {
  @apply relative
  flex
  flex-grow
  flex-col
  self-start
  focus-base;
  margin-block-end: var(--calcite-internal-stepper-item-space-unit-s);
  margin-inline-end: var(--calcite-internal-stepper-item-space-unit-s);
  font-size: var(--calcite-internal-stepper-item-font-size);
  line-height: var(--calcite-internal-stepper-item-line-height);
}

.container {
  @apply relative
    flex
    flex-grow
    cursor-pointer
    flex-col
    border-0
    border-solid
    no-underline
    outline-none
    duration-150
    ease-in-out;
  border-block-start-width: var(--calcite-spacing-base);
  border-color: var(
    --calcite-stepper-item-border-color,
    var(--calcite-stepper-step-bar-fill-color, var(--calcite-color-border-3))
  );
  color: var(
    --calcite-stepper-item-text-color,
    var(--calcite-internal-stepper-item-text-color, var(--calcite-color-text-3))
  );
}

:host(:focus) {
  @apply focus-outset;
}

.stepper-item-header {
  @apply flex cursor-pointer items-start;
}

.stepper-item-content,
.stepper-item-header {
  @apply duration-150 ease-in-out;
  padding-block: var(--calcite-internal-stepper-item-space-unit-l);
  padding-inline-end: var(--calcite-internal-stepper-item-space-unit-m);
  text-align: start;
}

.stepper-item-header * {
  @apply inline-flex
    items-center
    duration-150
    ease-in-out;
}

.stepper-item-content {
  @apply hidden
    flex-col;
  inline-size: var(--calcite-container-size-content-fluid);
  font-size: var(--calcite-font-size-sm);
  line-height: var(--calcite-font-line-height-relative-snug);
}

.stepper-item-icon {
  margin-inline-end: var(--calcite-internal-stepper-item-space-unit-m);
  @apply mt-px
    inline-flex
    h-3
    flex-shrink-0
    self-start
    duration-150
    ease-in-out;
  color: var(
    --calcite-stepper-item-icon-color,
    var(--calcite-internal-stepper-item-icon-color, var(--calcite-color-text-3))
  );
  opacity: var(--calcite-internal-stepper-item-icon-opacity, var(--calcite-opacity-disabled));
}

.stepper-item-header-text {
  @apply flex-col;
  text-align: initial;
  margin-inline-end: auto;
}

.stepper-item-heading,
.stepper-item-description {
  @apply flex w-full;
}

.stepper-item-heading {
  @apply mb-1;

  color: var(
    --calcite-stepper-item-heading-text-color,
    var(--calcite-internal-stepper-item-heading-text-color, var(--calcite-color-text-2))
  );
  font-weight: var(--calcite-font-weight-medium);
}

.stepper-item-description {
  font-size: var(--calcite-internal-stepper-item-description-font-size);
  line-height: var(--calcite-internal-stepper-item-description-line-height);
  color: var(
    --calcite-stepper-item-description-text-color,
    var(--calcite-internal-stepper-item-description-text-color, var(--calcite-color-text-3))
  );
}

.stepper-item-number {
  @apply duration-150
    ease-in-out;
  margin-inline-end: var(--calcite-internal-stepper-item-space-unit-m);
  color: var(
    --calcite-stepper-item-number-text-color,
    var(--calcite-internal-stepper-item-number-text-color, var(--calcite-color-text-3))
  );
  font-weight: var(--calcite-font-weight-medium);
}

@include disabled();

:host([complete]) .container {
  --calcite-internal-stepper-item-icon-color: var(--calcite-color-brand);
}

:host([error]) .container {
  --calcite-internal-stepper-item-number-text-color: var(--calcite-color-status-danger);
  --calcite-internal-stepper-item-icon-opacity: var(--calcite-opacity-full);
  --calcite-internal-stepper-item-icon-color: var(--calcite-color-status-danger);
}

:host(:hover):not([selected]) .container,
:host(:focus):not([selected]) .container {
  border-block-start-color: var(--calcite-color-brand);
  --calcite-internal-stepper-item-heading-text-color: var(--calcite-color-text-1);
  --calcite-internal-stepper-item-description-text-color: var(--calcite-color-text-2);
}

:host([selected]) .container {
  --calcite-internal-stepper-item-heading-text-color: var(--calcite-color-text-1);
  --calcite-internal-stepper-item-description-text-color: var(--calcite-color-text-2);
  --calcite-internal-stepper-item-number-text-color: var(--calcite-color-brand);
  --calcite-internal-stepper-item-icon-color: var(--calcite-color-brand);
  --calcite-internal-stepper-item-icon-opacity: var(--calcite-opacity-full);
}

:host([selected]) .container {
  & .stepper-item-content {
    @apply flex;
  }
}

:host([layout="vertical"]) .container {
  @apply mx-0
  mt-0
  flex-auto
  border-t-0
  border-solid
  py-0;
  border-color: var(--calcite-stepper-step-bar-fill-color, var(--calcite-color-border-3));
  border-inline-start-width: theme("borderWidth.2");
  padding-inline-start: var(--calcite-internal-stepper-item-space-unit-l);

  & .stepper-item-icon {
    @apply order-3 mt-px mb-0;
    padding-inline-start: var(--calcite-internal-stepper-item-space-unit-s);
    margin-inline-start: theme("margin.auto");
  }
  & .stepper-item-header {
    padding-inline-end: theme("padding.0");
  }
  & .stepper-item-content {
    @apply p-0;
  }
}

:host([layout="vertical"][complete]) .container {
  border-color: var(--calcite-stepper-step-bar-complete-fill-color, #007ac280);
}
:host([layout="vertical"][complete]:hover):not([selected]) .container,
:host([layout="vertical"][complete]:focus):not([selected]) .container {
  border-color: var(--calcite-stepper-step-bar-complete-fill-color-hover, var(--calcite-color-brand));
}
:host([layout="vertical"][error]) .container {
  border-color: var(--calcite-stepper-step-bar-error-fill-color, var(--calcite-color-status-danger));
}
:host([layout="vertical"][selected]) .container {
  border-color: var(--calcite-stepper-step-bar-selected-fill-color, var(--calcite-color-brand));

  & .stepper-item-content:not(:empty) {
    margin-block-end: var(--calcite-internal-stepper-item-space-unit-l);
  }
}
:host([layout="vertical"]:hover):not([selected]) .container,
:host([layout="vertical"]:focus):not([selected]) .container {
  border-color: var(--calcite-stepper-step-bar-fill-color-hover, #007ac280);
}
:host([layout="vertical"][error]:hover:not([selected])) .container,
:host([layout="vertical"][error]:focus:not([selected])) .container {
  border-color: var(--calcite-stepper-step-bar-error-fill-color-hover, var(--calcite-color-status-danger-hover));
}

:host([layout="horizontal"]),
:host([layout="horizontal-single"]) {
  display: contents;

  .container {
    display: contents;
  }

  .stepper-item-header {
    @apply border-0
    border-solid
    focus-base;
    grid-row: items;
    border-block-start-width: var(--calcite-spacing-base);
    border-color: var(--calcite-stepper-step-bar-fill-color, var(--calcite-color-border-3));
    &:focus {
      @apply focus-outset;
    }
  }

  .stepper-item-content {
    @apply cursor-auto duration-150 ease-in-out;
    padding-block: 0;
    padding-inline-end: var(--calcite-internal-stepper-item-space-unit-m);
    text-align: start;
  }
}

:host([layout="horizontal"][disabled]),
:host([layout="horizontal-single"][disabled]) {
  .stepper-item-header {
    @extend %disabled-host-only;
  }
}

:host([layout="horizontal-single"]) {
  .stepper-item-header {
    grid-area: 1 / 1 / 1 / -1;
  }
}

:host([layout="horizontal"]),
:host([layout="horizontal-single"]) {
  .stepper-item-content {
    grid-area: 2 / 1 / 2 / -1;
  }
}

:host([layout="horizontal"][complete]),
:host([layout="horizontal-single"][complete]) {
  .stepper-item-header {
    border-color: var(--calcite-stepper-step-bar-complete-fill-color, #007ac280);
  }
}

:host([layout="horizontal"][complete]:hover):not([selected]),
:host([layout="horizontal"][complete]:focus):not([selected]),
:host([layout="horizontal-single"][complete]:hover):not([selected]),
:host([layout="horizontal-single"][complete]:focus):not([selected]) {
  .stepper-item-header {
    border-color: var(--calcite-stepper-step-bar-complete-fill-color-hover, var(--calcite-color-brand));
  }
}

:host([layout="horizontal"][error]),
:host([layout="horizontal-single"][error]) {
  .stepper-item-header {
    border-color: var(--calcite-stepper-step-bar-error-fill-color, var(--calcite-color-status-danger));
  }
}

:host([layout="horizontal"][selected]),
:host([layout="horizontal-single"][selected]) {
  .stepper-item-header {
    border-color: var(--calcite-stepper-step-bar-selected-fill-color, var(--calcite-color-brand));
  }
}

:host([layout="horizontal"]:hover):not([selected]),
:host([layout="horizontal"]:focus):not([selected]),
:host([layout="horizontal-single"]:hover):not([selected]),
:host([layout="horizontal-single"]:focus):not([selected]) {
  .stepper-item-header {
    border-color: var(--calcite-stepper-step-bar-fill-color-hover, #007ac280);
  }
}

:host([layout="horizontal"][error]:hover):not([selected]),
:host([layout="horizontal"][error]:focus):not([selected]),
:host([layout="horizontal-single"][error]:hover):not([selected]),
:host([layout="horizontal-single"][error]:focus):not([selected]) {
  .stepper-item-header {
    border-color: var(--calcite-stepper-step-bar-error-fill-color-hover, var(--calcite-color-status-danger-hover));
  }
}

:host([layout="horizontal-single"]) .stepper-item-header {
  @apply border-none box-border
  me-0;
  inline-size: var(--calcite-container-size-content-fluid);
  padding-inline: calc(var(--calcite-internal-stepper-action-inline-size) + 0.5rem);
}

:host([layout="horizontal-single"][error]) .container {
  --calcite-internal-stepper-item-number-text-color: var(--calcite-color-status-danger);
  --calcite-internal-stepper-item-icon-opacity: var(--calcite-opacity-full);
  --calcite-internal-stepper-item-icon-color: var(--calcite-color-status-danger);
}

:host([layout="horizontal-single"][error][selected]),
:host([layout="horizontal-single"][complete][selected]) .container {
  --calcite-internal-stepper-item-heading-text-color: var(--calcite-color-text-2);
}

:host([layout="horizontal-single"][complete][selected]) .container {
  --calcite-internal-stepper-item-icon-opacity: var(--calcite-opacity-disabled);
  --calcite-internal-stepper-item-number-text-color: var(--calcite-color-text-3);
}

@media (forced-colors: active) {
  :host .container {
    outline-width: 0;
    outline-offset: 0;
  }

  :host(:focus),
  :host(:focus-visible) {
    outline-color: canvasText;
  }

  :host([selected]) .container {
    border-block-start-color: highlight;
    & .stepper-item-number {
      color: highlight;
    }
    & .stepper-item-icon {
      color: highlight;
    }
  }

  :host([layout="vertical"][selected]) .container {
    border-color: highlight;
  }
}

.visually-hidden {
  @apply sr-only;
}

@include base-component();
