:host {
  @apply text-1;
  display: inline-block;
  font-weight: 500;
  user-select: none;
}
:host-context([theme="dark"]) {
  @include calcite-theme-dark();
}

.time-picker {
  @apply shadow-2;
  align-items: center;
  border-radius: 4px;
  display: flex;
  position: relative;
  z-index: 200;
}

button {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  margin: 0;
  -moz-appearance: none;
  padding: 0;
  -webkit-appearance: none;
  &:hover,
  &:focus {
    @apply bg-foreground-2;
  }
  &:focus {
    outline: none;
  }
  &:active {
    @apply bg-foreground-3;
  }
  &.top-left {
    border-top-left-radius: 4px;
  }
  &.bottom-left {
    border-bottom-left-radius: 4px;
  }
  &.top-right {
    border-top-right-radius: 4px;
  }
  &.bottom-right {
    border-bottom-right-radius: 4px;
  }
  calcite-icon {
    color: var(--calcite-ui-text-3);
  }
}

span {
  align-items: center;
  display: inline-flex;
  font-weight: var(--calcite-ui-text-weight-medium);
  justify-content: center;
  position: relative;
  z-index: 200;
  &:hover {
    box-shadow: inset 0 0 0 2px var(--calcite-ui-foreground-2);
  }
  &:focus,
  &:hover:focus {
    box-shadow: inset 0 0 0 2px var(--calcite-ui-blue-1);
    outline: none;
  }
}

:host([scale="s"]) {
  font-size: 14px;
  button,
  span {
    height: 24px;
    width: 40px;
  }
}
:host([scale="s"][hour-display="12"]) {
  .time-picker {
    width: 124.2px;
  }
}
:host([scale="s"][hour-display="12"]:not([step="60"])) {
  .time-picker {
    width: 168px;
  }
}
:host([scale="s"][hour-display="24"]) {
  .time-picker {
    width: 84.2px;
  }
}
:host([scale="s"][hour-display="24"]:not([step="60"])) {
  .time-picker {
    width: 128.4px;
  }
}

:host([scale="m"]) {
  font-size: 16px;
  button,
  span {
    height: 32px;
    width: 44px;
  }
}
:host([scale="m"][hour-display="12"]) {
  .time-picker {
    width: 136.8px;
  }
}
:host([scale="m"][hour-display="12"]:not([step="60"])) {
  .time-picker {
    width: 186px;
  }
}
:host([scale="m"][hour-display="24"]) {
  .time-picker {
    width: 92.8px;
  }
}
:host([scale="m"][hour-display="24"]:not([step="60"])) {
  .time-picker {
    width: 141.6px;
  }
}

:host([scale="l"]) {
  font-size: 20px;
  button,
  span {
    height: 48px;
    width: 64px;
  }
}
:host([scale="l"][hour-display="12"]) {
  .time-picker {
    width: 198px;
  }
}
:host([scale="l"][hour-display="12"]:not([step="60"])) {
  .time-picker {
    width: 268px;
  }
}
:host([scale="l"][hour-display="24"]) {
  .time-picker {
    width: 134px;
  }
}
:host([scale="l"][hour-display="24"]:not([step="60"])) {
  .time-picker {
    width: 204px;
  }
}
