:host {
  @extend %component-host;
  @extend %component-spacing;

  @apply flex
    flex-grow-0
    flex-shrink-0
    flex-col
    p-0
    transition-margin
    duration-150
    ease-cubic
    border-0
    border-b
    border-color-3
    border-solid;
  flex-basis: auto;
}

@import "../../assets/styles/header";

.header {
  @apply justify-start p-0;
}

.header,
.toggle {
  grid-area: header;
}

.header-container {
  @apply grid items-stretch;
  grid-template: auto / auto 1fr auto;
  grid-template-areas: "handle header control";
  grid-column: header-start / control-end;
  grid-row: 1 / 2;

  & > .header {
    @apply py-3 px-0;
  }
}

.toggle {
  @apply flex
    flex-no-wrap
    justify-between
    font-inherit
    items-center
    m-0
    py-3
    px-0
    border-none
    cursor-pointer
    text-left
    focus-base;

  background-color: transparent;
  &:hover {
    @apply bg-foreground-2;
  }
  &:focus {
    @apply focus-inset;
  }
}

calcite-loader[inline] {
  grid-area: control;
  @apply self-center;
}

calcite-handle {
  grid-area: handle;
}

.title {
  @apply m-0 px-4 py-0;
}

.header .title .heading {
  @apply p-0
    text--1
    text-color-3
    font-medium
    word-break
    leading-tight
    transition-color
    duration-150
    ease-in-out;
}

.summary {
  @apply p-0
    text--2
    text-color-3
    word-break;
}

.icon {
  @apply ml-3;
}

.toggle-icon {
  @apply mr-4
  self-center
  text-color-3
  transition-color
  duration-150
  ease-in-out;
}

.toggle:hover .toggle-icon {
  @apply text-color-1;
}

.content {
  @apply px-3
    py-2
    relative
    animate-in;
}

.control-container {
  @apply flex m-0;
  grid-area: control;
}

.calcite--rtl {
  .toggle-icon {
    @apply mr-0 ml-4;
  }
  .icon {
    @apply ml-0 mr-3;
  }
}

:host([open]) {
  @apply my-2;

  .header .title .heading {
    @apply text-color-1;
  }
}

:host([disabled]) {
  pointer-events: none;
  user-select: none;

  @apply pointer-events-none select-none;

  .header-container {
    @apply opacity-50;
  }
}

:host([drag-handle]) {
  .calcite--rtl {
    .title {
      @apply pl-0 pr-1;
    }
  }
}
