:host {
  @extend %component-spacing;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  position: relative;
  overflow: visible;
  @include popperElemAnim(".menu-container");
  @apply shadow-none;
}

.calendar-picker-wrapper {
  @apply shadow-none;
  position: static;
  transform: translate3d(0, 0, 0);
  width: 100%;
  line-height: 0; // fixes height in ie11
}

:host([scale="s"]) {
  max-width: 216px;
}

:host([scale="m"]) {
  max-width: 286px;
}

:host([scale="l"]) {
  max-width: 398px;
}

.input-wrapper {
  position: relative;
}

:host([range]) {
  .input-container {
    display: flex;
    align-items: center;
  }

  .input-wrapper {
    flex: 1 1 auto;
  }

  .horizontal-arrow-container {
    background-color: var(--calcite-ui-background);
    padding: 0 var(--calcite-spacing-quarter);
    border: 1px solid var(--calcite-ui-border-1);
    border-left: none;
    border-right: none;
    height: 42px;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
  }
}

:host([range][layout="vertical"]) {
  .input-wrapper {
    @apply w-full;
  }

  .input-container {
    flex-direction: column;
    align-items: start;
  }

  .calendar-picker-wrapper--end {
    transform: translate3d(0, 0, 0);
  }

  .vertical-arrow-container {
    position: absolute;
    @apply left-0;
    top: 36px;
    z-index: 1;
    background-color: var(--calcite-ui-foreground-1);
    @apply px-2.5;
    @apply mx-px;
  }
}

:host([scale="s"][range]:not([layout="vertical"])) {
  max-width: 462px;

  .calendar-picker-wrapper {
    width: 216px;
  }

  .horizontal-arrow-container {
    height: 30px;
  }
}

:host([scale="m"][range]:not([layout="vertical"])) {
  max-width: 596px;

  .calendar-picker-wrapper {
    width: 286px;
  }
}

:host([scale="l"][range]:not([layout="vertical"])) {
  max-width: 820px;

  .calendar-picker-wrapper {
    width: 398px;
  }

  .horizontal-arrow-container {
    height: 54px;
  }
}

.menu-container {
  @include popperContainer();
  visibility: hidden;
  pointer-events: none;
  width: 100%;
}
:host([active]) .menu-container {
  pointer-events: initial;
  visibility: visible;
}

.input .calcite-input-wrapper {
  margin-top: 0;
}

:host([range][layout="vertical"][scale="s"]) .vertical-arrow-container {
  top: 24px;
}

:host([range][layout="vertical"][scale="l"]) .vertical-arrow-container {
  top: 50px;
  @apply px-3.5;
}

:host([range][layout="vertical"][active]) {
  .vertical-arrow-container {
    display: none;
  }
}
