:host {
  @extend %component-spacing;
  @apply inline-block
    align-top
    w-full
    relative
    overflow-visible
    shadow-none;
  @include popperElemAnim(".menu-container");
}

.calendar-picker-wrapper {
  @apply shadow-none
    static
    w-full;
  transform: translate3d(0, 0, 0);
}

.input-wrapper {
  @apply relative;
}

:host([range]) {
  .input-container {
    @apply flex items-center;
  }

  .horizontal-arrow-container {
    @apply bg-background
    text-color-3
    py-0
    px-1
    border
    border-solid
    border-color-input
    border-l-0
    border-r-0
    box-border
    h-8
    flex
    items-center;
    flex: 0 0 auto;
  }
}

:host([range][layout="vertical"]) {
  .input-wrapper {
    @apply w-full;
  }

  .input-container {
    @apply flex-col items-start;
  }

  .calendar-picker-wrapper--end {
    transform: translate3d(0, 0, 0);
  }

  .vertical-arrow-container {
    @apply left-0 absolute bg-foreground-1 px-2 mx-px text-color-3;
    top: 23px;
    z-index: 1;
  }
}

:host([scale="s"][range]:not([layout="vertical"])) {
  .calendar-picker-wrapper {
    width: 216px;
  }

  .horizontal-arrow-container {
    @apply h-6;
  }
}

:host([scale="m"][range]:not([layout="vertical"])) {
  .calendar-picker-wrapper {
    width: 286px;
  }
}

:host([scale="l"][range]:not([layout="vertical"])) {
  .calendar-picker-wrapper {
    width: 398px;
  }

  .horizontal-arrow-container {
    @apply h-12;
  }
}

.menu-container {
  @include popperContainer();
  visibility: hidden;
  pointer-events: none;
}
:host([active]) .menu-container {
  pointer-events: initial;
  visibility: visible;
}

.input .calcite-input-wrapper {
  margin-top: 0;
}

:host([range][layout="vertical"][scale="s"]) .vertical-arrow-container {
  @apply hidden;
}

:host([range][layout="vertical"][scale="m"]) .vertical-arrow-container {
  calcite-icon {
    @apply h-3 w-3 pl-px;
    min-height: theme("spacing.3");
    min-width: theme("spacing.3");
  }
}

:host([range][layout="vertical"][scale="l"]) .vertical-arrow-container {
  top: theme("spacing.10");
  @apply pr-3;
  padding-left: 10px;
}

:host([range][layout="vertical"][active]) {
  .vertical-arrow-container {
    display: none;
  }
}
