:host {
  @apply align-top
    bg-foreground-1
    border
    border-color-1
    border-solid
    inline-block
    overflow-visible
    rounded-none
    w-auto;
}

:host([scale="s"]) {
  min-inline-size: 216px;
}

:host([scale="m"]) {
  min-inline-size: 286px;
}

:host([scale="l"]) {
  min-inline-size: 398px;
}

@include base-component();
