/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-date-picker-border-radius: Specifies the border radius of the component.
* @prop --calcite-date-picker-border-color: Specifies the border color of the component.
 */

:host {
  @extend %component-host;
  @apply align-top
    border-solid
    inline-block
    overflow-visible
    w-auto;
  border-radius: var(--calcite-date-picker-border-radius, var(--calcite-corner-radius));
  border-color: var(--calcite-date-picker-border-color, var(--calcite-color-border-1));
  border-width: var(--calcite-border-width-sm);
}

:host([scale="s"]) {
  inline-size: 234px;
  min-inline-size: 216px;
  max-inline-size: 380px;
}

:host([scale="m"]) {
  inline-size: 304px;
  min-inline-size: 272px;
  max-inline-size: 480px;
}

:host([scale="l"]) {
  inline-size: 370px;
  min-inline-size: 320px;
  max-inline-size: 600px;
}

calcite-date-picker-month {
  --calcite-internal-date-picker-month-week-headers-border-color: var(
    --calcite-internal-date-picker-week-headers-border-color
  );
  --calcite-internal-date-picker-month-week-headers-text-color: var(
    --calcite-internal-date-picker-week-headers-text-color
  );
}

@include base-component();
