// scale
// todo update when new spacing modifiers are introduced to calcite-base
:host([scale="s"]) {
  @apply text-n2 h-6;
  --calcite-chip-spacing-s-internal: theme("spacing[0.5]");
  --calcite-chip-spacing-l-internal: theme("spacing[1.5]");
  .image-container,
  .close,
  .select-icon--active {
    @apply h-4 w-4;
  }

  .container.is-circle {
    @apply w-6 h-6;
  }
}

:host([scale="m"]) {
  @apply text-n1 h-8;
  --calcite-chip-spacing-s-internal: theme("spacing[1]");
  --calcite-chip-spacing-l-internal: theme("spacing[2]");
  .image-container,
  .close,
  .select-icon--active {
    @apply h-6 w-6;
  }

  .container.is-circle {
    @apply w-8 h-8;
  }
}

:host([scale="l"]) {
  @apply text-0 h-11;
  --calcite-chip-spacing-s-internal: theme("spacing[1.5]");
  --calcite-chip-spacing-l-internal: theme("spacing[2]");

  .image-container,
  .close,
  .select-icon--active {
    @apply h-8 w-8;
  }
  .container.is-circle {
    @apply w-11 h-11;
  }
}

:host {
  @apply border-color-1
    text-color-1
    box-border
    inline-flex
    cursor-default
    items-center
    rounded-full
    border
    border-solid
    font-medium;
}

.container {
  @apply inline-flex h-full max-w-full items-center rounded-full focus-base justify-center;

  &:not(.is-circle) {
    gap: var(--calcite-chip-spacing-l-internal);
    padding-inline: var(--calcite-chip-spacing-s-internal);
  }

  &.selectable {
    @apply cursor-pointer;
  }
  &:not(.non-interactive):focus {
    @apply focus-outset;
  }
}
:host(:not([selected])) .container:not(.multiple).selectable {
  padding-inline-start: 0;
}

.title {
  @apply truncate;
  padding-inline-start: var(--calcite-chip-spacing-s-internal);
  &:last-child {
    padding-inline-end: var(--calcite-chip-spacing-s-internal);
  }
}

.container.image--slotted .image-container ~ .title {
  padding-inline-start: calc(var(--calcite-chip-spacing-s-internal) / 2);
}

.container:not(.text--slotted) .title {
  display: none;
}

.container:not(.image--slotted) .image-container {
  display: none;
}

.image-container {
  @apply inline-flex overflow-hidden;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.close {
  @apply focus-base
    transition-default
    text-color-1
    m-0
    cursor-pointer
    items-center
    border-none
    bg-transparent;
  -webkit-appearance: none;
  display: flex;
  border-radius: 50%;
  color: inherit;
  align-content: center;
  justify-content: center;
  --calcite-chip-transparent-hover: var(--calcite-button-transparent-hover);
  --calcite-chip-transparent-press: var(--calcite-button-transparent-press);
  &:hover {
    background-color: var(--calcite-chip-transparent-hover);
  }
  &:focus {
    background-color: var(--calcite-chip-transparent-hover);
    @apply focus-inset;
  }
  &:active {
    background-color: var(--calcite-chip-transparent-press);
  }
}

.select-icon {
  align-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
  inset-block-start: -1px;
  position: relative;
  visibility: hidden;
  inline-size: 0;
  opacity: 0;
  transition: opacity 0.15s ease-in-out, inline-size 0.15s ease-in-out;
  &.select-icon--active {
    visibility: visible;
    opacity: 0.5;
  }
}

:host([selected]) .select-icon {
  opacity: 1;
}

.container:hover .select-icon--active {
  opacity: 1;
}

slot[name="image"]::slotted(*) {
  @apply rounded-half flex h-full w-full overflow-hidden;
}

.chip-icon {
  @apply relative my-0 inline-flex duration-150 ease-in-out;
  margin-inline: var(--calcite-chip-spacing-l-internal) var(--calcite-chip-spacing-s-internal);
}

:host([kind="neutral"]) {
  border-color: transparent;
  background-color: var(--calcite-ui-foreground-2);
  color: var(--calcite-ui-text-1);
  .close {
    color: var(--calcite-ui-text-3);
  }
  .chip-icon {
    color: var(--calcite-ui-icon-color, var(--calcite-ui-text-3));
  }
}

:host([kind="inverse"]) {
  border-color: transparent;
  background-color: var(--calcite-ui-inverse);
  @apply text-color-inverse;
  .close {
    @apply text-color-inverse;
  }
  .chip-icon {
    color: var(--calcite-ui-icon-color, var(--calcite-ui-text-inverse));
  }
}

:host([kind="brand"]) {
  border-color: transparent;
  background-color: var(--calcite-ui-brand);
  color: var(--calcite-ui-text-inverse);
  .close {
    @apply text-color-inverse;
  }
  .chip-icon {
    color: var(--calcite-ui-icon-color, var(--calcite-ui-text-inverse));
  }
}

:host([appearance="outline-fill"]),
:host([appearance="outline"]) {
  @apply text-color-1 bg-foreground-1;
  .close {
    @apply text-color-3;
  }
  .chip-icon {
    color: var(--calcite-ui-icon-color, var(--calcite-ui-text-3));
  }
}

:host([appearance="outline-fill"]) {
  @apply bg-foreground-1;
}

:host([appearance="outline"]) {
  @apply bg-transparent;
}

:host([kind="neutral"][appearance="outline-fill"]),
:host([kind="neutral"][appearance="outline"]) {
  border-color: var(--calcite-ui-border-1);
}

:host([kind="inverse"][appearance="outline-fill"]),
:host([kind="inverse"][appearance="outline"]) {
  border-color: var(--calcite-ui-border-inverse);
}

:host([kind="brand"][appearance="outline-fill"]),
:host([kind="brand"][appearance="outline"]) {
  border-color: var(--calcite-ui-brand);
}

:host([kind="brand"][appearance="solid"]),
:host([kind="inverse"][appearance="solid"]) {
  button {
    outline-color: var(--calcite-ui-text-inverse);
  }
}

:host([closed]) {
  display: none;
}

@include disabled();
