// scale
// todo update when new spacing modifiers are introduced to calcite-base
:host([scale="s"]) {
  @apply text-n2 h-6;
  --calcite-chip-spacing-unit-l: theme("spacing.2");
  --calcite-chip-spacing-unit-s: theme("spacing.1");
  .image-container {
    @apply h-5 w-5;
    padding-inline-start: theme("spacing[0.5]");
  }
}
:host([scale="m"]) {
  @apply text-n1 h-8;
  --calcite-chip-spacing-unit-l: theme("spacing.3");
  --calcite-chip-spacing-unit-s: calc(theme("spacing.3") / 2);
  .image-container {
    @apply h-6 w-6;
    padding-inline-start: theme("spacing.1");
  }
}

:host([scale="l"]) {
  @apply text-0 h-11;
  --calcite-chip-spacing-unit-l: theme("spacing.4");
  --calcite-chip-spacing-unit-s: theme("spacing.2");
  .image-container {
    @apply h-8 w-8;
    padding-inline-start: theme("spacing.2");
  }
}

:host {
  @apply border-color-1
    text-color-1
    box-border
    inline-flex
    cursor-default
    items-center
    rounded-full
    border
    border-solid
    font-medium;
}

/*
.container.is-selectable {
  @apply cursor-pointer;
}
*/

.container {
  @apply inline-flex h-full max-w-full items-center rounded-full;
  @apply focus-base;
  &:focus {
    @apply focus-outset;
  }
}

.title {
  @apply truncate;
  padding-block: 0;
}

.content--slotted .title {
  padding-inline: var(--calcite-chip-spacing-unit-l);
}

:host([closable][icon]) .container:not(.content--slotted) .title {
  padding-inline: 0 var(--calcite-chip-spacing-unit-s);
}

:host(:not([closable])) .container:not(.content--slotted) .chip-icon {
  margin-inline: auto;
}

.container:not(.image--slotted) .image-container {
  display: none;
}

:host([scale="s"][closable]) .container:not(.content--slotted) .image-container {
  margin-inline-end: theme("spacing[0.5]");
}

:host([scale="m"][closable]) .container:not(.content--slotted) .image-container {
  margin-inline-end: theme("spacing.1");
}

:host([scale="l"][closable]) .container:not(.content--slotted) .image-container {
  margin-inline-end: theme("spacing.2");
}

:host([scale="s"]:not([closable])) .container:not(.content--slotted):not(.is-selectable) {
  @apply w-6 h-6;
  & .image-container {
    padding-inline: theme("spacing[0.5]");
  }
}

:host([scale="m"]:not([closable])) .container:not(.content--slotted):not(.is-selectable) {
  @apply w-8 h-8;
  & .image-container {
    padding-inline: theme("spacing.1");
  }
}

:host([scale="l"]:not([closable])) .container:not(.content--slotted):not(.is-selectable) {
  @apply w-11 h-11;
  & .image-container {
    padding-inline: calc(theme("spacing.3") / 2);
  }
}

:host([closable]) .content--slotted .title {
  padding-inline: var(--calcite-chip-spacing-unit-l) var(--calcite-chip-spacing-unit-s);
}

:host([scale="s"]) button {
  inline-size: theme("spacing.4");
  block-size: theme("spacing.4");
  margin-inline-end: theme("spacing[0.5]");
}

:host([scale="m"]) button {
  inline-size: theme("spacing.6");
  block-size: theme("spacing.6");
  margin-inline-end: theme("spacing.1");
}

:host([scale="l"]) button {
  inline-size: theme("spacing.8");
  block-size: theme("spacing.8");
  margin-inline-end: theme("spacing.2");
}

button {
  @apply focus-base
    transition-default
    text-color-1
    m-0
    cursor-pointer
    items-center
    border-none
    bg-transparent;
  -webkit-appearance: none;
  display: flex;
  border-radius: 50%;
  padding-inline: var(--calcite-chip-spacing-unit-s);
  color: inherit;
  align-content: center;
  justify-content: center;

  --calcite-chip-transparent-hover: var(--calcite-button-transparent-hover);
  --calcite-chip-transparent-press: var(--calcite-button-transparent-press);
  &:hover {
    background-color: var(--calcite-chip-transparent-hover);
  }
  &:focus {
    background-color: var(--calcite-chip-transparent-hover);
    @apply focus-inset;
  }
  &:active {
    background-color: var(--calcite-chip-transparent-press);
  }
}

// select icon
.select-icon {
  align-self: center;
  align-content: center;
  display: flex;
  inset-block-start: -1px;
  position: relative;
  visibility: hidden;
  inline-size: 0;
  opacity: 0;
  transition: opacity 0.15s ease-in-out, inline-size 0.15s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 0.5;
  }
}
.container:hover .select-icon.active {
  opacity: 1;
}
// explicit width for transition
:host([scale="s"]) .select-icon.active {
  inline-size: theme("spacing.6");
}
:host([scale="m"]) .select-icon.active {
  inline-size: theme("spacing.7");
}
:host([scale="l"]) .select-icon.active {
  inline-size: theme("spacing.8");
}

:host([selected]) .select-icon {
  opacity: 1;
}

//slotted image
.image-container {
  @apply inline-flex overflow-hidden;
}

slot[name="image"]::slotted(*) {
  @apply rounded-half flex h-full w-full overflow-hidden;
}

//icon
.chip-icon {
  @apply relative
    my-0
    inline-flex
    duration-150
    ease-in-out;
  margin-inline-end: 0;
  margin-inline-start: var(--calcite-chip-spacing-unit-l);
}

:host([kind="neutral"]) {
  border-color: transparent;
  background-color: var(--calcite-ui-foreground-2);
  color: var(--calcite-ui-text-1);
  button,
  .close-icon {
    color: var(--calcite-ui-text-3);
  }

  .chip-icon {
    color: var(--calcite-ui-icon-color, var(--calcite-ui-text-3));
  }
}

:host([kind="inverse"]) {
  border-color: transparent;
  background-color: var(--calcite-ui-inverse);
  @apply text-color-inverse;

  button,
  .close-icon {
    @apply text-color-inverse;
  }

  .chip-icon {
    color: var(--calcite-ui-icon-color, var(--calcite-ui-text-inverse));
  }
}

:host([kind="brand"]) {
  border-color: transparent;
  background-color: var(--calcite-ui-brand);
  color: var(--calcite-ui-text-inverse);
  button,
  .close-icon {
    @apply text-color-inverse;
  }

  .chip-icon {
    color: var(--calcite-ui-icon-color, var(--calcite-ui-text-inverse));
  }
}

:host([appearance="outline-fill"]),
:host([appearance="outline"]) {
  @apply text-color-1 bg-foreground-1;
  button,
  .close-icon {
    @apply text-color-3;
  }
  .chip-icon {
    color: var(--calcite-ui-icon-color, var(--calcite-ui-text-3));
  }
}

:host([appearance="outline-fill"]) {
  @apply bg-foreground-1;
}

:host([appearance="outline"]) {
  @apply bg-transparent;
}

:host([kind="neutral"][appearance="outline-fill"]),
:host([kind="neutral"][appearance="outline"]) {
  border-color: var(--calcite-ui-border-1);
}

:host([kind="inverse"][appearance="outline-fill"]),
:host([kind="inverse"][appearance="outline"]) {
  border-color: var(--calcite-ui-border-inverse);
}

:host([kind="brand"][appearance="outline-fill"]),
:host([kind="brand"][appearance="outline"]) {
  border-color: var(--calcite-ui-brand);
}

:host([kind="brand"][appearance="solid"]),
:host([kind="inverse"][appearance="solid"]) {
  button {
    outline-color: var(--calcite-ui-text-inverse);
  }
}

:host([closed]) {
  display: none;
}
