// scale
// todo update when new spacing modifiers are introduced to calcite-base
:host([scale="s"]) {
  @apply text-n2 h-6;
  --calcite-chip-spacing-unit-l: theme("spacing.2");
  --calcite-chip-spacing-unit-s: theme("spacing.1");
  .image-container {
    @apply h-5 w-5;
  }
}
:host([scale="m"]) {
  @apply text-n1 h-8;
  --calcite-chip-spacing-unit-l: theme("spacing.3");
  --calcite-chip-spacing-unit-s: 6px;
  .image-container {
    @apply h-6 w-6;
    padding-inline-start: theme("padding.1");
  }
}

:host([scale="l"]) {
  @apply text-0 h-11;
  --calcite-chip-spacing-unit-l: theme("spacing.4");
  --calcite-chip-spacing-unit-s: theme("spacing.2");
  .image-container {
    @apply h-8 w-8;
    padding-inline-start: theme("spacing.1");
  }
}

:host {
  @apply border-color-1
    text-color-1
    box-border
    inline-flex
    cursor-default
    items-center
    rounded-full
    border
    border-solid
    font-medium;
}

.container {
  @apply inline-flex h-full max-w-full items-center;
}

.title {
  @apply truncate;
}

:host span {
  padding-block: 0;
  padding-inline: var(--calcite-chip-spacing-unit-l);
}

:host([closable]) span {
  padding-inline: var(--calcite-chip-spacing-unit-l) var(--calcite-chip-spacing-unit-s);
}

:host([icon]:not([closable])) span {
  padding-block: 0;
  padding-inline: var(--calcite-chip-spacing-unit-l);
}

:host button {
  @apply focus-base
    transition-default
    text-color-1
    m-0
    inline-flex
    max-h-full
    min-h-full
    cursor-pointer
    items-center
    self-stretch
    border-none
    bg-transparent;
  -webkit-appearance: none;
  border-start-start-radius: 0;
  border-start-end-radius: 50px;
  border-end-end-radius: 50px;
  border-end-start-radius: 0;
  padding-block: 0;
  padding-inline: var(--calcite-chip-spacing-unit-s);
  color: inherit;

  // close button focus styles
  --calcite-chip-transparent-hover: var(--calcite-button-transparent-hover);
  --calcite-chip-transparent-press: var(--calcite-button-transparent-press);
  &:hover {
    background-color: var(--calcite-chip-transparent-hover);
  }
  &:focus {
    background-color: var(--calcite-chip-transparent-hover);
    @apply focus-inset;
  }
  &:active {
    background-color: var(--calcite-chip-transparent-press);
  }
}

//slotted image
.image-container {
  @apply rounded-half inline-flex overflow-hidden;
}

:host slot[name="image"]::slotted(*) {
  @apply rounded-half flex h-full w-full overflow-hidden;
}

//icon
.chip-icon {
  @apply relative
    my-0
    inline-flex
    duration-150
    ease-in-out;
  margin-inline-end: 0;
  margin-inline-start: var(--calcite-chip-spacing-unit-l);
  border-start-start-radius: 0;
  border-start-end-radius: 50px;
  border-end-end-radius: 50px;
  border-end-start-radius: 0;
}

// solid
:host([color="blue"]) {
  border-color: transparent;
  background-color: var(--calcite-ui-info);
  color: var(--calcite-ui-text-inverse);
}

:host([color="red"]) {
  border-color: transparent;
  background-color: var(--calcite-ui-danger);
  color: var(--calcite-ui-text-inverse);
}

:host([color="yellow"]) {
  border-color: transparent;
  background-color: var(--calcite-ui-warning);
  color: $blk-220;
}

:host([color="green"]) {
  border-color: transparent;
  background-color: var(--calcite-ui-success);
  color: $blk-220;
}

:host([color="grey"]) {
  border-color: transparent;
  background-color: var(--calcite-ui-foreground-2);
  color: var(--calcite-ui-text-1);
  button,
  .close-icon {
    color: var(--calcite-ui-text-3);
  }

  .chip-icon {
    color: var(--calcite-ui-icon-color, var(--calcite-ui-text-3));
  }
}

:host([appearance="clear"]),
:host([appearance="transparent"]) {
  @apply text-color-1 bg-transparent;
}

// clear is deprecated. use transparent instead.
:host([color="blue"][appearance="clear"]),
:host([color="blue"][appearance="transparent"]) {
  border-color: var(--calcite-ui-info);
  .chip-icon {
    color: var(--calcite-ui-icon-color, var(--calcite-ui-info));
  }
}

:host([color="red"][appearance="clear"]),
:host([color="red"][appearance="transparent"]) {
  border-color: var(--calcite-ui-danger);
  .chip-icon {
    color: var(--calcite-ui-icon-color, var(--calcite-ui-danger));
  }
}

:host([color="yellow"][appearance="clear"]),
:host([color="yellow"][appearance="transparent"]) {
  border-color: var(--calcite-ui-warning);
  .chip-icon {
    color: var(--calcite-ui-icon-color, var(--calcite-ui-warning));
  }
}

:host([color="green"][appearance="clear"]),
:host([color="green"][appearance="transparent"]) {
  border-color: var(--calcite-ui-success);
  .chip-icon {
    color: var(--calcite-ui-icon-color, var(--calcite-ui-success));
  }
}

:host([color="grey"][appearance="clear"]),
:host([color="grey"][appearance="transparent"]) {
  border-color: var(--calcite-ui-border-1);
  .chip-icon {
    color: var(--calcite-ui-icon-color, var(--calcite-ui-text-3));
  }
}

:host([closed]) {
  display: none;
}
