/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-list-background-color: Specifies the background color of the component.
 * @prop --calcite-list-header-background-color: Specifies the background color of the component header. Will fallback to --calcite-list-background-color.
 * @prop --calcite-list-header-z-index: Specifies the component header's z-index.
 */

:host {
  @apply block;
}

@include disabled();

.container {
  position: relative;
}

.table-container {
  @apply box-border
  flex
  w-full
  flex-col;
  background-color: var(--calcite-color-transparent);

  * {
    @apply box-border;
  }
}

.table {
  @apply w-full border-collapse;
}

.stack {
  --calcite-stack-padding-inline: 0;
  --calcite-stack-padding-block: 0;
}

.sticky-pos {
  @apply sticky
  top-0;
  z-index: var(--calcite-list-header-z-index, var(--calcite-z-index-sticky));
  background-color: var(
    --calcite-list-header-background-color,
    var(--calcite-list-background-color, var(--calcite-color-foreground-1))
  );

  & th {
    @apply p-0;
  }
}

.assistive-text {
  @apply sr-only;
}

@include base-component();
