/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-list-background-color: Specifies the component's background color.
 */

:host {
  @apply block;
}

@include disabled();

.container {
  position: relative;
  background-color: var(--calcite-list-background-color, var(--calcite-color-foreground-1));
}

.container-height {
  min-block-size: 100vh;
}

.table-container {
  @apply box-border
  flex
  w-full
  flex-col
  bg-transparent;
  * {
    @apply box-border;
  }
}

.table {
  @apply w-full;
}

.stack {
  --calcite-stack-padding-inline: 0;
  --calcite-stack-padding-block: 0;
}

.sticky-pos {
  @apply sticky
  top-0
  z-sticky;
  background-color: var(--calcite-list-background-color, var(--calcite-color-foreground-1));
}

.assistive-text {
  @apply sr-only;
}

@include base-component();
