/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * --calcite-dropdown-group-border-color: defines the border-color of a dropdown group
 * --calcite-dropdown-group-text-color: defines the text color for a dropdown group title
 *
 */
:host {
  // we make the host relative, so items can consistently compute their offsetTop based on the group
  @apply block relative;
}

.container {
  text-align: start;
}

.container--s {
  @apply text-n2h;
  .dropdown-title {
    @apply p-2;
  }
}

.container--m {
  @apply text-n1h;
  .dropdown-title {
    @apply p-3;
  }
}

.container--l {
  @apply text-0h;
  .dropdown-title {
    @apply p-4;
  }
}

.dropdown-title {
  @apply -mb-px
  block
  cursor-default
  break-words
  font-bold;
  border-width: 0px;
  border-block-end-width: 1px;
  border-style: solid;
  border-color: var(--calcite-dropdown-group-border-color, var(--calcite-color-border-3));
  color: var(--calcite-dropdown-group-text-color, var(--calcite-color-text-2));
}

.dropdown-separator {
  @apply block h-px;
  background-color: theme("borderColor.color.3");
}

@include base-component();
