/**
* CSS Custom Properties
*
* These properties can be overridden using the component's tag as selector.
*
* @prop --calcite-dropdown-group-border-color: Specifies the `calcite-dropdown`'s border color.
* @prop --calcite-dropdown-group-title-text-color: Specifies the component's `groupTitle` color.
*/

:host {
  @apply block;
}

.container {
  @apply text-start;
}

.dropdown-title {
  @apply -mb-px
  block
  cursor-default
  break-words
  border-0
  font-bold;

  color: var(--calcite-dropdown-group-title-text-color, var(--calcite-color-text-1));
}

.dropdown-separator {
  @apply block h-px;
  background-color: var(--calcite-dropdown-group-border-color, var(--calcite-color-border-3));
}

:host([scale="s"]) {
  @apply text-n2h;
  .dropdown-title {
    @apply p-2;
  }
  .dropdown-separator {
    margin-block: var(--calcite-spacing-xxs);
    margin-inline: var(--calcite-spacing-sm);
  }
}

:host([scale="m"]) {
  @apply text-n1h;
  .dropdown-title {
    @apply p-3;
  }
  .dropdown-separator {
    margin-block: var(--calcite-spacing-sm);
    margin-inline: var(--calcite-spacing-md);
  }
}

:host([scale="l"]) {
  @apply text-0h;
  .dropdown-title {
    @apply p-4;
  }
  .dropdown-separator {
    margin-block: var(--calcite-spacing-sm-plus);
    margin-inline: var(--calcite-spacing-lg);
  }
}

@include base-component();
