/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-shell-panel-width: The width of the component.
 * @prop --calcite-shell-panel-max-width: The maximum width of the component.
 * @prop --calcite-shell-panel-min-width: The minimum width of the component.
 * @prop --calcite-shell-panel-detached-max-height: The maximum height of the component when `detached` is true.
 *
 */

:host {
  @apply pointer-events-none
    flex
    flex-initial
    items-stretch;
  --calcite-shell-panel-detached-max-height: unset;
}

:host([width-scale="s"]) .content {
  --calcite-shell-panel-width-internal: var(--calcite-shell-panel-width, 12vw);
  --calcite-shell-panel-max-width-internal: var(--calcite-shell-panel-max-width, 300px);
  --calcite-shell-panel-min-width-internal: var(--calcite-shell-panel-min-width, 150px);
}

:host([width-scale="m"]) .content {
  --calcite-shell-panel-width-internal: var(--calcite-shell-panel-width, 20vw);
  --calcite-shell-panel-max-width-internal: var(--calcite-shell-panel-max-width, 420px);
  --calcite-shell-panel-min-width-internal: var(--calcite-shell-panel-min-width, 240px);
}

:host([width-scale="l"]) .content {
  --calcite-shell-panel-width-internal: var(--calcite-shell-panel-width, 45vw);
  --calcite-shell-panel-max-width-internal: var(--calcite-shell-panel-max-width, 680px);
  --calcite-shell-panel-min-width-internal: var(--calcite-shell-panel-min-width, 340px);
}

:host([detached-height-scale="s"]) .content--detached {
  --calcite-shell-panel-detached-max-height-internal: var(--calcite-shell-panel-detached-max-height, 40vh);
}

:host([detached-height-scale="m"]) .content--detached {
  --calcite-shell-panel-detached-max-height-internal: var(--calcite-shell-panel-detached-max-height, 60vh);
}

:host([detached-height-scale="l"]) .content--detached {
  --calcite-shell-panel-detached-max-height-internal: var(--calcite-shell-panel-detached-max-height, 80vh);
}

.container {
  @apply text-color-2
  text-n1
  pointer-events-none
  box-border
  flex
  flex-auto
  items-stretch
  bg-transparent;

  * {
    @apply box-border;
  }
}

:host([layout="horizontal"]) .container {
  flex-direction: column;
}

:host(:hover),
:host(:focus-within) {
  .separator:not(:hover):not(:focus) {
    @apply opacity-100;
    background-color: var(--calcite-ui-border-3);
  }
}

.separator {
  @apply transition-default
  pointer-events-auto
  absolute
  flex
  bg-transparent
  opacity-0;
  cursor: col-resize;
  outline: none;
  &:hover {
    @apply opacity-100;
    background-color: var(--calcite-ui-border-2);
  }
  &:focus {
    @apply bg-brand opacity-100;
  }
}

:host([layout="vertical"]) .separator {
  @apply bottom-0
  top-0 h-full
  w-0.5;
  cursor: col-resize;
}

:host([layout="horizontal"][position="start"]) .separator {
  @apply bottom-0;
}

:host([layout="horizontal"][position="end"]) .separator {
  @apply top-0;
}

:host([layout="horizontal"]) .separator {
  @apply right-0 w-full
  h-0.5;
  cursor: row-resize;
}

:host([layout="vertical"][position="start"]) .separator {
  inset-inline-end: -2px;
}
:host([layout="horizontal"][position="start"]) .separator {
  inset-block-end: -2px;
}

:host([layout="vertical"][position="end"]) .separator {
  inset-inline-start: -2px;
}
:host([layout="horizontal"][position="end"]) .separator {
  inset-block-start: -2px;
}

::slotted(calcite-panel),
::slotted(calcite-flow) {
  @apply h-full w-full flex-auto;
  max-block-size: unset;
  max-inline-size: unset;
}

::slotted(.calcite-match-height) {
  @apply flex flex-auto overflow-hidden;
}

.content {
  @apply bg-background
  pointer-events-auto
  flex
  flex-col
  flex-nowrap
  items-stretch
  self-stretch
  p-0;

  inline-size: var(--calcite-shell-panel-width-internal);
  max-inline-size: var(--calcite-shell-panel-max-width-internal);
  min-inline-size: var(--calcite-shell-panel-min-width-internal);
  transition: max-block-size var(--calcite-animation-timing), max-inline-size var(--calcite-animation-timing);
}

.content__header {
  @apply flex
  flex-initial
  flex-col
  flex-nowrap
  items-stretch;
}

.content__body {
  @apply flex
  flex-auto
  flex-col
  overflow-hidden;
}

.content--detached {
  @apply shadow-0
  mx-2
  mt-2
  mb-auto
  h-auto
  overflow-hidden
  rounded;

  max-block-size: var(--calcite-shell-panel-detached-max-height-internal);
  ::slotted(calcite-panel),
  ::slotted(calcite-flow) {
    max-block-size: unset;
  }
}

:host([position="start"]) .content--detached,
:host([position="end"]) .content--detached {
  ::slotted(calcite-panel),
  ::slotted(calcite-flow) {
    @apply border-none;
  }
}

.content[hidden] {
  @apply hidden;
}

slot[name="action-bar"]::slotted(calcite-action-bar),
.content ::slotted(calcite-flow),
.content ::slotted(calcite-panel:not([closed])) {
  @apply border-color-3 border border-solid;
}

:host([position="start"]) slot[name="action-bar"]::slotted(calcite-action-bar),
:host([position="start"]) .content ::slotted(calcite-flow),
:host([position="start"]) .content ::slotted(calcite-panel) {
  border-inline-start: none;
}

:host([position="end"]) slot[name="action-bar"]::slotted(calcite-action-bar),
:host([position="end"]) .content ::slotted(calcite-flow),
:host([position="end"]) .content ::slotted(calcite-panel) {
  border-inline-end: none;
}
