calcite-input {
  --calcite-input-status-valid-focus-shadow-color: #{rgba($h-gg-060, 0.4)};
  --calcite-input-status-invalid-focus-shadow-color: #{rgba($h-rr-060, 0.4)};
}
calcite-input[theme="dark"] {
  --calcite-input-status-valid-focus-shadow-color: #{rgba($d-gg-420, 0.4)};
  --calcite-input-status-invalid-focus-shadow-color: #{rgba($d-rr-420, 0.4)};
}
// You can use any SASS from Calcite Base and Calcite Colors here.
calcite-input {
  display: block;
  width: 100%;
  position: relative;
  text-align: left;
  margin-top: $baseline/4;
}

calcite-input textarea,
calcite-input input {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  font-family: inherit;
  border: 1px solid var(--calcite-ui-border-1);
  margin: 0;
  padding: $baseline/2;
  font-weight: 500;
  @include font-size(-2);
  transition: $transition;
  box-shadow: 0 0 0 0 transparent;
  outline: 0;
  background-color: var(--calcite-ui-foreground);
  color: var(--calcite-ui-blue);
  &::placeholder {
    color: var(--calcite-ui-text-3);
    opacity: 0.7;
  }

  &:-ms-input-placeholder {
    color: var(--calcite-ui-text-3);
    opacity: 0.7;
  }

  &::-ms-input-placeholder {
    color: var(--calcite-ui-text-3);
    opacity: 0.7;
  }
}
calcite-input[appearance="minimal"] {
  margin-top: 0;
  & input,
  & textarea {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid var(--calcite-ui-border-1);
    padding: $baseline/4 0;
  }

  & .calcite-input-icon {
    left: 0;
  }
  & .calcite-input-loading {
    top: initial;
    bottom: -19px;
    left: 0;
    right: 0;
    & * {
      padding-top: 0 !important;
    }
  }
}

calcite-progress .calcite-progress--text {
  padding-top: 0 !important;
}
// todo rtl
calcite-input[status="valid"] input:focus,
calcite-input[status="valid"] textarea:focus,
calcite-input[status="invalid"] input:focus,
calcite-input[status="invalid"] textarea:focus {
  &::placeholder {
    color: var(--calcite-ui-text-3);
  }

  &:-ms-input-placeholder {
    color: var(--calcite-ui-text-3);
  }

  &::-ms-input-placeholder {
    color: var(--calcite-ui-text-3);
  }
}

calcite-input textarea:not[value] {
  transition: $transition, height unset;
}
calcite-input textarea:not[value],
calcite-input input:not[value] {
  font-weight: 500;
}
calcite-input input:hover,
calcite-input textarea:hover {
  border-color: var(--calcite-ui-border-2);
}
calcite-input textarea:focus,
calcite-input input:focus {
  &::placeholder {
    color: var(--calcite-ui-blue);
    opacity: 0.7;
  }

  &:-ms-input-placeholder {
    color: var(--calcite-ui-blue);
    opacity: 0.7;
  }

  &::-ms-input-placeholder {
    color: var(--calcite-ui-blue);
    opacity: 0.7;
  }
}

calcite-input slot:not[name="input-message"] {
  display: block;
  @include font-size(-3);
  margin-bottom: $baseline/4;
  color: var(--calcite-ui-text-2);
  font-weight: 500;
}

calcite-input[width="auto"] {
  width: 100px;
}
// todo css vars
calcite-input[icon] textarea,
calcite-input[icon] input {
  padding-left: $baseline * 1.5;
}

//todo rtl
.calcite-input-icon {
  display: block;
  position: absolute;
  pointer-events: none;
  transition: $transition;
  top: calc(50% - 10px);
  left: $baseline/2;
  margin: 1px auto 0;
  line-height: inherit;
  z-index: 9;
  & svg {
    transition: $transition;
    fill: var(--calcite-ui-text-3);
  }
}

.calcite-input-loading {
  display: block;
  pointer-events: none;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  align-items: center;
  justify-content: center;
}

.calcite-input-number-button-wrapper {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  //rtl
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid transparent;
  border-left: 1px solid var(--calcite-ui-border-1);
  transition: $transition;
    pointer-events: none;
  & svg {
    height: 8px;
    width: 8px;
  }

}
:host(:hover) .calcite-input-number-button-wrapper {
  border-color: var(--calcite-ui-border-1);
}

calcite-input[appearance="minimal"] {
& .calcite-input-number-button-wrapper {
  border-color: transparent;

}
& .calcite-input-number-button-wrapper .calcite-input-number-button-item,
& .calcite-input-number-button-wrapper-horizontal .calcite-input-number-button-item,
& .calcite-input-number-button-wrapper-vertical .calcite-input-number-button-item {
  background-color: transparent;
  border-color: transparent;
  &:hover,
  &:focus {
    background-color: var(--calcite-ui-foreground-hover);
  }
  &:active {
    background-color: var(--calcite-ui-foreground-pressed);
  }
}
}
calcite-input[number-button-type="vertical"] .calcite-input-wrapper {
  flex-direction: row;
  display: flex;
}
calcite-input[number-button-type="vertical"] input,
calcite-input[number-button-type="vertical"] textarea {
  order:2;
}

calcite-input[number-button-type="horizontal"] input {
  padding-left:$baseline * 2;
  padding-right: $baseline * 2;
}
.calcite-input-number-button-wrapper-horizontal {
  width: 100%;
  border-left-color: transparent;
}

.calcite-input-number-button-wrapper-horizontal
  .calcite-input-number-button-item {
  &:first-of-type {
    border-bottom: none;
  }
}

.calcite-input-number-button-wrapper-horizontal
  .calcite-input-number-button-item[data-adjustment="up"] {
  min-height: 100%;
  max-height: 100%;
  order: 3;
  position:absolute;
  right:0;
  // todo rtl
  border-left: 1px solid $blk-030;
  & svg {
    transform: rotate(90deg);
  }
}
.calcite-input-number-button-wrapper-horizontal
  .calcite-input-number-button-item[data-adjustment="down"] {
  min-height: 100%;
  max-height: 100%;
  order: 1;
  position:absolute;
  left:0;
  // todo rtl
  border-right: 1px solid $blk-030;
  border-left: 2px solid transparent;
  & svg {
    transform: rotate(90deg);
  }
}
.calcite-input-number-button-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  max-height: 50%;
  min-height: 50%;
  padding: 0 $baseline/2;
  transition: $transition;
  pointer-events: initial;
  background-color: var(--calcite-ui-foreground);
  &:first-of-type {
    border-bottom: 1px solid $blk-030;
  }

  & svg {
    pointer-events: none;
    height: 8px;
    width: 8px;
  }
  &:hover,
  &:focus {
    background-color: var(--calcite-ui-foreground-hover);
  }
  &:active {
    background-color: var(--calcite-ui-foreground-pressed);
  }
}
.calcite-input-wrapper,
.calite-input-wrapper-2 {
  display: flex;
  flex-direction: column;
  position: relative;
}

//todo rtl
calcite-input input[type="number"] {
  padding-right: $baseline * 2;
}
calcite-input input[type="number"]::-webkit-inner-spin-button,
calcite-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  -moz-appearance: textfield;
  margin: 0;
}

calcite-input input[type="number"] {
  -moz-appearance: textfield;
}
calcite-input textarea::-webkit-resizer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: row-resize;
  border-top: 1px solid $blk-030;
  border-left: 1px solid $blk-030;
  padding: 0 $baseline/4;
}

calcite-input[type="file"] input,
calcite-input[type="file"] textarea {
  cursor: pointer;
  padding: $baseline;
  border: 1px dashed $blk-040;
  background-color: $blk-005;
  text-align: center;
}

// status
$inputStatusColors: "invalid" var(--calcite-ui-red),
  "valid" var(--calcite-ui-blue), "idle" var(--calcite-ui-blue);

@each $statusColor in $inputStatusColors {
  $name: nth($statusColor, 1);
  $color: nth($statusColor, 2);

  calcite-input[status="#{$name}"] input,
  calcite-input[status="#{$name}"] textarea {
    color: $color;
  }
  calcite-input[status="#{$name}"] input:focus,
  calcite-input[status="#{$name}"] textarea:focus {
    border-color: $color;
    color: $color;
  }

  calcite-input[status="#{$name}"] input:focus ~ .calcite-input-icon svg,
  calcite-input[status="#{$name}"] textarea:focus ~ .calcite-input-icon svg {
    fill: $color;
  }
}
