// temporary hardcoded values until new font scale and padding is added to calcite-base
:host([scale="s"]) {
  & textarea,
  & input,
  & .calcite-input-prefix,
  & .calcite-input-suffix {
    @apply text--2h py-1 px-2 h-6;
  }
  & textarea {
    min-height: theme("spacing.6");
  }
  & .calcite-input-number-button-wrapper,
  & .calcite-input-action-wrapper calcite-button,
  & .calcite-input-action-wrapper calcite-button button {
    @apply h-6;
  }
  & textarea,
  & input[type="file"] {
    @apply h-auto;
  }
  & .calcite-input-clear-button {
    min-height: theme("minHeight.6");
    min-width: theme("minHeight.6");
  }
  .calcite-input-number-button-item {
    @apply h-3;
  }

  .calcite-input-number-button-item.number-button-item-horizontal {
    &[data-adjustment="down"],
    &[data-adjustment="up"] {
      @apply h-6;
    }
  }
}

:host([scale="m"]) {
  & textarea,
  & input,
  & .calcite-input-prefix,
  & .calcite-input-suffix {
    @apply text--1h p-2 h-8;
  }
  & textarea {
    min-height: theme("minHeight.8");
  }
  & .calcite-input-number-button-wrapper,
  & .calcite-input-action-wrapper calcite-button,
  & .calcite-input-action-wrapper calcite-button button {
    @apply h-8;
  }
  & textarea,
  & input[type="file"] {
    @apply h-auto;
  }
  & .calcite-input-clear-button {
    min-height: theme("minHeight.8");
    min-width: theme("minHeight.8");
  }
  .calcite-input-number-button-item {
    @apply h-4;
  }
  .calcite-input-number-button-item.number-button-item-horizontal {
    &[data-adjustment="down"],
    &[data-adjustment="up"] {
      @apply h-8;
    }
  }
}

:host([scale="l"]) {
  & textarea,
  & input,
  & .calcite-input-prefix,
  & .calcite-input-suffix {
    @apply text-1h p-3 h-12;
  }
  & textarea {
    min-height: theme("height.12");
  }
  & .calcite-input-number-button-wrapper,
  & .calcite-input-action-wrapper calcite-button,
  & .calcite-input-action-wrapper calcite-button button {
    @apply h-12;
  }
  & textarea,
  & input[type="file"] {
    @apply h-auto;
  }
  & .calcite-input-clear-button {
    min-height: theme("height.12");
    min-width: theme("height.12");
  }
  .calcite-input-number-button-item {
    @apply h-6;
  }
  .calcite-input-number-button-item.number-button-item-horizontal {
    &[data-adjustment="down"],
    &[data-adjustment="up"] {
      @apply h-12;
    }
  }
}

// disabled styles
:host([disabled]) {
  @apply pointer-events-none;

  & .calcite-input-wrapper {
    @apply opacity-disabled pointer-events-none;
  }
  & textarea,
  & input {
    @apply pointer-events-none;
  }
}

:host textarea,
:host input {
  @apply flex 
    relative 
    max-w-full 
    max-h-full 
    flex-1 
    box-border 
    font-inherit 
    m-0 
    bg-foreground-1 
    text-color-1 
    font-normal 
    rounded-none
    duration-150 
    ease-in-out;
  min-width: theme("width[1/5]");
  -webkit-appearance: none;
  box-shadow: 0 0 0 0 transparent;
  outline: 0;
  -webkit-border-radius: 0;
}

:host input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

//focus
:host textarea,
:host input {
  @apply focus-base;
}
:host textarea:focus,
:host input:focus {
  @apply focus-inset;
}

// states
:host {
  & input,
  & textarea {
    @apply text-color-1 
      border 
      border-solid 
      border-color-input;

    &::placeholder,
    &:-ms-input-placeholder,
    &::-ms-input-placeholder {
      @apply text-color-3 font-normal;
    }
  }

  & input:focus,
  & textarea:focus {
    @apply border-color-brand text-color-1;
  }
  & input[readonly],
  & textarea[readonly] {
    @apply bg-background;
  }
  & input[readonly]:focus,
  & textarea[readonly]:focus {
    @apply text-color-1;
  }
  & calcite-icon {
    @apply text-color-1;
  }
}
// input message slot
:host slot:not[name="input-message"] {
  @apply block 
    mb-1 
    text-color-2 
    font-medium;
}

// icon
:host([icon]) input {
  @apply pl-8;
}

:host([dir="rtl"][icon]) input {
  @apply pr-8 pl-2;
}

:host([dir="rtl"][icon][scale="l"]) input {
  @apply pr-8 pl-2;
}
:host([icon][scale="l"]) input {
  @apply pl-10;
}
//positioning wrapper for icon and loader
.calcite-input-element-wrapper {
  @apply flex inline-flex relative order-3;
  min-width: theme("width[1/5");
  width: 100%;
}

.calcite-input-icon {
  @apply block 
    absolute 
    pointer-events-none
    duration-150
    ease-in-out
    mt-px 
    mx-auto;
  top: calc(50% - 9px);
  left: theme("spacing.2");
  z-index: 1;
}

// adjust for larger icon of scale l
:host([scale="l"]) .calcite-input-icon {
  top: calc(50% - 12px);
}

:host([dir="rtl"]) .calcite-input-icon {
  left: unset;
  right: theme("spacing.2");
}

// hide browser default clear
input[type="text"]::-ms-clear {
  @apply hidden w-0 h-0;
}
input[type="text"]::-ms-reveal {
  @apply hidden w-0 h-0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration,
input[type="date"]::-webkit-clear-button,
input[type="time"]::-webkit-clear-button {
  @apply hidden;
}

.calcite-input-clear-button {
  @apply flex 
    self-stretch 
    items-center 
    justify-center 
    box-border 
    cursor-pointer 
    min-h-full 
    pointer-events-none
    bg-foreground-1 
    border
    border-solid
    border-l-0
    order-4
    border-color-input 
    duration-150 
    ease-in-out;
  &:hover,
  &:focus {
    @apply bg-foreground-2;
  }
  &:active {
    @apply bg-foreground-3;
  }
  &:disabled {
    @apply bg-opacity-disabled;
  }
}

:host([dir="rtl"]) {
  .calcite-input-clear-button {
    @apply border-l
      border-solid
      border-color-input;
  }
}

.calcite-input-clear-button {
  @apply focus-base;
  &:focus {
    @apply focus-inset;
  }
}

// loading
.calcite-input-loading {
  @apply block 
    pointer-events-auto 
    absolute 
    inset-x-0;
  top: 1px;
}

// slotted action
.calcite-input-action-wrapper {
  @apply flex order-7;
}

// prefix and suffix
.calcite-input-prefix,
.calcite-input-suffix {
  @apply flex 
    items-center 
    content-center 
    h-auto 
    min-h-full 
    word-break 
    select-none 
    box-border 
    font-medium 
    bg-background 
    text-color-2
    border
    border-solid
    border-color-input
    leading-none;
}

.calcite-input-prefix {
  @apply order-2 border-r-0;
}
.calcite-input-suffix {
  @apply order-5 border-l-0;
}

:host([dir="rtl"]) {
  & .calcite-input-prefix {
    @apply border-0 border-r;
  }
  & .calcite-input-suffix {
    @apply border-0 border-l;
  }
}

// readonly
:host([readonly]) .calcite-input-number-button-item {
  @apply pointer-events-none;
}

// alignment type
:host([alignment="start"]) {
  & textarea,
  & input {
    @apply text-left;
  }
}

:host([alignment="end"]) {
  & textarea,
  & input {
    @apply text-right;
  }
}

:host([dir="rtl"])[alignment="start"] {
  & textarea,
  & input {
    @apply text-right;
  }
}

:host([dir="rtl"])[alignment="end"] {
  & textarea,
  & input {
    @apply text-left;
  }
}

// number buttons
:host input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    @apply m-0;
  }
}

.calcite-input-number-button-wrapper {
  @apply flex 
    flex-col 
    box-border 
    pointer-events-auto 
    order-6
    duration-150 
    ease-in-out;
}

:host([number-button-type="vertical"]) .calcite-input-wrapper {
  @apply flex flex-row;
}

:host([number-button-type="vertical"]) {
  & input,
  textarea {
    @apply order-2;
  }
}

:host([dir="rtl"])[number-button-type="horizontal"] {
  & .calcite-input-number-button-item[data-adjustment="down"] calcite-icon {
    @apply transform -rotate-90;
  }
  & .calcite-input-number-button-item[data-adjustment="up"] calcite-icon {
    @apply transform -rotate-90;
  }
}

.calcite-input-number-button-item.number-button-item-horizontal {
  &[data-adjustment="down"],
  &[data-adjustment="up"] {
    @apply min-h-full 
      max-h-full 
      order-1 
      self-auto;
    & calcite-icon {
      @apply transform rotate-90;
    }
  }
}

.calcite-input-number-button-item.number-button-item-horizontal[data-adjustment="down"] {
  @apply border-r-0 
    border-l 
    border-solid 
    border-color-input;
}

.calcite-input-number-button-item.number-button-item-horizontal[data-adjustment="up"] {
  @apply order-5;
}
:host([dir="rtl"]) {
  .calcite-input-number-button-item.number-button-item-horizontal[data-adjustment="down"] {
    @apply border-l-0 
    border-r
    border-solid
    border-color-input;
  }
  .calcite-input-number-button-item.number-button-item-horizontal[data-adjustment="up"] {
    @apply border-r-0 
    border-l
    border-solid
    border-color-input;
  }
}

:host([number-button-type="vertical"]) .calcite-input-number-button-item[data-adjustment="down"] {
  @apply border-t-0;
}

:host([number-button-type="vertical"][scale="s"]) {
  & calcite-icon {
    @apply h-3 w-3;
    min-width: theme("spacing.3");
    min-height: theme("spacing.3");
  }
}

.calcite-input-number-button-item {
  @apply flex 
    self-center 
    items-center 
    box-border 
    cursor-pointer
    py-0
    px-2
    pointer-events-auto
    bg-foreground-1
    border
    border-solid
    border-l-0
    border-color-input
    transition-color 
    duration-150 
    ease-in-out;
  max-height: theme("height[1/2]");
  min-height: theme("height[1/2]");
  & calcite-icon {
    @apply pointer-events-none;
  }
  &:hover,
  &:focus {
    @apply bg-foreground-2;
  }
  &:active {
    @apply bg-foreground-3;
  }
}

:host([dir="rtl"])[number-button-type="vertical"] {
  .calcite-input-number-button-item {
    @apply border-r-0 
    border-l
    border-solid
    border-color-input;
  }
}

.calcite-input-wrapper {
  @apply flex relative;
}

// hide the default date picker
:host input::-webkit-calendar-picker-indicator {
  @apply hidden;
}

:host input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important;
}

// textarea resize icon
:host textarea::-webkit-resizer {
  @apply box-border 
    absolute 
    bottom-0 
    right-0 
    py-0 
    px-1;
}

// hide custom textarea resize icon for ie11, defer to browser arrows
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .calcite-input-resize-icon-wrapper {
    @apply hidden;
  }
}

.calcite-input-resize-icon-wrapper {
  @apply bg-transparent
    text-color-3
    absolute 
    pointer-events-none 
    w-4 
    h-4;
  z-index: 1;
  bottom: 2px;
  right: 2px;
  & calcite-icon {
    @apply transform -rotate-45;
    bottom: theme("spacing.1");
    right: theme("spacing.1");
  }
}

:host([dir="rtl"]) {
  textarea::-webkit-resizer {
    @apply left-0;
    right: unset;
  }

  .calcite-input-resize-icon-wrapper {
    left: 2px;
    right: unset;
    & calcite-icon {
      @apply transform rotate-45;
      bottom: theme("spacing.1");
      right: theme("spacing.1");
    }
  }
}

// file input/but
:host([type="file"]) {
  & input,
  textarea {
    @apply cursor-pointer 
    p-4 
    text-center 
    border-color-input 
    bg-foreground-1 
    border 
    border-dashed;
  }
}

:host(.no-bottom-border) input.sc-calcite-input {
  @apply border-b-0;
}

// status
$inputStatusColors: "invalid" var(--calcite-ui-danger), "valid" var(--calcite-ui-success),
  "idle" var(--calcite-ui-text-2);

@each $statusColor in $inputStatusColors {
  $name: nth($statusColor, 1);
  $color: nth($statusColor, 2);

  :host([status="#{$name}"]) .calcite-input-icon {
    color: $color;
  }
}
