:host {
  @apply inline-block
    align-top
    w-full
    relative
    overflow-visible
    rounded-none
    border
    border-solid
    border-color-2
    bg-foreground-1;
}

//FIXME: These need to be revisted by design to get scale values
:host([scale="s"]) {
  max-width: 216px;
}

:host([scale="m"]) {
  max-width: 286px;
}

:host([scale="l"]) {
  max-width: 398px;
}
