:host {
  @apply border-color-1
    bg-foreground-1
    relative
    inline-block
    w-full
    overflow-visible
    rounded-none
    border
    border-solid
    align-top;
}

//FIXME: These need to be revisted by design to get scale values
:host([scale="s"]) {
  max-inline-size: 13.5rem;
}

:host([scale="m"]) {
  max-inline-size: 17.875rem;
}

:host([scale="l"]) {
  max-inline-size: 24.875rem;
}
