:host {
  display: flex;
  background-color: var(--calcite-radio-group-item-background-color);
  color: var(--calcite-radio-group-item-color);
  cursor: pointer;
  padding: 0.5rem 1rem;
  line-height: 1.25;
  margin: 0.25rem -1px 0 0px;
  border: 1px solid var(--calcite-radio-group-border-color);
  box-sizing: border-box;
  transition: background 0.1s ease-in-out, border-color 0.1s ease-in-out;
  cursor: pointer;
}

:host([checked]) {
  background-color: var(--calcite-radio-group-color-active);
  border-color: var(--calcite-radio-group-border-color-active);
}

::slotted(input) {
  @include visually-hidden();
}
