:host {
  display: flex;
  align-self: stretch;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

:host label {
  display: flex;
  flex: 1;
  color: var(--calcite-ui-text-3);
  border: 1px solid transparent;
  margin: 4px;
  box-sizing: border-box;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
  pointer-events: none;
  display: flex;
  align-items: center;
}

:host([layout="horizontal"]) label {
  justify-content: center;
}

// focus styles
:host {
  @include focus-style-base();
}
:host(:focus) {
  @include focus-style-inset();
}

:host([scale="s"]) label {
  @apply text--2;
  padding: 0.25rem 0.75rem;
}

:host([scale="m"]) label {
  @apply text--1;
  padding: 0.4rem 1rem;
}

:host([scale="l"]) label {
  @apply text-1;
  padding: 0.5rem 1.5rem;
}

:host(:hover) label {
  background-color: var(--calcite-ui-foreground-2);
  color: var(--calcite-ui-text-1);
}

:host(:active) label {
  background-color: var(--calcite-ui-foreground-3);
}

:host([checked]) label {
  background-color: var(--calcite-ui-brand);
  border-color: var(--calcite-ui-brand);
  color: var(--calcite-ui-background);
  cursor: default;
}

:host([appearance="outline"][checked]) label {
  background-color: var(--calcite-ui-foreground-1);
  border-color: var(--calcite-ui-brand);
  box-shadow: inset 0 0 0 1px var(--calcite-ui-brand);
  color: var(--calcite-ui-brand);
}

::slotted(input) {
  display: none;
}

// icon
.radio-group-item-icon {
  display: inline-flex;
  position: relative;
  margin: 0;
  line-height: inherit;
  transition: $transition;
}

// icon positioning and styles
:host([icon-position="start"]) .radio-group-item-icon {
  margin-right: $baseline/3;
}

:host([icon-position="start"][dir="rtl"]) .radio-group-item-icon {
  margin-right: 0;
  margin-left: $baseline/3;
}

:host([icon-position="end"]) .radio-group-item-icon {
  margin-left: $baseline/3;
}

:host([icon-position="end"][dir="rtl"]) .radio-group-item-icon {
  margin-left: 0;
  margin-right: $baseline/3;
}
