$spacing: $baseline * 0.5;

:host {
  @apply block;

  .container {
    background-color: var(--calcite-color-foreground-1);
    box-shadow: 0 0 0 1px var(--calcite-color-border-2);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    block-size: 100%;
    max-inline-size: 300px;
    padding: $spacing;
    position: relative;
    vertical-align: top;
    @apply transition-default;

    &.checked {
      @apply z-default;
      box-shadow: 0 0 0 1px var(--calcite-color-brand);
    }

    &.heading-only {
      align-items: center;
    }

    &:not(.input-enabled) {
      ::slotted(calcite-checkbox),
      ::slotted(calcite-radio-button) {
        @apply sr-only;
      }
    }

    &.focused {
      @apply focus-base;
      &:not(.disabled) {
        &:not(.input-enabled) {
          @apply focus-inset;
          outline-offset: -4px;
          box-shadow:
            0 0 0 1px var(--calcite-color-brand),
            inset 0 0 0 2px var(--calcite-color-foreground-1);
        }
      }
    }

    &.input-enabled {
      &.input-alignment-start {
        &.width-auto {
          &.heading-only,
          &.icon-only,
          &.description-only,
          &.heading.description,
          &.icon.description,
          &.heading.icon.description {
            display: inline-grid;
            grid-template-columns: max-content 1fr;
          }
        }
        &.heading-only,
        &.icon-only,
        &.description-only,
        &.heading.description,
        &.icon.description,
        &.heading.icon.description {
          gap: $spacing;
        }
        .tile {
          @apply order-1;
        }
        &.large-visual {
          ::slotted(calcite-checkbox),
          ::slotted(calcite-radio-button) {
            position: absolute;
            inset-block-start: $spacing;
            inset-inline-start: $spacing;
          }
        }
      }
      &.input-alignment-end {
        &.width-auto {
          &.heading-only,
          &.icon-only {
            display: inline-grid;
            grid-gap: $spacing;
            grid-template-columns: max-content 1fr;
          }
        }
        &.heading-only,
        &.icon-only {
          gap: $spacing;
        }
        &.description-only,
        &.heading.description,
        &.icon.description,
        &.heading.icon.description {
          ::slotted(calcite-checkbox),
          ::slotted(calcite-radio-button) {
            position: absolute;
            inset-block-start: $spacing;
            inset-inline-end: $spacing;
          }
        }
        &.large-visual {
          ::slotted(calcite-checkbox),
          ::slotted(calcite-radio-button) {
            position: absolute;
            inset-block-start: $spacing;
            inset-inline-end: $spacing;
          }
        }
      }
    }

    &.width-full {
      @apply flex max-w-none;
      .tile {
        @apply flex-auto;
      }
    }
  }
}

.tile {
  @apply bg-foreground-1
    box-border
    duration-150
    ease-in-out
    flex
    flex-col
    gap-2
    pointer-events-none
    select-none
    text-color-3;
}

.tile-content-container {
  @apply flex
    focus-base
    items-stretch
    p-0
    text-color-2
    w-full;
}

.tile-content {
  @apply flex
    flex-auto
    flex-col
    gap-2;
  // set width handles slotted content and heading word wrap
  inline-size: 10%;
}

.tile-heading {
  @apply break-words
    duration-150
    ease-in-out
    font-medium
    pointer-events-none
    text-color-2
    text-n1-wrap;
}

.tile-description {
  @apply break-words
    duration-150
    ease-in-out
    pointer-events-none
    text-color-3
    text-n2-wrap;
}

.tile--large-visual {
  @apply grid justify-center
    text-center;
  min-block-size: theme("spacing.48");
  .icon {
    @apply self-end;
  }
  calcite-icon {
    block-size: 64px;
    inline-size: 64px;
  }
  .tile-content-container {
    @apply self-center;
  }
}

:host(:hover) {
  .container {
    &:not(.input-enabled) {
      box-shadow: 0 0 0 1px var(--calcite-color-brand);
    }
  }
}

:host(:hover),
.checked {
  .tile-heading {
    @apply text-color-1;
  }
  .tile-description {
    @apply text-color-2;
  }
}

@include disabled();
@include base-component();
