:host {
  display: flex;
  flex-direction: column;
}

:host > .item-wrapper {
  display: flex;
  max-inline-size: 100vw;
}

:host([layout="horizontal"]) > .item-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
}

:host([layout="horizontal"][scale="s"]) > .item-wrapper {
  column-gap: var(--calcite-spacing-xl);
}

:host([layout="horizontal"][scale="m"]) > .item-wrapper {
  column-gap: var(--calcite-spacing-xxl);
}

:host([layout="horizontal"][scale="l"]) > .item-wrapper {
  column-gap: #{$calcite-size-24}; // TODO: need new size token for this size
}

:host([layout="vertical"]) > .item-wrapper {
  flex-direction: column;
}

:host([scale="s"]) calcite-input-message {
  --calcite-input-message-spacing-value: calc(var(--calcite-spacing-xxs) * -1);
}

:host([scale="m"]) calcite-input-message {
  --calcite-input-message-spacing-value: calc(var(--calcite-spacing-sm) * -1);
}

:host([scale="l"]) calcite-input-message {
  --calcite-input-message-spacing-value: calc(var(--calcite-spacing-md) * -1);
}

@include form-validation-message();
@include base-component();
