/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-accordion-item-background-color: Specifies the background color for the component.
 * @prop --calcite-accordion-item-border-color: Specifies the border color for the component.
 * @prop --calcite-accordion-item-heading-text-color-highlighted: Specifies the heading text color for the component when expanded.
 * @prop --calcite-accordion-item-heading-text-color: Specifies the heading text color for the component.
 * @prop --calcite-accordion-item-text-color-highlighted: Specifies the text color for the description and content of the component when expanded.
 * @prop --calcite-accordion-item-text-color: Specifies the text color for the expand icon, description and content of the component.
 */

%icon-position {
  /* icon rotation variables */
  --calcite-internal-accordion-item-icon-rotation: calc(theme("rotate.90") * -1);
  --calcite-internal-accordion-item-icon-rotation-active: theme("rotate.0");
  --calcite-internal-accordion-item-icon-rtl-rotation: theme("rotate.90");
  --calcite-internal-accordion-item-icon-rtl-rotation-active: theme("rotate.0");
}

:host {
  @apply relative
    flex
    flex-col
    no-underline;
  color: var(--calcite-accordion-item-text-color, var(--calcite-color-text-3));
  background-color: var(
    --calcite-accordion-item-background-color,
    var(--calcite-internal-accordion-item-background-color, theme("backgroundColor.foreground.1"))
  );
}

.actions-start,
.actions-end {
  @apply flex items-center;
}

.heading,
.description {
  @apply flex w-full;
}

.content,
.header {
  border-block-end-width: var(--calcite-border-width-sm);
  border-block-end-style: solid;
  border-block-end-color: var(
    --calcite-accordion-item-border-color,
    var(--calcite-internal-accordion-item-border-color, theme("borderColor.color.2"))
  );
}

.content {
  @apply hidden pt-0;

  padding: var(--calcite-internal-accordion-item-padding);
  text-align: initial;
}

// accordion item icon
.expand-icon {
  color: var(--calcite-accordion-item-text-color, var(--calcite-color-text-3));
  margin-inline-start: var(--calcite-internal-accordion-item-icon-spacing-start);
  margin-inline-end: var(--calcite-internal-accordion-item-icon-spacing-end);
  transform: rotate(
    var(--calcite-internal-accordion-item-expand-icon-rotation, var(--calcite-internal-accordion-item-icon-rotation))
  );
}

.header {
  @apply flex items-stretch;

  * {
    @apply inline-flex
      items-center
      duration-150
      ease-in-out;
    @include word-break();
  }
}

.header-container {
  inline-size: 100%;
}

.header-content {
  @apply focus-base flex-grow cursor-pointer;
  padding: var(--calcite-internal-accordion-item-padding);
  flex-direction: var(--calcite-internal-accordion-item-flex-direction);
}

.header-text {
  @apply my-0 flex-grow flex-col py-0;
  text-align: initial;
  margin-inline-end: theme("margin.auto");
}

.heading,
.icon--start,
.icon--end {
  color: var(--calcite-accordion-item-heading-text-color, var(--calcite-color-text-2));
}

.heading {
  @apply font-medium;
}

.icon--start,
.icon--end {
  @apply relative
    m-0
    flex
    items-center
    duration-150
    ease-in-out;
  margin-inline-end: var(--calcite-internal-accordion-item-icon-spacing-start);
  margin-inline-start: var(--calcite-internal-accordion-item-icon-spacing-end);
}

// icon position variants for child
.icon-position--start {
  @extend %icon-position;
  --calcite-internal-accordion-item-flex-direction: row-reverse;
  --calcite-internal-accordion-item-icon-spacing-start: 0;
  --calcite-internal-accordion-item-icon-spacing-end: var(--calcite-accordion-icon-margin);
}

.icon-position--end {
  @extend %icon-position;
  --calcite-internal-accordion-item-flex-direction: row;
  --calcite-internal-accordion-item-icon-spacing-start: var(--calcite-accordion-icon-margin);
  --calcite-internal-accordion-item-icon-spacing-end: 0;
}

.icon-position--end:not(.icon-type--plus-minus) {
  --calcite-internal-accordion-item-icon-rotation: theme("rotate.0");
  --calcite-internal-accordion-item-icon-rotation-active: theme("rotate.180");
  --calcite-internal-accordion-item-icon-rtl-rotation: theme("rotate.0");
  --calcite-internal-accordion-item-icon-rtl-rotation-active: calc(theme("rotate.180") * -1);
}

.calcite--rtl {
  --calcite-internal-accordion-item-expand-icon-rotation: var(--calcite-internal-accordion-item-icon-rtl-rotation);
}

:host(:hover),
:host(:focus),
:host(:active),
:host([expanded]) {
  color: var(--calcite-accordion-item-text-color-highlighted, var(--calcite-color-text-2));

  .heading,
  .icon {
    color: var(--calcite-accordion-item-heading-text-color-highlighted, var(--calcite-color-text-1));
  }
}

:host([expanded]) {
  --calcite-internal-accordion-item-expand-icon-rotation: var(--calcite-internal-accordion-item-icon-rotation-active);

  .content {
    @apply block;
  }

  .header {
    border-block-end-color: transparent;
  }

  .calcite--rtl {
    --calcite-internal-accordion-item-expand-icon-rotation: var(
      --calcite-internal-accordion-item-icon-rtl-rotation-active
    );
  }
}

:host(:focus) .header-content {
  @apply focus-inset
    outline-none;
}

@media (forced-colors: active) {
  :host([expanded]) {
    & .header {
      border-block-end: none;
    }
    & .heading {
      /** give visual indicator of expanded state since subtle color changes can't be done **/
      font-weight: bolder;
    }
  }
  :host(:hover),
  :host(:focus) {
    & .heading {
      /** give visual indicator of expandability/click-ability since subtle color changes can't be done **/
      text-decoration: underline;
    }
  }
}

@include base-component();
