@include base-component();
@include disabled();

:host {
  @apply flex;
  --calcite-meter-space-internal: theme("spacing[0.5]");
  --calcite-meter-height-internal: theme("spacing.4");
  --calcite-meter-font-size-internal: var(--calcite-font-size--1);
}

:host([scale="s"]) {
  --calcite-meter-height-internal: theme("spacing.3");
  --calcite-meter-font-size-internal: var(--calcite-font-size--2);
}

:host([scale="l"]) {
  --calcite-meter-height-internal: theme("spacing.6");
  --calcite-meter-font-size-internal: var(--calcite-font-size-0);
}

.container {
  @apply flex relative items-center w-full m-0;
  block-size: var(--calcite-meter-height-internal);
  background-color: var(--calcite-color-foreground-2);
  border: 1px solid var(--calcite-color-border-3);
  border-radius: var(--calcite-meter-height-internal);
}

.solid {
  border: 1px solid var(--calcite-color-foreground-3);
  background-color: var(--calcite-color-foreground-3);
}

.outline {
  @apply bg-transparent;
}

.value-visible {
  margin-block-start: theme("spacing.6");
}

.steps-visible {
  margin-block-end: theme("spacing.6");
}

.step-line {
  @apply block absolute inset-y-0;
  inline-size: var(--calcite-meter-space-internal);
  background-color: var(--calcite-color-border-3);
}

.label {
  @apply absolute;
  font-size: var(--calcite-meter-font-size-internal);
}

.label-hidden {
  @apply invisible opacity-0;
}

.label-value {
  inset-block-end: calc(100% + 0.5em);
  font-weight: var(--calcite-font-weight-bold);
  color: var(--calcite-color-text-1);
}

.label-range {
  @apply text-color-3;
  inset-block-start: calc(100% + 0.5em);
}

.unit-label {
  @apply text-color-3 font-medium;
}

.label-value .unit-label {
  @apply text-color-2 font-bold;
}

.fill {
  @apply block absolute duration-150 ease-in-out bg-brand z-default;
  inset-inline-start: var(--calcite-meter-space-internal);
  inset-block: var(--calcite-meter-space-internal);
  border-radius: var(--calcite-meter-height-internal);
  max-inline-size: calc(100% - (var(--calcite-meter-space-internal) * 2));
  min-inline-size: calc(var(--calcite-meter-height-internal) - (var(--calcite-meter-space-internal) * 2));
  transition-property: inline-size, background-color, box-shadow;
}

.fill-danger {
  background-color: var(--calcite-color-status-danger);
}

.fill-success {
  background-color: var(--calcite-color-status-success);
}

.fill-warning {
  background-color: var(--calcite-color-status-warning);
}

.solid .fill {
  inset-block: 0;
  inset-inline-start: 0;
  max-inline-size: 100%;
  min-inline-size: calc(var(--calcite-meter-height-internal));
  box-shadow: 0 0 0 1px var(--calcite-color-brand);
}

.solid .fill-danger {
  box-shadow: 0 0 0 1px var(--calcite-color-status-danger);
}

.solid .fill-success {
  box-shadow: 0 0 0 1px var(--calcite-color-status-success);
}

.solid .fill-warning {
  box-shadow: 0 0 0 1px var(--calcite-color-status-warning);
}
