:host,
:host ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

// indentation on children
:host .combobox-item-label.combobox-item-nested {
  padding-left: $baseline * 3;
}

:host .combobox-item-label {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-width: 100%;
  align-items: center;
  color: var(--calcite-ui-text-3);
  transition: $transition;
  padding: var(--calcite-combobox-item-padding);
  cursor: pointer;
  text-decoration: none;
  outline: none;
  position: relative;
  & .combobox-item-icon {
    display: inline-flex;
    opacity: 0;
    margin-right: $baseline;
    transition: $transition;
  }
}

:host([dir="rtl"]) .combobox-item-label .combobox-item-icon {
  margin-left: $baseline;
  margin-right: initial;
}

:host .combobox-item-label:hover,
:host(:focus) .combobox-item-label,
:host .combobox-item-label:active {
  background-color: var(--calcite-ui-foreground-hover);
  color: var(--calcite-ui-text-1);
  text-decoration: none;
  box-shadow: none;
  & .combobox-item-icon {
    color: var(--calcite-ui-text-1);
    opacity: 1;
  }
}

:host .combobox-item-label:active {
  background-color: var(--calcite-ui-foreground-press);
}

:host(:focus) {
  box-shadow: none;
  outline: none;
}

// selected state
:host .combobox-item-label.selected {
  color: var(--calcite-ui-text-1);
  font-weight: 500;

  & .combobox-item-icon {
    color: var(--calcite-ui-blue);
    opacity: 1;
  }
}
