/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-date-picker-month-header-background-color: Specifies the background color of component.
 * @prop --calcite-date-picker-month-header-navigation-button-background-color-active: Specifies the background color of navigation button of component when active.
 * @prop --calcite-date-picker-month-header-navigation-button-background-color-hover: Specifies the background color of navigation button of component when hovered.
 * @prop --calcite-date-picker-month-header-navigation-button-background-color: Specifies the background color of navigation button of component.
 * @prop --calcite-date-picker-month-header-navigation-button-text-color-hover: Specifies the text of navigation button of component when hovered.
 * @prop --calcite-date-picker-month-header-navigation-button-text-color: Specifies the text of navigation button of component.
 * @prop --calcite-date-picker-month-header-text-color: Specifies the text color of component.
 *
*/

:host {
  @apply block;
}

.header {
  @apply flex justify-between;
  @apply py-0 px-1;
}

:host([scale="s"]) {
  .text {
    @apply my-2;
    font-size: var(--calcite-font-size);
    line-height: var(--calcite-font-line-height-fixed-base);
  }
  .chevron {
    @apply h-9;
  }
}

:host([scale="m"]) {
  .text {
    @apply my-3;
    font-size: var(--calcite-font-size-md);
    line-height: var(--calcite-font-line-height-fixed-lg);
  }
  .chevron {
    @apply h-12;
  }
}

:host([scale="l"]) {
  .text {
    @apply my-4;
    font-size: var(--calcite-font-size-lg);
    line-height: var(--calcite-font-line-height-fixed-xl);
  }
  .chevron {
    block-size: 3.5rem;
  }
}

.chevron {
  @apply focus-base
    -mx-1
    box-content
    flex
    flex-grow-0
    cursor-pointer
    items-center
    justify-center
    border-none
    px-1
    outline-none
    transition-default;
  background-color: var(
    --calcite-date-picker-month-header-navigation-button-background-color,
    var(--calcite-color-foreground-1)
  );
  color: var(--calcite-date-picker-month-header-navigation-button-text-color, var(--calcite-color-text-3));
  inline-size: calc(100% / 7);

  &:focus {
    @apply focus-inset;
  }

  &:hover,
  &:focus {
    background-color: var(
      --calcite-date-picker-month-header-navigation-button-background-color-hover,
      var(--calcite-color-foreground-2)
    );
    color: var(--calcite-date-picker-month-header-navigation-button-text-color-hover, var(--calcite-color-text-1));
    fill: var(--calcite-color-text-1);
  }

  &:active {
    background-color: var(
      --calcite-date-picker-month-header-navigation-button-background-color-active,
      var(--calcite-color-foreground-3)
    );
  }

  &[aria-disabled="true"] {
    @apply pointer-events-none opacity-0;
  }
}

.text {
  @apply my-auto
    w-full
    flex
    flex-auto
    items-center
    justify-center
    text-center
    leading-none;
  background-color: var(--calcite-date-picker-month-header-background-color, var(--calcite-color-foreground-1));
}

.text--reverse {
  @apply flex-row-reverse;
}

.month,
.year,
.suffix {
  @apply mx-1
    my-auto
    inline-block
    leading-tight;
  font-size: inherit;
  color: var(--calcite-date-picker-month-header-text-color, var(--calcite-color-text-1));
  font-weight: var(--calcite-font-weight-medium);
}

.year {
  @apply font-inherit
    focus-base
    relative
    w-10
    border-none
    bg-transparent
    text-center;
  &:hover {
    @apply duration-100 ease-in-out;
    transition-property: outline-color;
    outline: 2px solid var(--calcite-color-border-2);
    outline-offset: 2px;
  }
  &:focus {
    @apply focus-outset;
  }
}

.year--suffix {
  @apply text-left;
}

.year-wrap {
  @apply relative;
}

.suffix {
  @apply top-0
    whitespace-nowrap
    text-start;
  inset-inline-start: 0;
}

@include base-component();
