:host {
  @apply block;
  --calcite-select-internal-border-width: 0;
  --calcite-select-internal-icon-border-inline-end-width: 0;
  --calcite-select-font-weight: var(--calcite-font-weight-medium);
  --calcite-select-text-color: var(--calcite-color-text-1);
}

.header {
  @apply flex justify-between items-center h-full;
}

.chevron-container {
  @apply flex items-center;
}

:host([scale="s"]) {
  @apply m-1.5;
  block-size: #{$calcite-size-24};
  margin-inline-start: 0.5rem;

  .chevron-container,
  .chevron {
    min-inline-size: #{$calcite-size-24};
    block-size: #{$calcite-size-24};
  }
}

:host([scale="m"]) {
  @apply m-2;
  block-size: #{$calcite-size-32};
  margin-inline-start: 0.625rem;

  .chevron-container,
  .chevron {
    min-inline-size: #{$calcite-size-32};
    block-size: #{$calcite-size-32};
    --calcite-internal-action-padding-block: 0.25rem;
  }
}

:host([scale="l"]) {
  @apply m-1.5;
  block-size: #{$calcite-size-44};
  margin-inline-start: 0.5rem;

  .chevron-container,
  .chevron {
    min-inline-size: #{$calcite-size-44};
    block-size: #{$calcite-size-44};
    --calcite-internal-action-padding-block: 0.625rem;
  }
}

.chevron {
  @apply text-color-3
    bg-foreground-1
    focus-base
    box-content
    flex
    flex-grow-0
    cursor-pointer
    items-center
    justify-center
    border-none
    outline-none
    transition-default 
    w-full 
    h-full;
  --calcite-internal-action-padding-block: 0;
  &:focus {
    @apply focus-inset;
  }

  &:hover,
  &:focus {
    @apply text-color-1 bg-foreground-2 fill-color-1;
  }

  &:active {
    @apply bg-foreground-3;
  }
  &[aria-disabled="true"] {
    @apply pointer-events-none;
  }
}

.month-year-container {
  @apply w-full h-full
    flex
    flex-auto
    items-center
    justify-start
    text-center
    leading-none;
  gap: 0.25rem;

  &.range-calendar {
    @apply justify-center;
  }
}

.month-year-container--reverse {
  @apply flex-row-reverse;
}

.month-year-container {
  .month-select,
  .year-select {
    --calcite-select-spacing-inline: 0.25rem;
    --calcite-internal-select-spacing-block: 0.25rem;
    --calcite-internal-select-icon-container-padding-inline: 0.25rem;
    --calcite-select-font-size: var(--calcite-font-size-md);
    --calcite-select-line-height: var(--calcite-font-line-height-fixed-lg);
  }
}

:host([scale="s"]) .month-year-container {
  .month-select,
  .year-select {
    --calcite-select-spacing-inline: 0.125rem;
    --calcite-internal-select-spacing-block: 0.125rem;
    --calcite-internal-select-icon-container-padding-inline: 0.125rem;
    --calcite-internal-select-block-size: 1.5rem;
    --calcite-select-font-size: var(--calcite-font-size);
    --calcite-select-line-height: var(--calcite-font-line-height-fixed-base);
  }
}

:host([scale="l"]) .month-year-container {
  .month-select,
  .year-select {
    --calcite-select-spacing-inline: 0.5rem;
    --calcite-internal-select-spacing-block: 0.5rem;
    --calcite-internal-select-icon-container-padding-inline: 0.5rem;
    --calcite-internal-select-block-size: 2.75rem;
    --calcite-select-font-size: var(--calcite-font-size-lg);
    --calcite-select-line-height: var(--calcite-font-line-height-fixed-xl);
  }
}

@include base-component();
