/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-tabs-background-color: The background color of the component.
 * @prop --calcite-tabs-border-color: The border color of the component.
 * @prop --calcite-tab-accent-color-hover: Specifies the component's accent color when hovered.
 * @prop --calcite-tab-accent-color-selected: Specifies the component's accent color when selected.
 * @prop --calcite-tab-background-color-hover: Specifies the component's background color when hovered.
 * @prop --calcite-tab-background-color: Specifies the component's background color.
 * @prop --calcite-tab-content-space-y: Specifies the block padding of the component's content.
 * @prop --calcite-tab-item-end-icon-color: Specifies the component's `iconEnd` color. Fallback to `--calcite-tab-icon-color` or current color.
 * @prop --calcite-tab-icon-color: Specifies the component's icon color.
 * @prop --calcite-tab-item-start-icon-color: Specifies the component's `iconStart` color. Fallback to `--calcite-tab-icon-color` or current color.
 * @prop --calcite-tab-text-color-selected: Specifies the component's text color when selected.
 * @prop --calcite-tab-text-color: Specifies the component's text color.
 */

/* TODO: move tab-specific props below to allow overrides */
/* TODO: nav buttons (leverage tab props, apply internal overrides to share same props if possible (e.g., focus/active/press can share tab props) */

:host {
  @apply flex flex-col;

  --calcite-internal-tabs-border-color: var(--calcite-tabs-border-color, var(--calcite-color-border-1));
  --calcite-internal-tabs-background-color: var(--calcite-tabs-background-color, var(--calcite-color-foreground-1));
  --calcite-internal-tab-accent-color-hover: var(--calcite-tab-accent-color-hover, var(--calcite-color-border-3));
  --calcite-internal-tab-accent-color-selected: var(--calcite-tab-accent-color-selected, var(--calcite-color-brand));
  /* TODO: need tab-background-color? */
  --calcite-internal-tab-background-color-hover: var(
    --calcite-tab-background-color-hover,
    var(--calcite-color-foreground-2)
  );
}

:host([bordered]) {
  box-shadow: inset 0 1px 0 var(--calcite-internal-tabs-border-color);
  background-color: var(--calcite-internal-tabs-background-color);

  section {
    border-color: var(--calcite-internal-tabs-border-color);
    border-style: solid;
  }
}

section {
  @apply border flex flex-grow overflow-hidden;

  border-block-start-style: solid;
}

:host([bordered][position="bottom"]) {
  box-shadow:
    inset 0 1px 0 var(--calcite-internal-tabs-border-color),
    inset 0 -1px 0 var(--calcite-internal-tabs-border-color);
}

/* TODO: double check tabs styles align with latest from dev */
:host([bordered]:not([position="bottom"])) ::slotted(calcite-tab-nav) {
  margin-block-end: -1px;
}

:host([position="bottom"]) {
  @apply flex-col-reverse;

  section {
    @apply flex-col-reverse
      border-t-0
      border-b;
  }
}

:host([bordered][scale="s"]) section {
  @apply p-3;
}

:host([bordered][scale="m"]) section {
  @apply p-2;
}

:host([bordered][scale="l"]) section {
  @apply p-4;
}

:host([position="bottom"]:not([bordered])) section {
  border-block-end-style: solid;
  border-block-end-color: var(--calcite-internal-tabs-border-color);
}

@media (forced-colors: active) {
  :host([bordered]) section {
    @apply border-t-0
      border-b;
  }
  :host([position="bottom"][bordered]) section {
    @apply border-t
      border-b-0;
  }
}

@include base-component();
