$thumb-size: 28px;
$handle-size: 14px;
$thumb-padding: ($thumb-size - $handle-size) / 2;
$track-height: 2px;
$tick-height: 4px;

:host {
  display: block;
  padding: $handle-size / 2 0;
  margin: $handle-size / 2 0;
  position: relative;
}

:host([disabled]) {
  opacity: 0.5;
  pointer-events: none;
}

/*
 * Ensure we have enough space on variants
 * with text elements to prevent overlap
 */
:host([label-handles]),
:host([precise]) {
  margin-top: $handle-size + $thumb-padding;
}

:host([label-ticks]),
:host([precise][is-range]) {
  margin-bottom: $handle-size + $thumb-padding;
}

:host([precise][label-handles]) {
  margin-top: $thumb-size + $thumb-padding;
}

:host([precise][label-handles][is-range]) {
  margin-bottom: $thumb-size + $thumb-padding;
}

.slider__thumb {
  position: absolute;
  height: $thumb-size;
  width: $thumb-size;
  margin: -$thumb-size / 2;
  box-sizing: border-box;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
  z-index: 3;
}

.slider__handle {
  position: absolute;
  top: 0;
  left: 0;
  height: $handle-size;
  width: $handle-size;
  margin: $thumb-padding;
  box-sizing: border-box;
  border-radius: 100%;
  background-color: var(--calcite-ui-foreground);
  border: 2px solid var(--calcite-ui-text-3);
  transition: border 0.25s ease, background-color 0.25s ease,
    box-shadow 0.25s ease;
}

.slider__handle__label {
  position: absolute;
  left: 0;
  bottom: $thumb-size;
  width: $thumb-size;
  height: 0.75em;
  @include font-size(-3);
  font-weight: 500;
  line-height: 1;
  color: var(--calcite-ui-text-3);
  text-align: center;
}

.slider__thumb:hover .slider__handle {
  border-width: 3px;
  border-color: var(--calcite-ui-blue);
  @include shadow(1, "hover");
}

.slider__thumb:focus,
.slider__thumb--active {
  outline: none;
  z-index: 4;
  .slider__handle {
    background-color: var(--calcite-ui-blue);
    border-color: var(--calcite-ui-blue);
    @include shadow(1, "press");
  }
}

.slider__thumb--precise {
  margin-top: -$thumb-size;
}

.slider__thumb--precise:after {
  content: "";
  display: block;
  position: absolute;
  top: $handle-size;
  left: 50%;
  width: 2px;
  height: $thumb-padding;
  background-color: var(--calcite-ui-text-3);
  margin-left: -1px;
  margin-top: $thumb-padding;
  z-index: 2;
}

.slider__thumb:hover.slider__thumb--precise:after,
.slider__thumb:focus.slider__thumb--precise:after,
.slider__thumb--active.slider__thumb--precise:after {
  background-color: var(--calcite-ui-blue);
}

.slider__thumb--precise.slider__thumb--min {
  margin-top: -$track-height;
  .slider__handle__label {
    bottom: unset;
    top: $thumb-size;
  }
}

.slider__thumb--precise.slider__thumb--min:after {
  top: 0;
  margin-top: 0;
}

.slider__track {
  height: $track-height;
  border-radius: 0;
  z-index: 2;
  background-color: var(--calcite-ui-border-2);
  transition: all 250ms ease-in;
  position: relative;
}

.slider__track__range {
  position: absolute;
  top: 0;
  height: $track-height;
  background-color: var(--calcite-ui-blue);
}

.slider__tick {
  position: absolute;
  top: -$tick-height / 2;
  width: 2px;
  height: $tick-height;
  left: var(--calcite-ui-border-1-offset);
  margin-left: -3px;
  border: 1px solid var(--calcite-ui-foreground);
  border-right-width: 2px;
  border-left-width: 2px;
  background-color: var(--calcite-ui-border-1);
}

.slider__tick--active {
  background-color: var(--calcite-ui-blue);
}

.slider__tick__label {
  position: absolute;
  @include font-size(-3);
  font-weight: 500;
  color: var(--calcite-ui-text-3);
  width: 4em;
  margin: $thumb-size / 2 -2em;
  text-align: center;
  display: block;
  pointer-events: none;
}

.slider__tick__label--min {
  left: 0;
  margin: $thumb-size / 2 -3px;
  text-align: left;
}

.slider__tick__label--max {
  left: unset;
  right: 0;
  margin: $thumb-size / 2 -3px;
  text-align: right;
}
