// ie11 fix
:host-context([theme="dark"]) {
  @include calcite-theme-dark();
}

$thumb-size: 28px;
$handle-size: 14px;
$thumb-padding: ($thumb-size - $handle-size) / 2;
$track-height: 2px;
$tick-height: 4px;

:host {
  display: block;
  padding: $handle-size / 2 0;
  margin: $handle-size / 2 0;
  position: relative;
}

:host([disabled]) {
  opacity: 0.5;
  pointer-events: none;
}

/*
 * Ensure we have enough space on variants
 * with text elements to prevent overlap
 */
:host([label-handles]),
:host([precise]) {
  margin-top: $handle-size + $thumb-padding;
}

:host([label-ticks]),
:host([precise][is-range]) {
  margin-bottom: $handle-size + $thumb-padding;
}

:host([precise][label-handles]) {
  margin-top: $thumb-size + $thumb-padding;
}

:host([precise][label-handles][is-range]) {
  margin-bottom: $thumb-size + $thumb-padding;
}

.thumb {
  position: absolute;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
  z-index: 2;
  outline: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(7px, -8px);

  .handle__label {
    transition: transform 150ms;
    @include font-size(-3);
    font-weight: 500;
    line-height: 1;
    color: var(--calcite-ui-text-3);
    margin-bottom: 5px;
    &.copy {
      opacity: 0;
      position: absolute;
      top: 0;
    }
  }

  .handle {
    @include focus-style-base();
    height: $handle-size;
    width: $handle-size;
    box-sizing: border-box;
    border-radius: 100%;
    background-color: var(--calcite-ui-foreground-1);
    box-shadow: 0 0 0 2px var(--calcite-ui-text-3) inset;
    transition: border 0.25s ease, background-color 0.25s ease,
      box-shadow 0.25s ease;
  }

  .handle-extension {
    width: 2px;
    height: $thumb-padding;
    background-color: var(--calcite-ui-text-3);
  }

  &:hover {
    .handle {
      box-shadow: 0 0 0 3px var(--calcite-ui-blue-1) inset;
    }
    .handle-extension {
      background-color: var(--calcite-ui-blue-1);
    }
  }

  &:focus {
    .handle {
      @include focus-style-outset();
      outline-offset: 6px;
    }
    .handle-extension {
      background-color: var(--calcite-ui-blue-1);
    }
  }
}
.thumb--min {
  transform: translate(-7px, -8px);
}
:host([label-handles]) {
  .thumb {
    transform: translate(50%, -26px);
  }
  .thumb--min {
    transform: translate(-50%, -26px);
  }
}
:host([precise]) {
  .thumb {
    transform: translate(7px, -21px);
  }
  .thumb--min {
    transform: translate(-7px, -2px);
    .handle__label {
      margin-bottom: unset;
      margin-top: 5px;
    }
  }
}
:host([precise][ticks]) {
  .thumb {
    transform: translate(7px, -20px);
  }
  .thumb--min {
    transform: translate(-7px, -3px);
  }
}
:host([precise][label-handles]) {
  .thumb {
    transform: translate(50%, -39px);
  }
  .thumb--min {
    transform: translate(-50%, -2px);
  }
}
:host([precise][ticks][label-handles]) {
  .thumb {
    transform: translate(50%, -38px);
  }
  .thumb--min {
    transform: translate(-50%, -3px);
  }
}

.thumb:focus,
.thumb--active {
  z-index: 3;
  .handle {
    background-color: var(--calcite-ui-blue-1);
    @include shadow(1, "press");
  }
}

.thumb:hover.thumb--precise:after,
.thumb:focus.thumb--precise:after,
.thumb--active.thumb--precise:after {
  background-color: var(--calcite-ui-blue-1);
}

.track {
  height: $track-height;
  border-radius: 0;
  z-index: 1;
  background-color: var(--calcite-ui-border-2);
  transition: all 250ms ease-in;
  position: relative;
}

.track__range {
  position: absolute;
  top: 0;
  height: $track-height;
  background-color: var(--calcite-ui-blue-1);
}
:host([is-range]) {
  .track__range {
    &:hover {
      cursor: ew-resize;
    }
    &:after {
      content: "";
      position: absolute;
      top: -5px;
      width: 100%;
      height: 14px;
    }
  }
}

.tick {
  position: absolute;
  top: -$tick-height / 2;
  width: 2px;
  height: $tick-height;
  left: var(--calcite-ui-border-1-offset);
  margin-left: -3px;
  border: 1px solid var(--calcite-ui-foreground-1);
  border-right-width: 2px;
  border-left-width: 2px;
  background-color: var(--calcite-ui-border-1);
}

.tick--active {
  background-color: var(--calcite-ui-blue-1);
}

.tick__label {
  position: absolute;
  @include font-size(-3);
  font-weight: 500;
  color: var(--calcite-ui-text-3);
  width: 4em;
  margin: $thumb-size / 2 -2em;
  text-align: center;
  display: block;
  pointer-events: none;
}

.tick__label--min {
  left: 0;
  margin: $thumb-size / 2 -3px;
  text-align: left;
  transition: opacity 150ms;
}

.tick__label--max {
  left: unset;
  right: 0;
  margin: $thumb-size / 2 -3px;
  text-align: right;
  transition: opacity 50ms;
}

.graph {
  width: 100%;
  height: 48px;
  position: relative;
  color: var(--calcite-ui-foreground-2);
  svg {
    position: absolute;
    width: 100%;
    height: 48px;
  }
  .graph-path--highlight {
    fill: var(--calcite-ui-blue-1);
    opacity: 0.25;
  }
}
