:host([scale="s"]) .container {
  --calcite-slider-handle-size: 10px;

  .handle__label,
  .tick__label {
    @apply text--3h;
  }

  .handle-extension {
    height: 6.5px;
  }

  .thumb {
    --calcite-slider-thumb-offset: -6px;
  }
}
:host([scale="m"]) .container {
  --calcite-slider-handle-size: 14px;

  .handle__label,
  .tick__label {
    @apply text--2h;
  }

  .handle-extension {
    height: 8px;
  }

  .thumb {
    --calcite-slider-thumb-offset: -8px;
  }
}
:host([scale="l"]) .container {
  --calcite-slider-handle-size: 16px;

  .handle__label,
  .tick__label {
    @apply text--1h;
  }

  .handle-extension {
    height: 10.5px;
  }

  .thumb {
    --calcite-slider-thumb-offset: -9px;
  }
}

.handle__label,
.tick__label {
  @apply font-medium text-color-2;
}

$thumb-size: 28px;
$thumb-padding: calc(calc($thumb-size - var(--calcite-slider-handle-size)) / 2);

@mixin histogramEndcaps() {
  .tick__label--min,
  .tick__label--max {
    margin: 14px -3px 6px;
    @apply font-normal text-color-3;
  }
}

:host {
  @apply block;
  // background-color: #DFEFFA; // Figma artboard background
}

:host(:not([has-histogram])) {
  @apply w-full;
}

.container {
  @apply block relative;
  padding: calc(var(--calcite-slider-handle-size) / 2) 0;
  margin: calc(var(--calcite-slider-handle-size) / 2) theme("margin.2");
}

:host([disabled]) {
  @apply opacity-disabled pointer-events-none;
  .track__range,
  .tick--active {
    background-color: var(--calcite-ui-text-3);
  }
}

:host([precise]:not([has-histogram])) {
  &:host([scale="s"]) {
    .container .thumb--value {
      --calcite-slider-thumb-offset: -17px;
    }
  }
  &:host([scale="m"]) {
    .container .thumb--value {
      --calcite-slider-thumb-offset: -22px;
    }
  }
  &:host([scale="l"]) {
    .container .thumb--value {
      --calcite-slider-thumb-offset: -27px;
    }
  }
}
:host([precise]) .container {
  .thumb {
    --calcite-slider-thumb-offset: -2px;
  }
}

.thumb {
  @apply absolute
    border-none
    bg-transparent
    cursor-pointer
    outline-none
    p-0
    m-0
    flex
    flex-col
    items-center
    font-inherit;
  // z-index: 2;
  transform: translate(7px, var(--calcite-slider-thumb-offset));

  .handle__label {
    &.static,
    &.transformed {
      @apply opacity-0
        absolute
        top-0
        bottom-0;
    }
    &.hyphen::after {
      // TO-DO: create new issue for swapped min/max values on mirrored range
      content: "\2014";
      display: inline-block;
      width: 1em;
    }
  }

  .handle {
    @apply focus-base
      box-border
      rounded-full
      bg-foreground-1;
    height: var(--calcite-slider-handle-size);
    width: var(--calcite-slider-handle-size);
    box-shadow: 0 0 0 2px var(--calcite-ui-text-3) inset;
    transition: border 0.25s ease, background-color 0.25s ease, box-shadow 0.25s ease;
  }

  .handle-extension {
    @apply w-0.5;
    background-color: theme("colors.text.3");
  }

  &:hover {
    .handle {
      box-shadow: 0 0 0 3px var(--calcite-ui-brand) inset;
    }
    .handle-extension {
      @apply bg-brand;
    }
  }

  &:focus {
    .handle {
      @apply focus-outset;
    }
    .handle-extension {
      @apply bg-brand;
    }
  }
}
:host(:not([has-histogram]):not([precise])) {
  .handle__label {
    margin-bottom: 0.5em;
  }
}
.thumb--minValue {
  transform: translate(-7px, var(--calcite-slider-thumb-offset));
}
:host([scale="s"]) {
  .thumb--value {
    transform: translate(5px, var(--calcite-slider-thumb-offset));
  }
  .thumb--minValue {
    transform: translate(-5px, var(--calcite-slider-thumb-offset));
  }
}
:host([scale="l"]) {
  .thumb--value {
    transform: translate(8px, var(--calcite-slider-thumb-offset));
  }
  .thumb--minValue {
    transform: translate(-8px, var(--calcite-slider-thumb-offset));
  }
}
/* uncomment for helpful debugging UI */
// :host([debug]) {
//   &:after {
//     content: "";
//     display: block;
//     width: calc(100% + 14px);
//     height: 50px;
//     position: absolute;
//     top: -16px;
//     left: -7px;
//     background-color: #ccc;
//     opacity: var(--calcite-ui-opacity-disabled);
//   }
//   .handle__label {
//     &.static {
//       background-color: var(--calcite-ui-brand);
//       opacity: var(--calcite-ui-opacity-disabled);
//       color: transparent;
//     }
//     &.transformed:not([style*="translateX(0px)"]),
//     &.transformed:not([style*="margin-left: 0px"]),
//     &.transformed:not([style*="margin-right: 0px"]) {
//       background-color: red;
//       opacity: var(--calcite-ui-opacity-disabled);
//       color: transparent;
//     }
//   }
// }
:host([label-handles]) {
  .thumb {
    transform: translate(50%, -30px);
  }
  .thumb--minValue {
    transform: translate(-50%, -30px);
  }
  &:host([scale="s"]:not([has-histogram])) {
    .thumb {
      transform: translate(50%, -23px);
    }
    .thumb--minValue {
      transform: translate(-50%, -23px);
    }
  }
  &:host([scale="l"]:not([has-histogram])) {
    .thumb {
      transform: translate(50%, -32px);
    }
    .thumb--minValue {
      transform: translate(-50%, -32px);
    }
  }
}
:host([has-histogram][label-handles]) {
  .thumb {
    transform: translate(50%, var(--calcite-slider-thumb-offset));
  }
  .handle__label {
    margin-top: 0.5em;
  }
  .thumb--minValue {
    transform: translate(-50%, var(--calcite-slider-thumb-offset));
  }
}

:host([label-handles][precise]) {
  &:host(:not([has-histogram])[scale="s"]) .thumb--value {
    transform: translate(50%, -34px);
  }
  &:host(:not([has-histogram])[scale="m"]) .thumb--value {
    transform: translate(50%, -44px);
  }
  &:host(:not([has-histogram])[scale="l"]) .thumb--value {
    transform: translate(50%, -50px);
  }
  &:host(:not([has-histogram])) .thumb--minValue {
    transform: translate(-50%, var(--calcite-slider-thumb-offset));
    .handle__label {
      margin-top: 0.5em;
    }
  }
  &:host(:not([has-histogram])) .thumb--value {
    .handle__label {
      margin-bottom: 0.5em;
    }
  }
}

.thumb:focus,
.thumb--active {
  // z-index: 3;
  .handle {
    @apply bg-brand;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 16%); // TO-DO: should this be shadow-1-press in TW config?
  }
}

.thumb:hover.thumb--precise:after,
.thumb:focus.thumb--precise:after,
.thumb--active.thumb--precise:after {
  @apply bg-brand;
}

.track {
  @apply h-0.5 rounded-none relative;
  // z-index: 1;
  background-color: var(--calcite-ui-border-2);
  transition: all 250ms ease-in;
}

.track__range {
  @apply absolute
    top-0
    h-0.5
    bg-brand;
}
.container--range {
  .track__range {
    &:hover {
      cursor: ew-resize;
    }
    &:after {
      content: "";
      position: absolute;
      top: -5px;
      width: 100%;
      height: 14px;
    }
  }
}

.tick {
  @apply absolute
    w-0.5
    h-1
    border
    border-solid;
  background-color: theme("borderColor.color.input");
  border-color: theme("backgroundColor.foreground.1");
  top: -2px;
}
:host(:not([mirrored])) {
  .tick {
    margin-left: -2px;
  }
}
:host([mirrored]) {
  .tick {
    margin-right: -2px;
  }
}

.tick--active {
  background-color: var(--calcite-ui-brand);
}

.tick__label {
  position: absolute;
  width: 4em;
  margin: $thumb-size / 2 -2em;
  text-align: center;
  display: block;
  pointer-events: none;
}

.tick__label--min {
  left: 0;
  margin: $thumb-size / 2 -3px;
  text-align: left;
  transition: opacity 150ms;
}

.tick__label--max {
  left: unset;
  right: 0;
  margin: $thumb-size / 2 -3px;
  text-align: right;
  transition: opacity 50ms;
}

:host([has-histogram][label-handles]) {
  @include histogramEndcaps();
}
:host([has-histogram][precise]) {
  @include histogramEndcaps();
}

.graph {
  color: var(--calcite-ui-foreground-3);
}

:host([mirrored]:not([has-histogram])) {
  .tick__label--min {
    right: 0;
    left: unset;
    text-align: right;
  }

  .tick__label--max {
    right: unset;
    left: 0;
    text-align: left;
  }
}
