:root {
    --calcite-global-ui-blue: #{$h-bb-060};
    --calcite-global-ui-blue-hover: #{$h-bb-050};
    --calcite-global-ui-blue-pressed: #{$h-bb-070};
    --calcite-global-ui-green: #{$h-gg-060};
    --calcite-global-ui-green-hover: #{$h-gg-050};
    --calcite-global-ui-green-pressed: #{$h-gg-070};
    --calcite-global-ui-yellow: #{$h-yy-060};
    --calcite-global-ui-yellow-hover: #{$h-yy-050};
    --calcite-global-ui-yellow-pressed: #{$h-yy-070};
    --calcite-global-ui-red: #{$h-rr-060};
    --calcite-global-ui-red-hover: #{$h-rr-050};
    --calcite-global-ui-red-pressed: #{$h-rr-070};
    --calcite-global-ui-background: #{$blk-005};
    --calcite-global-ui-foreground: #{$blk-000};
    --calcite-global-ui-foreground-hover: #{$blk-010};
    --calcite-global-ui-foreground-pressed: #{$blk-020};
    --calcite-global-ui-text-1: #{$blk-220};
    --calcite-global-ui-text-2:#{$blk-170};
    --calcite-global-ui-text-3: #{$blk-140};

  }
  
  :host([theme="dark"]) {
    --calcite-global-ui-blue: #{$d-bb-420};
    --calcite-global-ui-blue-hover: #{$d-bb-430};
    --calcite-global-ui-blue-pressed: #{$d-bb-410};
    --calcite-global-ui-green: #{$d-gg-420};
    --calcite-global-ui-green-hover: #{$d-gg-430};
    --calcite-global-ui-green-pressed: #{$d-gg-410};
    --calcite-global-ui-yellow: #{$d-yy-420};
    --calcite-global-ui-yellow-hover: #{$d-yy-430};
    --calcite-global-ui-yellow-pressed: #{$d-yy-410};
    --calcite-global-ui-red: #{$d-rr-420};
    --calcite-global-ui-red-hover: #{$d-rr-430};
    --calcite-global-ui-red-pressed: #{$d-rr-410};
    --calcite-global-ui-background: #{$blk-210};
    --calcite-global-ui-foreground: #{$blk-200};
    --calcite-global-ui-foreground-hover: #{$blk-190};
    --calcite-global-ui-foreground-pressed: #{$blk-180};
    --calcite-global-ui-text-1: #{$blk-000};
    --calcite-global-ui-text-2: #{$blk-060};
    --calcite-global-ui-text-3: #{$blk-090};
  }