:root {
    --calcite-ui-blue-1: #{$ui-blue-1};
    --calcite-ui-blue-2: #{$ui-blue-2};
    --calcite-ui-blue-3: #{$ui-blue-3};
    --calcite-ui-green-1: #{$ui-green-1};
    --calcite-ui-green-2: #{$ui-green-2};
    --calcite-ui-green-3: #{$ui-green-3};
    --calcite-ui-yellow-1: #{$ui-yellow-1};
    --calcite-ui-yellow-2: #{$ui-yellow-2};
    --calcite-ui-yellow-3: #{$ui-yellow-3};
    --calcite-ui-red-1: #{$ui-red-1};
    --calcite-ui-red-2: #{$ui-red-2};
    --calcite-ui-red-3: #{$ui-red-3};
    --calcite-ui-background: #{$ui-background};
    --calcite-ui-foreground-1: #{$ui-foreground-1};
    --calcite-ui-foreground-2: #{$ui-foreground-2};
    --calcite-ui-foreground-3: #{$ui-foreground-3};
    --calcite-ui-text-1: #{$ui-text-1};
    --calcite-ui-text-2: #{$ui-text-2};
    --calcite-ui-text-3: #{$ui-text-3};
    --calcite-ui-border-1: #{$ui-border-1};
    --calcite-ui-border-2: #{$ui-border-2};
    --calcite-ui-border-3: #{$ui-border-3};
    --calcite-ui-border-4: #{$ui-border-4};
    --calcite-ui-border-5: #{$ui-border-5};

  }
  
  :host([theme="dark"]) {
    --calcite-ui-blue-1: #{$ui-blue-1-dark};
    --calcite-ui-blue-2: #{$ui-blue-2-dark};
    --calcite-ui-blue-3: #{$ui-blue-3-dark};
    --calcite-ui-green-1: #{$ui-green-1-dark};
    --calcite-ui-green-2: #{$ui-green-2-dark};
    --calcite-ui-green-3: #{$ui-green-3-dark};
    --calcite-ui-yellow-1: #{$ui-yellow-1-dark};
    --calcite-ui-yellow-2: #{$ui-yellow-2-dark};
    --calcite-ui-yellow-3: #{$ui-yellow-3-dark};
    --calcite-ui-red-1: #{$ui-red-1-dark};
    --calcite-ui-red-2: #{$ui-red-2-dark};
    --calcite-ui-red-3: #{$ui-red-3-dark};
    --calcite-ui-background: #{$ui-background-dark};
    --calcite-ui-foreground-1: #{$ui-foreground-1-dark};
    --calcite-ui-foreground-2: #{$ui-foreground-2-dark};
    --calcite-ui-foreground-3: #{$ui-foreground-3-dark};
    --calcite-ui-text-1: #{$ui-text-1-dark};
    --calcite-ui-text-2: #{$ui-text-2-dark};
    --calcite-ui-text-3: #{$ui-text-3-dark};
    --calcite-ui-border-1: #{$ui-border-1-dark};
    --calcite-ui-border-2: #{$ui-border-2-dark};
    --calcite-ui-border-3: #{$ui-border-3-dark};
    --calcite-ui-border-4: #{$ui-border-4-dark};
    --calcite-ui-border-5: #{$ui-border-5-dark};
  }