// place on the element that receives focus style, not in focus
@mixin focus-style-base() {
  outline-offset: 0;
  outline-color: transparent;
}

// place on the element that receives focus style, while in focus
@mixin focus-style-outset() {
  outline: 0.125rem solid var(--calcite-ui-brand);
  outline-offset: 0.125rem;
}

@mixin focus-style-inset($color) {
  outline: 0.125rem solid $color;
  outline-offset: -0.125rem;
}

/**
* Currently only used in Checkbox.
*/
@mixin focus-box-shadow($base-shadow: null) {
  @if $base-shadow {
    box-shadow: $base-shadow, 0 0 0 0.125rem var(--calcite-ui-foreground-1), 0 0 0 0.25rem var(--calcite-ui-brand);
  } @else {
    box-shadow: 0 0 0 0.125rem var(--calcite-ui-foreground-1), 0 0 0 0.25rem var(--calcite-ui-brand);
  }
}
