/* Shared styles for header elements */
.header {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--calcite-ui-text-2);
  fill: var(--calcite-ui-text-2);
}

.heading {
  padding: 0;
  margin: 0;
  font-weight: var(--calcite-font-weight-medium);
  line-height: 1.5;
}

.header .heading {
  flex: 1 0 auto;
  padding: var(--calcite-spacing-half) var(--calcite-spacing-half);
}

h1.heading {
  font-size: theme("fontSize.2");
}

h2.heading {
  font-size: theme("fontSize.1");
}

h3.heading {
  font-size: theme("fontSize.0");
}
h4.heading,
h5.heading {
  font-size: theme("fontSize.-1");
}
