/* Shared styles for header elements */
.header {
  @apply m-0 flex items-center justify-between text-color-2 fill-color-2;
}

.heading {
  @apply p-0 m-0 font-medium leading-normal;
}

.header .heading {
  @apply p-2;
  flex: 1 0 auto;
}

h1.heading {
  font-size: theme("fontSize.2h");
}

h2.heading {
  font-size: theme("fontSize.1h");
}

h3.heading {
  font-size: theme("fontSize.0h");
}
h4.heading,
h5.heading {
  font-size: theme("fontSize.-1h");
}
