@mixin componentLayoutVars() {
  /* Component layout variables */
  --calcite-spacing: 1rem;

  --calcite-spacing-three-quarters: calc(var(--calcite-spacing) * 3 / 4);

  --calcite-spacing-half: calc(var(--calcite-spacing) / 2);

  --calcite-spacing-third: calc(var(--calcite-spacing) / 3);

  --calcite-spacing-quarter: calc(var(--calcite-spacing) / 4);

  --calcite-spacing-eighth: calc(var(--calcite-spacing) / 8);

  --calcite-spacing-plus-quarter: calc(var(--calcite-spacing) * 1.25);

  --calcite-spacing-plus-half: calc(var(--calcite-spacing) * 1.5);

  --calcite-spacing-double: calc(var(--calcite-spacing) * 2);

  --calcite-menu-min-width: 10rem;

  --calcite-header-min-height: calc(var(--calcite-spacing) * 3);
  --calcite-footer-min-height: calc(var(--calcite-spacing) * 3);
}
