@mixin componentShadowVars() {
  /* Component shadow variables */
  --calcite-shadow-0: theme("boxShadow.default");
  --calcite-shadow-1: theme("boxShadow.default");
  --calcite-shadow-1-hover: theme("boxShadow.md");
  --calcite-shadow-1-press: theme("boxShadow.default");
  --calcite-shadow-2: theme("boxShadow.md");
  --calcite-shadow-2-hover: theme("boxShadow.lg");
  --calcite-shadow-2-press: theme("boxShadow.default");
  --calcite-shadow-3: theme("boxShadow.lg");
  --calcite-shadow-3-hover: theme("boxShadow.xl");
  --calcite-shadow-3-press: theme("boxShadow.md");
}
