@import "./node_modules/@esri/calcite-colors/dist/colors.scss";
@import "./node_modules/@esri/calcite-base/dist/_index.scss";

/* mixins & extensions */
@import "animation";
@import "focus";
@import "host";
@import "spacing";
@import "popper";

@mixin slotted($selector, $tag, $scope: "") {
  #{$scope} slot[name="#{$selector}"]::slotted(#{$tag}),
  #{$scope} #{$tag}::slotted([slot="#{$selector}"]) {
    @content;
  }
}

:host([hidden]) {
  display: none;
}

@mixin word-break() {
  word-wrap: break-word;
  word-break: break-word;
}

// mixin to hide inputs from form-associated components
@mixin hidden-form-input() {
  ::slotted(input[slot="hidden-form-input"]) {
    bottom: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    opacity: 0 !important;
    outline: none !important;
    padding: 0 !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    transform: none !important;
    -webkit-appearance: none !important;
    z-index: -1 !important;
  }
}
