@import "./node_modules/@esri/calcite-colors/colors.scss";
@import "./node_modules/@esri/calcite-base/dist/_index.scss";

/* mixins & extensions */
@import "animation";
@import "focus";
@import "host";
@import "popper";
@import "shadowBorder";

@mixin slotted($selector, $tag, $scope: "") {
  #{$scope} slot[name="#{$selector}"]::slotted(#{$tag}),
  #{$scope} #{$tag}::slotted([slot="#{$selector}"]) {
    @content;
  }
}

:host([hidden]) {
  display: none;
}

@mixin word-break() {
  word-wrap: break-word;
  word-break: break-word;
}
