@import "./node_modules/@esri/calcite-colors/colors.scss";
@import "./node_modules/@esri/calcite-base/dist/_index.scss";

body {
  font-family: $avenir-family;
}

.overflow-hidden {
  overflow: hidden;
}

calcite-tabs {
  display: none;
}

calcite-tabs[is-active] {
  display: block;
}
