:host([scale="s"]) {
  --calcite-stepper-item-spacing-unit-s: #{$baseline/8};
  --calcite-stepper-item-spacing-unit-m: #{$baseline/4};
  --calcite-stepper-item-spacing-unit-l: #{$baseline/2};
  @include font-size(-2);
}

:host([scale="m"]) {
  --calcite-stepper-item-spacing-unit-s: #{$baseline/6};
  --calcite-stepper-item-spacing-unit-m: #{$baseline/3};
  --calcite-stepper-item-spacing-unit-l: #{$baseline/1.5};
  @include font-size(-1);
}

:host([scale="l"]) {
  --calcite-stepper-item-spacing-unit-s: #{$baseline/4};
  --calcite-stepper-item-spacing-unit-m: #{$baseline/2};
  --calcite-stepper-item-spacing-unit-l: #{$baseline};
  @include font-size(0);
}

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: var(--calcite-ui-text-3);
  transition: $transition;
  text-decoration: none;
  outline: none;
  position: relative;
  border-top: 3px solid var(--calcite-ui-border-3);
  cursor: pointer;
  margin-right: var(--calcite-stepper-item-spacing-unit-l);
}

:host([dir="rtl"]) {
  margin-left: var(--calcite-stepper-item-spacing-unit-l);
  margin-right: 0;
}

// focus styles
:host {
  @include focus-style-base();
}
:host(:focus) {
  @include focus-style-outset();
}

// .stepper-item-header / content
:host .stepper-item-header {
  display: flex;
  flex-direction: var(--calcite-stepper-item-flex-direction);
  align-items: flex-start;
  cursor: pointer;
}

:host .stepper-item-content,
:host .stepper-item-header {
  padding: var(--calcite-stepper-item-spacing-unit-l) var(--calcite-stepper-item-spacing-unit-m);
  padding-left: 0;
  transition: $transition;
  text-align: left;
}

:host([dir="rtl"]) .stepper-item-content,
:host([dir="rtl"]) .stepper-item-header {
  padding-left: initial;
  padding-right: 0;
  text-align: right;
}

:host .stepper-item-header * {
  display: inline-flex;
  align-items: center;
  transition: $transition;
}

:host .stepper-item-content {
  flex-direction: column;
  width: 100%;
  display: none;
}

// stepper item icon
//todo rtl
:host .stepper-item-icon {
  margin-right: var(--calcite-stepper-item-spacing-unit-l);
  margin-top: var(--calcite-stepper-item-spacing-unit-s);
  color: var(--calcite-ui-text-3);
  opacity: var(--calcite-ui-opacity-disabled);
  height: 12px;
  display: inline-flex;
  flex-shrink: 0;
  align-self: flex-start;
  transition: $transition;
}

:host([dir="rtl"]) .stepper-item-icon {
  margin-left: var(--calcite-stepper-item-spacing-unit-l);
  margin-right: 0;
}

// stepper item title
:host .stepper-item-header-text {
  margin-right: auto;
  flex-direction: column;
  text-align: initial;
}

:host([dir="rtl"]) .stepper-item-header-text {
  margin-left: auto;
  margin-right: 0;
}

:host .stepper-item-title,
:host .stepper-item-subtitle {
  display: flex;
  width: 100%;
}
:host .stepper-item-title {
  color: var(--calcite-ui-text-2);
  font-weight: 500;
}
:host .stepper-item-subtitle {
  color: var(--calcite-ui-text-3);
}

:host([dir="rtl"]) .stepper-item-title {
  margin-right: 0;
  margin-left: auto;
}

:host .stepper-item-number {
  font-weight: bold;
  color: var(--calcite-ui-text-3);
  margin-right: var(--calcite-stepper-item-spacing-unit-l);
  transition: $transition;
}

:host([dir="rtl"]) .stepper-item-number {
  margin-left: var(--calcite-stepper-item-spacing-unit-l);
  margin-right: initial;
}
:host([disabled]) {
  opacity: var(--calcite-ui-opacity-disabled);
}
:host([disabled]),
:host([disabled]) * {
  cursor: not-allowed;
  pointer-events: none;
}

:host([complete]) {
  // todo dark theme
  border-top-color: rgba($h-bb-060, 0.5);
  & .stepper-item-icon {
    color: var(--calcite-ui-brand);
  }
}

:host([error]) {
  border-top-color: var(--calcite-ui-danger);
  & .stepper-item-number {
    color: var(--calcite-ui-danger);
  }
  & .stepper-item-icon {
    color: var(--calcite-ui-danger);
    opacity: 1;
  }
}

:host(:hover:not([disabled]):not([active])),
:host(:focus:not([disabled]):not([active])) {
  border-top-color: rgba($h-bb-060, 0.75);

  & .stepper-item-title {
    color: var(--calcite-ui-text-1);
  }
  & .stepper-item-subtitle {
    color: var(--calcite-ui-text-2);
  }
}

:host([error]:hover:not([disabled]):not([active])),
:host([error]:focus:not([disabled]):not([active])) {
  border-top-color: rgba($h-rr-060, 0.75);
}

:host([active]) {
  border-top-color: var(--calcite-ui-brand);
  & .stepper-item-title {
    color: var(--calcite-ui-text-1);
  }
  & .stepper-item-subtitle {
    color: var(--calcite-ui-text-2);
  }
  & .stepper-item-number {
    color: var(--calcite-ui-brand);
  }

  & .stepper-item-icon {
    color: var(--calcite-ui-brand);
    opacity: 1;
  }
}

// vertical layout
:host([layout="vertical"]) {
  flex: 1 1 auto;
  border-top: 0;
  border-left: 3px solid var(--calcite-ui-border-3);
  padding: 0 0 0 var(--calcite-stepper-item-spacing-unit-l);
  margin: 0 0 var(--calcite-stepper-item-spacing-unit-m) 0;

  & .stepper-item-icon {
    margin: var(--calcite-stepper-item-spacing-unit-m) 0 0 auto;
    padding-left: var(--calcite-stepper-item-spacing-unit-l);
    order: 3;
  }
  & .stepper-item-header {
    padding-right: 0;
  }
  & .stepper-item-content {
    padding: 0;
  }
}

// only show the content for vertical items
:host([layout="vertical"][active]) {
  & .stepper-item-content {
    display: flex;
    & ::slotted(:last-child) {
      margin-bottom: var(--calcite-stepper-item-spacing-unit-l);
    }
  }
}
:host([layout="vertical"][dir="rtl"]) {
  border-left: 0;
  border-right: 3px solid var(--calcite-ui-border-3);
  padding: 0 var(--calcite-stepper-item-spacing-unit-l) 0 0;
  & .stepper-item-icon {
    margin: var(--calcite-stepper-item-spacing-unit-m) auto 0 0;
    padding-left: 0;
    padding-right: var(--calcite-stepper-item-spacing-unit-l);
  }
  & .stepper-item-header {
    padding-left: 0;
    padding-right: intial;
  }
}

:host([layout="vertical"][complete]) {
  border-color: rgba($h-bb-060, 0.5);
}
:host([layout="vertical"][error]) {
  border-color: var(--calcite-ui-danger);
}
:host([layout="vertical"][active]) {
  border-color: var(--calcite-ui-brand);
}
:host([layout="vertical"]:hover:not([disabled]):not([active])),
:host([layout="vertical"]:focus:not([disabled]):not([active])) {
  border-color: rgba($h-bb-060, 0.75);
}
:host([layout="vertical"][error]:hover:not([disabled]):not([active])),
:host([layout="vertical"][error]:focus:not([disabled]):not([active])) {
  border-color: rgba($h-rr-060, 0.75);
}
