:host([scale="s"]) {
  --calcite-stepper-item-spacing-unit-s: theme("spacing.1");
  --calcite-stepper-item-spacing-unit-m: theme("spacing.3");
  --calcite-stepper-item-spacing-unit-l: theme("spacing.4");
  @apply text--1-wrap;
  .stepper-item-subtitle {
    @apply text--2-wrap;
  }
}

:host([scale="m"]) {
  --calcite-stepper-item-spacing-unit-s: theme("spacing.2");
  --calcite-stepper-item-spacing-unit-m: theme("spacing.4");
  --calcite-stepper-item-spacing-unit-l: theme("spacing.5");
  @apply text-0-wrap;
  .stepper-item-subtitle {
    @apply text--1-wrap;
  }
}

:host([scale="l"]) {
  --calcite-stepper-item-spacing-unit-s: theme("spacing.3");
  --calcite-stepper-item-spacing-unit-m: theme("spacing.5");
  --calcite-stepper-item-spacing-unit-l: theme("spacing.6");
  @apply text-1-wrap;
  .stepper-item-subtitle {
    @apply text-0-wrap;
  }
}

:host {
  @apply flex
  flex-grow
  flex-col
  relative;
}

:host .container {
  @apply flex
    flex-grow
    flex-col
    text-color-3
    no-underline
    outline-none
    relative
    border-0
    border-t-2
    border-solid
    border-color-2
    cursor-pointer
    duration-150
    ease-in-out
    mr-1;
}

.calcite--rtl {
  margin-left: var(--calcite-stepper-item-spacing-unit-l);
  @apply mr-0;
}

// focus styles
:host {
  @apply focus-base;
}
:host(:focus) {
  @apply focus-outset;
}

// .stepper-item-header / content
:host .stepper-item-header {
  @apply flex items-start cursor-pointer;
}

:host .stepper-item-content,
:host .stepper-item-header {
  padding: var(--calcite-stepper-item-spacing-unit-l) var(--calcite-stepper-item-spacing-unit-m);
  @apply pl-0
    text-left
    duration-150
    ease-in-out;
}

.calcite--rtl .stepper-item-content,
.calcite--rtl .stepper-item-header {
  @apply pr-0
    text-right
    duration-150
    ease-in-out;
  padding-left: initial;
}

:host .stepper-item-header * {
  @apply inline-flex
    items-center
    duration-150
    ease-in-out;
}

:host .stepper-item-content {
  @apply flex-col
    w-full
    hidden
    text--2-wrap;
}

// stepper item icon
//todo rtl
:host .stepper-item-icon {
  margin-right: var(--calcite-stepper-item-spacing-unit-m);
  @apply text-color-3
    mt-px
    opacity-disabled
    inline-flex
    flex-shrink-0
    self-start
    h-3
    duration-150
    ease-in-out;
}

.calcite--rtl .stepper-item-icon {
  margin-left: var(--calcite-stepper-item-spacing-unit-l);
  @apply mr-0;
}

// stepper item title
:host .stepper-item-header-text {
  @apply mr-auto flex-col;
  text-align: initial;
}

.calcite--rtl .stepper-item-header-text {
  @apply ml-auto mr-0;
}

:host .stepper-item-title,
:host .stepper-item-subtitle {
  @apply flex w-full;
}
:host .stepper-item-title {
  @apply text-color-2 font-medium;
}
:host .stepper-item-subtitle {
  @apply text-color-3;
}

.calcite--rtl .stepper-item-title {
  @apply mr-0 ml-auto;
}

:host .stepper-item-number {
  @apply font-bold
  text-color-3
  duration-150
  ease-in-out;
  margin-right: var(--calcite-stepper-item-spacing-unit-l);
}

.calcite--rtl .stepper-item-number {
  margin-left: var(--calcite-stepper-item-spacing-unit-l);
  margin-right: initial;
}
:host([disabled]) {
  @apply opacity-disabled;
}
:host([disabled]),
:host([disabled]) * {
  @apply cursor-not-allowed pointer-events-auto;
}

:host([complete]) .container {
  // todo dark theme
  border-top-color: rgba($h-bb-060, 0.5);
  & .stepper-item-icon {
    color: theme("backgroundColor.brand");
  }
}

:host([error]) .container {
  @apply border-t-color-danger;
  & .stepper-item-number {
    color: theme("backgroundColor.danger");
  }
  & .stepper-item-icon {
    @apply opacity-100;
    color: theme("backgroundColor.danger");
  }
}

:host(:hover:not([disabled]):not([active])) .container,
:host(:focus:not([disabled]):not([active])) .container {
  border-top-color: rgba($h-bb-060, 0.75);

  & .stepper-item-title {
    @apply text-color-1;
  }
  & .stepper-item-subtitle {
    @apply text-color-2;
  }
}

:host([error]:hover:not([disabled]):not([active])) .container,
:host([error]:focus:not([disabled]):not([active])) .container {
  border-top-color: rgba($h-rr-060, 0.75);
}

:host([active]) .container {
  border-top-color: theme("backgroundColor.brand");
  & .stepper-item-title {
    @apply text-color-1;
  }
  & .stepper-item-subtitle {
    @apply text-color-2;
  }
  & .stepper-item-number {
    color: theme("backgroundColor.brand");
  }

  & .stepper-item-icon {
    color: theme("backgroundColor.brand");
    @apply opacity-100;
  }
}

// vertical layout
:host([layout="vertical"]) .container {
  @apply flex-auto
    border-t-0
    border-l-2
    border-solid
    border-color-3
    py-0
    pr-0
    mx-0
    mt-0;
  padding-left: var(--calcite-stepper-item-spacing-unit-l);
  margin-bottom: var(--calcite-stepper-item-spacing-unit-m);

  & .stepper-item-icon {
    @apply mt-px mr-0 mb-0 ml-auto order-3;
    padding-left: var(--calcite-stepper-item-spacing-unit-s);
  }
  & .stepper-item-header {
    @apply pr-0;
  }
  & .stepper-item-content {
    @apply p-0;
  }
}

// only show the content for vertical items
:host([layout="vertical"][active]) .container {
  & .stepper-item-content {
    @apply flex;
    & ::slotted(:last-child) {
      margin-bottom: var(--calcite-stepper-item-spacing-unit-l);
    }
  }
}
:host([layout="vertical"]) .calcite--rtl {
  @apply border-l-0
    border-r-2
    border-color-3
    py-0
    pl-0;
  padding-right: var(--calcite-stepper-item-spacing-unit-l);
  & .stepper-item-icon {
    @apply mr-auto
      mb-0
      mr-0
      pl-0;
    margin-top: var(--calcite-stepper-item-spacing-unit-m);
    padding-right: var(--calcite-stepper-item-spacing-unit-l);
  }
  & .stepper-item-header {
    @apply pl-0;
    padding-right: intial;
  }
}

:host([layout="vertical"][complete]) .container {
  border-color: rgba($h-bb-060, 0.5);
}
:host([layout="vertical"][error]) .container {
  @apply border-color-danger;
}
:host([layout="vertical"][active]) .container {
  @apply border-color-brand;
}
:host([layout="vertical"]:hover:not([disabled]):not([active])) .container,
:host([layout="vertical"]:focus:not([disabled]):not([active])) .container {
  border-color: rgba($h-bb-060, 0.75);
}
:host([layout="vertical"][error]:hover:not([disabled]):not([active])) .container,
:host([layout="vertical"][error]:focus:not([disabled]):not([active])) .container {
  border-color: rgba($h-rr-060, 0.75);
}
