:host {
  @include base-host();
  position: relative;
  display: flex;
  inline-size: var(--calcite-container-size-content-fluid);
  flex: 1 1 auto;
  align-items: stretch;
  overflow: hidden;

  .frame {
    position: relative;
    display: flex;
    margin: 0;
    inline-size: var(--calcite-container-size-content-fluid);
    flex: 1 1 auto;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
  }

  ::slotted(calcite-flow-item),
  ::slotted(calcite-panel) {
    block-size: var(--calcite-container-size-content-fluid);
  }

  ::slotted(.calcite-match-height:last-child) {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
  }

  .frame--advancing {
    animation: calcite-frame-advance var(--calcite-animation-timing);
  }

  .frame--retreating {
    animation: calcite-frame-retreat var(--calcite-animation-timing);
  }

  @keyframes calcite-frame-advance {
    0% {
      opacity: var(--calcite-opacity-50);
      transform: translate3d(50px, 0, 0);
    }
    100% {
      opacity: var(--calcite-opacity-100);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes calcite-frame-retreat {
    0% {
      opacity: var(--calcite-opacity-50);
      transform: translate3d(-50px, 0, 0);
    }
    100% {
      opacity: var(--calcite-opacity-100);
      transform: translate3d(0, 0, 0);
    }
  }
}

@include base-component();
