:host {
  flex: 0 1 auto;
  outline: none;
}

:host(:active),
:host(:focus),
:host(:hover) {
  a {
    outline: none;
    text-decoration: none;
    color: var(--calcite-tabs-color-active);
    border-bottom-color: var(--calcite-tabs-border-hover);
  }
}

:host([is-active]) a {
  color: var(--calcite-tabs-color-active);
  border-bottom-color: var(--calcite-tabs-border-active);
}

a {
  //  @include box-sizing(border-box);
  box-sizing: border-box;
  @include font-size(-2);
  padding: $baseline/3 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  // @include transition(all 0.15s ease-in-out);
  color: var(--calcite-tabs-color);
  outline: none;
}
