$tab-margin: 1.25rem;

:host {
  flex: 0 1 auto;
  outline: none;
  margin-right: $tab-margin;
  margin-inline-start: 0;
  margin-inline-end: $tab-margin;
}

:host([layout="center"]) {
  flex-basis: 200px;
  text-align: center;
  margin: 0 $tab-margin;
}

:host([position="below"]) a {
  border-bottom: 0;
  border-top: 3px solid transparent;
}

:host a {
  @include focus-style-base();
}

:host(:focus) a {
  @include focus-style-outset();
}

:host(:active),
:host(:focus),
:host(:hover) {
  a {
    text-decoration: none;
    color: var(--calcite-ui-text-1);
    border-color: var(--calcite-ui-border-2);
  }
}

:host([active]) a {
  color: var(--calcite-ui-text-1);
  border-color: transparent;
}

:host([disabled]) {
  pointer-events: none;
  span,
  a {
    pointer-events: none;
    opacity: var(--calcite-ui-opacity-disabled);
  }
}

a,
span {
  box-sizing: border-box;
  @include font-size(-2);
  padding: $baseline/2 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 3px solid transparent;
  -webkit-appearance: none;
  cursor: pointer;
  transition: $transition;
  color: var(--calcite-ui-text-3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

span {
  cursor: default;
}

.calcite-tab-title--icon {
  display: inline-flex;
  position: relative;
  margin: 0;
  line-height: inherit;
  align-self: center;
  & svg {
    transition: $transition;
  }
}

:host([hastext]) .calcite-tab-title--icon.icon-start {
  margin-right: $baseline/3;
}

:host([hastext]) .calcite-tab-title--icon.icon-end {
  margin-left: $baseline/3;
}

// compensate for spacing when no hastext and two icons
:host([icon-start][icon-end]) {
  .calcite-tab-title--icon:first-child {
    margin-right: $baseline/3;
  }
}

// right to left
:host .rtl {
  margin-right: 0;
  margin-left: $tab-margin;
}

:host([hastext]) .rtl .calcite-tab-title--icon.icon-end {
  margin-left: 0;
  margin-right: $baseline/3;
}

:host([hastext]) .rtl .calcite-tab-title--icon.icon-start {
  margin-right: 0;
  margin-left: $baseline/3;
}

:host([icon-start][icon-end]) .rtl {
  .calcite-tab-title--icon:first-child {
    margin-right: 0;
    margin-left: $baseline/3;
  }
}
