$tab-margin: 1.25rem;

:host {
  flex: 0 1 auto;
  outline: none;
  margin-right: $tab-margin;
  margin-inline-start: 0;
  margin-inline-end: $tab-margin;
}

// only ie11 and chrome will run this, others have logical properties
:host-context([dir="rtl"]) {
  margin-right: 0;
  margin-left: $tab-margin;
}

:host-context([theme="dark"]) {
  @include calcite-theme-dark();
}

:host([layout="center"]) {
  flex-basis: 200px;
  text-align: center;
  margin: 0 $tab-margin;
}

// focus styles
:host {
  @include focus-style-base();
}
:host(:focus) {
  @include focus-style-inset();
}
:host(:active),
:host(:focus),
:host(:hover) {
  a {
    outline: none;
    text-decoration: none;
    color: var(--calcite-ui-text-1);
    border-bottom-color: var(--calcite-ui-border-2);
  }
}

:host([is-active]) a {
  color: var(--calcite-ui-text-1);
  border-bottom-color: var(--calcite-ui-blue-1);
  font-weight: 500;
}

a {
  box-sizing: border-box;
  @include font-size(-2);
  padding: $baseline/2 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  color: var(--calcite-ui-text-3);
  outline: none;
  width: 100%;
  display: block;
}
