/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-switch-background-color: Specifies the component's background color.
 * @prop --calcite-switch-background-color-hover: Specifies the component's background color when hovered or pressed.
 * @prop --calcite-switch-border-color: [Deprecated] No longer necessary. Specifies the component's border color.
 * @prop --calcite-switch-corner-radius: Specifies the component's corner radius.
 * @prop --calcite-switch-handle-background-color: Specifies the handle's background color.
 * @prop --calcite-switch-handle-border-color: [Deprecated] No longer necessary. Specifies the handle's border color.
 * @prop --calcite-switch-handle-shadow: [Deprecated] No longer necessary. Specifies the handle's shadow.
 */

// sizes
:host([scale="s"]) {
  .container {
    @apply h-3;
  }
  .track {
    @apply h-3 w-6;
  }
  .handle {
    @apply h-2 w-2;
  }
}

:host([scale="m"]) {
  .container {
    @apply h-4;
  }
  .track {
    @apply h-4 w-8;
  }
  .handle {
    @apply h-3 w-3;
  }
}

:host([scale="l"]) {
  .container {
    @apply h-6;
  }
  .track {
    @apply h-6 w-12;
  }
  .handle {
    @apply h-5 w-5;
  }
}

:host {
  @apply relative
    inline-block
    w-auto
    cursor-pointer
    select-none
    align-middle;
  tap-highlight-color: transparent;
}

@include disabled();

.container {
  @apply outline-0;
  display: flex;
}

.track {
  @apply pointer-events-none
    relative
    box-border
    inline-block
    align-top
    focus-base;

  border-radius: var(--calcite-switch-corner-radius, 9999px);
  border-color: var(--calcite-switch-border-color);
  background-color: var(--calcite-switch-background-color, var(--calcite-color-border-input));
}

.container:focus .track {
  @apply focus-outset;
}

.container:hover .track {
  background-color: var(--calcite-switch-background-color-hover, var(--calcite-color-text-3));
}

.handle {
  @apply pointer-events-none
    absolute
    block
    transition-all
    ease-in-out;
  inset-block-start: var(--calcite-spacing-base);
  inset-inline: var(--calcite-spacing-base) auto;
  background-color: var(--calcite-switch-handle-background-color, var(--calcite-color-foreground-1));
  border-color: var(--calcite-switch-handle-border-color);
  border-radius: var(--calcite-switch-corner-radius, 9999px);
  box-shadow: var(--calcite-switch-handle-shadow);
}

:host([checked]) {
  .track {
    background-color: var(--calcite-switch-background-color, var(--calcite-color-brand));
  }
  .handle {
    inset-inline: auto var(--calcite-spacing-base);
  }

  &:host(:hover:not([disabled])) {
    .track {
      background-color: var(--calcite-switch-background-color-hover, var(--calcite-color-brand-hover));
    }
  }
}

@media (forced-colors: active) {
  :host([checked]) {
    .track {
      background-color: canvasText;
    }
  }
}

@include form-internal-label();
@include hidden-form-input();
@include base-component();
