:host {
  @extend %component-host;
  @extend %component-spacing;
  @apply rounded-sm animate-in;
}

:host([expanded]) {
  max-width: 20vw;
}

::slotted(calcite-action-group) {
  @apply
  border-0
  border-solid
  border-b
  border-color3
  pb-0 pt-0;
}

.container {
  @apply
  inline-flex
  flex-col
  shadow-2
  overflow-y-auto
  rounded;

  max-width: 15vw;
}

.action-group--bottom {
  @apply pb-0 flex-grow justify-end;
}

:host([layout="horizontal"]) {
  .container {
    @apply flex-row;
    max-width: unset;
    .action-group--bottom {
      @apply p-0;
    }
    ::slotted(calcite-action-group) {
      @apply
      border-0
      border-r
      flex-row
      p-0;
    }
  }
  .container.calcite--rtl ::slotted(calcite-action-group) {
    @apply border-0 border-l;
  }
}

::slotted(calcite-action-group:last-child) {
  @apply border-b-0
}
