:host {
  @extend %component-host;
  @apply animate-in rounded-sm;
}

:host([expanded]) {
  max-width: 20vw;
}

::slotted(calcite-action-group) {
  @apply border-0
  border-b
  border-color-3
  border-solid
  pb-0 pt-0;
}

.container {
  @apply flex-col
  inline-flex
  overflow-y-auto
  rounded
  bg-background
  shadow-2;
  max-width: 15vw;
}

.action-group--bottom {
  @apply flex-grow justify-end pb-0;
}

:host([layout="horizontal"]) {
  .container {
    @apply flex-row;
    max-width: unset;
    .action-group--bottom {
      @apply p-0;
    }
    ::slotted(calcite-action-group) {
      @apply border-0
      border-r
      p-0;
    }
  }
  .container.calcite--rtl ::slotted(calcite-action-group) {
    @apply border-0 border-l;
  }
}

::slotted(calcite-action-group:last-child) {
  @apply border-b-0;
}
