:host {
  display: flex;
  flex-direction: column;
  background-color: var(--calcite-accordion-item-background);
  color: var(--calcite-ui-text-3);
  transition: $transition;
  text-decoration: none;
  outline: none;
  position: relative;
}

:host([active]) {
  color: var(--calcite-ui-text-1);
  & .accordion-item-content {
    display: block;
    color: var(--calcite-ui-text-1);
  }
  & .accordion-item-header {
    border-bottom-color: transparent;
  }
}

// .accordion-item-header / content
:host .accordion-item-header {
  display: flex;
  flex-direction: var(--calcite-accordion-item-flex-direction);
  align-items: center;
  cursor: pointer;
}

:host .accordion-item-content,
:host .accordion-item-header {
  padding: var(--calcite-accordion-item-padding);
  border-bottom: 1px solid var(--calcite-accordion-item-border);
}

:host .accordion-item-header * {
  display: inline-flex;
  align-items: center;
  transition: $transition;
}

:host .accordion-item-content {
  display: none;
  color: var(--calcite-ui-text-3);
  padding-top: 0;
}

// accordion item icon
:host .accordion-item-icon {
  margin-left: var(--calcite-accordion-item-icon-spacing-start);
  margin-right: var(--calcite-accordion-item-icon-spacing-end);
  color: var(--calcite-ui-text-3);
  transform: rotate(var(--calcite-accordion-item-icon-rotation));
}

:host([dir="rtl"]) .accordion-item-icon {
  margin-left: var(--calcite-accordion-item-icon-spacing-end);
  margin-right: var(--calcite-accordion-item-icon-spacing-start);
  transform: rotate(var(--calcite-accordion-item-icon-rotation-rtl));
}

:host([active]) .accordion-item-icon {
  color: var(--calcite-ui-text-1);
  transform: rotate(var(--calcite-accordion-item-active-icon-rotation));
}
:host([active][dir="rtl"]) .accordion-item-icon {
  transform: rotate(var(--calcite-accordion-item-active-icon-rotation-rtl));
}

// accordion item title
:host .accordion-item-header-text {
  margin-right: auto;
  flex-direction: column;
  text-align: initial;
}

:host([dir="rtl"]) .accordion-item-header-text {
  margin-left: auto;
  margin-right: 0;
}

:host .accordion-item-title,
:host .accordion-item-subtitle {
  display: flex;
  width: 100%;
}
:host .accordion-item-title {
  color: var(--calcite-ui-text-2);
}
:host .accordion-item-subtitle {
  color: var(--calcite-ui-text-3);
}
:host([dir="rtl"]) .accordion-item-title {
  margin-right: 0;
  margin-left: auto;
}
:host(:focus),
:host(:hover) {
  .accordion-item-title {
    color: var(--calcite-ui-text-1);
  }
  .accordion-item-subtitle {
    color: var(--calcite-ui-text-2);
  }
}
:host(:focus),
:host(:active),
:host([active]) {
  & .accordion-item-title {
    color: var(--calcite-ui-text-1);
    font-weight: 500;
  }
  .accordion-item-subtitle {
    color: var(--calcite-ui-text-2);
  }
}
