/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-action-group-action-background-color: defines the background color of an action sub-component inside the component.
 * @prop --calcite-action-group-action-indicator-color: defines the indicator color of an action sub-component inside the component.
 * @prop --calcite-action-group-action-background-color-hover: defines the background color of an action sub-component when hovered or focused inside the component.
 * @prop --calcite-action-group-action-indicator-color-hover: defines the indicator color of an action sub-component when hovered or focused inside the component.
 * @prop --calcite-action-group-action-text-color-hover: defines the text color of an action sub-component when hovered or focused inside the component.
 * @prop --calcite-action-group-action-background-color-active: defines the background color of an action sub-component when active inside the component.
 * @prop --calcite-action-group-action-indicator-color-active: defines the indicator color of an action sub-component when active inside the component.
 * @prop --calcite-action-group-action-text-color-active: defines the text color of an action sub-component when active inside the component.
 * @prop --calcite-action-group-action-menu-border-color: The border color of the sub-component.
 * @prop --calcite-action-group-action-menu-text-color: The text color of the sub-component.
 * @prop --calcite-action-group-action-text-color: defines the text color of an action sub-component inside the component.
 * @prop --calcite-action-group-background-color: defines the background color of the component.
 * @prop --calcite-action-group-columns: [Deprecated]  Sets number of grid-template-columns when the `layout` property is `"grid"`.
 * @prop --calcite-action-group-gap: [Deprecated]  Sets the gap (gutters) between rows and columns when the `layout` property is `"grid"`.
 * @prop --calcite-action-group-padding: [Deprecated]  Sets the padding when the `layout` property is `"grid"`.
 * @prop --calcite-internal-action-group-columns: Sets number of grid-template-columns when the `layout` property is `"grid"`.
 * @prop --calcite-internal-action-group-gap, var(te-internal-action-group-gap: Sets the gap (gutters) between rows and columns when the `layout` property is `"grid"`).
 *
 */

:host {
  @extend %component-host;

  @apply flex
  flex-col
  p-0;

  --calcite-internal-action-group-columns: 3;
  --calcite-internal-action-group-gap: theme("gap.px");
}

.container {
  @apply flex flex-col flex-grow;
}

:host([columns="1"]) {
  --calcite-internal-action-group-columns: 1;
}
:host([columns="2"]) {
  --calcite-internal-action-group-columns: 2;
}
:host([columns="3"]) {
  --calcite-internal-action-group-columns: 3;
}
:host([columns="4"]) {
  --calcite-internal-action-group-columns: 4;
}
:host([columns="5"]) {
  --calcite-internal-action-group-columns: 5;
}
:host([columns="6"]) {
  --calcite-internal-action-group-columns: 6;
}

:host(:first-child) {
  @apply pt-0;
}

:host([layout="horizontal"]),
:host([layout="horizontal"]) .container {
  @apply flex-row;
}

:host([layout="grid"]) {
  @apply grid;
}

:host([layout="grid"]) .container {
  @apply grid
  place-content-stretch;
  gap: var(--calcite-action-group-gap, var(--calcite-internal-action-group-gap));
  padding: var(--calcite-action-group-gap, var(--calcite-internal-action-group-gap));
  grid-template-columns: repeat(
    var(--calcite-action-group-columns, var(--calcite-internal-action-group-columns)),
    auto
  );
  background-color: var(--calcite-action-group-background-color, var(--calcite-color-background));
}

calcite-action-menu {
  --calcite-action-menu-border-color: var(--calcite-action-group-action-menu-border-color);
  --calcite-action-menu-text-color: var(--calcite-action-group-action-menu-text-color);
}

calcite-action {
  --calcite-action-indicator-color: var(--calcite-action-group-action-indicator-color);
  --calcite-action-background-color: var(--calcite-action-group-action-background-color);
  --calcite-action-text-color: var(--calcite-action-group-action-text-color);

  &:hover,
  &:focus {
    --calcite-action-indicator-color: var(--calcite-action-group-action-indicator-color-hover);
    --calcite-action-background-color: var(--calcite-action-group-action-background-color-hover);
    --calcite-action-text-color: var(--calcite-action-group-action-text-color-hover);
  }

  &:active {
    --calcite-action-indicator-color: var(--calcite-action-group-action-indicator-color-active);
    --calcite-action-background-color: var(--calcite-action-group-action-background-color-active);
    --calcite-action-text-color: var(--calcite-action-group-action-text-color-active);
  }
}

@include base-component();
