/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-graph-background-color: Specifies the background color of the component.
 * @prop --calcite-graph-accent-color: Specifies the accent color of the component.
 */

:host {
  --calcite-graph-background-color: currentColor;
  --calcite-graph-accent-color: var(--calcite-color-brand);

  @apply block;
  block-size: 100%;
}

.svg {
  fill: var(--calcite-graph-background-color);
  @apply m-0 block h-full w-full p-0;

  .graph-path--highlight {
    fill: var(--calcite-graph-accent-color);
    @apply opacity-50;
  }
}

@include base-component();
