$spacing: $baseline * 0.5;

:host {
  @apply block;

  .container {
    background-color: var(--calcite-ui-foreground-1);
    box-shadow: 0 0 0 1px var(--calcite-ui-border-2);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    max-width: 300px;
    padding: $spacing;
    position: relative;
    transition: $transition;
    vertical-align: top;
    @apply z-10;

    &.heading-only {
      align-items: center;
    }
  }
}

:host(:hover) {
  .container {
    @apply z-20;
    box-shadow: 0 0 0 1px var(--calcite-ui-border-1);

    &:not(.input-enabled) {
      box-shadow: 0 0 0 1px var(--calcite-ui-brand);
    }
  }
}

:host([checked]) {
  .container {
    @apply z-30;
    box-shadow: 0 0 0 1px var(--calcite-ui-brand);
  }
}

:host(:not([disabled])) {
  .container.focused {
    @apply z-30;
    &:not(.input-enabled) {
      box-shadow: 0 0 0 1px var(--calcite-ui-brand), inset 0 0 0 2px var(--calcite-ui-foreground-1),
        inset 0 0 0 5px var(--calcite-ui-brand);
    }
  }
}

:host([width="full"]) {
  .container {
    @apply max-w-none flex;
  }
  calcite-tile {
    @apply flex-auto;
  }
}

:host([input-alignment="start"][width="full"]) {
  calcite-tile {
    @apply order-1;
    margin-inline-start: theme("spacing.3");
  }
}

:host(:not([input-enabled])) {
  ::slotted(calcite-checkbox),
  ::slotted(calcite-radio-button) {
    @apply sr-only;
  }
}

:host([width="auto"][input-enabled][input-alignment="start"][icon][heading][description]),
:host([width="auto"][input-enabled][input-alignment="start"]:not([icon])[heading]:not([description])) {
  .container {
    display: inline-grid;
    grid-gap: $spacing;
    grid-template-columns: max-content 1fr;
  }
  ::slotted(calcite-checkbox),
  ::slotted(calcite-radio-button) {
    order: 0;
  }
  calcite-tile {
    order: 1;
  }
}

:host([input-enabled][input-alignment="start"][icon][heading]:not([description])) {
  ::slotted(calcite-checkbox),
  ::slotted(calcite-radio-button) {
    position: absolute;
    top: $spacing;
    left: $spacing;
  }
}

:host([input-enabled][input-alignment="start"][icon][heading]:not([description])) .calcite--rtl {
  ::slotted(calcite-checkbox),
  ::slotted(calcite-radio-button) {
    right: $spacing;
    left: unset;
  }
}

:host([input-enabled][input-alignment="end"][icon][heading]) {
  ::slotted(calcite-checkbox),
  ::slotted(calcite-radio-button) {
    position: absolute;
    top: $spacing;
    right: $spacing;
  }
}

:host([input-enabled][input-alignment="end"][icon][heading]) .calcite--rtl {
  ::slotted(calcite-checkbox),
  ::slotted(calcite-radio-button) {
    right: unset;
    left: $spacing;
  }
}

:host([input-enabled][input-alignment="end"][heading]:not([icon]):not([description])) {
  .container {
    display: inline-grid;
    grid-gap: $spacing;
    grid-template-columns: max-content 1fr;
  }
  ::slotted(calcite-checkbox),
  ::slotted(calcite-radio-button) {
    justify-self: flex-end;
  }
}

:host([disabled]) {
  @apply opacity-disabled;
  pointer-events: none;
}
