$spacing: $baseline/2;

.root {
  background-color: var(--calcite-ui-foreground-1);
  box-shadow: 0 0 0 1px var(--calcite-ui-border-2);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  max-width: 300px;
  padding: $spacing;
  position: relative;
  transition: $transition;
  vertical-align: top;
  @apply z-10;
}

:host(:hover) {
  .root {
    @apply z-20;
    box-shadow: 0 0 0 1px var(--calcite-ui-border-1);
  }
}

:host([checked]) {
  .root {
    @apply z-30;
    box-shadow: 0 0 0 1px var(--calcite-ui-brand);
  }
}

.root.focused {
  @apply z-30;
}

:host(:not([input-enabled]):hover) {
  .root {
    box-shadow: 0 0 0 1px var(--calcite-ui-brand);
  }
}

:host(:not([input-enabled])) {
  .root.focused {
    box-shadow: 0 0 0 1px var(--calcite-ui-brand), inset 0 0 0 2px var(--calcite-ui-foreground-1),
      inset 0 0 0 5px var(--calcite-ui-brand);
  }
}

:host([width="full"]) {
  .root {
    max-width: none;
    display: block;
  }
}

:host(:not([input-enabled])) {
  ::slotted(calcite-checkbox),
  ::slotted(calcite-radio-button) {
    @apply sr-only;
  }
}

:host([heading]:not([icon]):not([description])) {
  .root {
    align-items: center;
  }
}

:host([input-enabled][input-alignment="start"][icon][heading][description]),
:host([input-enabled][input-alignment="start"]:not([icon])[heading]:not([description])) {
  .root {
    display: inline-grid;
    grid-gap: $spacing;
    grid-template-columns: max-content 1fr;
  }
  ::slotted(calcite-checkbox),
  ::slotted(calcite-radio-button) {
    order: 0;
  }
  calcite-tile {
    order: 1;
  }
}

:host([input-enabled][input-alignment="start"][icon][heading]:not([description])) {
  ::slotted(calcite-checkbox),
  ::slotted(calcite-radio-button) {
    position: absolute;
    top: $spacing;
    left: $spacing;
  }
}

:host([dir="rtl"][input-enabled][input-alignment="start"][icon][heading]:not([description])) {
  ::slotted(calcite-checkbox),
  ::slotted(calcite-radio-button) {
    right: $spacing;
    left: unset;
  }
}

:host([input-enabled][input-alignment="end"][icon][heading]) {
  ::slotted(calcite-checkbox),
  ::slotted(calcite-radio-button) {
    position: absolute;
    top: $spacing;
    right: $spacing;
  }
}

:host([dir="rtl"][input-enabled][input-alignment="end"][icon][heading]) {
  ::slotted(calcite-checkbox),
  ::slotted(calcite-radio-button) {
    right: unset;
    left: $spacing;
  }
}

:host([input-enabled][input-alignment="end"][heading]:not([icon]):not([description])) {
  .root {
    display: inline-grid;
    grid-gap: $spacing;
    grid-template-columns: max-content 1fr;
  }
  ::slotted(calcite-checkbox),
  ::slotted(calcite-radio-button) {
    justify-self: flex-end;
  }
}

:host([hidden]) {
  display: none;
}

:host([disabled]) {
  @apply opacity-disabled;
  pointer-events: none;
}
