:host {
  @extend %component-host;
  @extend %component-spacing;
  background-color: transparent;
  display: block;
  margin-bottom: var(--calcite-spacing-quarter);
}

:host(:last-child) {
  margin-bottom: 0;
}

@import "../../assets/styles/header";

h3.heading {
  @include font-size(-2);
  color: var(--calcite-ui-text-3);
  margin: var(--calcite-spacing-half) var(--calcite-spacing);
}

.container--indented {
  margin-left: var(--calcite-spacing-plus-half);
}

.calcite--rtl.container--indented {
  margin-left: 0;
  margin-right: var(--calcite-spacing-plus-half);
}
