:host {
  * {
    @apply box-border;
  }
  @apply box-border 
  bg-foreground-1 
  text-color-2 
  text--1-wrap;
  background-color: transparent;
  display: block;
  margin-bottom: var(--calcite-spacing-quarter);
}

:host(:last-child) {
  @apply mb-0;
}

@import "../../assets/styles/header";

h3.heading {
  @apply text--1-wrap text-color-3;
  margin: theme("spacing.2") theme("spacing.4");
}

.container--indented {
  margin-left: theme("spacing.6");
}

.calcite--rtl.container--indented {
  @apply ml-0;
  margin-right: theme("spacing.6");
}
