/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-filter-input-prefix-background-color: defines the background color of the prefix in the input sub-component.
 * @prop --calcite-filter-input-prefix-text-color: defines the text color of the prefix in the input sub-component.
 * @prop --calcite-filter-input-suffix-background-color: defines the background color of the suffix in the input sub-component.
 * @prop --calcite-filter-input-suffix-text-color: defines the text color of the suffix in the input sub-component.
 * @prop --calcite-hex-input-background-color: defines the background color of the input sub-component.
 * @prop --calcite-hex-input-border-color: defines the border color of the input sub-component.
 * @prop --calcite-hex-input-button-background-color: defines the background color of the button in the input sub-component.
 * @prop --calcite-hex-input-button-background-color-hover: defines the background color of the button when hovered in the input sub-component.
 * @prop --calcite-hex-input-button-border-color: defines the border color of the button in the input sub-component.
 * @prop --calcite-hex-input-button-icon-color: defines the icon color of the button in the input sub-component.
 * @prop --calcite-hex-input-button-icon-color-active: defines the icon color of the button when active in the input sub-component.
 * @prop --calcite-hex-input-button-icon-color-hover: defines the icon color of the button when hovered in the input sub-component.
 * @prop --calcite-hex-input-corner-radius: defines the corner radius of the input sub-component.
 * @prop --calcite-hex-input-icon-color: defines the icon color of the input sub-component.
 * @prop --calcite-hex-input-text-color: defines the text color of the input sub-component.
 *
*/

:host {
  @apply block;
}

.container {
  @apply flex w-full items-center flex-nowrap;
}

.hex-input {
  @apply grow uppercase;
}

.opacity-input {
  inline-size: 68px;
  margin-inline-start: -1px;
}

:host([scale="s"]) {
  .container {
    @apply flex-wrap gap-y-0.5;
  }

  .opacity-input {
    inline-size: unset;
    margin-inline-start: unset;
  }
}

:host([scale="l"]) {
  .opacity-input {
    inline-size: 88px;
  }
}

calcite-input {
  --calcite-input-suffix-background-color: var(--calcite-hex-input-suffix-background-color);
  --calcite-input-suffix-text-color: var(--calcite-hex-input-suffix-text-color);
  --calcite-input-prefix-background-color: var(--calcite-hex-input-prefix-background-color);
  --calcite-input-prefix-text-color: var(--calcite-hex-input-prefix-text-color);
  --calcite-input-text-color: var(--calcite-hex-input-text-color);
  --calcite-input-background-color: var(--calcite-hex-input-background-color);
  --calcite-input-border-color: var(--calcite-hex-input-border-color);
  --calcite-input-corner-radius: var(--calcite-hex-input-corner-radius);
  --calcite-input-button-border-color: var(--calcite-hex-input-button-border-color);
  --calcite-input-button-background-color: var(--calcite-hex-input-button-background-color);
  --calcite-input-button-background-color-hover: var(--calcite-hex-input-button-background-color-hover);
  --calcite-input-button-icon-color: var(--calcite-hex-input-button-icon-color);
  --calcite-input-button-icon-color-hover: var(--calcite-hex-input-button-icon-color-hover);
  --calcite-input-button-icon-color-active: var(--calcite-hex-input-button-icon-color-active);
}

@include base-component();
